<!-- Start : Header -->
<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- 기존 CSS -->
  <link type="text/css" media="screen" rel="stylesheet" href="/css/menu.css?ver=20200625" />
  <link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
  <link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
  <link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css?ver=20200630" />
  <link type="text/css" media="screen" rel="stylesheet" href="/css/content.css?ver=20200630" />
  <link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
  <link rel="stylesheet" href="/css/jprwms.css?ver=20200701" type="text/css" />

  <!-- Add CSS -->
  <link rel="stylesheet" type="text/css" href="/css/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/assets/css/style-custom.css">
</head>
<!-- End : Header -->

<!-- Start : Body -->
<body onload="showClock()">
<div class="wrapper pt-0">
  <!-- **********  main-panel  ********** -->
  <div class="w-100">
    <div class="panel-hedding dashboard-headding">
      <figure class="mb-0">
        <img src="/css/assets/images/logo/logo-oy.svg" alt="올리브영 로고" width="300">
      </figure>

      <div class="dashboard-clock">
        <img src="/css/assets/images/svg/clock.svg">
        <p id="divClock" class="h4"></p>
      </div>
    </div>

    <div class="dashboard-body">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="card dashboard__card dashboard-card__orange dashboard__card--type02">
                <div class="card-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type01">
                    <img src="/css/assets/images/svg/cart-check.svg">
                  </figure>
                  <h4 class="card-title-text dashboard-card-title">전체 주문 수량</h4>
                </div>
                <div class="card-body">
               	 	<p class="card-number text-right h1 text-white" id="totalOrder">&nbsp;</p>
              	</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card dashboard__card">
                <div class="card-title-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type02">
                    <img src="/css/assets/images/svg/assignment-scedule.svg">
                  </figure>
                </div>
                <div class="card-body">
                  <h4 class="dashboard-card__title dashboard-card__text--type02">할당예정(대기)</h4>
<!--                   <p class="card-number dashboard-card__text--type02-01">240</p> -->
						<p class="card-number dashboard-card__text--type02-01" id="assignmentWait">&nbsp;</p>
                </div>
<!--                 <div class="card-body"> -->
<!-- 	               <p class="card-number dashboard-card__text--type02-01" id="assignmentWait">&nbsp;</p> -->
<!-- 	            </div> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="card dashboard__card">
                <div class="card-title-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type02">
                    <img src="/css/assets/images/svg/assignment.svg">
                  </figure>
                </div>
                <div class="card-body">
                  <h4 class="dashboard-card__title dashboard-card__text--type02">할당</h4>
                  <p class="card-number dashboard-card__text--type02-01" id="assignment">&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card dashboard__card">
                <div class="card-title-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type02">
                    <img src="/css/assets/images/svg/packing-publish.svg">
                  </figure>
                </div>
                <div class="card-body">
                  <h4 class="dashboard-card__title dashboard-card__text--type02">패키징 발행</h4>
                  <p class="card-number dashboard-card__text--type02-01" id="pickingList">&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card dashboard__card">
                <div class="card-title-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type03">
                    <img src="/css/assets/images/svg/packing-check.svg">
                  </figure>
                </div>
                <div class="card-body">
                  <h4 class="dashboard-card__title dashboard-card__text--type03">포장완료</h4>
                  <p class="card-number dashboard-card__text--type03-01" id="packingComplete">&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card dashboard__card">
                <div class="card-title-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type03">
                    <img src="/css/assets/images/svg/ems.svg">
                  </figure>
                </div>
                <div class="card-body">
                  <h4 class="dashboard-card__title dashboard-card__text--type03">검수완료(EMS)</h4>
                  <p class="card-number dashboard-card__text--type03-01" id="checkCompleteEMS">&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card dashboard__card">
                <div class="card-title-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type03">
                    <img src="/css/assets/images/svg/dhl.svg">
                  </figure>
                </div>
                <div class="card-body">
                  <h4 class="dashboard-card__title dashboard-card__text--type03">검수완료(DHL)</h4>
                  <p class="card-number dashboard-card__text--type03-01" id="checkCompleteDHL">&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card dashboard__card dashboard-card__green dashboard__card--type02">
                <div class="card-left">
                  <figure class="dashboard-card__icon dashboard-card__icon--type04">
                    <img src="/css/assets/images/svg/checkout.svg">
                  </figure>
                  <h4 class="card-title-text dashboard-card-title">전체 진척률</h4>
                </div>
                <div class="card-right">
                  <p class="card-number text-right h1 text-white" id="progress">&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-title">
              <div class="card-title-left">
                <h4 class="card-title-text dashboard-card-title dashboard-card-title--green">생산성</h4>
              </div>
              	<img src="http://winus.logisall.com/img/gearBtn.png" style="width:34px; height:34px; cursor:pointer; " onclick="fn_setupDiv()">
            </div>
            <div class="card-body card-body-md__tv">
              <div id="oliveyoung-gauge" style="height: 100%; top: -34px">
              </div>
              <div id="gaugeDesc" style="font-size:18px;text-align:right; margin: -3% 0% 0% 0%;"></div>
          	  </div>
            </div>
<!--           </div> -->

	          <div class="card">
	            <div class="card-title">
	              <div class="card-title-left">
	                <h4 class="card-title-text dashboard-card-title dashboard-card-title--green">요약</h4>
	              </div>
	            </div>
	            
	            <div class="card-body card-body-md__tv">
	              <div class="chartjs">
	                <canvas id="bar-chart-oy" class="dashboard__bar-chart"></canvas>
	              </div>
	            </div>
          	</div>
          	
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
.modal_wrap{
    display: none;
    width: 400px;
    height: 160px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    z-index: 2;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}
</style>

<div class="black_bg"></div>
<div class="modal_wrap">
    <div class="modal_close" onClick="fn_killDiv()"><a href="#">close</a></div>
    <div>
    <div class="card dashboard__card">
      <div class="card-title">
        <div class="card-title-left">
          <h4 class="card-title-text dashboard-card-title">작업인원</h4>
        </div>
      </div>
      <div style="margin: 2% 4% 1% 4%;">
      <select name="selWorkPcnt" id="selWorkPcnt" onchange="selWorkPcnt_selectEvent()" style="height:60px;  width:150px; color:red; font-size:30px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">26</option>
	</select>
      </div>
    </div>
    </div>
<div>

<!-- Script -->
<!-- jquery -->
<script src="/css/assets/js/jquery-3.6.0.min.js"></script>

<!-- bootstrap -->
<script src="/css/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

<!-- jquery-nicescroll -->
<script src="/css/assets/js/jquery-nicescroll/jquery.nicescroll.min.js"></script>

<!-- amcharts -->
<script src="/css/assets/js/amcharts/core.js"></script>
<script src="/css/assets/js/amcharts/charts.js"></script>
<script src="/css/assets/js/amcharts/animated.js"></script>
<script src="/css/assets/js/amcharts/amchart.js"></script>

<!-- chartjs -->
<script src="/css/assets/js/chartjs/Chart.bundle.js"></script>
<script src="/css/assets/js/chartjs/utils.js"></script>

<!-- custom -->
<script src="/css/assets/js/custom.js"></script>
<!-- Script -->

<!-- js style custom -->
<script>
  // 생산성 게이지 커스텀
  // 참조 문서: https://www.amcharts.com/demos/animated-gauge/
  
  //타이머 기능 전역변수 처리
  var timerRun;

  $( document ).ready( function() {
	  //카드,차트 api실행
	  $("#selWorkPcnt").val("10");
	  $("#gaugeDesc").text("※기준:10명/700건/8시간(시간당 10분 휴식)");
	  getCardData();
	  fn_getDataApi();

	  /*test*/
	  //setProductvityData();
	  //getCardData();
	  //getProductvityData();
  });
  
  function fn_getDataApi(){
	  timerRun = setInterval(getCardData, 45000); //45초
  }
  
  function getCardData() {
	  var url	= "/OLVYDASH/crossDomainHttpWs.action";
	  var param = "";
	  // 최초 document.ready에서 호출 시
	  
	  jQuery.post(url, param, function(data){
		  console.log(data);
		  var data = JSON.parse(data.result);
		  console.log(data);
		  setCardData(data);
		  setBarChartData(data);
	  }).fail(function(xhr, textStatus){
	  }).always(function(xhr, textStatus){
		  //callback 생산성
		  getProductvityData();
	  });
  }
  
  function setCardData(data) {
	  var totalOrderQty = parseInt(data.results[0].TOTAL_COUNT_HEADER); // 전체 발주 수량
	  var assignmentWaitQty = parseInt(data.results[1].TOTAL_COUNT_HEADER); // 할당 예정 수량
	  var assignmentQty = parseInt(data.results[2].TOTAL_COUNT_HEADER); // 할당 수량
	  var pickingListQty = parseInt(data.results[3].TOTAL_COUNT_HEADER); // 피킹리스트 발행 수량
	  var checkCompleteDHLQty = parseInt(data.results[4].TOTAL_COUNT_HEADER); // DHL 검수 완료 수량
	  var checkCompleteEMSQty = parseInt(data.results[5].TOTAL_COUNT_HEADER); // EMS 검수 완료 수량
	  var packingCompleteQty = parseInt(data.results[6].TOTAL_COUNT_HEADER); // 포장 완료 수량
	  var progress = (((packingCompleteQty + checkCompleteEMSQty + checkCompleteDHLQty) / totalOrderQty ) *100).toFixed(1);
		
	  $("#totalOrder").text(totalOrderQty +"건");
	  $("#assignmentWait").text(assignmentWaitQty +"건");
	  $("#assignment").text(assignmentQty +"건");
	  $("#pickingList").text(pickingListQty +"건");
	  $("#checkCompleteDHL").text(checkCompleteDHLQty +"건");
	  $("#checkCompleteEMS").text(checkCompleteEMSQty +"건");
	  $("#packingComplete").text(packingCompleteQty +"건");
	  $("#progress").text(progress +"%");
  }
  
  function setBarChartData(data) {
	  var dataArray = [];
	  var totalOrderQty = parseInt(data.results[0].TOTAL_COUNT_HEADER); // 전체 발주 수량
	  var checkCompleteDHLQty = parseInt(data.results[4].TOTAL_COUNT_HEADER); // DHL 검수 완료 수량
	  var checkCompleteEMSQty = parseInt(data.results[5].TOTAL_COUNT_HEADER); // EMS 검수 완료 수량
	  var packingCompleteQty = parseInt(data.results[6].TOTAL_COUNT_HEADER); // 포장 완료 수량
	    
	  dataArray = [totalOrderQty, packingCompleteQty, (checkCompleteDHLQty+checkCompleteEMSQty)]
	  bindBarChart(dataArray);
  }
  
  function getProductvityData() {
	  var url 	= "/OLVYDASH/crossDomainHttpWs2.action";
	  var param = "selWorkPcnt="+$("#selWorkPcnt").val();
	  // 최초 document.ready에서 호출 시
	  
	  jQuery.post(url, param, function(data){
		  var data = JSON.parse(data.result);
		  setProductvityData(data);
	  }).fail(function(xhr, textStatus){
	  });
  }
  
  function setProductvityData(data) {
	  var amgauge=$("#oliveyoung-gauge");
	  var pointData = data.results[0].POINT;
	  //var pointData = "80";
	  if(amgauge.length){

	    // Themes begin
	    am4core.useTheme(am4themes_animated);
	    // Themes end

	    // create chart
	    var chart = am4core.create("oliveyoung-gauge", am4charts.GaugeChart);
	    chart.innerRadius = am4core.percent(82);

	    /**
	     * Normal axis
	     */

	    var axis = chart.xAxes.push(new am4charts.ValueAxis());
	    axis.min = 0;
	    axis.max = 100;
	    axis.strictMinMax = true;
	    axis.renderer.radius = am4core.percent(80);
	    axis.renderer.inside = true;
	    axis.renderer.line.strokeOpacity = 1;
	    axis.renderer.ticks.template.strokeOpacity = 1;
	    axis.renderer.ticks.template.length = 10;
	    axis.renderer.grid.template.disabled = true;
	    axis.renderer.labels.template.radius = 40;
	    axis.renderer.labels.template.adapter.add("text", function(text) {
	      return text + "%";
	    })

	    /**
	     * Axis for ranges
	     */

	    var colorSet = new am4core.ColorSet();

	    var axis2 = chart.xAxes.push(new am4charts.ValueAxis());
	    axis2.min = 0;
	    axis2.max = 100;
	    axis2.renderer.innerRadius = 10
	    axis2.strictMinMax = true;
	    axis2.renderer.labels.template.disabled = true;
	    axis2.renderer.ticks.template.disabled = true;
	    axis2.renderer.grid.template.disabled = true;

	    var range0 = axis2.axisRanges.create();
	    range0.value = 0;
	    range0.endValue = pointData;
	    range0.axisFill.fillOpacity = 1;
	    range0.axisFill.fill = '#a7ce49';

	    var range1 = axis2.axisRanges.create();
	    range1.value = pointData;
	    range1.endValue = 100;
	    range1.axisFill.fillOpacity = 1;
	    range1.axisFill.fill = '#edf2f7';

	    /**
	     * Label
	     */

	    var label = chart.radarContainer.createChild(am4core.Label);
	    label.isMeasured = false;
	    label.fontSize = 45;
	    label.x = am4core.percent(50);
	    label.y = am4core.percent(100);
	    label.horizontalCenter = "middle";
	    label.verticalCenter = "bottom";
	    label.text = pointData+"%"; //@text
	    label.fill = '#a7ce49';


	    /**
	     * Hand
	     */
	   
	    var hand = chart.hands.push(new am4charts.ClockHand());
	    hand.axis = axis2;
	    hand.innerRadius = am4core.percent(20);
	    hand.startWidth = 10;
	    hand.pin.disabled = true;
	    
	    var tranVal = "";
	    if(pointData > 100){
	    	tranVal = 100;
	    }else{
	    	tranVal = pointData;
	    }
	    hand.value = Number(tranVal); //@arrow point

	    hand.events.on("propertychanged", function(ev) {
	      range0.endValue = ev.target.value;
	      range1.value = ev.target.value;
	      axis2.invalidate();
	    });
	  }
  }
  
  function bindBarChart(dataArray) {
	  var _oychartjsbar = $( '#bar-chart-oy' );
	    if( _oychartjsbar.exists() ) {
	      new Chart( _oychartjsbar, {
	        type: 'bar',
	        // 데이터 custom 위치.
	        data: {
	          labels: [ '전체주문'+"["+dataArray[0]+"]", '출고확정'+"["+dataArray[1]+"]", '검수완료'+"["+dataArray[2]+"]"],
	          datasets: [
	            {
	              label: '(건)',
	              // [바인딩영역] bar 색상
	              backgroundColor: [ '#a7ce49', '#c2d195','#5de1c4'],
	              // [바인딩영역] bar data
	              data: dataArray
	            }
	          ]
	        },
	        options: {
	          legend: { display: false },
	          title: {
	            display: false,
	            text: 'Predicted world population (millions) in 2050'
	          },
	          responsive: true,
	          aspectRatio: 3
	        }
	      });
	    }
  }
  
  
function fn_setupDiv(){
	document.querySelector('.modal_wrap').style.display ='block';
    document.querySelector('.black_bg').style.display ='block';
}
function fn_killDiv(){
	document.querySelector('.modal_wrap').style.display ='none';
    document.querySelector('.black_bg').style.display ='none';
}
function selWorkPcnt_selectEvent(){
	fn_killDiv();
	$("#gaugeDesc").text("※기준:"+$("#selWorkPcnt").val()+"명/700건/8시간(시간당 10분 휴식)");
}
</script>

<!-- 실시간 현재시간 -->
<script>
  function showClock(){
    var currentDate = new Date();
    var divClock = document.getElementById('divClock');
    var msg = "현재 시간 : ";
    if(currentDate.getHours()>12){      //시간이 12보다 크다면 오후 아니면 오전
      msg += "오후 ";
      msg += currentDate.getHours()-12+"시 ";
    }
    else {
      msg += "오전 ";
      msg += currentDate.getHours()+"시 ";
    }

    msg += currentDate.getMinutes()+"분 ";
    msg += currentDate.getSeconds()+"초";

    divClock.innerText = msg;

    if (currentDate.getMinutes()>58) {    //정각 1분전부터 빨강색으로 출력
      divClock.style.color="red";
    }
    setTimeout(showClock,1000);  //1초마다 갱신
  }
</script>
</body>
<!-- End : Body -->

<!-- Start : Footer -->
</html>
<!-- Start : Footer -->
