<div class="tabOn" id="E02">
	<div class="patternWrap">
		<form name="frm_list">
			<input type="hidden" name="vrSrchAliveYn" id="vrSrchAliveYn" value='Y'/>
			<table class="search" id="srchBox">
				<colgroup>
					<col width="80px"/>
					<col width="24%"/>	
					<col width="80px"/>
					<col width="24%"/>	
					<col width="80px"/>
					<col width="24%"/>		
					<col width="40px"/>		
				</colgroup>
	            <tbody>
	            	<tr>	
						<th>$!lang.getText("SET상품")</th>
						<td>
							<input type="text" class="text" name="vrSrchRitemCd" id="vrSrchRitemCd" style="width:40%" onChange="vrSrchItemCd_OnKillFocus()"/>
							<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('ITEM');return false;" class="imgSearch">
							<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId"/>
							<input type="text" class="text" name="vrSrchRitemNm" id="vrSrchRitemNm" style="width:40%" onChange="vrSrchItemNm_OnKillFocus()"/>
						</td>
						
						<th>$!lang.getText("SET시리얼번호")</th>
						<td>
							<input type="text" class = "text" name="vrSrchSerialNo" id="vrSrchSerialNo">
						</td>					
						<th>$!lang.getText('작업일')</th>
						<td>
							<input type = "text" class = "text" style="width:34%" name="vrCalWorkDtFrom" id="vrCalWorkDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrCalWorkDtFrom)" onChange="cfn_onChangeDateFld(vrCalWorkDtFrom)"> 
							 ~
							<input type = "text" class = "text" style="width:34%" name="vrCalWorkDtTo"   id="vrCalWorkDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrCalWorkDtTo)" onChange="cfn_onChangeDateFld(vrCalWorkDtTo)"> 
						</td>
						<th class="btnSearch">
							<input type="button" name="btn_write" onClick="WMSTS010E2.fn_search();" title="Search" role="button" aria-disabled="false"/>
						</th>	
					</tr>
	            </tbody>
	        </table>
		</form>
	
		<div id="divPanel_SpdList" style="padding-top:10px;">
			<div id="spdList" style="height:600px; border:1px solid #b0b0b0;"></div>
		</div>
	</div>
</div>


<script type="text/javascript">

const WMSTS010E2 = {
	'tab': 'E02',
	'colNameArray' : [],
	
	'sidIndex' : -1,
	'sidOrder' : true,
	
	'properties' : {
		'tabClickYet' : true,
		'arrMC_SPD_CHK_SET' : [],
		'PUBLIC_SPD_HEIGHT_TITLE' : '22',
		'PUBLIC_SPD_HEIGHT' : '25',
		'DFC_LINE' : '#D4D4D4',
		'BKC_FRC' : '#FFFBF7',
		'BKC_DEF' : '#FFFBF7',
	},
	'spdSheet' : null,
	'spdList' : null,
	'spdFooter' : null,
};

WMSTS010E2.openTab = function() {
	gfn_forceEventResize();
	setTimeout(function() {
		activeTab = WMSTS010E2;
		if (WMSTS010E2.properties.tabClickYet) {
			WMSTS010E2.setDefault();
			WMSTS010E2.createGrid();
			WMSTS010E2.properties.tabClickYet = false;
		}
	}, 0);
};

WMSTS010E2.setDefault = function(){	
	var tab = '#'+WMSTS010E2.tab+' ';

	/* button */
	jQuery(tab+"input:button").button();

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;
	
	/* datepicker */
	jQuery.datepicker.setDefaults(jQuery.datepicker.regional["$ss_lang"]);
	jQuery(tab+"input[name='vrCalWorkDtTo'] , "+tab+"input[name='vrCalWorkDtFrom']").datepicker({	
		changeMonth : true,
		changeYear : true,
		dateFormat : "yy-mm-dd",
		showOn : "button",
		buttonImage : "/img/exam/btn/calendar.gif",
		buttonImageOnly : true
	});
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	//var getReqDtFrom = dateReckon(new Date(vrSrchReqDt),7,"M");
	jQuery(tab+"input[name='vrCalWorkDtFrom']").val(vrSrchReqDt);
	jQuery(tab+"input[name='vrCalWorkDtTo']").val(vrSrchReqDt);
}

WMSTS010E2.createGrid = function() {
	WMSTS010E2.fn_loadGridSetting();
}

var SPDCOL_E2_SELECT	     = "";
var SPDCOL_E2_SET_SERIAL_NO  = "";
var SPDCOL_E2_SET_RITEM_ID   = "";
var SPDCOL_E2_SET_ITEM_CD    = "";
var SPDCOL_E2_SET_ITEM_NM    = "";
var SPDCOL_E2_PART_SERIAL_NO = "";
var SPDCOL_E2_PART_RITEM_ID  = "";
var SPDCOL_E2_PART_ITEM_CD   = "";
var SPDCOL_E2_PART_ITEM_NM   = "";
var SPDCOL_E2_SET_JOB_NO     = "";
var SPDCOL_E2_SET_SEQ        = "";
var SPDCOL_E2_MAPPING_YN     = "";
var SPDCOL_E2_WORK_DT        = "";
var SPDCOL_E2_UOM_ID         = "";
var SPDCOL_E2_LC_ID          = "";
var SPDCOL_E2_QTY            = "";
var SPDCOL_E2_SET_MEMO       = "";
var SPDCOL_E2_REG_NO         = "";
var SPDCOL_E2_REG_DT         = "";
var SPDCOL_E2_UPD_NO         = "";
var SPDCOL_E2_UPD_DT         = "";
var SPDCOL_E2_END 	         = "";

WMSTS010E2.fn_loadGridSetting = function(){

	/* 메인그리드 시작 */
	WMSTS010E2.colNameArray = [
	                         'SELECT'               
	                       , 'SET_SERIAL_NO'
                           , 'SET_RITEM_ID'
                           , 'SET_ITEM_CD'
                           , 'SET_ITEM_NM'
                           , 'PART_SERIAL_NO'
                           , 'PART_RITEM_ID'
                           , 'PART_ITEM_CD'
                           , 'PART_ITEM_NM'
                           , 'SET_JOB_NO'
                           , 'SET_SEQ'
                           , 'MAPPING_YN'
                           , 'WORK_DT'
                           , 'UOM_ID'
                           , 'LC_ID'
                           , 'QTY'
                           , 'SET_MEMO'
                           , 'REG_DT'
                           , 'REG_NO'
                           , 'UPD_DT'
                           , 'UPD_NO'
                       	   , 'END'
	                   	];
	
	SPDCOL_E2_SELECT	     = WMSTS010E2.colNameArray.indexOf('SELECT');
	SPDCOL_E2_SET_SERIAL_NO  = WMSTS010E2.colNameArray.indexOf('SET_SERIAL_NO');
	SPDCOL_E2_SET_RITEM_ID   = WMSTS010E2.colNameArray.indexOf('SET_RITEM_ID');
	SPDCOL_E2_SET_ITEM_CD    = WMSTS010E2.colNameArray.indexOf('SET_ITEM_CD');
	SPDCOL_E2_SET_ITEM_NM    = WMSTS010E2.colNameArray.indexOf('SET_ITEM_NM');
	SPDCOL_E2_PART_SERIAL_NO = WMSTS010E2.colNameArray.indexOf('PART_SERIAL_NO');
	SPDCOL_E2_PART_RITEM_ID  = WMSTS010E2.colNameArray.indexOf('PART_RITEM_ID');
	SPDCOL_E2_PART_ITEM_CD   = WMSTS010E2.colNameArray.indexOf('PART_ITEM_CD');
	SPDCOL_E2_PART_ITEM_NM   = WMSTS010E2.colNameArray.indexOf('PART_ITEM_NM');
	SPDCOL_E2_SET_JOB_NO     = WMSTS010E2.colNameArray.indexOf('SET_JOB_NO');
	SPDCOL_E2_SET_SEQ        = WMSTS010E2.colNameArray.indexOf('SET_SEQ');
	SPDCOL_E2_MAPPING_YN     = WMSTS010E2.colNameArray.indexOf('MAPPING_YN');
	SPDCOL_E2_WORK_DT        = WMSTS010E2.colNameArray.indexOf('WORK_DT');
	SPDCOL_E2_UOM_ID         = WMSTS010E2.colNameArray.indexOf('UOM_ID');
	SPDCOL_E2_LC_ID          = WMSTS010E2.colNameArray.indexOf('LC_ID');
	SPDCOL_E2_QTY            = WMSTS010E2.colNameArray.indexOf('QTY');
	SPDCOL_E2_SET_MEMO       = WMSTS010E2.colNameArray.indexOf('SET_MEMO');
	SPDCOL_E2_REG_DT         = WMSTS010E2.colNameArray.indexOf('REG_DT');
	SPDCOL_E2_REG_NO         = WMSTS010E2.colNameArray.indexOf('REG_NO');
	SPDCOL_E2_UPD_DT         = WMSTS010E2.colNameArray.indexOf('UPD_DT');
	SPDCOL_E2_UPD_NO         = WMSTS010E2.colNameArray.indexOf('UPD_NO');
	SPDCOL_E2_END 	         = WMSTS010E2.colNameArray.indexOf('END');     

	var tab = '#'+activeTab.tab+' ';
	WMSTS010E2.spdSheet = new GC.Spread.Sheets.Workbook(jQuery(tab+"#spdList")[0], { sheetCount: 1 });
	ps_setSpreadSheet_init(WMSTS010E2.spdSheet, false);
	WMSTS010E2.spdList = WMSTS010E2.spdSheet.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(WMSTS010E2.spdList, 1, SPDCOL_E2_END, 0, SPDCOL_E2_SET_ITEM_NM);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(WMSTS010E2.spdList, SPDCOL_E2_SELECT	     ,'CENTER'	,'CENTER' ,8, false, true, ""); 
	
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,	SPDCOL_E2_SET_SERIAL_NO  ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,	SPDCOL_E2_SET_RITEM_ID   ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,	SPDCOL_E2_SET_ITEM_CD    ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,	SPDCOL_E2_SET_ITEM_NM    ,'CENTER'	,'CENTER' ,8, false, true, "");
	
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,	SPDCOL_E2_PART_SERIAL_NO ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,	SPDCOL_E2_PART_RITEM_ID  ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_PART_ITEM_CD   ,'CENTER'	,'CENTER' ,8, false, true, "");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_PART_ITEM_NM   ,'CENTER'	,'CENTER' ,8, false, true, ""); 
	
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_SET_JOB_NO     ,'CENTER'	,'CENTER' ,8, false, true, "");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_SET_SEQ        ,'CENTER'	,'CENTER' ,8, false, true, "");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_MAPPING_YN     ,'CENTER'	,'CENTER' ,8, false, true, "");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,  	SPDCOL_E2_WORK_DT        ,'CENTER'	,'CENTER' ,8, false, true, "");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,  	SPDCOL_E2_UOM_ID         ,'CENTER'	,'CENTER' ,8, false, true, ""); 
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,  	SPDCOL_E2_LC_ID          ,'CENTER'	,'CENTER' ,8, false, true, ""); 
	ps_setSpreadCol_NUMBER_Property(WMSTS010E2.spdList, SPDCOL_E2_QTY            ,'CENTER'	,'RIGHT'  ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_SET_MEMO       ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_REG_DT         ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_REG_NO         ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_UPD_DT         ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList,   SPDCOL_E2_UPD_NO         ,'CENTER'	,'CENTER' ,8, false, true, "");
	ps_setSpreadCol_TEXT_Property(WMSTS010E2.spdList, 	SPDCOL_E2_END			 ,'CENTER','CENTER', 8, false, true, "");
	
	/* grid set style : colName, colHidden */
	WMSTS010E2.ps_setSpreadStyle();
	
	/* grid bindding */
	ps_setSpreadEvents_Bind_Multi(WMSTS010E2.spdList, WMSTS010E2.spdSheet);	
}



WMSTS010E2.ps_setSpreadStyle = function(){

	var spdList = WMSTS010E2.spdList;
	spdList.suspendPaint();
	spdList.suspendEvent();
	
	/* colName */
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_SELECT,         '선택', 35, false); 
	
	ps_setSpreadTitle_Named(spdList, 0,	SPDCOL_E2_SET_SERIAL_NO,  'SET시리얼번호', 200, true);
	ps_setSpreadTitle_Named(spdList, 0,	SPDCOL_E2_SET_RITEM_ID,   'SETritem_id', 0, false);
	ps_setSpreadTitle_Named(spdList, 0,	SPDCOL_E2_SET_ITEM_CD,    'SET상품코드'	, 110, true);
	ps_setSpreadTitle_Named(spdList, 0,	SPDCOL_E2_SET_ITEM_NM,    'SET상품이름'	, 110, true);
	
	ps_setSpreadTitle_Named(spdList, 0,	SPDCOL_E2_PART_SERIAL_NO, 'PART시리얼번호', 200, true);
	ps_setSpreadTitle_Named(spdList, 0,	SPDCOL_E2_PART_RITEM_ID,  'PARTritem_id', 0, false);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_PART_ITEM_CD,   'PART상품코드', 110, true); 
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_PART_ITEM_NM,   'PART상품이름', 110, true);
	
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_SET_JOB_NO,     '작업번호', 70, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_SET_SEQ,		  '작업순번', 70, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_MAPPING_YN,	  '매핑여부', 70, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_WORK_DT,        '작업일', 70, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_UOM_ID,		  'UOM', 0, false);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_LC_ID,		  'LC', 0, false);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_QTY,			  '수량', 70, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_SET_MEMO,		  'SET메모', 150, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_REG_DT,		  '등록일', 130, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_REG_NO,		  '등록자', 90, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_UPD_DT,		  '수정일', 130, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_UPD_NO,		  '수정자', 90, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_E2_END, 			  'END', 100, false);
	
	spdList.rowFilter(new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, SPDCOL_E2_SELECT, spdList.getRowCount(), SPDCOL_E2_END - SPDCOL_E2_SELECT)));

	// 컬럼 헤더 스타일 적용
	var setHearderRow = spdList.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
	setHearderRow.backColor("#d5dce6");
	setHearderRow.foreColor("#666666");
	setHearderRow.font("bold 13px Arial");
	
	spdList.defaults.colHeaderRowHeight = 22; //기본높이
    spdList.defaults.rowHeight = 25;
    
    spdList.resumeEvent();
	spdList.resumePaint();
}

/* 조회 */
WMSTS010E2.fn_search = function(op,op1){
	var tab = '#'+activeTab.tab+' ';
	var param 	= jQuery(tab+"form[name='frm_list']").serialize();
	var strUrl 	= "/WMSTS010/listE2.action";
	
	jQuery.ajax({
		url: strUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			WMSTS010E2.setRST(data);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}

/* 조회 callback */
WMSTS010E2.setRST = function(ds){
	var spdList = WMSTS010E2.spdList;
	spdList.deleteRows(0, spdList.getRowCount());
	var arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}
    
    spdList.suspendPaint();
    spdList.autoGenerateColumns = false;
    
    if(arrBind.length != 0){
    	spdList.setDataSource(arrBind);
    	spdList.bindColumn(SPDCOL_E2_SELECT,         false);
    	spdList.bindColumn(SPDCOL_E2_SET_SERIAL_NO,  "SET_SERIAL_NO");
    	spdList.bindColumn(SPDCOL_E2_SET_RITEM_ID,   "SET_RITEM_ID");
    	spdList.bindColumn(SPDCOL_E2_SET_ITEM_CD,    "SET_ITEM_CD");
    	spdList.bindColumn(SPDCOL_E2_SET_ITEM_NM,    "SET_ITEM_NM");
    	
    	spdList.bindColumn(SPDCOL_E2_PART_SERIAL_NO, "PART_SERIAL_NO");
    	spdList.bindColumn(SPDCOL_E2_PART_RITEM_ID,  "PART_RITEM_ID");
    	spdList.bindColumn(SPDCOL_E2_PART_ITEM_CD,	 "PART_ITEM_CD");
    	spdList.bindColumn(SPDCOL_E2_PART_ITEM_NM,	 "PART_ITEM_NM");
    	
    	spdList.bindColumn(SPDCOL_E2_SET_JOB_NO,	 "SET_JOB_NO");
    	spdList.bindColumn(SPDCOL_E2_SET_SEQ,		 "SET_SEQ");
    	spdList.bindColumn(SPDCOL_E2_MAPPING_YN,	 "MAPPING_YN");
    	spdList.bindColumn(SPDCOL_E2_WORK_DT,		 "WORK_DT");
    	spdList.bindColumn(SPDCOL_E2_UOM_ID,		 "UOM_ID");
    	spdList.bindColumn(SPDCOL_E2_LC_ID,			 "LC_ID");
    	spdList.bindColumn(SPDCOL_E2_QTY,			 "QTY");
    	spdList.bindColumn(SPDCOL_E2_SET_MEMO,		 "SET_MEMO");
    	spdList.bindColumn(SPDCOL_E2_REG_DT,		 "REG_DT");
    	spdList.bindColumn(SPDCOL_E2_REG_NO,		 "REG_NO");
    	spdList.bindColumn(SPDCOL_E2_UPD_DT,		 "UPD_DT");
    	spdList.bindColumn(SPDCOL_E2_UPD_NO,		 "UPD_NO");
    	spdList.bindColumn(SPDCOL_E2_END,			 false);
    }
    spdList.resumePaint();
    
    WMSTS010E2.ps_setSpreadStyle();
    spdList.resumePaint();
    
    WMSTS010E2.fn_gridRowspan();
}

WMSTS010E2.fn_gridRowspan = function(){
	var colNameArray = WMSTS010E2.colNameArray;
	var spdList = WMSTS010E2.spdList;
	var rowSpanColArr = [
			colNameArray.indexOf("SET_SERIAL_NO"),
			colNameArray.indexOf("SET_RITEM_ID"),
			colNameArray.indexOf("SET_ITEM_CD"),
			colNameArray.indexOf("SET_ITEM_NM")
		];
	// cfn_gridRowspan(grid객체,rowSpan할 기준colNum,rowSpan할 colNum배열)
	cfn_gridRowspan(spdList,colNameArray.indexOf("SET_SERIAL_NO"),rowSpanColArr);
}

</script>

