<style>
    #map {
    	height: 700px;
    }
</style>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyAyNVXA0G3HJa1-X8K_xQOS29GQGa8G-1E",
    v: "weekly",

  });
</script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

<div class="tabOn" id="E05">
	<div class="patternWrap">
		<div class="detail_box column_2">
			<div class="fl" style="width:64%">
				<div class="detailViewTitle" style="width:99%">$!lang.getText("센터재고")</div>	
				<div id="map" style="width:100%; height:700px;"></div>	
			</div>
			
			<div class="fr" style="width:34%">
				<div class="detailViewTitle" style="width:100%">$!lang.getText("상품정보")</div>	
				<div id="spdList" style="width:100%; height:700px; border:1px solid #b0b0b0;"></div>
				<div id="pjmap"></div>		
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

// 컬럼명 수정

const WMSTS010E5 = {
	'tab': 'E05',
	'colNameArray' : [],
	
	'sidIndex' : -1,
	'sidOrder' : true,
	
	'properties' : {
		'tabClickYet' : true,
		'arrMC_SPD_CHK_SET' : [],
		'PUBLIC_SPD_HEIGHT_TITLE' : '22',
		'PUBLIC_SPD_HEIGHT' : '25',
		'DFC_LINE' : '#D4D4D4',
		'BKC_FRC' : '#FFFBF7',
		'BKC_DEF' : '#FFFBF7',
	},
	'spdSheet' : null,
	'spdList' : null,
	'spdFooter' : null,
	'spdSheet_detail'  : null,
	'spdList_detail'   : null,
	'spdFooter_detail' : null,
	'mapItemCd' : '',
	
};

var Local_LC_ID =  '$!session.getAttribute("SS_SVC_NO")';

WMSTS010E5.openTab = function() {
	gfn_forceEventResize();
	setTimeout(function() {
		activeTab = WMSTS010E5;
		if (WMSTS010E5.properties.tabClickYet) {
			WMSTS010E5.setDefault();
			WMSTS010E5.createGrid();
			WMSTS010E5.properties.tabClickYet = false;
			//vrSrchCustCd_OnStart();
		}
		WMSTS010E5.mapItemCd = '';
		WMSTS010E5.remarker();
	}, 0);
	
};

var map;
var rows = 0;
var sumLat = 0;
var sumLng = 0;
var cnt = 0;

async function initMap(){
	const {Map} = await google.maps.importLibrary("maps");

	map = new Map(document.getElementById('map'), {
	    zoom: 9,
	    center: {lat: 47.5178308, lng: 18.8104215},
	    mapTypeId: google.maps.MapTypeId.TERRAIN,
	    scaleControl: true,
		gestureHandling : "greedy",
	});

	/*
		1. LC_ID 권한 조회(lat lng가 있는 경우만)
		2. list들 array화 시키고 pin 꽂고 화면 이동 fitbounds
		3. pin에서 clickListener 추가
		4. pin으로부터 값읽어서 검색조건 LC_ID 로 현재고 조회
		5. 조회된값 spreadJs에 넣기
	*/

	jQuery.ajax({
		url : "/WMSTS010/listE5.action"
		, type : "post"
		, data : {}
		, success : (data)=>{
			//해당 데이터로 부터 핀꽃고 map bound처리하고 listener 객체 바인딩까지...
			dataBind(data);
			WMSTS010E5.setRST(data)
		}
		, error : (xhr, textStatus) =>{
			if(xhr.status == 404){
				location.href=('/index.html');
			}
		}
	});
}


WMSTS010E5.remarker = function(){
   rows=0;
   initMap();	
}

function dataBind (ds){
	var arrBind = [];
    arrBind	= ds.rows;
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    var html = "";

	var beforeLcId = "";
	var contents = [];

	for(var i = 0 ; i < arrBind.length ; i++){

		if(beforeLcId != arrBind[i].LC_ID){

			if(i != 0){
				html += "</div>";
				contents.push({lat : arrBind[i-1].LAT, lng : arrBind[i-1].LNG, content : html});
				html = "";
			}

			html += '<div id="markerContent" style="width:180px; height:100px; overflow:auto">';
			html += "   <table border='3' cellspacing='0' width='100%' height='100%' class='markerTable'>";
			html += "   	<colgroup>";
			html += "   		<col width='65%'/>";
			html += "   		<col width='35%'/>";
			html += "   	</colgroup>";
			html += "   	<tr>";
			html += "   		<td colspan='2' style='text-align:center;'><b>"+ arrBind[i].LC_NM +"</b></td>";
			html += "   	</tr>";
			html += "   	<tr>";
			html += "   		<td style='text-align:center;'><b>상품명</b></td>";
			html += "   		<td style='text-align:center;'><b>수량</b></td>";
			html += "   	</tr>";
			
		}
		beforeLcId = arrBind[i].LC_ID;
		
		html += "   	<tr>";
		html += "			<td ondblclick=\"tableDblClick('" + arrBind[i].ITEM_NM + "','" + arrBind[i].ITEM_CODE + "','" + arrBind[i].RITEM_ID+ "','" 
							+ arrBind[i].CUST_ID + "','" + arrBind[i].CUST_NM + "','" + arrBind[i].CUST_CD + "');\" >"+arrBind[i].ITEM_NM+"</td>";
		html += "   		<td ondblclick=\"tableDblClick('" + arrBind[i].ITEM_NM + "','" + arrBind[i].ITEM_CODE + "','" + arrBind[i].RITEM_ID+ "','" 
							+ arrBind[i].CUST_ID + "','" + arrBind[i].CUST_NM + "','" + arrBind[i].CUST_CD + "');\" style='text-align:center';>"+arrBind[i].QTY+"</td>";
		html += "   	</tr>";

		if (i == arrBind.length-1){
			html += "</div>";
			contents.push({lat : arrBind[i].LAT, lng : arrBind[i].LNG, content : html});
		}
	}

    setBindMap(map, contents);
}


function setBindMap(map, list){
	var locations =[];
	for(var i = 0 ; i < list.length ; i++){
		locations.push({lat : parseFloat(list[i].lat), lng : parseFloat(list[i].lng)});
	}

	// Add some markers to the map.
	var markers = locations.map((position, i) => {
		var marker = new google.maps.Marker({position, content : list[i].content});
		var infoWindow = new google.maps.InfoWindow();

		infoWindow.setContent(marker.content);
		infoWindow.open(map, marker);
	
	    marker.addListener("click", () => {
			infoWindow.open({anchor: marker,map});
		});
		
	    return marker;
	});
	  
	const markerCluster = new markerClusterer.MarkerClusterer({ map, markers });
	  
	var avgLat = parseFloat(sumLat / cnt);
	var avgLng = parseFloat(sumLng / cnt);
}

/* 조회 callback */
WMSTS010E5.setRST = function(ds){

	var spdList = WMSTS010E5.spdList;
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind	= ds.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck
    
    spdList.suspendPaint();
    spdList.autoGenerateColumns = false;
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_E5_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdList.setDataSource(arrBind);
    	spdList.bindColumn(SPDCOL_E5_SELECT			 ,false);
    	spdList.bindColumn(SPDCOL_E5_SERIAL_NO          ,"SERIAL_NO");
    	spdList.bindColumn(SPDCOL_E5_LC_ID              ,"LC_ID");
    	spdList.bindColumn(SPDCOL_E5_LC_NM              ,"LC_NM");
    	spdList.bindColumn(SPDCOL_E5_CUST_ID            ,"CUST_ID");
    	spdList.bindColumn(SPDCOL_E5_CUST_CD            ,"CUST_CD");
    	spdList.bindColumn(SPDCOL_E5_CUST_NM            ,"CUST_NM");
    	spdList.bindColumn(SPDCOL_E5_RITEM_ID           ,"RITEM_ID");
    	spdList.bindColumn(SPDCOL_E5_ITEM_CODE          ,"ITEM_CODE");
    	spdList.bindColumn(SPDCOL_E5_ITEM_NM            ,"ITEM_NM");
    	spdList.bindColumn(SPDCOL_E5_ALIVE_YN           ,"ALIVE_YN");
    	spdList.bindColumn(SPDCOL_E5_TRACE_CNT       ,"TRACE_CNT");
    	spdList.bindColumn(SPDCOL_E5_STAY_TIME		 ,"STAY_TIME");
    	spdList.bindColumn(SPDCOL_E5_WORK_DT            ,"WORK_DT");
    	spdList.bindColumn(SPDCOL_E5_QTY                ,"QTY");
    	spdList.bindColumn(SPDCOL_E5_REG_NO    	     ,"REG_NO");
    	spdList.bindColumn(SPDCOL_E5_REG_DT    	     ,"REG_DT");
    	spdList.bindColumn(SPDCOL_E5_UPD_NO    	     ,"UPD_NO");
    	spdList.bindColumn(SPDCOL_E5_UPD_DT    	     ,"UPD_DT");
    	spdList.bindColumn(SPDCOL_E5_END				 ,false);
    	
    	
    }
    spdList.resumePaint();

    
    WMSTS010E5.ps_setSpreadStyle();
    spdList.resumePaint();
    
    WMSTS010E5.fn_gridRowspan();
}

WMSTS010E5.fn_gridRowspan = function(){
	var colNameArray = WMSTS010E5.colNameArray;
	var spdList = WMSTS010E5.spdList;
	var rowSpanColArr = [
			colNameArray.indexOf("LC_NM"),
		];
	// cfn_gridRowspan(grid객체,rowSpan할 기준colNum,rowSpan할 colNum배열)
	cfn_gridRowspan(spdList,colNameArray.indexOf("LC_NM"),rowSpanColArr);
}


WMSTS010E5.setDefault = function(){	
	var tab = '#'+WMSTS010E5.tab+' ';

	/* button */
	jQuery(tab+"input:button").button();

	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;
	
	/* 고객사 ID의 경우 검색화주를 고정시킨 */
	if("$!ss_user_gb" == "20"){
		// 고객사 ID의 경우 검색화주를 고정시킴
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustId']").val("$ss_cmpy_id");
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustCd']").val("$ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustNm']").val("$ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery(tab+"form[name='frm_list'] img[id='vrSrchCustImg']").removeAttr("onclick");
			
		
	}else{
		/* 대표화주코드 참조 */
		fn_getTypicalCust();
		
		//if(true){
		//	vrSrchCustCd_OnStart();
		//}
	}
	
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	
}
WMSTS010E5.createGrid = function() {
	WMSTS010E5.fn_loadGridSetting();
}



var SPDCOL_E5_SELECT	       = "";
var SPDCOL_E5_SERIAL_NO       = "";
var SPDCOL_E5_LC_ID           = "";
var SPDCOL_E5_LC_NM	       = "";
var SPDCOL_E5_CUST_ID         = "";
var SPDCOL_E5_CUST_CD         = "";
var SPDCOL_E5_CUST_NM         = "";
var SPDCOL_E5_RITEM_ID        = "";
var SPDCOL_E5_ITEM_CODE       = "";
var SPDCOL_E5_ITEM_NM         = "";
var SPDCOL_E5_ALIVE_YN        = "";
var SPDCOL_E5_TRACE_CNT     = "";
var SPDCOL_E5_STAY_TIME     = "";
var SPDCOL_E5_WORK_DT         = "";
var SPDCOL_E5_QTY             = "";
var SPDCOL_E5_REG_NO          = "";
var SPDCOL_E5_REG_DT          = "";
var SPDCOL_E5_UPD_NO          = "";
var SPDCOL_E5_UPD_DT          = "";
var SPDCOL_E5_END 	           = "";


WMSTS010E5.fn_loadGridSetting = function(){

	/* 메인그리드 시작 */
	WMSTS010E5.colNameArray = [
	                         'SELECT'         
	                           , 'LC_ID'
	                           , 'LC_NM'
	                           , 'CUST_ID'
	                           , 'CUST_CD'
	                           , 'CUST_NM'
	                           , 'RITEM_ID'
	                           , 'ITEM_CODE'
	                           , 'ITEM_NM'
	                           , 'ALIVE_YN'
	                           , 'TRACE_CNT'
	                           , 'STAY_TIME'
	                           , 'WORK_DT'
	                           , 'QTY'
	                           , 'REG_DT'
	                           , 'REG_NO'
	                           , 'UPD_DT'
	                           , 'UPD_NO'
	                       	   , 'END'
	                   	];
	
	
	SPDCOL_E5_SELECT	       = WMSTS010E5.colNameArray.indexOf('SELECT');         
	SPDCOL_E5_LC_ID           = WMSTS010E5.colNameArray.indexOf('LC_ID');          
	SPDCOL_E5_LC_NM           = WMSTS010E5.colNameArray.indexOf('LC_NM');           
	SPDCOL_E5_CUST_ID         = WMSTS010E5.colNameArray.indexOf('CUST_ID');        
	SPDCOL_E5_CUST_CD         = WMSTS010E5.colNameArray.indexOf('CUST_CD');       
	SPDCOL_E5_CUST_NM         = WMSTS010E5.colNameArray.indexOf('CUST_NM');   
	SPDCOL_E5_RITEM_ID        = WMSTS010E5.colNameArray.indexOf('RITEM_ID');       
	SPDCOL_E5_ITEM_CODE       = WMSTS010E5.colNameArray.indexOf('ITEM_CODE');          
	SPDCOL_E5_ITEM_NM         = WMSTS010E5.colNameArray.indexOf('ITEM_NM');          
	SPDCOL_E5_ALIVE_YN        = WMSTS010E5.colNameArray.indexOf('ALIVE_YN');       
	SPDCOL_E5_TRACE_CNT    	  = WMSTS010E5.colNameArray.indexOf('TRACE_CNT');         
	SPDCOL_E5_STAY_TIME       = WMSTS010E5.colNameArray.indexOf('STAY_TIME');
	SPDCOL_E5_WORK_DT         = WMSTS010E5.colNameArray.indexOf('WORK_DT');        
	SPDCOL_E5_QTY             = WMSTS010E5.colNameArray.indexOf('QTY');            
	SPDCOL_E5_REG_NO          = WMSTS010E5.colNameArray.indexOf('REG_NO');         
	SPDCOL_E5_REG_DT          = WMSTS010E5.colNameArray.indexOf('REG_DT');         
	SPDCOL_E5_UPD_NO          = WMSTS010E5.colNameArray.indexOf('UPD_NO');         
	SPDCOL_E5_UPD_DT          = WMSTS010E5.colNameArray.indexOf('UPD_DT');              
	SPDCOL_E5_END 	           = WMSTS010E5.colNameArray.indexOf('END');            

	
	/* 그리드 공통화 적용 시작- Header */
	/* Init */

	var tab = '#'+activeTab.tab+' ';
	WMSTS010E5.spdSheet = new GC.Spread.Sheets.Workbook(jQuery(tab+"#spdList")[0], { sheetCount: 1 });
	ps_setSpreadSheet_init(WMSTS010E5.spdSheet, false);
	WMSTS010E5.spdList = WMSTS010E5.spdSheet.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(WMSTS010E5.spdList, 1, SPDCOL_E5_END, 0, SPDCOL_E5_UPD_DT);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(WMSTS010E5.spdList, SPDCOL_E5_SELECT	   ,'CENTER'	,'CENTER'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,	SPDCOL_E5_LC_ID        ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,	SPDCOL_E5_LC_NM        ,'CENTER'	,'CENTER'		,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_CUST_ID      ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_CUST_CD      ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_CUST_NM      ,'CENTER'	,'LEFT'		,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_RITEM_ID     ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_ITEM_CODE    ,'CENTER'	,'LEFT'		,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_ITEM_NM      ,'CENTER'	,'LEFT'		,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,	SPDCOL_E5_ALIVE_YN     ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_TRACE_CNT   ,'CENTER'	,'RIGHT'		,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_STAY_TIME   ,'CENTER'	,'CENTER'		,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,	SPDCOL_E5_WORK_DT     ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_NUMBER_Property(WMSTS010E5.spdList,  SPDCOL_E5_QTY        ,'CENTER'	,'RIGHT'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_REG_NO       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_REG_DT       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_UPD_NO       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTS010E5.spdList,  SPDCOL_E5_UPD_DT       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	/* grid set style : colName, colHidden */
	WMSTS010E5.ps_setSpreadStyle();
	
	/* grid bindding */
	ps_setSpreadEvents_Bind_Multi(WMSTS010E5.spdList, WMSTS010E5.spdSheet);	
	
	/* 그리드 공통화 적용 끝- Header */
	

	/* spreadJs load시 실행 */
	//WMSTS010E5.fn_loadComplete();
	
	/* FOOTER */
}



WMSTS010E5.ps_setSpreadStyle = function(){

	var spdList = WMSTS010E5.spdList;
	spdList.suspendPaint();
	spdList.suspendEvent();
		
	/* colName */
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_SELECT	    ,'선택'		,35		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_SERIAL_NO   ,'시리얼번호'	,200	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_LC_ID       ,'센터ID' 		,50		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_LC_NM       ,'센터'		,180		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_CUST_ID     ,'화주ID'		,70		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_CUST_CD     ,'화주코드'		,120	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_CUST_NM     ,'화주명'		,200	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_RITEM_ID    ,'상품ID'		,70		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_ITEM_CODE   ,'상품코드'		,100		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_ITEM_NM     ,'상품명'		,150	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_ALIVE_YN    ,'상태'		,60		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_TRACE_CNT 	,'턴(Turn)'	,120		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_STAY_TIME 	,'체류시간'	,100		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_WORK_DT     ,'작업일'		,70		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_QTY         ,'수량'		,80		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_REG_NO    	,'생성자'	    ,90		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_REG_DT    	,'생성일'		,130	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_UPD_NO    	,'수정자'		,100		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E5_UPD_DT    	,'수정자'		,130	,false);
	
	
	spdList.rowFilter(new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, SPDCOL_E5_SELECT, spdList.getRowCount(), SPDCOL_E5_END - SPDCOL_E5_SELECT)));
	

	// 컬럼 헤더 스타일 적용
	var setHearderRow = spdList.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
	setHearderRow.backColor("#d5dce6");
	setHearderRow.foreColor("#666666");
	setHearderRow.font("bold 13px Arial");
	

	spdList.defaults.colHeaderRowHeight = 22; //기본높이
    spdList.defaults.rowHeight = 25;
    
    spdList.resumeEvent();
	spdList.resumePaint();
}






</script>

