#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/tooltip_easiest.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분 
//  
// 
//   
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();
var vrDiffReason = "";

jQuery(document).ready(function(){


	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;
	
	if(true){
		vrSrchCustCd_OnStart();
	}

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo'], input[name='DATE_EXE']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	
	// button
	jQuery("input:button").button();
	
	/*detail영역 초기화*/
	jQuery("#frm_list2").hide();
	
	//날짜 셋팅
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtTo'] , input[name='vrSrchReqDtFrom'], input[name='DATE_EXE']").val(vrSrchReqDt);
		
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	              
	              '$!lang.getText("재고조사번호")',
	              '$!lang.getText("화주")',
	              '$!lang.getText("화주CD")',
	              '$!lang.getText("로케이션")',
	              '$!lang.getText("작업일자")',
	              '$!lang.getText("재고조사방식")',
	              '$!lang.getText("개체총량구분")',
	              '$!lang.getText("상태")'
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:30,	align:"left", hidden:true },
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true},
		
			{name:'CYCL_STOCK_ID',			index:'CYCL_STOCK_ID',		align:"center"},
			{name:'CUST_NM',				index:'CUST_NM',			align:"center"},
			{name:'CUST_CD',				index:'CUST_CD',			align:"center" , hidden:true },
			{name:'LOC_CD',					index:'LOC_CD',				align:"center", hidden:true },
			{name:'WORK_DT',				index:'WORK_DT',			align:"center"},
			{name:'CYCL_STOCK_TYPE',		index:'CYCL_STOCK_TYPE',	align:"center",editable : false, formatter : 'select'	,edittype : "select"	 ,editoptions : {$!comCode.getGridComboComCode("CYCL01")}},
			{name:'TYPE_ST',				index:'TYPE_ST',			align:"center",editable : false, formatter : 'select'	,edittype : "select"	 ,editoptions : {$!comCode.getGridComboComCode("TYPEST")}},			
			{name:'WORK_STAT',				index:'WORK_STAT',			align:"center",editable : false,  formatter : 'select'	,edittype : "select"	 ,editoptions : {$!comCode.getGridComboComCode("CYCL02")}}
		];
	var option = {
		'title' : '$!lang.getText("재고조사목록")',
		'height' : 230,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
	    #if($ss_gird_num != "")
       	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40

	};
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST120/list.action?"+param;
	
	listGrid.init(jQuery("#list"), option, '');
	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
	    return true;
	});

	// 그리드 셀선택 이벤트 - 디테일 조회
	listGrid.setSelectCellEventCallback(function(id, col){
		
		var grid = jQuery("#list");
		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
 			jQuery("#jqg_list_"+id).attr("checked",false);
 			grid.setCell(id, 'CHK_BOX', "No");
 			grid.restoreRow(id);
 			listGrid.setStatus(id, " ");
 			detailGrid.clear();
 			return false;
 			
		}else{			
			listGrid.resetSelection(id);
			
		    var grid = jQuery("#list");
		    if(grid.getCell(id, 'CHK_BOX') == "Yes"){
		    	jQuery("#jqg_list_"+rowid).attr("checked",false);
				grid.setCell(rowid, 'CHK_BOX', "No");
				listGrid.setStatus(rowid, " ");
				
				detailGrid.clear();
			}			
			
			jQuery("#jqg_list_"+id).attr("checked",true);
 			grid.setCell(id, 'CHK_BOX', "Yes");
 			var rowdata = grid.getRowData(id);	 			
 			grid.editRow(id);	 			
 			if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
 				listGrid.setStatus(id, "INSERT");
 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
 				listGrid.setStatus(id, "UPDATE");
 			}
		}
		var cycl_stock_id = grid.getCell(id, "CYCL_STOCK_ID");			

		jQuery("#CYCL_STOCK_ID").val(cycl_stock_id);	
		//var param = "CYCL_STOCK_ID="+cycl_stock_id;
		var param = jQuery("form[name='frm_list2']").serialize();
		var url = "/WMSST120/detail.action?"+param;
		
		detailGrid.search(param, url)
	});	
	
	/* 그리드 셀선택 더블클릭 이벤트 */
	listGrid.setDblClickRowEventCallback(function(rowid, iRow, iCol, e) {
		/* 개체재고및이력추적 화면으로 이동 */
		var param_cycl_stock_id     = jQuery("#list").getCell(rowid,'CYCL_STOCK_ID');
    	var frm = document.frm_list;
    	
    	var strParameter = [];
    	strParameter.push(param_cycl_stock_id);
    	
    	var param = "?&strParameter=" + strParameter;
    	frm.action="/WINUS/WMSST160.action"+param;
    	frm.method="post";
    	frm.submit();
	});
	
	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArray_detail = [
	                           'CHK_BOX',
	         	               'ST_GUBUN',
	         	               '',
	         	               'FLAG',
	         	               '$!lang.getText("LOT번호")',
	         	               '$!lang.getText("로케이션")',
	         	               '$!lang.getText("상품코드")',
	         	               '$!lang.getText("상품명")',
	         	               '$!lang.getText("EPC코드")',
	         	               '$!lang.getText("현재고수량")',
	         	               '$!lang.getText("실사수량")',
	         	               '$!lang.getText("확인여부")',
	         	               '$!lang.getText("차이이유")',
	         	               '$!lang.getText("유효기간")',
	         	              
	         	               'CYCL_STOCK_ID',
	         	               'WORK_SEQ'
	                           ];
		// 그리드 컬럼 정의		          
	var colModelArray_detail = [
			{name:'CHK_BOX',		index:'CHK_BOX',					align:"left",	hidden:true},
			{name:'ST_GUBUN',		index:'ST_GUBUN',					align:"left",	hidden:true},
			{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:15,	align:"center"},
			{name:'FLAG',			index:'FLAG',						align:"left",	hidden:true},
			
			{name:'CUST_LOT_NO',	index:'CUST_LOT_NO',	width:140,	align:"center"},
			{name:'LOC_CD',			index:'LOC_CD',			width:100,	align:"center"},
			{name:'RITEM_CD',		index:'RITEM_CD',		width:100,	align:"center"},
			{name:'RITEM_NM',		index:'RITEM_NM',		width:200,	align:"left"},
			{name:'ITEM_EPC_CD',	index:'ITEM_EPC_CD',	width:180,	align:"left"},
			{name:'EXP_QTY',		index:'EXP_QTY',		width:80,	align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'REAL_QTY',		index:'REAL_QTY',		width:80,	editable : true, align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_REAL_QTY\')"' }},
			{name:'WORK_STAT',		index:'WORK_STAT',		width:70,	align:"center", formatter : 'select'	,edittype : "select"	 ,editoptions : {$!comCode.getGridComboComCode("CYCL02")}},
			{name:'DIFF_REASON',	index:'DIFF_REASON',	width:150,	align:"left", editable : true, editoptions : {maxlength : 100}},
			{name:'BEST_DATE',		index:'BEST_DATE',		width:100,	align:"center"},
			
			{name:'CYCL_STOCK_ID',		index:'CYCL_STOCK_ID',			align:"left",	hidden:true},
			{name:'WORK_SEQ',			index:'WORK_SEQ',				align:"left",	hidden:true}
		];
	
	var option_detail = {
		'title' : '$!lang.getText("재고조사상세목록")',
		'height' : 230,
		'width' : '980',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
        'rowList' : [300,1000,5000,10000,20000],
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40
	};
	
	var url2 = "";
	detailGrid.init(jQuery("#detail"), option_detail, url2, loadCompleteEventCallback2);

	function loadCompleteEventCallback2(data){
		var grid     = jQuery("#detail");
		var ids      = grid.getDataIDs();
		var gridData = grid.getRowData();
		
		var css 	= {'color' : 'red'};
		for(var i = 0 ; i < gridData.length; i++){
			if( Number(gridData[i].EXP_QTY) != Number(gridData[i].REAL_QTY) && gridData[i].WORK_STAT > 1){
				for(var j = 0 ; j < Object.keys(gridData[i]).length; j++){
					grid.jqGrid('setCell', ids[i], Object.keys(gridData[i])[j], '', css);
				}
			}
		}

		/*(우클릭 메뉴) 이벤트 지정*/
		cfn_contextMenu(this);
	};
	
	/* 그리드 공통화 적용 끝- detailGrid */
});

//검색
function fn_search(op,op1) {	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST120/list.action?"+param;
	listGrid.search(param, url, op, op1);
}

/* 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
}


//저장
function fn_save(){
		var grid        = jQuery("#detail");
	    var ids         = grid.getDataIDs();
	    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	    var isProcess   = false;
	    var tmpCnt 		= 0 ;	
	    
	    if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }
	    
	    /* 유효성검사 */
		if(!fn_listValidation()){return;}
	    
	    if(confirm("$!lang.getText('update.confirm')")){
	        if(selectIds != ""){
	            jQuery("#formData").html("");
	            if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
	                jQuery("#formData").append("<input type='text' name='selectIds' value='0'/><br>");
	            }else{
	                tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
	            }
	            for(var i = 0 ; i < selectIds.length ; i++){
	                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }
	                if(isProcess){
	               
	                    jQuery("#formData").append("<input type='text' name='CYCL_STOCK_ID"	+tmpCnt+"'  value='" +grid.getCell(selectIds[i], 'CYCL_STOCK_ID')	 +"'/>");
	                    jQuery("#formData").append("<input type='text' name='WORK_SEQ"	+tmpCnt+"'  	value='" +grid.getCell(selectIds[i], 'WORK_SEQ')	 +"'/>");
	                  
	                    jQuery("#formData").append("<input type='text' name='REAL_QTY"	+tmpCnt+"'  value='" +jQuery("#"+selectIds[i] + "_REAL_QTY","#detail").val() +"'/>");
	                    jQuery("#formData").append("<input type='text' name='DIFF_REASON"	+tmpCnt+"'  value='" +jQuery("#"+selectIds[i] + "_DIFF_REASON","#detail").val() +"'/>");

	                	tmpCnt ++;
	                }
	            }
	            jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
	        }else{
	            if(tmpCnt == 0){
	            	alert("$!lang.getText('save.nodata')");
	                return false;
	            }
	        }
	        var param = jQuery("form[name='frm_data']").serialize();
	        var url = "/WMSST120/save.action";
	        jQuery.post(url, param, function(data) {
	            alert(data.MSG);
	            if(data.errCnt <= 0 ){
	            	fn_search();
	            	detailGrid.clear();
	            }
	        }).fail(function(xhr, textStatus){
	    		if(xhr.status == 404){	
	    			location.href=('/index.html');
	    		}
	     	});
	    }
}

//재고실행
function fn_executeSp() {	
		var targetDate	= jQuery("#DATE_EXE").val();
	    if( !targetDate || targetDate == ""){
	        alert("$!lang.getText('save.execute.date')");
	    }	    
	    if(confirm("$!lang.getText('재고실행')")){
	    	// jQuery("#formDate").append("<input type='text' name='DATE_EXE'  value='" + targetDate +"'/>");
			cfn_loadingModalOpen1();
	        var param = "";
	        var url = "/WMSST120/updateSp.action?DATE_EXE="+targetDate;
	        jQuery.post(url, param, function(data) {
	            alert(data.MSG);
	            if(data.errCnt <= 0 ){
	            	fn_search();
	            	jQuery("#formDate").empty();
	            }
				cfn_loadingModalClose1();
	        }).fail(function(xhr, textStatus){
	    		if(xhr.status == 404){	
	    			location.href=('/index.html');
	    		}
				cfn_loadingModalClose1();
	     	});
	    }
}

//상단 헤더 엑셀 출력
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST120/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//하단 디테일 엑셀 출력
function fn_print(){
	var grid = jQuery("#detail");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	var countRow = jQuery("#list").getDataIDs().size();

	if ( jQuery("#CYCL_STOCK_ID") != "" ) {
	
		if(countRow == 0){
			alert('$!lang.getText("excel.down.nodata")');
			return;
		} else if(countRow > 60000) {
			alert('$!lang.getText("excel.down.maxrow")');
			return;
		} else {			
			fn_filterClean();
			var fm = document.frm_list2;
			fm.action="/WMSST120/excelSub.action"+param;
			fm.method="post";
			fm.submit();
		}
		
	}else{
		alert('$!lang.getText("excel.down.nodata")');
	}
}

/*contextMenu (우클릭 메뉴) 이벤트 지정 */
function cfn_contextMenu(target){
	jQuery("tr.jqgrow", target).contextMenu('dsMenu', {
		//bindings 이벤트설정
		bindings: {
			'menu01': function(t){fn_DiffReasonAutoInsert()} //일괄자동채우기
		}
		//onContextMenu 메뉴작동햇을때 기본적으로 할 이벤트
		//지금은 그리드 행 선택셋팅
       ,onContextMenu: function(event, menu) {
    	   var id        = jQuery(event.target).closest("tr.jqgrow").attr("id");
    	   var grid      = jQuery("#detail");
    	   var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    	   var selectCol = jQuery(event.target).closest('td')[0].cellIndex;
    	   
    	   if(id == selectIds[0] && selectCol == 14){ //selectCol = 14 = 차이이유 컬럼
    		   vrDiffReason = jQuery("#"+ id + "_DIFF_REASON","#detail").val();
    		   return true;
    	   }else{
    		   return false;
    	   }
        }
    });
}
/* 일괄자동채우기 */
function fn_DiffReasonAutoInsert(){
	var grid 		= jQuery("#detail");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    
	if(vrDiffReason.length > 0){
		for(var i = 2 ; i < selectIds.length+1 ; i++){
			jQuery("#"+ selectIds[i-1] + "_DIFF_REASON", "#detail").val(vrDiffReason);
		}
	}
}

//그리드 유효성 검사 (현재고 리스트 비고)
function fn_listValidation(){
	var grid = jQuery("#detail");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});		
	
	if(selectIds != ""){
		var tmpText = ["$!lang.getText('실사수량')","$!lang.getText('차이이유')"];
		var tmpId = ["REAL_QTY", "DIFF_REASON"];
		var tmpVal;
		var tmpLeng = [10,100];
		
		for(var i=0; i<selectIds.length; i++){
			var REAL_QTY = jQuery.trim(jQuery("#"+selectIds[i] + "_REAL_QTY","#detail").val());
			var DIFF_REASON = jQuery.trim(jQuery("#"+selectIds[i] + "_DIFF_REASON","#detail").val());
			
			tmpVal = [REAL_QTY, DIFF_REASON];
		
			/* 특수문자 체크 */	
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#detail").focus();
					return false;
				}
			}
			
			/* 실사수량 최대 길이 , 숫자인지*/
			if(REAL_QTY.byteLength() > 10){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REAL_QTY", "#detail").focus();
				return false;
			}else if(!REAL_QTY.isNumber()){
				alert("$!message.getMessage('0번째행의1은숫자만입력가능', '" + selectIds[i] + "','"+tmpText[0]+"')");
				return false;
			}
			
			/* 차이이유 최대 길이 */
			if(REAL_QTY.byteLength() > 100){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[1]+"','" + tmpLeng[1]+"')");
				jQuery("#"+selectIds[i]+"_DIFF_REASON", "#detail").focus();
				return false;
			}
		}
	}
	return true;
}

//====================================================공통함수 ======================================//
/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
	}
}


/* 로케이션 코드 입력 */
function vrSrchLocNm_OnKillFocus(){
	var vrSrchLocNm = jQuery('form[name="frm_list2"] input[name="txtSrchLocNm"]').val();
	if( vrSrchLocNm != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocNm);
				strParameter.push('');
				
				var width 	= "800";
				var height 	= "560";
 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
//				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list2"] input[name="txtSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list2"] input[name="txtSrchLocCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list2"] input[name="txtSrchLocNm"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list2'] input[name='txtSrchLocId']").val("").focus();
				jQuery("form[name='frm_list2'] input[name='txtSrchLocCd']").val("");
				jQuery("form[name='frm_list2'] input[name='txtSrchLocNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery("form[name='frm_list2'] input[name='txtSrchLocId']").val("");
		jQuery("form[name='frm_list2'] input[name='txtSrchLocCd']").val("");
		jQuery("form[name='frm_list2'] input[name='txtSrchLocNm']").val("");
	}
}

/* 로케이션 코드 입력 */
function vrSrchLocCd_OnKillFocus(){
	var vrSrchLocCd = jQuery('form[name="frm_list2"] input[name="txtSrchLocCd"]').val();
	if( vrSrchLocCd != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocCd);
				strParameter.push('');
				
				var width 	= "800";
				var height 	= "560";
 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
//				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list2"] input[name="txtSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list2"] input[name="txtSrchLocCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list2"] input[name="txtSrchLocNm"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list2'] input[name='txtSrchLocId']").val("").focus();
				jQuery("form[name='frm_list2'] input[name='txtSrchLocCd']").val("");
				jQuery("form[name='frm_list2'] input[name='txtSrchLocNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery("form[name='frm_list2'] input[name='txtSrchLocId']").val("");
		jQuery("form[name='frm_list2'] input[name='txtSrchLocCd']").val("");
		jQuery("form[name='frm_list2'] input[name='txtSrchLocNm']").val("");
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){	
	var vrSrchItemCd = jQuery('form[name="frm_list2"] input[name="vrSrchItemCd"]').val();
	
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "560"
				
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){				
				jQuery('form[name="frm_list2"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list2"] input[name="vrSrchItemId"]').val(data[0].ID);
				jQuery('form[name="frm_list2"] input[name="vrSrchItemNm"]').val(data[0].NAME);				
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				
				jQuery("form[name='frm_list2'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list2'] input[name='vrSrchItemId']").val("");
				jQuery("form[name='frm_list2'] input[name='vrSrchItemNm']").val("");				
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우		
		jQuery("form[name='frm_list2'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list2'] input[name='vrSrchItemId']").val("");
		jQuery("form[name='frm_list2'] input[name='vrSrchItemNm']").val("");		
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	
	var vrSrchItemNm = jQuery('form[name="frm_list2"] input[name="vrSrchItemNm"]').val();
	
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "560";
				
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){				
				jQuery('form[name="frm_list2"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list2"] input[name="vrSrchItemId"]').val(data[0].ID);
				jQuery('form[name="frm_list2"] input[name="vrSrchItemNm"]').val(data[0].NAME);				
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				
				jQuery("form[name='frm_list2'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list2'] input[name='vrSrchItemId']").val("");
				jQuery("form[name='frm_list2'] input[name='vrSrchItemNm']").val("");				
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우	
		jQuery("form[name='frm_list2'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list2'] input[name='vrSrchItemId']").val("");
		jQuery("form[name='frm_list2'] input[name='vrSrchItemNm']").val("");		
	}
}

//초기화주검색
function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSCM011_OnStart&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
			jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");

		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){
			location.href=('/index.html');
		}
	});
}

/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt == 1){
			jQuery("#txtSrchCustCd").val(data[0].CUST_CD);
			jQuery("#txtSrchCustNm").val(data[0].CUST_NM);
			jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].CUST_ID);
			
		}else{
			vrSrchCustCd_OnStart();
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

//팝업 호출
function fn_Popup(pop, id){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";
	
	switch(pop){
	
	case 'WMSCM011' : // 화주조회
		param = "?func=fn_setWMSCM011";
		url = "/WMSCM011.action" + param;
		break;
		
	case 'WMSCM080' : // 로케이션조회
		height = "560"
		strParameter.push(jQuery('form[name="frm_list2"] input[name="txtSrchLocCd"]').val());
		strParameter.push(jQuery('form[name="frm_list2"] input[name="txtSrchLocId"]').val());
		param = "?func=fn_setWMSCM080&strParameter="+strParameter;
		url = "/WMSCM080.action" + param;
		break;
		
	case 'ITEM':	//검색 상품코드
		var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list2"] input[name="hdnCustId"]').val());
		strParameter.push('');
		strParameter.push('');
		strParameter.push(vrSrchCustId);
		strParameter.push('');
		strParameter.push('');
		strParameter.push('Y');
		param = '?func=fn_setWMSCM091&strParameter='+strParameter;
		url = "/WMSCM091.action" + param;
		break;	
		
	}
	
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 초기 화주 설정 처리 */
function fn_setWMSCM011_OnStart(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(info.cust_id);

}

/* 화주 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery("#txtSrchCustCd").val(info.cust_cd);
	jQuery("#hdnCustId").val(info.cust_id);
	jQuery("#txtSrchCustNm").val(info.cust_nm);
}

/* 로케이션 */
function fn_setWMSCM080(arr){
	var info = arr[0];	
	jQuery("#txtSrchLocId").val(info.loc_id);
	jQuery("#txtSrchLocCd").val(info.loc_cd);
	jQuery("#txtSrchLocNm").val(info.loc_cd);
}

/* 상품 팝업 후 처리 - TAB1 */
function fn_setWMSCM091(arr){
	var info = arr[0];	
	jQuery("#vrSrchItemCd").val(info.item_code);
	jQuery("#vrSrchItemId").val(info.ritem_id);
	jQuery("#vrSrchItemNm").val(info.item_kor_nm);
}


//====================================================2024-12-12 기능추가 ======================================//

function fn_upload(){
	
	//화주정보 없으면 팝업
	var vrSrchCustCd = jQuery("#txtSrchCustCd").val();
	if(vrSrchCustCd == ""){
		alert("$!lang.getText('화주입력 필수입니다.')")
		vrSrchCustCd_OnStart();
		return;
	}

	
	var strParameter = [];
	strParameter.push(jQuery("#txtSrchCustCd").val());
	strParameter.push(jQuery("#hdnCustId").val());
	strParameter.push("fn_uploadComplete");
	var param 	= "?strParameter="+strParameter;
	var width 	= "520";
	var height 	= "160";
	var url 	= "/WMSST120pop.action"+param;


	var asppop 	= cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

//하단그리드 필터처리 
function fn_detailFilter(){
	var detailFilterGb = jQuery("#detailFilterGb").val();
	if(detailFilterGb == "N"){
		jQuery("#frm_list2").show();
		jQuery("#detailFilterBtn").val("$!lang.getText('필터닫기')");
		jQuery("#detailFilterGb").val("Y");
	}else if(detailFilterGb == "Y"){
		fn_filterClean();
		jQuery("#frm_list2").hide();
		jQuery("#detailFilterBtn").val("$!lang.getText('검색필터')");
		jQuery("#detailFilterGb").val("N");
		jQuery("#vrSrchUnitNo").val("");
		jQuery("#vrSrchLockYn").val("N");
	}
}

function fn_filterClean(){
	jQuery("#txtSrchLocCd").val("");
	jQuery("#txtSrchLocNm").val("");
	jQuery("#txtSrchLocId").val("");
	jQuery("#vrSrchItemNm").val("");
	jQuery("#vrSrchItemId").val("");
	jQuery("#vrSrchItemCd").val("");
	jQuery("#vrSrchLotNo").val("");
}

//하단 그리드 조회
function fn_detailSearchFilter(){
	var cycl_stock_id       = jQuery("#CYCL_STOCK_ID").val();
	var ritem_id     = jQuery("#vrSrchItemId").val();
	var locId = jQuery("#txtSrchLocId").val();
	var lotNo = jQuery("#vrSrchLotNo").val();
	
	//var param = "CYCL_STOCK_ID="+cycl_stock_id+"&RITEM_ID="+ritem_id+"&LOC_ID"+locId+"&LOT_NO"+lotNo;
	var param = jQuery("form[name='frm_list2']").serialize();
	var url = "/WMSST120/detail.action?"+param;
	detailGrid.search(param, url);
}

</script>

<div id = "tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("재고조사")</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
	<div id = "tabs-1">
		#parse("winus/wmsst/WMSST120E1.vm")
	</div>
</div>	

<div id="jqContextMenu" style="display: none">
	<div id="dsMenu">
		<ul>
			<li id="menu01"><a href='#'><span>$!lang.getText('일괄자동채우기')</span></a></li>
		</ul>
	</div>
</div>
#parse("winus/common/footer.vm")