<div class="patternWrap">	
	<form name="frm_list_T2" >
		<table class="search" id="srchBox">
			<colgroup>
				<col width="80px"/>
				<col width="24%"/>	
				<col width="80px"/>
				<col width="24%"/>	
				<col width="10%"/>
				<col width="*%"/>
				<col width="40px"/>
			</colgroup>
			<tbody>
				<tr>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("출고일자")</th>
				<td>		
					<input type = "text" class = "text" style="width:30%" name="vrSrchReqDtFrom2" id="vrSrchReqDtFrom2" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom2)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom2)"> 
						~
					<input type = "text" class = "text" style="width:30%" name="vrSrchReqDtTo2"   id="vrSrchReqDtTo2"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo2)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo2)">
					
				</td>
				<th>$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text clCustCd" style="width: 40%" name="vrSrchCustCd_T2" id="vrSrchCustCd_T2" onChange="vrSrchCustCd_OnKillFocus('_T2')" >  
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUSTE2");' class="imgSearch"/> 
					<input type="hidden" class="clCustId" name="vrSrchCustId_T2" id="vrSrchCustId_T2"> 
					<input type="text" class="text clCustNm" style="width: 40%" name="vrSrchCustNm_T2" id="vrSrchCustNm_T2" onChange="vrSrchCustCd_OnKillFocus('_T2')"> 
				</td>
				
				<th>$!lang.getText('상품')</th>
			
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd_T2" id="vrSrchItemCd_T2" onChange="vrSrchItemCd_OnKillFocusE2()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEME2");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm_T2" id="vrSrchItemNm_T2" onChange="vrSrchItemNm_OnKillFocusE2()">
						<input type="hidden" name="vrSrchItemId_T2" id="vrSrchItemId_T2">  
				</td>
				
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search('_T2');" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			</tbody>
		</table>
		<div id = "formData" style = "visibility : none ; width : 0 ; height : 0"></div>
	</form>

<div class="btnArea">
		<div class="btnAreaLeft" style="width:50%">
	    	<div><span style="margin-right : 10px;">주문 단가 조회 (전체  : <span id="totalSpdList_T2"></span>)</span></div>
	    </div>
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown('_T2');" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList_T2" style="height:700px; border:1px solid #b0b0b0;"></div>
	</div>
</div>

