<div class="patternWrap">
	<form name="frm_listBlno">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="80px"/>
				<col width="78px"/> 
				<col width="35%"/>
				<col width="80px"/> 
				<col width="35%"/>
				<col width="80px"/> 
				<col width="25%"/>
				<col width="30px"/>
				<col width="40px"/>	
			</colgroup>
			<tr>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th  class="thBar">$!lang.getText("화주")</th>
				<td colspan="2">
					<input type="text" class="readOnly" name="vrSrchCustCd_E03" id="vrSrchCustCd_E03" style="width:42%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId_E03" id="vrSrchCustId_E03" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm_E03" id="vrSrchCustNm_E03" style="width:42%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th  class="thBar">$!lang.getText('화주')</th>
				<td colspan="2">
					<input type="text" class = "text" style="width: 42%" name="vrSrchCustCd_E03" id="vrSrchCustCd_E03" onChange="vrSrchCustCd_OnKillFocus('P')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WMSCM011E3");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId_E03" id="vrSrchCustId_E03"> 
					<input type="text" class = "text" style="width: 42%" name="vrSrchCustNm_E03" id="vrSrchCustNm_E03" onChange="vrSrchCustNm_OnKillFocus('P')"> 
				</td>
			#end
			
				<th>$!lang.getText("로케이션")</th>
				<td>
					<input type="text" class="text" name="txtSrchLocCd_E03" id="txtSrchLocCd_E03" style="width:55%" onChange="vrSrchLocCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM080','_E03');return false;" class="imgSearch">
					<input type="hidden" class="text" name="txtSrchLocId_E03" id="txtSrchLocId_E03" style="width:40%" onChange="vrSrchLocId_OnKillFocus()"/>
				</td>
			<!--
				<th class="thBar">$!lang.getText("상품군")</th>
				<td>
					<select name="vrSrchItemGrpId" id="vrSrchItemGrpId" class="selectbox">
						<option value="">$!lang.getText("전체")</option>
						<option value="N/A">$!lang.getText("미지정")</option>
						#foreach($row in $ITEMGRP)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>		
				<td></td>
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_searchBlno();" title="Search" role="button" aria-disabled="false"/>
				</th>
			-->
				<th></th>
				<td></td>
				<td></td>
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_searchBlno();" title="Search" role="button" aria-disabled="false"/>
				</th>
	
				
			</tr>
			<tr>	
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					$!comCode.getComboComCode("ITEM_TY", "vrSrchItemType", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
				</td>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd_E03" id="vrSrchItemCd_E03" onChange="vrSrchItemCd_OnKillFocus('F')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM3","_E03");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId_E03" id="vrSrchItemId_E03"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm_E03" id="vrSrchItemNm_E03" onChange="vrSrchItemNm_OnKillFocus('F')"> 
				</td>
				<th class="thBar">$!lang.getText('B/L번호')</th> 
				<td>
					<input type = "text" class = "text" name="vrSrchLikeBlNo" id="vrSrchLikeBlNo" style="width: 60%">
				</td>
				<th></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>						
			</tr>
		</table>	
		<input type="hidden" name="vrBlNo" id ="vrBlNo">
		<input type="hidden"	name="blnoRitemId"	id="blnoRitemId"/>
		<input type="hidden"	name="blnoUomId"	 	id="blnoUomId"/>
		<input type="hidden"	name="blnoLocId"	 	id="blnoLocId"/>
	</form>
	
	<div class="btnArea">
		<div class="btnAreaLeft" style="width:50%">
	    	<div><span style="margin-right : 10px;">B/L별 재고리스트</span>(전체 수량 : <span id="totalSpdList_E03"></span>)</div>
	    </div>
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"   name="btn_write" onclick="fn_excelDown_E03();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div style="padding-top:50px; width:1668px;">
		<div id="spdListBlno" style="width:1668px; height:500px;"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>


<script type="text/javascript">


//Spread 영역 객체
//var spdSheet_E03;
//var spdList_E03;


var sidIndex = -1;
var sidOrder = true;

var arrMC_SPD_CHK_SET = [];        
var DFC_LINE = '#D4D4D4';
var BKC_FRC  = '#FFEBC8';
var BKC_DEF = "#FFFBF7";

var PUBLIC_SPD_HEIGHT_TITLE = "22";
var PUBLIC_SPD_HEIGHT = "29";
var TGT_STCK = "rgba(255, 255, 120, 0.9)";
var LNG_STCK = "rgba(255, 230, 250, 1)";

var defaultStyle = new GC.Spread.Sheets.Style();
defaultStyle.font = "9.5pt 맑은 고딕";
defaultStyle.hAlign = GC.Spread.Sheets.HorizontalAlign.center;


var spdSheet_E03;
var spdList_E03;
var fn_searchBlno;
var fn_excelDown_E03; 


/* Tap */
var CHK_BOX_E03				= 0;	
var BL_NO_E03				= 1;
var CUST_NM_E03				= 2;	
var CUST_CD_E03 			= 3;	
var CUST_ID_E03				= 4;	
var WH_ID_E03				= 5;	
var WH_CD_E03				= 6;	
var WH_NM_E03				= 7;	
var LOC_ID_E03				= 8;	
var LOC_CD_E03				= 9;
var LOC_TYPE_NM_E03			= 10;	
var LOC_TYPE_E03			= 11;
var TEMP_TYPE_NAME_E3		= 12;
var RITEM_ID_E03			= 13;	
var RITEM_CD_E03			= 14;	
var RITEM_NM_E03			= 15;	
var UOM_ID_E03				= 16;
var UOM_NM_E03				= 17;
var STOCK_QTY_E03			= 18;
var OUT_EXP_QTY_E03 		= 19;
var STOCK_WEIGHT_E03		= 20;	
var CUST_LOT_NO_E03			= 21;	
var SUB_LOT_ID_E03			= 22;	
var REG_DT_E03				= 23;
var UNIT_NO_E03				= 24;
var CNTR_NO_E03				= 25;
var STOCK_ID_E03			= 26;
var UNIT_NM_E03				= 27;
var IN_DT_E03				= 28;
var OWNER_CD_E03			= 29;
var BOX_BAR_CD_E03			= 30;
var ITEM_BAR_CD_E03			= 31;
var ITEM_BEST_DATE_END_E03	= 32;
var MAKE_DT_E03				= 33;
var STOCK_DATE_E03			= 34;
var STOCK_STATUS_E03		= 35;
var STOCK_STSTUS_NM_E03		= 36;
var FLAG_E03				= 37;




jQuery(document).ready(function(){	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	jQuery("#tab3").tabs({activate:function(event, ui){gfn_forceEventResize();}});
	jQuery("input:button").button();
	jQuery('form[name="frm_listBlno"] select[name="vrSrchItemType"]').val("G");
		
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;	

	/* Tabs */	
	ps_setSpreadColumnIndex_E03();

	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
});



// Header
	function ps_setSpreadColumnIndex_E03(){
		/* 그리드 공통화 적용 시작- Header */
		spdSheet_E03= new GC.Spread.Sheets.Workbook(document.getElementById('spdListBlno'), { sheetCount: 1, allowCopyPasteExcelStyle: true});
		ps_setSpreadSheet_Set1(spdSheet_E03, false); // 최초 생성 sheet 세팅
		spdList_E03 = spdSheet_E03.getActiveSheet(0); // Sheet 0번 활성화
		var pobjspdList = spdList_E03;

		pobjspdList.suspendPaint();
	
		ps_setSpreadList_init_SET(pobjspdList, 1, STOCK_STSTUS_NM_E03+1, 0, CHK_BOX_E03);
		ps_setSpreadCol_CHECKBOX_Property(pobjspdList,	CHK_BOX_E03					, 'CENTER'   , 'CENTER'   , 8, false, false, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		BL_NO_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		CUST_NM_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		CUST_CD_E03 				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		CUST_ID_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		WH_ID_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		WH_CD_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		WH_NM_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		LOC_ID_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		LOC_CD_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		LOC_TYPE_NM_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		LOC_TYPE_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		RITEM_ID_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		RITEM_CD_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		RITEM_NM_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		UOM_ID_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		UOM_NM_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_NUMBER_Property(pobjspdList, 		STOCK_QTY_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_NUMBER_Property(pobjspdList, 		OUT_EXP_QTY_E03 			, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		STOCK_WEIGHT_E03			, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		CUST_LOT_NO_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		SUB_LOT_ID_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		REG_DT_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		UNIT_NO_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		CNTR_NO_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		TEMP_TYPE_NAME_E3			, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		STOCK_ID_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		UNIT_NM_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		IN_DT_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		OWNER_CD_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		BOX_BAR_CD_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		ITEM_BAR_CD_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		ITEM_BEST_DATE_END_E03		, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		MAKE_DT_E03					, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		STOCK_DATE_E03				, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		STOCK_STATUS_E03			, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		STOCK_STSTUS_NM_E03			, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		ps_setSpreadCol_TEXT_Property(pobjspdList, 		FLAG_E03			, 'CENTER'   , 'CENTER'   , 8, false, true, "");
		
		
		 
		// 컬럼 스타일 적용
		ps_setSpreadStyle_E03(pobjspdList);
		// spreadJs 멀티 이벤트 공통함수
		ps_setSpreadEvents_Bind_Multi(pobjspdList,spdSheet);

		ps_setSpread_BCellClick(pobjspdList);

		pobjspdList.resumePaint();
	
	}	



//	function ps_setSpreadEvents_Bind_Multi (args){}
//	function ps_setSpreadEvents_CellChanged (args){}
//	function ps_setSpreadEvents_ButtonClicked(args){}
//	function ps_setSpreadEvents_LostFocus (args){}
//	function ps_setSpreadEvents_CellDoubleClick (args){}





	//세트품 스타일
	function ps_setSpreadStyle_E03(pobjspdList){
		
		pobjspdList.suspendPaint();

		ps_setSpreadTitle_Named(pobjspdList	,0	,	CHK_BOX_E03				,"선택"									,35		,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	BL_NO_E03				,"$!lang.getText('B/L번호')"			,180	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	CUST_NM_E03				,"$!lang.getText('화주')"				,100	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	CUST_CD_E03 			,"$!lang.getText('화주코드')"			,100	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	CUST_ID_E03				,"$!lang.getText('RITEM_ID_E03')"		,100	,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	WH_ID_E03				,"$!lang.getText('창고')"				,100	,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	WH_CD_E03				,"$!lang.getText('창고코드')"			,130	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	WH_NM_E03				,"$!lang.getText('창고')"				,130	,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	LOC_ID_E03				,"$!lang.getText('로케이션')"			,130	,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	LOC_CD_E03				,"$!lang.getText('로케이션')"			,160	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	LOC_TYPE_NM_E03			,"$!lang.getText('로케이션타입')"		,100	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	LOC_TYPE_E03			,"$!lang.getText('타입')"				,130	 	,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	RITEM_ID_E03			,"$!lang.getText('상품')"				,130		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	RITEM_CD_E03			,"$!lang.getText('상품코드')"			,130		,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	RITEM_NM_E03			,"$!lang.getText('상품명')"				,130		,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	UOM_ID_E03				,"$!lang.getText('UOM_ID_E03')"			,100		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	UOM_NM_E03				,"$!lang.getText('UOM')"				,65			,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	STOCK_QTY_E03			,"$!lang.getText('수량')"				,65			,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	OUT_EXP_QTY_E03 		,"$!lang.getText('출고예정수량')"			,100	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	STOCK_WEIGHT_E03		,"$!lang.getText('UNIT_NO_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	CUST_LOT_NO_E03			,"$!lang.getText('CNTR_NO_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	SUB_LOT_ID_E03			,"$!lang.getText('STOCK_ID_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	REG_DT_E03				,"$!lang.getText('UNIT_NM_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	UNIT_NO_E03				,"$!lang.getText('IN_DT_E03')"				,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	CNTR_NO_E03				,"$!lang.getText('컨테이너번호')"			,130	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	TEMP_TYPE_NAME_E3		,"$!lang.getText('품온구분')"				,80	,true);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	STOCK_ID_E03			,"$!lang.getText('LOC_TYPE_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	UNIT_NM_E03				,"$!lang.getText('입수')"					,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	IN_DT_E03				,"$!lang.getText('BOX_BAR_CD_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	OWNER_CD_E03			,"$!lang.getText('ITEM_BAR_CD_E03')"		,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	BOX_BAR_CD_E03			,"$!lang.getText('유통기한')"				,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	ITEM_BAR_CD_E03			,"$!lang.getText('MAKE_DT_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	ITEM_BEST_DATE_END_E03	,"$!lang.getText('MAKE_DT_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	MAKE_DT_E03				,"$!lang.getText('MAKE_DT_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	STOCK_DATE_E03			,"$!lang.getText('MAKE_DT_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	STOCK_STATUS_E03		,"$!lang.getText('MAKE_DT_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	STOCK_STSTUS_NM_E03		,"$!lang.getText('MAKE_DT_E03')"			,65		,false);
		ps_setSpreadTitle_Named(pobjspdList	,0	,	FLAG_E03				,"$!lang.getText('FLAG_E03')"			,65		,false);
		



		// 컬럼 헤더 스타일 적용
		//var setHearderRow = pobjspdList.getRange(0, -1, 2, -1, GC.Spread.Sheets.SheetArea.colHeader);
		//setHearderRow.backColor("rgba(216, 226, 240, 0.4)");
		//setHearderRow.foreColor("#666666");
		//setHearderRow.font("bold 13px Arial");
		// 컬럼 헤더 스타일 적용
		var setHearderRow_detail = pobjspdList.getRange(0, -1, 2, -1, GC.Spread.Sheets.SheetArea.colHeader);
		setHearderRow_detail.backColor("#f3f3f3");
		setHearderRow_detail.foreColor("#000");
		setHearderRow_detail.font("13px Arial");

		// 고정 표시 셀 설정 
		pobjspdList.frozenColumnCount(2);    
		pobjspdList.resumePaint();

		
		var setHeaderRow = spdList_E03.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
		setHeaderRow.font("bold 13px Arial");
		setHeaderRow.backColor("#d5dce6");
		setHeaderRow.foreColor("#4e5661");


		pobjspdList.resumePaint();
	}



	
//검색
function fn_searchBlno() {
	var param = jQuery("form[name='frm_listBlno']").serialize();
	var url="/WMSST010/listV2_E3.action"; 
	jQuery.ajax({
		url : url,
		type : 'POST', 
		data: param, 
		contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			setRST_B(data);		
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
		}
	});
}



/* 조회 callback Header */
function setRST_B(data){
	var pobjspdList = spdList_E03;
	var totalCount = jQuery('#totalSpdList_E03');
	pobjspdList.deleteRows(0, pobjspdList.getRowCount());
	totalCount.html(pobjspdList.getRowCount()); 
	pobjspdList.resumePaint();
	var arrBind = [];
	arrBind = JSON.parse(data);
	arrBind	= arrBind.rows;
	pobjspdList.deleteRows(0, pobjspdList.getRowCount()); // sheet는 살리고 데이터는 날림

	pobjspdList.suspendPaint();

	if(arrBind.length != 0){
		pobjspdList.setDataSource(arrBind);
		pobjspdList.bindColumn(CHK_BOX_E03					, "CHK_BOX");
		pobjspdList.bindColumn(BL_NO_E03					, "BL_NO");
		pobjspdList.bindColumn(CUST_NM_E03					, "CUST_NM");
		pobjspdList.bindColumn(CUST_CD_E03 					, "CUST_CD");
		pobjspdList.bindColumn(CUST_ID_E03					, "CUST_ID");
		pobjspdList.bindColumn(WH_ID_E03					, "WH_ID");
		pobjspdList.bindColumn(WH_CD_E03					, "WH_CD");
		pobjspdList.bindColumn(WH_NM_E03					, "WH_NM");
		pobjspdList.bindColumn(LOC_ID_E03					, "LOC_ID");
		pobjspdList.bindColumn(LOC_CD_E03					, "LOC_CD");
		pobjspdList.bindColumn(LOC_TYPE_NM_E03				, "LOC_TYPE_NM");
		pobjspdList.bindColumn(LOC_TYPE_E03					, "LOC_TYPE");
		pobjspdList.bindColumn(RITEM_ID_E03					, "RITEM_ID");
		pobjspdList.bindColumn(RITEM_CD_E03					, "RITEM_CD");
		pobjspdList.bindColumn(RITEM_NM_E03					, "RITEM_NM");
		pobjspdList.bindColumn(UOM_ID_E03					, "UOM_ID");
		pobjspdList.bindColumn(UOM_NM_E03					, "UOM_NM");
		pobjspdList.bindColumn(STOCK_QTY_E03				, "STOCK_QTY");
		pobjspdList.bindColumn(OUT_EXP_QTY_E03 				, "OUT_EXP_QTY");
		pobjspdList.bindColumn(STOCK_WEIGHT_E03				, "STOCK_WEIGHT");
		pobjspdList.bindColumn(CUST_LOT_NO_E03				, "CUST_LOT_NO");
		pobjspdList.bindColumn(SUB_LOT_ID_E03				, "SUB_LOT_ID");
		pobjspdList.bindColumn(REG_DT_E03					, "REG_DT");
		pobjspdList.bindColumn(UNIT_NO_E03					, "UNIT_NO");
		pobjspdList.bindColumn(CNTR_NO_E03					, "CNTR_NO");
		pobjspdList.bindColumn(TEMP_TYPE_NAME_E3			, "TEMP_TYPE_NAME");
		pobjspdList.bindColumn(STOCK_ID_E03					, "STOCK_ID");
		pobjspdList.bindColumn(UNIT_NM_E03					, "UNIT_NM");
		pobjspdList.bindColumn(IN_DT_E03					, "IN_DT");
		pobjspdList.bindColumn(OWNER_CD_E03					, "OWNER_CD");
		pobjspdList.bindColumn(BOX_BAR_CD_E03				, "BOX_BAR_CD");
		pobjspdList.bindColumn(ITEM_BAR_CD_E03				, "ITEM_BAR_CD");
		pobjspdList.bindColumn(ITEM_BEST_DATE_END_E03		, "ITEM_BEST_DATE_END");
		pobjspdList.bindColumn(MAKE_DT_E03					, "MAKE_DT");
		pobjspdList.bindColumn(STOCK_DATE_E03				, "STOCK_DATE");
		pobjspdList.bindColumn(STOCK_STATUS_E03				, "STOCK_STATUS");
		pobjspdList.bindColumn(STOCK_STSTUS_NM_E03			, "STOCK_STSTUS_NM");
		pobjspdList.bindColumn(FLAG_E03						, "FLAG");
		
		
		// 합계
		//if(arrBind.length > 0){ 
		//ps_setSpreadDetailControl(pobjspdList, arrBind);
		//}
		
		// 총 수량 표시 
		totalCount.html(pobjspdList.getRowCount());   
	}

	// 필터 적용
	ps_setFilter(pobjspdList, 0, 1, pobjspdList.getRowCount() - 1, pobjspdList.getColumnCount()-1);

// 스타일 적용
	ps_setSpreadStyle_E03(pobjspdList);
	pobjspdList.resumePaint();
}



/*엑셀다운 */
function fn_excelDown_E03(){
	var spdListExport = spdSheet_E03;
	var spdListExportA = spdList_E03;
	var excel_title = 'B/L별 재고조회(NEW)';
	
	if(spdListExport.getActiveSheet().getRowCount() > 0){
		//엑셀시트 보호 해제
		spdListExportA.options.isProtected = false;
		pf_ExcelReportExport(excel_title, spdListExport);
		//엑셀시트 보호 
		spdListExportA.options.isProtected = true;
	}else{
		alert("$!lang.getText('조회결과가 존재하지 않습니다.')");
		return false;
	}
}





//헤더 체크박스 클릭 이벤트
function ps_setSpread_BCellClick(pobjspdList){	
			
	pobjspdList.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
		// 체크박스 전체 선택
 		if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col == 0){ 
			var spd = args.sheet;
			var allCheck = spd.getValue(0, 0, GC.Spread.Sheets.SheetArea.colHeader);
			var totalRow = spd.getRowCount();
			
			ps_setSelectALL(0, args);
			
			spd.suspendPaint();
			if((allCheck == null) || (allCheck == 0)) {
				spd.clearSelection();
			}else{
				spd.clearSelection();
			}
			spd.resumePaint();
			return false;
		}
	})
}



</script>