<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>$!lang.getText("해체")</title>
<!-- <link type="text/css" media="screen" rel="stylesheet" href="/css/menu.css" /> -->
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />

<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>
</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();

/* 부모창 파라미터 처리 */
var vrWorkIdInit    = "";
var vrWorkTypeInit  = "";
var vrSrchReqDtFrom = "";
var vrSrchReqDtTo   = "";
var vrSrchCustId   = "";

jQuery(document).ready(function(){

	// Tabs
	jQuery("#tab1").tabs({
		show: function(event, ui) {resizeGrid();}
	});

	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );

	// 날자 셋팅
	//jQuery("input[name='vrSrchReqDtTo']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	//jQuery("input[name='vrSrchReqDtFrom']").val((new Date()).getFormattedString("YYYY-MM-DD"));

	// 검색조건 enter검색
	Event.observe('srchBox', 'keydown', cfn_search, false);

	// button
	jQuery("input:button").button();
	
	/* 파라미터 처리 */
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	vrWorkIdInit 	= (arrParameter[0] == undefined) ? "" : arrParameter[0]
	vrWorkTypeInit  = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	vrSrchReqDtFrom = (arrParameter[2] == undefined) ? "" : arrParameter[2];
	vrSrchReqDtTo   = (arrParameter[3] == undefined) ? "" : arrParameter[3];
	vrSrchCustId    = (arrParameter[4] == undefined) ? "" : arrParameter[4];
	
	
	/* 파라미터 값 셋팅 */
	jQuery("form[name='frm_list'] input[name='vrWorkIdInit']").val(vrWorkIdInit);
	jQuery("form[name='frm_list'] input[name='vrWorkTypeInit']").val(vrWorkTypeInit);
	jQuery("input[name='vrSrchReqDtFrom']").val(vrSrchReqDtFrom);
	jQuery("input[name='vrSrchReqDtTo']").val(vrSrchReqDtTo);
	if( vrSrchCustId != "" ){ vrSrchCustId_OnKillFocus(vrSrchCustId) };
	
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명
	var colNameArray = [
	                    'CHK_BOX',
	  	                'ST_GUBUN',
	  	                '',
	  	                'FLAG',

	  					'$!lang.getText("로케이션지정")',
	  					'$!lang.getText("LOT번호")',
	  					'$!lang.getText("코드")',
	  					'',
	  					'$!lang.getText("상품명")',
	  					'$!lang.getText("수량")',
	  					'UOM',

	 	  				'$!lang.getText("코드")',
	  					'$!lang.getText("창고명")',
	  					'$!lang.getText("작업일자")',
	  					'$!lang.getText("작업시간")',
	  					'WORK_TYPE',
	  					'RITEM_ID',
	  					'WORK_ID',
	  					'CUST_ID',
	  					'UOM_ID',
	  					'ORD_ID',
	  					'ORD_SEQ',
	  					'ORD_TYPE',
	  					'WH_ID',
	  					'WORK_STAT'
	  		           ];

	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',			index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',			index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',		index:'ST_GUBUN_IMG',	width:20,	align:"center"},
			{name:'FLAG',				index:'FLAG',						align:"left", hidden:true },

			{name:'LOC_STAT',			index:'LOC_STAT',		width:80,	align:"center", formatter : 'select'	,edittype : "select"	,editoptions : {value :":$!lang.getText('선택');"+#set($size = $STS00.size()) #set($cnt = 1) "#foreach($edit in $STS00) $edit.CODE_CD:$edit.CODE_NM#if($cnt < $size);#set($cnt = $cnt+1)#end#end"} },
			{name:'CUST_LOT_NO',		index:'CUST_LOT_NO',	width:100,	align:"center"},
			{name:'RITEM_CD',			index:'RITEM_CD',		width:80,	align:"center", editable : true, cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridSrchItemCd_OnKillFocusE3('+rowId+')"'; }},
			{name:'ICON',				index:'ICON',			width:25,	align:"center" , formatter : fn_GridFormatter},
			{name:'RITEM_NM',			index:'RITEM_NM',		width:100,	align:"left", editable : true, cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridSrchItemNm_OnKillFocusE3('+rowId+')"'; }},
			{name:'WORK_QTY',			index:'WORK_QTY',		width:40,	align:"right", editable : true,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}
			,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_WORK_QTY\')"' }
			,editoptions : {maxlength : "10"	,dataEvents : [{type : 'keyup'	,fn : function(e){fn_OnQtyChanged(this.id.split('_')[0])}}	,{type : 'change'	,fn : function(e){fn_OnColumnZero(this)}}]}},
			{name:'UOM_NM',				index:'UOM_NM',			width:40,	align:"center"},

			{name:'WH_CD',				index:'WH_CD',			width:80,	align:"center"},
			{name:'WH_NM',				index:'WH_NM',			width:120,	align:"left"},
			{name:'WORK_DT',			index:'WORK_DT',		width:80,	align:"center"},
			{name:'WORK_TM',			index:'WORK_TM',		width:80,	align:"center", formatter : fn_GridFormatter},
			{name:'WORK_TYPE',			index:'WORK_TYPE',		align:"center", hidden:true },

			{name:'RITEM_ID',			index:'RITEM_ID',		align:"center", hidden:true },
			{name:'WORK_ID',			index:'WORK_ID',		align:"center", hidden:true },
			{name:'CUST_ID',			index:'CUST_ID',		align:"center", hidden:true },
			{name:'UOM_ID',				index:'UOM_ID',			align:"center", hidden:true },
			{name:'ORD_ID',				index:'ORD_ID',			align:"center", hidden:true },
			{name:'ORD_SEQ',			index:'ORD_SEQ',		align:"center", hidden:true },
			{name:'ORD_TYPE',			index:'ORD_TYPE',		align:"center", hidden:true },
			{name:'WH_ID',				index:'WH_ID',			align:"center", hidden:true },
			{name:'WORK_STAT',			index:'WORK_STAT',		align:"center", hidden:true },
		];

	var option = {
			'title' : '$!lang.getText("완성품내역")',
			'height' : 150,
			'width' : '100%',
			'colName' : colNameArray,
			'colModel' : colModelArray,
	        'pager' : jQuery("#pjmap"),
	        'autowidth' : true,
	        'multiselect' : true,
	        'viewrecords' : true,
	        'gridview' : true,
	        'sortable' : true,
	        #if($ss_gird_num != "")
	        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
	        #else
	        'rowList' : [100,200,300],
	        #end
	        'rownumbers' : true,
	        'rownumWidth': 40,
	        'shrinkToFit' : false,
		};


	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST070/poplist2.action?"+param;

	function loadCompleteEventCallback_listGrid (data){

		jQuery("tr.jqgrow", this).contextMenu('myMenu', {
	        bindings: {
	            'menu1': function(t) {fn_ready_Location();}, //
	            'menu2': function(t) {fn_sub_ready_Location(t.id);}, //
	            'menu3': function(t) {fn_pdf(t.id);}, //
	            'menu4': function(t) {fn_complete();} //
	        },

	        onContextMenu: function(event, menu) {
	        	 var id = jQuery(event.target).closest("tr.jqgrow").attr("id");
					var grid = jQuery("#list");
	                if(grid.getCell(id, 'CHK_BOX') != "Yes"){
	                	jQuery("#jqg_list_"+id).attr("checked",true);
	            		grid.setCell(id, 'CHK_BOX', "Yes");
	            		grid.setSelection(id, true);
	            		grid.editRow(id);
	            		var vrRitemId = grid.getCell(id, 'RITEM_ID');
	             		var vrWorkType = grid.getCell(id, 'WORK_TYPE');
	             		var vrWorkId = grid.getCell(id, 'WORK_ID');
	             		var vrWorkDt = grid.getCell(id, 'WORK_DT');

	             		var param ="vrRitemId="+vrRitemId+"&vrWorkType="+vrWorkType+"&vrWorkId="+vrWorkId+"&vrWorkDt="+vrWorkDt;
	             		var url = "/WMSST070/popdetail.action?"+param;

	             		detailGrid.search(param, url);
	             		jQuery("#MAIN_ID").val(id);
	                }
		            return true;
		        }
	    });
	};

	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};

	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback_listGrid, loadErrorCallback);

	/* 그리드 포맷터 */
	function fn_GridFormatter(value, option, row){
		switch(option.pos){			
			case 16:
				if ( jQuery.trim(value) != "" ) {
					var	hh = value.substring(0,2);
					var mm = value.substring(2,4);
					var hhmm = hh+":"+mm;
					return hhmm;
				} else {
					return value;
				}
			case 9:
				return '<img src="/img/exam/btn/ico_search.gif" onClick="fn_Popup('+"'ITEM_SET'"+','+option.rowId+');" />';

		}
	}
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
	var grid = jQuery("#list");

		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}

		var vrRitemId = grid.getCell(id, 'RITEM_ID');
 		var vrWorkType = grid.getCell(id, 'WORK_TYPE');
 		var vrWorkId = grid.getCell(id, 'WORK_ID');
 		var vrWorkDt = grid.getCell(id, 'WORK_DT');

 		var param ="vrRitemId="+vrRitemId+"&vrWorkType="+vrWorkType+"&vrWorkId="+vrWorkId+"&vrWorkDt="+vrWorkDt;
 		var url = "/WMSST070/popdetail.action?"+param;

 		detailGrid.search(param, url);
 		jQuery("#MAIN_ID").val(id);

	});


	/* 그리드 공통화 적용 끝- listGrid */



	/* 헤더 그룹처리 */
	jQuery("#list").jqGrid('setGroupHeaders', {
		useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		//startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
			,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',       numberOfColumns : 3	,titleText : '$!lang.getText("세트상품")'},
		                  {startColumnName : 'WH_CD',     numberOfColumns : 2	,titleText : '$!lang.getText("창고")'},
							]
	});



	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명
	var colNameArray_detail = [
	                           'CHK_BOX',
	   	  	                   'ST_GUBUN',
	   	  	                   '',
	   	  	                   'FLAG',

 	   	  					   '$!lang.getText("로케이션지정")',
 	   	  					   '$!lang.getText("LOT번호")',
 	   	  					   '$!lang.getText("코드")',
	   	  					   '$!lang.getText("상품명")',
		  					   '$!lang.getText("수량")',
		  					   'UOM',

		  					   '$!lang.getText("코드")',
		  					   '$!lang.getText("화주명")',
		  					   '$!lang.getText("코드")',
		  					   '$!lang.getText("창고명")',
	                 			'ORD_ID',
	                 			'ORD_SEQ',
	                 			'WORK_TYPE',
	                 			'ORD_TYPE',
	                 			'WH_ID',
	                 			'WORK_ID',
	                 			'ORI_QTY',
	                 			'WORK_SEQ'
	                          ];
	// 그리드 컬럼 정의
	var colModelArray_detail = [
	                   	{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
	                	{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
	                	{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:20,	align:"center", hidden:true},
	                	{name:'FLAG',					index:'FLAG',						align:"left", hidden:true },

	                	{name:'LOC_STAT',				index:'LOC_STAT',		width:60,			align:"center", formatter : 'select'	,edittype : "select"	,editoptions : {value :":$!lang.getText('선택');"+#set($size = $STS00.size()) #set($cnt = 1) "#foreach($edit in $STS00) $edit.CODE_CD:$edit.CODE_NM#if($cnt < $size);#set($cnt = $cnt+1)#end#end"}},
	                	{name:'CUST_LOT_NO',			index:'CUST_LOT_NO',	width:100,	align:"center"},
	        			{name:'RITEM_CD',				index:'RITEM_CD',		width:80,			align:"center"},
	        			{name:'RITEM_NM',				index:'RITEM_NM',		width:140,			align:"left"},
	        			{name:'QTY',					index:'QTY',			width:40,		  	align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
	        			{name:'UOM_NM',					index:'UOM_NM',			width:40,			align:"center"},

	        			{name:'CUST_CD',				index:'CUST_CD',		width:80,			align:"center"},
	        			{name:'CUST_NM',				index:'CUST_NM',		width:80,			align:"left"},
	        			{name:'WH_CD',					index:'WH_CD',			width:80,			align:"center"},
	        			{name:'WH_NM',					index:'WH_NM',			width:100,			align:"left"},
	        			{name:'ORD_ID',					index:'ORD_ID',						align:"left", hidden:true },
	        			{name:'ORD_SEQ',				index:'ORD_SEQ',					align:"left", hidden:true },
	        			{name:'WORK_TYPE',				index:'WORK_TYPE',					align:"left", hidden:true },
	        			{name:'ORD_TYPE',				index:'ORD_TYPE',					align:"left", hidden:true },
	        			{name:'WH_ID',					index:'WH_ID',						align:"left", hidden:true },
	        			{name:'WORK_ID',				index:'WORK_ID',					align:"left", hidden:true },
	        			{name:'ORI_QTY',				index:'ORI_QTY',					align:"left", hidden:true },
	        			{name:'WORK_SEQ',				index:'WORK_SEQ',					align:"left", hidden:true }
	        ];

	var option_detail = {
		'title' : '$!lang.getText("부분품내역")',
		'height' : 150,
		'width' : '100%',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : false,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    'rowList' : [20,40,60],
	    'rownumbers' : true,
	    'shrinkToFit' : true,
	    'rownumWidth' : 40,
	};

	function loadCompleteEventCallback (data){
		var main_grid = jQuery("#list");
		var id = jQuery("#MAIN_ID").val();
		var grid = jQuery("#detail");
		var gridData = grid.getRowData();
		var qty = 0;

		if(Number(main_grid.getCell(id,"WORK_QTY")) != 0){
			for(var i = 0 ; i < gridData.length; i++){
				qty = Number(gridData[i].QTY) * Number(main_grid.getCell(id,"WORK_QTY"));
				grid.setCell((i+1), "QTY", qty);
			}
		}else{
			for(var i = 0 ; i < gridData.length; i++){
				qty = Number(gridData[i].QTY) * Number(jQuery("#"+id+"_WORK_QTY").val());
				grid.setCell((i+1), "QTY", qty);
			}
		}

		jQuery("tr.jqgrow", this).contextMenu('myMenu', {
	        bindings: {
	            'menu1': function(t) {fn_ready_Location();}, //
	            'menu2': function(t) {fn_sub_ready_Location(t.id);}, //
	            'menu3': function(t) {fn_pdf(t.id);}, //
	            'menu4': function(t) {fn_complete();} //
	        },

	        onContextMenu: function(event, menu) {
	        	 var id = jQuery(event.target).closest("tr.jqgrow").attr("id");
					var grid = jQuery("#detail");
	                if(grid.getCell(id, 'CHK_BOX') != "Yes"){
	                	jQuery("#jqg_detail_"+id).attr("checked",true);
	            		grid.setCell(id, 'CHK_BOX', "Yes");
	            		grid.setSelection(id, true);
	                }
		            return true;
		        }
	    });
	};

	var url ="";

	detailGrid.init(jQuery("#detail"), option_detail, url, loadCompleteEventCallback);

	/* 헤더 그룹처리 */
	jQuery("#detail").jqGrid('setGroupHeaders', {
		useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		//startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
			,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',       numberOfColumns : 2	,titleText : '$!lang.getText("부분품")'},
		                  {startColumnName : 'CUST_CD',     numberOfColumns : 2	,titleText : '$!lang.getText("화주")'},
		                  {startColumnName : 'WH_CD',     numberOfColumns : 2	,titleText : '$!lang.getText("창고")'},
							]
	});

});

/* 부분품 수량 계산 : 값 변경시 keyup */
function fn_OnQtyChanged(id){

	var grid = jQuery("#list");
	var grid2 = jQuery("#detail");
	var gridData = grid2.getRowData();
	var work_qty = Number(jQuery("#"+id+"_WORK_QTY").val());

	var qty = 0;

	for(var i = 0 ; i < gridData.length; i++){
		qty = Number(grid2.getCell(i+1, "ORI_QTY"));
		grid2.setCell(i+1, 'QTY', (work_qty * qty));
	}
}

/* 0확인 */
function fn_OnColumnZero(col){
	var grid = jQuery("#list");
	var val = col.value.replace(/ /g, '');

	if(val == ""){
		jQuery("#"+col.id).val('0');
	}
}

//검색
function fn_search(op,op1) {

	//입고예정일 앞 뒤날짜 비교
	var validator = new Validator("frm_list");
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):");
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST070/poplist2.action?"+param;

	listGrid.search(param, url, op, op1);
	detailGrid.clear();
}

/* 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
	jQuery("input[name='vrSrchReqDtTo']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	jQuery("input[name='vrSrchReqDtFrom']").val((new Date()).getFormattedString("YYYY-MM-DD"));
}

/* 신규 */
function fn_new(){
	listGrid.clear();

	 datarow = {
	            ST_GUBUN: "INSERT",
	            ST_GUBUN_IMG: "<img src='/img/exam/btn/add.gif'>",
	            CHK_BOX: "Yes",
	            WORK_TM:"    "
	        };


	listGrid.addRow(datarow);
	detailGrid.clear();
}
/* 로케이션 지정 준비*/
function fn_ready_Location(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	if(selectIds == ""){
		alert('$!lang.getText("처리할내용이없습니다")');
		return false;
	}else{
		selectIds = selectIds[0];
	}

	fn_setLocation(selectIds);
}
/* 로케이션 지정 */
function fn_setLocation(selectIds, vrAutoYn, vrChangeQtyYn){
	vrAutoYn 	  = (vrAutoYn == undefined) ? "" : vrAutoYn;
	vrChangeQtyYn = (vrChangeQtyYn == undefined) ? "" : vrChangeQtyYn;
	var grid 	= jQuery("#list");
	var width 	= "1100";
	var height 	= "780";
	var asppop ;

	for(var i = 0 ; i < selectIds.length ; i++){
	
		var workId = grid.getCell(selectIds[i], 'WORK_ID');
		if(workId == ''){
			alert('$!lang.getText("임가공해체 정보를 저장하신 후, 로케이션 할당을 진행하시기 바랍니다.")');
			return false;
		}
	
		var param = "?func=fn_search";
		param += "&vrOrdId="+grid.getCell(selectIds[i], 'ORD_ID');
		param += "&vrOrdSeq=";
		param += "&vrWhId="		+grid.getCell(selectIds[i], 'WH_ID');
		param += "&vrWhNm="		+grid.getCell(selectIds[i], 'WH_NM');
		param += "&vrWorkStat="	+grid.getCell(selectIds[i], 'WORK_STAT');
		param += "&vrWorkType="+grid.getCell(selectIds[i], 'WORK_TYPE');
		param += "&vrOrdType="+grid.getCell(selectIds[i], 'ORD_TYPE');;
		param += "&vrWorkId="	+grid.getCell(selectIds[i], 'WORK_ID');
		param += "&vrWorkQty="	+grid.getCell(selectIds[i], 'WORK_QTY');
		if(vrAutoYn != "") {
			param += "&vrAutoYn="+vrAutoYn;
		}
		if(vrChangeQtyYn != ""){
			param += "&vrChangeQtyYn="+vrChangeQtyYn;
		}
		//var url = '/WMSOP000Q5.action'+param;
		var url = '/WMSOP000Q7.action'+param;
	 	var asppop = cfn_openPop2(url, "fn_LocationPopup_"+i, width, height);
	 	asppop.focus();
	}
}
/* 서브 로케이션 지정 준비*/
function fn_sub_ready_Location(id){
	var grid = jQuery("#detail");
	var chk = grid.getRowData().length;
	var selectIds = id;
	var popSeq  = []; //팝업 순서 정렬 값 배열
	
	if(chk == 0){
		alert('$!lang.getText("처리할내용이없습니다")');
		return false;
	}
	for(var i = 0 ; i < chk ; i ++){
		popSeq.push(i+1);
	}
	for(var i = 0 ; i < popSeq.length ; i++){
		popSeq.sort(function(a, b){return b-a});
		fn_sub_setLocation(popSeq[i]);
	}
}
/* 서브 로케이션 지정 */
function fn_sub_setLocation(selectIds, vrAutoYn, vrChangeQtyYn){
	vrAutoYn 	  = (vrAutoYn == undefined) ? "" : vrAutoYn;
	vrChangeQtyYn = (vrChangeQtyYn == undefined) ? "" : vrChangeQtyYn;
	var grid 	= jQuery("#detail");
	var width 	= "1100";
	var height 	= "780";
	var asppop ;
	
		var workId = grid.getCell(selectIds, 'WORK_ID');
		if(workId == ''){
			alert('$!lang.getText("임가공해체 정보를 저장하신 후, 로케이션 할당을 진행하시기 바랍니다.")');
			return false;
		}

		var param = "?func=fn_search";
		param += "&vrOrdId="+grid.getCell(selectIds, 'ORD_ID');
		param += "&vrOrdSeq=";
		param += "&vrWhId="		+grid.getCell(selectIds, 'WH_ID');
		param += "&vrWhNm="		+grid.getCell(selectIds, 'WH_NM');
		param += "&vrWorkStat="	+grid.getCell(selectIds, 'WORK_STAT');
		param += "&vrWorkType="+grid.getCell(selectIds, 'WORK_TYPE');
		param += "&vrOrdType="+grid.getCell(selectIds, 'ORD_TYPE');;
		param += "&vrWorkId="	+grid.getCell(selectIds, 'WORK_ID');
		param += "&vrWorkSeq="	+grid.getCell(selectIds, 'WORK_SEQ');
		param += "&vrWorkQty="	+grid.getCell(selectIds, 'QTY');
		if(vrAutoYn != "") {
			param += "&vrAutoYn="+vrAutoYn;
		}
		if(vrChangeQtyYn != ""){
			param += "&vrChangeQtyYn="+vrChangeQtyYn;
		}
		//var url = '/WMSOP000Q5.action'+param;
		var url = '/WMSOP000Q7.action'+param;
	 	var asppop = cfn_openPop2(url, "fn_LocationPopup_"+selectIds, width, height);
	 	asppop.focus();

}
//확정
function fn_complete(){
	var grid = jQuery("#list");
	var grid2 = jQuery("#detail");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var selectIds2 = grid2.getRowData();
	var tmpCnt=0;

	/* 그리드 유효성 검사 */
	if(!fn_listValidation()){return;}
	
	for(var i=0; i<selectIds.length; i++){
			var LOC_STAT = jQuery.trim(grid.getCell(selectIds[i], 'LOC_STAT'));
			if(LOC_STAT == "UF"){
				alert(selectIds[i] + "$!message.getMessage("번의 완성품 로케이션을 지정해주시기 바랍니다.")");
				return false;
			}
	}
	for(var i=0; i<selectIds2.length; i++){
			var LOC_STAT = jQuery.trim(grid2.getCell(i+1, 'LOC_STAT'));
			if(LOC_STAT == "UF"){
				alert(Number(i+1) + "$!message.getMessage("번의 구성품 로케이션을 지정해주시기 바랍니다.")");
				return false;
			}
	}
	
	if(confirm("$!lang.getText('해체확정을하시겠습니까')")){
		if(selectIds == ""){
			alert('$!lang.getText("처리할내용이없습니다")');
			return false;
		}else{
			selectIds = selectIds[0];
		}

		if(selectIds != ""){
			jQuery("#formData").html("");
			if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
	            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
	            jQuery("#formData").append("<br>");
	        }else{
	        	tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
	        }
		}

		for(var i = 0 ; i < selectIds.length ; i++){
			jQuery("#formData").append("<input type='text' name='vrWorkId' value='"+ grid.getCell(selectIds[i], 'WORK_ID') +"'/>");
			jQuery("#formData").append("<input type='text' name='gubun' value='unkit'/>");
			tmpCnt++;
		}
		jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
	}else{
		return false;
	}

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST070/complete.action";

	jQuery.post(url, param, function(data) {
		alert(data.MSG);
		/*
		if(data.errCnt < 1 ){
			fn_search();
			detailGrid.clear();
		}*/
		if(data.errCnt <= 0 ){
			fn_search();
			detailGrid.clear();
			var arg_func = jQuery("input[name='func']").val();
      		if(arg_func != ""){
				var opnr_func = eval("opener." + arg_func);
      			opnr_func();
			}
			javascript:self.close(); // 팝업창 닫기
		}
	}).fail(function(xhr, textStatus, err){
		if(xhr.status == 404){
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	});
}

//삭제
function fn_delete(){
	listGrid.deleteRow();
}

//그리드 유효성 검사
function fn_listValidation(){
	var grid = jQuery("#list");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('상품코드')", "$!lang.getText('상품명')", "$!lang.getText('수량')"];
		var tmpId = ["RITEM_CD", "RITEM_NM","WORK_QTY"];
		var tmpVal;
		var tmpLeng = [10, 1];

		for(var i=0; i<selectIds.length; i++){
			var RITEM_CD = jQuery.trim(jQuery("#"+selectIds[i] + "_RITEM_CD","#list").val());
			var RITEM_NM = jQuery.trim(jQuery("#"+selectIds[i] + "_RITEM_NM","#list").val());
			var WORK_QTY = jQuery.trim(jQuery("#"+selectIds[i] + "_WORK_QTY","#list").val());
			tmpVal = [RITEM_CD, RITEM_NM, WORK_QTY];

			/* 필수값 체크 */
			for(var j=0; j<tmpVal.length; j++){
				if(tmpVal[j] == ""){
					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
					return false;
				}
			}
			/* 특수문자 체크 
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					return false;
				}
			}*/
			/* 수량 최대 길이, 숫자인지 */
			if(WORK_QTY.byteLength() > 10){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[2]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REAL_PLT_QTY", "#detail").focus();
				return false;
			}else if(!WORK_QTY.isNumber()){
				alert("$!message.getMessage('0번째행의1은숫자만입력가능', '" + selectIds[i] + "','"+tmpText[2]+"')");
				jQuery("#"+selectIds[i]+"_REAL_PLT_QTY", "#detail").focus();
				return false;
			}
			/* 이동수량 0보다 작은지 체크 */
			if(1 > Number(jQuery("#"+selectIds[i]+"_WORK_QTY", "#list").val())){
				alert("$!message.getMessage('0번째행의1이2보다작아', '" + selectIds[i] + "','"+tmpText[2]+"','" + tmpLeng[1]+"')");
				jQuery("#"+selectIds[i]+"_WORK_QTY", "#list").focus();
				return false;
			}
		}
	}
	return true;
}

//저장
/* INSERT, DELETE 기능만됨 기존 로직 UPDATE는 불가능하도록 만들어짐
 * INSERT, DELETE 둘다 한건씩만 처리됨 ( 기존로직반영 )
 */
function fn_save(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt = 0;

	if( selectIds == "" ){
        alert("$!lang.getText('저장할데이터를선택해주세요')");
        return false;
    }

	/* 그리드 유효성 검사 */
	if(!fn_listValidation()){return;}

	if(confirm("$!lang.getText('저장하시겠습니까')")){

		if(selectIds != ""){
			jQuery("#formData").html("");
			if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
	            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
	            jQuery("#formData").append("<br>");
	        }else{
	        	tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
	        }
		}
		for(var i = 0 ; i < selectIds.length ; i++){
			if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))) {
				//작업존재시 이미 생성된 주문으로 판단하므로 별도의 생성없음
					if(grid.getCell(selectIds[i],"WORK_ID") != ""){
						alert("$!lang.getText('이미저장되었습니다.')");
						return false;
					}
				jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+ cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) +"'/>");
				isProcess = true;

			}else if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))) {
				jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+ cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) +"'/>");
				isProcess = true;
			}else{
				if(grid.getCell(selectIds[i],"WORK_ID") != ""){
					alert("$!lang.getText('이미저장되었습니다.')");
					return false;
				}
			}

			if(isProcess){
				jQuery("#formData").append("<input type='text' name='vrWorkId"+tmpCnt+"' 			value='"+ grid.getCell(selectIds[i], 'WORK_ID') +"'/>");
				jQuery("#formData").append("<input type='text' name='vrInWhId"+tmpCnt+"' 			value='"+ jQuery("#vrInWhId").val() +"'/>");
				jQuery("#formData").append("<input type='text' name='vrOutWhId"+tmpCnt+"' 			value='"+ jQuery("#vrOutWhId").val() +"'/>");
				jQuery("#formData").append("<input type='text' name='ritemId"+tmpCnt+"' 			value='"+ grid.getCell(selectIds[i], 'RITEM_ID') +"'/>");
				jQuery("#formData").append("<input type='text' name='uomId"+tmpCnt+"' 				value='"+ grid.getCell(selectIds[i], 'UOM_ID') +"'/>");
				jQuery("#formData").append("<input type='text' name='custId"+tmpCnt+"' 				value='"+ grid.getCell(selectIds[i], 'CUST_ID') +"'/>");
				jQuery("#formData").append("<input type='text' name='qty"+tmpCnt+"' 				value='"+ jQuery("#"+selectIds[i] + "_WORK_QTY", "#list").val() +"'/>");
				jQuery("#formData").append("<input type='text' name='type"+tmpCnt+"' 				value='2'/>");
			}
			tmpCnt++;
		}
		jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
	}else{
		return false;
	}

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST070/save.action";

	jQuery.post(url, param, function(data) {
		alert(data.MSG);
		if(data.errCnt <= 0 ){
			fn_search();
			detailGrid.clear();
			javascript:self.close(); // 팝업창 닫기
		}
	}).fail(function(xhr, textStatus, err){
		if(xhr.status == 404){
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	});
}
/* 창고코드 입력 */
function vrSrchWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val();
	//창고코드 값이 있으면 실행한다
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchWhId']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhId']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
	}
}

/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchWhId']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhId']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
	}
}

/* 창고코드2 입력 */
function vrInWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrInWhCd"]').val();
	//창고코드 값이 있으면 실행한다
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSMS040_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrInWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrInWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrInWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrInWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrInWhId']").val("");
				jQuery("form[name='frm_list'] input[name='vrInWhNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrInWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrInWhId']").val("");
		jQuery("form[name='frm_list'] input[name='vrInWhNm']").val("");
	}
}

/* 창고명2 입력 */
function vrInWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrInWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrInWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrInWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrInWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrInWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrInWhId']").val("");
				jQuery("form[name='frm_list'] input[name='vrInWhNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrInWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrInWhId']").val("");
		jQuery("form[name='frm_list'] input[name='vrInWhNm']").val("");
	}
}

/* 창고코드3 입력 */
function vrOutWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrOutWhCd"]').val();
	//창고코드 값이 있으면 실행한다
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSMS040_3&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrOutWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrOutWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrOutWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrOutWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrOutWhId']").val("");
				jQuery("form[name='frm_list'] input[name='vrOutWhNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrOutWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrOutWhId']").val("");
		jQuery("form[name='frm_list'] input[name='vrOutWhNm']").val("");
	}
}

/* 창고명3 입력 */
function vrOutWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrOutWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040_3&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrOutWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrOutWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrOutWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrOutWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrOutWhId']").val("");
				jQuery("form[name='frm_list'] input[name='vrOutWhNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrOutWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrOutWhId']").val("");
		jQuery("form[name='frm_list'] input[name='vrOutWhNm']").val("");
	}
}


/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}



/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}



/* 화주ID 입력 */
function vrSrchCustId_OnKillFocus(vrSrchCustId){
	//var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	if( vrSrchCustId != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustId=" + vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
    		if(xhr.status == 404){
    			fn_errCheck(err); // 메인창 로그인화면 이동처리
    			javascript:self.close(); // 팝업창 닫기
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}


/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}



/* UOM 명 입력 */
function vrSrchUomNm_OnKillFocus(){
	var vrSrchUomNm = jQuery('form[name="frm_list"] input[name="vrSrchUomNm"]').val();
	if( vrSrchUomNm != "" ){
		var srchKey = "UOM";
		var param   = "srchKey=" + srchKey + "&vrSrchUomNm=" + vrSrchUomNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			// console.log(data);
			var data = data.UOM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchUomNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM100&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM100.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchUomNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchUomNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val("").focus();
			}
		}).fail(function(xhr, textStatus, err){
    		if(xhr.status == 404){
    			fn_errCheck(err); // 메인창 로그인화면 이동처리
    			javascript:self.close(); // 팝업창 닫기
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchUomNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val("");
	}
}


/* UOM코드 입력 */
function vrSrchUomId_OnKillFocus(){
	var vrSrchUomCd = jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val();
	if( vrSrchUomCd != "" ){
		var srchKey = "UOM";
		var param   = "srchKey=" + srchKey + "&vrSrchUomCd=" + vrSrchUomCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			// console.log(data);
			var data = data.UOM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchUomCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM100&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM100.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchUomNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchUomNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val("").focus();
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchUomNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val("");
	}
}

/* 팝업 호출 */
function fn_Popup(type, id){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "530"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'ITEM_SET':	//검색 상품코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			jQuery("input[name='MAIN_ID']").val(id);
			fn_mainSelect(id);

			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);//vrCustId
			strParameter.push('');
			strParameter.push('Y');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091_2&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'WH':		//검색 창고
			param = "?func=fn_setWMSMS040";
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'WH2':		//검색 창고
			param = "?func=fn_setWMSMS040_2";
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'WH3':		//검색 창고
			param = "?func=fn_setWMSMS040_3";
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'UOM':		//양수 uom
			param = '?func=fn_setWMSCM100&strParameter='+strParameter;
			url = "/WMSCM100.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
	asppop.focus();
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(info.wh_id);
	jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(info.wh_nm);
}
/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040_2(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrInWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrInWhId"]').val(info.wh_id);
	jQuery('form[name="frm_list"] input[name="vrInWhNm"]').val(info.wh_nm);
}
/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040_3(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrOutWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrOutWhId"]').val(info.wh_id);
	jQuery('form[name="frm_list"] input[name="vrOutWhNm"]').val(info.wh_nm);
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(info.ritem_id);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
}
/* 상품 팝업 후 처리 */
function fn_setWMSCM091_2(arr){
	var info = arr[0];
	var id = jQuery("input[name='MAIN_ID']").val();
	var grid = jQuery("#list");

	grid.setCell(id, 'RITEM_ID', info.ritem_id);
	grid.setCell(id, 'UOM_ID', info.uom_id);
	grid.setCell(id, 'UOM_NM', info.uom_nm);
	grid.setCell(id, 'CUST_ID', info.cust_id);
	jQuery("#"+ id + "_RITEM_CD", "#list").val(info.item_code);
	jQuery("#"+ id + "_RITEM_NM", "#list").val(info.item_kor_nm);

	// 상세 검색

	var vrRitemId = grid.getCell(id, 'RITEM_ID');
	var vrWorkType = grid.getCell(id, 'WORK_TYPE');
	var vrWorkId = grid.getCell(id, 'WORK_ID');
	var vrWorkDt = grid.getCell(id, 'WORK_DT');

	var param ="vrRitemId="+vrRitemId+"&vrWorkType="+vrWorkType+"&vrWorkId="+vrWorkId+"&vrWorkDt="+vrWorkDt;
	var url = "/WMSST070/popdetail.action?"+param;

	detailGrid.search(param, url);

}

/* UOM 팝업 적용 */
function fn_setWMSCM100(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchUomNm"]').val(info.uom_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchUomId"]').val(info.uom_id);
}

/* 그리드 선택 */
function fn_mainSelect(id){
	var grid = jQuery("#list");
	if(grid.getCell(id, 'CHK_BOX') != "Yes"){
		jQuery("#jqg_list_"+id).attr("checked",true);
		grid.setCell(id, 'CHK_BOX', "Yes");
		grid.editRow(id);

		if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid.setStatus(id, "INSERT");
		}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid.setStatus(id, "UPDATE");
		}
		grid.setSelection(id, true);
	}
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST070/excel3.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}


/* pdf 생성 */
function fn_pdf(id){
	var grid = jQuery("#list");
	var grid2 = jQuery("#detail");
	var gridData = grid2.getRowData();
	if(cfn_trim(grid.getCell(id,'LOC_STAT')) == "UF"){
		alert("$!lang.getText('완성품및부분품내역의로케이션지정이모두완료되어야합니다')");
		return false;
	}

	for(var i=0; i<gridData.length; i++){
		if(cfn_trim(gridData[i].LOC_STAT) == 'UF'){
			alert("$!lang.getText('완성품및부분품내역의로케이션지정이모두완료되어야합니다')");
			return false;
		}
	}
	var vrRitemId = grid.getCell(id, 'RITEM_ID');
	var vrWorkType = grid.getCell(id, 'WORK_TYPE');
	var vrWorkId = grid.getCell(id, 'WORK_ID');
	var vrWorkDt = grid.getCell(id, 'WORK_DT');
	var param ="vrRitemId="+vrRitemId+"&vrWorkType="+vrWorkType+"&vrWorkId="+vrWorkId+"&vrWorkDt="+vrWorkDt;
	var url = "/WMSST070/preViewCreate2.action";
	
	jQuery.post(url , param ,function(data){
		if(data.ERRCNT != 0) {
			alert(data.MSG);
		}else{
			// url = "/WMSST070/preViewOpen.action?fileName="+data.fileName;
			url	= "/WMSST070/preViewOpen.action?pdfFilePath="+ data.pdfFilePath + "&pdfFileName=" + data.pdfFileName;
			cfn_openPop(url, "fn_pdf1", "1024", "700");
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){
			location.href=('/index.html');
		}
 	});
}

//grid내에서  상품 자동완성
function gridSrchItemCd_OnKillFocusE3(id){

	var grid = jQuery("#list");
	var vrSrchItemCd = jQuery("#"+ id + "_RITEM_CD","#list").val()
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd + "&vrSrchSetItem='Y'";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				jQuery("input[name='MAIN_ID']").val(id);
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				strParameter.push('');
				strParameter.push('');
				strParameter.push('');
				strParameter.push('Y');
				strParameter.push('Y');
				var width  = "800";
				var height = "530";
				param = '?func=fn_setWMSCM091_2&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup2", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("#"+ id + "_RITEM_CD", "#list").val(data[0].CODE);
				grid.setCell(id, "RITEM_ID", data[0].ID);
				jQuery("#"+ id + "_RITEM_NM", "#list").val(data[0].NAME);
				grid.setCell(id, 'UOM_ID', data[0].UOM_ID);
				grid.setCell(id, 'UOM_NM', data[0].UOM_NM);
				grid.setCell(id, 'CUST_ID', data[0].CUST_ID);

				// 상세 검색

				var vrRitemId = grid.getCell(id, 'RITEM_ID');
				var vrWorkType = grid.getCell(id, 'WORK_TYPE');
				var vrWorkId = grid.getCell(id, 'WORK_ID');
				var vrWorkDt = grid.getCell(id, 'WORK_DT');

				var param ="vrRitemId="+vrRitemId+"&vrWorkType="+vrWorkType+"&vrWorkId="+vrWorkId+"&vrWorkDt="+vrWorkDt;
				var url = "/WMSST070/popdetail.action?"+param;

				detailGrid.search(param, url);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("#"+ id + "_RITEM_CD", "#list").val("").focus();
				jQuery("#"+ id + "_RITEM_NM", "#list").val("");
				grid.setCell(id, "RITEM_ID", ' ');
				grid.setCell(id, 'UOM_ID', ' ');
				grid.setCell(id, 'UOM_NM', ' ');
				grid.setCell(id, 'CUST_ID', ' ');

			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("#"+ id + "_RITEM_CD", "#list").val("");
		jQuery("#"+ id + "_RITEM_NM", "#list").val("");
		grid.setCell(id, "RITEM_ID", ' ');
		grid.setCell(id, 'UOM_ID', ' ');
		grid.setCell(id, 'UOM_NM', ' ');
		grid.setCell(id, 'CUST_ID', ' ');
	}
}

//grid내에서  상품명 자동완성
function gridSrchItemNm_OnKillFocusE3(id){
	var grid = jQuery("#list");
	var vrSrchItemNm = jQuery("#"+ id + "_RITEM_NM","#list").val()
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm + "&vrSrchSetItem='Y'";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				jQuery("input[name='MAIN_ID']").val(id);
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				strParameter.push('');
				strParameter.push('');
				strParameter.push('Y');
				strParameter.push('Y');
				var width  = "800";
				var height = "530";
				param = '?func=fn_setWMSCM091_2&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup2", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("#"+ id + "_RITEM_CD", "#list").val(data[0].CODE);
				grid.setCell(id, "RITEM_ID", data[0].ID);
				jQuery("#"+ id + "_RITEM_NM", "#list").val(data[0].NAME);
				grid.setCell(id, 'UOM_ID', data[0].UOM_ID);
				grid.setCell(id, 'UOM_NM', data[0].UOM_NM);
				grid.setCell(id, 'CUST_ID', data[0].CUST_ID);

				// 상세 검색

				var vrRitemId = grid.getCell(id, 'RITEM_ID');
				var vrWorkType = grid.getCell(id, 'WORK_TYPE');
				var vrWorkId = grid.getCell(id, 'WORK_ID');
				var vrWorkDt = grid.getCell(id, 'WORK_DT');

				var param ="vrRitemId="+vrRitemId+"&vrWorkType="+vrWorkType+"&vrWorkId="+vrWorkId+"&vrWorkDt="+vrWorkDt;
				var url = "/WMSST070/popdetail.action?"+param;

				detailGrid.search(param, url);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("#"+ id + "_RITEM_CD", "#list").val("").focus();
				jQuery("#"+ id + "_RITEM_NM", "#list").val("");
				grid.setCell(id, "RITEM_ID", ' ');
				grid.setCell(id, 'UOM_ID', ' ');
				grid.setCell(id, 'UOM_NM', ' ');
				grid.setCell(id, 'CUST_ID', ' ');

			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("#"+ id + "_RITEM_CD", "#list").val("");
		jQuery("#"+ id + "_RITEM_NM", "#list").val("");
		grid.setCell(id, "RITEM_ID", ' ');
		grid.setCell(id, 'UOM_ID', ' ');
		grid.setCell(id, 'UOM_NM', ' ');
		grid.setCell(id, 'CUST_ID', ' ');
	}
}


var strings = new Array();
strings['grid.no_selected_data_for_delete'] = "$!lang.getText('삭제할데이터를선택해주세요')";
strings['grid.no_check_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";
strings['grid.confirm_save'] = "$!lang.getText('저장하시겠습니까')";
strings['grid.no_selected_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";

var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}


</script>
<div class="popupWrap">
   <form name="frm_list" action="" method="post">
   <div class="popupHeader">
			<input type="hidden" id="func" name="func" value="$!request.getParameter('func')"/>
    		<input type="hidden" name="vrChangeWorkId" id="vrChangeWorkId" value="$!DETAIL.CHANGE_WORK_ID"/>
    		<input type="hidden" name="vrWorkSeq" id="vrWorkSeq" value="$!DETAIL.WORK_SEQ"/>
    		<input type="hidden" name="MAIN_ID" id="MAIN_ID"/>
    		<input type="hidden" name="SUB_ID" id="SUB_ID"/>

    		<div class="btnArea marB10">
                <div class="btnAreaLeft">
                  $!lang.getText("임가공해체")
                </div>
    	    </div>

    		<table class="search" id="srchBox">
    			<colgroup>
					<col width="70px"/>
					<col width="23%"/>
					<col width="70px"/>
					<col width="23%"/>
					<col width="70px"/>
					<col width="23%"/>
					<col width="40px"/>

				</colgroup>
				<tr>
					<th>$!lang.getText("작업일자")</th>
					<td>
						<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
						<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>
					</td>

					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()">
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/>
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()">
					</td>

					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()">
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/>
						<input type="hidden"name="vrSrchItemId" id="vrSrchItemId">
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()">
					</td>
					<th class="btnSearch" rowspan="2">
						<input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" />
					</th>
				</tr>

				<tr>
					<th></th>
					<td>
					</td>

					<th class="thBar">$!lang.getText('창고')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()">
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/>
						<input type="hidden"name="vrSrchWhId" id="vrSrchWhId">
						<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()">
					</td>

					<th class="thBar">UOM</th>
					<td>
						<input type="text" class="text" style="width:40%" name="vrSrchUomId" id="vrSrchUomId" onChange="vrSrchUomId_OnKillFocus()"/>
		 				<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("UOM");' class="imgSearch"/>
						<input type="text" class="text" style="width:40%" name="vrSrchUomNm" id="vrSrchUomNm" onChange="vrSrchUomNm_OnKillFocus()"/>
					</td>
<!-- 					<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"  onClick="fn_initSer();" title="RESET"/>	 -->
<!-- 					</th>						 -->
				</tr>
		    </table>
		    
		    <input type ="hidden"	name= "vrWorkIdInit" 		id ="vrWorkIdInit">
		    <input type ="hidden"	name= "vrWorkTypeInit" 		id ="vrWorkTypeInit">
		    
		    <div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>

    </div>

    <div class="popupContent">

  	<div class="btnArea">
  		<div class="btnAreaLeft">
	  		<table border="0">
	  			<col width="300px"/>
				<col width="300px"/>
				<col width="20px"/>
				<col width="23%"/>
	  			<tr>
	  				<td>
		                <div class="btnAreaLeft" style="margin-left:130px">
		                  $!lang.getText("완성품입고창고")
		                </div>
	  				</td>
	  				<td>
	  					<input type="text" class = "text" style="width: 36%" name="vrInWhCd" id="vrInWhCd" onChange="vrInWhCd_OnKillFocus()"><img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH2");' class="imgSearch" style="padding:0px 6px 0px 6px; height:25px;"/><input type="hidden"name="vrInWhId" id="vrInWhId"><input type="text" class = "text" style="width: 36%" name="vrInWhNm" id="vrInWhNm" onChange="vrInWhNm_OnKillFocus()">
	  				</td>
	  				<td></td>
	  				<td>
	  					<div class="btnAreaRight">
							<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
							<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc"          name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/>
							<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"          name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
							<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"       name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
							<input type="button" value='$!lang.getText("닫기")' class="btnEtc" onclick="javascript:self.close();"/>
						</div>
	  				</td>
	  			</tr>
	  		</table>
		</div>
    </div>

    <div class="list_box">
    	<table id="list"></table>
    	<div id="pjmap"></div>
    </div>

    <div class="btnArea">
  		<div class="btnAreaLeft">
	  		<table border="0">
	  			<col width="300px"/>
				<col width="300px"/>
				<col width="20px"/>
				<col width="23%"/>
	  			<tr>
	  				<td>
		                <div class="btnAreaLeft" style="margin-left:180px">
		                  $!lang.getText("부분품출고창고")
		                </div>
	  				</td>
	  				<td>
	  					<input type="text" class = "text" style="width: 36%" name="vrOutWhCd" id="vrOutWhCd" onChange="vrOutWhCd_OnKillFocus()"><img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH3");' class="imgSearch" style="padding:0px 6px 0px 6px; height:25px;"/><input type="hidden"name="vrOutWhId" id="vrOutWhId"><input type="text" class = "text" style="width: 36%" name="vrOutWhNm" id="vrOutWhNm" onChange="vrOutWhNm_OnKillFocus()">
	  				</td>
	  				<td></td>
	  				<td></td>
	  			</tr>
	  		</table>
		</div>
    </div>

	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>
	</div>
	</form>

</div>
	<div id="jqContextMenu" style="display:none">
		<div id="myMenu">
			<ul>
					<li id="menu1" style="display:;">
					<a href='#'><span>$!lang.getText('로케이션지정(완성품)')</span></a>
				</li>
				<li id="menu2" style="display:;">
					<a href='#'><span>$!lang.getText('로케이션지정(부분품)')</span></a>
				</li>
				<li id="menu3" style="display:;">
					<a href='#'><span>$!lang.getText('작업지시서발행')</span></a>
				</li>
				<li id="menu4" style="display:;">
					<a href='#'><span>$!lang.getText('해체확정')</span></a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>