<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="9%"/>
				<col width="24%"/>	
				<col width="7%"/>
				<col width="24%"/>	
				<col width="10%"/>
				<col width="*%"/>
				<col width="40px"/>		
				<col width="40px"/>		
			</colgroup>
			<tr>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="readOnly" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="hdnCustId" id="hdnCustId" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch">
					<input type="hidden" name="hdnCustId" id="hdnCustId"/>
					<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
				</td>
			#end	
				<th>$!lang.getText("로케이션")</th>
				<td>
					<input type="text" class="text" name="txtSrchLocNm" id="txtSrchLocNm" style="width:40%" onChange="vrSrchLocNm_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM080');return false;" class="imgSearch">
					<input type="text" class="text" name="txtSrchLocCd" id="txtSrchLocCd" style="width:40%" onChange="vrSrchLocCd_OnKillFocus()"/>
					<input type="hidden" class="text" name="txtSrchLocId" id="txtSrchLocId"/>
				</td>
				
				<th class="thBar">$!lang.getText("상품군")</th>
				<td colspan="2">
					<select name="vrSrchItemGrpId" id="vrSrchItemGrpId" class="selectbox">
						<option value="">$!lang.getText("전체")</option>
						<option value="N/A">$!lang.getText("미지정")</option>
						#foreach($row in $ITEMGRP)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>	
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>					
			</tr>
			<tr>
				<th>$!lang.getText("창고")</th>
				<td>
					<input type="text" class="text" name="txtSrchWhCd" id="txtSrchWhCd" style="width:40%" onChange="vrSrchWhCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM040');return false;" class="imgSearch">
					<input type="hidden" name="hdnWhId" id="hdnWhId"/>
					<input type="text" class="text" name="txtSrchWhNm" id="txtSrchWhNm" style="width:40%" onChange="vrSrchWhNm_OnKillFocus()"/>
				</td>
				<th></th>
				<td>
					<input type="hidden" class="text" name="txtSrchItemCd" id="txtSrchItemCd" style="width:40%" onChange="txtSrchItemCd_OnKillFocus()"/>
					<!-- <img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM091');return false;" class="imgSearch"> -->
					<input type="hidden" class="text" name="txtSrchItemNm" id="txtSrchItemNm" style="width:40%" onChange="txtSrchItemNm_OnKillFocus()"/>
				</td>
				<th class="thBar">$!lang.getText("옵션")</th>
				<td>
					<input type="checkbox" name="chkEmptyStock" id="chkEmptyStock"> $!lang.getText("미재고표시")
				</td>
				<td colspan="1"> 
				</td>			
<!-- 				<th>$!lang.getText("화주")TYPE</th> -->
<!-- 				<td colspan="2"> -->
<!-- 					$!comCode.getComboComCode("CUST01", "S_CUST_TYPE", "", true, "$!lang.getText('선택')", '', '', "class='selectbox'") -->
<!-- 				</td>				 -->
<!-- 				<th class="btnReset"> -->
<!-- 					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_initSer();" title="Reset" role="button" aria-disabled="false"/> -->
<!-- 				</th> -->
			</tr>
		</table>
		<input type="hidden" name="today"/>
		<input type="hidden" name="GridId" id="GridId"/>
		<input type="hidden" name="localDate" id="localDate"/>

		<input type="hidden" name="vrSrchInGb" id="vrSrchInGb"/>
		<input type="hidden" name="vrSrchItemParam_1" id="vrSrchItemParam_1"/>
		<input type="hidden" name="vrSrchItemParam_2" id="vrSrchItemParam_2"/>
		<input type="hidden" name="vrSrchItemParam_3" id="vrSrchItemParam_3"/>
		<input type="hidden" name="vrSrchItemParam_4" id="vrSrchItemParam_4"/>
		<input type="hidden" name="vrSrchItemParam_5" id="vrSrchItemParam_5"/>
		
		<input type="hidden" name="vrSrchItemParam_6" id="vrSrchItemParam_6"/>
		<input type="hidden" name="vrSrchItemParam_7" id="vrSrchItemParam_7"/>
		<input type="hidden" name="vrSrchItemParam_8" id="vrSrchItemParam_8"/>
		<input type="hidden" name="vrSrchItemParam_9" id="vrSrchItemParam_9"/>
		<input type="hidden" name="vrSrchItemParam_10" id="vrSrchItemParam_10"/>
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	
	<div class="detail_box column_2">
		<div class="fl" style="width:24%">
			<div class="btnArea">
				<div class="btnAreaRight">
					<!-- <input type="button" value="$!lang.getText('추가')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_addRow();" role="button" aria-disabled="false"/> -->
				</div>
			</div>
			<div class="list_box">
				<table id="list0"></table>
				<div id="pjmap0"></div>
			</div>
		</div>
		
		<div class="fr" style="width:75%">
			<div class="btnArea">
				<div class="btnAreaRight">
					<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
				</div>
			</div>
			<div class="list_box">
				<table id="list"></table>
				<div id="pjmap"></div>
			</div>
		</div>
	</div>
	
	<!-- 
	<div class="list_box">
		<table>
			<tr>
				<td style = "width: 24%">
					<table id="list0"></table>
					<div id="pjmap0"></div>
				</td>
				<td style = "width: 1%">
				</td>
				<td style = "width: 75%">
					<table id="list"></table>
					<div id="pjmap"></div>
				</td>
			</tr>
		</table>
	</div>
	 -->
	
	<!-- 
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	 -->
	 
	<div class="btnArea marT10">		
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown2();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>
	
	<form id="moveForm" name="moveForm" method="post" action="/WINUS/WMSST020.action">
		<input type="hidden" name="vrSrchItemCd" id="vrSrchItemCd" />
		<input type="hidden" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" />
		<input type="hidden" name="vrSrchReqDtTo" id="vrSrchReqDtTo" />
	</form>
	
	<form id="moveForm2" name="moveForm2" method="post" action="/WINUS/WMSST051.action">
		<input type="hidden" name="vrSrchItemCd2" id="vrSrchItemCd2" />
	</form>
</div>