<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="12%"/> 
				<col width="22%"/>
				<col width="9%"/> 
				<col width="*%"/>
<!-- 				<col width="40px"/>	 -->
				<col width="40px"/>	
			</colgroup>
			<tr>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th>$!lang.getText("양도화주")</th>
				<td>
					<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th>$!lang.getText('양도화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
				</td>
			#end	
			
				<th>$!lang.getText('작업일자')</th>
				<td colspan="3">
					<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
					 ~
					<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
				</td>
				<td></td>
				
				
<!-- 				<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_initSer();" title="Reset" role="button" aria-disabled="false"/> -->
<!-- 				</th> -->
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
		</table>	
		<input type="hidden"name="MAIN_ID" id="MAIN_ID"> 
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">	
			<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnSave"          name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"       name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"        name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	<div class="list_box" style="width:99.5%">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>				