<div class="patternWrap">
	<form name="frm_list2">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="100px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="*%"/>
				<col width="40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText("월별조회")</th>
				<td> 		
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom2" id="vrSrchReqDtFrom2" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom2)"/> 
				</td>
				<th>$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd2" id="vrSrchCustCd2" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId2" id="vrSrchCustId2"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm2" id="vrSrchCustNm2" onChange="vrSrchCustNm_OnKillFocus()"> 
				</td>

				<th class="thBar">$!lang.getText('상품코드')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd2" id="vrSrchItemCd2" onChange="vrSrchItemCd_OnKillFocus2()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM2");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm2" id="vrSrchItemNm2" onChange="vrSrchItemNm_OnKillFocus2()">
						<input type="hidden" name="vrSrchItemId2" id="vrSrchItemId2"> 
					</td>

				<th class="btnSearch" rowspan="1">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_searchE2();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr> 
		</table>
	</form>
	

	<div class="area" style="display:inline-block; width:100%">
		<div class="leftArea" style="display:inline-block; width:100%; padding-right:20px;">
		    <div class="btnArea">
		        <div class="btnAreaRight">
					<input type="button" value="$!lang.getText('엑셀')" class="INS_AUTH UPD_AUTH btnExcel"   name="btn_excelE2" onclick="fn_excelDownE2();" 	role="button" aria-disabled="false"/> 
		        </div>
		    </div>
		    <div id="divPanel_SpdListE2" style="padding-top:20px; width:100%; min-height:500px;">
				<div style = "padding-bottom:5px; font-size:14px; font-weight:bold;">  <span id="searchMonth2"></span>월 RIGID 일보</div>
				<div id="spdListE2" style="height:700px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>

	</div>
</div>
