<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" onChange="fn_takeDegree()">
					</td>
					<th>
						<select id="cmbSrchType" name="cmbSrchType" >
							<option value="100" selected>$!lang.getText("출고예정일자")</option>
							<option value="200">$!lang.getText("출고일자")</option>
							<option value="300">$!lang.getText('검수확정일자')</option>
						</select>
					</th>
					<td>
						<input type = "date" class = "text" style = "width:45%" name = "vrSrchReqDtFrom" id = "vrSrchReqDtFrom" 	maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/>
						~
						<input type = "date" class = "text" style = "width:45%" name = "vrSrchReqDtTo" id = "vrSrchReqDtTo" 	maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>
					</td>
					<th>$!lang.getText('작업구분')</th>
					<td>
						$!comCode.getComboComCode("ORD03", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
					</td>
					<th>$!lang.getText('주문상세')</th>
					<td>
						$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th class="btnSearch" rowspan="2">
						<input type="button" name="btnSrch" value="$!lang.getText('')" onClick="fn_search();" title="검색" role="button" aria-disabled="false" />	
					</th>
				</tr>
				<tr>
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>
					<th>$!lang.getText('원주문번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 45%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 45%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId">
					</td>
					<th class="thBar">출고 타입</th>
					<td>
						<select id="vrOrdBizType" name="vrOrdBizType" class="selectbox">
							<option value="B2B">B2B</option>
							<option value="B2C">B2C</option>
						</select>
					</td>
				</tr>
            </tbody>
        </table>
	    <div class = "btnArea" style ="margin-bottom:-45px;">
	    	<div class = "btnAreaRight" id="btnArea">
	    		<input type	= "button" class = "INS_AUTH" name = "btn_save" value = "저장"    onclick = "fn_save();"	role = "button" aria-disabled="false"/>
	    		<input type = "button" class = "INS_AUTH UPD_AUTH btnEtc" name = "btn_new" value = "$!lang.getText('엑셀업로드')" onclick = "fn_excelUpload();" role = "button" aria-disabled = "false"/>
	    		<input type	= "button" class = "EXC_AUTH btnExcel" 	name = "btn_write" value = "엑셀"    onclick = "fn_excelDown();"	role = "button" aria-disabled="false"/>
	    	</div>
	    </div>
	</form>
	
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<input type = "hidden" class = "text" name = "vrType" id = "vrType">
		<input type = "hidden" class = "text" name = "vrPageGb" id = "vrPageGb">
		<input type = "hidden" class = "text" name = "vrOrderByGb" id = "vrOrderByGb">
		<input type = "hidden" class = "text" name = "vrBarCodeGb" id = "vrBarCodeGb">
	</form>
	
	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList" style="height:740px; border:1px solid #b0b0b0;"></div>
	</div>
	
</div>
