#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	
	
	
	//************************************************************************************************
	//신영에스디 하드코딩!! sysd 하기 해당 계정 일 경우 @@ 수정 개발 완료 시 삭제 요망 2019-02-28
	//신영에스디 하드코딩!! sysd 하기 해당 계정 일 경우 @@ 수정 개발 완료 시 삭제 요망 2019-02-28
	//신영에스디 하드코딩!! sysd 하기 해당 계정 일 경우 @@ 수정 개발 완료 시 삭제 요망 2019-02-28
	if(    '$!ss_user_id' == "sysd04"
		|| '$!ss_user_id' == "sysd05"
		|| '$!ss_user_id' == "sysd13"
		|| '$!ss_user_id' == "sysd14"
		|| '$!ss_user_id' == "sysd01"
		|| '$!ss_user_id' == "sysd08"){
		
		jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val("SYSD").attr('readOnly', 'readOnly');
		jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val("신영에스디").attr('readOnly', 'readOnly');
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("0000020641");
		jQuery("#btnSrchCustPop").removeAttr('onClick');
	}
	//************************************************************************************************
	
	
	
	var op0  = jQuery("select[name='SVC_INFO'] option:eq(0)").val();
	var op1  = jQuery("select[name='SVC_INFO'] option:eq(1)").val();
	var op2  = jQuery("select[name='SVC_INFO'] option:eq(2)").val();
	var op3  = jQuery("select[name='SVC_INFO'] option:eq(3)").val();
	var op4  = jQuery("select[name='SVC_INFO'] option:eq(4)").val();
	var op5  = jQuery("select[name='SVC_INFO'] option:eq(5)").val();
	var op6  = jQuery("select[name='SVC_INFO'] option:eq(6)").val();
	var op7  = jQuery("select[name='SVC_INFO'] option:eq(7)").val();
	var op8  = jQuery("select[name='SVC_INFO'] option:eq(8)").val();
	var op9  = jQuery("select[name='SVC_INFO'] option:eq(9)").val();
	//if("$ss_svc_use_ty" == "WMS" || "$ss_svc_use_ty" == ""){
		if(op0 != undefined){jQuery("#LC_NAME01").val("01"+ op0)}else{jQuery("#LC_NAME01").val("NDF")}
		if(op1 != undefined){jQuery("#LC_NAME02").val("02"+ op1)}else{jQuery("#LC_NAME02").val("NDF")}
		if(op2 != undefined){jQuery("#LC_NAME03").val("03"+ op2)}else{jQuery("#LC_NAME03").val("NDF")}
		if(op3 != undefined){jQuery("#LC_NAME04").val("04"+ op3)}else{jQuery("#LC_NAME04").val("NDF")}
		if(op4 != undefined){jQuery("#LC_NAME05").val("05"+ op4)}else{jQuery("#LC_NAME05").val("NDF")}
		if(op5 != undefined){jQuery("#LC_NAME06").val("06"+ op5)}else{jQuery("#LC_NAME06").val("NDF")}
		if(op6 != undefined){jQuery("#LC_NAME07").val("07"+ op6)}else{jQuery("#LC_NAME07").val("NDF")}
		if(op7 != undefined){jQuery("#LC_NAME08").val("08"+ op7)}else{jQuery("#LC_NAME08").val("NDF")}
		if(op8 != undefined){jQuery("#LC_NAME09").val("09"+ op8)}else{jQuery("#LC_NAME09").val("NDF")}
		if(op9 != undefined){jQuery("#LC_NAME10").val("10"+ op9)}else{jQuery("#LC_NAME10").val("NDF")}
	//}else if("$ss_svc_use_ty" == "DLV"){
	//	if(op1 != undefined){jQuery("#LC_NAME01").val("02"+ op1)}else{jQuery("#LC_NAME01").val("NDF")}
	//	if(op2 != undefined){jQuery("#LC_NAME02").val("03"+ op2)}else{jQuery("#LC_NAME02").val("NDF")}
	//	if(op3 != undefined){jQuery("#LC_NAME03").val("04"+ op3)}else{jQuery("#LC_NAME03").val("NDF")}
	//	if(op4 != undefined){jQuery("#LC_NAME04").val("05"+ op4)}else{jQuery("#LC_NAME04").val("NDF")}
	//	if(op5 != undefined){jQuery("#LC_NAME05").val("06"+ op5)}else{jQuery("#LC_NAME05").val("NDF")}
	//	if(op6 != undefined){jQuery("#LC_NAME06").val("07"+ op6)}else{jQuery("#LC_NAME06").val("NDF")}
	//}
	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	//var getReqDtFrom = dateReckon(new Date(vrSrchReqDt),7,"M");
	jQuery("input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDtTo']").val(vrSrchReqDt);
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	jQuery("input[name='today']").val((new Date()).getFormattedString("YYYY-MM-DD"));

	// button
	jQuery("input:button").button();
	
	/* 대표화주코드 참조 :: 화주코드가 없을 경우*/
	//var vrSrchCustCd = jQuery("#vrSrchCustCd").val();
	if("$!ss_user_gb" != "20"){
		fn_getTypicalCust();
	}
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명
	var colNameArray = [
				  '$!lang.getText("작업일자")',
	              '$!lang.getText("상품코드")',
	              '$!lang.getText("상품명")',
	              'UOM',
				   //1_A
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //2_B
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //3_C
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //4_D
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //5_E
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //6_F
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //7_G
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //8_H
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
				   //9_I
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
	               //10_J
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("불량")',
	              '$!lang.getText("정상재고")',
	              '$!lang.getText("전체재고")',
	              
	              '$!lang.getText("입고합계")',
	              '$!lang.getText("출고합계")',
	              '$!lang.getText("불량합계")',
	              '$!lang.getText("정상합계")',
	              '$!lang.getText("전체합계")',
	              
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG'
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'SUBUL_DT',			index:'SUBUL_DT',			width:80,		align:"center", frozen:true},
			{name:'RITEM_CD',			index:'RITEM_CD',			width:100,		align:"center", frozen:true},
			{name:'RITEM_NM',			index:'RITEM_NM',			width:150,		align:"left"  , frozen:true},
			{name:'UOM_CD',				index:'UOM_CD',				width:40,		align:"center"},
			
			{name:'IN_A',				index:'IN_A',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_A',				index:'OUT_A',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_A',				index:'BAD_A',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_A',			index:'STOCK_A',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_A',				index:'GOOD_A',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'IN_B',				index:'IN_B',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_B',				index:'OUT_B',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_B',				index:'BAD_B',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_B',			index:'STOCK_B',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_B',				index:'GOOD_B',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_C',				index:'IN_C',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_C',				index:'OUT_C',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_C',				index:'BAD_C',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_C',			index:'STOCK_C',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_C',				index:'GOOD_C',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_D',				index:'IN_D',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_D',				index:'OUT_D',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_D',				index:'BAD_D',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_D',			index:'STOCK_D',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_D',				index:'GOOD_D',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_E',				index:'IN_E',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_E',				index:'OUT_E',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_E',				index:'BAD_E',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_E',			index:'STOCK_E',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_E',				index:'GOOD_E',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_F',				index:'IN_F',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_F',				index:'OUT_F',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_F',				index:'BAD_F',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_F',			index:'STOCK_F',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_F',				index:'GOOD_F',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_G',				index:'IN_G',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_G',				index:'OUT_G',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_G',				index:'BAD_G',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_G',			index:'STOCK_G',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_G',				index:'GOOD_G',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_H',				index:'IN_H',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_H',				index:'OUT_H',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_H',				index:'BAD_H',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_H',			index:'STOCK_H',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_H',				index:'GOOD_H',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'IN_I',				index:'IN_I',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_I',				index:'OUT_I',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_I',				index:'BAD_I',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_I',			index:'STOCK_I',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_I',				index:'GOOD_I',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'IN_J',				index:'IN_J',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_J',				index:'OUT_J',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_J',				index:'BAD_J',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_J',			index:'STOCK_J',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_J',				index:'GOOD_J',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'ROW_SUM_1',			index:'ROW_SUM_1',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'ROW_SUM_2',			index:'ROW_SUM_2',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'ROW_SUM_3',			index:'ROW_SUM_3',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'ROW_SUM_5',			index:'ROW_SUM_5',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'ROW_SUM_4',			index:'ROW_SUM_4',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'CHK_BOX',			index:'CHK_BOX',							align:"left",	hidden:true},
			{name:'ST_GUBUN',			index:'ST_GUBUN',							align:"left",	hidden:true},
			{name:'ST_GUBUN_IMG',		index:'ST_GUBUN_IMG',		width:20,		align:"left",	hidden:true},
			{name:'FLAG',				index:'FLAG',								align:"left",	hidden:true},
		];

	var option = {
		'title' : '$!lang.getText("일별재고 리스트")',
		'height' : 250,
		'width' : '98%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : false,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : false,
        'shrinkToFit' : false,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40,
        'footerrow' 	: true,
		'userDataOnFooter' : true
	};
	
	var paramInit = jQuery("form[name='frm_list']").serialize();
	var url="/WMSST280/list.action?"+paramInit;

	/* 고객사 ID의 경우 검색화주를 고정시킨 */
	if("$!ss_user_gb" == "20"){
		url += "&vrSrchCustCd=$!ss_cmpy_code&vrSrchCustNm=$!ss_cmpy_name";
		// 고객사 ID의 경우 검색화주를 고정시킴
		jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val("$ss_cmpy_id");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("$ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("$ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] img[name='btnSrchCustPop']").removeAttr("onclick");
	}
	
	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		/* 합계처리 변수 */
		var SUM_IN_A    = 0;
		var SUM_OUT_A   = 0;
		var SUM_BAD_A   = 0;
		var SUM_GOOD_A  = 0;
		var SUM_STOCK_A = 0;
		
		var SUM_IN_B    = 0;
		var SUM_OUT_B   = 0;
		var SUM_BAD_B   = 0;
		var SUM_GOOD_B  = 0;
		var SUM_STOCK_B = 0;
		
		var SUM_IN_C    = 0;
		var SUM_OUT_C   = 0;
		var SUM_BAD_C   = 0;
		var SUM_GOOD_C  = 0;
		var SUM_STOCK_C = 0;
		
		var SUM_IN_D    = 0;
		var SUM_OUT_D   = 0;
		var SUM_BAD_D   = 0;
		var SUM_GOOD_D  = 0;
		var SUM_STOCK_D = 0;
		
		var SUM_IN_E    = 0;
		var SUM_OUT_E   = 0;
		var SUM_BAD_E   = 0;
		var SUM_GOOD_E  = 0;
		var SUM_STOCK_E = 0;
		
		var SUM_IN_F    = 0;
		var SUM_OUT_F   = 0;
		var SUM_BAD_F   = 0;
		var SUM_GOOD_F  = 0;
		var SUM_STOCK_F = 0;
		
		var SUM_IN_G    = 0;
		var SUM_OUT_G   = 0;
		var SUM_BAD_G   = 0;
		var SUM_GOOD_G  = 0;
		var SUM_STOCK_G = 0;
		
		var SUM_IN_H    = 0;
		var SUM_OUT_H   = 0;
		var SUM_BAD_H   = 0;
		var SUM_GOOD_H  = 0;
		var SUM_STOCK_H = 0;
		
		var SUM_IN_I    = 0;
		var SUM_OUT_I   = 0;
		var SUM_BAD_I   = 0;
		var SUM_GOOD_I  = 0;
		var SUM_STOCK_I = 0;
		
		var SUM_IN_J    = 0;
		var SUM_OUT_J   = 0;
		var SUM_BAD_J   = 0;
		var SUM_GOOD_J  = 0;
		var SUM_STOCK_J = 0;
		
		var SUM_ROW_SUM_1 = 0;
		var SUM_ROW_SUM_2 = 0;
		var SUM_ROW_SUM_3 = 0;
		var SUM_ROW_SUM_4 = 0;
		var SUM_ROW_SUM_5 = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_IN_A    = SUM_IN_A    + Number(gridData[i].IN_A);
			SUM_OUT_A   = SUM_OUT_A   + Number(gridData[i].OUT_A);
			SUM_BAD_A   = SUM_BAD_A   + Number(gridData[i].BAD_A);
			SUM_GOOD_A  = SUM_GOOD_A  + Number(gridData[i].GOOD_A);
			SUM_STOCK_A = SUM_STOCK_A + Number(gridData[i].STOCK_A);
			
			SUM_IN_B    = SUM_IN_B    + Number(gridData[i].IN_B);
			SUM_OUT_B   = SUM_OUT_B   + Number(gridData[i].OUT_B);
			SUM_BAD_B   = SUM_BAD_B   + Number(gridData[i].BAD_B);
			SUM_GOOD_B  = SUM_GOOD_B  + Number(gridData[i].GOOD_B);
			SUM_STOCK_B = SUM_STOCK_B + Number(gridData[i].STOCK_B);
			
			SUM_IN_C    = SUM_IN_C    + Number(gridData[i].IN_C);
			SUM_OUT_C   = SUM_OUT_C   + Number(gridData[i].OUT_C);
			SUM_BAD_C   = SUM_BAD_C   + Number(gridData[i].BAD_C);
			SUM_GOOD_C  = SUM_GOOD_C  + Number(gridData[i].GOOD_C);
			SUM_STOCK_C = SUM_STOCK_C + Number(gridData[i].STOCK_C);
			
			SUM_IN_D    = SUM_IN_D    + Number(gridData[i].IN_D);
			SUM_OUT_D   = SUM_OUT_D   + Number(gridData[i].OUT_D);
			SUM_BAD_D   = SUM_BAD_D   + Number(gridData[i].BAD_D);
			SUM_GOOD_D  = SUM_GOOD_D  + Number(gridData[i].GOOD_D);
			SUM_STOCK_D = SUM_STOCK_D + Number(gridData[i].STOCK_D);
			
			SUM_IN_E    = SUM_IN_E    + Number(gridData[i].IN_E);
			SUM_OUT_E   = SUM_OUT_E   + Number(gridData[i].OUT_E);
			SUM_BAD_E   = SUM_BAD_E   + Number(gridData[i].BAD_E);
			SUM_GOOD_E  = SUM_GOOD_E  + Number(gridData[i].GOOD_E);
			SUM_STOCK_E = SUM_STOCK_E + Number(gridData[i].STOCK_E);
			
			SUM_IN_F    = SUM_IN_F    + Number(gridData[i].IN_F);
			SUM_OUT_F   = SUM_OUT_F   + Number(gridData[i].OUT_F);
			SUM_BAD_F   = SUM_BAD_F   + Number(gridData[i].BAD_F);
			SUM_GOOD_F  = SUM_GOOD_F  + Number(gridData[i].GOOD_F);
			SUM_STOCK_F = SUM_STOCK_F + Number(gridData[i].STOCK_F);
			
			SUM_IN_G    = SUM_IN_G    + Number(gridData[i].IN_G);
			SUM_OUT_G   = SUM_OUT_G   + Number(gridData[i].OUT_G);
			SUM_BAD_G   = SUM_BAD_G   + Number(gridData[i].BAD_G);
			SUM_GOOD_G  = SUM_GOOD_G  + Number(gridData[i].GOOD_G);
			SUM_STOCK_G = SUM_STOCK_G + Number(gridData[i].STOCK_G);
			
			SUM_IN_H    = SUM_IN_H    + Number(gridData[i].IN_H);
			SUM_OUT_H   = SUM_OUT_H   + Number(gridData[i].OUT_H);
			SUM_BAD_H   = SUM_BAD_H   + Number(gridData[i].BAD_H);
			SUM_GOOD_H  = SUM_GOOD_H  + Number(gridData[i].GOOD_H);
			SUM_STOCK_H = SUM_STOCK_H + Number(gridData[i].STOCK_H);
			
			SUM_IN_I    = SUM_IN_I    + Number(gridData[i].IN_I);
			SUM_OUT_I   = SUM_OUT_I   + Number(gridData[i].OUT_I);
			SUM_BAD_I   = SUM_BAD_I   + Number(gridData[i].BAD_I);
			SUM_GOOD_I  = SUM_GOOD_I  + Number(gridData[i].GOOD_I);
			SUM_STOCK_I = SUM_STOCK_I + Number(gridData[i].STOCK_I);
			
			SUM_IN_J    = SUM_IN_J    + Number(gridData[i].IN_J);
			SUM_OUT_J   = SUM_OUT_J   + Number(gridData[i].OUT_J);
			SUM_BAD_J   = SUM_BAD_J   + Number(gridData[i].BAD_J);
			SUM_GOOD_J  = SUM_GOOD_J  + Number(gridData[i].GOOD_J);
			SUM_STOCK_J = SUM_STOCK_J + Number(gridData[i].STOCK_J);
			
			SUM_ROW_SUM_1 = SUM_ROW_SUM_1 + Number(gridData[i].ROW_SUM_1);
			SUM_ROW_SUM_2 = SUM_ROW_SUM_2 + Number(gridData[i].ROW_SUM_2);
			SUM_ROW_SUM_3 = SUM_ROW_SUM_3 + Number(gridData[i].ROW_SUM_3);
			SUM_ROW_SUM_4 = SUM_ROW_SUM_4 + Number(gridData[i].ROW_SUM_4);
			SUM_ROW_SUM_5 = SUM_ROW_SUM_5 + Number(gridData[i].ROW_SUM_5);
		}
		
		/* 합계처리 변수 셋업 */
		var footData = {
				RITEM_NM : "$!lang.getText('합계')"
				,IN_A    : SUM_IN_A
				,OUT_A   : SUM_OUT_A
				,BAD_A   : SUM_BAD_A
				,GOOD_A  : SUM_GOOD_A
				,STOCK_A : SUM_STOCK_A
				
				,IN_B    : SUM_IN_B
				,OUT_B   : SUM_OUT_B
				,BAD_B   : SUM_BAD_B
				,GOOD_B  : SUM_GOOD_B
				,STOCK_B : SUM_STOCK_B
				
				,IN_C    : SUM_IN_C
				,OUT_C   : SUM_OUT_C
				,BAD_C   : SUM_BAD_C
				,GOOD_C  : SUM_GOOD_C
				,STOCK_C : SUM_STOCK_C
				
				,IN_D    : SUM_IN_D
				,OUT_D   : SUM_OUT_D
				,BAD_D   : SUM_BAD_D
				,GOOD_D  : SUM_GOOD_D
				,STOCK_D : SUM_STOCK_D
				
				,IN_E    : SUM_IN_E
				,OUT_E   : SUM_OUT_E
				,BAD_E   : SUM_BAD_E
				,GOOD_E  : SUM_GOOD_E
				,STOCK_E : SUM_STOCK_E
				
				,IN_F    : SUM_IN_F
				,OUT_F   : SUM_OUT_F
				,BAD_F   : SUM_BAD_F
				,GOOD_F  : SUM_GOOD_F
				,STOCK_F : SUM_STOCK_F
				
				,IN_G    : SUM_IN_G
				,OUT_G   : SUM_OUT_G
				,BAD_G   : SUM_BAD_G
				,GOOD_G  : SUM_GOOD_G
				,STOCK_G : SUM_STOCK_G
				
				,IN_H    : SUM_IN_H
				,OUT_H   : SUM_OUT_H
				,BAD_H   : SUM_BAD_H
				,GOOD_H  : SUM_GOOD_H
				,STOCK_H : SUM_STOCK_H
				
				,IN_I    : SUM_IN_I
				,OUT_I   : SUM_OUT_I
				,BAD_I   : SUM_BAD_I
				,GOOD_I  : SUM_GOOD_I
				,STOCK_I : SUM_STOCK_I
				
				,IN_J    : SUM_IN_J
				,OUT_J   : SUM_OUT_J
				,BAD_J   : SUM_BAD_J
				,GOOD_J  : SUM_GOOD_J
				,STOCK_J : SUM_STOCK_J
				
				,ROW_SUM_1 : SUM_ROW_SUM_1
				,ROW_SUM_2 : SUM_ROW_SUM_2
				,ROW_SUM_3 : SUM_ROW_SUM_3
				,ROW_SUM_4 : SUM_ROW_SUM_4
				,ROW_SUM_5 : SUM_ROW_SUM_5
		};
		grid.jqGrid('footerData','set', footData);
		
		var cssBgc  	   = {'background' : '#EAEAEA'};
		for(var i = 0 ; i < gridData.length; i++){
			grid.jqGrid('setCell', ids[i], 'UOM_CD',  '', cssBgc);
			
			grid.jqGrid('setCell', ids[i], 'IN_B'   ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'OUT_B'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'BAD_B'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'GOOD_B' ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'STOCK_B',  '', cssBgc);
			
			grid.jqGrid('setCell', ids[i], 'IN_D'   ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'OUT_D'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'BAD_D'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'GOOD_D' ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'STOCK_D',  '', cssBgc);
			
			grid.jqGrid('setCell', ids[i], 'IN_F'   ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'OUT_F'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'BAD_F'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'GOOD_F' ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'STOCK_F',  '', cssBgc);
			
			grid.jqGrid('setCell', ids[i], 'IN_H'   ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'OUT_H'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'BAD_H'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'GOOD_H' ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'STOCK_H',  '', cssBgc);
			
			grid.jqGrid('setCell', ids[i], 'IN_J'   ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'OUT_J'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'BAD_J'  ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'GOOD_J' ,  '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'STOCK_J',  '', cssBgc);
		}
		
		//조회조건 val 값 셋팅 (번외처리) / 조회 시 필수 실행
		if(!set_vrSearchValLcId()){return;}
		
		/* 조회조건 화주코드가 없을 경우 */
		fn_chkInitCustId();
	};
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);

	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");
				detailGrid.clear();
				return false;
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
			jQuery("#GridId").val(id);
 			
 			var vrRitemCd = grid.getCell(id, 'RITEM_CD');
 			var vrLcId_01 = jQuery("#LC_NAME_VAL01").val();
 			var vrLcId_02 = jQuery("#LC_NAME_VAL02").val();
 			var vrLcId_03 = jQuery("#LC_NAME_VAL03").val();
 			var vrLcId_04 = jQuery("#LC_NAME_VAL04").val();
 			var vrLcId_05 = jQuery("#LC_NAME_VAL05").val();
 			var vrLcId_06 = jQuery("#LC_NAME_VAL06").val();
 			var vrLcId_07 = jQuery("#LC_NAME_VAL07").val();
 			var vrLcId_08 = jQuery("#LC_NAME_VAL08").val();
 			var vrLcId_09 = jQuery("#LC_NAME_VAL09").val();
 			var vrLcId_10 = jQuery("#LC_NAME_VAL10").val();
 			var param = "vrRitemCd="  + vrRitemCd
 					  + "&vrLcId_01=" + vrLcId_01 + "&vrLcId_02=" + vrLcId_02 + "&vrLcId_03=" + vrLcId_03 + "&vrLcId_04=" + vrLcId_04 + "&vrLcId_05=" + vrLcId_05
 			          + "&vrLcId_06=" + vrLcId_06 + "&vrLcId_07=" + vrLcId_07 + "&vrLcId_08=" + vrLcId_08 + "&vrLcId_09=" + vrLcId_09 + "&vrLcId_10=" + vrLcId_10;
 			var url = "/WMSST280/sublist.action?"+param;
 			detailGrid.search(param, url);
	});
	
	// 헤더 그룹처리
	jQuery("#list").jqGrid('setGroupHeaders', {
		 useColSpanStyle : false	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'IN_A', numberOfColumns : 5	,titleText : "<div id='divIN_Atext'></div>"},
		                  {startColumnName : 'IN_B', numberOfColumns : 5	,titleText : "<div id='divIN_Btext'></div>"},
		                  {startColumnName : 'IN_C', numberOfColumns : 5	,titleText : "<div id='divIN_Ctext'></div>"},
		                  {startColumnName : 'IN_D', numberOfColumns : 5	,titleText : "<div id='divIN_Dtext'></div>"},
		                  {startColumnName : 'IN_E', numberOfColumns : 5	,titleText : "<div id='divIN_Etext'></div>"},
		                  {startColumnName : 'IN_F', numberOfColumns : 5	,titleText : "<div id='divIN_Ftext'></div>"},
		                  {startColumnName : 'IN_G', numberOfColumns : 5	,titleText : "<div id='divIN_Gtext'></div>"},
		                  {startColumnName : 'IN_H', numberOfColumns : 5	,titleText : "<div id='divIN_Htext'></div>"},
		                  {startColumnName : 'IN_I', numberOfColumns : 5	,titleText : "<div id='divIN_Itext'></div>"},
		                  {startColumnName : 'IN_J', numberOfColumns : 5	,titleText : "<div id='divIN_Jtext'></div>"},
						]
	});
	jQuery("#list").jqGrid("setFrozenColumns");
	jQuery(".frozen-div.ui-state-default.ui-jqgrid-hdiv .ui-jqgrid-htable").attr({style:"width:389px;"});
	
	/* 그리드 공통화 적용 끝- listGrid */

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명
	var colNameArray_detail = [
	                           'CHK_BOX',
	         	              'ST_GUBUN',
	         	              '',
	         	              'FLAG',

	         	              
	         	              '$!lang.getText("작업일자")',
	         	              '$!lang.getText("로케이션")',
	         	              '$!lang.getText("상품코드")',
	         	              '$!lang.getText("상품명")',
	         	              '$!lang.getText("재고수량")',
	         	              
	         	              'UOM',
	         	              '$!lang.getText("PLT수량")',
	         	              //'$!lang.getText("B/L번호")',
	         	              '$!lang.getText("창고")',
	         	              '$!lang.getText("LOT번호")',
	         	              //'$!lang.getText("제품등급")',
	         	              '$!lang.getText("제조일자")',
	         	              
	         	              //'STOCK_ID',
	         	              '$!lang.getText("유효기간만료일")'
	         	              //'STOCK_RANK',
	         	              //'GAP_RANK'
	                          ];
		// 그리드 컬럼 정의
	var colModelArray_detail = [
		{name:'CHK_BOX',		index:'CHK_BOX',					align:"left",	hidden:true},
		{name:'ST_GUBUN',		index:'ST_GUBUN',					align:"left",	hidden:true},
		{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:20,	align:"left",	hidden:true},
		{name:'FLAG',			index:'FLAG',						align:"left",	hidden:true},

		
		{name:'WORK_DT',		index:'WORK_DT',		width:80,	align:"center"},
		{name:'LOC_NM',			index:'LOC_NM',			width:100,	align:"center"},
		{name:'RITEM_CD',		index:'RITEM_CD',		width:100,	align:"center"},
		{name:'RITEM_NM',		index:'RITEM_NM',		width:200,	align:"left"},
		{name:'STOCK_QTY',		index:'STOCK_QTY',		width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
		
		{name:'UOM_NM',			index:'UOM_NM',			width:80,	align:"center"},
		{name:'REAL_PLT_QTY',	index:'REAL_PLT_QTY',	width:80,	align:"right", editable : true, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_REAL_PLT_QTY\')"' }},
		//{name:'BL_NO',			index:'BL_NO',			width:100,	align:"left"},
		{name:'WH_NM',			index:'WH_NM',			width:140,	align:"left"},
		{name:'CUST_LOT_NO',	index:'CUST_LOT_NO',	width:140,	align:"left"},
		//{name:'ITEM_CLASS',		index:'ITEM_CLASS',		width:100,	align:"left"},
		{name:'MAKE_DT',		index:'MAKE_DT',		width:100,	align:"center"},
		
		//{name:'STOCK_ID',		index:'STOCK_ID',		width:100,	align:"left", hidden:true},
		{name:'ITEM_BEST_DATE_END',		index:'ITEM_BEST_DATE_END',		width:100,	align:"center"}
		//{name:'STOCK_RANK',		index:'STOCK_RANK',		width:100,	hidden:true},
		//{name:'GAP_RANK',		index:'GAP_RANK',		width:100,	hidden:true}

		];

	var option_detail = {
		'title' : '$!lang.getText("상세일별재고조회")',
		'height' : 180,
		'width' : '980',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : false,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40
	};



	detailGrid.init(jQuery("#detail"), option_detail, "");
	// 그리드 셀선택 이벤트
	detailGrid.setSelectCellEventCallback(function(id, col){
	var grid = jQuery("#detail");

		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_detail_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				detailGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_detail_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});

	/* 그리드 공통화 적용 끝- detailGrid */

	
	/*
	// 헤더 그룹처리
	jQuery("#detail").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						]
	});
	*/
});

//----------------------------------------------------------메인----------------------------------------------------------//
/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery("#vrSrchCustCd").val(data[0].CUST_CD);
			jQuery("#vrSrchCustNm").val(data[0].CUST_NM);
			jQuery("#vrSrchCustId").val(data[0].CUST_ID);
		}else{
			fn_Popup("CUST");
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function fn_chkInitCustId(){
	if(jQuery("#vrSrchCustId").val() == "" || jQuery("#vrSrchCustId").val().length == 0){
		fn_Popup("CUST");
		return false;
	}
	return true;
}

//검색
function fn_search(op,op1) {
	/* 조회조건 화주코드가 없을 경우 */
	if(!fn_chkInitCustId()){return;}
	
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_list");
	// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('입고예정일'):");
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('입고예정일'):");
	
	//조회조건 val 값 셋팅 (번외처리) / 조회 시 필수 실행
	if(!set_vrSearchValLcId()){return;}
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST280/list.action?"+param;

	listGrid.search(param, url, op, op1);
	detailGrid.clear();
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSMS011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST280/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//엑셀
function fn_excelDown2(){
	var id = jQuery("#GridId").val()
	var grid = jQuery("#detail");
	var grid2 = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var uom_id = grid2.getCell(id, 'UOM_ID');
	var ritem_id = grid2.getCell(id, 'RITEM_ID');
	var param = "?sidx="+sidx+"&sord="+sord+"&vrRitemId="+ritem_id+"&vrUomId="+uom_id;
	var fm = document.frm_list;
	var countRow = jQuery("#detail").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST280/excel2.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//물류센터 선택 자동 셋팅
function vrSrchcmbLcList_OnChange(gb){
	var stanVal = jQuery("#"+gb).val();
	var stanValLcNm01 = jQuery("#LC_NAME01").val();
	var stanValLcNm02 = jQuery("#LC_NAME02").val();
	var stanValLcNm03 = jQuery("#LC_NAME03").val();
	var stanValLcNm04 = jQuery("#LC_NAME04").val();
	var stanValLcNm05 = jQuery("#LC_NAME05").val();
	var stanValLcNm06 = jQuery("#LC_NAME06").val();
	var stanValLcNm07 = jQuery("#LC_NAME07").val();
	var stanValLcNm08 = jQuery("#LC_NAME08").val();
	var stanValLcNm09 = jQuery("#LC_NAME09").val();
	var stanValLcNm10 = jQuery("#LC_NAME10").val();
	
	switch(gb){
	case 'LC_NAME01' :
		if(stanVal == stanValLcNm02){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME02' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME03' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME04' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME05' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME06' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME07' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME08' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME09' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm10 && stanVal != "NDF"){ jQuery("#LC_NAME10").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (10번째 중복)')"); return false;}
		break;
	case 'LC_NAME10' :
		if(stanVal == stanValLcNm01){ jQuery("#LC_NAME01").val("ESS"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (1번째 중복)')"); return false;}
		if(stanVal == stanValLcNm02 && stanVal != "NDF"){ jQuery("#LC_NAME02").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (2번째 중복)')"); return false;}
		if(stanVal == stanValLcNm03 && stanVal != "NDF"){ jQuery("#LC_NAME03").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (3번째 중복)')"); return false;}
		if(stanVal == stanValLcNm04 && stanVal != "NDF"){ jQuery("#LC_NAME04").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (4번째 중복)')"); return false;}
		if(stanVal == stanValLcNm05 && stanVal != "NDF"){ jQuery("#LC_NAME05").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (5번째 중복)')"); return false;}
		if(stanVal == stanValLcNm06 && stanVal != "NDF"){ jQuery("#LC_NAME06").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (6번째 중복)')"); return false;}
		if(stanVal == stanValLcNm07 && stanVal != "NDF"){ jQuery("#LC_NAME07").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (7번째 중복)')"); return false;}
		if(stanVal == stanValLcNm08 && stanVal != "NDF"){ jQuery("#LC_NAME08").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (8번째 중복)')"); return false;}
		if(stanVal == stanValLcNm09 && stanVal != "NDF"){ jQuery("#LC_NAME09").val("NDF"); alert("$!lang.getText('이미 선택 된 물류센터 입니다. (9번째 중복)')"); return false;}
		break;
	}
}

//조회조건 val 값 셋팅 (번외처리) / 조회 시 필수 실행
function set_vrSearchValLcId(){
	if(jQuery("#LC_NAME01").val() == "ESS"){
		alert("$!lang.getText('1번째 물류센터는 필수 선택 입니다.')");
		return false;
	}
	
	var tranLc01 = jQuery("#LC_NAME01").val().substring(2,jQuery("#LC_NAME01").val().length);
	var tranLc02 = jQuery("#LC_NAME02").val().substring(2,jQuery("#LC_NAME02").val().length);
	var tranLc03 = jQuery("#LC_NAME03").val().substring(2,jQuery("#LC_NAME03").val().length);
	var tranLc04 = jQuery("#LC_NAME04").val().substring(2,jQuery("#LC_NAME04").val().length);
	var tranLc05 = jQuery("#LC_NAME05").val().substring(2,jQuery("#LC_NAME05").val().length);
	var tranLc06 = jQuery("#LC_NAME06").val().substring(2,jQuery("#LC_NAME06").val().length);
	var tranLc07 = jQuery("#LC_NAME07").val().substring(2,jQuery("#LC_NAME07").val().length);
	var tranLc08 = jQuery("#LC_NAME08").val().substring(2,jQuery("#LC_NAME08").val().length);
	var tranLc09 = jQuery("#LC_NAME09").val().substring(2,jQuery("#LC_NAME09").val().length);
	var tranLc10 = jQuery("#LC_NAME10").val().substring(2,jQuery("#LC_NAME10").val().length);
	jQuery("#LC_NAME_VAL01").val(tranLc01);
	jQuery("#LC_NAME_VAL02").val(tranLc02);
	jQuery("#LC_NAME_VAL03").val(tranLc03);
	jQuery("#LC_NAME_VAL04").val(tranLc04);
	jQuery("#LC_NAME_VAL05").val(tranLc05);
	jQuery("#LC_NAME_VAL06").val(tranLc06);
	jQuery("#LC_NAME_VAL07").val(tranLc07);
	jQuery("#LC_NAME_VAL08").val(tranLc08);
	jQuery("#LC_NAME_VAL09").val(tranLc09);
	jQuery("#LC_NAME_VAL10").val(tranLc10);
	
	var ddlSeq01 = Number(jQuery("#LC_NAME01").val().slice(0, 2))-1;
	var ddlSeq02 = Number(jQuery("#LC_NAME02").val().slice(0, 2));
	var ddlSeq03 = Number(jQuery("#LC_NAME03").val().slice(0, 2));
	var ddlSeq04 = Number(jQuery("#LC_NAME04").val().slice(0, 2));
	var ddlSeq05 = Number(jQuery("#LC_NAME05").val().slice(0, 2));
	var ddlSeq06 = Number(jQuery("#LC_NAME06").val().slice(0, 2));
	var ddlSeq07 = Number(jQuery("#LC_NAME07").val().slice(0, 2));
	var ddlSeq08 = Number(jQuery("#LC_NAME08").val().slice(0, 2));
	var ddlSeq09 = Number(jQuery("#LC_NAME09").val().slice(0, 2));
	var ddlSeq10 = Number(jQuery("#LC_NAME10").val().slice(0, 2));
	
	jQuery("#divIN_Atext").text(jQuery("#LC_NAME01 option:eq("+ddlSeq01+")").text());
	jQuery("#divIN_Btext").text(jQuery("#LC_NAME02 option:eq("+ddlSeq02+")").text());
	jQuery("#divIN_Ctext").text(jQuery("#LC_NAME03 option:eq("+ddlSeq03+")").text());
	jQuery("#divIN_Dtext").text(jQuery("#LC_NAME04 option:eq("+ddlSeq04+")").text());
	jQuery("#divIN_Etext").text(jQuery("#LC_NAME05 option:eq("+ddlSeq05+")").text());
	jQuery("#divIN_Ftext").text(jQuery("#LC_NAME06 option:eq("+ddlSeq06+")").text());
	jQuery("#divIN_Gtext").text(jQuery("#LC_NAME07 option:eq("+ddlSeq07+")").text());
	jQuery("#divIN_Htext").text(jQuery("#LC_NAME08 option:eq("+ddlSeq08+")").text());
	jQuery("#divIN_Itext").text(jQuery("#LC_NAME09 option:eq("+ddlSeq09+")").text());
	jQuery("#divIN_Jtext").text(jQuery("#LC_NAME10 option:eq("+ddlSeq10+")").text());
	
	//var colModel = jQuery("#list").jqGrid('getGridParam', 'colModel'); // 컬럼명을 배열형태로 가져온다.
	//jQuery("#list").jqGrid("setLabel", colModel[5]['name'] , "1) " + jQuery("#LC_NAME01 option:eq("+ddlSeq01+")").text());
	//jQuery("#list").jqGrid("setLabel", colModel[4]['name'] , "2) " + jQuery("#LC_NAME02 option:eq("+ddlSeq02+")").text());
	//jQuery("#list").jqGrid("setLabel", colModel[5]['name'] , "3) " + jQuery("#LC_NAME03 option:eq("+ddlSeq03+")").text());
	//jQuery("#list").jqGrid("setLabel", colModel[6]['name'] , "4) " + jQuery("#LC_NAME04 option:eq("+ddlSeq04+")").text());
	//jQuery("#list").jqGrid("setLabel", colModel[7]['name'], "5) " + jQuery("#LC_NAME05 option:eq("+ddlSeq05+")").text());
	
	return true;
}

//화주에따라 바뀌는 히든그리드의 샘플데이터를 컬럼명(한글), 컬럼model(영문), 샘플데이터 를가지고 excel을 그려서 다운받는다
function fn_sampleDown(){
	var grid     = jQuery("#list");
	var ids      = grid.jqGrid('getDataIDs');
	var gridData = grid.getRowData();
	
	var col_name   = grid.jqGrid('getGridParam', 'colNames');
	var col_model  = grid.jqGrid('getGridParam', 'colModel');
	var isEmptyCol = ["CHK_BOX","ST_GUBUN","ST_GUBUN_IMG","FLAG",];
	var col_size   = col_name.size() - isEmptyCol.length; //hidden col 뒷단에 놓고 그만큼 제거
	var betWeen    = 4; //센터별 수량 컬럼 갯수 - 1
	
	
	jQuery("#formSample").html("");
	jQuery("#formSample").append("<input type='text' name='Col_Size'  value='" + col_size + "'/><br/>");	//사이즈
	jQuery("#formSample").append("<input type='text' name='Row_Size'  value='" + gridData.length + "'/><br/>");	//사이즈
	
	for(var k = 0 ; k < gridData.length ; k++){
		if(k == 0){
			for(var i = 0 ; i < col_size ; i++){
				var setName = "";
				if(      5 <= i && i <= (betWeen +  5)){setName = jQuery("#divIN_Atext").text() +"_"+ col_name[i];}
				else if(10 <= i && i <= (betWeen + 10)){setName = jQuery("#divIN_Btext").text() +"_"+ col_name[i];}
				else if(15 <= i && i <= (betWeen + 15)){setName = jQuery("#divIN_Ctext").text() +"_"+ col_name[i];}
				else if(20 <= i && i <= (betWeen + 20)){setName = jQuery("#divIN_Dtext").text() +"_"+ col_name[i];}
				else if(25 <= i && i <= (betWeen + 25)){setName = jQuery("#divIN_Etext").text() +"_"+ col_name[i];}
				else if(30 <= i && i <= (betWeen + 30)){setName = jQuery("#divIN_Ftext").text() +"_"+ col_name[i];}
				else if(35 <= i && i <= (betWeen + 35)){setName = jQuery("#divIN_Gtext").text() +"_"+ col_name[i];}
				else if(40 <= i && i <= (betWeen + 40)){setName = jQuery("#divIN_Htext").text() +"_"+ col_name[i];}
				else if(45 <= i && i <= (betWeen + 45)){setName = jQuery("#divIN_Itext").text() +"_"+ col_name[i];}
				else if(50 <= i && i <= (betWeen + 50)){setName = jQuery("#divIN_Jtext").text() +"_"+ col_name[i];}
				else{setName = col_name[i];}
				jQuery("#formSample").append("<input type='text' name='Name_"+i+"'         value='" + setName + "'/>");									// 컬럼명(한글 화면에보여주는이름)
				jQuery("#formSample").append("<input type='text' name='Col_" +i+"'         value='" + col_model[i].name + "'/>");								// 컬럼명(영어 db컬럼명같은)
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터	
			}
		}else{
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터
			}
		}
	}	
	var param = jQuery("form[name='frm_sample']").serialize();

	var fm 	  = document.frm_sample;
    fm.action = "/WMSST280/sampleExcelDown.action";
    fm.method = "post";
    fm.submit();
}
</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("일별재고")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>

	<div id="tabs-1">
	#parse("winus/wmsst/WMSST280E1.vm")
	</div>
</div>

#parse("winus/common/footer.vm")