<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="100px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>
				<col width="40px"/>		
				<col width="40px"/>
			</colgroup>
			<tr>
				<!-- <th>$!lang.getText("조회일자")</th> -->
				<th>
					<select name='vrSrchDateGb' id='vrSrchDateGb' class="selectbox" style="width:100%;">
						<option value="REQ">입고일</option>
						<option value="ASN">일고예정일</option>
					</select>
				</th>
				<td>		
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				#if($adminInfo.getCustId() == $ss_user_gb)
					<th>$!lang.getText("화주")</th>
					<td>
						<input type="text" class="readOnly" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="hidden" name="hdnCustId" id="hdnCustId" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
					<th>$!lang.getText("화주")</th>
					<td>
						<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch">
						<input type="hidden" name="hdnCustId" id="hdnCustId"/>
						<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
					</td>
				#end	
				<th class="thBar">$!lang.getText("상품")</th>
				<td>
					<input type="text" class="text" name="txtSrchItemCd" id="txtSrchItemCd" style="width:40%" onChange="txtSrchItemCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM091');return false;" class="imgSearch">
					<input type="text" class="text" name="txtSrchItemNm" id="txtSrchItemNm" style="width:40%" onChange="txtSrchItemNm_OnKillFocus()"/>
					<input type="hidden" name="txtSrchItemId" id="txtSrchItemId"/>
				</td>
				<td></td>	
				<th class="btnSearch" rowspan="1">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainGridSearch();" title="Search" role="button" aria-disabled="false"/>
				</th>					
			</tr>
		</table>
		<input type="hidden" name="today"/>
		<input type="hidden" name="GridId" id="GridId"/>
		<input type="hidden" name="localDate" id="localDate"/>
		<input type="hidden" name="srchKey" id="srchKey"/>
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnRed" 	               name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<!-- <input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"        id="excelBtn"  name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/> -->
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"        id="excelBtn"  name="btn_write" onclick="fn_sampleDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box" id="mainlist_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea marT10">		
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown2();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>
	
	<form id="moveForm" name="moveForm" method="post" action="/WINUS/WMSST020.action">
		<input type="hidden" name="vrSrchItemCd" id="vrSrchItemCd" />
		<input type="hidden" name="vrSrchReqDtFrom2" id="vrSrchReqDtFrom2" />
		<input type="hidden" name="vrSrchReqDtTo2" id="vrSrchReqDtTo2" />
	</form>
	
	<form id="moveForm2" name="moveForm2" method="post" action="/WINUS/WMSST051.action">
		<input type="hidden" name="vrSrchItemCd2" id="vrSrchItemCd2" />
	</form>
</div>