#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분 (날짜 : 2015-06-17 작성 :기드온)
//   
//   
//   
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){

	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	

	// button
	jQuery("input:button").button();

	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtTo'] , input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	             
	              '$!lang.getText("작업번호")',
	              '$!lang.getText("완료")',
	              '$!lang.getText("작업일")',
	              '$!lang.getText("양도자")',
	              '$!lang.getText("상품코드")',
	              '$!lang.getText("상품명")',
	              
	              '$!lang.getText("수량")',
	              'UOM',
	              '$!lang.getText("양수자")',
	              '$!lang.getText("상품코드")',
	              '$!lang.getText("상품명")',
	              '$!lang.getText("수량")',
	              'UOM',
	              'WORK_SEQ',
	              'CHANGE_WORK_ID'
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:30,	align:"center", hidden:true},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true},
		
			{name:'CHANGE_WORK_ID_CUT',		index:'CHANGE_WORK_ID_CUT',			align:"center"},
			{name:'WORK_STAT',				index:'WORK_STAT',					align:"center", formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("STS00", true, "$!lang.getText('선택')")}},//,editoptions : {value :":$!lang.getText('선택');"+#set($size = $STS00.size()) #set($cnt = 1) "#foreach($edit in $STS00) $edit.CODE_CD:$edit.CODE_NM#if($cnt < $size);#set($cnt = $cnt+1)#end#end"}},
			{name:'WORK_DT',				index:'WORK_DT',					align:"center"},
			{name:'SELL_CUST_NM',			index:'SELL_CUST_NM',				align:"left"},
			{name:'SELL_RITEM_CD',			index:'SELL_RITEM_CD',				align:"left"},
			{name:'SELL_RITEM_NM',			index:'SELL_RITEM_NM',				align:"left"},
		
			{name:'SELL_QTY',				index:'SELL_QTY',					align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'SELL_UOM_NM',			index:'SELL_UOM_NM',				align:"center"},
			{name:'BUY_CUST_NM',			index:'BUY_CUST_NM',				align:"left"},
			{name:'BUY_RITEM_CD',			index:'BUY_RITEM_CD',				align:"left"},
			{name:'BUY_RITEM_NM',			index:'BUY_RITEM_NM',				align:"left"},
			{name:'BUY_QTY',				index:'BUY_QTY',					align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0} },
			{name:'BUY_UOM_NM',				index:'BUY_UOM_NM',					align:"center"},
			{name:'WORK_SEQ',				index:'WORK_SEQ',					align:"left", hidden:true},
			{name:'CHANGE_WORK_ID',			index:'CHANGE_WORK_ID',				align:"left", hidden:true},
			
		];
	var option = {
		'title' : '$!lang.getText("명의변경내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40

	};

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST100/list.action?"+param;
	listGrid.init(jQuery("#list"), option, url);

	listGrid.setDblClickRowEventCallback(function(rowid, iRow, iCol, e) {
		var grid 			= jQuery("#list");
		var vrChangeWorkId 	= grid.getCell(rowid, 'CHANGE_WORK_ID');
		var vrWorkSeq 		= grid.getCell(rowid, 'WORK_SEQ');
		var strParameter 	= [];

		strParameter.push(vrChangeWorkId);
		strParameter.push(vrWorkSeq);
		
		fn_new(strParameter);
	});
	
});

//검색
function fn_search(op,op1) {
	
	//if(!fn_formCheckStr(frm_list)){ return; }

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST100/list.action?"+param;
	
	listGrid.search(param, url, op, op1);
}

/* 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST100/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//저장
function fn_delete(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt = 0;
	
	if(selectIds == ""){
		alert(strings['grid.no_selected_data_for_delete']);
		return false;
	}
	
	if(confirm('$!lang.getText("삭제하시겠습니까")')){
		jQuery("#formData").html("");
		
		if(jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
        }
		
		for(var i = 0 ; i < selectIds.length ; i++){
			jQuery("#formData").append("<input type='text' name='CHANGE_WORK_ID"+tmpCnt+"'    value='"+cfn_trim(grid.getCell(selectIds[i], "CHANGE_WORK_ID"))+"'/>");
			tmpCnt ++;
		}
			jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
	}else{
		return false;
	}
	
	var param = jQuery("form[name='frm_data']").serialize();
	var url = "/WMSST100/delete.action";
	
	jQuery.post(url, param, function(data) {
		alert(data.MSG);
		if(data.errCnt <= 0 ){
			var param = jQuery("form[name='frm_list']").serialize();
			var url = "/WMSST100/list.action?"+param;
			listGrid.search(param, url);
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
	
}


/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}




/* 팝업 호출 */
function fn_Popup(type, id){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "560";
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){		
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;		
		case 'WMSST100E2':	//명의변경 등록	
			width = "850";
			height = "670";
			param = "?func=fn_setWMSST100E2";
			url = "/WMSST100pop.action" + param;
			break;
		case 'WMSST100E2_D':	//명의변경 등록
			var WORK_SEQ = jQuery("#list").getCell(id,'WORK_SEQ');	
			var CHANGE_WORK_ID = jQuery("#list").getCell(id,'CHANGE_WORK_ID');		
			width = "850";
			height = "630";
			param = "?func=fn_setWMSST100E2&vrChangeWorkId="+CHANGE_WORK_ID+"&vrWorkSeq="+WORK_SEQ
			url = "/WMSST100/listpop.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 명의변경 등록 후 처리 */
function fn_setWMSST100E2(arr){
	var info = arr[0];	
	fn_search();
	
	var WORK_SEQ = info.vrWorkSeq;
	var CHANGE_WORK_ID = info.vrChangeWorkId;

	param = "?func=fn_setWMSST100E2&vrChangeWorkId="+CHANGE_WORK_ID+"&vrWorkSeq="+WORK_SEQ
	url = "/WMSST100/listpop.action" + param;
	
	var asppop = cfn_openPop2(url, "fn_Popup", "850", "630");
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}


/* 신규 또는 상세 */
function fn_new(strParameter){
	strParameter = (strParameter == undefined) ? [] : strParameter;
	
	var param = "?func=fn_search&strParameter="+strParameter;
	var url   = "/WMSST100E2.action"+param;
	var width = "850";
	var height = "630";
	
	var asppop = cfn_openPop(url, "fn_WmsstPopup", width, height);
	asppop.focus();
}


</script>

<div id = "tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("명의변경")</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
	<div id = "tabs-1">
		#parse("winus/wmsst/WMSST100E1.vm")
	</div>
</div>	
#parse("winus/common/footer.vm")