<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border='0'>
			<colgroup>
				<col width="13%"/>
				
				<col width="20px"/>
				<col width="20%"/>	
				
				<col width="20px"/>
				<col width="20%"/>
				
				<col width="20px"/>
				<col width="20%"/>
				
				<col width="20px"/>
				<col width="20%"/>
				
				<col width="20px"/>
				<col width="20%"/>
				
				<col width="20px"/>
				<col width="20%"/>
				
				<col width="5%"/>
					
				<col width="50px"/>		
			</colgroup>
			<tr>
				<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td colspan="4">
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
				</td>				
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>				
			</tr>
			<tr>
				<th>$!lang.getText("물류센터순서")</th>
				<th>$!lang.getText("1)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME01' id='LC_NAME01' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME01');">
							
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
							<option value="ESS">$!lang.getText("필수입력")</option>
						</select>
					#else
						<select name='LC_NAME01' id='LC_NAME01' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME01');">
							
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
							<option value="ESS">$!lang.getText("필수입력")</option>
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL01' id='LC_NAME_VAL01'/>
				</td>
				<th>$!lang.getText("2)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME02' id='LC_NAME02' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME02');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME02' id='LC_NAME02' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME02');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL02' id='LC_NAME_VAL02'/>
				</td>
				<th>$!lang.getText("3)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME03' id='LC_NAME03' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME03');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME03' id='LC_NAME03' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME03');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL03' id='LC_NAME_VAL03'/>
				</td>
				<th>$!lang.getText("4)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME04' id='LC_NAME04' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME04');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME04' id='LC_NAME04' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME04');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL04' id='LC_NAME_VAL04'/>
				</td>
				<th>$!lang.getText("5)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME05' id='LC_NAME05' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME05');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME05' id='LC_NAME05' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME05');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL05' id='LC_NAME_VAL05'/>
				</td>
				<th>$!lang.getText("6)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME06' id='LC_NAME06' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME06');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME06' id='LC_NAME06' class="selectbox" onChange="vrSrchcmbLcList_OnChange('LC_NAME06');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL06' id='LC_NAME_VAL06'/>
				</td>
				<td></td>
			</tr>
		</table>
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<!-- <input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/> -->
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_sampleDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<div class="btnArea marT10">		
		<div class="btnAreaRight">
			<!-- <input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown2();" role="button" aria-disabled="false"/> -->
		</div>
	</div>
	
	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>
	
	<div class="list_box" >
		<table id="hiddenList" ></table>
	</div>
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
</div>