#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var listGrid0 = new ULNSI_jQGrid();
var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();
var itemParam = "";

jQuery(document).ready(function(){

	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}
	
	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	jQuery("input[name='today']").val((new Date()).getFormattedString("YYYY-MM-DD"));

	// button
	jQuery("input:button").button();

	// local system 날짜 계산
	fn_getDate();
	
	/* 메인그리드 시작 */
	var colNameArray0 = [
	                     "$!lang.getText('코드')"
	                   
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray0 = [
						 {name : 'RITEM_CD'		,index : 'RITEM_CD'		,width : 100	,hidden : false	,editable : true}
						
						]

	var option0 = {
			'title' : '$!lang.getText("상품목록")',
			'height' : 180,
			'width' : '98%',
			'colName' : colNameArray0,
			'colModel' : colModelArray0,
		    'pager' : jQuery("#pjmap0"),
	        'autowidth' : true,
	        'multiselect' : true,
	        'viewrecords' : true,
	        'gridview' : true,
	        'sortable' : false,
	        'shrinkToFit' : true,
	        #if($ss_gird_num != "")
	        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
	        #else
	        'rowList' : [200,300,400],
	        #end
	        'rownumbers' : false,
	        'rownumWidth' : 40,
	        'footerrow' 	: true,
			'userDataOnFooter' : true
		};
	
	var url0 = "";

	//그리드 생성
	listGrid0.init(jQuery("#list0"), option0, url0)
	
	fn_addRow();
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',

	              '$!lang.getText("코드")',
	              '$!lang.getText("화주명")',
	              '$!lang.getText("상품군")',
	              '$!lang.getText("코드")',
	              '$!lang.getText("상품명")',

	              '$!lang.getText("전일재고")',
	              '$!lang.getText("입고")',
	              '$!lang.getText("일반출고")',
	              '$!lang.getText("크로스도킹")',
	              '$!lang.getText("이벤트출고")',
	              '$!lang.getText("반품출고")',
	              '$!lang.getText("정상재고")',
	              
				  '$!lang.getText("불량재고")',
	              '$!lang.getText("전체재고")',
	              'UOM',
	              
	              '$!lang.getText("BOX수량")',
	              '$!lang.getText("PLT수량")',
	              '$!lang.getText("BAG수량")',

	              '$!lang.getText("AS재고")',
	              '$!lang.getText("중량")',
	              
	              '$!lang.getText("적정재고")',
	              
	              '$!lang.getText("비고")',

	              'PROP_CHK',
	              'UOM_ID',
	              'RITEM_ID',
	              'WH_ID',
	              'CUST_ID',
	              'RITEM_ID'
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',			index:'CHK_BOX',							align:"left",	hidden:true},
			{name:'ST_GUBUN',			index:'ST_GUBUN',							align:"left",	hidden:true},
			{name:'ST_GUBUN_IMG',		index:'ST_GUBUN_IMG',		width:20,		align:"left"},
			{name:'FLAG',				index:'FLAG',								align:"left",	hidden:true},

			{name:'CUST_CD',			index:'CUST_CD',			width:60,		align:"center"},
			{name:'CUST_NM',			index:'CUST_NM',			width:140,		align:"left"},
			{name:'ITEM_GRP_NM',		index:'ITEM_GRP_NM',		width:60,		align:"left"},
			{name:'RITEM_CD',			index:'RITEM_CD',			width:80,		align:"center"},
			{name:'RITEM_NM',			index:'RITEM_NM',			width:200,		align:"left"},

			{name:'BEFORE_STOCK_QTY',	index:'BEFORE_STOCK_QTY',	width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'IN_QTY',				index:'IN_QTY',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_QTY',			index:'OUT_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'CROSS_QTY',			index:'CROSS_QTY',			width:80,		hidden:true,	align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'EVENT_QTY',			index:'EVENT_QTY',			width:80,		hidden:true,	align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'RETURN_QTY',			index:'RETURN_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_QTY',			index:'STOCK_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'BAD_QTY',			index:'BAD_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_TOTAL_QTY',	index:'STOCK_TOTAL_QTY',	width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UOM_NM',				index:'UOM_NM',				width:80,		align:"center"},
			
			{name:'BOX_QTY',			index:'BOX_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'PLT_QTY',			index:'PLT_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAG_QTY',			index:'BAG_QTY',			width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'AS_QTY',				index:'AS_QTY',				width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_WEIGHT',		index:'STOCK_WEIGHT',		width:80,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'PROP_QTY',			index:'PROP_QTY',			width:90,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'REMARK',				index:'REMARK',				align:"left",	editable : true },

			{name:'PROP_CHK',			index:'PROP_CHK',			align:"left",	hidden:true},
			{name:'UOM_ID',				index:'UOM_ID',				align:"left",	hidden:true},
			{name:'RITEM_ID',			index:'RITEM_ID',			align:"left",	hidden:true},
			{name:'WH_ID',				index:'WH_ID',				align:"left",	hidden:true},
			{name:'CUST_ID',			index:'CUST_ID',			align:"left",	hidden:true},
			{name:'RITEM_ID',			index:'RITEM_ID',			align:"left",	hidden:true}


		];

	var option = {
		'title' : '$!lang.getText("현재고리스트")',
		'height' : 180,
		'width' : '98%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : false,
        'shrinkToFit' : false,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40,
        'footerrow' 	: true,
		'userDataOnFooter' : true
	};
	
	var paramInit = jQuery("form[name='frm_list']").serialize();
	var url="/WMSST260/list.action?"+paramInit;

	function loadCompleteEventCallback (data){
		var grid = jQuery("#list");
		var ids 	= grid.getDataIDs();
		var gridData = grid.getRowData();
		/* 색상 넣기 = 검정, 굵게 */
		var css2 	= {'color' : 'black', 'font-weight' : 'bold'};
		/* 색상 넣기 = 빨강 */
		var css 	= {'color' : 'red', 'cursor' : 'pointer'};
		/* 합계처리 변수 */
		var SUM_BEFORE_STOCK_QTY = 0;
		var SUM_IN_QTY = 0;
		var SUM_OUT_QTY = 0;
		var SUM_CROSS_QTY = 0;
		var SUM_EVENT_QTY = 0;
		var SUM_RETURN_QTY = 0;
		var SUM_STOCK_QTY = 0;
		var SUM_BOX_QTY = 0;
		var SUM_PLT_QTY = 0;
		var SUM_BAD_QTY = 0;
		var SUM_AS_QTY = 0;
		var SUM_PROP_QTY = 0;
		var SUM_STOCK_TOTAL_QTY = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			if(gridData[i].STOCK_QTY == "0" && gridData[i].BAD_QTY == "0" && gridData[i].AS_QTY == "0"){
				grid.jqGrid('setCell', ids[i], 'CUST_CD', '', css2);
				grid.jqGrid('setCell', ids[i], 'CUST_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'ITEM_GRP_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'RITEM_CD', '', css2);
				grid.jqGrid('setCell', ids[i], 'RITEM_NM', '', css2);

				grid.jqGrid('setCell', ids[i], 'BEFORE_STOCK_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'IN_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'OUT_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'CROSS_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'EVENT_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'RETURN_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'STOCK_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'BOX_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'PLT_QTY', '', css2);

				grid.jqGrid('setCell', ids[i], 'BAD_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'AS_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'UOM_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'PROP_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'REMARK', '', css2);
				
				grid.jqGrid('setCell', ids[i], 'STOCK_TOTAL_QTY', '', css2);
			}
			
			if(!(Number(gridData[i].STOCK_QTY) > Number(gridData[i].PROP_QTY))){
				grid.jqGrid('setCell', ids[i], 'CUST_CD', '', css);
				grid.jqGrid('setCell', ids[i], 'CUST_NM', '', css);
				grid.jqGrid('setCell', ids[i], 'ITEM_GRP_NM', '', css);
				grid.jqGrid('setCell', ids[i], 'RITEM_CD', '', css);
				grid.jqGrid('setCell', ids[i], 'RITEM_NM', '', css);

				grid.jqGrid('setCell', ids[i], 'BEFORE_STOCK_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'IN_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'OUT_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'CROSS_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'EVENT_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'RETURN_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'STOCK_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'BOX_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'PLT_QTY', '', css2);

				grid.jqGrid('setCell', ids[i], 'BAD_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'AS_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'UOM_NM', '', css);
				grid.jqGrid('setCell', ids[i], 'PROP_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'REMARK', '', css);
				
				grid.jqGrid('setCell', ids[i], 'STOCK_TOTAL_QTY', '', css);
			}
			
			//합계처리 변수 연산
			SUM_BEFORE_STOCK_QTY = SUM_BEFORE_STOCK_QTY + Number(gridData[i].BEFORE_STOCK_QTY);
			SUM_IN_QTY = SUM_IN_QTY + Number(gridData[i].IN_QTY);
			SUM_OUT_QTY = SUM_OUT_QTY + Number(gridData[i].OUT_QTY);
			SUM_CROSS_QTY = SUM_CROSS_QTY + Number(gridData[i].CROSS_QTY);
			SUM_EVENT_QTY = SUM_EVENT_QTY + Number(gridData[i].EVENT_QTY);
			SUM_RETURN_QTY = SUM_RETURN_QTY + Number(gridData[i].RETURN_QTY);
			SUM_STOCK_QTY = SUM_STOCK_QTY + Number(gridData[i].STOCK_QTY);
			SUM_BOX_QTY = SUM_BOX_QTY + Number(gridData[i].BOX_QTY);
			SUM_PLT_QTY = SUM_PLT_QTY + Number(gridData[i].PLT_QTY);
			SUM_BAD_QTY = SUM_BAD_QTY + Number(gridData[i].BAD_QTY);
			SUM_AS_QTY = SUM_AS_QTY + Number(gridData[i].AS_QTY);
			SUM_PROP_QTY = SUM_PROP_QTY + Number(gridData[i].PROP_QTY);
			SUM_STOCK_TOTAL_QTY = SUM_STOCK_TOTAL_QTY + Number(gridData[i].STOCK_TOTAL_QTY);
		}
		
		//합계처리 변수 셋업
		var footData = {
				 CUST_CD	: "$!lang.getText('합계')"
				,BEFORE_STOCK_QTY	: SUM_BEFORE_STOCK_QTY
				,IN_QTY: SUM_IN_QTY
				,OUT_QTY: SUM_OUT_QTY
				,CROSS_QTY: SUM_CROSS_QTY
				,EVENT_QTY: SUM_EVENT_QTY
				,STOCK_QTY: SUM_STOCK_QTY
				,BOX_QTY: SUM_BOX_QTY
				,PLT_QTY: SUM_PLT_QTY
				,BAD_QTY: SUM_BAD_QTY
				,AS_QTY: SUM_AS_QTY
				,RETURN_QTY:SUM_RETURN_QTY
				,PROP_QTY : SUM_PROP_QTY
				,STOCK_TOTAL_QTY : SUM_STOCK_TOTAL_QTY
			   };
		grid.jqGrid('footerData','set', footData);
		
		jQuery("tr.jqgrow", this).contextMenu('myMenu1', {
	        bindings: {
	            'menu1': function(t) {fn_Popup('WMSST260E2',t.id)} // 세트상품팝업
	        },

	        onContextMenu: function(event, menu) {
	        	 var id = jQuery(event.target).closest("tr.jqgrow").attr("id");
					var grid = jQuery("#list");
	                if(grid.getCell(id, 'CHK_BOX') != "Yes"){
	                	jQuery("#jqg_list_"+id).attr("checked",true);
	            		grid.setCell(id, 'CHK_BOX', "Yes");
	            		grid.setSelection(id, true);
	                }
		            return true;
		        }
	    });
	};


	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);

	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");
				detailGrid.clear();
				return false;
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
			jQuery("#GridId").val(id);
 			var uom_id = grid.getCell(id, 'UOM_ID');
 			var ritem_id = grid.getCell(id, 'RITEM_ID');
 			var txtSrchLocId = jQuery('form[name="frm_list"] input[name="txtSrchLocId"]').val();
 			
 			var param = "vrRitemId="+ritem_id+"&vrUomId="+uom_id+"&txtSrchLocId="+txtSrchLocId;
 			var url = "/WMSST260/sublist.action?"+param;
 			detailGrid.search(param, url);
	});

	listGrid.setDblClickRowEventCallback(function(rowid, iRow, iCol, e) {
		/* 일별재고 화면으로 이동 */
		var ritem_cd = jQuery("#list").getCell(rowid,'RITEM_CD');

    	var frm = jQuery("#moveForm2");

    	jQuery.cookie("jstree_select", "#WMSST051", "");

    	jQuery("#vrSrchItemCd2").val(ritem_cd);

		frm.submit();
	});

	/* 그리드 공통화 적용 끝- listGrid */

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명
	var colNameArray_detail = [
	                           'CHK_BOX',
	         	              'ST_GUBUN',
	         	              '',
	         	              'FLAG',

	         	              '$!lang.getText("작업일자")',
	         	              '$!lang.getText("로케이션")',
	         	              '$!lang.getText("코드")',
	         	              '$!lang.getText("상품명")',
	         	              '$!lang.getText("재고수량")',
	         	              'UOM',

	         	              '$!lang.getText("PLT수량")',
	         	              '$!lang.getText("B/L번호")',
	         	              '$!lang.getText("창고")',
	         	              '$!lang.getText("LOT번호")',
	         	              '$!lang.getText("제품등급")',
	         	              '$!lang.getText("제조일자")',
	         	              'STOCK_ID',
	         	              '$!lang.getText("유효기간만료일")',
	         	              'STOCK_RANK',
	         	              'GAP_RANK',
	         	              '$!lang.getText("무게")'
	                           ];
		// 그리드 컬럼 정의
	var colModelArray_detail = [
		{name:'CHK_BOX',		index:'CHK_BOX',					align:"left",	hidden:true},
		{name:'ST_GUBUN',		index:'ST_GUBUN',					align:"left",	hidden:true},
		{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:20,	align:"left"},
		{name:'FLAG',			index:'FLAG',						align:"left",	hidden:true},

		{name:'WORK_DT',		index:'WORK_DT',		width:80,	align:"center"},
		{name:'LOC_NM',			index:'LOC_NM',			width:100,	align:"center"},
		{name:'RITEM_CD',		index:'RITEM_CD',		width:80,	align:"center"},
		{name:'RITEM_NM',		index:'RITEM_NM',		width:200,	align:"left"},

		{name:'STOCK_QTY',		index:'STOCK_QTY',		width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
		{name:'UOM_NM',			index:'UOM_NM',			width:80,	align:"center"},
		{name:'REAL_PLT_QTY',	index:'REAL_PLT_QTY',	width:80,	align:"right", editable : true, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_REAL_PLT_QTY\')"' }},

		{name:'BL_NO',			index:'BL_NO',			width:100,	align:"left"},
		{name:'WH_NM',			index:'WH_NM',			width:140,	align:"left"},
		{name:'CUST_LOT_NO',	index:'CUST_LOT_NO',	width:140,	align:"left"},
		{name:'ITEM_CLASS',		index:'ITEM_CLASS',		width:100,	align:"left"},
		{name:'MAKE_DT',		index:'MAKE_DT',		width:100,	align:"center"},
		{name:'STOCK_ID',		index:'STOCK_ID',		width:100,	align:"left", hidden:true},
		{name:'ITEM_BEST_DATE_END',		index:'ITEM_BEST_DATE_END',		width:100,	align:"center"},
		{name:'STOCK_RANK',		index:'STOCK_RANK',		width:100,	hidden:true},
		{name:'GAP_RANK',		index:'GAP_RANK',		width:100,	hidden:true},
		{name:'STOCK_WEIGHT',	index:'STOCK_WEIGHT',	width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 2}}
		];

	var option_detail = {
		'title' : '$!lang.getText("상세현재고조회")',
		'height' : 180,
		'width' : '980',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40
	};



	detailGrid.init(jQuery("#detail"), option_detail, "",loadCompleteEventCallback2);
	// 그리드 셀선택 이벤트
	detailGrid.setSelectCellEventCallback(function(id, col){
	var grid = jQuery("#detail");

		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_detail_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				detailGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_detail_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});
	
	function loadCompleteEventCallback2 (data){
		var grid     = jQuery("#detail");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		// 색상 넣기 = 빨강 
		///var css 	= {'color' : 'blue', 'cursor' : 'pointer'};
		var css2 	= {'color' : 'red' , 'cursor' : 'pointer'};
		
		for(var i = 0 ; i < gridData.length; i++){
			if(gridData[i].STOCK_RANK == "0"){
				grid.jqGrid('setCell', ids[i], 'WORK_DT', '', css2);
				grid.jqGrid('setCell', ids[i], 'LOC_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'RITEM_CD', '', css2);
				grid.jqGrid('setCell', ids[i], 'RITEM_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'STOCK_QTY', '', css2);

				grid.jqGrid('setCell', ids[i], 'UOM_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'REAL_PLT_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'BL_NO', '', css2);
				grid.jqGrid('setCell', ids[i], 'WH_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'CUST_LOT_NO', '', css2);
				
				grid.jqGrid('setCell', ids[i], 'ITEM_CLASS', '', css2);
				grid.jqGrid('setCell', ids[i], 'MAKE_DT', '', css2);
				grid.jqGrid('setCell', ids[i], 'ITEM_BEST_DATE_END', '', css2);
			}
		}
	}

	detailGrid.setDblClickRowEventCallback(function(rowid, iRow, iCol, e) {
		/* 재고 입출고내역 조회 화면으로 이동 */

    	var ritem_cd = jQuery("#detail").getCell(rowid,'RITEM_CD');
    	var work_dt = jQuery("#detail").getCell(rowid,'WORK_DT');

    	var frm = jQuery("#moveForm");

    	jQuery.cookie("jstree_select", "#WMSST020", "");

    	jQuery("#vrSrchItemCd").val(ritem_cd);
		jQuery("#vrSrchReqDtFrom").val(work_dt);
		jQuery("#vrSrchReqDtTo").val(work_dt);

		frm.submit();
	});
	/* 그리드 공통화 적용 끝- detailGrid */

	/* 헤더 그룹처리 */
	jQuery("#list0").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'}
						]
	});
	/* 헤더 그룹처리 */
	jQuery("#list").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'CUST_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("화주")'},
		                  {startColumnName : 'RITEM_CD', numberOfColumns : 2	,titleText : '$!lang.getText("상품")'}

						]
	});
	/* 헤더 그룹처리 */
	jQuery("#detail").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						]
	});
});

//검색
function fn_search(op,op1) {
	fn_setItemParam();
	
	fn_getDate();
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST260/list.action?"+param;

	listGrid.search(param, url, op, op1);
	detailGrid.clear();
}

//local system 날짜 계산
function fn_getDate() {
	var localDate = new Date();
	var year = LPAD((localDate.getFullYear()).toString(),'0',2);
	var month = LPAD((localDate.getMonth()+1).toString(),'0',2);
	var date = LPAD((localDate.getDate()).toString(),'0',2);       
	var hour = LPAD((localDate.getHours()).toString(),'0',2);
	var min = LPAD((localDate.getMinutes()).toString(),'0',2);
	var sec = LPAD((localDate.getSeconds()).toString(),'0',2);
	var dataVal = year + "/" + month + "/" + date + " " + hour + ":" + min + ":" + sec;
	jQuery('form[name="frm_list"] input[name="localDate"]').val(dataVal);
}

//왼쪽에서부터 채운다는 의미
function LPAD(s, c, n) {    
if (! s || ! c || s.length >= n) {
return s;
}

var max = (n - s.length)/c.length;
for (var i = 0; i < max; i++) {
s = c + s;
}

return s;
}
	
/* 현재고 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
	jQuery('form[name="frm_list"] select[name="vrSrchItemGrpId"]').val('').attr("selected", 'selected');
	jQuery("input:checkbox[id='chkEmptyStock']").attr('checked',false);
}

//그리드 유효성 검사 (현재고 리스트 비고)
function fn_listValidation(){
	var grid = jQuery("#list");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('비고')"];
		var tmpId = ["REMARK"];
		var tmpVal;
		var tmpLeng = [600];

		for(var i=0; i<selectIds.length; i++){
			var REMARK = jQuery.trim(jQuery("#"+selectIds[i] + "_REMARK","#list").val());

			tmpVal = [REMARK];



			/* 특수문자 체크 */
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#list").focus();
					return false;
				}
			}
			/* 비고 최대 길이 */
			if(REMARK.byteLength() > 600){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REMARK", "#list").focus();
				return false;
			}
		}
	}
	return true;
}
//그리드 유효성 검사 (상세 로케이션 PLT수량)
function fn_listValidation2(){
	var grid = jQuery("#detail");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('PLT수량')"];
		var tmpId = ["REAL_PLT_QTY"];
		var tmpVal;
		var tmpLeng = [10];

		for(var i=0; i<selectIds.length; i++){
			var REAL_PLT_QTY = jQuery.trim(jQuery("#"+selectIds[i] + "_REAL_PLT_QTY","#detail").val());

			tmpVal = [REAL_PLT_QTY];

			/* 필수값 체크 */
			for(var j=0; j<tmpVal.length; j++){
				if(tmpVal[j] == ""){
					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#detail").focus();
					return false;
				}
			}

			/* 특수문자 체크 */
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#detail").focus();
					return false;
				}
			}

			/* PLT수량 최대 길이, 숫자인지 */
			if(REAL_PLT_QTY.byteLength() > 10){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REAL_PLT_QTY", "#detail").focus();
				return false;
			}else if(!REAL_PLT_QTY.isNumber()){
				alert("$!message.getMessage('0번째행의1은숫자만입력가능', '" + selectIds[i] + "','"+tmpText[0]+"')");
				jQuery("#"+selectIds[i]+"_REAL_PLT_QTY", "#detail").focus();
				return false;
			}
		}
	}
	return true;
}


//저장
function fn_save(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt = 0;
	var sub_grid = jQuery("#detail");
	var sub_selectIds = sub_grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var sub_tmpCnt = 0;
	var isProcess   = false;
	var sub_isProcess   = false;

	if(selectIds == "" && sub_selectIds == ""){
		alert(strings['grid.no_check_data_for_save']);
		return false;
	}

	if(confirm(strings['grid.confirm_save'])){
		jQuery("#formData").html("");
		if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
        }

		if( jQuery("form[name='frm_data'] input[name='D_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='D_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	sub_tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='D_selectIds']").val());
        }
		// 현재고리스트 비고 저장 유효성 체크
		if(!fn_listValidation()){return;}

		for(var i = 0 ; i < selectIds.length ; i++){
			 if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                 isProcess = true;
             }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                 isProcess = true;
             }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                 isProcess = true;
             }
			if(isProcess){
				if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) || "INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
					jQuery("#formData").append("<input type='text' name='REMARK"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_REMARK", "#list").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='RITEM_ID"+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))+"'/>");
					tmpCnt ++;
				}
			}
		}
		// 상세 로케이션 PLT수량 저장 유효성 체크
		if(!fn_listValidation2()){return;}

		for(var i = 0 ; i < sub_selectIds.length ; i++){
			if("DELETE" == cfn_trim(sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")) && "" != cfn_trim(sub_grid.getCell(sub_selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='D_ST_GUBUN"+sub_tmpCnt+"' value='"+sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")+"'/>");
                 sub_isProcess = true;
             }else if("UPDATE" == cfn_trim(sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")) && "" != cfn_trim(sub_grid.getCell(sub_selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='D_ST_GUBUN"+sub_tmpCnt+"' value='"+sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")+"'/>");
                 sub_isProcess = true;
             }else if("INSERT" == cfn_trim(sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")) && "" == cfn_trim(sub_grid.getCell(sub_selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='D_ST_GUBUN"+sub_tmpCnt+"' value='"+sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")+"'/>");
                 sub_isProcess = true;
             }

			if(sub_isProcess){
				if("UPDATE" == cfn_trim(sub_grid.getCell(sub_selectIds[i], "ST_GUBUN")) || "INSERT" == cfn_trim(sub_grid.getCell(sub_selectIds[i], "ST_GUBUN"))){
					jQuery("#formData").append("<input type='text' name='D_REAL_PLT_QTY"+sub_tmpCnt+"'    value='"+jQuery("#"+sub_selectIds[i] + "_REAL_PLT_QTY", "#detail").val()+"'/>");
					jQuery("#formData").append("<input type='text' name='D_STOCK_ID"+sub_tmpCnt+"'        value='"+cfn_trim(sub_grid.getCell(sub_selectIds[i], "STOCK_ID"))+"'/>");
					sub_tmpCnt ++;
				}
			}
		}
		jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
		jQuery("form[name='frm_data'] input[name='D_selectIds']").val( sub_tmpCnt );
	}else{
		return false;
	}
	var param = jQuery("form[name='frm_data']").serialize();
	var url = "/WMSST260/save.action";

	jQuery.post(url, param, function(data) {
		alert(data.MSG);
		if(data.errCnt <= 0 ){
			var param = jQuery("form[name='frm_list']").serialize();
			var url = "/WMSST260/list.action?"+param;
			listGrid.search(param, url);
			detailGrid.clear();
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){
			location.href=('/index.html');
		}
 });
}



/* 창고 코드입력 */
function vrSrchWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="txtSrchWhCd"]').val();
	//창고코드 값이 있으면 실행한다
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "560";
				var param 	= "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="hdnWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="txtSrchWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
	}
}


/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="txtSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="hdnWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="txtSrchWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
	}
}


/* 상품코드 입력 */
function txtSrchItemCd_OnKillFocus(){
 	//입력한 상품코드를 가져온다
 	var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());
 	var vrSrchItemCd = cfn_trim(jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val());

 	//null이 아닐경우 검색한다.
 	if(vrSrchItemCd != ""){
 		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val('');
 		var srchKey = "ITEM";
 		var param 	= "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
 		var url = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			//검색후 결과 갯수를 가져온다.
 			//없을경우는 없다고 띄우고 input 초기화
 			//1가지일경우 바로 이름과 코드를 셋팅해준다.
 			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
 			if (cnt > 1){	//2가지 이상일경우
 				var strParameter = [];
 				strParameter.push(vrSrchItemCd);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
 				var url = "/WMSCM091.action" + param;

 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){ //1가지 일경우
 				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
 			}else{	//없을경우
 				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("").focus();
 				return;
 			}
 		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
 	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
	}
 }

/* 상품명 자동팝업생성 */
function txtSrchItemNm_OnKillFocus(){
	//입력한 상품코드를 가져온다
	var vrSrchItemNm = cfn_trim(jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val());
	var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());

	//null이 아닐경우 검색한다.
	if(vrSrchItemNm != ""){
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val('');
		var srchKey = "ITEM";
		var param 	= "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url = "/selectMngCode.action"
		jQuery.post(url,param,function(data){
			//검색후 결과 갯수를 가져온다.
			//없을경우는 없다고 띄우고 input 초기화
			//1가지일경우 바로 이름과 코드를 셋팅해준다.
			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
			if (cnt > 1){	//2가지 이상일경우
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				var url = "/WMSCM091.action" + param;

				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){ //1가지 일경우
				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
			}else{	//없을경우
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("").focus();
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
	}
}

/* 로케이션 코드 입력 */
function vrSrchLocNm_OnKillFocus(){
	var vrSrchLocNm = jQuery('form[name="frm_list"] input[name="txtSrchLocNm"]').val();
	if( vrSrchLocNm != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocNm);
				strParameter.push('');
				
				var width 	= "800";
				var height 	= "560";
 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
//				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="txtSrchLocCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchLocNm"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchLocId']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchLocCd']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchLocNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchLocId']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchLocCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchLocNm']").val("");
	}
}

/* 로케이션 코드 입력 */
function vrSrchLocCd_OnKillFocus(){
	var vrSrchLocCd = jQuery('form[name="frm_list"] input[name="txtSrchLocCd"]').val();
	if( vrSrchLocCd != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocCd);
				strParameter.push('');
				
				var width 	= "800";
				var height 	= "560";
 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
//				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="txtSrchLocCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchLocNm"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchLocId']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchLocCd']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchLocNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchLocId']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchLocCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchLocNm']").val("");
	}
}

//팝업 호출
function fn_Popup(pop, id){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";

	switch(pop){

	case 'WMSCM011' : // 화주조회
		param = "?func=fn_setWMSCM011&custType=12";
		url = "/WMSCM011.action" + param;
		break;

	case 'WMSCM091' : // 상품조회
		var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());

		strParameter.push('');
		strParameter.push('');
		strParameter.push(cfn_trim(jQuery('form[name="frm_list"] input[name="hdnCustId"]').val()));
		param = '?func=fn_setWMSCM091&strParameter='+strParameter;
		url = "/WMSCM091.action" + param;
		break;

	case 'WMSCM040' : // 창고조회
		param = "?func=fn_setWMSMS040";
		url = "/WMSMS040/pop.action" + param;
		break;

	case 'WMSST260E2' : // 셋트상품 조회
		strParameter.push(jQuery("#list").getCell(id, "CUST_CD"));
		strParameter.push(jQuery("#list").getCell(id, "CUST_NM"));
		strParameter.push(jQuery("#list").getCell(id, "RITEM_CD"));
		strParameter.push(jQuery("#list").getCell(id, "RITEM_NM"));

		width = "810";
		height = "800";
		param = "?func=fn_setWMSST260&strParameter="+strParameter;
		url = "/WMSST260/pop.action" + param;
		break;
		
	case 'WMSCM080' : // 로케이션조회
		height = "560"
		strParameter.push(jQuery('form[name="frm_list"] input[name="txtSrchLocCd"]').val());
		strParameter.push(jQuery('form[name="frm_list"] input[name="txtSrchLocId"]').val());
		param = "?func=fn_setWMSCM080&strParameter="+strParameter;
		url = "/WMSCM080.action" + param;
		break;
	}

	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 셋트상품 */
function fn_setWMSST260(arr){
	var info = arr[0];
	/* 재고 입출고내역 조회 화면으로 이동 */

	var ritem_cd = info.ritem_cd;
	var work_dt = jQuery("input[name='today']").val();

	var frm = jQuery("#moveForm");

	jQuery.cookie("jstree_select", "#WMSST020", "");

	jQuery("#vrSrchItemCd").val(ritem_cd);
	jQuery("#vrSrchReqDtFrom").val(work_dt);
	jQuery("#vrSrchReqDtTo").val(work_dt);

	frm.submit();
}

/* 화주 */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery("#txtSrchCustCd").val(info.cust_cd);
	jQuery("#hdnCustId").val(info.cust_id);
	jQuery("#txtSrchCustNm").val(info.cust_nm);
}
/* 상품 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery("#txtSrchItemCd").val(info.item_code);
	jQuery("#txtSrchItemNm").val(info.item_kor_nm);

}
/* 창고 */
function fn_setWMSMS040(arr){
	var info = arr[0];
	jQuery("#txtSrchWhCd").val(info.wh_cd);
	jQuery("#hdnWhId").val(info.wh_id);
	jQuery("#txtSrchWhNm").val(info.wh_nm);
}
/* 로케이션 */
function fn_setWMSCM080(arr){
	var info = arr[0];
	jQuery("#txtSrchLocId").val(info.loc_id);
	jQuery("#txtSrchLocCd").val(info.loc_cd);
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST260/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}



//엑셀
function fn_excelDown2(){
	var id = jQuery("#GridId").val()
	var grid = jQuery("#detail");
	var grid2 = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var uom_id = grid2.getCell(id, 'UOM_ID');
	var ritem_id = grid2.getCell(id, 'RITEM_ID');
	var param = "?sidx="+sidx+"&sord="+sord+"&vrRitemId="+ritem_id+"&vrUomId="+uom_id;
	var fm = document.frm_list;
	var countRow = jQuery("#detail").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST260/excel2.action"+param;
		fm.method="post";
		fm.submit();
	}
}

/* 신규 */
function fn_addRow(){
	datarow = {
            RITEM_CD: ""
        };
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);

    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
    listGrid0.addRow(datarow);
}

function fn_setItemParam(){
	var grid = jQuery("#list0");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt = 0;
	itemParam = "";
	var srGb = "";
	if(selectIds != ""){
		for(var i = 0 ; i < selectIds.length ; i++){
			jQuery("#vrSrchItemParam_" + (i+1)).val( jQuery("#"+selectIds[i] + "_RITEM_CD", "#list0").val() );
			srGb += jQuery("#"+selectIds[i] + "_RITEM_CD", "#list0").val();
		}
	}

	if(srGb.length > 0){
		jQuery("#vrSrchInGb").val("SS");
	}else if(srGb.length == 0){
		jQuery("#vrSrchInGb").val("FF");
	}
}


function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="txtSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="txtSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}
</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("현재고조회(다중상품)")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>

	<div id="tabs-1">
#parse("winus/wmsst/WMSST260E1.vm")
	</div>
</div>


<div id="jqContextMenu" style="display:none">
	<div id="myMenu1">
		<ul>
			<li id="menu1" style="display:;">
				<a href='#'><span>$!lang.getText("세트상품조회")</span></a>
			</li>
		</ul>
	</div>
</div>

#parse("winus/common/footer.vm")