<!-- <div class="pageBtnGroup"> -->
<!-- 	<div class="patternWrap"> -->
<!-- 	    <div class = "btnArea"> -->
<!-- 	    	<div class="btnAreaRight" id="btnArea_Top"> -->
<!-- 	    	</div> -->
<!-- 	    </div>	 -->
<!--     </div> -->
<!-- </div> -->

<div class="patternWrap">
	<form name="frm_mn_list">
		<table class="search" id="srchBox">
			<colgroup>
			<col width = "70px"/>
			<col width = "30%"/>
			<col width = "50px"/>
			<col width = "30%"/>
			<col width = "50px"/>
			<col width = "25%"/>
<!-- 			<col width = "100px"/> -->
<!-- 			<col width = "20%"/>	 -->
			</colgroup>
			<tr>
 			#if($adminInfo.getCustId() == $ss_user_gb) 
 				<th>$!lang.getText("화주")</th>
 				<td>
 					<input type="text" class="readOnly" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/> 
 					<img src="/img/exam/btn/ico_search.gif" class="imgSearch"> 
 					<input type="hidden" name="hdnCustId" id="hdnCustId" value="$ss_cmpy_id"/> 
 					<input type="text" class="readOnly" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" /> 
 				</td>
 			#else
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch">
					<input type="hidden" name="hdnCustId" id="hdnCustId"/>
					<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
				</td>
			#end	
				<th class="thBar">$!lang.getText("상품")</th>
				<td>
					<input type="text" class="text" name="txtSrchItemCd" id="txtSrchItemCd" style="width:40%" onChange="txtSrchItemCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM091');return false;" class="imgSearch">
					<input type="hidden" name="txtSrchItemId" id="txtSrchItemId"> 
					<input type="text" class="text" name="txtSrchItemNm" id="txtSrchItemNm" style="width:40%" onChange="txtSrchItemNm_OnKillFocus()"/>
				</td>
				<th class="thBar">$!lang.getText("상품군")</th>
				<td>
					<select name="vrSrchItemGrpId" id="vrSrchItemGrpId" class="selectbox">
						<option value="">$!lang.getText("전체")</option>
						<option value="N/A">$!lang.getText("미지정")</option>
						#foreach($row in $ITEMGRP)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>
<!-- 				<th class="thBar">$!lang.getText("셋트상품여부")</th> -->
<!-- 				<td colspan="2"> -->
<!-- 					<select name="vrSetItemYn" id="vrSetItemYn" class="selectbox"> -->
<!-- 					    <option value="">$!lang.getText("전체")</option> -->
<!-- 						<option value="N">$!lang.getText("셋트생성")</option> -->
<!-- 						<option value="Y">$!lang.getText("셋트해체")</option> -->
<!-- 					</select> -->
<!-- 				</td>	 -->
				<th class="btnSearch" rowspan="1">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>					
			</tr>
		</table>
		<br></br>
		<div style="float:left; width:48%;">
			<div class="btnArea">
				<div class = "btnAreaRight">
		        	<input type="button" class = "DEL_AUTH btnDelete" name = "btnDelete"	value = "$!lang.getText('생성')"		onclick="fn_save()"	role="button" aria-disabled="false"/>
					<input type="button" class = "INS_AUTH btnEtc"   name="btn_write"	    value="$!lang.getText('해체')"       onclick="fn_dlt()"/>
				</div>
			</div>
		</div>
	
		<input type="hidden" name="today"/>
		<input type="hidden" name="GridId" id="GridId"/>
		<input type="hidden" name="localDate" id="localDate"/>
	</form>
	
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
<!-- 		visible -->
	</form>
	
	<form name = "sub_data">
		<div id = "subData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
<!-- 		visible -->
	</form>
	
	<div class="list_box_mn" style="float:left; width:48%;">
		<table id="list_mn"></table>
		<div id="pjmap_mn"></div>
	</div>
	
	<div class="btnArea marT10">		
		<div class="btnAreaRight">
		</div>
	</div>
	<div style="float:left; width:4%; padding-top:110px;">
	</div>
		
	<div class="list_box_mn" style="float:left; width:48%;">
		<table id="detail_mn"></table>
		<div id="detail_pjmap_mn"></div>
	</div>
	
<!-- 	<form id="moveForm" name="moveForm" method="post" action="/WINUS/WMSST020.action"> -->
<!-- 		<input type="hidden" name="vrSrchItemSCd" id="vrSrchItemSCd" /> -->
<!-- 		<input type="hidden" name="vrSrchReqStFrom" id="vrSrchReqStFrom" /> -->
<!-- 		<input type="hidden" name="vrSrchReqStTo" id="vrSrchReqStTo" /> -->
<!-- 	</form> -->
	
<!-- 	<form id="moveForm2" name="moveForm2" method="post" action="/WINUS/WMSST051.action"> -->
<!-- 		<input type="hidden" name="vrSrchItemSCd2" id="vrSrchItemSCd2" /> -->
<!-- 	</form> -->
</div>


<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var listGrid_mn = new ULNSI_jQGrid();
var detailGrid_mn = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	/* @특정상품권한:Y, 사용자관리LC상품군,  @param : (고정), (고정), (요소타입:select/input), (요소ID) */
	cfn_setFixedItemGrpIdByLc("$ss_item_fix_yn", "$ss_item_grp_id", "select", "vrSrchItemGrpId");
	
	/*detail영역 초기화*/
	jQuery("#frm_mn_list2").hide();
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}
	
	
	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	jQuery("input[name='today']").val((new Date()).getFormattedString("YYYY-MM-DD"));

	// button
	jQuery("input:button").button();

	// local system 날짜 계산
	fn_getDate();
	
	/* 그리드 공통화 적용 시작- listGrid_mn */
	// 그리드 컬럼명
	var colNameArray_mn = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG'
	              ,"$!lang.getText('작업수량')"
		          ,"$!lang.getText('품목코드')"	
		          ,"$!lang.getText('품목명')"	
	              ,"$!lang.getText('센터화주상품ID')"
		          ,"$!lang.getText('화주ID')"	
		          ,"$!lang.getText('재고수량')"	
		          ,"$!lang.getText('UOMID')"	
		          ,"$!lang.getText('UOM')"	
		          ,"$!lang.getText('ITEM_GRP_ID')"	
		          ,"$!lang.getText('상품군')"	
		          ,"$!lang.getText('CBM')"	
		          ,"$!lang.getText('SHIPPING_ABLE_QTY')"	
		          ,"$!lang.getText('PICKING_QTY')"	
		          ,"$!lang.getText('OUT_EXP_QTY')"	
		          ,"$!lang.getText('화주코드')"	
		          ,"$!lang.getText('화주명')"	
		          ,"$!lang.getText('비고')"	
		          ,"$!lang.getText('창고ID')"	
		          ,"$!lang.getText('UNIT명')"	

		          ];
	// 그리드 컬럼 정의
	var colModelArray_mn = [
			{name:'CHK_BOX',			index:'CHK_BOX',							align:"left",	hidden:true}
			,{name:'ST_GUBUN',			index:'ST_GUBUN',							align:"left",	hidden:true}
			,{name:'ST_GUBUN_IMG',		index:'ST_GUBUN_IMG',		width:20,		align:"left"}
			,{name:'FLAG',				index:'FLAG',								align:"left",	hidden:true}
			
			,{name : 'WORK_QTY'			,index : 'WORK_QTY'			,width : 70,	align:"left", editable : true, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_WORK_QTY\')"' }}
			,{name : 'RITEM_CD'			,index : 'RITEM_CD'				,width : 150		,align : "left", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_RITEM_CD\')"' }}
			,{name : 'RITEM_NM'			,index : 'RITEM_NM'				,width : 200		,align : "left", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_RITEM_NM\')"' }}
// 			,{name : 'WORK_QTY'			,index : 'WORK_QTY'			,width : 70,	align:"left",	editable : true }
			,{name : 'RITEM_ID'			,index : 'RITEM_ID'		,width : 100		,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_RITEM_ID\')"' } ,	hidden:true}
			,{name : 'CUST_ID'			,index : 'CUST_ID'		,width : 70		,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_CUST_ID\')"' },	hidden:true}
			,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	,width : 70		,align : "left", editable : false, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_STOCK_QTY\')"' }}
			,{name : 'UOM_ID'			,index : 'UOM_ID'		,width : 70		,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_UOM_ID\')"' },	hidden:true}
			,{name : 'UOM_NM'			,index : 'UOM_NM'				,width : 70			,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_UOM_NM\')"' }}
			,{name : 'ITEM_GRP_ID'		,index : 'ITEM_GRP_ID'	,width : 70		,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_ITEM_GRP_ID\')"' },	hidden:true}
			,{name : 'ITEM_GRP_NM'		,index : 'ITEM_GRP_NM'			,width : 150		,align : "left", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_ITEM_GRP_NM\')"' }}
			,{name : 'ITEM_CAPACITY'	,index : 'ITEM_CAPACITY',width : 70		,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_ITEM_CAPACITY\')"' },	hidden:true}
			
			,{name : 'SHIPPING_ABLE_QTY',index : 'SHIPPING_ABLE_QTY'			,width : 70		,align : "left", editable : false, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_SHIPPING_ABLE_QTY\')"' },	hidden:true}
			,{name : 'PICKING_QTY'		,index : 'PICKING_QTY'					,width : 70		,align : "left", editable : false, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_PICKING_QTY\')"' },	hidden:true}
			,{name : 'OUT_EXP_QTY'		,index : 'OUT_EXP_QTY'			,width : 70			,align : "left", editable : false, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_OUT_EXP_QTY\')"' },	hidden:true}
			
			,{name : 'CUST_CD'			,index : 'CUST_CD'				,width : 100		,align : "left", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_CUST_CD\')"' },	hidden:true}
			,{name : 'CUST_NM'			,index : 'CUST_NM'				,width : 100		,align : "left", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_CUST_NM\')"' },	hidden:true}
			,{name : 'REMARK'			,index : 'REMARK'				,width : 200		,align : "center", editable : false, editoptions : {maxlength : 10}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_REMARK\')"' }}
			,{name : 'WH_ID'			,index : 'WH_ID'				,width : 70			,align : "center", editable : false, editoptions : {maxlength : 10},	cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_WH_ID\')"' },	hidden:true}
			,{name : 'UNIT_NM'			,index : 'UNIT_NM'				,width : 70			,align : "center", editable : false, editoptions : {maxlength : 10},cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_UNIT_NM\')"' },	hidden:true}

		];

	var option_mn = {
		'title' : '$!lang.getText("세트상품생성")',
		'height' : 500,
		'width' : '98%',
		'colName' : colNameArray_mn,
		'colModel' : colModelArray_mn,
	    'pager' : jQuery("#pjmap_mn"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : false,
        'shrinkToFit' : false,
        'rowList' : [200,300,400,500,1000],
        'rownumbers' : true,
        'rownumWidth' : 40,
        'footerrow' 	: true,
		'userDataOnFooter' : true
	};
	
	var paramInit = jQuery("form[name='frm_mn_list']").serialize();
// 	var url="/WMSST010/list.action?"+paramInit;
	var url="/WMSST290/list.action?"+paramInit;

	function loadCompleteEventCallback (data){
		
	};


	listGrid_mn.init(jQuery("#list_mn"), option_mn, url, loadCompleteEventCallback);

	// 그리드 전체셀선택 이벤트
	listGrid_mn.setSelectAllEventCallback(function(id , status){
		var grid = jQuery("#list_mn");
		var ids  = grid.jqGrid('getDataIDs');
		if(ids != ''){
			for(var i = 0; i< ids.length; i ++){
				var idx = ids[i];
				
				if(status){
					grid.setCell(idx, 'CHK_BOX', "Yes");
					var rowdata = grid.getRowData(idx);
					if(rowdata.FLAG == "S"){
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
					}else{
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
					}
					grid.editRow(idx);
					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid_mn.setStatus(idx, "INSERT");
					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid_mn.setStatus(idx, "UPDATE");
					}
				}else{
					grid.setCell(idx, 'CHK_BOX', 'No');
					grid.restoreRow(idx);
					listGrid_mn.setStatus(idx, " ");
				}
			}
		}
	});
	
	// 그리드 셀선택 이벤트
	listGrid_mn.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list_mn");
// 		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid_mn.setStatus(id, " ");
// 				detailGrid_mn.clear();
				return false;
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid_mn.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid_mn.setStatus(id, "UPDATE");
				}
			}
// 		}else if(col != 1){
// 			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
// 				grid.setCell(id, 'CHK_BOX', 'Yes');
// 				grid.setSelection(id, false);
// 			}else{
// 				grid.setCell(id, 'CHK_BOX', 'No');
// 				grid.setSelection(id, true);
// 			}
// 		}
		
		
		jQuery("#GridId").val(id);
		
		var uom_id = grid.getCell(id, 'UOM_ID');
		var ritem_id = grid.getCell(id, 'RITEM_ID');
// 		var rwork_qty_h = grid.getCell(id, 'WORK_QTY_H');
		
		var txtSrchLocId = jQuery('form[name="frm_mn_list"] input[name="txtSrchLocId"]').val();
		
		//detail Filter 파라미터 셋팅
		jQuery("#filterRitemId").val(ritem_id);
		jQuery("#filterUomId").val(uom_id);
		jQuery("#filterLocId").val(txtSrchLocId);
		jQuery("#vrSrchUnitNo").val("");
		jQuery("#vrSrchLockYn").val("N");
	
// 		var param = "vrRitemId="+ritem_id+"&vrUomId="+uom_id+"&txtSrchLocId="+txtSrchLocId;
// 		var lc_id = jQuery("select[name='SVC_INFO']").val();
// 		var url = "/WMSST010/sublist.action?"+param;
// 		var url = "/WMSST290/sublist.action?"+param+ "&LC_ID="+lc_id;
// 		detailGrid_mn.search(param, url);
		
	});

	/* 그리드 공통화 적용 시작- detailGrid_mn */
	// 그리드 컬럼명
	var colNameArray_detail_mn = [
// 	                           'CHK_BOX',
// 	         	              'ST_GUBUN',
// 	         	              '',
// 	         	              'FLAG',

// 	         	              '$!lang.getText("출고예정")<br>$!lang.getText("수량")'
// 	         	              "$!lang.getText('작업수량')"
	         	              "$!lang.getText('센터화주상품ID')"
	 				         ,"$!lang.getText('화주ID')"	
	 				         ,"$!lang.getText('UOMID')"	
	 				         ,"$!lang.getText('ITEM_GRP_ID')"	
	 				         ,"$!lang.getText('CBM')"	
	 				         ,"$!lang.getText('SHIPPING_ABLE_QTY')"	
	 				         ,"$!lang.getText('PICKING_QTY')"	
	 				         ,"$!lang.getText('OUT_EXP_QTY')"	
	 				         ,"$!lang.getText('화주코드')"	
	 				         ,"$!lang.getText('화주명')"	
	 				         ,"$!lang.getText('품목코드')"	
	 				         ,"$!lang.getText('품목명')"	
	 				         ,"$!lang.getText('재고수량')"	
	 				         ,"$!lang.getText('UOM')"	
	 				         ,"$!lang.getText('상품군')"	
	 				         ,"$!lang.getText('비고')"	
	 				         ,"$!lang.getText('창고ID')"	
	 				         ,"$!lang.getText('UNIT명')"	
	                           ];
		// 그리드 컬럼 정의
	var colModelArray_mn_detail = [
// 		{name:'CHK_BOX',		index:'CHK_BOX',					align:"left",	hidden:true},
// 		{name:'ST_GUBUN',		index:'ST_GUBUN',					align:"left",	hidden:true},
// 		{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:20,	align:"left"},
// 		{name:'FLAG',			index:'FLAG',						align:"left",	hidden:true}
		//참고
// 		{name:'OUT_EXP_QTY',	index:'OUT_EXP_QTY',	width:80,	align:"right", editable : true, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_OUT_EXP_QTY\')"' }}
		//그리드
// 		 {name : 'WORK_QTY_D'		,index : 'WORK_QTY_D'			,width : 70,	align:"left"}
		 {name : 'RITEM_ID'		,index : 'RITEM_ID', 	width:80,	align:"center" 	  , hidden:true}
		,{name : 'CUST_ID'		,index : 'CUST_ID'		,width : 70,	align:"center",	hidden:true}
		,{name : 'UOM_ID'		,index : 'UOM_ID'		,width : 70,	align:"center", hidden:true}
		,{name : 'ITEM_GRP_ID'		,index : 'ITEM_GRP_ID'			,width : 70,	align:"center", hidden:true}
		,{name : 'ITEM_CAPACITY'	,index : 'ITEM_CAPACITY'		,width : 70,	align:"center", hidden:true}
		
		,{name : 'SHIPPING_ABLE_QTY',index : 'SHIPPING_ABLE_QTY'	,width : 70,	align:"left", hidden:true}
		,{name : 'PICKING_QTY'		,index : 'PICKING_QTY'			,width : 70,	align:"left", hidden:true}
		,{name : 'OUT_EXP_QTY'		,index : 'OUT_EXP_QTY'			,width : 70,	align:"left", hidden:true}
		
		,{name : 'CUST_CD'			,index : 'CUST_CD'				,width : 100,	align:"left", hidden:true}
		,{name : 'CUST_NM'			,index : 'CUST_NM'				,width : 100,	align:"left", hidden:true}
		,{name : 'RITEM_CD'			,index : 'RITEM_NM'				,width : 200,	align:"left"}
		,{name : 'RITEM_NM'			,index : 'RITEM_CD'				,width : 200,	align:"left"}
		,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'			,width : 70,	align:"left"}
		,{name : 'UOM_NM'			,index : 'UOM_NM'				,width : 70	,	align:"left"}
		,{name : 'ITEM_GRP_NM'		,index : 'ITEM_GRP_NM'			,width : 150,	align:"left"}
		,{name : 'REMARK'			,index : 'REMARK'				,width : 200,	align:"left"}
		,{name : 'WH_ID'			,index : 'WH_ID'				,width : 70	,	align:"center"}
		,{name : 'UNIT_NM'			,index : 'UNIT_NM'				,width : 70	,	align:"center",hidden:true}
		
		];

	var option_detail_mn = {
		'title' : '$!lang.getText("세트상품해제")',
		'height' : 520,
		'width' : '980',
		'colName' : colNameArray_detail_mn,
		'colModel' : colModelArray_mn_detail,
	    'pager' : jQuery("#detail_pjmap_mn"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
        'rowList' : [200,300,400,500,1000],
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40
	};



	detailGrid_mn.init(jQuery("#detail_mn"), option_detail_mn, "",loadCompleteEventCallback2);
	
	// 그리드 전체셀선택 이벤트
// 	detailGrid_mn.setSelectAllEventCallback(function(id , status){
// 		var grid = jQuery("#detail_mn");
// 		var ids  = grid.jqGrid('getDataIDs');
// 		if(ids != ''){
// 			for(var i = 0; i< ids.length; i ++){
// 				var idx = ids[i];
				
// 				if(status){
// 					grid.setCell(idx, 'CHK_BOX', "Yes");
// 					var rowdata = grid.getRowData(idx);
// 					if(rowdata.FLAG == "S"){
// 						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
// 					}else{
// 						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
// 					}
// 					grid.editRow(idx);
// 					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
// 						detailGrid_mn.setStatus(idx, "INSERT");
// 					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
// 						detailGrid_mn.setStatus(idx, "UPDATE");
// 					}
// 				}else{
// 					grid.setCell(idx, 'CHK_BOX', 'No');
// 					grid.restoreRow(idx);
// 					detailGrid_mn.setStatus(idx, " ");
// 				}
// 			}
// 		}
// 	});
	
	// 그리드 셀선택 이벤트
// 	detailGrid_mn.setSelectCellEventCallback(function(id, col){
// 	var grid = jQuery("#detail_mn");

// // 		if(col == 1){
// 	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
// 				jQuery("#jqg_detail_"+id).attr("checked",false);
// 				grid.setCell(id, 'CHK_BOX', "No");
// 				grid.restoreRow(id);
// 				detailGrid_mn.setStatus(id, " ");
// 			}else{
// 				jQuery("#jqg_detail_"+id).attr("checked",true);
// 				grid.setCell(id, 'CHK_BOX', "Yes");
// 				var rowdata = grid.getRowData(id);
// 				grid.editRow(id);
// 				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
// 					detailGrid_mn.setStatus(id, "INSERT");
// 				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
// 					detailGrid_mn.setStatus(id, "UPDATE");
// 				}
// 			}
// 		}
// 		else if(col != 1){
// 			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
// 				grid.setCell(id, 'CHK_BOX', 'Yes');
// 				grid.setSelection(id, false);
// 			}else{
// 				grid.setCell(id, 'CHK_BOX', 'No');
// 				grid.setSelection(id, true);
// 			}
// 		}
		
// 		fn_gridDateSet(id);
// 	});
	
	function loadCompleteEventCallback2 (data){
		var grid     = jQuery("#detail_mn");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		// 색상 넣기 = 빨강 
		///var css 	= {'color' : 'blue', 'cursor' : 'pointer'};
// 		var css2 	= {'color' : 'red' , 'cursor' : 'pointer'};
		
// 		for(var i = 0 ; i < gridData.length; i++){
// 			if(gridData[i].STOCK_RANK == "0"){
// 				grid.jqGrid('setCell', ids[i], 'WORK_DT', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'LOC_NM', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'RITEM_CD', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'RITEM_NM', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'STOCK_QTY', '', css2);

// 				grid.jqGrid('setCell', ids[i], 'UNIT_NM', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'UOM_NM', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'REAL_PLT_QTY', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'BL_NO', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'WH_NM', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'CUST_LOT_NO', '', css2);
				
// 				grid.jqGrid('setCell', ids[i], 'ITEM_CLASS', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'MAKE_DT', '', css2);
// 				grid.jqGrid('setCell', ids[i], 'ITEM_BEST_DATE_END', '', css2);
// 			}
// 		}
		
	}
	/* 그리드 공통화 적용 끝- detailGrid_mn */
	
});

//아직 한국어,일본어만 적용됨 (중국, 영어 추후 수정해야됨)
function fn_gridDateSet(id){
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("#"+id+"_ITEM_BEST_DATE_END",	 "#detail_mn").datepicker({dateFormat:"yy-mm-dd"});

}

//검색
function fn_search(op,op1) {
	fn_getDate();
	
	var param = jQuery("form[name='frm_mn_list']").serialize();
	var lc_id = jQuery("select[name='SVC_INFO']").val();
	var url = "/WMSST290/list.action?"+param+ "&LC_ID="+lc_id;
	listGrid_mn.search(param, url, op, op1);
	
	detailGrid_mn.clear();
 	fn_dsearch();
	
}

function fn_dsearch(op,op1) {
	fn_getDate();
	
	var paramInit = jQuery("form[name='frm_mn_list']").serialize();
	
	var lc_id = jQuery("select[name='SVC_INFO']").val();
	var url = "/WMSST290/sublist.action?"+paramInit+ "&LC_ID="+lc_id;
	detailGrid_mn.search(paramInit, url);
}

//local system 날짜 계산
function fn_getDate() {
	var localDate = new Date();
	var year = LPAD((localDate.getFullYear()).toString(),'0',2);
	var month = LPAD((localDate.getMonth()+1).toString(),'0',2);
	var date = LPAD((localDate.getDate()).toString(),'0',2);       
	var hour = LPAD((localDate.getHours()).toString(),'0',2);
	var min = LPAD((localDate.getMinutes()).toString(),'0',2);
	var sec = LPAD((localDate.getSeconds()).toString(),'0',2);
	var dataVal = year + "/" + month + "/" + date + " " + hour + ":" + min + ":" + sec;
	jQuery('form[name="frm_mn_list"] input[name="localDate"]').val(dataVal);
}

//왼쪽에서부터 채운다는 의미
function LPAD(s, c, n) {    
if (! s || ! c || s.length >= n) {
return s;
}

var max = (n - s.length)/c.length;
for (var i = 0; i < max; i++) {
s = c + s;
}

return s;
}
	
/* 현재고 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_mn_list"] input[type="text"], form[name="frm_mn_list"] input[type="hidden"]').val('');
	jQuery('form[name="frm_mn_list"] select[name="vrSrchItemGrpId"]').val('').attr("selected", 'selected');
	jQuery("input:checkbox[id='chkEmptyStock']").attr('checked',false);
}

//그리드 유효성 검사 (현재고 리스트 비고)
function fn_listValidation(){
	var grid = jQuery("#list_mn");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('비고')"];
		var tmpId = ["REMARK"];
		var tmpVal;
		var tmpLeng = [600];

		for(var i=0; i<selectIds.length; i++){
			var REMARK = jQuery.trim(jQuery("#"+selectIds[i] + "_REMARK","#list_mn").val());

			tmpVal = [REMARK];



			/* 특수문자 체크 */
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#list_mn").focus();
					return false;
				}
			}
			/* 비고 최대 길이 */
			if(REMARK.byteLength() > 600){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REMARK", "#list_mn").focus();
				return false;
			}
		}
	}
	return true;
}
//그리드 유효성 검사 (상세 로케이션 PLT수량)
function fn_listValidation2(){
	var grid = jQuery("#detail_mn");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('PLT수량')"];
		var tmpId = ["REAL_PLT_QTY"];
		var tmpVal;
		var tmpLeng = [10];

		for(var i=0; i<selectIds.length; i++){
			var REAL_PLT_QTY = jQuery.trim(jQuery("#"+selectIds[i] + "_REAL_PLT_QTY","#detail_mn").val());

			tmpVal = [REAL_PLT_QTY];

			/* 필수값 체크 */
			for(var j=0; j<tmpVal.length; j++){
				if(tmpVal[j] == ""){
					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#detail_mn").focus();
					return false;
				}
			}

			/* 특수문자 체크 */
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					jQuery("#"+selectIds[i] + "_" + tmpId[j],"#detail_mn").focus();
					return false;
				}
			}

			/* PLT수량 최대 길이, 숫자인지 */
			if(REAL_PLT_QTY.byteLength() > 10){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REAL_PLT_QTY", "#detail_mn").focus();
				return false;
			}else if(!REAL_PLT_QTY.isNumber()){
				alert("$!message.getMessage('0번째행의1은숫자만입력가능', '" + selectIds[i] + "','"+tmpText[0]+"')");
				jQuery("#"+selectIds[i]+"_REAL_PLT_QTY", "#detail_mn").focus();
				return false;
			}
		}
	}
	return true;
}


//생성
function fn_save(){
	var grid = jQuery("#list_mn");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt = 0;
// 	var sub_grid = jQuery("#detail_mn");
// 	var sub_selectIds = sub_grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
// 	var sub_tmpCnt = 0;
	var isProcess   = false;
	var sub_isProcess   = false;
	var invItemBestDateEnd   = true;
	var lcId = jQuery("select[name='SVC_INFO']").val();
// 	var memo ="";
// 	var custId = jQuery("form[name='frm_mn_list'] input[name='hdnCustId']").val(); 
	
	if(selectIds == ""){
		alert(strings['grid.no_check_data_for_save']);
		return false;
	}                                  

	if(confirm(strings['grid.confirm_save'])){
		jQuery("#formData").html("");
		if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
        }

// 		if( jQuery("form[name='frm_data'] input[name='D_selectIds']").val() == undefined){
//             jQuery("#formData").append("<input type='text' name='D_selectIds' value='0'/>");
//             jQuery("#formData").append("<br>");
//         }else{
//         	sub_tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='D_selectIds']").val());
//         }
		// 현재고리스트 비고 저장 유효성 체크
// 		if(!fn_listValidation()){return;}

		for(var i = 0 ; i < selectIds.length ; i++){
             if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
//              if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
                 jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                 isProcess = true;
             }
			if(isProcess){
				if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
// 					jQuery("#formData").append("<input type='text' name='REMARK"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_REMARK", "#list").val() +"'/>");
// 					jQuery("#formData").append("<input type='text' name='RITEM_ID"+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))+"'/>");
// 					jQuery("#formData").append("<input type='text' name='WORK_QTY"+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "WORK_QTY"))+"'/>");
					jQuery("#formData").append("<input type='text' name='RITEM_ID"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_RITEM_ID", "#list_mn").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='WORK_QTY"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_WORK_QTY", "#list_mn").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='LC_ID"+tmpCnt+"'       value='"+lcId+"'/>");
// 					jQuery("#formData").append("<input type='text' name='CUST_ID"+tmpCnt+"'     value='"+custId+"'/>");
					jQuery("#formData").append("<input type='text' name='CUST_ID"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_CUST_ID", "#list_mn").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='MEMO"+tmpCnt+"'       value='"+jQuery("#"+selectIds[i] + "_REMARK", "#list_mn").val() +"'/>");
// 					jQuery("#formData").append("<input type='text' name='MEMO"+tmpCnt+"'      	value='"+memo+"'/>");
					
					tmpCnt ++;
				}
			}
		}
		
		jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
// 		jQuery("form[name='frm_data'] input[name='D_selectIds']").val( sub_tmpCnt );
	}else{
		return false;
	}
	
	
	var param = jQuery("form[name='frm_data']").serialize();
	var url = "/WMSST290/save.action";

	jQuery.post(url, param, function(data) {
		alert(data.MSG);
		if(data.errCnt = 0 ){
// 			var param = jQuery("form[name='frm_mn_list']").serialize();
// 			var url = "/WMSST290/list.action?"+param;
// 			listGrid_mn.search(param, url);
// 			fn_dsearch();
			fn_search();
// 			detailGrid_mn.clear();
		}else{
// 			alert(data.MSG);
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){
			location.href=('/index.html');
		}
	});
	
	fn_search();
}


	

//해체
function fn_dlt(){
	var sub_grid = jQuery("#list_mn");
	var selectIds = sub_grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt = 0;
	var isProcess   = false;
	var sub_isProcess   = false;
	var invItemBestDateEnd   = true;
	var lcId = jQuery("select[name='SVC_INFO']").val();
// 	var memo ="";
	
	if(selectIds == ""){
		alert("선택된 행이 없습니다.");
		return false;
	}                                  

	if(confirm(strings['grid.confirm_save'])){
		jQuery("#formData").html("");
		if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
        jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
        jQuery("#formData").append("<br>");
    }else{
    	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
    }

		// 현재고리스트 비고 저장 유효성 체크
//		if(!fn_listValidation()){return;}

		for(var i = 0 ; i < selectIds.length ; i++){
         if("UPDATE" == cfn_trim(sub_grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(sub_grid.getCell(selectIds[i], "FLAG"))){
             jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+sub_grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
             isProcess = true;
         }
			if(isProcess){
				if("UPDATE" == cfn_trim(sub_grid.getCell(selectIds[i], "ST_GUBUN"))){
//					jQuery("#subData").append("<input type='text' name='REMARK"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_REMARK", "#detail_mn").val() +"'/>");
//					jQuery("#subData").append("<input type='text' name='RITEM_ID"+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))+"'/>");
//					jQuery("#subData").append("<input type='text' name='WORK_QTY"+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "WORK_QTY"))+"'/>");
//					jQuery("#subData").append("<input type='text' name='CUST_ID"+tmpCnt+"'     value='"+custId+"'/>");
					jQuery("#formData").append("<input type='text' name='RITEM_ID"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_RITEM_ID", "#list_mn").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='WORK_QTY"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_WORK_QTY", "#list_mn").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='LC_ID"+tmpCnt+"'       value='"+lcId+"'/>");
					jQuery("#formData").append("<input type='text' name='CUST_ID"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_CUST_ID", "#list_mn").val() +"'/>");
					jQuery("#formData").append("<input type='text' name='MEMO"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_REMARK", "#list_mn").val() +"'/>");
// 					jQuery("#formData").append("<input type='text' name='MEMO"+tmpCnt+"'      	value='"+memo+"'/>");
					
					tmpCnt ++;
				}
			}
		}
		
		jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
//		jQuery("form[name='frm_data'] input[name='D_selectIds']").val( sub_tmpCnt );
	}else{
		return false;
	}
	
	
	var param = jQuery("form[name='frm_data']").serialize();
	var url = "/WMSST290/dlt.action";

	jQuery.post(url, param, function(data) {
		alert(data.MSG);
		if(data.errCnt <= 0 ){
// 			var param = jQuery("form[name='sub_data']").serialize();
// 			var url = "/WMSTG290/sublist.action?"+param;
// 			listGrid_mn.search(param, url);
			fn_search();
// 			fn_dsearch();
//			detailGrid_mn.clear();
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){
			location.href=('/index.html');
		}
	});
}
	
	
//해체_bakup_헤제그리드기준
// function fn_dlt_backup(){
// 	var sub_grid = jQuery("#detail_mn");
// 	var selectIds = sub_grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
// 	var tmpCnt = 0;
// 	var isProcess   = false;
// 	var sub_isProcess   = false;
// 	var invItemBestDateEnd   = true;
// 	var lcId = jQuery("select[name='SVC_INFO']").val();
// 	var memo ="";
	
// 	if(selectIds == ""){
// 		alert("선택된 행이 없습니다.");
// 		return false;
// 	}                                  

// 	if(confirm(strings['grid.confirm_save'])){
// 		jQuery("#subData").html("");
// 		if( jQuery("form[name='sub_data'] input[name='selectIds']").val() == undefined){
//           jQuery("#subData").append("<input type='text' name='selectIds' value='0'/>");
//           jQuery("#subData").append("<br>");
//       }else{
//       	tmpCnt = parseInt(jQuery("form[name='sub_data'] input[name='selectIds']").val());
//       }


// 		for(var i = 0 ; i < selectIds.length ; i++){
//            if("UPDATE" == cfn_trim(sub_grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(sub_grid.getCell(selectIds[i], "FLAG"))){
//                jQuery("#subData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+sub_grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
//                isProcess = true;
//            }
// 			if(isProcess){
// 				if("UPDATE" == cfn_trim(sub_grid.getCell(selectIds[i], "ST_GUBUN"))){
// 					jQuery("#subData").append("<input type='text' name='RITEM_ID"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_RITEM_ID", "#detail_mn").val() +"'/>");
// 					jQuery("#subData").append("<input type='text' name='WORK_QTY"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_WORK_QTY_D", "#detail_mn").val() +"'/>");
// 					jQuery("#subData").append("<input type='text' name='LC_ID"+tmpCnt+"'       value='"+lcId+"'/>");
// 					jQuery("#subData").append("<input type='text' name='CUST_ID"+tmpCnt+"'    value='"+jQuery("#"+selectIds[i] + "_CUST_ID", "#detail_mn").val() +"'/>");
// 					jQuery("#subData").append("<input type='text' name='MEMO"+tmpCnt+"'      	value='"+memo+"'/>");
					
// 					tmpCnt ++;
// 				}
// 			}
// 		}
// 		jQuery("form[name='sub_data'] input[name='selectIds']").val( tmpCnt );
// 	}else{
// 		return false;
// 	}
	
// 	var param = jQuery("form[name='sub_data']").serialize();
// 	var url = "/WMSST290/dlt.action";

// 	jQuery.post(url, param, function(data) {
// 		alert(data.MSG);
// 		if(data.errCnt <= 0 ){
// 			var param = jQuery("form[name='sub_data']").serialize();
// 			var url = "/WMSTG290/sublist.action?"+param;
// 			listGrid_mn.search(param, url);
// 			fn_dsearch();
// 		}
// 	}).fail(function(xhr, textStatus){
// 		if(xhr.status == 404){
// 			location.href=('/index.html');
// 		}
// 	});
// }


/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_mn_list"] input[name="txtSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_mn_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_mn_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_mn_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_mn_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_mn_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_mn_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_mn_list"] input[name="txtSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_mn_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_mn_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_mn_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_mn_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_mn_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_mn_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val("");
	}
}

function txtSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="frm_mn_list"] input[name="txtSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "560"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_mn_list"] input[name="txtSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_mn_list"] input[name="txtSrchItemId"]').val(data[0].ID);
				jQuery('form[name="frm_mn_list"] input[name="txtSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemCd']").val("").focus();
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemId']").val("");
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemCd']").val("");
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemId']").val("");
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemNm']").val("");
	}
}

/* 상품명 자동팝업생성 */
function txtSrchItemNm_OnKillFocus(){
	//입력한 상품코드를 가져온다
	var vrSrchItemNm = cfn_trim(jQuery("form[name='frm_mn_list'] input[name='txtSrchItemNm']").val());
	var vrSrchCust = cfn_trim(jQuery("form[name='frm_mn_list'] input[name='hdnCustId']").val());

	//null이 아닐경우 검색한다.
	if(vrSrchItemNm != ""){
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemCd']").val('');
		var srchKey = "ITEM";
		var param 	= "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url = "/selectMngCode.action"
		jQuery.post(url,param,function(data){
			//검색후 결과 갯수를 가져온다.
			//없을경우는 없다고 띄우고 input 초기화
			//1가지일경우 바로 이름과 코드를 셋팅해준다.
			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
			if (cnt > 1){	//2가지 이상일경우
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				var url = "/WMSCM091.action" + param;

				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){ //1가지 일경우
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemId']").val(data[0].ID);
			}else{	//없을경우
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemNm']").val("");
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemCd']").val("").focus();
				jQuery("form[name='frm_mn_list'] input[name='txtSrchItemId']").val("").focus();
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemCd']").val("");
		jQuery("form[name='frm_mn_list'] input[name='txtSrchItemId']").val("");
	}
}


//팝업 호출
function fn_Popup(pop, id){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";

	switch(pop){

	case 'WMSCM011' : // 화주조회
		param = "?func=fn_setWMSCM011&custType=12";
		url = "/WMSCM011.action" + param;
		break;

	case 'WMSCM091' : // 상품조회
		var vrSrchCust = cfn_trim(jQuery("form[name='frm_mn_list'] input[name='hdnCustId']").val());

		strParameter.push('');
		strParameter.push('');
		strParameter.push(cfn_trim(jQuery('form[name="frm_mn_list"] input[name="hdnCustId"]').val()));
		param = '?func=fn_setWMSCM091&strParameter='+strParameter;
		url = "/WMSCM091.action" + param;
		break;

	case 'WMSCM040' : // 창고조회
		param = "?func=fn_setWMSMS040";
		url = "/WMSMS040/pop.action" + param;
		break;

// 	case 'WMSST010E2' : // 셋트상품 조회
// 		strParameter.push(jQuery("#list_mn").getCell(id, "CUST_CD"));
// 		strParameter.push(jQuery("#list_mn").getCell(id, "CUST_NM"));
// 		strParameter.push(jQuery("#list_mn").getCell(id, "RITEM_CD"));
// 		strParameter.push(jQuery("#list_mn").getCell(id, "RITEM_NM"));

// 		width = "810";
// 		height = "800";
// 		param = "?func=fn_setWMSST010&strParameter="+strParameter;
// 		url = "/WMSST010/pop.action" + param;
// 		break;
		
	case 'WMSCM080' : // 로케이션조회
		height = "560"
		strParameter.push(jQuery('form[name="frm_mn_list"] input[name="txtSrchLocCd"]').val());
		strParameter.push(jQuery('form[name="frm_mn_list"] input[name="txtSrchLocId"]').val());
		param = "?func=fn_setWMSCM080&strParameter="+strParameter;
		url = "/WMSCM080.action" + param;
		break;
		
	case 'CUST_ZONE' : // 거래처ZONE
		param = "?func=fn_setWMSCM085";
		url = "/WMSCM085.action" + param;
		break;
	}

	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 입고존코드 자동팝업생성 */
// function txtInCustZoneNm_OnKillFocus(){
// 	var vrSrchCustZoneNm = cfn_trim(jQuery("form[name='frm_mn_list'] input[name='CUST_ZONE_NM']").val());
// 	if(vrSrchCustZoneNm == ""){
// 		jQuery("form[name='frm_mn_list'] input[name='CUST_ZONE']").val("");
// 		jQuery("form[name='frm_mn_list'] input[name='CUST_ZONE_NM']").val("");
// 	}
// }

/* 셋트상품 */
// function fn_setWMSST010(arr){
// 	var info = arr[0];
// 	/* 재고 입출고내역 조회 화면으로 이동 */

// 	var ritem_cd = info.ritem_cd;
// 	var work_dt = jQuery("input[name='today']").val();

// 	var frm = jQuery("#moveForm");

// 	jQuery.cookie("jstree_select", "#WMSST020", "");

// 	jQuery("#vrSrchItemSCd").val(ritem_cd);
// 	jQuery("#vrSrchReqStFrom").val(work_dt);
// 	jQuery("#vrSrchReqStTo").val(work_dt);

// 	frm.submit();
// }

/* 화주 */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery("#txtSrchCustCd").val(info.cust_cd);
	jQuery("#hdnCustId").val(info.cust_id);
	jQuery("#txtSrchCustNm").val(info.cust_nm);
}
/* 상품 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery("#txtSrchItemCd").val(info.item_code);
	jQuery("#txtSrchItemNm").val(info.item_kor_nm);
	jQuery("#txtSrchItemId").val(info.ritem_id);

}
/* 창고 */
function fn_setWMSMS040(arr){
	var info = arr[0];
	jQuery("#txtSrchWhCd").val(info.wh_cd);
	jQuery("#hdnWhId").val(info.wh_id);
	jQuery("#txtSrchWhNm").val(info.wh_nm);
}
/* 로케이션 */
function fn_setWMSCM080(arr){
	var info = arr[0];
	jQuery("#txtSrchLocId").val(info.loc_id);
	jQuery("#txtSrchLocCd").val(info.loc_cd);
}

/* 팝업 적용 (zone) */
function fn_setWMSCM085(arr){
	var info = arr[0];	
	jQuery("#CUST_ZONE").val(info.cust_zone_id);
	jQuery("#CUST_ZONE_NM").val(info.cust_zone_nm);
}

//엑셀
// function fn_excelDown(){
// 	var grid = jQuery("#list_mn");
// 	var sidx =  grid.getGridParam('sortname');
// 	var sord = grid.getGridParam('sortorder');
// 	var param = "?sidx="+sidx+"&sord="+sord;

// 	var fm = document.frm_mn_list;
// 	var countRow = jQuery("#list_mn").getDataIDs().size();

// 	if(countRow == 0){
// 		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
// 		return;
// 	} else if(countRow > 60000) {
// 		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
// 		return;
// 	} else {
// 		fm.action="/WMSST010/excel.action"+param;
// 		fm.method="post";
// 		fm.submit();
// 	}
// }

// //엑셀
// function fn_excelDown2(){
// 	var id = jQuery("#GridId").val()
// 	var grid = jQuery("#detail_mn");
// 	var grid2 = jQuery("#list_mn");
// 	var sidx =  grid.getGridParam('sortname');
// 	var sord = grid.getGridParam('sortorder');
// 	var uom_id = grid2.getCell(id, 'UOM_ID');
// 	var ritem_id = grid2.getCell(id, 'RITEM_ID');
// 	var param = "?sidx="+sidx+"&sord="+sord+"&vrRitemId="+ritem_id+"&vrUomId="+uom_id;
// 	var fm = document.frm_mn_list;
// 	var countRow = jQuery("#detail_mn").getDataIDs().size();

// 	if(countRow == 0){
// 		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
// 		return;
// 	} else if(countRow > 60000) {
// 		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
// 		return;
// 	} else {
// 		fm.action="/WMSST010/excel2.action"+param;
// 		fm.method="post";
// 		fm.submit();
// 	}
// }

// function fn_detailFilter(){
// 	var detailFilterGb = jQuery("#detailFilterGb").val();
// 	if(detailFilterGb == "N"){
// 		jQuery("#frm_mn_list2").show();
// 		jQuery("#detailFilterBtn").val("$!lang.getText('필터닫기')");
// 		jQuery("#detailFilterGb").val("Y");
// 	}else if(detailFilterGb == "Y"){
// 		jQuery("#frm_mn_list2").hide();
// 		jQuery("#detailFilterBtn").val("$!lang.getText('필터')");
// 		jQuery("#detailFilterGb").val("N");
		
// 		jQuery("#vrSrchUnitNo").val("");
// 		jQuery("#vrSrchLockYn").val("N");
// 	}
// }

// function fn_detailSearchFilter(){
// 	var ritem_id     = jQuery("#filterRitemId").val();
// 	var uom_id       = jQuery("#filterUomId").val();
// 	var txtSrchLocId = jQuery("#filterLocId").val();
	
// 	var vrUnitNo = jQuery("#vrSrchUnitNo").val();
// 	var vrLockYn = jQuery("#vrSrchLockYn").val();
	
// 	var param = "vrRitemId="+ritem_id+"&vrUomId="+uom_id+"&txtSrchLocId="+txtSrchLocId+"&vrSrchUnitNo="+vrUnitNo+"&vrSrchLockYn="+vrLockYn;
// 	var url = "/WMSST010/sublist.action?"+param;
// 	detailGrid_mn.search(param, url);
// }



function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_mn_list"] input[name="txtSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_mn_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_mn_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_mn_list"] input[name="txtSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list_mn.nodata')");
			jQuery("form[name='frm_mn_list'] input[name='txtSrchCustCd']").val("").focus();
			jQuery("form[name='frm_mn_list'] input[name='txtSrchCustNm']").val("");
			jQuery('form[name="frm_mn_list"] input[name="txtSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}
</script>