#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//  
//   SQL문장 화주검색 없음
// 
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	/* @특정상품권한:Y, 사용자관리LC상품군,  @param : (고정), (고정), (요소타입:select/input), (요소ID) */
	cfn_setFixedItemGrpIdByLc("$ss_item_fix_yn", "$ss_item_grp_id", "select", "vrSrchItemGrpId");
	
	/* 상품DLL 상품초기셋팅 */
	jQuery("#vrSrchItemType").val("G");
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart(function(){vrSrchCustCd_OnStart2(vrSrchCustCd_OnStart3);});
		
	}
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	fn_infoSetCell();
	
	
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo'], input[name='vrSrchReqDtTo2'], input[name='vrSrchReqDtFrom2'], input[name='vrSrchReqDtTo3'], input[name='vrSrchReqDtFrom3'], input[name='vrSrchReqDtFrom4'], input[name='vrSrchReqDtTo5'], input[name='vrSrchReqDtFrom5']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	
	// 날자 셋팅	
	//jQuery("input[name='vrSrchReqDtTo']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	//jQuery("input[name='vrSrchReqDtFrom']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	//jQuery("input[name='vrSrchReqDtTo2']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	//jQuery("input[name='vrSrchReqDtFrom2']").val((new Date()).addDate(0, 0, -7).getFormattedString("YYYY-MM-DD"));
	//jQuery("input[name='vrSrchReqDtTo3']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	//jQuery("input[name='vrSrchReqDtFrom3']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtTo'] , input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDtTo2'] , input[name='vrSrchReqDtFrom2']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDtTo3'] , input[name='vrSrchReqDtFrom3']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDtFrom4']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDtTo5'] , input[name='vrSrchReqDtFrom5']").val(vrSrchReqDt);
	
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	

	// button
	jQuery("input:button").button();
	
	jQuery("#UOM_BTN").append("<img  src='/img/exam/btn/ico_search.gif' onClick=fn_Popup('UOM'); class='imgSearch'/> ");

	//화면 이동 셋팅
	#set($vrSrchItemCd = $!request.getParameter('vrSrchItemCd2'))

	#if($!vrSrchItemCd)
		jQuery("form[name='formDetl'] input[name='vrSrchItemCd2']").val("$!vrSrchItemCd");
		vrSrchItemCd_OnKillFocus('D');	
		jQuery("form[name='formDetl'] input[name='vrSrchReqDtFrom2']").val((new Date()).addDate(0, 0, -7).getFormattedString("YYYY-MM-DD"));
		jQuery("form[name='formDetl'] input[name='vrSrchReqDtTo2']").val((new Date()).getFormattedString("YYYY-MM-DD"));

		jQuery("#tab1").tabs({ active: 1 });	
	#else		
	#end
	
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	           
	              '$!lang.getText("작업일자")',
	              '$!lang.getText("화주")',
	              '$!lang.getText("상품코드")',
	              '$!lang.getText("상품명")',
				  '$!lang.getText("상품바코드")',
	              '$!lang.getText("입고")',
	              
	              '$!lang.getText("출고")',
				  '$!lang.getText("전체재고")',
				  '$!lang.getText("현재고")',
				  '$!lang.getText("불량재고")',
	              '$!lang.getText("이벤트출고")',
	              
	              '$!lang.getText("입수")',
	              'UOM',

	              '$!lang.getText("AS재고")',
	              '$!lang.getText("금액")',
	              '$!lang.getText("중량")',
	              '$!lang.getText("입출고수량")',
	              '$!lang.getText("CBM")',
	              
	              'RITEM_ID',
	              'CUST_ID',
	              'CUST_CD',
	              'UOM_CD'
				  
				  
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:40,	align:"center", hidden:true},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true},
		
			{name:'SUBUL_DT',				index:'SUBUL_DT',		width:80,			align:"center"},
			{name:'CUST_NM',				index:'CUST_NM',		width:120,			align:"center"},
			{name:'RITEM_CD',				index:'RITEM_CD',		width:100,			align:"center"},
			{name:'RITEM_NM',				index:'RITEM_NM',		width:250,			align:"left"},
			{name:'ITEM_BAR_CD',			index:'ITEM_BAR_CD',	width:250,			align:"center"},
			{name:'IN_QTY',					index:'IN_QTY',			width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'OUT_QTY',				index:'OUT_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_QTY',				index:'STOCK_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'GOOD_QTY',				index:'GOOD_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'BAD_QTY',				index:'BAD_QTY',		width:60,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			
			{name:'EVENT_QTY',				index:'EVENT_QTY',		width:80,			align:"right", hidden:true,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UNIT_NM',				index:'UNIT_NM',	 	 width:40,			align:"center"},
			{name:'UOM_NM',					index:'UOM_NM',			width:40,			align:"center"},
			
			{name:'AS_QTY',					index:'AS_QTY',			width:60,			align:"right", hidden:true,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'UNIT_PRICE',				index:'UNIT_PRICE',		width:100,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'STOCK_WEIGHT',			index:'STOCK_WEIGHT',	width:60,			align:"right", hidden:false,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'INOUT_QTY',				index:'INOUT_QTY',		width:80,			align:"right", hidden:false,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},

			{name:'CBM',					index:'CBM',		width:80,		align:"left"},
			{name:'RITEM_ID',				index:'RITEM_ID',					align:"left", hidden:true},
			{name:'CUST_ID',				index:'CUST_ID',					align:"left", hidden:true},
			{name:'CUST_CD',				index:'CUST_CD',					align:"left", hidden:true},
			{name:'UOM_CD',					index:'UOM_CD',						align:"left", hidden:true}
	
		];
	var option = {
		'title' : '$!lang.getText("일별재고내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : false,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*4,$ss_gird_num*6,$ss_gird_num*8,$ss_gird_num*10,$ss_gird_num*20,$ss_gird_num*50,$ss_gird_num*100,$ss_gird_num*200,$ss_gird_num*500,$ss_gird_num*1000,$ss_gird_num*2000,$ss_gird_num*3000],
        #else
        'rowList' : [400,600,800,1000,2000,5000,10000,20000,50000,100000,200000,300000],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40,
        'footerrow' 	: true,
		'userDataOnFooter' : true
	};
	
	var param = jQuery("form[name='frm_list']").serialize();
	
	//var url = "/WMSST051/list.action?"+param;
	var url = "";
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);

	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var SUM_IN_QTY = 0;
		var SUM_OUT_QTY = 0;
		var SUM_STOCK_QTY = 0;
		var SUM_GOOD_QTY = 0;
		var SUM_BAD_QTY = 0;
		var SUM_UNIT_PRICE = 0;
		var SUM_INOUT_QTY = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_IN_QTY = SUM_IN_QTY + Number(gridData[i].IN_QTY);
			SUM_OUT_QTY = SUM_OUT_QTY + Number(gridData[i].OUT_QTY);
			SUM_STOCK_QTY = SUM_STOCK_QTY + Number(gridData[i].STOCK_QTY);
			SUM_GOOD_QTY = SUM_GOOD_QTY + Number(gridData[i].GOOD_QTY);
			SUM_UNIT_PRICE = SUM_UNIT_PRICE + Number(gridData[i].UNIT_PRICE);
			SUM_INOUT_QTY = SUM_INOUT_QTY + Number(gridData[i].INOUT_QTY);
			SUM_BAD_QTY = SUM_BAD_QTY + Number(gridData[i].BAD_QTY);
		}
		
		//합계처리 변수 셋업
		var footData = {
				RITEM_NM : "$!lang.getText('합계')"
				,IN_QTY	: SUM_IN_QTY
				,OUT_QTY : SUM_OUT_QTY
				,STOCK_QTY : SUM_STOCK_QTY
				,GOOD_QTY : SUM_GOOD_QTY
				,UNIT_PRICE : SUM_UNIT_PRICE
				,INOUT_QTY : SUM_INOUT_QTY
				,BAD_QTY : SUM_BAD_QTY
			   };
		grid.jqGrid('footerData','set', footData);

		var paramC	= jQuery("form[name='frm_list']").serialize();
		var urlC 	= "/WMSST051/listSummaryCount.action";
		jQuery.ajax({
			url: urlC,
			type: 'GET',
			data: paramC,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			dataType: 'html',
			error		: function(_, textStatus, errorThrown) {
				alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (출고 조회 오류)'))");
			},
			success		: function(data) {	
			
				var result = JSON.parse(data);
				jQuery('#totalInQty').text(SetComma(result.LIST.TOTAL_IN_QTY));
				jQuery('#totalOutQty').text(SetComma(result.LIST.TOTAL_OUT_QTY));
				jQuery('#totalStockQty').text(SetComma(result.LIST.TOTAL_STOCK_QTY));
				jQuery('#totalGoodQty').text(SetComma(result.LIST.TOTAL_GOOD_QTY));
				jQuery('#totalBadQty').text(SetComma(result.LIST.TOTAL_BAD_QTY));
			}
		});

	};
	
	// 그리드 셀선택 이벤트3
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		var grid = jQuery("#list");
		
		var vrSrchReqDtFrom2 = grid.getCell(rowid, 'SUBUL_DT');
		var vrSrchReqDtTo2 = grid.getCell(rowid, 'SUBUL_DT');
		var ritem_id = grid.getCell(rowid, 'RITEM_ID');
		var ritem_cd = grid.getCell(rowid, 'RITEM_CD');
		var ritem_nm = grid.getCell(rowid, 'RITEM_NM');
		var cust_id  = grid.getCell(rowid, 'CUST_ID');
		var cust_cd  = grid.getCell(rowid, 'CUST_CD');
		var cust_nm  = grid.getCell(rowid, 'CUST_NM');
		var uom_cd   = grid.getCell(rowid, 'UOM_CD');
		
		jQuery("form[name='formDetl'] input[name='vrSrchReqDtFrom2']").val((new Date(vrSrchReqDtFrom2)).addDate(0, 0, -7).getFormattedString("YYYY-MM-DD"));
		jQuery("form[name='formDetl'] input[name='vrSrchReqDtTo2']").val(vrSrchReqDtTo2);
		jQuery("form[name='formDetl'] input[name='vrSrchItemId2']").val(ritem_id);
		jQuery("form[name='formDetl'] input[name='vrSrchItemCd2']").val(ritem_cd);
		jQuery("form[name='formDetl'] input[name='vrSrchItemNm2']").val(ritem_nm);
		jQuery("form[name='formDetl'] input[name='vrSrchCustId2']").val(cust_id);
		jQuery("form[name='formDetl'] input[name='vrSrchCustCd2']").val(cust_cd);
		jQuery("form[name='formDetl'] input[name='vrSrchCustNm2']").val(cust_nm);
		if(uom_cd == "EA"){
			jQuery("form[name='formDetl'] select[name='vrSrchItemType2']").val("G");
		}else if(uom_cd == "PLT"){
			jQuery("form[name='formDetl'] select[name='vrSrchItemType2']").val("P");
		}
		
		jQuery("#tab1").tabs({ active: 1 });		// 두번째 탭으로 이동
		
		fn_search_detail();  // 검색
	});	
	

});

//검색
function fn_search(op,op1) {
	
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_list");	
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):"); 
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}	

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST051/list.action?"+param;
	
	listGrid.search(param, url, op, op1);	
		
}

// 상세 검색
function fn_search_detail(op,op1) {
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("formDetl");	
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom2","Y:period=vrSrchReqDtFrom2=vrSrchReqDtTo2:Y:$!lang.getText('작업일자'):"); 
	validator.addItem("vrSrchReqDtTo2"	,"Y:period=vrSrchReqDtFrom2=vrSrchReqDtTo2:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("formDetl")){
		return false;
	}		

	if(""==jQuery("#vrSrchItemId2").val()){
		alert("$!lang.getText('상품정보를선택해주세요')");
		return false;
	}
	var param = jQuery("form[name='formDetl']").serialize();
	var url = "/WMSST051/detail.action?"+param;
	
	detailGrid.search(param, url, op, op1);	
		
}

function SetComma(str){
	var retValue = "";
	//str
	str = String(str).replace(/,/g,"");
	
	for(i = 1; i <= str.length; i++){
		if(i > 1 && (i%3) == 1){
			retValue = str.charAt(str.length - i) + "," + retValue;
		}else{
			retValue = str.charAt(str.length - i) + retValue;
		}
	}
	return retValue;
}

//검색
function fn_searchPool(op,op1) {
	
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_listPool");	
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom3" ,"Y:period=vrSrchReqDtFrom3=vrSrchReqDtTo3:Y:$!lang.getText('작업일자'):"); 
	validator.addItem("vrSrchReqDtTo3"	 ,"Y:period=vrSrchReqDtFrom3=vrSrchReqDtTo3:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("frm_listPool")){
		return false;
	}	

	var param = jQuery("form[name='frm_listPool']").serialize();
	var url = "/WMSST051/listPool.action?"+param;
	
	listGridPool.search(param, url, op, op1);	
		
}

/* 검색 조건 초기화 */
function fn_initSer(m){
	if("M"==m){
		jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
		// 날자 셋팅
		jQuery("input[name='vrSrchReqDtTo']").val((new Date()).getFormattedString("YYYY-MM-DD"));
		jQuery("input[name='vrSrchReqDtFrom']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	}else if("D"==m){
		jQuery('form[name="formDetl"] input[type="text"], form[name="formDetl"] input[type="hidden"]').val('');
		// 날자 셋팅
		jQuery("input[name='vrSrchReqDtTo2']").val((new Date()).getFormattedString("YYYY-MM-DD"));
		jQuery("input[name='vrSrchReqDtFrom2']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	}else if("P"==m){
		jQuery('form[name="frm_listPool"] input[type="text"], form[name="frm_listPool"] input[type="hidden"]').val('');
		// 날자 셋팅
		jQuery("input[name='vrSrchReqDtTo3']").val((new Date()).getFormattedString("YYYY-MM-DD"));
		jQuery("input[name='vrSrchReqDtFrom3']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	}
	
	jQuery("input:checkbox[id='chkEmptyStock']").attr('checked',false);
}

//엑셀
function fn_excelDown(m){
	if("M"==m){
		var grid = jQuery("#list");
		var sidx =  grid.getGridParam('sortname');
		var sord = grid.getGridParam('sortorder');
		var param = "?sidx="+sidx+"&sord="+sord;
		
		var fm = document.frm_list;
		console.log(fm);
		var countRow = jQuery("#list").getDataIDs().size();
	
		if(countRow == 0){
			alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
			return;
		} else if(countRow > 60000) {
			alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
			return;
		} else {
			fm.action="/WMSST051/excel.action"+param;
			fm.method="post";
			fm.submit();
		}
	}else if("D"==m){
		var grid = jQuery("#list");
		var sidx =  grid.getGridParam('sortname');
		var sord = grid.getGridParam('sortorder');
		var from = jQuery("#vrSrchReqDtFrom2").val();
		var to = jQuery("#vrSrchReqDtTo2").val();
		var item = jQuery("#vrSrchItemId2").val();
		var param = "?sidx="+sidx+"&sord="+sord+"&vrSrchReqDtFrom2="+from+"&vrSrchReqDtTo2="+to+"&vrSrchItemId2="+item;
		
		var fm = document.frm_list;
		var countRow = jQuery("#detail").getDataIDs().size();
	
		if(countRow == 0){
			alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
			return;
		} else if(countRow > 60000) {
			alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
			return;
		} else {
			fm.action="/WMSST051/detail_excel.action"+param;
			fm.method="post";
			fm.submit();
		}
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(m){
	if("M"==m){
		var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	}else if("D"==m){
		var vrSrchCustCd = jQuery('form[name="formDetl"] input[name="vrSrchCustCd2"]').val();
	} if("P"==m){
		var vrSrchCustCd = jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val();
	} if("A"==m){
		var vrSrchCustCd = jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val();
	}else if("B"==m){	
		var vrSrchCustNm = jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val();
	}
	
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				if("M"==m){
					var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("D"==m){
					var param  = "?func=fn_setWMSMS011_2&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("P"==m){
					var param  = "?func=fn_setWMSCM011_3&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("A"==m){
					var param  = "?func=fn_setWMSCM011_4&strParameter=" + strParameter + "&stBtnYn=N";
				}
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("M"==m){
					jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
					jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
					jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
				}else if("D"==m){
					jQuery('form[name="formDetl"] input[name="vrSrchCustCd2"]').val(data[0].CODE);
					jQuery('form[name="formDetl"] input[name="vrSrchCustNm2"]').val(data[0].NAME);
					jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val(data[0].ID);
				}else if("P"==m){
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val(data[0].CODE);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val(data[0].NAME);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val(data[0].ID);
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val(data[0].NAME);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val(data[0].ID);
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val(data[0].NAME);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val(data[0].ID);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("M"==m){
					jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
					jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
					jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
				}else if("D"==m){
					jQuery("form[name='formDetl'] input[name='vrSrchCustCd2']").val("").focus();
					jQuery("form[name='formDetl'] input[name='vrSrchCustNm2']").val("");
					jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val("");
				}else if("P"==m){
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("").focus();
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val("").focus();
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val("");
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val("");
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val("").focus();
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val("");
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("M"==m){
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}else if("D"==m){
			jQuery("form[name='formDetl'] input[name='vrSrchCustCd2']").val("");
			jQuery("form[name='formDetl'] input[name='vrSrchCustNm2']").val("");
			jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val("");				
		}
		else if("P"==m){
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
			jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");				
		}else if("A"==m){
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val("");	
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val("");
		}else if("B"==m){
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val("");
		}
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(m){
	if("M"==m){
		var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	}else if("D"==m){	
		var vrSrchCustNm = jQuery('form[name="formDetl"] input[name="vrSrchCustNm2"]').val();
	}else if("P"==m){	
		var vrSrchCustNm = jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val();
	}else if("A"==m){	
		var vrSrchCustNm = jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val();
	}else if("B"==m){	
		var vrSrchCustNm = jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val();
	}
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				if("M"==m){
					var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("D"==m){	
					var param  = "?func=fn_setWMSCM011_2&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("P"==m){	
					var param  = "?func=fn_setWMSCM011_3&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("A"==m){	
					var param  = "?func=fn_setWMSCM011_4&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("B"==m){	
					var param  = "?func=fn_setWMSCM011_5&strParameter=" + strParameter + "&stBtnYn=N";
				}
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				if("M"==m){
					jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
					jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
					jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
				}else if("D"==m){
					jQuery('form[name="formDetl"] input[name="vrSrchCustCd2"]').val(data[0].CODE);
					jQuery('form[name="formDetl"] input[name="vrSrchCustNm2"]').val(data[0].NAME);
					jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val(data[0].ID);
				}else if("P"==m){
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val(data[0].CODE);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val(data[0].NAME);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val(data[0].ID);
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val(data[0].NAME);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val(data[0].ID);
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val(data[0].NAME);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val(data[0].ID);
				}
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("M"==m){
					jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
					jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
					jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
				}else if("D"==m){
					jQuery("form[name='formDetl'] input[name='vrSrchCustCd2']").val("").focus();
					jQuery("form[name='formDetl'] input[name='vrSrchCustNm2']").val("");
					jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val("");				
				}else if("P"==m){
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("").focus();
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");				
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val("").focus();
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val("");
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val("");
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val("").focus();
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val("");
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("M"==m){
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}else if("D"==m){
			jQuery("form[name='formDetl'] input[name='vrSrchCustCd2']").val("");
			jQuery("form[name='formDetl'] input[name='vrSrchCustNm2']").val("");
			jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val("");				
		}else if("P"==m){
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
			jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");				
		}else if("A"==m){
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val("");
		}else if("B"==m){
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val("");
		}
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(m){
	if("M"==m){
		var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val();
	}else if("D"==m){	
		var vrSrchItemCd = jQuery('form[name="formDetl"] input[name="vrSrchItemCd2"]').val();
	}else if("P"==m){	
		var vrSrchItemCd = jQuery('form[name="frm_listPool"] input[name="vrSrchItemCd3"]').val();
	}else if("A"==m){	
		var vrSrchItemCd = jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val();
	}else if("B"==m){	
		var vrSrchItemCd = jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val();
	}
	
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "560"
				if("M"==m){
					var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("D"==m){
					var param  = "?func=fn_setWMSCM091_2&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("P"==m){
					var param  = "?func=fn_setWMSCM091_3&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("A"==m){
					var param  = "?func=fn_setWMSCM091_4&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("B"==m){
					var param  = "?func=fn_setWMSCM091_5&strParameter=" + strParameter + "&stBtnYn=N";
				}
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("M"==m){
					jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
					jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(data[0].ID);
					jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				}else if("D"==m){
					jQuery('form[name="formDetl"] input[name="vrSrchItemCd2"]').val(data[0].CODE);
					jQuery('form[name="formDetl"] input[name="vrSrchItemId2"]').val(data[0].ID);
					jQuery('form[name="formDetl"] input[name="vrSrchItemNm2"]').val(data[0].NAME);
				}else if("P"==m){
					jQuery('form[name="frm_listPool"] input[name="vrSrchItemCd3"]').val(data[0].CODE);
					jQuery('form[name="frm_listPool"] input[name="vrSrchItemId3"]').val(data[0].ID);
					jQuery('form[name="frm_listPool"] input[name="vrSrchItemNm3"]').val(data[0].NAME);
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val(data[0].ID);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val(data[0].NAME);
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val(data[0].ID);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val(data[0].NAME);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("M"==m){
					jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
					jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
					jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
				}else if("D"==m){
					jQuery("form[name='formDetl'] input[name='vrSrchItemCd2']").val("").focus();
					jQuery("form[name='formDetl'] input[name='vrSrchItemId2']").val("");
					jQuery("form[name='formDetl'] input[name='vrSrchItemNm2']").val("");
				}else if("P"==m){
					jQuery("form[name='frm_listPool'] input[name='vrSrchItemCd3']").val("").focus();
					jQuery("form[name='frm_listPool'] input[name='vrSrchItemId3']").val("");
					jQuery("form[name='frm_listPool'] input[name='vrSrchItemNm3']").val("");
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val("").focus();
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val("");
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val("");
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val("").focus();
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val("");
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("M"==m){
			jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
			jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
			jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		}else if("D"==m){
			jQuery("form[name='formDetl'] input[name='vrSrchItemCd2']").val("");
			jQuery("form[name='formDetl'] input[name='vrSrchItemId2']").val("");
			jQuery("form[name='formDetl'] input[name='vrSrchItemNm2']").val("");
		}else if("P"==m){
			jQuery("form[name='frm_listPool'] input[name='vrSrchItemCd3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchItemId3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchItemNm3']").val("");
		}else if("A"==m){
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val("");
		}else if("B"==m){
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val("");
		}
	}
}



/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(m){
	if("M"==m){
		var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val();
	}else if("D"==m){		
		var vrSrchItemNm = jQuery('form[name="formDetl"] input[name="vrSrchItemNm2"]').val();
	}else if("P"==m){		
		var vrSrchItemNm = jQuery('form[name="frm_listPool"] input[name="vrSrchItemNm3"]').val();
	}else if("A"==m){		
		var vrSrchItemNm = jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val();
	}else if("B"==m){		
		var vrSrchItemNm = jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val();
	}
	
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "560";
				if("M"==m){
					var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("D"==m){		
					var param  = "?func=fn_setWMSCM091_2&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("P"==m){		
					var param  = "?func=fn_setWMSCM091_3&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("A"==m){		
					var param  = "?func=fn_setWMSCM091_4&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("B"==m){		
					var param  = "?func=fn_setWMSCM091_5&strParameter=" + strParameter + "&stBtnYn=N";
				}
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("M"==m){
					jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
					jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(data[0].ID);
					jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				}else if("D"==m){		
					jQuery('form[name="formDetl"] input[name="vrSrchItemCd2"]').val(data[0].CODE);
					jQuery('form[name="formDetl"] input[name="vrSrchItemId2"]').val(data[0].ID);
					jQuery('form[name="formDetl"] input[name="vrSrchItemNm2"]').val(data[0].NAME);
				}else if("P"==m){		
					jQuery('form[name="frm_listPool"] input[name="vrSrchItemCd3"]').val(data[0].CODE);
					jQuery('form[name="frm_listPool"] input[name="vrSrchItemId3"]').val(data[0].ID);
					jQuery('form[name="frm_listPool"] input[name="vrSrchItemNm3"]').val(data[0].NAME);
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val(data[0].ID);
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val(data[0].NAME);
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val(data[0].ID);
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val(data[0].NAME);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("M"==m){
					jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
					jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
					jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
				}else if("D"==m){		
					jQuery("form[name='formDetl'] input[name='vrSrchItemCd2']").val("").focus();
					jQuery("form[name='formDetl'] input[name='vrSrchItemId2']").val("");
					jQuery("form[name='formDetl'] input[name='vrSrchItemNm2']").val("");
				}else if("P"==m){		
					jQuery("form[name='frm_listPool'] input[name='vrSrchItemCd3']").val("").focus();
					jQuery("form[name='frm_listPool'] input[name='vrSrchItemId3']").val("");
					jQuery("form[name='frm_listPool'] input[name='vrSrchItemNm3']").val("");
				}else if("A"==m){
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val("").focus();
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val("");
					jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val("");
				}else if("B"==m){
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val("").focus();
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val("");
					jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("M"==m){
			jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
			jQuery("form[name='frm_list'] input[name='vrSrchItemId']").val("");
			jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		}else if("D"==m){		
			jQuery("form[name='formDetl'] input[name='vrSrchItemCd2']").val("");
			jQuery("form[name='formDetl'] input[name='vrSrchItemId2']").val("");
			jQuery("form[name='formDetl'] input[name='vrSrchItemNm2']").val("");
		}else if("P"==m){		
			jQuery("form[name='frm_listPool'] input[name='vrSrchItemCd3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchItemId3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchItemNm3']").val("");
		}else if("A"==m){
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val("");
		}else if("B"==m){
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val("");
			jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val("");
		}
	}
}

/* UOM 자동팝업생성 */
function txtUomCd_OnKillFocus(){


	 	var vrSrchUomCd = cfn_trim(jQuery("form[name='frm_mn_list_5'] input[name='UOM_CD']").val());
	 	if(vrSrchUomCd != ""){
	 		var srchKey = "UOM";
			var param   = "srchKey=" + srchKey + "&vrSrchUomCd=" + vrSrchUomCd;
			var url     = "/selectMngCode.action"
	 		jQuery.post(url,param,function(data){
	 			var data = data.UOM;
				var cnt  = data.size();
	 			if (cnt > 1){
	 				var strParameter = [];
	//  				strParameter.push(vrSrchZoneNm);
	 				var width = "800";
	 				var height = "560";
	 				var param = '?func=fn_setWMSCM100&strParameter='+strParameter;
	 				var url = "/WMSCM100.action" + param;
	 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	 				asppop.focus();
	 			}else if (cnt == 1){
	 				jQuery("form[name='frm_mn_list_5'] input[name='UOM_CD']").val(data[0].CODE);
	 				jQuery("form[name='frm_mn_list_5'] input[name='UOM_ID']").val(data[0].ID);
	 			}else{
	 				alert("$!lang.getText('list.nodata')");
	 				jQuery("form[name='frm_mn_list_5'] input[name='UOM_CD']").val("").focus();
	 				jQuery("form[name='frm_mn_list_5'] input[name='UOM_ID']").val("");
	 				return;
	 			}
	 		});
	 	}else{
	 		jQuery("form[name='frm_mn_list_5'] input[name='UOM_CD']").val("");
			jQuery("form[name='frm_mn_list_5'] input[name='UOM_ID']").val("");
		}
	
}


/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "560"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){		
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;	
		case 'ITEM':	//검색 상품코드
			var vrSrchItemType = cfn_trim(jQuery('form[name="frm_list"] select[name="vrSrchItemType"]').val());
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			if(vrSrchItemType == 'G'){
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				break;
				
			}else if(vrSrchItemType == 'P'){
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				strParameter.push('Y');
				param = '?func=fn_setWMSCM162&strParameter='+strParameter;
				url = "/WMSCM162.action" + param;
				break;
			}
		case 'CUST2':	//검색 화주
			param = "?func=fn_setWMSCM011_2";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST3':	//검색 화주
			param = "?func=fn_setWMSCM011_3";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST4':	//검색 화주
			param = "?func=fn_setWMSCM011_4";
			url = "/WMSCM011.action" + param;
			break;	
		case 'CUST5':	//검색 화주
			param = "?func=fn_setWMSCM011_5";
			url = "/WMSCM011.action" + param;
			break;	
		case 'ITEM2':	//검색 상품코드
			if("" == jQuery("form[name='formDetl'] input[name='vrSrchCustCd2']").val()){
				var custCd_Text = "$!lang.getText('화주정보')";
				alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
				fn_Popup('CUST2');
				return false;
			}else{
				var vrSrchItemType2 = cfn_trim(jQuery('form[name="formDetl"] select[name="vrSrchItemType2"]').val());
				var vrSrchCustId = cfn_trim(jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val());
				
				if(vrSrchItemType2 == 'G'){
					strParameter.push('');
					strParameter.push('');
					strParameter.push(vrSrchCustId);
					param = '?func=fn_setWMSCM091_2&strParameter='+strParameter;
					url = "/WMSCM091.action" + param;
					break;
					
				}else if(vrSrchItemType2 == 'P'){
					strParameter.push('');
					strParameter.push('');
					strParameter.push(vrSrchCustId);
					strParameter.push('Y');
					param = '?func=fn_setWMSCM162_2&strParameter='+strParameter;
					url = "/WMSCM162.action" + param;
					break;
				}
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				param = '?func=fn_setWMSCM091_2&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				break;	
			}
		case 'ITEM4':	//검색 상품코드
			if("" == jQuery("form[name='frm_mn_list_4'] input[name='vrSrchCustCd4']").val()){
				var custCd_Text = "$!lang.getText('화주정보')";
				alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
				fn_Popup('CUST4');
				return false;
			}else{
				var vrSrchItemType4 = cfn_trim(jQuery('form[name="frm_mn_list_4"] select[name="vrSrchItemType4"]').val());
				var vrSrchCustId4 = cfn_trim(jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val());
				
				if(vrSrchItemType4 == 'G'){
					strParameter.push('');
					strParameter.push('');
					strParameter.push(vrSrchCustId4);
					param = '?func=fn_setWMSCM091_4&strParameter='+strParameter;
					url = "/WMSCM091.action" + param;
					break;
				}else if(vrSrchItemType4 == 'P'){
					strParameter.push('');
					strParameter.push('');
					strParameter.push(vrSrchCustId4);
					strParameter.push('Y');
					param = '?func=fn_setWMSCM162_4&strParameter='+strParameter;
					url = "/WMSCM162.action" + param;
					break;
				}
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId4);
				param = '?func=fn_setWMSCM091_4&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				break;	
			}
		case 'ITEM5':	//검색 상품코드
			var vrSrchCustId5 = cfn_trim(jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId5);
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091_5&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;	
		case 'POOL':	//검색 물류용기코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			strParameter.push('Y');
			param = '?func=fn_setWMSCM162&strParameter='+strParameter;
			url = "/WMSCM162.action" + param;
			break;
		case 'POOL3':	//검색 물류용기코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			strParameter.push('Y');
			param = '?func=fn_setWMSCM162_3&strParameter='+strParameter;
			url = "/WMSCM162.action" + param;
			break;
		case 'CUST_ZONE' : // 거래처ZONE
			param = "?func=fn_setWMSCM085";
			url = "/WMSCM085.action" + param;
			break;
		case 'UOM':		//등록 대표uom
			param = '?func=fn_setWMSCM100&strParameter='+strParameter;
			url = "/WMSCM100.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}


/* 입고존코드 자동팝업생성 */
function txtInCustZoneNm_OnKillFocus(){
	var vrSrchCustZoneNm = cfn_trim(jQuery("form[name='frm_mn_list_5'] input[name='vrCustZoneNm']").val());
	if(vrSrchCustZoneNm == ""){
		jQuery("form[name='frm_mn_list_5'] input[name='vrCustZoneId']").val("");
		jQuery("form[name='frm_mn_list_5'] input[name='vrCustZoneNm']").val("");
	}
}

/* 팝업 적용 (zone) */
function fn_setWMSCM085(arr){
	var info = arr[0];	
	jQuery('form[name="frm_mn_list_5"] input[name="vrCustZoneNm"]').val(info.cust_zone_nm);
	jQuery('form[name="frm_mn_list_5"] input[name="vrCustZoneId"]').val(info.cust_zone_id);
}


/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 화주 팝업 후 처리 (상세) */
function fn_setWMSCM011_2(arr){
	var info = arr[0];	
	jQuery('form[name="formDetl"] input[name="vrSrchCustCd2"]').val(info.cust_cd);
	jQuery('form[name="formDetl"] input[name="vrSrchCustNm2"]').val(info.cust_nm);
	jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val(info.cust_id);
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011_3(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val(info.cust_cd);
	jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val(info.cust_nm);
	jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val(info.cust_id);
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011_4(arr){
	var info = arr[0];	
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val(info.cust_cd);
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val(info.cust_nm);
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val(info.cust_id);
}


/* 화주 팝업 후 처리 */
function fn_setWMSCM011_5(arr){
	var info = arr[0];	
	jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val(info.cust_cd);
	jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val(info.cust_nm);
	jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val(info.cust_id);
}


/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(info.ritem_id);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
}

/* 상품 팝업 후 처리 (상세) */
function fn_setWMSCM091_2(arr){
	var info = arr[0];	
	jQuery('form[name="formDetl"] input[name="vrSrchItemCd2"]').val(info.item_code);
	jQuery('form[name="formDetl"] input[name="vrSrchItemId2"]').val(info.ritem_id);
	jQuery('form[name="formDetl"] input[name="vrSrchItemNm2"]').val(info.item_kor_nm);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091_3(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listPool"] input[name="vrSrchItemCd3"]').val(info.item_code);
	jQuery('form[name="frm_listPool"] input[name="vrSrchItemId3"]').val(info.ritem_id);
	jQuery('form[name="frm_listPool"] input[name="vrSrchItemNm3"]').val(info.item_kor_nm);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091_4(arr){
	var info = arr[0];	
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val(info.item_code);
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val(info.ritem_id);
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val(info.item_kor_nm);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091_5(arr){
	var info = arr[0];	
	jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemCd5"]').val(info.item_code);
	jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemId5"]').val(info.ritem_id);
	jQuery('form[name="frm_mn_list_5"] input[name="vrSrchItemNm5"]').val(info.item_kor_nm);
}


/* 상품 물류용기 팝업 후 처리 */
function fn_setWMSCM162(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.pool_code);
	jQuery('form[name="frm_list"] input[name="vrSrchItemId"]').val(info.pool_id);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.pool_nm);
}

/* 상품 물류용기 팝업 후 처리 */
function fn_setWMSCM162_2(arr){
	var info = arr[0];	
	jQuery('form[name="formDetl"] input[name="vrSrchItemCd2"]').val(info.pool_code);
	jQuery('form[name="formDetl"] input[name="vrSrchItemId2"]').val(info.ritem_id);
	jQuery('form[name="formDetl"] input[name="vrSrchItemNm2"]').val(info.pool_nm);
}

/* 상품 물류용기 팝업 후 처리 */
function fn_setWMSCM162_3(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listPool"] input[name="vrSrchItemCd3"]').val(info.pool_code);
	jQuery('form[name="frm_listPool"] input[name="vrSrchItemId3"]').val(info.ritem_id);
	jQuery('form[name="frm_listPool"] input[name="vrSrchItemNm3"]').val(info.pool_nm);
}
/* 상품 물류용기 팝업 후 처리 */
function fn_setWMSCM162_4(arr){
	var info = arr[0];	
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemCd4"]').val(info.pool_code);
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemId4"]').val(info.ritem_id);
	jQuery('form[name="frm_mn_list_4"] input[name="vrSrchItemNm4"]').val(info.pool_nm);
}

/* 팝업 적용 (uom) */
function fn_setWMSCM100(arr){

	var info = arr[0];	
	jQuery('form[name="frm_mn_list_5"] input[name="UOM_CD"]').val(info.uom_cd);
	jQuery('form[name="frm_mn_list_5"] input[name="UOM_ID"]').val(info.uom_id);
	
}

function vrSrchCustCd_OnStart(callback){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val(data[0].CODE);
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val(data[0].NAME);
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val(data[0].ID);
			
			
			callback();
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustCd4"]').val("").focus();
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustNm4"]').val("");
			jQuery('form[name="frm_mn_list_4"] input[name="vrSrchCustId4"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

function vrSrchCustCd_OnStart2(callback){
	var vrSrchCustCd = jQuery('#vrSrchCustCd2').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('#vrSrchCustCd2').val(data[0].CODE);
			jQuery('#vrSrchCustNm2').val(data[0].NAME);
			jQuery('#vrSrchCustId2').val(data[0].ID);
			callback();
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery('#vrSrchCustCd2').val("").focus();
			jQuery('#vrSrchCustNm2').val("");
			jQuery('#vrSrchCustId2').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

function vrSrchCustCd_OnStart3(callback){
	var vrSrchCustCd = jQuery('#vrSrchCustCd3').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('#vrSrchCustCd3').val(data[0].CODE);
			jQuery('#vrSrchCustNm3').val(data[0].NAME);
			jQuery('#vrSrchCustId3').val(data[0].ID);
			//callback();
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery('#vrSrchCustCd3').val("").focus();
			jQuery('#vrSrchCustNm3').val("");
			jQuery('#vrSrchCustId3').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

function vrSrchCustCd_OnStart4(callback){
	var vrSrchCustCd = jQuery('#vrSrchCustCd4').val();
	var srchKey = "CUST4";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('#vrSrchCustCd4').val(data[0].CODE);
			jQuery('#vrSrchCustNm4').val(data[0].NAME);
			jQuery('#vrSrchCustId4').val(data[0].ID);
			//callback();
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery('#vrSrchCustCd4').val("").focus();
			jQuery('#vrSrchCustNm4').val("");
			jQuery('#vrSrchCustId4').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("일별재고내역")</a></li>
			<li><a href = "#tabs-2">$!lang.getText("일별재고상세")</a></li>
			<li><a href = "#tabs-3">$!lang.getText("일별재고내역(물류용기)")</a></li>
			<li><a href = "#tabs-4">$!lang.getText("월별재고내역")</a></li>
			<li><a href = "#tabs-5">$!lang.getText("기간별상세재고내역")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsst/WMSST051E1.vm")
    </div>
    <div id = "tabs-2">
        #parse("winus/wmsst/WMSST051E2.vm")
    </div>
    <div id = "tabs-3">
        #parse("winus/wmsst/WMSST051E3.vm")
    </div>
    <div id = "tabs-4">
        #parse("winus/wmsst/WMSST051E4.vm")
    </div>
    <div id = "tabs-5">
        #parse("winus/wmsst/WMSST051E5.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")