<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="120px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>
				<col width="80px"/>		
				<col width="40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText("주문일자")</th>
				<td>		
					<input type = "text" class = "text" style="width:43%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom), fn_onChangeVrSrchReqDtFrom()"> 
					<input type = "hidden" class = "text" style="width:36%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)">
					($!lang.getText("월 단위"))	
				</td>
				<th>$!lang.getText('등록구분')</th>
				<td>
					$!comCode.getComboComCode("INSERT_GB", "vrSrchDlvOrdType", "", false, "", "", "","class='selectbox' style='width:100px'")
				</td>
				
				<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				#if($adminInfo.getCustId() == $ss_user_gb)
					<td>
						<input type="text" class = "readOnly" style="width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code">
						<img src="/img/exam/btn/ico_search.gif"  id="btnSrchCustPop" class="imgSearch">
						<input type="text" class = "readOnly" style="width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id">
						<input type="hidden" name="vrSrchCustTel" id="vrSrchCustTel">
					</td>
				#else
					<td>
						<input type="text" class = "text" style="width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' id="btnSrchCustPop" class="imgSearch"/> 
						<input type="text" class = "text" style="width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
						<input type="hidden" name="vrSrchCustTel" id="vrSrchCustTel"> 
					</td>
				#end
				<td style="color:red;">※판매처만</td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainGridSearch();" title="Search" role="button" aria-disabled="false"/>
				</th>					
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="hidden" class = "text" style="width: 44%" name="vrSrchTransCustCd" id="vrSrchTransCustCd" onChange="vrSrchTransCustCd_OnKillFocus()"> 
					<!-- <img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST_2");' class="imgSearch"/>  --> 
					<input type="hidden" class = "text" style="width: 44%" name="vrSrchTransCustNm" id="vrSrchTransCustNm" onChange="vrSrchTransCustNm_OnKillFocus()">
					<input type="hidden" name="vrSrchTransCustId" id="vrSrchTransCustId"> 
				</td>
				
				<th>$!lang.getText('배송상태')</th>
				<td>
					$!comCode.getComboComCode("DLV_STAT2", "vrSrchDlvStat", "", false, "", "", "","class='selectbox' style='width:100px'")
				</td>
				<!--
				<th></th> <th>$!lang.getText("상품")</th>
				<td>
					<input type="hidden" class="text" name="txtSrchItemCd" id="txtSrchItemCd" style="width:40%" onChange="txtSrchItemCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM091');return false;" class="imgSearch">
					<input type="hidden" class="text" name="txtSrchItemNm" id="txtSrchItemNm" style="width:40%" onChange="txtSrchItemNm_OnKillFocus()"/>
					<input type="hidden" name="txtSrchItemId" id="txtSrchItemId"/>
				</td>
				 -->
				
				<td style="color:red;">[ 엑셀다운로드: 셀(데이터)을 복사/붙여넣기로 사용하십시오. ]</td>
				<th></th>
				<td></td>
			</tr>
		</table>
		<input type="hidden" name="today"/>
		<input type="hidden" name="GridId" id="GridId"/>
		<input type="hidden" name="localDate" id="localDate"/>
		<input type="hidden" name="srchKey" id="srchKey"/>
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div id="showcell"  style = "visibility : hidden ; width : 0 ; height : 0"></div>
	<br>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('정렬')" class="EXC_AUTH btnExcel"        id="excelBtn"  name="btn_write" onclick="fn_replace();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box" id="mainlist_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
</div>