<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width ="100px"/>
				<col width ="25%"/>
				<col width ="80px"/>
				<col width ="35%"/>
				<col width ="80px"/>
				<col width ="5%"/>
				<col width ="60px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText("배송일자")</th>
				<td>		
					<input type="text" class="text" style="width:40%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/>
					<input type="hidden" class="text" style="width:40%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th></th>
				<td colspan="3" style="text-align:right; color:red;">※차이수량이 0이 아닐 경우 처리 확인이 필요합니다.</td>
				<th class="btnSearch" rowspan ="1">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			
		</table>	
	</form>
	<div class="btnArea">
		<div class="btnAreaRight" id="btnArea">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"   		 name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>		