#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//#list
//   추후수정부분
//   필수 값 및 각 항목 체크 로직 
// 
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){

	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	// Tabs	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	
	// datepicker
	jQuery( "input[name='vrSrchReqDtFrom']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	// datepicker
	jQuery("form[name='frm_list'] input[name='vrSrchDateVrSrchGb']").val(0);
	
	// 날자 셋팅
	//var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtFrom']").val('2020-01-01');
	jQuery("input[name='vrSrchReqDtTo']").val('2020-01-01');
	
	//myLcList get
	var values = jQuery.map(jQuery('#vrSrchMyLcList option'), function(e) { return e.value; }); 
	values.join(',');
	jQuery("#myLcListVal").val(values);
	
	// 검색조건 enter검색
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	// button
	jQuery("input:button").button();
		
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	               'CHK_BOX'
                  ,'FLAG'
                  ,'ST_GUBUN'
	               
	           	  ,'$!lang.getText("물류센터명")'
	           	  ,'$!lang.getText("작업일자")'
	              ,'$!lang.getText("화주명")'
	              ,'$!lang.getText("상품코드")'
	              ,'$!lang.getText("상품명")'
	              
	              ,'$!lang.getText("수량")'
	              ,'$!lang.getText("주문타입")'
	              ,'$!lang.getText("배송타입")'
	              ,'$!lang.getText("고객명")'
		          ];

	
	// 그리드 컬럼 정의
	var colModelArray = [
			 {name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true}
			,{name : 'FLAG'				,index : 'FLAG'				,hidden : true}
			,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
			
			,{name:'LC_NM'				,index:'LC_NM'				,width:80		,align:"center"}
			,{name:'WORK_REQ_DT'		,index:'WORK_REQ_DT'		,width:80		,align:"center"}
			,{name:'CUST_NM'			,index:'CUST_NM'			,width:80		,align:"center"}
			,{name:'RITEM_CD'			,index:'RITEM_CD'			,width:100		,align:"left"}
			,{name:'RITEM_NM'			,index:'RITEM_NM'			,width:120		,align:"left"}
			
			,{name:'QTY'				,index:'QTY'				,width:40		,align:"right"	,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
			,{name:'ORD_TYPE'			,index:'ORD_TYPE'			,width:60		,align:"center"}
			,{name:'ORD_SUBTYPE'		,index:'ORD_SUBTYPE'		,width:60		,align:"center"}
			,{name:'TRANS_CUST_ID'		,index:'TRANS_CUST_ID'		,width:100		,align:"left"}
		];
	var option = {
		'title' : '$!lang.getText("입출고미완료현황")',
		'height' : 600,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'rowNum'		: 20,
        'multiselect' : false,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*3,$ss_gird_num*4,$ss_gird_num*5],
        #else
        'rowList' : [300,400,500],
        #end
        'rownumbers' : true,
        'rownumWidth' : 30,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	};
	
	

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSDS260/list.action?"+param;
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);

	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		
		/* 합계처리 변수 */
		var SUM_QTY = 0;
		for(var i=0 ; i<gridData.length; i++){
			SUM_QTY = SUM_QTY + Number(gridData[i].QTY);
		}

		/* 합계처리 변수 셋업 */
		var footData = {
				RITEM_NM : "$!lang.getText('합계')"
			  , QTY   	 : SUM_QTY
		};
		grid.jqGrid('footerData','set', footData);
		
		/* grid colspan */
		cfn_gridRowspan(grid);
	}
	
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
        var grid = jQuery("#list");
        if(col == 1){
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                jQuery("#jqg_list_"+id).attr("checked",false);
                grid.setCell(id, 'CHK_BOX', "No");
                grid.restoreRow(id);
                listGrid.setStatus(id, " ");
            }else{
                jQuery("#jqg_list_"+id).attr("checked",true);
                grid.setCell(id, 'CHK_BOX', "Yes");
                grid.editRow(id);
                if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "INSERT");
                }else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "UPDATE");
                }
            }
        }else{
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }
        }
    });
});

//--------------------------------------------------------------------------------화면로딩-------------------------------------------------------------------------------------//
/*
	그리드rowspan			: 	cfn_gridRowspan();
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 주문번호 rowspan 된것처럼보이도록하는 로직 */
function cfn_gridRowspan(grid){
	var ids = grid.getDataIDs();
	var subMinCss = {'border-bottom':'0px'};
	var subMidCss = {'color':'blue','font-size':'0px'};
	var subMaxCss = {'border-bottom':'3px solid #ABABAB'}
	
	/************* Span Column명 정의 부분 (해당 컬럼명 변수 수정 부분, 복수가능) *************/
	// 그룹 key : Column Span 2단계가 있을 경우  필수 선언
	var groupKey  = "LC_NM"; 
	// Column Span 1단계 : Select Grid의 컬럼순으로 정의 (ORDER BY 순)
	var colSpan01 = ["LC_NM","WORK_REQ_DT"]; //"CUST_NM","PDA_NO","ORD_TYPE",
	// Column Span 2단계 : 그룹 key 컬럼 이하 , Select Grid의 컬럼순으로 정의 (ORDER BY 순)
	var colSpan02 = ["CUST_NM"]; //"RTI_CODE","RTI_EPC_CD"
	/***********************************************************************/
	
	// Column Span 1단계 시작 (colSpan01)
	for(var k = 0 ; k < colSpan01.length ; k++){
		for(var i = 0 ; i < ids.size() ; i++){
			if(grid.getCell(ids[i], colSpan01[k]) == grid.getCell(ids[i+1], colSpan01[k])){
				grid.setCell(ids[i+1], colSpan01[k], "" , subMidCss);
				grid.setCell(ids[i], colSpan01[k], "" , subMinCss);
				
				// Column Span 2단계 시작 (colSpan02), 그룹 Key와 colSpan02가 있을 경우
				if(colSpan01[k] == groupKey && colSpan02[0].length != 0){
					for(var l = 0 ; l < colSpan02.length ; l++){
						if(grid.getCell(ids[i], colSpan02[l]) == grid.getCell(ids[i+1], colSpan02[l])){
							grid.setCell(ids[i+1], colSpan02[l], "" , subMidCss);
							grid.setCell(ids[i], colSpan02[l], "" , subMinCss);
							
							// Column Span 2단계 컬럼이 갯수가 복수일 경우 Sub Span 경계선 추가  
							if(colSpan02[0] != colSpan02[l] && grid.getCell(ids[i], colSpan02[l-1]) != grid.getCell(ids[i+1], colSpan02[l-1])){
								grid.setCell(ids[i], colSpan02[l], "" , subMaxCss);
							}
						}
					}
					// 체크박스 삭제하기 (그룹 Key로 묶어)
					//jQuery("tr[id='"+ids[i+1]+"'] td input[class='cbox']").remove();
				}
			}else{
				if(colSpan01[k] == groupKey && colSpan02[0].length != 0){
					// 그룹 Key 으로 정의 된 컬럼의 Span 경계선 추가
					grid.setCell(ids[i], colSpan01[k], "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "WORK_REQ_DT", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "RITEM_CD", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "RITEM_NM", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "QTY", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "ORD_TYPE", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "ORD_SUBTYPE", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "TRANS_CUST_ID", "" , subMaxCss);
					for(var l = 0 ; l < colSpan02.length ; l++){
						grid.setCell(ids[i], colSpan02[l], "" , subMaxCss);
					}
				}
			}
		}
	}
}

//검색
function fn_search(op,op1) {
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_list");	
	// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):"); 
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}	

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSDS260/list.action?"+param;
	listGrid.search(param, url, op, op1);	
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSDS260/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("입출고미완료현황")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsds/WMSDS260E1.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")