#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');
</script>

<script type="text/javascript">
////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////
var listGrid     = new ULNSI_jQGrid();
var gvHideColArr = [];
var searchYn     = "N";

jQuery(document).ready(function(){
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	var getYyyyMm   = vrSrchReqDt.substr(0,7);
	var getLastDay  = getMonthEndDate(Number(vrSrchReqDt.substr(0,4)), Number(vrSrchReqDt.substr(5,2)));
	
	//var getReqDtFrom = dateReckon(new Date(vrSrchReqDt),7,"M");
	jQuery("input[name='vrSrchReqDtFrom']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo']").val(getYyyyMm+"-"+getLastDay);
	
	//배송예정일 DDL 기본값 셋팅
	jQuery("#vrSrchDlvStat").val("99");
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	jQuery("input[name='today']").val((new Date()).getFormattedString("YYYY-MM-DD"));

	// button
	jQuery("input:button").button();
	
	// excel button hide
	jQuery("#excelBtn").hide();
	
	/* 대표화주코드 참조 :: 화주코드가 없을 경우*/
	var vrSrchCustCd = jQuery("#vrSrchCustCd").val();
	if(vrSrchCustCd == ""){
		if(!fn_getTypicalCust()){return;}
	}
});

//mainGrid set
function fn_mainGridSearch() {
	if(!fn_searchInitValid()){return;}
	
	//그리드 초기화
	document.all.showcell.innerHTML = "";
	jQuery("#list").jqGrid('GridUnload');
	jQuery("#excelBtn").hide();
	
	jQuery(document).ready(function () {
		var colNameArray   = [];
	  	var colModelArray  = [];
	  	var subHeaderArray = [];
	  	var totalTbArr = {};
	  	
	  	jQuery("#srchKey").val("MAIN");
	  	var paramInit = jQuery("form[name='frm_list']").serialize();
	  	var url       = "/WMSDS240/list.action";

	  	cfn_loadingModalOpen1(); //loading modal open
	  	jQuery.post(url, paramInit, function(data){
	  		var data = data.MAIN;
	  		var cnt  = data.size();
	  		var colCnt = 0;
	  		
	  		if(cnt == 0){cfn_loadingModalClose1(); return false;}
	  		
	  		colCnt = cnt / data[cnt-1].NROW;
	  		for(var i = 0 ; i < colCnt; i++){
				//total 집계판 테이블 Arr 저장	  			
	  			totalTbArr[data[i].ITEM_GRP_NM] = data[i].ITEM_GRP_BY_QTY;
				
	  			//헤더컬럼
	  			if(i == 0){
	  				colNameArray.push('');	  				
	  			}
	  			//colNameArray.push(data[i].RITEM_NM + "<br>" + data[i].RITEM_CD);
	  			colNameArray.push("");
	  			
	  			//바디컬럼
	  			if(i == 0){
	  				var setColModelBUYED_DT  = {name:1,	index:1,	width:60,		align:"center"}; //,	frozen:true
	  				colModelArray.push(setColModelBUYED_DT);
	  			}
	  			//var setColModel = {name:i+2,	index:i+2,	width:140,	align:"center", align:"right", editable : false, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}};
	  			var setColModel = {name:i+2,	index:i+2,	width:140,	align:"center", editable : false};
	  			colModelArray.push(setColModel);
	  		}
	  		
	  		//mainGrid dataInit
	  		var mydata = [];
	  		jQuery("#list").jqGrid({
                datatype: "local",
                data: mydata,
                colNames:colNameArray,
                colModel:colModelArray,
                //rowNum:10,
                //rowList:[10,20,30],
                pager: jQuery("#pjmap"),
                sortname: 'id',
                viewrecords: true,
                altRows:true,
                sortorder: "desc",
                caption:"$!lang.getText('배송_주문/발주현황')",
                //title : '$!lang.getText("배송_매출현황")',
                height: "500",
                width : "98%",
                autowidth : true,
                multiselect : false,
                gridview : true,
                sortable : false,
                shrinkToFit : false,
                rowList : '',
                rownumbers : true,
                rownumWidth : 40,
                footerrow 	: true,
                userDataOnFooter : true,
                onCellSelect : function(rowid, iCol, cellcontent, e) {setSelectCellEventCallback(rowid, iCol);},
    			ondblClickRow : function(rowid, iCol, cellcontent, e) {setDblClickRowEventCallback(rowid, iCol);},
    			//loadComplete : function() {loadCompleteEventCallback();}
            });
	  		
	  		var selDatas       = {};
	  		var selHearders    = {};
	  		var selHeardersG1  = {};
	  		var selHeardersG2  = {};
	  		var selHeardersG3  = {};
	  		var selHeardersG4  = {};

	  		//jQuery("#list").jqGrid('addRowData', 1, selHearders);
	  		//jQuery("#list").jqGrid('addRowData', 2, selHearders);
	  		//jQuery("#list").jqGrid('addRowData', 3, selHearders);
	  		gvHideColArr = [];
	  		for(var j = 0 ; j < cnt; j++){
	  			selDatas[data[j].NROW_RK+1] = data[j].DLV_QTY;
	  			
	  			selHeardersG1[data[j].NROW_RK+1] = data[j].ITEM_GRP_NM;
	  			selHeardersG2[data[j].NROW_RK+1] = data[j].CUST_NM;
	  			selHeardersG3[data[j].NROW_RK+1] = data[j].RITEM_CD;
	  			selHeardersG4[data[j].NROW_RK+1] = data[j].ITEM_GRP_BY_QTY;
	  			selHeardersG4["1"] = "합계";
	  			
	  			if(data[j].ITEM_GRP_BY_QTY == 0){
	  				if(data[j].NROW == 1){
	  					gvHideColArr.push(data[j].NROW_RK+1);	
	  				}
	  			}
	  			if(cnt == (j+1)){
	  				selDatas["1"] = data[j].BUYED_DT;
	  				jQuery("#list").jqGrid('addRowData', data[j].NROW+4, selDatas);
	  			}else{
	  				if(data[j].NROW != data[j+1].NROW){
	  					if(data[j].NROW == 1){
	  						jQuery("#list").jqGrid('addRowData', 1, selHeardersG1);
	  		  		  		jQuery("#list").jqGrid('addRowData', 2, selHeardersG2);
	  		  		  		jQuery("#list").jqGrid('addRowData', 3, selHeardersG3);
	  		  		  		jQuery("#list").jqGrid('addRowData', 4, selHeardersG4);
	  					}
	  					selDatas["1"] = data[j].BUYED_DT;
	  					jQuery("#list").jqGrid('addRowData', data[j].NROW+4, selDatas);
	  				}
	  			}
	  		}
	  		
			/*헤더 그룹처리
	  		jQuery("#list").jqGrid('setGroupHeaders', {
	  			 useColSpanStyle : false	//그룹처리안된부분 false 분리 , true 묶음
	  			 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
	  			,groupHeaders : [
	  			                  {startColumnName : 3,  numberOfColumns : 3	,titleText : '$!lang.getText("dddd")'}
	  							]
	  		});
			*/
			
	  		jQuery("#excelBtn").show();
	  		
	  		//틀고정 컬럼 적용
	  		//jQuery("#list").jqGrid("setFrozenColumns");
	  		//jQuery(".frozen-div.ui-state-default.ui-jqgrid-hdiv .ui-jqgrid-htable").attr({style:"width:110px;"});
	  		
	  		//접계 테이블 그리기 시작
	  		var obj_length = Object.keys(totalTbArr).length;
	  		var tScriptSet = '<table border="3" cellspacing="0" cellpadding="0" width="100%" style="border: #8C8C8C 1px solid; text-align: center;">';
	  		tScriptSet += '<tr>';
	  		for(var k = 0; k < obj_length; k++){
	  			tScriptSet += '<td style="background-color:#EAEAEA; font-size:16px;"><b>'+Object.keys(totalTbArr)[k]+'</b></td>';
	  		}
	  		tScriptSet += '</tr>';
	  		tScriptSet += '<tr>';
	  		for(var k = 0; k < obj_length; k++){
	  			tScriptSet += '<td style="background-color:#FFFFFF; font-size:16px;"><b>'+Object.values(totalTbArr)[k]+'</b></td>';
	  		}
	  		tScriptSet += '</tr></table>';
	  		document.all.showcell.innerHTML = tScriptSet;
	  		//접계 테이블 그리기 끝
	  		
	  		cfn_loadingModalClose1(); //loading modal close
	  	}).fail(function(xhr, textStatus){
     		if(xhr.status == 404){
     			location.href=('/index.html');
     		}
	    });
    });
}

/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery("#vrSrchCustCd").val(data[0].CUST_CD).attr("class", "readOnly").attr("readonly", "readonly");
			jQuery("#vrSrchCustNm").val(data[0].CUST_NM).attr("class", "readOnly").attr("readonly", "readonly");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].CUST_ID);
			jQuery("#vrSrchCustTel").val(data[0].TEL);
			jQuery('form[name="frm_data"] input[name="vrSrchCustId"]').val(data[0].CUST_ID);
			jQuery("#btnSrchCustPop").removeAttr("onclick");
			
			//조회가능 여부
			searchYn = "Y";
			return true;
		}else{
			fn_Popup("CUST");
			return false;
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function setSelectCellEventCallback(rowid, iCol){
	var grid            = jQuery("#list");
	var uom_id          = grid.getCell(rowid, 'UOM_ID');
	var ritem_id        = grid.getCell(rowid, 'RITEM_ID');
	var vrSrchReqDtFrom = jQuery("input[name='vrSrchReqDtFrom']").val();
	var vrSrchReqDtTo   = jQuery("input[name='vrSrchReqDtTo']").val();
}

function setDblClickRowEventCallback(rowid, iCol){
	var ritem_cd = jQuery("#list").getCell(rowid,'RITEM_CD');
	var frm      = jQuery("#moveForm2");

	jQuery.cookie("jstree_select", "#WMSDS240", "");
	jQuery("#vrSrchItemCd2").val(ritem_cd);
	frm.submit();
}

/* 조회조건 화주코드가 없을 경우 */
function fn_searchInitValid(){
	//화주
	if(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val().length == 0){
		fn_Popup("CUST");
		return false;
	}
	//조회가능여부
	if(searchYn == "N"){
		alert("$!lang.getText('배송(화주) 물류센터가 아닐경우 조회가 불가능합니다.')\n$!lang.getText('상단의 물류센터를 배송(화주) 물류샌터로 변경해 주십시오.')");
		return false;
	}
	//판매처
	/*
	if(jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val().length == 0){
		fn_Popup("CUST_2");
		return false;
	}
	*/
	return true;
}

//검색
function fn_search(op,op1) {
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSDS240/list.action?"+param;

	listGrid.search(param, url, op, op1);
}

/* 상품코드 입력 */
function txtSrchItemCd_OnKillFocus(){
 	//입력한 상품코드를 가져온다
 	var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());
 	var vrSrchItemCd = cfn_trim(jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val());

 	//null이 아닐경우 검색한다.
 	if(vrSrchItemCd != ""){
 		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val('');
 		var srchKey = "ITEM";
 		var param 	= "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
 		var url = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			//검색후 결과 갯수를 가져온다.
 			//없을경우는 없다고 띄우고 input 초기화
 			//1가지일경우 바로 이름과 코드를 셋팅해준다.
 			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
 			if (cnt > 1){	//2가지 이상일경우
 				var strParameter = [];
 				strParameter.push(vrSrchItemCd);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
 				var url = "/WMSCM091.action" + param;

 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){ //1가지 일경우
 				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
 				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val(data[0].ID);
 			}else{	//없을경우
 				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("").focus();
 				return;
 			}
 		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
 	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("");
	}
 }

/* 상품명 자동팝업생성 */
function txtSrchItemNm_OnKillFocus(){
	//입력한 상품코드를 가져온다
	var vrSrchItemNm = cfn_trim(jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val());
	var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());

	//null이 아닐경우 검색한다.
	if(vrSrchItemNm != ""){
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val('');
		var srchKey = "ITEM";
		var param 	= "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url = "/selectMngCode.action"
		jQuery.post(url,param,function(data){
			//검색후 결과 갯수를 가져온다.
			//없을경우는 없다고 띄우고 input 초기화
			//1가지일경우 바로 이름과 코드를 셋팅해준다.
			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
			if (cnt > 1){	//2가지 이상일경우
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				var url = "/WMSCM091.action" + param;

				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){ //1가지 일경우
				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val(data[0].ID);
			}else{	//없을경우
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("").focus();
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}
/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
	jQuery('form[name="frm_list"] input[name="vrSrchCustTel"]').val(info.tel);
}

//팝업 호출
function fn_Popup(pop, id){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";

	switch(pop){
	case 'CUST':	//검색 화주
		param = "?func=fn_setWMSCM011";
		url = "/WMSCM011.action" + param;
		break;
	case 'WMSCM091' : // 상품조회
		var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());
		strParameter.push('');
		strParameter.push('');
		strParameter.push(cfn_trim(jQuery('form[name="frm_list"] input[name="hdnCustId"]').val()));
		param = '?func=fn_setWMSCM091&strParameter='+strParameter;
		url = "/WMSCM091.action" + param;
		break;
	case 'CUST_2':		//검색 거래처
		if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val()){
			alert('$!lang.getText("화주정보가없습니다")');
			fn_Popup("CUST");
			return false;
		}else{
			strParameter.push("");
			strParameter.push("");
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
			param = "?func=fn_setWMSCM011_2&strParameter=" + strParameter+"&stBtnYn=Y";
			url = "/WMSCM011.action" + param;
			break;	
		}
	}

	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 상품 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery("#txtSrchItemCd").val(info.item_code);
	jQuery("#txtSrchItemNm").val(info.item_kor_nm);
	jQuery("#txtSrchItemId").val(info.ritem_id);

}

//화주에따라 바뀌는 히든그리드의 샘플데이터를 컬럼명(한글), 컬럼model(영문), 샘플데이터 를가지고 excel을 그려서 다운받는다
function fn_sampleDown(){
	var grid     = jQuery("#list");
	var ids      = grid.jqGrid('getDataIDs');
	var gridData = grid.getRowData();
	
	var col_name   = grid.jqGrid('getGridParam', 'colNames');
	var col_model  = grid.jqGrid('getGridParam', 'colModel');
	var isEmptyCol = [];
	var col_size   = col_name.size() - isEmptyCol.length; //hidden col 뒷단에 놓고 그만큼 제거
	
	jQuery("#formSample").html("");
	jQuery("#formSample").append("<input type='text' name='Col_Size'  value='" + col_size + "'/><br/>");	//사이즈
	jQuery("#formSample").append("<input type='text' name='Row_Size'  value='" + gridData.length + "'/><br/>");	//사이즈
	
	for(var k = 0 ; k < gridData.length ; k++){
		if(k == 0){
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='Name_"+i+"'         value='" + col_name[i] + "'/>");									// 컬럼명(한글 화면에보여주는이름)
				jQuery("#formSample").append("<input type='text' name='Col_" +i+"'         value='" + col_model[i].name + "'/>");								// 컬럼명(영어 db컬럼명같은)
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터	
			}
		}else{
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터
			}
		}
	}	
	var param = jQuery("form[name='frm_sample']").serialize();

	var fm 	  = document.frm_sample;
    fm.action = "/WMSDS240/sampleExcelDown.action";
    fm.method = "post";
    fm.submit();
}

/* 매년월 말일자 구하기 */
function getMonthEndDate(year, month) {
    var dt = new Date(year, month, 0);
    return dt.getDate();
}

/* 날짜 셋팅 */
function fn_onChangeVrSrchReqDtFrom(){	
	var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom']").val();
	var getYyyyMm   = vrSrchReqDt.substr(0,7);
	var getLastDay  = getMonthEndDate(Number(vrSrchReqDt.substr(0,4)), Number(vrSrchReqDt.substr(5,2)));
	jQuery("input[name='vrSrchReqDtFrom']").val(getYyyyMm+"-"+getLastDay);
}

/* 거래처코드 입력 */
function vrSrchTransCustCd_OnKillFocus(){	
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var custCd_Text = "$!lang.getText('화주정보')";
	if(vrSrchCustId == "" ){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
		fn_Popup("CUST");
		return false;
	}
	
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val();

	if( vrSrchCustCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "CLIENT";
// 		var srchSubCode3 = "108";
		var param 	= "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd /*  + "&srchSubCode3=" + srchSubCode3 */;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.CLIENT;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSCM011_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSCM011.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val(data[0].ID);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
	}
}
/* 거래처이름 입력 */
function vrSrchTransCustNm_OnKillFocus(){	
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var custCd_Text = "$!lang.getText('화주정보')";
	if(vrSrchCustId == "" ){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
		fn_Popup("CUST");
		return false;
	}
	
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val();

	if( vrSrchCustNm != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "CLIENT";
// 		var srchSubCode3 = "108";
		var param 	= "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm /*  + "&srchSubCode3=" + srchSubCode3 */;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.CLIENT;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				strParameter.push(vrSrchCustId);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSCM011_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSCM011.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val(data[0].ID);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
	}
}

/* 거래처 팝업 후 처리 */
function fn_setWMSCM011_2(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val(info.cust_id);
}

/**/
function fn_replace(){
	var grid     = jQuery("#list");
	var ids      = grid.jqGrid('getDataIDs');
	var gridData = grid.getRowData();
	jQuery("#list").jqGrid("hideCol", gvHideColArr);
}
</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("배송_주문/발주현황")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>

	<div id="tabs-1">
	#parse("winus/wmsds/WMSDS240E1.vm")
	</div>
</div>
#parse("winus/common/footer.vm")