<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    	#if($ss_user_type == 'MA-123' || $ss_user_type == 'MA') <!--창고운영자(배송메인)및 시스템관리자-->
	    		<input type="button"	name="btnUnDlv"	class="INS_AUTH btnExcel"	value="$!lang.getText('미배송조회-7일이전')"		onclick="fn_unDlvSearchPop();"	role="button"	aria-disabled="false"/>
	    	#end
	    	</div>
	    </div>	
    </div>
</div>
<div class="patternWrap">
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "5px"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<td>
						$!comCode.getComboComCode("DATE_GB", "vrSrchDateGb", "", false, "", "", "","class='selectbox'")
					</td>
					<td>		
						<input type = "text" class = "text" style="width:34%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom); fn_thisChangeDateFld();"> 
						 ~
						<input type = "text" class = "text" style="width:34%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo); fn_thisChangeDateFld();">	
					</td>
					
					<!-- <th>$!lang.getText("배송사")</th>
					<td>
						<input type="text" class = "text" style="width: 44%" name="vrTransCustCd" id="vrTransCustCd" onChange="vrTransCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" 	onClick='fn_Popup("CUST2");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 44%" name="vrTransCustNm" id="vrTransCustNm" readOnly="readOnly"> 
						<input type="hidden" name="vrTransCustId" id="vrTransCustId">
					</td> -->
					<th>$!lang.getText('배송기사')</th>
					<td>
						<select name='vrSrchDrivers' id='vrSrchDrivers' class="selectbox validate" style="width:100%;">
							<option value="">$!lang.getText('전체')</option>
							#foreach($row in $DRIVERS)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					#if($adminInfo.getCustId() == $ss_user_gb)
						<td>
							<input type="text" class = "readOnly" style="width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code">
							<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
							<input type="text" class = "readOnly" style="width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id">
							<input type="hidden" name="vrSrchCustTel" id="vrSrchCustTel">
						</td>
					#else
						<td>
							<input type="text" class = "text" style="width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
							<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" name="btnSrchCustPop" id="btnSrchCustPop"/> 
							<input type="text" class = "text" style="width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
							<input type="hidden" name="vrSrchCustTel" id="vrSrchCustTel"> 
						</td>
					#end
					<td></td>
					<th class="btnSearch" rowspan="9" style="cursor:pointer;" onClick="fn_search();" id="hiddenBtn">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')" title="검색" 	role="button" aria-disabled="false"/>
					</th>
				</tr>
				<tr id="hiddenZone1">
					<th>$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text validate" style="width: 38%" name="vrSrchRitemCd" id="vrSrchRitemCd" readOnly="readOnly"><!-- onChange="vrSrchItemCd_OnKillFocus()" -->
						<input type="text" class = "text" style="width: 6%; margin-left:-5px; text-align:center; cursor:pointer; border-left:0px solid;"  readOnly="readOnly" value="x" onClick="fn_removeInput('vrSrchRitemCd');">
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text validate" style="width: 44%" name="vrSrchRitemNm" id="vrSrchRitemNm" readOnly="readOnly"><!-- onChange="vrSrchItemNm_OnKillFocus()" -->
						<input type="hidden" class = "validate" name="vrSrchRitemId" id="vrSrchRitemId"> 
					</td>
					<th>$!lang.getText('주문자')</th>
					<td>
						<input type="text" class ="text validate" name= "vrSrchBuyCustNm" id ="vrSrchBuyCustNm"/>	
					</td>
					<th>$!lang.getText('전화번호')</th>
					<td>
						$!comCode.getComboComCode("AREA_CD", "vrSrchBuyPhoneFront", "010", true, "$!lang.getText('직접입력')", "", "","class='selectbox' style='width:33%'")
						<input type="text" class ="text validate" name= "vrSrchBuyPhone" id ="vrSrchBuyPhone" style="width:63%"/>	
					</td>
					<td></td>
				</tr>
				<tr id="hiddenZone2">
					<th>$!lang.getText('지역')</th>
					<td>
						<input type="text" class ="text validate" name= "vrSrchAddrLike" id ="vrSrchAddrLike" style="width: 38%" readOnly="readOnly"/>
						<input type="text" class = "text" style="width: 6%; margin-left:-5px; text-align:center; cursor:pointer; border-left:0px solid;"  readOnly="readOnly" value="x" onClick="fn_removeInput('vrSrchAddrLike');">
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CITY");' class="imgSearch" name="btnSrchAddrLikePop" id="btnSrchAddrLikePop"/>
						&nbsp&nbsp<input type="checkbox" name="chkEmptyCity" id="chkEmptyCity"  onClick="fn_chkEmptyCity();"> $!lang.getText("미확인보기")
						<input type="hidden" class="validate" name="vrSrchChkEmptyCity" id="vrSrchChkEmptyCity">
					</td>
					<th>$!lang.getText('수취인')</th>
					<td>
						<input type="text" class ="text validate" name= "vrSrchSalesCustNm" id ="vrSrchSalesCustNm"/>	
					</td>
					<th>$!lang.getText('전화번호')</th>
					<td>
						$!comCode.getComboComCode("AREA_CD", "vrSrchPhoneFront", "010", true, "$!lang.getText('직접입력')", "", "","class='selectbox' style='width:33%'")
						<input type="text" class ="text validate" name= "vrSrchPhone" id ="vrSrchPhone" style="width:63%"/>	
					</td>
					<td></td>
				</tr>
				<tr id="hiddenZone3">
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('거래배송사')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchTransCustNm" id ="vrSrchTransCustNm" readonly="readonly" style="width: 82%"/>
						<input type="text" class = "text" style="width: 6%; margin-left:-5px; text-align:center; cursor:pointer; border-left:0px solid;"  readOnly="readOnly" value="x" onClick="fn_removeInput('vrSrchTransCustNm');">
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" name= "btnVrSrchTransCustNm" id ="btnVrSrchTransCustNm">
					</td>
					<!-- <td>
						<input type="text" class = "text" style="width: 44%" name="vrSrchTransCustCd" id="vrSrchTransCustCd" onChange="vrSrchTransCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST_2");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 44%" name="vrSrchTransCustNm" id="vrSrchTransCustNm" onChange="vrSrchTransCustNm_OnKillFocus()">
						<input type="hidden" name="vrSrchTransCustId" id="vrSrchTransCustId"> 
					</td> -->
					<th>$!lang.getText('고객주문번호')</th>
					<td>
						<input type="text" class ="text validate" name= "vrSrchOrgOrdId" id ="vrSrchOrgOrdId"/>	
					</td>
					<th>$!lang.getText('판매처')</th>
					<td>
						<input type="text" class = "text validate" style="width: 44%" name="vrSrchTransCustCd2" id="vrSrchTransCustCd2" onChange="vrSrchTransCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST_2");' class="imgSearch" name="btnSrchTransCustPop2" id="btnSrchTransCustPop2"/> 
						<input type="text" class = "text validate" style="width: 44%" name="vrSrchTransCustNm2" id="vrSrchTransCustNm2" onChange="vrSrchTransCustNm_OnKillFocus()">
						<input type="hidden" name="vrSrchTransCustId2" id="vrSrchTransCustId2"> 
					</td>
					<td></td>
				</tr>
				<tr id="hiddenZone4">
					<th>$!lang.getText('배송센터지정')</th>
					<td>
						$!comCode.getComboComCode("COM09", "vrSrchLcTranYn", "", true, "$!lang.getText('전체')", "", "","class='selectbox validate'")
					</td>
					<th>$!lang.getText('사진등록여부')</th>
					<td>
						$!comCode.getComboComCode("COM09", "vrSrchImgYn", "", true, "$!lang.getText('전체')", "", "","class='selectbox validate'")
					</td>
					<th>$!lang.getText('해피콜여부')</th>
					<td>
						$!comCode.getComboComCode("COM09", "vrSrchHappyCallYn", "", true, "$!lang.getText('전체')", "", "","class='selectbox validate'")
					</td>
					<td></td>
				</tr>
				<tr id="hiddenZone5">
					<th class="thBar">$!lang.getText("상품군")</th>
					<td>
						<select name="vrSrchItemGrpId" id="vrSrchItemGrpId" class="selectbox validate">
							<option value="">$!lang.getText("전체")</option>
							<option value="N/A">$!lang.getText("미지정")</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<th>$!lang.getText('시리얼번호')</th>
					<td>
						<input type="text" class ="text validate" name= "vrSerialNo" id ="vrSerialNo"/>	
					</td>
					<th>$!lang.getText('설치유형')</th>
					<td>
						$!comCode.getComboComCode("DLV_SET_TY", "vrSrchDlvSetTy", "", true, "$!lang.getText('전체')", "", "","class='selectbox validate'")
					</td>
					<td></td>
				</tr>
				<tr id="hiddenZone6">
					<th>$!lang.getText('인수증출력여부')</th>
					<td>
						$!comCode.getComboComCode("COM09", "vrSrchPrintRecYn", "", true, "$!lang.getText('전체')", "", "","class='selectbox validate'")
					</td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					<td></td>
				</tr>
				<tr id="hiddenZone7">
					<th>$!lang.getText('배송상태')</th>
					<!-- <td>
						$!comCode.getComboComCode("DLV_STAT", "vrSrchDlvStat", "", true, "$!lang.getText('전체')", "", "","class='selectbox'")
					</td> -->
					<td colspan="1">
						<input type="hidden" 	name="chkDlvStatCnt" 	id="chkDlvStatCnt" value="0"/>
						<input type="checkbox" 	name="chkDlvStatAll" 	id="chkDlvStatAll" onClick="fn_chkDlvStatAll();"> $!lang.getText("전체")
						
						<input type="checkbox"	name="chkDlvStat09" 	id="chkDlvStat09">
						<input type="hidden" 	name="vrDlvStat09" 		id="vrDlvStat09"   value="09"/>
						<input id="textDlvStat09" value="$!lang.getText('배송보류')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkDlvStat10" 	id="chkDlvStat10">
						<input type="hidden" 	name="vrDlvStat10" 		id="vrDlvStat10"   value="10"/>
						<input id="textDlvStat10" value="$!lang.getText('배송대기')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox" 	name="chkDlvStat20" 	id="chkDlvStat20">
						<input type="hidden" 	name="vrDlvStat20" 		id="vrDlvStat20"   value="20"/>
						<input id="textDlvStat20" value="$!lang.getText('배송출발')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox" 	name="chkDlvStat99" 	id="chkDlvStat99">
						<input type="hidden" 	name="vrDlvStat99" 		id="vrDlvStat99"   value="99"/>
						<input id="textDlvStat99" value="$!lang.getText('배송완료')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox" 	name="chkDlvStat80" 	id="chkDlvStat80">
						<input type="hidden" 	name="vrDlvStat80" 		id="vrDlvStat80"   value="80"/>
						<input id="textDlvStat80" value="$!lang.getText('미배송')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<!-- 
						<input type="checkbox" 	name="chkDlvStat90" 	id="chkDlvStat90">			
						<input type="hidden" 	name="vrDlvStat90" 		id="vrDlvStat90"   value="90"/>
						<input id="textDlvStat90" value="$!lang.getText('취소')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						 -->
						 
						<input type="checkbox" 	name="chkDlvStat89" 	id="chkDlvStat89">
						<input type="hidden" 	name="vrDlvStat89" 		id="vrDlvStat89"   value="89"/>
						<input id="textDlvStat89" value="$!lang.getText('취소요청')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox" 	name="chkDlvStat87" 	id="chkDlvStat87">
						<input type="hidden" 	name="vrDlvStat87" 		id="vrDlvStat87"   value="87"/>
						<input id="textDlvStat87" value="$!lang.getText('초도불량')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr id="hiddenZone8" style="display:'';">
					<th>$!lang.getText('등록구분')</th>
					<!-- <td>
						$!comCode.getComboComCode("INSERT_GB", "vrSrchInsertGb", "", true, "$!lang.getText('전체')", "", "","class='selectbox'")
					</td>-->
					<td colspan="1" >
						<input type="hidden" 	name="chkInsertGbCnt" 		id="chkInsertGbCnt"    value="0"/>
						<input type="checkbox" 	name="chkDlvInsertGbAll" 	id="chkDlvInsertGbAll" onClick="fn_chkDlvInsertGbAll();"> $!lang.getText("전체")
						
						<input type="checkbox"	name="chkInsertGb00" 	id="chkInsertGb00">
						<input type="hidden" 	name="vrInsertGb00" 	id="vrInsertGb00"   value="00"/>
						<input id="textInsertGb00" value="$!lang.getText('출고')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb05" 	id="chkInsertGb05">
						<input type="hidden" 	name="vrInsertGb05" 	id="vrInsertGb05"   value="05"/>
						<input id="textInsertGb05" value="$!lang.getText('AS출고')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">

						<input type="checkbox"	name="chkInsertGb57" 	id="chkInsertGb57">
						<input type="hidden" 	name="vrInsertGb57" 	id="vrInsertGb57"   value="57"/>
						<input id="textInsertGb57" value="$!lang.getText('결합출고')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
												
						<input type="checkbox"	name="chkInsertGb47" 	id="chkInsertGb47">
						<input type="hidden" 	name="vrInsertGb47" 	id="vrInsertGb47"   value="47"/>
						<input id="textInsertGb47" value="$!lang.getText('전시출고')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb07" 	id="chkInsertGb07">
						<input type="hidden" 	name="vrInsertGb07" 	id="vrInsertGb07"   value="07"/>
						<input id="textInsertGb07" value="$!lang.getText('택배출고')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb27" 	id="chkInsertGb27">
						<input type="hidden" 	name="vrInsertGb27" 	id="vrInsertGb27"   value="27"/>
						<input id="textInsertGb27" value="$!lang.getText('교환회수')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb37" 	id="chkInsertGb37">
						<input type="hidden" 	name="vrInsertGb37" 	id="vrInsertGb37"   value="37"/>
						<input id="textInsertGb37" value="$!lang.getText('교환출고')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb23" 	id="chkInsertGb23">
						<input type="hidden" 	name="vrInsertGb23" 	id="vrInsertGb23"   value="23"/>
						<input id="textInsertGb23" value="$!lang.getText('반품회수')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb28" 	id="chkInsertGb28">
						<input type="hidden" 	name="vrInsertGb28" 	id="vrInsertGb28"   value="28"/>
						<input id="textInsertGb28" value="$!lang.getText('지정회수')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb38" 	id="chkInsertGb38">
						<input type="hidden" 	name="vrInsertGb38" 	id="vrInsertGb38"   value="38"/>
						<input id="textInsertGb38" value="$!lang.getText('명의이전')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb90" 	id="chkInsertGb90">
						<input type="hidden" 	name="vrInsertGb90" 	id="vrInsertGb90"   value="90"/>
						<input id="textInsertGb38" value="$!lang.getText('인테리어')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
						
						<input type="checkbox"	name="chkInsertGb999" 	id="chkInsertGb999">
						<input type="hidden" 	name="vrInsertGb999" 	id="vrInsertGb999"   value="999"/>
						<input id="textInsertGb999" value="$!lang.getText('취소')" size="7" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;">
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th style="color:red;">※$!lang.getText('AS출고미처리')</th>
					<td colspan="3">
						<img src="http://winus.logisall.com/img/common/icon_reset2.png" style="width:20px; height:20px; cursor:pointer;" onclick="fn_asCntView()">
						<input id="vrAsCntView"		name="vrAsCntView"	value="$!lang.getText('-')"	size="7" readOnly="readOnly" style="vertical-align:middle;line-height:15px; border:none; width: 100%; color:red; cursor:pointer;" onclick="fn_dateSet()" title="$!lang.getText('금일이전: 클릭 시 주문일/배송상태/등록구분 조회조건 자동셋팅')">
						<input type = "hidden"	name = "vrSrcAsOrdFrom"	 	id = "vrSrcAsOrdFrom"/>
						<input type = "hidden"	name = "vrSrcAsOrdTo"	 	id = "vrSrcAsOrdTo"/>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td style="text-align: center; cursor:pointer; border-top:1px solid #BDBDBD; border-right:1px solid #BDBDBD; border-bottom:1px solid #BDBDBD; border-left:1px solid #BDBDBD;" onclick="fn_hiddenZoneSearch();">
						<input id="vrhiddenZoneView"	name="vrhiddenZoneView"	value="$!lang.getText('접기')" readOnly="readOnly" style="vertical-align:middle;line-height:18px; border:none; width:22px; cursor:pointer;" title="$!lang.getText('조회조건 최대/최소화')">
						<img src="http://winus.logisall.com/img/common/arrow_open.png" id="hiddenZoneImg"	name="hiddenZoneImg"	style="width:17px; height:17px; transform:rotateX(180deg)">
					</td>
				</tr>
			</tbody>
		</table>
		<input type = "hidden"	name = "lcIdOption"	 		id = "lcIdOption"/>
	</form>
	
	<!-- 기사/예정일 일괄등록 변수값 -->
	<input type = "hidden"	name = "vrSaveDlvDrivId"	id = "vrSaveDlvDrivId"/>
	<input type = "hidden"	name = "vrSaveDlvReqDt"	 	id = "vrSaveDlvReqDt"/>
	<!-- event 일괄수정처리 변수값 -->
	<input type = "hidden"	name = "eventDlvSetDt"	 	id = "eventDlvSetDt"/>
	<input type = "hidden"	name = "eventDlvDt"	 		id = "eventDlvDt"/>
	<input type = "hidden"	name = "eventDlvOrdStat"	id = "eventDlvOrdStat"/>
	<input type = "hidden"	name = "eventEtc2"	 		id = "eventEtc2"/>
	<input type = "hidden"	name = "eventEtc1"	 		id = "eventEtc1"/>
	<input type = "hidden"	name = "eventAsnLc"	 		id = "eventAsnLc"/>
	<!-- 배송관리 화면 상 주문 자동입력 기능 시 필요한 파라미터 정의 (간편입고 공통 파라미터 갯수) -->
	<!-- 배송관리 화면 상 주문 자동입력 기능 시 필요한 파라미터 정의 (간편입고 공통 파라미터 갯수) -->
	<form name = "frm_data" id = "frm_data">
		<input type="hidden" 	name="vrSrchCustCd" 	id="vrSrchCustCd"> 
		<input type="hidden" 	name="vrSrchCustNm" 	id="vrSrchCustNm"> 
		<input type="hidden" 	name="vrSrchCustId" 	id="vrSrchCustId">
		<input type="hidden" 	name="vrSrchCustLotUse" id="vrSrchCustLotUse">
		<input type="hidden" 	name="vrCalOutReqDt" 	id="vrCalOutReqDt"> 
		<input type="hidden" 	name="vrBlNo" 			id="vrBlNo">
		<input type="hidden" 	name="vrTransCustCd" 	id="vrTransCustCd"> 
		<input type="hidden" 	name="vrTransCustNm" 	id="vrTransCustNm"> 
		<input type="hidden" 	name="vrTransCustId" 	id="vrTransCustId">
		<input type="hidden" 	name="vrOrdSubType" 	id="vrOrdSubType">
		<input type="hidden" 	name="vrPayYn" 			id="vrPayYn">
		<input type="hidden" 	name="vrOrgOrdId" 		id="vrOrgOrdId">
		<input type="hidden" 	name="vrKinOutYn" 		id="vrKinOutYn">
		<input type="hidden" 	name="vrOutWhCd" 		id="vrOutWhCd"> 				
		<input type="hidden" 	name="vrOutWhNm" 		id="vrOutWhNm"> 
		<input type="hidden"    name="vrOutWhId"	 	id="vrOutWhId">
		<input type="hidden" 	name="vrCalInReqDt" 	id="vrCalInReqDt">
		<input type="hidden" 	name="vrCntrNoM" 		id="vrCntrNoM">
		<input type="hidden" 	name="vrOrdId"			id="vrOrdId">
		<input type="hidden" 	name="vrWorkStat"		id="vrWorkStat" >
		<input type="hidden" 	name="vrOrdType"		id="vrOrdType">
		<input type="hidden" 	name="vrApproveYn" 		id="vrApproveYn">
		<input type="hidden"	name="inReqDt" 			id="inReqDt">
		<input type="hidden"	name="inDt" 			id="inDt">
		<input type="hidden"	name="custPoid" 		id="custPoid">
		<input type="hidden"	name="custPoseq" 		id="custPoseq">			
		<input type="hidden"	name="orgOrdSeq" 		id="orgOrdSeq">
		<input type="hidden"	name="inWhId" 			id="inWhId">
		<input type="hidden"	name="pdaFinishYn" 		id="pdaFinishYn">
		<input type="hidden"	name="outDt" 			id="outDt">
		<input type="hidden"	name="pdaStat" 			id="pdaStat">
		<input type="hidden"	name="workSeq" 			id="workSeq">
		<input type="hidden"	name="capaTot" 			id="capaTot">
		<input type="hidden"	name="carConfYn" 		id="carConfYn">
		<input type="hidden"	name="tplOrdId" 		id="tplOrdId">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
	        <input type="button" class="INS_AUTH btnExcel"            name="btn_write" value="$!lang.getText('인수증(OZ)')" 		onClick="fn_ozPrint();" 			role="button" aria-disabled="false"/>
	        
			<input type="button" class="INS_AUTH btnEtc"            name="btn_write" value="$!lang.getText('입고주문입력')" 		onClick="fn_inOrdSave();" 			role="button" aria-disabled="false"/>
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('배송센터자동이관')" onClick="fn_dlvLcTran();" 	role="button" aria-disabled="false"/>
        	<font size="4" color="#FFFFFF"><b> | </b></font>
        	<!--<input type="button" class="INS_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('사진다운로드')" 		onclick="fn_imgDown()" 			role="button" aria-disabled="false"/>-->
        	<input type="button" class="INS_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('내용확인')" 		onclick="fn_rowConfirm()" 			role="button" aria-disabled="false"/>
        	<!-- <input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('SMS전송')" onClick="fn_sendSMS();" 	role="button" aria-disabled="false"/> -->
        	<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('수정 일괄입력')"  		onclick="fn_eventSave()" 	role="button" aria-disabled="false"/>
        	<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('기사/예정일 일괄입력')"  onclick="fn_dlvDrivReqDtSave()" 	role="button" aria-disabled="false"/>
        	<!-- <input type="button" class="INS_AUTH btnEtc"            name="btn_write" value="$!lang.getText('주문입력')" 		onClick="fn_outOrdSave();" 			role="button" aria-disabled="false"/> -->
        	<font size="4" color="#FFFFFF"><b> | </b></font>
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('저장')" onClick="fn_save('SAVE');" 	role="button" aria-disabled="false"/> 
			<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" 		role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('인수증출력')" onclick="fn_accepPrint()" 		role="button" aria-disabled="false"/>
			<!-- <input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" 		role="button" aria-disabled="false"/> -->
			<!-- <input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" 	role="button" aria-disabled="false"/> -->
        </div>    
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
		<p id="hiddenId" style="color:#fafafa;"></p>
	</div>
</div>

<div id="dataTable"></div>
<img id = "initData" style = "visibility : hidden ; width : 0 ; height : 0"></img>

<!-- Modal Loading CustomerPop-->
<div id="loadingModalView1" style="display: none; background-color: white; width: 70%; height: 100px; border-radius: 8px; vertical-align: middle; text-align: center; ">
	<span class="button b-close" id="loadingModal_close"  style = "visibility : hidden;">X</span>
	<div style="position: relative; display: inline-block; width: 50%; height: 30%; padding: 1em; color:#336699; text-align:center;">$!lang.getText('처리중') ...</div>
	<img src="/img/com/progress.gif" style="position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;"/>
</div>
<iframe name="filechecklist" src="/jsp/fileuploadMt2.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>