<div class="popupWrap">
	<div class="popupHeader">
    	<div class="pageBtnGroup">
    		<div class="btnArea" style="width:0px 20px 0px 0px;">
	            <div class="btnAreaRight" style="padding:0px 20px 0px 0px;">
	            	<input type='hidden'	name='vrKaoSendGbId'	id='vrKaoSendGbId'/>
	            	<input type='hidden'	name='vrKaoSendCustCd'	id='vrKaoSendCustCd'/>
					<input type='hidden'	name='vrKaoSendCustNm'	id='vrKaoSendCustNm'/>
					<input type='hidden'	name='vrKaoSendNum'		id='vrKaoSendNum'/>
	            	<input type="button"	name="btnNewItem"		id="btnNewItem"		class = "EXC_AUTH btnExcel" 		value = "$!lang.getText('신규/초기화')" 	onClick ="fn_editInit()"	role="button" aria-disabled="false" />
					<input type="button"	name="btnNewDsp"		id="btnNewDsp"		class = "INS_AUTH UPD_AUTH btnSave" value = "$!lang.getText('저장')" 			onClick ="fn_saveInit()"	role="button" aria-disabled="false" />
					<input type="button"	name="btnInfo"			id="btnInfo"		class = "EXC_AUTH btnExcel" 		value = "$!lang.getText('안내')(확정상태)" 	onClick ="fn_info()"		role="button" aria-disabled="false" style="display:none;"/>
	            </div>
	        </div>
    	</div>
		<form name="frm_list_E3">
			<table class="search" id="srchBox" border='0'>
			<colgroup>
				<col width = "80px"/>
				<col width = "25%"/>
				<col width = "80px"/>
				<col width = "25%"/>
				<col width = "80px"/>
				<col width = "25%"/>
				<col width = "80px"/>
				<col width = "25%"/>
				<col width = "30px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>$!lang.getText('접수상품')</th>
					<td colspan="3">
						<input type="text" class = "text" style="width: 49%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<input type="text" class = "text" style="width: 49%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()">
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId">
					</td>
					<th>$!lang.getText('접수자')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchReqNm" id ="vrSrchReqNm" readonly="readonly" value="$ss_user_name"/>
						<input type="hidden" name="vrSrchReqId" id="vrSrchReqId" value="$ss_user_no">	
					</td>
					
					<th>$!lang.getText('접수번호')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchAsCsNo" id ="vrSrchAsCsNo" readonly="readonly" placeholder="> $!lang.getText('자동입력.')"/>	
					</td>
					<td></td>
				</tr>
				<tr>
					<th>$!lang.getText('접수구분')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchAsCsType" id ="vrSrchAsCsType" readonly="readonly"/>  
					</td>
					<th>$!lang.getText('화주')</th>
					<td>
						<select name='vrSrchAsCsLc' id='vrSrchAsCsLc' class="selectbox" style="width:100%;" onClick="vrSrchAsCsLc_OnClick();">
							<option value="">$!lang.getText('선택')</option>
							#foreach($row in $ASCSLC)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>	
					</td>
					<th>$!lang.getText('접수일시')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchRegDt" id ="vrSrchRegDt" readonly="readonly" placeholder="> $!lang.getText('자동입력.')"/>  
					</td>
					<th>$!lang.getText('수정일시')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchUpdDt" id ="vrSrchUpdDt" readonly="readonly" placeholder="> $!lang.getText('자동입력.')"/>	
					</td>
					<td></td>
				</tr>
				<tr>
					<th>$!lang.getText('고객')<br>$!lang.getText('상담내역')</th>
					<td colspan="3">
						<textarea name = "TextReqContents" id="TextReqContents" wrap="on" style="font-size:12px; overflow:auto; width:99%;" rows=11;></textarea>
					</td>
					<th>$!lang.getText('확인사항')</th>
					<td colspan="3">
						<textarea name = "TextResult" id="TextResult" wrap="on" style="font-size:12px; overflow:auto; width:99%;" rows=11;></textarea>
					</td>
					<td></td>
				</tr>
				<tr>
					<th rowspan="3">$!lang.getText('인수증메모')</th>
					<td colspan="3" rowspan="3">
						<textarea name = "vrSrchReqMemo" id="vrSrchReqMemo" wrap="on" style="font-size:12px; overflow:auto; width:99%;" rows=11; disabled="disabled"></textarea>
					</td>
					<th>$!lang.getText('처리상태')</th>
					<td>
						$!comCode.getComboComCode("HC01", "vrSrchComType", "", false, "$!lang.getText('선택')", "onChange", "fn_chngComType(this.value);","class='selectbox'")
					</td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('배정자')</th>
					<td>
						<input type="text" class ="text" name= "vrConnectUser" id ="vrConnectUser"/>	
					</td>
					<td></td>
				</tr>
				<tr>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('취소코드')</th>
					<td>
						$!comCode.getComboComCode("HC02", "vrSrchCancelCode", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
						<input type="text" class ="text" name= "vrDisabledText3" id ="vrDisabledText3" readonly="readonly" style="text-align:center;" value="[처리상태:취소요청] 시 활성화"/>	
					</td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('설치유형')</th>
					<td>
						<!-- $!comCode.getComboComCode("DLV_SET_TY", "vrSrchDlvSetTy", "", true, "$!lang.getText('선택')", "onClick", "vrSrchDlvSetTy_OnClick();","class='selectbox'") -->
						$!comCode.getComboComCode("DLV_SET_TY", "vrSrchDlvSetTy", "", true, "$!lang.getText('선택')", "onChange", "fn_chngDlvSetTy(this.value);","class='selectbox'")	
						<input type="text" class ="text" name= "vrDisabledText1" id ="vrDisabledText1" readonly="readonly" style="text-align:center;" value="[처리상태:확정] 시 활성화"/>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>$!lang.getText('취소사유')</th>
					<td>
						<input type="text" class ="text" name= "vrCancelReason" id ="vrCancelReason"/>	
					</td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('처리업체')</th>
					<td>
						<!-- <select name='vrSrchDlvCompNm' id='vrSrchDlvCompNm' class="selectbox" style="width:100%;" onClick="vrSrchDlvCompNm_OnClick();"> -->
						<select name='vrSrchDlvCompNm' id='vrSrchDlvCompNm' class="selectbox" style="width:100%;">
							<option value="">$!lang.getText('선택')</option>
							#foreach($row in $DLVCUST)
							<option value="$row.CODE_NM">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
						<input type="text" class ="text" name= "vrDisabledText2" id ="vrDisabledText2" readonly="readonly" style="text-align:center;" value="[처리상태:확정] 시 활성화"/>
					</td>
					<td></td>
				</tr>
			</tbody>
			</table>
			
			<!-- frm_list_E3 hidden zone -->
			<input type='hidden' name='ST_GUBUN'			id='ST_GUBUN'/>
			<input type='hidden' name='vrAsCsSeq'	 		id='vrAsCsSeq'/>
			<input type='hidden' name='vrEtc2'	 			id='vrEtc2'/>
			<input type='hidden' name='typicalCustId'		id='typicalCustId'/>
			<input type='hidden' name='vrWorkType'			id='vrWorkType'/>
			<div id = "formDataE3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
	</div>
</div>
