<style type="text/css">
.no-border {width:100%; border:0px; background-color:transparent;}
</style>

<div class="patternWrap">	
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="80px"/> 
				<col width="50%"/>
				<col width="80px"/>
				<col width="40%"/>
				<col width="50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" id="vrSrchCustImg" /> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th class="thBar">$!lang.getText('디바이스')</th>
					<td>
						<input type="text" class = "text" style = "width:97.5%;" name="vrSrchDevNum" id="vrSrchDevNum">
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')" onClick="fn_search();" title="검색" role="button" aria-disabled="false"/>
					</th>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="vrDevNum" id="vrDevNum"/>
	</form>
	
	<form name = "frm_data" id="frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>

	<div class="area" style="display:inline-block; width:100%">
		<div class="leftArea" style="display:inline-block; width:48%; padding-right:20px;">
		    <div class="btnArea">
		        <div class="btnAreaRight">
		        	<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc" 				name="btn_headerWrite"  onclick="fn_new('SPDCOL_FLAG');" 		role="button" aria-disabled="false"/>
					<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" 	name="btn_headerSave" 	onclick="fn_headerSave();" 		role="button" aria-disabled="false"/>	
					<input type="button" value="$!lang.getText('삭제')" class="INS_AUTH UPD_AUTH btnDelete"   name="btn_headerDelete" onclick="fn_headerDelete();" 	role="button" aria-disabled="false"/>	
					<input type="button" value="$!lang.getText('엑셀업로드')" class="INS_AUTH UPD_AUTH btnEtc" 	name="btn_headerNew" 	onclick="fn_excelUpload();" 	role="button" aria-disabled="false"/>
					<input type="button" value="$!lang.getText('엑셀')" class="INS_AUTH UPD_AUTH btnExcel" 	name="btn_headerAdd"   	onclick="fn_headerExcelDown();" role="button" aria-disabled="false"/>
		        </div>
		    </div>
		    <div id="divPanel_SpdList" style="padding-top:20px; width:100%; min-height:500px;">
				<div style = "padding-bottom:5px; font-size:14px; font-weight:bold;">$!lang.getText('디바이스') List</div>
				<div id="spdList" style="height:700px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>
		<div class="rightArea" style="display:inline-block; width:48%;">
			<div class="btnArea">
		        <div class="btnAreaRight">
		        	<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc" 				name="btn_write"  onclick="fn_new('SPDCOL_D_FLAG');" 		role="button" aria-disabled="false"/>				
					<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" 	name="btn_save"   onclick="fn_save();" 		role="button" aria-disabled="false"/>	
					<input type="button" value="$!lang.getText('삭제')" class="INS_AUTH UPD_AUTH btnDelete"   name="btn_delete" onclick="fn_delete();" 	role="button" aria-disabled="false"/>
					<input type="button" value="$!lang.getText('엑셀')" class="INS_AUTH UPD_AUTH btnExcel" 	name="btn_add"    onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		        </div>
		    </div>
			<div id="divPanel_SpdList_detail" style="padding-top:20px; width:100%; min-height:500px;">
				<div style = "padding-bottom:5px; font-size:14px; font-weight:bold;">$!lang.getText('포트') List</div>
				<div id="spdList_detail" style="height:700px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript"></script>