#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/tooltip_easiest.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))
<style>
	.gc-ui-contextmenu-icon {
            display:none;
    }
	.gc-ui-contextmenu-menuitem {
            border-bottom: 1px solid gray;
    }
    .gc-ui-contextmenu-text {
            font-weight : normal;
            width : 75%;
            margin : 0;
            padding : 0;
            white-space : normal;
            word-break : keep-all;
    }
    .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; z-index: 10000 !important  }
</style>
<script type="text/javascript">
// SPDLIST DEF
var arrMC_SPD_CHK_SET = [];
var PUBLIC_SPD_HEIGHT_TITLE = "22";
var PUBLIC_SPD_HEIGHT = "25";
var DFC_LINE = '#D4D4D4';
var BKC_FRC = "#FFFBF7";
var BKC_DEF = "#FFFBF7";

var INSERT_CELL  = '#FFEBC8';

var sidIndex = -1;
var sidOrder = true;

/* Detail */
var SPDCOL_CHK_BOX	 = 0;
var LC_CD = 1;
var CUST_CD = 2;
var SAVETYPE = 3;
var WORK_DT	 = 4;
var WORK_SEQ = 5;
var DEV_NUM	 = 6;
var PORT_NUM = 7;
var WORK_TIME = 8;
var TEMP_VAL = 9;
var HUMID_VAL = 10;
var REG_DT = 11;
var REG_NO = 12;
var UPD_DT = 13;
var UPD_NO = 14;
var SPDCOL_END	 = 15;

var colNameArray = [
	"SPDCOL_CHK_BOX"    
	,"LC_CD"  
	,"CUST_CD"  
	,"SAVETYPE"
	,"WORK_DT"  
	,"WORK_SEQ"  
	,"DEV_NUM"    
	,"PORT_NUM"
	,"WORK_TIME"
	,"TEMP_VAL"  
	,"HUMID_VAL" 
	,"REG_DT"    
	,"REG_NO"    
	,"UPD_DT"    
	,"UPD_NO"    
	,"SPDCOL_END" 
];

var spdSheet;
var spdList;
var spdFooter;
var arrMC_SPD_CHK_SET_D = [];
var BKC_FRC_D = "#FFFBF7";

var lcId = jQuery("select[name='SVC_INFO'] option:selected").val();

/* 합계처리 변수 */
jQuery(document).ready(function(){
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) {  } });
	
	/* button */
	jQuery("input:button").button();
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;
	
	/* 고객사 ID의 경우 검색화주를 고정시킨 */
	if("$!ss_user_gb" == "20"){
		// 고객사 ID의 경우 검색화주를 고정시킴
		jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val("$ss_cmpy_id");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("$ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("$ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] img[id='vrSrchCustImg']").removeAttr("onclick");
		//fn_getTp();

	}else{
		vrSrchCustCd_OnStart(); 
	}
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* datepicker */
	//한국어 일본어만 현재 지원됨//WorkDt
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo'], input[name='vrOrdStDateFrom'], input[name='vrOrdStDateTo'], input[name='workDt']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 주문일자 날짜 셋팅 */
	//var vrSrchReqDt = (new Date()).getFormattedString("YYYY-MM-DD");
	var vrSrchReqDtFrom = localStorage.LocalTime;
	var vrSrchReqDtTo = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtFrom']").val(vrSrchReqDtFrom);
	jQuery("input[name='vrSrchReqDtTo']").val(vrSrchReqDtTo);	
	jQuery("input[name='workDt']").val(vrSrchReqDtTo);	

	ps_setSpreadColumnIndex();
});

function ps_setSpreadColumnIndex() {
	/* 그리드 공통화 적용 시작- Detail */
    spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheet, false);
	spdList = spdSheet.getActiveSheet(0);
	
	spdList.options.protectionOptions.allowFilter = true;
	spdList.options.protectionOptions.allowSort = true;
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdList,1, SPDCOL_END, 0,DEV_NUM);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(spdList, SPDCOL_CHK_BOX,	'CENTER', 'CENTER', 8, false, false, "");
	ps_setSpreadCol_TEXT_Property(spdList, CUST_CD, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, LC_CD, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, SAVETYPE, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, WORK_DT, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, WORK_SEQ, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, DEV_NUM, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, PORT_NUM, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, WORK_TIME, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property2(spdList, TEMP_VAL, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property2(spdList, HUMID_VAL, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, REG_DT, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, REG_NO, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, UPD_DT, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, UPD_NO, 'CENTER','CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdList, SPDCOL_END, 'CENTER','CENTER', 8, false, true, "");
	
	ps_setSpreadEvents_Bind(spdList);
	ps_setSpreadStyle();
    gfn_forceEventResize();
}

/* 선택된 rowNum array*/
function fn_checkedList(orGrid) {
	var grid = orGrid;
	var selectIds = [];	
	var colChkBox = colNameArray.indexOf("SPDCOL_CHK_BOX");
	grid.suspendPaint();
	for(var i = 0; i < grid.getRowCount(); i++){
        if(grid.getValue(i, colChkBox)){
        	selectIds.push(i);
        }
    }
	grid.resumePaint();
	return selectIds;
}

/* 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
}

function ps_setSpreadStyle(){
	spdList.suspendPaint();

	/* colName */
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_CHK_BOX, "$!lang.getText('선택')", 35, true);
	ps_setSpreadTitle_Named(spdList, 0, CUST_CD,	'$!lang.getText("화주")',  	100, false);
	ps_setSpreadTitle_Named(spdList, 0, LC_CD,		'$!lang.getText("물류센터")',	100, false);
	ps_setSpreadTitle_Named(spdList, 0, SAVETYPE,	'$!lang.getText("저장타입")',	100, false);
	ps_setSpreadTitle_Named(spdList, 0, WORK_DT,	'$!lang.getText("기록일")', 	150, true);
	ps_setSpreadTitle_Named(spdList, 0, WORK_SEQ,	'$!lang.getText("기록순번")',	100, true);
	ps_setSpreadTitle_Named(spdList, 0, DEV_NUM,	'$!lang.getText("디바이스")',	150, true);
	ps_setSpreadTitle_Named(spdList, 0, PORT_NUM,	'$!lang.getText("포트번호")',	150, true);
	ps_setSpreadTitle_Named(spdList, 0, WORK_TIME,	'$!lang.getText("작업시간")',	150, true);
	ps_setSpreadTitle_Named(spdList, 0, TEMP_VAL,	'$!lang.getText("온도")',   100, true);
	ps_setSpreadTitle_Named(spdList, 0, HUMID_VAL, 	'$!lang.getText("습도")',   100, true);
	ps_setSpreadTitle_Named(spdList, 0, REG_DT,    	'$!lang.getText("등록일")',  150, true);
	ps_setSpreadTitle_Named(spdList, 0, REG_NO,    	'$!lang.getText("등록자")',  150, true);
	ps_setSpreadTitle_Named(spdList, 0, UPD_DT,		'$!lang.getText("수정일")',  150, true);
	ps_setSpreadTitle_Named(spdList, 0, UPD_NO, 	'$!lang.getText("수정자")',  150, true);
	ps_setSpreadTitle_Named(spdList, 0, SPDCOL_END, 'SPDCOL_END', 100, false);
	
	spdList.defaults.colHeaderRowHeight = PUBLIC_SPD_HEIGHT_TITLE; //기본높이
    spdList.defaults.rowHeight = PUBLIC_SPD_HEIGHT;
  	
	var setHeaderRow = spdList.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
	setHeaderRow.font("bold 13px Arial");
   	setHeaderRow.backColor("#d5dce6");
   	setHeaderRow.foreColor("#4e5661");
		
	//자동 컬럼 길이 설정
	//spdList.autoFitColumn(colNameArray.indexOf("SPDCOL_UPD_NO"));
	
	spdList.rowFilter(new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, colNameArray.indexOf("WORK_DT"), spdList.getRowCount(), colNameArray.indexOf("SPDCOL_END")-colNameArray.indexOf("WORK_DT"))));
	
	//색상처리 
	var prev_uniq = "";
	var prev_order_code ="";
	var uniqCnt = 0;
	var orderCodeCnt =0;
	for(var i = 0; i < spdList.getRowCount(); i++){
			  	
	}
	spdList.resumePaint();

	//span
   	fn_gridRowspan(spdList);
}

function fn_gridRowspan(){
	var rowSpanColArr = [
			colNameArray.indexOf("SPDCOL_CHK_BOX"),
		];

}

/* 검색 - MainGrid*/
function fn_search(callback) {
	var custId			= jQuery("#vrSrchCustId").val();
	//화주가 없을 경우 RETURN
	if(custId == "" || custId == null){
		alert("$!lang.getText('화주정보가없습니다')");
		fn_Popup('CUST');
		return;
	}
	
	//검색조건값을 파라미터로 보낸다.
	var param = jQuery("form[name='frm_list']").serialize();
	param     = param +"&lcId="+"$ss_svc_no"
	var url   = "/WMSDV030/list2.action?"+param;	
	
	jQuery.ajax({
		url : url,
		type : 'GET',
		contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success	: function(data) {
			if(callback != undefined){
				setRST(data, callback);
			}else{
				setRST(data);
			}
		},
		beforeSend : function() {cfn_loadingModalOpen1();},
		complete : function() {cfn_loadingModalClose1();}
	});
}

/* 조회 callback */
function setRST(ds, callback){
	var totalCount = jQuery('#totalSpdList');
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    spdList.resumePaint(); 
    
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck
    spdList.suspendPaint();
   
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
	spdList.autoGenerateColumns = false;
	
	// format 설정 가능
	var colInfos=[
		{ name : "", displayName : "SPDCOL_CHK_BOX"},
		
	];
	for (var i = 1 ; i < colNameArray.length-1; i++){
		var obj = { name : colNameArray[i] };
		colInfos.push(obj);
	}
	colInfos.push({ name : "", displayName : "SPDCOL_END"});
	
	spdList.setDataSource(arrBind);
	spdList.bindColumns(colInfos);

    totalCount.html(spdList.getRowCount());
    ps_setSpreadStyle();
    gfn_forceEventResize();
    spdList.resumePaint();
    
    if(callback != undefined){
		callback();
	}
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
	if(sidIndex === args.col){
		sidOrder = !sidOrder;
	}else{
		sidOrder = true;
		sidIndex = args.col;
	}
	
	if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {
    	var spd = args.sheet, sheetArea = args.sheetArea, row = args.row, col = args.col;
    	var selectCbx = spd.getValue(0, 0, GC.Spread.Sheets.SheetArea.colHeader);
    	spd.suspendPaint();
    	if ((selectCbx == null) || (selectCbx == 0)) {
        	spd.setValue(0, 0, 1, GC.Spread.Sheets.SheetArea.colHeader);
        	for(var i = 0; i < spd.getRowCount(); i++){
            	if (!spd.getCell(i, 0, GC.Spread.Sheets.SheetArea.viewport).locked()) {
            		// 필터처리 했을 경우 전체 체크박스 X 2021-12-27
            		if(spd.getCell(i, 0, GC.Spread.Sheets.SheetArea.viewport).sheet.filterRowsVisibleInfo.rowsVisibleInfo[i] != false){
	                	spd.setValue(i, 0, true, GC.Spread.Sheets.SheetArea.viewport);
	                	spd.setValue(i, 1, true, GC.Spread.Sheets.SheetArea.viewport);
            		}
            	}
        	}
    	}  else {
        	spd.setValue(0, 0, 0, GC.Spread.Sheets.SheetArea.colHeader);
        	for(var i = 0; i < spd.getRowCount(); i++){
            	if (!spd.getCell(i, 0, GC.Spread.Sheets.SheetArea.viewport).locked()) {
                	spd.setValue(i, 0, false, GC.Spread.Sheets.SheetArea.viewport);
                	spd.setValue(i, 1, false, GC.Spread.Sheets.SheetArea.viewport);
            	}
        	}
    	}
    	spd.resumePaint();
    	return false;
    }
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	//if(args.col = 0){console.log(args)};
}

function ps_setSpreadEvents_LostFocus (args){
	if(args.col == 0) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	var colChkBox = colNameArray.indexOf("SPDCOL_CHK_BOX");
	if(args.col == colChkBox){
		var spd = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
		var spdListHere = spdSheet.getActiveSheet(0);
		
		spd.suspendPaint();
		var row = args.row;
		
		// 온도, 습도만 변경하능하도록 한다. 
		var TEMP_VAL_cell  = spdListHere.getCell(row, TEMP_VAL, GC.Spread.Sheets.SheetArea.viewport);
		var HUMID_VAL_cell = spdListHere.getCell(row, HUMID_VAL, GC.Spread.Sheets.SheetArea.viewport);
		
		var checkValue = spdListHere.getValue(row, SPDCOL_CHK_BOX);
		if(checkValue == true){
			// 선택 시 
			TEMP_VAL_cell.locked(false);
			TEMP_VAL_cell.backColor(INSERT_CELL);  // #FFEBC8
			HUMID_VAL_cell.locked(false);
			HUMID_VAL_cell.backColor(INSERT_CELL);  // #FFEBC8
		}
		else{
			// 선택 취소시 
			TEMP_VAL_cell.locked(true);
			TEMP_VAL_cell.backColor("");
			HUMID_VAL_cell.locked(true);
			HUMID_VAL_cell.backColor("");
		}
		spd.resumePaint();
	}
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	//if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
}

//--------------------------------------------------------------------------------화면로딩-------------------------------------------------------------------------------------//
/*
	정책획득			:	cfn_initRule();
	화주 선택			:	vrSrchCustCd_OnStart();
	우클릭메뉴			:	cfn_contextMenu();
	
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 페이지 로딩시 화주 선택 */
function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			//asppop.focus();
	
		}else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);

			
		}else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);

}

//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	팝업 호출	:	fn_Popup()
	화주팝업후	:	fn_setWMSMS011()
	상품팝업 후     : 	fn_setWMSCM091()
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSMS011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
				
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);

			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}
//--------------------------------------------------------------------------------FUNCTIONS-------------------------------------------------------------------------------------//
/*
 * fn_SaveValidation()  : 검색조건 화주 입력 여부 확인
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* fn_save 유효성검사 -- CHECK  */
function fn_SaveValidation(){
	arrMC_SPD_CHK_SET = [];    
    var grid 		= spdList;
    var selectIds	= fn_checkedList(grid);
    var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	
	if(vrSrchCustId == ""){
		alert("$!lang.getText('화주정보가없습니다')");
		return;
	}

    return true;
}


//--------------------------------------------------------------------------------FUNCTIONS-------------------------------------------------------------------------------------//
/*
 * 저장					: fn_save()
 * 삭제 					: fn_deleteDel()
 * 수정					: fn_update()
 * 엑셀다운 		  			: fn_excelDown()
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
function fn_save(){
	var grid = spdList;
	
	/* 유효성검사 */
	if(!fn_SaveValidation()){return;}

	console.log("test");
	
	var params = [];
	params.push({"name" : "LC_CD", 		"value" : lcId});
	params.push({"name" : "WORK_DT",	"value" : jQuery("#workDt").val()});
	params.push({"name" : "DEV_NUM", 	"value" : jQuery("#devNum").val()});
	params.push({"name" : "PORT_NUM", 	"value" : jQuery("#portNum").val()});
	params.push({"name" : "WORK_TIME", 	"value" : jQuery("#workTime").val()});
	params.push({"name" : "TEMP_VAL", 	"value" : jQuery("#tempVal").val()});
	params.push({"name" : "HUMID_VAL", 	"value" : jQuery("#humidVal").val()});
	params.push({"name" : "CUST_ID", 	"value" : jQuery("#vrSrchCustId").val()});
	params.push({"name" : "SAVETYPE", 	"value" : "W"}); // WEB
	
	if(confirm('$!lang.getText("저장하시겠습니까")')){	
		var url ="/WMSDV030/save2.action";
		jQuery.post(url, params, function(data){
			if(data.errCnt == 0 ){
				alert("complete");
				jQuery("#devNum").val("");
				jQuery("#portNum").val("");
				jQuery("#workTime").val("");
				jQuery("#tempVal").val("");
				jQuery("#humidVal").val("");
				fn_search();
			} else {
				alert(data.MSG);
			}			
		});
	}else{
		alert("save.fail");
		return false;
	}
}

//삭제
function fn_deleteDel(){
	arrMC_SPD_CHK_SET = [];    
    var grid 		= spdList;
    var tmpCnt 	  	= 0 ;
    var selectIds	= fn_checkedList(grid);
    var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	
	/* 유효성검사 */
	if(!fn_SaveValidation()){return;}
	
	jQuery("#formData").html("");
	for(var i = 0 ; i < selectIds.length ; i++){
		// 필터 처리가 되어있는 경우 파라미터에 담지 않음. 2021-12-27
		if(grid.getCell(i, 0, GC.Spread.Sheets.SheetArea.viewport).sheet.filterRowsVisibleInfo.rowsVisibleInfo[selectIds[i]] != false){
			jQuery("#formData").append("<input type='text' name='workDt" + tmpCnt + "' value='" + grid.getValue(selectIds[i], WORK_DT) + "'/>");	
			jQuery("#formData").append("<input type='text' name='workSeq" + tmpCnt + "' value='" + grid.getValue(selectIds[i], WORK_SEQ) + "'/>");	
			jQuery("#formData").append("<input type='text' name='devNum" + tmpCnt + "' value='" + grid.getValue(selectIds[i], DEV_NUM) + "'/>");
			jQuery("#formData").append("<input type='text' name='portNum" + tmpCnt + "' value='" + grid.getValue(selectIds[i], PORT_NUM) + "'/>");
			tmpCnt++;
		}
	}
	
	//for문에서 필터 체크 후 파라미터에 담길 데이터 체크
	if(tmpCnt < 1){
		alert("$!lang.getText('save.nodata')");
		return;
	}
	
//	var lcId = jQuery("select[name='SVC_INFO'] option:selected").val();
	var custId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var updNo = "$!ss_user_no";

	jQuery("#formData").append("<input type='text' name='lcId'	 value='"+lcId+"'/>");
	jQuery("#formData").append("<input type='text' name='custId' value='"+custId+"'/>");
	jQuery("#formData").append("<input type='text' name='updNo'  value='"+updNo+"'/>");
	jQuery("#formData").append("<input type='text' name='selectIds'	value='"+tmpCnt+"'/>");
	
	var procedureParam	= jQuery("form[name='frm_data']").serialize();
	var procedureUrl 	= "/WMSDV030/deleteDel.action";

	if(confirm(tmpCnt + "$!lang.getText('ROWS ')" +  "$!lang.getText('delete.confirm')")){
		cfn_loadingModalOpen1(); //loading modal open
		jQuery.post(procedureUrl, procedureParam, function(data) {
			if(data.errCnt == 0 ){
				alert("삭제 완료.");
				cfn_loadingModalClose1(); //loading modal close
				fn_search();
			}else{
				alert(data.MSG);
				cfn_loadingModalClose1(); //loading modal close
			}
		}).fail(function(xhr, textStatus){
			cfn_loadingModalClose1(); //loading modal close
			if(xhr.status == 404){
				location.href=('/index.html');
			}
		});
	}
}

//수정
function fn_update(){
	arrMC_SPD_CHK_SET = [];    
    var grid 		= spdList;
    var tmpCnt 	  	= 0 ;
    var selectIds	= fn_checkedList(grid);
    var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	
	/* 유효성검사 */
	if(!fn_SaveValidation()){return;}
	
	jQuery("#formData").html("");
	for(var i = 0 ; i < selectIds.length ; i++){
		// 필터 처리가 되어있는 경우 파라미터에 담지 않음. 2021-12-27
		if(grid.getCell(i, 0, GC.Spread.Sheets.SheetArea.viewport).sheet.filterRowsVisibleInfo.rowsVisibleInfo[selectIds[i]] != false){
			jQuery("#formData").append("<input type='text' name='workDt" + tmpCnt + "' value='" + grid.getValue(selectIds[i], WORK_DT) + "'/>");	
			jQuery("#formData").append("<input type='text' name='workSeq" + tmpCnt + "' value='" + grid.getValue(selectIds[i], WORK_SEQ) + "'/>");	
			jQuery("#formData").append("<input type='text' name='tempVal" + tmpCnt + "' value='" + grid.getValue(selectIds[i], TEMP_VAL) + "'/>");
			jQuery("#formData").append("<input type='text' name='humidVal" + tmpCnt + "' value='" + grid.getValue(selectIds[i], HUMID_VAL) + "'/>");
			tmpCnt++;
		}
	}
	
	//for문에서 필터 체크 후 파라미터에 담길 데이터 체크
	if(tmpCnt < 1){
		alert("$!lang.getText('save.nodata')");
		return;
	}
	
//	var lcId = jQuery("select[name='SVC_INFO'] option:selected").val();
	var custId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var updNo = "$!ss_user_no";

	jQuery("#formData").append("<input type='text' name='lcId'	 value='"+lcId+"'/>");
	jQuery("#formData").append("<input type='text' name='custId' value='"+custId+"'/>");
	jQuery("#formData").append("<input type='text' name='updNo'  value='"+updNo+"'/>");
	jQuery("#formData").append("<input type='text' name='selectIds'	value='"+tmpCnt+"'/>");
	
	var procedureParam	= jQuery("form[name='frm_data']").serialize();
	var procedureUrl 	= "/WMSDV030/update.action";

	if(confirm(tmpCnt + "$!lang.getText('ROWS ')" + "$!lang.getText('update.confirm')")){
		cfn_loadingModalOpen1(); //loading modal open
		jQuery.post(procedureUrl, procedureParam, function(data) {
			if(data.errCnt == 0 ){
				alert("$!lang.getText('complete')");
				cfn_loadingModalClose1(); //loading modal close
				fn_search();
			}else{
				alert(data.MSG);
				cfn_loadingModalClose1(); //loading modal close
			}
		}).fail(function(xhr, textStatus){
			cfn_loadingModalClose1(); //loading modal close
			if(xhr.status == 404){
				location.href=('/index.html');
			}
		});
	}
}

//엑셀다운 조회전체
function fn_excelDown(){
	cfn_loadingModalOpen1(); //loading modal open
	var grid = spdList;
	//엑셀시트 보호 해제
	grid.options.isProtected = false;
	pf_ExcelReportExportCallback("$!lang.getText('온습도관리')", spdSheet, function(){
		 cfn_loadingModalClose1(); //loading modal close
	});
	grid.options.isProtected = true;
}

function fn_excelUpload(){
	if(jQuery("#vrSrchCustCd").val() == "" || jQuery("#vrSrchCustCd").val().length == 0){
		alert("$!lang.getText('화주정보가없습니다')");
		fn_Popup("CUST");
		return false;
	}
	
	var strParameter = [];
	strParameter.push(jQuery("#vrSrchCustCd").val());
	strParameter.push(jQuery("#vrSrchCustId").val());
	strParameter.push(jQuery("#vrSrchCustNm").val());
	strParameter.push("fn_uploadComplete");
	
	var param 	= "?strParameter=" + strParameter;
	var url 	= '/WMSDV033UPLOADPOP.action'+param;
	var width 	= "550";
	var height 	= "200";
	var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
	asppop.focus();
}

function fn_uploadComplete(){
	fn_search();
}
</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href="#tabs-1">$!lang.getText("온습도관리")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
	<div id="tabs-1">
		#parse("winus/wmsms/WMSDV033E1.vm")
	</div>
</div>
#parse("winus/common/footer.vm")