<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top"> 
	    		<input type = "button" name = "btnDownManual" 	value = "$!lang.getText('Manual')"	onclick = "fn_downloadManual();"	 role="button" aria-disabled="false"/>
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">	
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "*"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>$!lang.getText('UOM코드')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchUomId" id ="vrSrchUomId"/>		
					</td>
					<td>
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	role="button" aria-disabled="false"/>
					</th>
				</tr>
			</tbody>
		</table>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
        	<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>	
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('저장')" onClick="fn_save();" 	role="button" aria-disabled="false"/> 
			<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" 		role="button" aria-disabled="false"/> 
			<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" 	role="button" aria-disabled="false"/>				
			<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" role="button" aria-disabled="false"/>
        </div>    
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
</div>

<iframe name="filechecklist" src="/jsp/fileuploadMt.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>
<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE' value='/STAN_TEMPLATE/WMSMS100'/>
<input type="hidden" name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME_ENG' value='WINUS_WMSMS100_MANUAL_ENG.pdf'/>
<input type="hidden" name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME_SPN' value='WINUS_WMSMS100_MANUAL_SPN.pdf'/>
<input type="hidden" name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME_KOR' value='WINUS_WMSMS100_MANUAL_KOR.pdf'/>

<script type="text/javascript">
	jQuery("input:button").button();


	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>