<style type="text/css">
.no-border {width:100%; border:0px; background-color:transparent;}
</style>

<div class="patternWrap">	
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>$!lang.getText("사용자조회")</th>
					<td>
						<input type="text" class="text" name="vrSrchUserId" id="vrSrchUserId" style="width:48%" onChange="vrSrchUserId_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('USER');return false;" class="imgSearch">
						<input type="hidden" name="vrSrchUserNo" id="vrSrchUserNo"/>
						<input type="text" class="text" name="vrSrchUserNm" id="vrSrchUserNm" style="width:48%" onChange="vrSrchUserNm_OnKillFocus()"/>
					</td>
					
					<th>$!lang.getText('화주코드')</th>
					<td>
						<select name='vrSrchCustCdSelectBox' id='vrSrchCustCdSelectBox' multiple="multiple" style = "width:48%; height:70%;"> multiple="multiple" class="selectbox" 
						</select>
					</td>
					<th>$!lang.getText('화주명')</th>
					<td>
						<input type="text" class="text" name="vrCustNm" id="vrCustNm" style="width:48%"/>
					</td>
					
					
					<td></td>
					<td></td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	role="button" aria-disabled="false"/>
					</th>
				</tr>
			</tbody>
		</table>
	</form>
	
	<form name = "frm_data" id="frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('저장')" onClick="fn_save();" 		role="button" aria-disabled="false"/> 
			<input type = "button" class = "DEL_AUTH btnDelete" name = "btnDelete"	value = "$!lang.getText('삭제')"		onClick = "fn_delete();"	role="button" aria-disabled="false"/>			
        </div>    
	</div>

	<div class="area" style="display:inline-block; width:100%">
		<div class="leftArea" style="display:inline-block; width:48%; padding-right:20px;">
		    <div id="divPanel_SpdList" style="padding-top:20px; width: 100%; min-height: 500px;">
				<div style = "padding-bottom:5px; font-size : 14px; font-weight : bold;">사용자 리스트</div>
				<input type="hidden" name="vrUserNo" id="vrUserNo"/>
				<div id="spdList" style="min-height:500px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>
		<div class="rightArea" style="display:inline-block; width:48%;">
			<div id="divPanel_SpdList_detail" style="padding-top:20px; width: 100%; min-height: 500px;">
				<div style = "padding-bottom:5px; font-size : 14px; font-weight : bold;">화주 리스트</div>
				<div id="spdList_detail" style="min-height:500px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>
	</div>

	<div id="spdListTable" style="display:none"></div>
</div>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>