<div class="patternWrap">
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "*"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>$!lang.getText('상품군명')</th>
					<td>
						<input type="text" class = "text" name="vrSrchItemGrpNm" id="vrSrchItemGrpNm"> 
					</td>
					<td></td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" />	
					</th>
				</tr>
			</tbody>
		</table>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>			
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" value="$!lang.getText('저장')" onClick="fn_save();" /> 
			<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" /> 
			<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" />				
			<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" />
        </div>    
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
</div>

<script type="text/javascript">
	jQuery("input:button").button();


	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>