<div class="pageBtnGroup">
    <div class = "btnArea">
    	<div class="btnAreaRight">
    		<!--
   				<input type = "button" name = "btnComplete"		value = "$!lang.getText('입고확정')"		onClick = "fn_inComplete();"	 role="button" aria-disabled="false"/>			
				<input type = "button" name = "btnChangeDate"   value = "$!lang.getText('입고일변경')" 	onclick = "fn_changeDate();"	 role="button" aria-disabled="false"/>
			-->
    	</div>
    </div>	
</div>

<div class="patternWrap">
	
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "100px"/>
				<col width = "23%"/>
				<col width = "100px"/>
				<col width = "23%"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>$!lang.getText('입고예정일')</th>
					<td colspan="3">
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>
					
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 35%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 35%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					
					<th class="btnSearch" rowspan="3">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
					</th>
				</tr>
			
				<tr>
					<th>$!lang.getText('작업구분')</th>
					<td colspan="3">
						$!comCode.getComboComCode("ORD03", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
					</td>
					
					<th class="thBar">$!lang.getText('창고')</th>
					<td>
						<input type="text" class = "text" style="width: 35%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 35%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
					</td>
					
					<th class="thBar">$!lang.getText('부자재')</th>
					<td>
<!-- 						<input type="text" class = "text" style="width: 35%" name="vrSrchPoolCd" id="vrSrchPoolCd" onChange="vrSrchPoolCd_OnKillFocus()">  -->
						<input type="text" class = "text" style="width: 35%" name="vrSrchPoolCd" id="vrSrchPoolCd"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("POOL");' class="imgSearch"/> 
<!-- 						<input type="text" class = "text" style="width: 35%" name="vrSrchPoolNm" id="vrSrchPoolNm" onChange="vrSrchPoolNm_OnKillFocus()">  -->
						<input type="text" class = "text" style="width: 35%" name="vrSrchPoolNm" id="vrSrchPoolNm"> 
					</td>
				</tr>
				
				<tr>
					<th>$!lang.getText('주문상세')</th>
					<td colspan="3">
						$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					
					<th class="thBar"></th>
					<td></td>
					
					<th class="thBar">$!lang.getText('부자재군')</th>
					<td>
						<select name='vrSrchPoolGrpId' id='vrSrchPoolGrpId' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="N/A">$!lang.getText('미지정')</option>
							#foreach($row in $POOLGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
<!-- 					<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH"	name="btnInit" value="$!lang.getText('')"  onClick="fn_initSer();" title="초기화"	 role="button" aria-disabled="false"/>	 -->
<!-- 					</th> -->
				</tr>
			</tbody>
		</table>

	</form>
	
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<input type = "hidden" class = "text" name = "vrType" id = "vrType">
	</form>
   
    <div class = "btnArea">
    	<div class = "btnAreaRight">
    		<input type = "button" class = "INS_AUTH btnEtc" 	name = "btnInsert" 	value = "$!lang.getText('신규')"			onclick = "fn_new()"		role="button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" 	name = "btnDelete"	value = "$!lang.getText('삭제')"			onClick = "fn_delete();"	role="button" aria-disabled="false"/>			
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')" 		onclick = "fn_excelDown()"	role="button" aria-disabled="false"/>
    	</div>
    </div>
    
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>