<style type="text/css">
    .overDialogSt {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 83%;
        height: 72%;
        background: #FFFFFF;
        border: 3px solid #8C8C8C;
        z-index: 999;
        font-family: arial, serif;
        visibility: hidden;
    }
    .no-border {
    	text-align:left;
    	width:100%;
    	border:0px;
    	background-color:transparent;
    	color:#000000;
    	font-weight:bold;
    	font-family:KoPubDotumLeft;
    }
    .no-border2 {
    	text-align:left;
    	width:100%;
    	border:0px;
    	background-color:transparent;
    	color:#000000;
    	font-weight:bold;
    	font-family:KoPubDotumLeft;
    }
    .no-border3 {
    	text-align:right;
    	width:100%;
    	font-weight:bold;
    	color:red;
    	font-family:KoPubDotumLeft;
    }
    
</style>
<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="100px"/> 
				<col width="23%"/>
				<col width="100px"/> 
				<col width="23%"/>
				<col width="100px"/>
				<col width="23%"/>			
				<col width="40px"/>	
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" name="btnSrchCustPop" id="btnSrchCustPop"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
				</td>
				
				<th>$!lang.getText("작업일자")</th>
				<td>
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
				</td>			
			
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" />
				</th>
			</tr>
			<tr>
				<th>$!lang.getText("상태")</th>
				<td>
					$!comCode.getComboComCode("STS11", "vrSrchWorkStat", "", true, "$!lang.getText('전체')", "", '',"class='selectbox'")
				</td>
				<th></th>
				<td></td>
				<th></th>
				<td></td>
			</tr>
			
		</table>
	
		<form name = "frm_data">
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
		
		<input type ="hidden"	name= "vrWorkIdStr" 		id ="vrWorkIdStr">
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('라벨발행(산출)')" 		class="EXC_AUTH btnEtc"        name="btn_print" onclick="fn_lableDataSearchMain2();" role="button" aria-disabled="false"/> <!-- fn_print1 -->
			<input type="button" value="$!lang.getText('라벨발행(기본)')" 		class="EXC_AUTH btnEtc"        name="btn_print" onclick="fn_lableDataSearchMain();" role="button" aria-disabled="false"/> <!-- fn_print1 -->
			<input type="button" value="$!lang.getText('작업리스트출력')" 	class="EXC_AUTH btnEtc"        name="btn_print" onclick="fn_printInit2();" role="button" aria-disabled="false"/> <!-- fn_print1 -->
			<input type="button" value="$!lang.getText('삭제')" 			class="DEL_AUTH btnDelete"     name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('신규')" 			class="INS_AUTH btnEtc"        name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" 			class="EXC_AUTH btnExcel"      name="btn_write" onclick="fn_excelDown();"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<div class="list_box">
		<table>
			<tr>
				<td style = "width: 59%">
					<div class="btnArea marT10">
				        <div class="btnAreaLeft">
				        </div>
				        <div class="btnAreaRight">
				        	<input type="button" value="$!lang.getText('라벨발행(옵션)')" 		class="EXC_AUTH btnEtc"        name="btn_print" onclick="fn_lableDataSearch();" role="button" aria-disabled="false"/> <!-- fn_print1 -->
				        	<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>
				        	<input type="button" value="$!lang.getText('초기화')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_clear();" role="button" aria-disabled="false"/>
				        </div>
				    </div>
					<div class="list_box">
						<table id="detail"></table>
						<div id="detail_pjmap"></div>
					</div>
				</td>
				<td></td>
				<td style = "width: 39%">
					<div class="btnArea marT10">
				        <div class="btnAreaLeft">
				        </div>
				        <div class="btnAreaRight">
				        </div>
				    </div>
					<div class="list_box">
						<table id="detail2"></table>
						<div id="detail_pjmap2"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="dataTable"></div>
	</div>

</div>

<div class="overDialogSt" id="overDialog">
	<div style="padding:15px 30px 1px 30px;">
		<table>
		<colgroup>
			<col width = "50%"/>
			<col width = "35%"/>
			<col width = "15%"/>
		</colgroup>
        <tbody>
		<tr>
			<td>
				<input type="text" class="no-border"  id ="vrSetItemCd"  name ="vrSetItemCd"  style="font-size:22px" readonly="readonly"></input><br>
				<input type="text" class="no-border2" id ="vrSetItemCd2" name ="vrSetItemCd2" style="font-size:16px" readonly="readonly"></input>
			</td>
			<td></td>
			<td>
				<input type="text" class="no-border2" style="font-size:16px; text-align:right;" value="$!lang.getText('회사코드') :" readonly="readonly"></input>
				<input type="text" class="no-border3" style="font-size:16px;" id ="vrCompanyCd"  name ="vrCompanyCd" value="WP02" onChange="vrCompanyCd_OnKillFocus()"></input>
			</td>
		</tr>
		</table>
	</div>
	<div class="patternWrap" style="padding:30px 30px 1px 30px; min-width:500px;">
		<div class="btnArea">
			<div class="btnAreaRight">
				<input type="button" value="$!lang.getText('새로고침')"	class="INS_AUTH btnEtc"        name="btn_write" onclick="fn_dialogInit();" role="button" aria-disabled="false"/>
			</div>
		</div>
		<div class="list_box">
			<table id="list3" border="0"></table>
			<div id="pjmap3"></div>		
		</div>
	</div>
	<div style="padding:1% 3% 3% 3%; text-align:right;">
		<font color="#FF0000">※$!lang.getText('조회가 되지 않을 경우 포장기준관리-포장단계구성관리에서 해당 상품을 등록하여 주십시오.')</font>
		<input type="button" value="$!lang.getText('닫기')"  onclick="fn_overDialogClose();"/>
	</div>
</div>