<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	   			<input type = "button" name = "btnTem" 			value = "$!lang.getText('포장입고템플릿입력')"		onclick = "fn_orderUpload();"	 role="button" aria-disabled="false"/>
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form name="frm_list" id="frm_list">
		<input type="hidden" name="vrSetRitemId" id="vrSetRitemId" />	
	    <input type="hidden" name="GRID_ID" 	id="GRID_ID"/>
		<input type="hidden" name='GRID_SUB_ID' id= 'GRID_SUB_ID'/>
		
	    <table class="search" id="srchBox">
	        <colgroup>
				<col width = "80px"/>
				<col width = "23%"/>
				<col width = "80px"/>
				<col width = "23%"/>
				<col width = "50px"/>
	        </colgroup>
	        <tbody>
				<tr>
					<th>$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style="width: 42%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="txtSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 42%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="txtSrchCustNm_OnKillFocus()">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">   
					</td>
					<th class="thBar">$!lang.getText('세트상품')</th>
					<td>
						<input type="text" class = "text" style="width: 42%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="txtSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 42%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="txtSrchItemNm_OnKillFocus()">
						<input type="hidden" name="vrSrchItemId" id="vrSrchItemId">  
					</td>		
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 		role="button" aria-disabled="false"/>	
					</th>
				</tr>
	        </tbody>
	    </table>
	   	<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>  
    
    <div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>

	<div align="center">
		<br>
		<input type="button" name="addDataBtn"    id="addDataBtn"  	   value="↓"  onclick="fn_addData()" style="height:25px; width:4%;" />
		&nbsp&nbsp&nbsp&nbsp
		<input type="button" name="addDataBtn"    id="addDataBtn"  	   value="↑"  onclick="fn_dltData()" style="height:25px; width:4%;" />
	</div>
	
	<div class="btnArea marT10">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('작업생성')" onClick="fn_genKitWork();" 	role="button" aria-disabled="false"/> 
        	<font size="4" color="#FFFFFF"><b> | </b></font>
        	<input type="button" value="$!lang.getText('초기화')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_tempDataInit();" role="button" aria-disabled="false"/>
        	<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>
        </div>
    </div>
    
	<div class="list_box">
		<table id="list2"></table>
		<div id="pjmap2"></div>
	</div>
	
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
</div>

<!-- Modal Loading CustomerPop-->
<div id="loadingModalView1" style="display: none; background-color: white; width: 70%; height: 100px; border-radius: 8px; vertical-align: middle; text-align: center; ">
	<span class="button b-close" id="loadingModal_close"  style = "visibility : hidden;">X</span>
	<div style="position: relative; display: inline-block; width: 50%; height: 30%; padding: 1em; color:#336699; text-align:center;">$!lang.getText('처리중') ...</div>
	<img src="/img/com/progress.gif" style="position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;"/>
</div>

<script type="text/javascript">
	jQuery("input:button").button();
	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>