<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.js"></script>
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.min.js"></script>
<script>

/****************************************** 라벨발행(기본) 버튼 ******************************************/
function gfn_reportProcessMain(custGb, objGrid) {
	var grid      = objGrid;
	var ids       = grid.getDataIDs();	
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var html      = "";
	var htmlInit  = "";
	
	var printDate = "";
	var date = new Date();
	var printQty = 0;
	
	printDate = date.getFullYear()+"-"+(date.getMonth() + 1)+"-"+date.getDate()+" "+
	date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();

	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
    for(var i = 0 ;  i < selectIds.length; i++){
   		var chkBoxStat = jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
       	if(chkBoxStat != undefined){
      			//인쇄 페이징 처리 구분
       		if(i == 0){
       			html += "<div style='page-break-before:avoid;'>"; //첫번째장 출력 일 경우
       		}else{
       			html += "<div style='page-break-before:always;'>"; //두번째장 이상 출력 일 경우 html페이지를 다음으로 넘기는 태그
       		}
       		html += "<html>";
       		html += "<head>";
       		html += "<meta charset='utf-8'>";
       		html += " <style> ";
       		html += "     @media print {@page {margin:0;}body {margin-left:0px;}} ";
       		html += "     @font-face { ";
       		html += "         font-family: \"AT Triumvirate Condensed\"; ";
       		html += "         src: url(\"../css/ea7f8f171d63faf100ccd8a08773a656.eot\"); ";
       		html += "         src: url(\"../css/ea7f8f171d63faf100ccd8a08773a656.eot?#iefix\") format(\"embedded-opentype\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.woff2\") format(\"woff2\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.woff\") format(\"woff\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.ttf\") format(\"truetype\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.svg#AT Triumvirate Condensed\") format(\"svg\"); ";
       		html += "     } ";
       		html += "     div{font-family:\"AT Triumvirate Condensed\" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;line-height:1em;} ";
       		html += " </style> ";	
       		html += "<script src='../js/jquery/jquery-1.10.2.js'></"+"script>";
       		html += "<script src='../js/jquery-barcode-2.0.2.min.js'></"+"script>";
       		html += "</head>";
       		html += "<body style='min-width:400px'>";
       		
       		//간격조정 : padding left, top 으로 조정. (왼쪽상단 left:0, top:0 부터 시작)
       		//폰트속성 : font-weight=굵기 letter-spacing=자간
       		html += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:16mm; font-weight:990; letter-spacing:2.4px; font-size:25pt;'>";
       		html += "		"+grid.getCell(selectIds[i], "CUST_LEGACY_ITEM_CD");
       		html += "	</div>";
       		html += "	<div style='height: auto; width: 100%; padding-left:5.5mm; padding-top:0.3mm; font-size:14px; font-weight: 400; letter-spacing:1.5px;'>";
       		html += "		"+grid.getCell(selectIds[i], "RITEM_NM");
       		html += "	</div>";
       		html += "	<div style='height: auto; width: 100%; padding-left:6.5mm; padding-top:1mm; font-size:11px; font-weight: 400; letter-spacing:1.5px;'>";
       		html += "		"+grid.getCell(selectIds[i], "WORK_QTY")+"&nbsp;PCS&nbsp;&nbsp;"+grid.getCell(selectIds[i], "WORK_DATE")+"&nbsp;&nbsp;"+gbCompanyCd+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Made in Mexico";
       		html += "	</div>";
       		html += "	<div style='height: auto; width: 100%; margin-left:0mm; padding-left:1mm; padding-top:1mm;'>";
       		html += "		<div id='barcode"+i+"'></div>"; //style='width: 100%; height: 38px;'
       		html += "	</div>";
       		html += "	<div style='line-height: 120%; height: auto; width: 100%; margin-left:-4mm; padding-top:0mm; font-size:10px;  -webkit-transform: scale(0.8); font-weight: normal; letter-spacing:1.1px;'>";
       		html += "		<img src='http://winus.logisall.com/img/exclamation-mark.png' width='14' height='11'><span>WARNING: Cancer and Reproductive Harm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.P65Warnings.ca.gov</span>";
       		html += "	</div>";
       		html += "</body>";
       		html += "</html>";
       		
       		html += "<script type='text/javascript'>";
       		html += "jQuery('#barcode"+i+"').barcode('"+grid.getCell(selectIds[i], "BARCODE_VAL")+"', 'code128',{barWidth:1, barHeight:37,showHRI:0, output:'bmp'}).css('overflow','visible')";
       		html += "</"+"script>";

       		htmlInit += "<html>";
       		htmlInit += "<head>";
       		htmlInit += "<meta charset='utf-8'>";
       		htmlInit += "</head>";
       		htmlInit += "<body style='min-width:400px'>";
       		htmlInit += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:18mm; font-weight:990; letter-spacing:2.4px; font-size:25pt;'>"; //font-weight=굵기 letter-spacing=자간
       		htmlInit += "		asd"+grid.getCell(selectIds[i], "TOTAL_PRINT_QTY");
       		htmlInit += "	</div>";
       		htmlInit += "</body>";
       		htmlInit += "</html>";
       	}
       	html += "</div>"; //page
       	
       	printQty = grid.getCell(selectIds[i], "QTY");
    }

    document.all.dataTable.innerHTML = html;
    
	//식별표 Table/Div 생성 완료 후 인쇄 window 실행
    if(navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0 ){
	    //IE 일때
	    previewIe_printMain(html); 
    }else if(navigator.userAgent.indexOf("Chrome") > 0){
    	alert("출력물이 짤리는 경우 InternetExplorer를 사용해 주세요.(Chrome은 비율 기능을 지원하지 않습니다.)");
	    //크롬 일때	   	 
	    //프린트 출력 부분 div 셋팅
	    html += "<div></div>";

	    var runPrint;
	    var printContent =  document.getElementById("dataTable");
	    var windowUrl    = '';
		var uniqueName   = new Date();
		var windowName   = 'Print' + uniqueName.getTime();
		var printWindow  = window.open(windowUrl, windowName, "width=600,height=300,scrollbars=1");
		printWindow.document.write(printContent.innerHTML);

	    var wait;
		wait = 2000;
	    runPrint = setTimeout(function(){printWindow.window.print();}, wait);
		
	    //프린트 출력 부분 div 초기화 (삭세)
		document.all.dataTable.innerHTML  = "";
	}
}
function previewIe_printMain(html){
	//프린트 출력 부분 div 셋팅
	var printContent = document.getElementById("dataTable");
	var windowUrl    = '';
	var uniqueName   = new Date();
	var windowName   = 'Print' + uniqueName.getTime();
	var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
	var printPreviewObject = '<object id="printPreviewElement" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';

	printWindow.document.write(printContent.innerHTML);
	printWindow.document.write(printPreviewObject);
	printWindow.document.write('<script language=JavaScript>');
	printWindow.document.write('window.print();');
	printWindow.document.write('</'+'script>'); 
	printWindow.document.close();

	//프린트 출력 부분 div 초기화 (삭세)
	document.all.dataTable.innerHTML  = "";
}


/****************************************** 라벨발행(옵션) / 시리얼 버튼******************************************/
function gfn_reportProcess(custGb, objGrid, objGridDetail) {
	var grid      = objGrid;
	var ids       = grid.getDataIDs();	
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var html      = "";
	var htmlInit  = "";
	
	var printDate = "";
	var date = new Date();
	var printQty = 0;
	
	//시리얼 그리드 데이터
	var gridDtl   = objGridDetail;
	var idsDtl    = gridDtl.getDataIDs();	
	
	printDate = date.getFullYear()+"-"+(date.getMonth() + 1)+"-"+date.getDate()+" "+
	date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();

	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
    for(var i = 0 ;  i < selectIds.length; i++){
    	for(var k = 0 ;  k < idsDtl.size(); k++){
    		var chkBoxStat = jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
        	if(chkBoxStat != undefined){
       			//인쇄 페이징 처리 구분
        		if(k == 0){
           			html += "<div style='page-break-before:avoid;'>"; //첫번째장 출력 일 경우
           		}else{
           			html += "<div style='page-break-before:always; padding-top:2mm;'>"; //두번째장 이상 출력 일 경우 html페이지를 다음으로 넘기는 태그
           		}
        		html += "<html>";
        		html += "<head>";
        		html += "<meta charset='utf-8'>";
        		html += " <style> ";
        		html += "     @media print {@page {margin:0;}body {margin-left:0px;}} ";
        		html += "     @font-face { ";
        		html += "         font-family: \"AT Triumvirate Condensed\"; ";
        		html += "         src: url(\"../css/ea7f8f171d63faf100ccd8a08773a656.eot\"); ";
        		html += "         src: url(\"../css/ea7f8f171d63faf100ccd8a08773a656.eot?#iefix\") format(\"embedded-opentype\") ";
        		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.woff2\") format(\"woff2\") ";
        		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.woff\") format(\"woff\") ";
        		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.ttf\") format(\"truetype\") ";
        		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.svg#AT Triumvirate Condensed\") format(\"svg\"); ";
        		html += "     } ";
        		html += "     div{font-family:\"AT Triumvirate Condensed\" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;line-height:1em;} ";
        		html += " </style> ";	
        		html += "<script src='../js/jquery/jquery-1.10.2.js'></"+"script>";
        		html += "<script src='../js/jquery-barcode-2.0.2.min.js'></"+"script>";
        		html += "</head>";
        		html += "<body style='min-width:400px'>";
        		
        		//간격조정 : padding left, top 으로 조정. (왼쪽상단 left:0, top:0 부터 시작)
           		//폰트속성 : font-weight=굵기 letter-spacing=자간
        		html += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:2mm; font-size:17pt; font-weight:580; letter-spacing:1px;'>";
        		/*BARCODE_VAL (기존)*/
        		//html += "		"+grid.getCell(selectIds[i], "CUST_LEGACY_ITEM_CD");
        		/*SERIAL_NO : Step(2) 그리드의 시리얼 row 출력*/
        		html += "		"+grid.getCell(selectIds[i], "CUST_LEGACY_ITEM_CD");
        		html += "	</div>";
        		html += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:0mm; font-size:17pt; font-weight: 580; letter-spacing:1px;'>";
        		html += "		"+grid.getCell(selectIds[i], "RITEM_NM");
        		html += "	</div>";
        		html += "	<div style='height: auto; width: 100%; padding-left:30mm; padding-top:0mm; font-size:18pt; font-weight: 580; letter-spacing:1px;'>";
        		html += "		Serial Number";
        		html += "	</div>";
        		html += "	<div style='height: auto; width: 100%; margin-left:7mm; padding-left:0mm; padding-top:1mm; padding-bottom:20mm'>"; //margin-left=바코드 왼쪽여백
        		html += "		<div id='barcode"+k+"'></div>"; //style='width: 100%; height: 38px;'
        		html += "	</div>";
        		html += "</body>";
        		html += "</html>";
        		
        		html += "<script type='text/javascript'>";
        		/*BARCODE_VAL (기존)*/
        		//html += "jQuery('#barcode"+k+"').barcode('"+grid.getCell(selectIds[i], "BARCODE_VAL")+"', 'code128',{barWidth:1, barHeight:37,showHRI:0, output:'bmp'}).css('overflow','visible')";
        		/*SERIAL_NO : Step(2) 그리드의 시리얼 row 출력*/
        		html += "jQuery('#barcode"+k+"').barcode('"+gridDtl.getCell((k+1), "SERIAL_NO")+"', 'code128',{barWidth:2, barHeight:60,showHRI:1,fontSize:20, output:'css'}).css('overflow','visible')";
        		html += "</"+"script>";

        		htmlInit += "<html>";
        		htmlInit += "<head>";
        		htmlInit += "<meta charset='utf-8'>";
        		htmlInit += "</head>";
        		htmlInit += "<body style='min-width:400px'>";
        		htmlInit += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:18mm; font-weight:990; letter-spacing:2.4px; font-size:25pt;'>"; //font-weight=굵기 letter-spacing=자간
        		htmlInit += "		asd"+grid.getCell(selectIds[i], "TOTAL_PRINT_QTY");
        		htmlInit += "	</div>";
        		htmlInit += "</body>";
        		htmlInit += "</html>";
        	
        		html += "</div>"; //page
        	}
        	
        	printQty = grid.getCell(selectIds[i], "QTY");
    	}
    }

    document.all.dataTable.innerHTML = html;
    
	//식별표 Table/Div 생성 완료 후 인쇄 window 실행
    if(navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0 ){
	    //IE 일때
	    previewIe_print(html); 
    }else if(navigator.userAgent.indexOf("Chrome") > 0){
    	alert("출력물이 짤리는 경우 InternetExplorer를 사용해 주세요.(Chrome은 비율 기능을 지원하지 않습니다.)");
	    //크롬 일때	   	 
	    //프린트 출력 부분 div 셋팅
	    html += "<div></div>";
	    
	    var runPrint;
	    var printContent =  document.getElementById("dataTable");
	    var windowUrl    = '';
		var uniqueName   = new Date();
		var windowName   = 'Print' + uniqueName.getTime();
		var printWindow  = window.open(windowUrl, windowName, "width=600,height=300,scrollbars=1");
		printWindow.document.write(printContent.innerHTML);

	    var wait;
		wait = 2000;
	    runPrint = setTimeout(function(){printWindow.window.print();}, wait);

	    //프린트 출력 부분 div 초기화 (삭세)
		document.all.dataTable.innerHTML  = "";
	}
}
function previewIe_print(html){
	//프린트 출력 부분 div 셋팅
	var printContent = document.getElementById("dataTable");
	var windowUrl    = '';
	var uniqueName   = new Date();
	var windowName   = 'Print' + uniqueName.getTime();
	var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
	var printPreviewObject = '<object id="printPreviewElement" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';

	printWindow.document.write(printContent.innerHTML);
	printWindow.document.write(printPreviewObject);
	printWindow.document.write('<script language=JavaScript>');
	printWindow.document.write('window.print();');
	printWindow.document.write('</'+'script>'); 
	printWindow.document.close();
	
	//프린트 출력 부분 div 초기화 (삭세)
	document.all.dataTable.innerHTML  = "";
}


/****************************************** 라벨발행(산출) 버튼 ******************************************/
function gfn_reportProcessDialog(custGb, objGrid, qty, pcs, compCd) {
	var grid      = objGrid;
	var ids       = grid.getDataIDs();	
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var html      = "";
	var htmlInit  = "";
	
	var printDate = "";
	var date = new Date();
	var printQty = 0;
	
	printDate = date.getFullYear()+"-"+(date.getMonth() + 1)+"-"+date.getDate()+" "+
	date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();

	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
    for(var i = 0 ;  i < qty; i++){
   		var chkBoxStat = jQuery("tr[id='"+selectIds[0]+"'] td input[type='checkbox']").css("border-bottom");
       	if(chkBoxStat != undefined){
      			//인쇄 페이징 처리 구분
       		if(i == 0){
       			html += "<div style='page-break-before:avoid;'>"; //첫번째장 출력 일 경우
       		}else{
       			html += "<div style='page-break-before:always;'>"; //두번째장 이상 출력 일 경우 html페이지를 다음으로 넘기는 태그
       		}
       		html += "<html>";
       		html += "<head>";
       		html += "<meta charset='utf-8'>";
       		html += " <style> ";
       		html += "     @media print {@page {margin:0;}body {margin-left:0px;}} ";
       		html += "     @font-face { ";
       		html += "         font-family: \"AT Triumvirate Condensed\"; ";
       		html += "         src: url(\"../css/ea7f8f171d63faf100ccd8a08773a656.eot\"); ";
       		html += "         src: url(\"../css/ea7f8f171d63faf100ccd8a08773a656.eot?#iefix\") format(\"embedded-opentype\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.woff2\") format(\"woff2\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.woff\") format(\"woff\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.ttf\") format(\"truetype\") ";
       		html += "         ,url(\"../css/ea7f8f171d63faf100ccd8a08773a656.svg#AT Triumvirate Condensed\") format(\"svg\"); ";
       		html += "     } ";
       		html += "     div{font-family:\"AT Triumvirate Condensed\" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;line-height:1em;} ";
       		html += " </style> ";	
       		html += "<script src='../js/jquery/jquery-1.10.2.js'></"+"script>";
       		html += "<script src='../js/jquery-barcode-2.0.2.min.js'></"+"script>";
       		html += "</head>";
       		html += "<body style='min-width:400px'>";
       		
       		//간격조정 : padding left, top 으로 조정. (왼쪽상단 left:0, top:0 부터 시작)
       		//폰트속성 : font-weight=굵기 letter-spacing=자간
       		html += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:16mm; font-weight:990; letter-spacing:2.4px; font-size:25pt;'>";
       		html += "		"+grid.getCell(selectIds[0], "CUST_LEGACY_ITEM_CD");
       		html += "	</div>";
       		html += "	<div style='height: auto; width: 100%; padding-left:5.5mm; padding-top:0.3mm; font-size:14px; font-weight: 400; letter-spacing:1.5px;'>";
       		html += "		"+grid.getCell(selectIds[0], "RITEM_NM");
       		html += "	</div>";
       		html += "	<div style='height: auto; width: 100%; padding-left:6.5mm; padding-top:1mm; font-size:11px; font-weight: 400; letter-spacing:1.5px;'>";
       		html += "		"+pcs+"&nbsp;PCS&nbsp;&nbsp;"+grid.getCell(selectIds[0], "WORK_DATE")+"&nbsp;&nbsp;"+compCd+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Made in Mexico";
       		html += "	</div>";
       		html += "	<div style='height: auto; width: 100%; margin-left:0mm; padding-left:1mm; padding-top:1mm;'>";
       		html += "		<div id='barcode"+i+"'></div>"; //style='width: 100%; height: 38px;'
       		html += "	</div>";
       		html += "	<div style='line-height: 120%; height: auto; width: 100%; margin-left:-4mm; padding-top:0mm; font-size:10px;  -webkit-transform: scale(0.8); font-weight: normal; letter-spacing:1.1px;'>";
       		html += "		<img src='http://winus.logisall.com/img/exclamation-mark.png' width='14' height='11'><span>WARNING: Cancer and Reproductive Harm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.P65Warnings.ca.gov</span>";
       		html += "	</div>";
       		html += "</body>";
       		html += "</html>";
       		
       		html += "<script type='text/javascript'>";
       		html += "jQuery('#barcode"+i+"').barcode('"+grid.getCell(selectIds[0], "BARCODE_VAL")+"', 'code128',{barWidth:1, barHeight:37,showHRI:0, output:'bmp'}).css('overflow','visible')";
       		html += "</"+"script>";

       		htmlInit += "<html>";
       		htmlInit += "<head>";
       		htmlInit += "<meta charset='utf-8'>";
       		htmlInit += "</head>";
       		htmlInit += "<body style='min-width:400px'>";
       		htmlInit += "	<div style='height: auto; width: 100%; padding-left:4.5mm; padding-top:18mm; font-weight:990; letter-spacing:2.4px; font-size:25pt;'>"; //font-weight=굵기 letter-spacing=자간
       		htmlInit += "		asd"+grid.getCell(selectIds[0], "TOTAL_PRINT_QTY");
       		htmlInit += "	</div>";
       		htmlInit += "</body>";
       		htmlInit += "</html>";
       	
       		html += "</div>"; //page
       	}
       	
       	printQty = grid.getCell(selectIds[0], "QTY");
    }
	
    document.all.dataTable.innerHTML = html;
    
	//식별표 Table/Div 생성 완료 후 인쇄 window 실행
    if(navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0 ){
	    //IE 일때
	    previewIe_printDialog(html); 
    }else if(navigator.userAgent.indexOf("Chrome") > 0){
    	alert("출력물이 짤리는 경우 InternetExplorer를 사용해 주세요.(Chrome은 비율 기능을 지원하지 않습니다.)");
	    //크롬 일때	   	 
	    //프린트 출력 부분 div 셋팅
	    html += "<div></div>";
	    
	    var runPrint;
	    var printContent =  document.getElementById("dataTable");
	    var windowUrl    = '';
		var uniqueName   = new Date();
		var windowName   = 'Print' + uniqueName.getTime();
		var printWindow  = window.open(windowUrl, windowName, "width=600,height=300,scrollbars=1");
		printWindow.document.write(printContent.innerHTML);

	    var wait;
		wait = 2000;
	    runPrint = setTimeout(function(){printWindow.window.print();}, wait);

	    //프린트 출력 부분 div 초기화 (삭세)
		document.all.dataTable.innerHTML  = "";
	}
}
function previewIe_printDialog(html){
	//프린트 출력 부분 div 셋팅
	var printContent = document.getElementById("dataTable");
	var windowUrl    = '';
	var uniqueName   = new Date();
	var windowName   = 'Print' + uniqueName.getTime();
	var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
	var printPreviewObject = '<object id="printPreviewElement" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';

	printWindow.document.write(printContent.innerHTML);
	printWindow.document.write(printPreviewObject);
	printWindow.document.write('<script language=JavaScript>');
	printWindow.document.write('window.print();');
	printWindow.document.write('</'+'script>'); 
	printWindow.document.close();

	//프린트 출력 부분 div 초기화 (삭세)
	document.all.dataTable.innerHTML  = "";
}
</script>