/*!
 * 
 *   simple-keyboard v3.7.2
 *   https://github.com/hodgef/simple-keyboard
 *
 *   Copyright (c) Francisco Hodge (https://github.com/hodgef) and project contributors.
 *
 *   This source code is licensed under the MIT license found in the
 *   LICENSE file in the root directory of this source tree.
 *
 */
#keyboadDiv .hg-theme-default {
    background-color: #ececec;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    overflow: hidden;
    padding: 5px;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

#keyboadDiv .hg-theme-default .hg-button span {
    pointer-events: none
}

#keyboadDiv .hg-theme-default button.hg-button {
    border-width: 0;
    font-size: inherit;
    outline: 0
}

#keyboadDiv .hg-theme-default .hg-button {
    display: inline-block;
    flex-grow: 1
}

#keyboadDiv .hg-theme-default .hg-row {
    display: flex
}

#keyboadDiv .hg-theme-default .hg-row:not(:last-child) {
    margin-bottom: 5px
}

#keyboadDiv .hg-theme-default .hg-row .hg-button-container,.hg-theme-default .hg-row .hg-button:not(:last-child) {
    margin-right: 5px
}

#keyboadDiv .hg-theme-default .hg-row>div:last-child {
    margin-right: 0
}

#keyboadDiv .hg-theme-default .hg-row .hg-button-container {
    display: flex
}

#keyboadDiv .hg-theme-default .hg-button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 5px;
    box-shadow: 0 0 3px -1px rgba(0,0,0,.3);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px
}

#keyboadDiv .hg-theme-default .hg-button.hg-standardBtn {
    width: 20px
}

#keyboadDiv .hg-theme-default .hg-button.hg-activeButton {
    background: #efefef
}

#keyboadDiv .hg-theme-default.hg-layout-numeric .hg-button {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 33.3%
}

#keyboadDiv .hg-theme-default .hg-button.hg-button-numpadadd,.hg-theme-default .hg-button.hg-button-numpadenter {
    height: 85px
}

#keyboadDiv .hg-theme-default .hg-button.hg-button-numpad0 {
    width: 105px
}

#keyboadDiv .hg-theme-default .hg-button.hg-button-com {
    max-width: 85px
}

#keyboadDiv .hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
    max-width: 45px
}

#keyboadDiv .hg-theme-default .hg-button.hg-selectedButton {
    background: rgba(5,25,70,.53);
    color: #fff
}

#keyboadDiv .hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"] {
    max-width: 82px
}

#keyboadDiv .hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {
    max-width: 60px
}

#keyboadDiv .hg-candidate-box {
    background: #ececec;
    border-bottom: 2px solid #b5b5b5;
    border-radius: 5px;
    display: inline-flex;
    margin-top: -10px;
    max-width: 272px;
    position: absolute;
    transform: translateY(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

#keyboadDiv ul.hg-candidate-box-list {
    display: flex;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0
}

#keyboadDiv li.hg-candidate-box-list-item {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

#keyboadDiv li.hg-candidate-box-list-item:hover {
    background: rgba(0,0,0,.03);
    cursor: pointer
}

#keyboadDiv li.hg-candidate-box-list-item:active {
    background: rgba(0,0,0,.1)
}

#keyboadDiv .hg-candidate-box-prev:before {
    content: "◄"
}

#keyboadDiv .hg-candidate-box-next:before {
    content: "►"
}

#keyboadDiv .hg-candidate-box-next,.hg-candidate-box-prev {
    align-items: center;
    color: #969696;
    cursor: pointer;
    display: flex;
    padding: 0 10px
}

#keyboadDiv .hg-candidate-box-next {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

#keyboadDiv .hg-candidate-box-prev {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

#keyboadDiv .hg-candidate-box-btn-active {
    color: #444
}
