@charset "UTF-8";

@font-face{font-family:KoPubDotumLight;src:url('../css/KoPubDotumLight.eot');src:local(※),url('../css/KoPubDotumLight.woff') format('woff')}
@font-face{font-family:KoPubDotumMedium;src:url('../css/KoPubDotumMedium.eot');src:local(※),url('../css/KoPubDotumMedium.woff') format('woff')}
@font-face{font-family:KoPubDotumBold;src:url('../css/KoPubDotumBold.eot');src:local(※),url('../css/KoPubDotumBold.woff') format('woff')}

* {padding:0px; margin:0px;}
html {height:100%;}
body {height:100%; font-family:KoPubDotumMedium; background-color: #ffffff; color: #343434;  }
img { border:0px;}

div, span, p { font-family: inherit;}
label { cursor: pointer; padding-left: 5px; vertical-align: middle;}
h1, h2, h3, h4, th {font-weight: normal; }

.tc { text-align: center;}
.tr { text-align: right;}
.lineBottom { border-bottom: 1px solid #d0d0d0;}
/* TOP */
.topBox { background:url('../img/topBG.png'); height:60px; position: relative;}
.topBox > div { float:left; height:60px; border-right: 1px solid #252b36; border-left: 1px solid #394e6b; color:#ffffff; font-size:1em; position: relative;}

.topBox .logoText { line-height: 60px; padding: 0px 20px 0px 30px; cursor:pointer;}
.topBox .logoText .textG { color:#ffffff; font-family:KoPubDotumBold; font-size: 30px; }
.topBox .logoText .textTOP { color:#ffffff; font-family:KoPubDotumLight; font-size: 30px; }
.topBox .logoText .textUPDATE { color:#a7bcd9; font-size: 18px; }
.topBox .overBtn { display:inline-block; background:url('../img/menuOver.png') no-repeat; width:21px; height:18px; vertical-align: text-bottom; margin-left: 20px; }
.topBox .menuBtn { line-height: 60px; padding:0px 30px; cursor: pointer;text-shadow:0 0 5px #000000; }
.topBox .menuBtn:hover {background:url('../img/topBGOver.png');}
.topBox .menuBtn.check {background-color: #f3f3f3; color:#2d405a; text-shadow:none; cursor: default; }
.topBox .menuBtn.check:hover {background: #f3f3f3; }
.topBox .teamBtn dl {position: absolute; top:60px; left:-2px; background-color: #2f3e54; display: none; width:100%;}
.topBox .teamBtn dd { border-top:1px solid #4a6a9b; padding:0px 25px !important; line-height: 45px; color:#a7bcd9; font-size:.9em; text-shadow:0 0 5px #000000; cursor: pointer;}
.topBox .teamBtn dd:hover { color:#ffffff; background-color: #1e242d;}
.topBox .teamBtn dd em { display: inline-block; width:30px; height:30px; vertical-align: middle; margin-right: 20px;}
.topBox ul { float: right; list-style: none; margin-top:20px; margin-right:20px;}
.topBox li { display: inline-block; padding: 0px 10px; font-family:KoPubDotumLight; font-size: .8em; color:#ffffff; line-height: 40px; height: 40px; text-shadow:0 0 3px #000000; vertical-align: top;}
.topBox li:hover { background-color: #4a6a9b; cursor: pointer;}
.topBox li em { display: inline-block; width:18px; height:18px; vertical-align: text-bottom; margin-right: 6px;}
.topBox li .iconNew {background:url('../img/iconWrite.png') no-repeat center center; }
.topBox li .iconConfig {background:url('../img/iconConfig.png') no-repeat center center; }
.topBox li .iconLogout {background:url('../img/iconLogout.png') no-repeat center center; }

@media (max-width: 1060px) {
  .topBox ul li span {
    display: none;
  }
  .topBox ul li em {
    margin-top:10px;
    margin-right: 0px;2
  }
}
@media (max-width: 900px) {
  .textUPDATE, .welcomeMessage {
    display: none !important;
  }
}
.otherSystem { position: absolute; top:60px; left:-1px; width:352px; background-color: #2f3e54; display: none;}
.otherSystem dd { border-top:1px solid #4a6a9b; padding-left:80px; color:#a7bcd9; font-size:1em; text-shadow:0 0 5px #000000; cursor: pointer;}
.otherSystem dd:hover { color:#ffffff; background-color: #1e242d;}
.otherSystem dd em { display: inline-block; width:30px; height:30px; vertical-align: middle; margin-right: 20px;}
.otherSystem .system1 { border-bottom:1px solid #14181c;}
.otherSystem .system1 em { background:url('../img/iconOther1.png') no-repeat center center; }
.otherSystem .system2 { border-top:1px solid #4a6a9b;}
.otherSystem .system2 em { background:url('../img/iconOther2.png') no-repeat center center; }


/* main top */
.mainTopBox { background-color: #f3f3f3; padding:10px; font-size:.8em; color:#666666; overflow: hidden; border-bottom: 1px solid #d0d0d0; margin-bottom: 30px;}

.mainTopBox .mainLeft { float:left; margin-left: 20px;}
.mainTopBox .mainLeft ul { padding:7px 0px; width: 385px;}
.mainTopBox .mainLeft li { display: inline-block; min-width: 70px;}
.mainTopBox .searchBox { width: 385px; height: 35px; border:1px solid #b4b4b4; background-color: #ffffff;}
.mainTopBox .searchBox input[type='text'] { height: 35px; width: 330px; padding:0px 10px; font-size: 14px; border:none; vertical-align: middle;}
.mainTopBox .searchBox input[type='img'] { display: inline-block; width: 35px; height: 35px; border:none; background:url('../img/BtnSearch.png') no-repeat center center; vertical-align: middle; cursor: pointer;} 

.mainTopBox .mainRight { float:right; padding-left: 30px; border-left: 1px solid #d0d0d0; max-width: 470px;}
.mainTopBox .mainRight ul { padding-right:10px; }
.mainTopBox .mainRight li { display: inline-block; min-width: 220px; line-height: 24px;}
.mainTopBox .mainRight li em { padding: 3px; border-radius: 2px; font-style: normal; color: #ffffff; margin-right: 10px;}

.indexStanby { background-color: #2ea200; color: #ffffff; text-align:center;}
.indexReturn { background-color: #824d36; color: #ffffff; text-align:center;}
.indexIng { background-color: #0099fa; color: #ffffff; text-align:center;}
.indexCancel { background-color: #6a6a6a; color: #ffffff; text-align:center;}
.indexWarning { background-color: #fa6a00; color: #ffffff; text-align:center;}
.indexFinish { background-color: #000000; color: #ffffff; text-align:center;}
.indexOver { background-color: #ce0000; color: #ffffff; text-align:center;}
.indexToday { background-color: #f8faca; color: #000000 !important; text-align:center;}


/* main */
.content { padding:0px 30px;}

/* LIST */
.listTop { overflow: hidden; padding-bottom: 15px;}
.listTop:after { clear: both;}
.listTop h1 { font-size: 1.6em; font-family: 'KoPubDotumLight'; float:left; }
.listTop dl { float: right;}
.listTop dt, dd {display: inline-block; vertical-align: middle;}
.listTop dd { padding: 7px; border:1px solid #dfdfdf; font-size:.7em; cursor: pointer;}
.listTop dd:hover { border-color:#888888; font-family: 'KoPubDotumBold';}
.listTop dd:active { background-color: #888888; color:#ffffff;}
.listTop dd.selected { background-color: #666666; color:#ffffff;}

.content table { table-layout: fixed; width: 100%; border:none; border-spacing:0px;}
.content table thead th { font-size:.9em; color:#ffffff; background-color:#4a6a9b; padding: 12px 3px; border-left:1px solid #d0d0d0; }
.content table thead th:first-child { border-left:0px;}
.content table tbody tr:nth-child(even) { background-color:#f3f3f3;}
.content table tbody td { font-size:.8em; padding: 5px 7px; border-left:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;}
.content table tbody td:first-child { border-left:0px;}

.detailSchedule { background-color: #a1bfe4; border:0px; cursor: pointer; }
.detailSchedule:hover { background-color: #3e77bd;}
.detailSchedule span { display: inline-block; border-left: 1px solid #a1bfe4; vertical-align: middle; color:#ffffff; width:75px; font-size:1.2em; text-shadow:0 0 3px #000000;}
.detailSchedule em { display: inline-block; vertical-align: middle; width: 30px; height: 30px; background:url('../img/btnDetailList.png') no-repeat center center #3e77bd }
.detailView { background-color: #a1d6de; border:0px; cursor: pointer;}
.detailView:hover { background-color: #3eadbd;}
.detailView span { display: inline-block; border-left: 1px solid #a1d6de; vertical-align: middle; color:#ffffff; width:75px; font-size:1.2em; text-shadow:0 0 3px #000000;}
.detailView em { display: inline-block; vertical-align: middle; width: 30px; height: 30px; background:url('../img/btnDetailView.png') no-repeat center center #3eadbd }




/* page */
.pagenation { margin-top: 30px; text-align: center; }
.pagenation span { display: inline-block; font-size:.7em; width:20px; height:20px; line-height: 20px; border:1px solid #d0d0d0; background-color: #efefef; cursor: pointer;}
.pagenation span:hover { background-color: #ffffff !important; color:#000000 !important;}
.pagenation span:active { background-color: #d0d0d0 !important; color:#000000 !important;}
.pagenation span.check { background-color: #4a6a9b; border-color: #1e242d; color:#ffffff;}

.pagenation span.first { background-color: #c3c3c3;}
.pagenation span.previous { background-color: #e3e3e3; margin-right: 20px;}
.pagenation span.last { background-color: #c3c3c3;}
.pagenation span.next { background-color: #e3e3e3; margin-left: 20px;}


