@charset "UTF-8";

#jqContextMenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#jqContextMenu ul,
#jqContextMenu ul li,
#jqContextMenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#jqContextMenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#jqContextMenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  border-bottom:solid 1px #dcdcdc;
}
#jqContextMenu ul li.hover,
#jqContextMenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#jqContextMenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
  
}
#jqContextMenu ul ul li {
  float: none;
}
#jqContextMenu ul ul ul {
  top: -2px;
  right: 0;
}
#jqContextMenu ul li:hover > ul {
  visibility: visible;
}
#jqContextMenu ul ul {
  top: 0;
  left: 100%;
  border-left:solid 1px #979797;
  border-right:solid 1px #979797;
  background:#d6dfe8;
}
#jqContextMenu ul li {
  float: none;
}
#jqContextMenu ul ul {
  margin-top: 1px;
  background:#f3f3f3;
}
#jqContextMenu ul ul li {
  font-weight: normal;
  background:#f3f3f3;
}
/* Custom CSS Styles */
#jqContextMenu {
  width: 200px;
  background: #f3f3f3;
  zoom: 1;
  font-size: 12px;
  border:solid 1px #979797;
}
#jqContextMenu:before {
  content: '';
  display: block;
}
#jqContextMenu:after {
  content: '';
  display: table;
  clear: both;
}
#jqContextMenu a {
  display: block;
  padding: 7px 8px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
#jqContextMenu > ul {
  width: 200px;
}
#jqContextMenu ul ul {
  width: 200px;
}
#jqContextMenu > ul > li > a {
  border-right: none;
  color: #303030;
}
#jqContextMenu > ul > li > a:hover {
  color: #303030;
}
#jqContextMenu > ul > li.active a {
  background: #d6dfe8;
  color:#303030;
  border-top:solid 1px #979797;
  border-bottom:solid 1px #979797;
  margin:-1px 0;
}
#jqContextMenu > ul > li a:hover,
#jqContextMenu > ul > li:hover a {
  background: #d6dfe8;
  color:#303030;
  border-top:solid 1px #979797;
  border-bottom:solid 1px #979797;
  margin:-1px 0;
}
#jqContextMenu li {
  position: relative;
}
#jqContextMenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#jqContextMenu ul ul li.first {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
#jqContextMenu ul ul li.last {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  border-bottom: 0;
}
#jqContextMenu ul ul {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
#jqContextMenu ul ul {
}
#jqContextMenu ul ul a {
  font-size: 12px;
  color: #303030;
  background:#f3f3f3;
}
#jqContextMenu ul ul a:hover {
  color: #303030;
}
#jqContextMenu ul ul li {
  border-bottom: 1px solid #405364;
  background:#f3f3f3;
}
#jqContextMenu ul ul li:hover > a {
  background: #95a8bc;
  color: #fff;
}
#jqContextMenu.align-right > ul > li > a {
  border-left: none;
  border-right: none;
}
#jqContextMenu.align-right {
  float: right;
}
#jqContextMenu.align-right li {
  text-align: right;
}
#jqContextMenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -8px;
}
#jqContextMenu.align-right ul li.has-sub > a:after {
  content: none;
}
#jqContextMenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#jqContextMenu.align-right ul ul li.first {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
#jqContextMenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
#jqContextMenu.align-right ul ul {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
