@charset "utf-8";
/* CSS Document */

 
@import "/css/common/reset.css?ver=20200701";
@import "/css/common/layout.css?ver=20211112";

/* =base   ---------------------------------------------------------------------------------------------------------------*/ 
.blind {display:block; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; border:0; background:0; font-size:0; line-height:0}

.panelTitle {background:#6e757f; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; padding: .85em .5em .85em .7em;
  position: relative; font-weight:bold;  border-left: solid 1px #4f5459;  border-right: solid 1px #4f5459;  border-top: solid 1px #4f5459; color:#fff;}
span.required {color:#ee3837; margin-right:5px;}

/* =common_input class */ 
input.inptext {height:20px; line-height:20px; text-indent:4px; -webkit-appearance:none; color:#333; border-top:1px solid #8b8b8b;
	border-left:1px solid #8b8b8b;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;}
textarea.inptext {line-height:20px; text-indent:4px; -webkit-appearance:none; border-top:1px solid #8b8b8b;
	border-left:1px solid #8b8b8b;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;}

.inptext.ar {padding-right:5px;} 
input.inputActive {border:solid 1px #5aa409;}

input.required {background:#fef9cb;}
input.disabled {background:#ececec; color:#000!important;}
button.required {background:#fef9cb !important;}
button.disabled {background:#ececec!important; color:#000!important;}

select.required {background:#fef9cb; border-top:1px solid #8b8b8b;
	border-left:1px solid #8b8b8b;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;}

.inputRadio, .inputCheck, .inputCheckbox {width:13px; height:13px; overflow:hidden; padding:0 !important; margin:4px 1px!important; line-height:22px;}
.labelRadio {margin-right:10px!important; padding-right:0!important; width:auto!important; height:auto!important; }

.output {color:#333; background:#efefef; border-top:1px solid #8b8b8b; border-left:1px solid #8b8b8b; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; width:100px; height:20px; line-height:20px; text-indent:4px; margin-left:-2px; letter-spacing:-1px;}


.clear {clear:both; float:none;}
.al {text-align:left !important}
.ar {text-align:right}
.ac {text-align:center !important}
.fl {float:left !important}
.fr {float:right !important}
.vt {vertical-align:top}
.vm {vertical-align:middle}

.marB10 {margin-bottom:10px !important;}
.search.marB10 {margin-bottom:10px !important;}
/* =common_FontColor class */ 
.blue {color:#2a54a9!important;}
.red {color:#f40c17!important;}


/* =login   ---------------------------------------------------------------------------------------------------------------*/ 
#loginWrap {width:100%; min-width:1000px; margin:0 auto; text-align:center; }
#loginWrap  .logo {background:url(/img/login/imgLogin.png) center bottom no-repeat; height:295px; width:100%; }
#loginWrap  .loginFromWrap {background:#fff; height:230px;  text-align:center; width:100%;}

#loginWrap  .loginFromWrap .loginFrom {width:390px; margin:0 auto; text-align:left; position:relative;}
#loginWrap  .loginFromWrap .loginFrom .title {padding-left:60px; padding:30px 0 20px 80px;}

#loginWrap  .loginFromWrap dl {overflow:hidden; padding-bottom:5px;}
#loginWrap  .loginFromWrap dl dt {float:left; width:80px; height:28px; line-height:33px; font-weight:bold; color:#696b6f;}
#loginWrap  .loginFromWrap dl dd {float:left;}
#loginWrap  .loginFromWrap dl dd input.inp {float:left; height:28px; line-height:28px; border:solid 1px #c6c6c6; text-indent:5px; width:218px; background:#f5f5f5;}

#loginWrap  .loginFromWrap .btnLogin {background:#ee3837;  border:solid 1px #c90000;  border-radius:0px; text-align:center;  color:#fff; cursor:pointer;  width:84px; height:65px; line-height:normal; position:absolute; right:0; top:76px; font-weight:bold;}

#loginWrap  .loginFromWrap .pwSearch {padding-left:80px; padding-top:15px;}
#loginWrap  .loginFromWrap .pwSearch a {color:#ee3837; font-weight:bold; text-decoration:underline;}

#loginWrap  address {padding:20px 0; color:#405365;}



/* =센터별작업정책   ---------------------------------------------------------------------------------------------------------------*/ 
.enterWrap {position:relative; background:url(/img/content/enterWrap_bg.gif) left top no-repeat; width:775px; height:520px; margin:0 auto}
.enterWrap p {clear:both; float: none; width:100px; padding:6px 0;  text-align:center; margin-bottom:18px;}
.enterWrap .stepCol_01 {position:absolute; left:0; top:25px;}
.enterWrap .stepCol_02 {position:absolute; left:112px; top:233px;}
.enterWrap .stepCol_03 {position:absolute; left:244px; top:25px;}
.enterWrap .stepCol_03 p {width:120px;}
.enterWrap .stepCol_04 {position:absolute; left:427px; top:125px;}
.enterWrap .stepCol_04 p {width:120px;}
.enterWrap .stepCol_05 {position:absolute; right:0; top:171px;}

.releaseWrap {position:relative; background:url(/img/content/releaseWrap_bg.gif) left top no-repeat;  width:775px; height:450px; margin:0 auto}
.releaseWrap p {clear:both; float: none; width:100px; padding:6px 0;  text-align:center; margin-bottom:18px;}
.releaseWrap .stepCol_01 {position:absolute; left:0; top:20px;}
.releaseWrap .stepCol_02 {position:absolute; left:112px; top:246px;}
.releaseWrap .stepCol_03 {position:absolute; left:244px; top:20px;}
.releaseWrap .stepCol_03 p {width:120px;}
.releaseWrap .stepCol_04 {position:absolute; left:486px; top:68px;}
.releaseWrap .stepCol_04 p {width:120px;}
.releaseWrap .stepCol_05 {position:absolute; right:0; top:174px;}

.intervalWrap {position:relative; background:url(/img/content/intervalWrap_bg.gif)left top no-repeat;  width:775px; height:320px; margin:0 auto}
.intervalWrap p {clear:both; float: none; width:120px; padding:6px 0;  text-align:center; margin-bottom:18px;}
.intervalWrap .stepCol_01 {position:absolute; left:112px; top:20px;}
.intervalWrap .stepCol_02 {position:absolute; left:112px; top:246px;}
.intervalWrap .stepCol_03 {position:absolute; left:244px; top:20px;}
.intervalWrap .stepCol_03 p {width:120px;}
.intervalWrap .stepCol_04 {position:absolute; left:486px; top:68px;}
.intervalWrap .stepCol_04 p {width:120px;}
.intervalWrap .stepCol_05 {position:absolute; right:0; top:180px;}

.inventoryWrap {position:relative; background:url(/img/content/inventoryWrap_bg.gif) left top no-repeat;  width:775px; height:320px; margin:0 auto}
.inventoryWrap p {clear:both; float: none; width:120px; padding:6px 0;  text-align:center; margin-bottom:18px;}
.inventoryWrap .stepCol_01 {position:absolute; left:0; top:84px;}
.inventoryWrap .stepCol_02 {position:absolute; left:112px; top:246px;}
.inventoryWrap .stepCol_03 {position:absolute; left:244px; top:20px;}
.inventoryWrap .stepCol_03 p {width:120px;}
.inventoryWrap .stepCol_04 {position:absolute; left:486px; top:68px;}
.inventoryWrap .stepCol_04 p {width:120px;}
.inventoryWrap .stepCol_05 {position:absolute; right:0; top:180px;}

.accountWrap {position:relative; background:url(/img/content/accountWrap_bg.gif) left top no-repeat;  width:775px; height:400px; margin:0 auto}
.accountWrap p {clear:both; float: none; width:120px; padding:6px 0;  text-align:center; margin-bottom:18px;}
.accountWrap .stepCol_01 {position:absolute; left:0; top:72px;}
.accountWrap .stepCol_02 {position:absolute; left:112px; top:246px;}
.accountWrap .stepCol_03 {position:absolute; left:244px; top:20px;}
.accountWrap .stepCol_03 p {width:120px;}
.accountWrap .stepCol_04 {position:absolute; left:486px; top:68px;}
.accountWrap .stepCol_04 p {width:120px;}
.accountWrap .stepCol_05 {position:absolute; right:0; top:180px;}

.legendRequired {background:#d3fdcd; border:solid 1px #303030; color:#000;  margin-bottom:3px; margin-top:5px;}
.legendSelected {background:#ffe5b5; border:solid 1px #303030; color:#000;   margin-bottom:3px;}
.legendEtc {background:#c2c2c0; border-top:solid 1px #f0f0f0; border-left:solid 1px #f0f0f0; border-right:solid 1px #696969; -webkit-box-shadow: inset 1px 1px 1px #d2d2d2;  border-bottom:solid 1px #696969;  -moz-box-shadow: inset 1px 1px 1px #d2d2d2; color:#202020;   margin-bottom:3px;} 
.legendOff {background:#fecce5; border:solid 1px #303030; color:#000;   margin-bottom:3px; }



.legendSelect {border-top:solid 1px #f0f0f0; border-left:solid 1px #f0f0f0; border-right:solid 2px #696969;border-bottom:solid 2px #696969;  box-shadow: inset 1px 2px 1px #d2d2d2;   -webkit-box-shadow: inset 1px 2px 1px #d2d2d2;   -moz-box-shadow: inset 1px 2px 1px #d2d2d2;   }

.legendInfo {text-align:left !important; position:absolute; top:0; right:0; border:solid 1px #000; padding:10px;}
.legendInfo p {padding:0; margin:0; text-align:left !important; }
.legendInfo p * {vertical-align:middle;}
.legendInfo span {width:12px; height:12px; display:inline-block; }

.al {text-align:left !important; }
.wid120 {width:120px; !important}
.wid90 {width:90px !important;}
.marB10 {margin-bottom:10px;}
