.imgTableCss {
    background-position:center;
    cursor:pointer;
    no-repeat:fixed;
    background-size:100% 100%;
    border-top:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-left:1px solid #ABABAB;
}
.divImgCss {
    font-size:15px;
    background-color:#E4F7BA;
    margin-right: 0%;
    margin-left: 0%;
    
    
}
.divHeaderCss {
    background-color:#FFFFFF;
    width:100%;
    margin-top:-10px;
}
div.leftA {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
div.rightA {
    width: 50%;
    float: right;
    box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 80%;
  max-width: 1500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 70px;
  right: 59px;
  color: #f1f1f1;
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 900px){
  .modal-content {
    width: 100%;
  }
}