<style>
	#tabulator-col > .tabulator-col .tabulator-row-header{
		height: 60px;
	}
    .tabulator-header-contents .tabulator-col-content {
         background-color: #d5dce6;
         border: solid white 0.5px;
    }

	/* 필수 입력 컬럼 배경색을 연핑크로 설정하는 CSS 클래스 */
	.required-field {
		background-color: #ffc0cb; /* 연핑크 */
	}
	.no-required-field {
		background-color: #ffee8f; /* 연노랑 */
	}
</style>
<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "120px"/>
				<col width = "50%"/>
				<col width = "120px"/>
				<col width = "40%"/>
				<col width = "120px"/>
				<col width = "40%"/>
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus();"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus();"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th ><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('일자')</th>
					
					<td>
						<input type="text" class="text vrSrchReqDtFrom"	id="vrSrchReqDtFrom" style="width: 34%" name="vrSrchReqDtFrom" maxlength="10"
							onkeydown="cfn_setDateFld(this)" onChange="cfn_onChangeDateFld(this)"/>
						 ~ 
						<input type="text" class="text vrSrchReqDtTo"id="vrSrchReqDtTo" style="width: 34%" name="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(this)" 
							onChange="cfn_onChangeDateFld(this)"/>
					</td>
					
					#if($SS_SVC_NO != "0000002940") 
					<th>$!lang.getText('등록상태')</th>
					<td>$!comCode.getComboComCode("STS02", "vrOrdRegisterType", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style=''")</td>
					#end
					
					#if($SS_SVC_NO == "0000002940") <!-- KCC홈씨씨 물류센터일 경우  -->
					<td>
					<select name="vrOrdRegisterType_kcc" id="vrOrdRegisterType_kcc" class="selectbox">
						<option value="">전체</option>
						<option value="N">미등록</option>
						<option value="100">주문등록</option>
						<option value="500">로케이션 지정</option>
						<option value="990">입고완료</option>
					</select>
					</td>
					#end
					
					<td></td>
					<th class="btnSearch" rowspan="3">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				<tr>	
					<th class="thBar">$!lang.getText('거래처')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchPtnrCd" id="vrSrchPtnrCd" onChange="txtSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchPtnrPop" id="btnSrchPtnrPop" onClick='fn_Popup("PARTNER");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchPtnrNm" id="vrSrchPtnrNm" onChange="txtSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchPtnrId" id="vrSrchPtnrId" onChange="">
					</td>
				
					<th>주문상세</th>
					<td>$!comCode.getComboComCode("WORK01", "vrOrdSubtype", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style=''")</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 45%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 45%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId"> 
					</td>
					<td>
				</tr>
				
				<tr>
					<th>$!lang.getText('출고의뢰번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
					</td>
					
					<th>$!lang.getText('고객사주문번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchLegOrdId" id="vrSrchLegOrdId"  onChange="fn_onChangeVrSrchLegOrdId()">
					</td>
					<th>$!lang.getText('(본)주문확정여부')</th>
					<td>
						<select name="vrWmsLinkYn" id="vrWmsLinkYn" class="selectbox">
							<option value="">전체</option>
							<option value="N">N</option>
							<option value="Y">Y</option>
						</select>
					</td>
				</tr>
				
				
            </tbody>
        </table>
		<div id = "formDataE6" style = "visibility : hidden; width : 0 ; height : 0"></div>
		<input type="hidden" id="vrCalDlvDt" style="width: 34%" name="vrCalDlvDt"/>
	</form>

	<div class="btnArea">
	    <div class="btnAreaLeft">
	    	<div>
		    	<span>검색된 결과개수 : </span>
		    	<span id='srchCount' name='srchCount'></span>
		    	<span> 개</span>
		    </div>
	    </div>
	    <div class="btnAreaRight">
<!-- 	    	 <div> -->
<!-- 		        <label for="dropdown">출고생성 구분</label> -->
<!-- 	            <select name="autolabelerType"> -->
<!-- 					<option value="cust" selected>거래처</option> -->
<!-- 					<option value="orgOrdNo">원주문번호</option> -->
<!-- 				</select> -->
<!-- 		    </div> -->
<!-- 			<div class="content selected-display" style=" display: flex; align-items: center; gap: 10px; " > -->
<!-- 				<span class="col-1">출고생성 구분</span> -->
<!-- 				<div class="col-2">:</div> -->
<!-- 				<div class="col-3" style="justify-content: space-between;"> -->
<!-- 					<select name="autolabelerType"> -->
<!-- 							<option value="cust" selected>거래처</option> -->
<!-- 							<option value="orgOrdNo">원주문번호</option> -->
<!-- 						</select> -->
<!-- 				</div> -->
<!-- 			</div> -->
	    	<input type="button" class="INS_AUTH UPD_AUTH btnEtc" id="add-row" name="btn_write" value="$!lang.getText('행추가')" role="button" aria-disabled="false"/> 
			<input type="button" class="INS_AUTH UPD_AUTH btnEtc" id="del-row" name="btn_write" value="$!lang.getText('행삭제')" role="button" aria-disabled="false"/>  
<!-- 	    	<input type="button" class="INS_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('저장')"		onClick="fn_saveOutOrder();"	role="button" aria-disabled="false"/> -->
	    	<input type="button" class="INS_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('저장')"		onClick="fn_openWmsSendModal();"	role="button" aria-disabled="false"/>
	    	<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()"	role="button" aria-disabled="false"/>
	    	
	    	<!-- 
	    	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('주문확정')"		onClick="fn_ordConfirm();"	role="button" aria-disabled="false"/>
			<input type="hidden" id="btn_on_off" name="btn_on_off" value="off"></input>
			 -->
	    </div>
	</div>
	
</div>
	<div id="divPanel_SpdList" style="padding-top:30px;">
		<div id="spdList" style="height:650px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none">
	</div>
<script>
const reqFields = ["ORD_TYPE", "ORD_SUBTYPE", "ITEM_CD", "OUT_WORK_ORD_QTY", "OUT_WORK_UOM_CD", "TRANS_CUST_CD", "OUT_REQ_DT"];
// 현재 선택된 셀을 추적하는 변수
let selectedCell = null;
let nextRow = null;
const outOrderRegTable = new Tabulator("#spdList", {
// 	layout:"fitDataTable",
//     placeholder:"No Data Set",  
    height:"65vh",
    index: "RNUM",
    //enable range selection
    selectableRange:1,
    selectableRangeColumns:true,
    selectableRangeRows:true,
    selectableRangeClearCells:true,

    //change edit trigger mode to make cell navigation smoother
    editTriggerEvent:"dblclick",

    //configure clipboard to allow copy and paste of range format data
    clipboard:true,
    clipboardCopyStyled:false,
    clipboardCopyConfig:{
        rowHeaders:false,
        columnHeaders:false,
    },
//     clipboardCopyFormatter: function(type, data) {
//         if (type === "cell") {
//             return data === undefined || data === null || data.trim() === "" ? "" : data;
//         }
//         return data;
//     },
    clipboardCopyRowRange:"range", 
    clipboardPasteParser:"range",
    columnDefaults:{
        headerSort:false,
        headerHozAlign:"center",
        resizable:"header",
        width:100,
        cellClick: function(e, cell) {
            // 셀 클릭 시 선택된 셀을 추적
            selectedCell = cell;
        },
        formatter: requiredColorFormatter // 기본 포매터로 설정하여 모든 셀에 적용
    },
    clipboardPasteAction: handlePaste,
    columns:[ 
    	{
    		title: `<input type='checkbox' id='header-check' />`, 
            field: "CHK", 
            formatter: checkboxFormatter, 
            editor: checkboxEditor
        },
    	{title:"RNUM", field:"RNUM", sorter:"number", hozAlign:"center", width:130},
    	{title:"등록상태", field:"CRUD_STAT", sorter:"string", hozAlign:"center", width:130},
    	{
    		title:"화주명", field:"CUST_ID", 
    		editor:"list", 
    		editorParams:{ 
    			autocomplete:"true",
    			values: custEditParams,
    			itemFormatter:function(label, value, item, element){
    		        return "<strong>" + label + " </strong><br/><div>" + value + "</div>";
    		    },
    		    listOnEmpty:true, 
//     		    valuesLookup:true
    		},
    		formatter: createListFormatter(custEditParams, true),
    		sorter:"string", hozAlign:"center", width:130
    	},
    	{title:"출고번호", field:"ORD_ID", editor:"input", sorter:"string", hozAlign:"center", width:130},
    	{title:"원주문번호", field:"ORG_ORD_ID", editor:"input", sorter:"string", hozAlign:"center", width:130},
    	{title:"주문타입", field:"ORD_TYPE", 
    		editor:"list", 
    		editorParams:{ 
    			autocomplete:"true",
    			values:{"02":"출고"},
    			defaultValue:"02", 
    			itemFormatter:function(label, value, item, element){
    		        return "<strong>" + label + " </strong><br/><div>" + value + "</div>";
    		    },
    		    listOnEmpty:true, 
//     		    valuesLookup:true
    		},
    		formatter: function (cell, formatterParams, onRendered) {
                cell.getElement().classList.add("required-field");
                var value = cell.getValue();
                var values = { "02": "출고"};
                return values[value] || value;
            },
    		sorter:"string", 
    		hozAlign:"center", 
    		width:130,
    		validator:["required"]
    	},
    	{
    		title:"주문상세타입", field:"ORD_SUBTYPE", 
    		editor:"list", 
    		editorParams:{ 
    			autocomplete:"true",
    			values:{"30":"정상출고", "134":"이동출고"},
    			defaultValue:"30", 
    			itemFormatter:function(label, value, item, element){
    		        return "<strong>" + label + " </strong><br/><div>" + value + "</div>";
    		    },
    		    listOnEmpty:true, 
    		},
    		formatter: function (cell, formatterParams, onRendered) {
                cell.getElement().classList.add("required-field");
                var value = cell.getValue();
                var values = {"30":"정상출고", "134":"이동출고"}
                return values[value] || value;
            },
    		sorter:"string", hozAlign:"center", width:130,
    		validator:["required"]
    	},
    	{
    		title:"거래처코드", field:"TRANS_CUST_CD",
    		editor:"input",
//     		editor:"list", 
//     		editorParams:{ 
//     			autocomplete:"true",
//     			values:transCustEditParams,
//     			itemFormatter:function(label, value, item, element){
//     		        return "<strong>" + label + " </strong><br/><div>" + value + "</div>";
//     		    }, 
//     		    listOnEmpty:true, 
//     		},
    		sorter:"string", hozAlign:"center", width:130,
    		validator:["required"]
    	},
    	{title:"거래처명", field:"TRANS_CUST_NM", editor:"input", sorter:"string", hozAlign:"center", width:130},
    	{title:"WINUS 품목코드", field:"RITEM_ID", editor:"input", sorter:"string", hozAlign:"center", width:130},
    	{title:"품목코드", field:"ITEM_CD", editor:"input", sorter:"string", hozAlign:"center", validator:["required"]},
    	{title:"품목명", field:"ITEM_NM", sorter:"string", hozAlign:"left", width:150},
    	{title:"주문수량", 
    		field:"OUT_WORK_ORD_QTY", 
    		editor:"number", min:0,
    		hozAlign:"left", validator:["integer","required"]},
    	{title:"UOM_ID", field:"OUT_WORK_UOM_ID", sorter:"string", hozAlign:"left", width:150, visible:false},
    	{title:"UOM", field:"OUT_WORK_UOM_CD", 
    		editor:"input", 
//     		editor:"list",
//     		editorParams:{ 
//     			autocomplete:"true",
//     			values: uomList,
//     		    listOnEmpty:true
//     		},
//     		formatter: createListFormatter(uomList ,true),
//     		hozAlign:"left", width:150
    	},
//     	{title:"환산수량", 
//     		field:"OUT_WORK_ORD_QTY", 
//     		editor:"number", min:0,
//     		hozAlign:"left", validator:["integer","required"]
//     	},
    	{title:"유통기한", field:"ITEM_BEST_DATE", width:150,  editor:"input"},
    	{
    		title:"주문일자", 
    		field: "OUT_REQ_DT",
    		editor: "input", 
    		hozAlign:"left", width:150
    	},
    	{title:"단가", field:"UNIT_AMT", sorter:"string", hozAlign:"left", width:150},
    	{title:"공급가", field:"AMT", sorter:"string", hozAlign:"left", width:150},
    	{title:"부가세", field:"ADD_AMT", sorter:"string", hozAlign:"left", width:150},
//     	{title:"합계", field:"ITEM_NM11", sorter:"string", hozAlign:"left", width:150},
    ], 
});

//edit list 포매팅 함수
function createListFormatter(values, required = false) {
    return function(cell, formatterParams, onRendered) {
    	if(required){
    		cell.getElement().classList.add("required-field");
    	}else{
    		cell.getElement().classList.add("no-required-field")
    	}
        var value = cell.getValue();
        var item = values.find(item => item.value === value);
        return item ? item.label : value;
    };
}

//고유 인덱스를 위한 함수
function addUniqueIndex(data) {
    return data.map((row, index) => {
        row._index = index; // 고유 인덱스를 추가합니다.
        return row;
    });
}

//필수 입력 컬럼의 배경색을 설정하는 커스텀 셀 포매터 함수
function requiredColorFormatter(cell, formatterParams, onRendered) {
    if (reqFields.includes(cell.getField())) {
        cell.getElement().classList.add("required-field");
    }else{
    	cell.getElement().classList.add("no-required-field");
    }
    return cell.getValue();
}


// 헤더 체크박스 클릭 이벤트 핸들러
function headerCheckboxClick(e){ 
    var isChecked = e.target.checked;
    var rows = outOrderRegTable.getRows();
    rows.forEach(function(row){
        var rowData = row.getData();
        rowData.CHK = isChecked;
        row.update(rowData);
    });
}


// 체크박스 포맷터
function checkboxFormatter(cell, formatterParams, onRendered){
	var div = document.createElement("div");
    div.style.textAlign = "center"; // text-align: center 적용

	let input = document.createElement("input");
    input.setAttribute("type", "checkbox");
    input.checked = cell.getValue();

    input.addEventListener("change", function() {
        cell.setValue(input.checked);
    });
    div.appendChild(input);
    return div;
}

// 체크박스 에디터
function checkboxEditor(cell, onRendered, success, cancel){
    var cellValue = cell.getValue();
    console.log(cellValue, "cellValue")
    var checkbox = document.createElement("input");
    checkbox.setAttribute("type", "checkbox");
    checkbox.checked = cellValue;
    
    checkbox.addEventListener("change", function(){
        success(checkbox.checked);
    });

    return checkbox;
}

function fn_search(){
	const param = {
			CUST_ID: jQuery("#vrSrchCustIdE07").val(),
			}
	jQuery.ajax({
		url: "/WMSOM/selectDayProductDivList.action",
		type: 'GET',
		data: jQuery.param(param),
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'json',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			if(data?.errCnt == "1"){
				alert(data.MSG);
				return;
			}
// 			const itemList = data?.LIST.map(setItemRegYn)
// 			outOrderRegTable.setData(itemList);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}

//주문 발리데이션 체크(거래처, 상품, 중복주문번호)
function fn_orderListCheck(orderList = []){
	const searchParam = jQuery('form[name="frm_list"]').serializeObject();
	const param = {
			 ...searchParam,
			 orderList: [...orderList]
			 };
	jQuery.ajax({
		url: "/WMSOM/outOrderCheck.action", //주소
		data: JSON.stringify(param), //전송 데이터
		type: "POST", //전송 타입
		dataType: "JSON", //응답받을 데이터 타입 (XML,JSON,TEXT,HTML,JSONP)    			
		contentType: "application/json; charset=utf-8", //헤더의 Content-Type을 설정
		success: function(data) {
			const {model} = data;
// 			const itemList = model?.LIST.map(setItemRegYn);
// 			itemDivTable.setData(itemList);
// 			itemDivTable.selectRow();
		},
		error: function(xhr) {
			console.error("[requestPostBodyJson] : [error] : " + JSON.stringify(xhr));
			if(xhr.status == 404){	
				location.href=('/index.html');
			}				
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});	
}
function findUomId(rowData){
	const findUom = uomList.find(uom => uom.label === rowData.OUT_WORK_UOM_CD.toUpperCase());
	return findUom ? findUom.id : "";
}

function handlePaste(data) {
	const emptyReomveData = removeEmptyObjects(data);
   // 선택된 셀의 위치 가져오기
    const startRowIndex = selectedCell.getRow().getPosition();
 	// 모든 행 가져오기
    const allRows = outOrderRegTable.getRows();
	const addData = emptyReomveData.map(row => {
		const isNaNOrdQty = isNaN(row.OUT_WORK_ORD_QTY);
		const outOrdQty =  isNaNOrdQty ? row.OUT_WORK_ORD_QTY : Number(row.OUT_WORK_ORD_QTY);
		const addRow = {
				...row,
				CHK: true,
				CRUD_STAT: "C",
				CUST_ID: jQuery("#vrSrchCustCd").val(),
				ORD_TYPE: "02",
				ORD_SUBTYPE: "30",
				OUT_WORK_ORD_QTY: outOrdQty,
				OUT_WORK_UOM_ID: findUomId(row),
				OUT_REQ_DT: row.OUT_REQ_DT.trim()
			}
		return {...addRow};
	}); 
	
    // 데이터 붙여넣기
    addData.forEach((rowData, rowIndex) => {
        var targetRowIndex = startRowIndex + rowIndex;
        var targetRow = allRows[targetRowIndex - 1]; // 배열 인덱스는 0부터 시작하므로 1을 뺍니다
        
        if (targetRow) {
            targetRow.update(rowData);
        } else {
        	rowData.RNUM = targetRowIndex;
            // 기존 행이 없으면 새 행 추가
            outOrderRegTable.addRow(rowData);
        }
    });
    
    function removeEmptyObjects(arr) {
    	return arr.filter(obj => {
    		return Object.values(obj).some(value => value !== '');
    	});
    }
}





/*
 * 수신일자 설정 및 차수 설정팝업
 */
function fn_openWmsSendModal(){
	const selectedData = outOrderRegTable.getData().filter(order => order.CHK);
	const vrOutReqDtE1 = document.getElementById("vrOutReqDtE1");
	vrOutReqDtE1.value = document.forms['frm_list'].elements['vrSrchReqDtTo'].value;;
	
	const statusSpan = document.querySelector('#popOutOrderSync .order-count .col-3 span');
	statusSpan.textContent = selectedData.length+" 건";
	statusSpan.style.fontWeight = 'bold';
	fn_selectOutOrderDegree();
}

/**
 *  주문차수 불러온 후 팝업호출
 */
function fn_selectOutOrderDegree(){
	const searchParam = jQuery('form[name="frm_list"]').serializeObject();
	if(searchParam?.vrSrchCustId === ""){
		alert("$!lang.getText('화주를 선택해 주세요.')");
		fn_custPopup('E01');
		return; 
	}
	const param			= "vrCustId="+searchParam.vrSrchCustId+"&vrOrdDt="+searchParam.vrSrchReqDtTo;
	var url				= "/WMSOP640/getCustOrdDegree.action";
    jQuery.post(url, param, function(data){
        var data = data.DS_ORD_DEGREE;
        var cnt  = data.length;
        
        jQuery("#vrOrdDegreeE1 option").remove();
        if(cnt > 0){
            for (var i = 0; i < cnt+1; i++){
                if(i == cnt){
                    jQuery('#vrOrdDegreeE1').append("<option value='"+(Number(data[i-1].CODE)+1)+"'>"+(Number(data[i-1].CODE)+1)+" (신규예정)</option>");
                    jQuery('#vrOrdDegreeE1').val(Number(data[i-1].CODE)+1);
                }else{
                    jQuery('#vrOrdDegreeE1').append("<option value='"+data[i].CODE+"'>"+data[i].CODE+"</option>");
                }
            }
        }else{
            jQuery('#vrOrdDegreeE1').append("<option value='1'>1 (신규예정)</option>");
        }
        jQuery('#popOutOrderSync').bPopup({
	        zIndex: 999,
	        escClose: 0,
	        opacity: 0.6,
	        positionStyle: 'fixed',
	        transition: 'slideDown',
	        speed: 400
	    });
    }).fail(function(xhr, textStatus){
        if(xhr.status == 404){	
            location.href=('/index.html');
        }
    });
}


jQuery(document).ready(function(){
		
	jQuery("#add-row").click(function(){
		//테이블 상단쪽에 행 추가
		const defaultAddData = [
			{
				CHK: true,
				RNUM: outOrderRegTable.getData().length+1,
				CRUD_STAT: "C",
				CUST_ID: "K9767701",
				ORD_TYPE: "02",
				ORD_SUBTYPE: "30",
				OUT_WORK_UOM_CD: "EA",
				OUT_WORK_UOM_ID: findUomId({OUT_WORK_UOM_CD: "EA"}),
				TRANS_CUST_CD: jQuery("#vrSrchPtnrCd").val(),
				OUT_REQ_DT: jQuery("#vrSrchReqDtTo").val()
				}
		]; 
		outOrderRegTable.addData(defaultAddData, true)
		.catch(function(error) {
            console.error("Error adding row: ", error);
        });;
		
	});
	
	jQuery("#del-row").click(function(){
		const selectedrows = outOrderRegTable.getSelectedRows();
		const selectedIndexs = outOrderRegTable.getData()
												.map((row, index) => row.CHK ? row.RNUM : null)
		  										.filter(RNUM => RNUM !== null);
		outOrderRegTable.deleteRow(selectedIndexs);
	});
	outOrderRegTable.on("cellEdited", function(cell){
        const cellField = cell.getField();
        const cellValue = cell.getValue();
        const row = cell.getRow();
        
		
		//UOM 변경 이벤트
		if(cell.getField() === "OUT_WORK_UOM_CD"){
			row.update({OUT_WORK_UOM_ID: findUomId(row.getData())})
		}
		
	});	
	 
    jQuery("#header-check").click(headerCheckboxClick); 
    
 	// F12 키 눌렀을 때 선택된 셀 편집 모드 활성화
    document.addEventListener('keydown', function(event) {
        if (event.key === "F2") {
            event.preventDefault();
            if (selectedCell) {
                selectedCell.edit();
            } else {
                alert("먼저 셀을 선택하세요.");
            }
        }
    });
 	
//     outOrderRegTable.on("rangeAdded", function(range){
//     	console.log(range)
//     });

//     document.getElementById("header-check").addEventListener("click", headerCheckboxClick);

// 	outOrderRegTable.on("clipboardPasted", function(clipboard, rowData, rows){
// 		rowData.pop()
// 		fn_itemListCheck(rowData);		
// 	}); 
	
// 	outOrderRegTable.on("cellEdited", fn_itemRowCheck);
});
</script>
