#keyboadDiv #keyboardzone {
    /*width: 800px;*/
    margin-left: -20%;
    margin-top: -3%;
    width: 140%;
    height: 100%;
    position: relative;
    display: block;
    background: #bfbfbf;
}
#keyboadDiv #keyboardzone * {
    transition: all 0ms;
}
#keyboadDiv #keyboardzone table th {
    border: 1px solid #2f2f2f3d;
    display: table-cell;
    vertical-align: middle;
    background-color: #ffffff;
    transition: background-color 500ms;
    box-shadow: 0 0 10px 0px #ebebeb;
    border-radius: 7px;
}
#keyboadDiv #keyboardzone table th:active {
    background-color: #ffffff;
    transition: background-color 0ms;
}
