<div class="tabOn" id="E03">
<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
				<!--<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"  name="btn_write" onclick="fn_excelDown('E3');" role="button" aria-disabled="false"/> -->
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form name="frm_listE3">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "110px"/>
				<col width = "23%"/>
				<col width = "90px"/>
				<col width = "23%"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar">$!lang.getText('전송일자')</th>
					<td>		
						<input type="date" class = "text" style="width: 45%" name="vrSrchDtFromE3" id="vrSrchDtFromE3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchDtFromE3)" onChange="cfn_onChangeDateFld(vrSrchDtFromE3)"/>
						~
						<input type="date" class = "text" style="width: 45%" name="vrSrchDtToE3" id="vrSrchDtToE3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchDtToE3)" onChange="cfn_onChangeDateFld(vrSrchDtToE3)"/>
					</td>
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>
					<th class="thBar">$!lang.getText('주문상태')</th>
					<td>
						<select id="vrSrchOrdStatus" name="vrSrchOrdStatus" class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="0">$!lang.getText('할당')</option>
							<option value="1">$!lang.getText('반송시작')</option>
							<option value="2">$!lang.getText('출발지도착')</option>
							<option value="3">$!lang.getText('로드시작')</option>
							<option value="4">$!lang.getText('로드완료')</option>
							<option value="5">$!lang.getText('목적지도착')</option>
							<option value="6">$!lang.getText('언로드시작')</option>
							<option value="7">$!lang.getText('언로드완료')</option>
							<option value="8">$!lang.getText('할당해제')</option>
							<option value="9">$!lang.getText('작업완료')</option>
							<option value="10">$!lang.getText('충전시작')</option>
							<option value="11">$!lang.getText('충전완료')</option>
							<option value="12">$!lang.getText('대기')</option>
							<option value="13">$!lang.getText('이동중 위치')</option>
							<option value="20">$!lang.getText('로드실패')</option>
							<option value="21">$!lang.getText('언로드실패')</option>
							<option value="99">$!lang.getText('ERROR')</option>
						</select>
					</td>
					<th class="thBar">$!lang.getText('작업타입')</th>
					<td>
						<select id="vrSrchJobType" name="vrSrchJobType" class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="0">$!lang.getText('대기상태')</option>
							<option value="1">$!lang.getText('반송작업중')</option>
							<option value="2">$!lang.getText('충전중')</option>
							<option value="5">$!lang.getText('설비및커넥션에러')</option>
							<option value="6">$!lang.getText('ERROR')</option>
						</select>
					</td>
					<!--
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('E3')"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST","E3");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('E3')"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th>$!lang.getText('연동상태')</th>
					<td>
					-->
					<!-- 
						상태(0:WMS생성, 1:DPS수신, 2:DPS송신, 9:WMS처리완료)
					-->
					<!--
						<select name='vrSrchStatus' id='vrSrchStatus' class="selectbox" style="width:95%">
							<option value="">$!lang.getText('전체')</option>
							<option value="0">$!lang.getText('WMS생성')</option>
							<option value="1">$!lang.getText('DPS수신')</option>
							<option value="2">$!lang.getText('DPS송신')</option>
							<option value="9">$!lang.getText('WMS처리완료')</option>
						</select>
					</td>
					-->
					<th class="btnSearch" rowspan="3">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_searchE3();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
            </tbody>
        </table>
		<div id = "formDataE3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div id="divPanel_SpdListE3">
		<div id="spdListE3" style="height:710px; border:1px solid #b0b0b0;"></div>
	</div>
	
	<form name="frm_eaiE3" style = "visibility : hidden ; width : 0 ; height : 0">
	</form>
</div>
</div>