<style>
    .tabulator-col-content {
        background-color: #d5dce6;
        border: solid white 0.5px;
    }
	.textarea {
		border: 1px solid #d0d1d1; 
		width: 50%; 
		height: 21px; 
		resize: none;
	}
</style>

<div class="patternWrap">
	<form name="frm_listE03">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "110px"/>
				<col width = "50%"/>
				<col width = "110px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
            </colgroup>
			<tbody>
                <tr>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('출고요청일')</th>
					<td>
						<input type = "date" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchWorkFromDtE3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchWorkFromDtE3)" onChange="cfn_onChangeDateFld(vrSrchWorkFromDtE3)"> 
						~
						<input type = "date" class = "text" style="width:32%" name="vrSrchReqDtTo" id="vrSrchWorkToDtE3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchWorkToDtE3)" onChange="cfn_onChangeDateFld(vrSrchWorkToDtE3)"> 
					</td>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCdE03" onChange='fn_changedEventCallBack("CUST","E03","CODE");'> 
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" id ='vrSrchCustImgE03' onClick='fn_custPopup("E03");'/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNmE03"onChange='fn_changedEventCallBack("CUST","E03","NAME");'> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustIdE03">
					</td>
					<th>$!lang.getText('원주문번호')</th>
					<td>
						<input type = "text" class = "text" style="width:50%" name="vrSrchOrdrNo" id="vrSrchOrdrNoE3"/>
					</td>

					<th class="btnSearch" rowspan="2">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_orderStatusChangeOrdSearch();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				<tr>
					<th>$!lang.getText('특송사')</th>
					<td>
						<select id="vrSrchStrCdE3" name="vrSrchStrCd" class="selectbox" style="width: 70%">
							<option value="">전체</option>
						</select>
					</td>
					<th>$!lang.getText('다중원주문번호')</th>
					<td>
						<textarea class="textarea" id="vrSrchOrgOrdIdListE3" name = "vrSrchOrgOrdIdList"></textarea>
						<span id="orgOrdIdCntE3" name="orgOrdIdCnt"></span>
					</td>
					<th>$!lang.getText('WCS 미전송 여부')</th>
					<td>
						<input type = "checkbox" id="vrSrchWcsSendYnE3" name="vrSrchWcsSendYn"/>
					</td>
				</tr>
            </tbody>
        </table>
	</form>

	<div class="btnArea">
		<form name="frm_listBTN">
			<div class="btnAreaLeft" style="display: flex; height: 20px;">
			$!lang.getText('주문정보')
			</div>
		    <div class="btnAreaRight" style="display: flex; height: 20px;">
				<select class="selectbox" id="vrOrdrStatE3" name="vrOrdrStat" style="margin-right: 10px">
					<option value="00">출고가능(00)</option>
					<option value="30">홀드상태(30)</option>
					<option value="80">WMS수기출고완료(80)</option>
					<option value="90">취소상태(90)</option>
				</select>
		    	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write3" name="btn_write" value="$!lang.getText('I/F 전송')"		onClick="fn_sendOrderStatusChange();"	role="button" aria-disabled="false"/>  
		    </div>
	    </form>
	</div>
	
	<div style="margin-top: 40px;"> 
		<div id="tableE3_1" style="width: 100%; margin-right: 50px;"></div>
	</div>
	<div class="btnArea">
		<div class="btnAreaLeft" style="display: flex; height: 20px;">$!lang.getText('주문정보별 I/F 결과')</div>
	</div>
	<div style="margin-top: 40px;"> 
		<div id="tableE3_2" style="width: 100%; margin-right: 50px;"></div>
	</div>
</div>

<script type="text/javascript">
const orderStatusChangeHTable = new Tabulator("#tableE3_1", {
	layout:"fitDataTable",
    placeholder:"No Data Set", 
    height:'50vh',
    rowHeader:{
    	headerSort:false, 
    	resizable: false,  
    	frozen:true, 
    	headerHozAlign:"center", 
    	hozAlign:"center", 
    	formatter:"rowSelection", 
    	titleFormatter:"rowSelection",
    	cellClick:function(e, cell){
        	cell.getRow().toggleSelect();
      	}
    },
    columns:[ 
		{title:"IF 결과", field:"IF_RSLT", sorter:"string", hozAlign:"center", width:300, bottomCalc:(values, _) => `총 ${values.length} 건`},
		{title:"원주문번호", field:"ORG_ORD_ID", sorter:"string", hozAlign:"center", width:300},
        {title:"WINUS 주문번호", field:"ORD_ID", sorter:"string", hozAlign:"center", width:300},
        {title:"특송사", field:"SHIPPING_COMPANY", sorter:"string", hozAlign:"center", width:300},
		{title:"작업상태", field:"WORK_STAT", sorter:"string", hozAlign:"center", width:300}
    ], 
});


const orderStatusChangeDTable = new Tabulator("#tableE3_2", {
	layout:"fitDataTable",
    placeholder:"No Data Set", 
    height:'50vh',
    columns:[ 
		{title:"결과코드", field:"RSLT_CD", sorter:"string", hozAlign:"center", width:200, bottomCalc:(values, _) => `총 ${values.length} 건`},
		{title:"결과메시지", field:"RSLT_MSG", sorter:"string", hozAlign:"center", width:200},
        {title:"원주문번호", field:"ORDR_NO", sorter:"string", hozAlign:"center", width:200},
        {title:"WINUS 주문번호", field:"ORD_ID", sorter:"string", hozAlign:"center", width:200},
		{title:"주문상태", field:"ORDR_STAT", sorter:"string", hozAlign:"center", width:200},
        {title:"I/F ID", field:"IF_ID", sorter:"string", hozAlign:"center", width:300},
		{title:"I/F 일시", field:"IF_DT", sorter:"string", hozAlign:"center", width:200},
        {title:"I/F 상태", field:"IF_YN", sorter:"string", hozAlign:"center", width:200}
    ], 
});


let orderStatusChangeHList = [];
let orderStatusChangeDList = [];

/* 주문 조회 */
function fn_orderStatusChangeOrdSearch(){
	const searchParam = jQuery('form[name="frm_listE03"]').serializeObject();
	var param 	= jQuery("form[name='frm_listE03']").serialize();

	jQuery.ajax({
		url: "/WMSWC002/selectOrdListE3.action",
		type: 'GET',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'json',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			if(data?.errCnt == "1"){
				alert(data.MSG);
				return;
			}
            orderStatusChangeHList = [...data?.LIST];
            orderStatusChangeHTable.setData(orderStatusChangeHList);
			orderStatusChangeDTable.setData([]);

			const srchOrdrNo = jQuery('#vrSrchOrdrNoE3').val();
    		if(srchOrdrNo) fn_orderStatusChangeIFResultSearch(srchOrdrNo);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}

function fn_sendOrderStatusChange (args){
	const selectedTableData = orderStatusChangeHTable.getSelectedData();	
	const selectedDetails = [];
	let confitmMsg = '진행하시겠습니까?';
	selectedTableData.forEach(header => {
	    if(header.IF_RSLT === 'Y'){
	    	confitmMsg = '전송완료된 건이 있습니다. 진행하시겠습니까?';
	    }
	});
	
	if(selectedTableData.length === 0){
		alert("$!lang.getText('선택된 건수가 없습니다.')");
		return;
	}
    if(!confirm(confitmMsg)) return;

	const selectedOrderStatus = jQuery('#vrOrdrStatE3').val();
	const sendOrderStatusChangeData = selectedTableData.map(item => ({
		ordrNo: item.ORG_ORD_ID,
		ordrStat: selectedOrderStatus
	}));
	const param = { ordrList : sendOrderStatusChangeData };
    
	jQuery.ajax({
		url: "/WMSWC002/sendOrderStatusChange.action",
		data: JSON.stringify(param), 
		type: "POST",
		dataType: "JSON", 
		contentType: "application/json; charset=utf-8",
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의'))");
		},
		success: function(data) {
			if(data?.errCnt == "1"){
				alert(data.MSG);
				return;
			}
			const selectedOrdrNo = jQuery('#vrSrchOrdrNoE3').val();
    		if(selectedOrdrNo) fn_orderStatusChangeIFResultSearch(selectedOrdrNo);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});	
}

jQuery(document).ready(function(){
	orderStatusChangeHTable.on("rowClick", function(e, row){
		const selectedOrdrNo = row.getData().ORG_ORD_ID;
		fn_orderStatusChangeIFResultSearch(selectedOrdrNo);
	});

	updateSelectedCount(orderStatusChangeHTable, "tableE3_1", "ORG_ORD_ID");
});

function fn_orderStatusChangeIFResultSearch(selectedOrdrNo) {
	const param = { ordrNo: selectedOrdrNo }
	jQuery.ajax({
		url: "/WMSWC002/orderStatusChangeList.action",
		type: 'GET',
		data: jQuery.param(param),
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'json',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			if(data?.errCnt == "1"){
				alert(data.MSG);
				return;
			}
			orderStatusChangeDList = [...data?.LIST];
			orderStatusChangeDTable.setData(orderStatusChangeDList);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}

let vrSrchOrgOrdIdListE3 = document.getElementById('vrSrchOrgOrdIdListE3');
vrSrchOrgOrdIdListE3.addEventListener('input', function() {
    const inputData = this.value.trim();
    const dataArray = inputData.split('\n').filter(line => line.trim() !== '');
	let orgOrdIdCnt = document.getElementById('orgOrdIdCntE3');

	if (dataArray.length > 1000) {
		alert("1000건 초과 시 조회 불가");
		vrSrchOrgOrdIdListE3.value = '';
		orgOrdIdCnt.innerText = '';
		return;
	}
    
    if (dataArray.length > 0) {
        const firstValue = dataArray[0];
        const countOfOthers = dataArray.length - 1;
        orgOrdIdCnt.innerText = `${firstValue} 외 ${countOfOthers}건`;
    } else {
        orgOrdIdCnt.innerText = '';
    }
});
</script>