#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="module" src="/js/utility/interfaceUtil.js"></script>
<script type="text/javascript" src="/js/tooltip_easiest.js"></script>
<script type="text/javascript" src="/js/bPopup.js"></script>
<script defer type="text/javascript" src="/js/utility/commonUtil.js"></script>
<link type="text/css" media="screen" rel="stylesheet" href="/css/assets/css/plugins/select2/select2.min.css"/>
<script type="text/javascript" src="/css/assets/js/select2/select2.min.js"></script>

<link type="text/css" media="screen" rel="stylesheet" href="/js/SpreadJS12/css/datepicker3.css" />
<style>
      label {
          margin-bottom: 8px;
          margin-left:8px;
      } 
       label span {
            font-size: 16px; /* 텍스트 크기 조절 */
        }
</style>
<script type="text/javascript">
////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var arrMC_SPD_CHK_SET = [];
var BKC_FRC = "#FFFBF7";
var BKC_DEF = "#FFFBF7";

var spdSheetDetail;
var arrMC_SPD_CHK_SET_D = [];
var BKC_FRC_D = "#FFFBF7";

var gbChkDataVal = "";

var colNameArrayE2 = ['WORK_DT','WORK_TIME','SUM_OUT_QTY','TOT','LOC_CBM','ITEM_CBM','SUM_CALC_CNT','SUM_ERR_CNT'];
var PUBLIC_SPD_HEIGHT_TITLE = "25";
var PUBLIC_SPD_HEIGHT = "25";
var DFC_LINE = '#D4D4D4';
var BKC_FRC = "#FFFBF7";
var BKC_DEF = "#FFFBF7";

var defaultStyle = new GC.Spread.Sheets.Style();
defaultStyle.font = "11pt 맑은 고딕";
defaultStyle.hAlign = GC.Spread.Sheets.HorizontalAlign.center;

jQuery(document).ready(function(){
	const selectLCElement = document.getElementById("selectMainLc");

	 
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	// 초기 탭 active 0번째
	jQuery('#tab1').tabs({active:0});
	
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	pf_setDatePicker_SPD();
	
	//한국어 일본어만 현재 지원됨 
	/* datepicker */
	jQuery.datepicker.setDefaults(jQuery.datepicker.regional["$ss_lang"]);
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").each(function() {
        jQuery(this).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd",
            showOn: "button",
            buttonImage: "/img/exam/btn/calendar.gif",
            buttonImageOnly: true
        });
    }); 
	
	var dateFrom = new Date().addDay(-90).getFormattedString('YYYY-MM-DD'); // 현재 날짜에서 -15
// 	dateFrom.setMonth(date.getMonth() - 3); // 3달을 빼서 이전 날짜로 설정합니다.
	/* 날짜 셋팅 */
	var dateTo = new Date().getFormattedString("YYYY-MM-DD");
	
	jQuery("input[name=vrSrchReqDtFrom]").each(function(index, item){ 
		jQuery(this).val(dateFrom);
    });
	jQuery("input[name=vrSrchReqDtTo]").each(function(index, item){ 
		jQuery(this).val(dateTo);
    });
	/* html force event window resizing */
    gfn_forceEventResize();
	
	/*주문수집*/
    ps_setSpreadColumnIndexE01();
    
	/* 송장전송 */
	jQuery('#ui-id-2').one('click', function(){ // 탭 클릭시 최초 1번 생성
		ps_setSpreadColumnIndexE02();
	});

	/* 토큰관리 */
	jQuery('#ui-id-3').one('click', function(){ // 탭 클릭시 최초 1번 생성
// 		ps_setSpreadColumnIndexE03();
	});
	 
	
	// 쇼핑몰 변경시 모든 쇼핑몰 요소 변경
    jQuery("select[name='vrSrchMallNm']").change(function() {
    	var newValue = jQuery(this).val();
         
    	jQuery("select[name='vrSrchMallNm']").val(newValue);
    });

	
});


// SHEET 옵션 셋팅
function ps_setSpreadSheet_ctInit(pobjSheet, blnTabsNameView) {
	
	//SHEET 속성
    pobjSheet.options.allowContextMenu     = true; 
    pobjSheet.options.allowSheetReorder    = false;
    pobjSheet.options.allowUserDragFill    = false;
    pobjSheet.options.allowUserDragDrop    = false;
    pobjSheet.options.allowUserZoom        = false;
    pobjSheet.options.canUserDragDrop      = false;
    pobjSheet.options.canUserDragFill      = false;
    pobjSheet.options.newTabVisible        = false;
    pobjSheet.options.scrollbarMaxAlign    = true;
    pobjSheet.options.scrollbarShowMax     = true;
    pobjSheet.options.tabEditable          = false;
    pobjSheet.options.tabNavigationVisible = false;
    pobjSheet.options.tabStripVisible      = blnTabsNameView;
	pobjSheet.options.isProtected = false;

    // DEL키 입력방지
    pobjSheet.commandManager().register('mydelete',function(spread1){
    	pobjSheet.suspendEvent();
    	pobjSheet.resumeEvent();
	});
    pobjSheet.commandManager().setShortcutKey(null,GC.Spread.Commands.Key.del, false, false, false, false);
    pobjSheet.commandManager().setShortcutKey('mydelete',GC.Spread.Commands.Key.del, false, false, false, false);
}

// SHEET 옵션 셋팅
function ps_setSpreadList_ctInit(pobjspdList, plngTitleRowCnt, plngTitleColCnt, plngFirstShowRowCnt, plngFrozenColumn) {
	pobjspdList.options.selectionBorderColor = 'Accent 7';
	pobjspdList.options.selectionBackColor = 'transparent'; // 'transparent';
	
	// pobjspdList.selectionUnit(GC.Spread.Sheets.SelectionUnit.row); // row 단위 선택
	// pobjspdList.selectionPolicy(GC.Spread.Sheets.SelectionPolicy.single);

	pobjspdList.suspendPaint();
    
    pobjspdList.setRowCount(plngTitleRowCnt, GC.Spread.Sheets.SheetArea.colHeader); //pobjspdList 타이틀 행수
    pobjspdList.setColumnCount(plngTitleColCnt, GC.Spread.Sheets.SheetArea.viewport); //pobjspdList 타이틀 컬럼수
    pobjspdList.setRowCount(plngFirstShowRowCnt, GC.Spread.Sheets.SheetArea.viewport); //pobjspdList 최초 보이는 행수

    pobjspdList.options.isProtected = false;
    pobjspdList.options.protectionOptions.allowResizeRows  = false; //pobjspdList 행,컬럼 사이즈 사용자 변경
    pobjspdList.options.protectionOptions.allowResizeColumns  = true;
    pobjspdList.options.allowCellOverflow  = false;
    pobjspdList.options.protectionOptions.allowFilter = true;
	pobjspdList.options.protectionOptions.allowSort = true;

	if (plngFrozenColumn != null){pobjspdList.frozenColumnCount(plngFrozenColumn+1);};
    pobjspdList.defaults.colHeaderRowHeight = PUBLIC_SPD_HEIGHT_TITLE; //기본높이
    pobjspdList.defaults.rowHeight = PUBLIC_SPD_HEIGHT;
    pobjspdList.resumePaint();

	pobjspdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.viewport);
	pobjspdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.colHeader);
	pobjspdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.rowHeader);

}



//상세그리드 푸터 합계
function ps_setSpreadControl(pobjspdList, arrBind) {
    /*
    ps_setSpreadTOT_ROW(pobjspdList, 1, "합계", "");
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_QT, "SUM(" + "H1" + ":" + "H" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_UM, "SUM(" + "I1" + ":" + "I" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_AM, "SUM(" + "J1" + ":" + "J" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_VAT, "SUM(" + "K1" + ":" + "K" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_TOT, "SUM(" + "L1" + ":" + "L" + (pobjspdList.getRowCount() - 1) + ")" );
    */
    //ps_setSpreadBorderLineDraw_COLUMN(pobjspdList, 0, BKC_DEF);
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
    if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {ps_setSelectALL(0, args);return false;};
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	const {row, col} = args;
	// 1번 탭 그리드 이벤트
	if(col == SPDCOL_SELECT) {return;};
	if(col == SPDCOL_IF_BTN){
		fn_save(args);
    }
	if(col === SPDCOL_TO_DT_BTN && row === 0){
		alert("입고 ASN은 시작일만 선택 가능합니다.");
		return;
	}
    if (col === SPDCOL_FROM_DT_BTN || col === SPDCOL_TO_DT_BTN){
    	pf_showSpdDatepicker(spdList, row, col);	
	}
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
	//alert("더블클릭");
}




//버튼 동적 style
function fn_btnStyleLoadding(row, colName){
    var cellType = new GC.Spread.Sheets.CellTypes.Button();
    cellType.buttonBackColor("#FFFF00");
    cellType.text("처리중..");
    spdList.getCell(row, colName).cellType(cellType).foreColor("red");
    
    //** 상태 에외처리
    spdList.getCell(row, SPDCOL_TR_STAT).value("R").foreColor("#FF0000");
}



//DatePicker show for Click event
function pf_showSpdDatepicker(spdList, row, col) {
  var dateString="";
  jQuery("#spdRow").val(row);
  jQuery("#spdCol").val(col);

  var cellRect = spdList.getCellRect(row, col);
  var hearRowCnt = spdList.getRowCount(GC.Spread.Sheets.SheetArea.colHeader);

  if (spdList.getValue(row, col-1) != null)
      dateString  = replaceAll(spdList.getValue(row, col-1), "-", "");
  else
      dateString  = getNowDate();

  var year        = dateString.substring(0,4);
  var month       = dateString.substring(4,6);
  var day         = dateString.substring(6,8);
  jQuery('#spdDatePannel').datepicker('setDate', new Date(year, month-1, day));
  jQuery("#spdDatePannel").css("display", "inline");

  var rectDefault = cellRect.y - ((hearRowCnt-1) * 31);
  if (cellRect.y > 200)
  {jQuery("#spdDatePannel").css("top",rectDefault-40);}else{jQuery("#spdDatePannel").css("top",rectDefault+130);}

  jQuery("#spdDatePannel").css("left",cellRect.x-70);
  jQuery("#spdRow").val(row);
  jQuery("#spdCol").val(col);
}
//필터 적용
function ps_setFilter(pobjspdList, stRow, stCol, edRow, edCol){
	pobjspdList.rowFilter(new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(stRow, stCol, edRow, edCol)));
}
function pf_setDatePicker_SPD(objSpdList){
    let startDate = '';
    let lang = "KOR"; //getCookie("LANG_TYP") //한국어 : "KOR", 영어 : "ENG"

    jQuery('#spdDatePannel').datepicker({
        'setDate': new Date(),
        inline: true,
        sideBySide: true,
        autoclose: false,
        language: lang
    }).on('changeDate', function(e) {
        startDate = moment(e.date).format('YYYY-MM-DD');
        jQuery('#spdDatePannel').css('display', 'none');
        spdList.setValue(Number(jQuery('#spdRow').val()), Number(jQuery('#spdCol').val())-1, startDate);
    });
}

function fn_listToTree(items, parentId = null, idKey = 'id', parentKey = 'parent_id') {
	return items
		.filter(item => item[parentKey] === parentId)
	    .map(item => ({
	    	...item, 
	    	children: fn_listToTree(items, item[idKey], idKey, parentKey) 
	    	})
	    );
}


function fn_custPopup(tab){
// 	var tab = '#'+activeTab.tab+' ';
	var strParameter = []; 
	var param = "?func=fn_setWMSCM011&custType=12";
	var url = "/WMSCM011.action" + param;
	var width = "800";
	var height = "530";

	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery('form[name="frm_listE01"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE01"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE01"] input[name="vrSrchCustId"]').val(info.cust_id);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011E02(arr){
	var info = arr[0];
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustId"]').val(info.cust_id);
// 	fn_onChangeDegreeDate();
}



/* 화주 입력 */
function vrSrchCust_OnKillFocus(tab, type){
	var vrSrchCustCd = jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustCd']").val();
	var vrSrchCustNm = jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustNm']").val();
	var searchParam = type  === "CD" ? "&vrSrchCustCd=" + vrSrchCustCd : "&vrSrchCustNm=" + vrSrchCustNm;
	
	if( vrSrchCustCd != "" || vrSrchCustNm != ""){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&S_CUST_TYPE=12" + searchParam;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustCd']").val(data[0].CODE);
				jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustNm']").val(data[0].NAME);
				jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustId']").val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustNm']").val("");
				jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=("/index.html");
    		}
     	});
	}else{
		jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustNm']").val("");
		jQuery("form[name='frm_list"+tab+"'] input[name='vrSrchCustId']").val("");
	}
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("주문정보관리")</a></li>
			<li><a href = "#tabs-2">$!lang.getText("송장전송관리")</a></li>
<!-- 			<li><a href = "#tabs-3">$!lang.getText("아이디별 토큰관리")</a></li> -->
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsif/cafe24/WMSIF904E1.vm")
    </div>
    <div id = "tabs-2">
        #parse("winus/wmsif/cafe24/WMSIF904E2.vm")
    </div>
    <div id = "tabs-3">
    </div>

</div>
<!-- 정보수집 팝업 -->
<div>
	#parse("winus/wmsif/cafe24/WMSIF904modal.vm")
</div>

#parse("winus/common/footer.vm")