<div class="patternWrap">


	<div class="btnArea">
	    <div class="btnAreaLeft">

	    </div>
	    <div class="btnAreaRight">
	    	
	    	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('피킹리스트')"		onClick="fn_ordConfirm();"	role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH" 		id="btn_pdf"	name="btn_pdf" value="$!lang.getText('거래명세서')"	onclick="fn_tradingStat()"	role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH" 		id="btn_pdf"	name="btn_pdf" value="$!lang.getText('택배라벨')"	onclick="fn_delivery()"	role="button" aria-disabled="false"/>
	    </div>
	</div>

</div>
