#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>

<script type="text/javascript">


////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

/* Header */
var SPDCOL_SELECT			= 0;
var SPDCOL_COMPANY_CD		= 1;
var SPDCOL_ORD_NO			= 2;
var SPDCOL_ORD_TP			= 3;
var SPDCOL_ORD_DIV			= 4;
var SPDCOL_ORD_DT			= 5;
var SPDCOL_DLV_TP			= 6;
var SPDCOL_DLV_DT			= 7;
var SPDCOL_PARTNER_CD		= 8;
var SPDCOL_LN_PARTNER 		= 9;
var SPDCOL_ROUTDESC 		= 10;
var SPDCOL_RMKS				= 11;
var SPDCOL_ORD_PRGRS_STAT	= 12;
var SPDCOL_WAYBILL_NO		= 13;
var SPDCOL_DLV_DRIVER_NM	= 14;
var SPDCOL_DLV_DRIVER_TEL	= 15;
var SPDCOL_INSERT_DTS		= 16;
var SPDCOL_INSERT_ID		= 17;
var SPDCOL_UPDATE_DTS		= 18;
var SPDCOL_UPDATE_ID		= 19;
var SPDCOL_END				= 20;

var spdSheet;
var spdList;
var arrMC_SPD_CHK_SET = [];
var BKC_FRC = "#FFFBF7";
var BKC_DEF = "#FFFBF7";

/* Detail */
var SPDCOL_D_SELECT			= 0;
var SPDCOL_D_COMPANY_CD		= 1;
var SPDCOL_D_ORD_NO			= 2;
var SPDCOL_D_ORD_DETAIL_NO	= 3;
var SPDCOL_D_PLANT_CD		= 4;
var SPDCOL_D_ITEM_CD		= 5;
var SPDCOL_D_NM_ITEM		= 6;
var SPDCOL_D_QT 			= 7;
var SPDCOL_D_UM 			= 8;
var SPDCOL_D_AM 			= 9;
var SPDCOL_D_VAT 			= 10;
var SPDCOL_D_TOT 			= 11;
var SPDCOL_D_RMKS 			= 12;
var SPDCOL_D_LINK_YN		= 13;
var SPDCOL_D_QTIO_TP		= 14;
var SPDCOL_D_CC_CD			= 15;
var SPDCOL_D_WMS_LINK_YN	= 16;
var SPDCOL_D_INSERT_DTS		= 17;
var SPDCOL_D_INSERT_ID		= 18;
var SPDCOL_D_UPDATE_DTS		= 19;
var SPDCOL_D_UPDATE_ID		= 20;
var SPDCOL_D_TRCNUM			= 21;
var SPDCOL_D_END			= 22;

var spdSheetDetail;
var spdListDetail;
var arrMC_SPD_CHK_SET_D = [];
var BKC_FRC_D = "#FFFBF7";

jQuery(document).ready(function(){	

	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({activate:function(event, ui){resizeGrid();}});
	
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* datepicker */
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true,
		onSelect: function(dateText) {
			btnDisable();
			var vrSelDtType = jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val();
			var date = new Date(dateText);
			date.setDate(date.getDate() + 1);
			if(vrSelDtType === "DLV_DT"){
				jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( "setDate", date);
			}
			
		}
	});
	
	var date = new Date();
	date.setDate(date.getDate() + 1);
	jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( "setDate", date);
	
	
	//화주 자동검색 후 하나면 고정
	vrSrchCustCd_OnStart();
	
	
	/* 날짜 셋팅 */
	//var vrToDay = (new Date()).getFormattedString("YYYY-MM-DD");
/* 	var vrToDay = localStorage.LocalTime;
	jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val(vrToDay);
	 */
	/* 그리드 공통화 적용 시작- Header */
	/* Init */
	spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheet, false);
	spdList = spdSheet.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdList, 1, SPDCOL_END, 0, SPDCOL_COMPANY_CD);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(spdList, SPDCOL_SELECT		,'CENTER'	,'LEFT'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_COMPANY_CD		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_NO			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_TP			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DIV			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DT			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_DLV_TP			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_DLV_DT			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_PARTNER_CD		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_LN_PARTNER		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ROUTDESC		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_RMKS			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_PRGRS_STAT	,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_WAYBILL_NO		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_DLV_DRIVER_NM	,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_DLV_DRIVER_TEL	,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_INSERT_DTS		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_INSERT_ID		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UPDATE_DTS		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UPDATE_ID		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	
	/* grid set style : colName, colHidden */
	ps_setSpreadStyle();
	
	/* grid bindding */
	ps_setSpreadEvents_Bind(spdList);
	spdList.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
		fn_searchDetail(spdList.getValue(args.row, SPDCOL_ORD_NO));
	});
	
	/* html force event window resizing */
    gfn_forceEventResize();
    
	/* 그리드 공통화 적용 끝- Header */
	
	/* 그리드 공통화 적용 시작- Detail */
    /* Initspd SheetDetail */
    spdSheetDetail = new GC.Spread.Sheets.Workbook(document.getElementById('spdListDetail'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheetDetail, false);
	spdListDetail = spdSheetDetail.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdListDetail, 1, SPDCOL_D_END, 0, SPDCOL_D_ORD_NO);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(spdListDetail, SPDCOL_D_SELECT	,'CENTER'	,'LEFT'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_ORD_NO		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_COMPANY_CD	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_ORD_NO		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_ORD_DETAIL_NO	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_PLANT_CD		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_ITEM_CD		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_NM_ITEM		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_QT			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_UM			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_AM			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_VAT			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_TOT			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_RMKS			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_LINK_YN		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_QTIO_TP		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_CC_CD			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_WMS_LINK_YN	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_INSERT_DTS	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_INSERT_ID		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_UPDATE_DTS	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_UPDATE_ID		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdListDetail	,SPDCOL_D_TRCNUM		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	
	
	/* grid set style : colName, colHidden */
	ps_setSpreadStyleDetail();
	
	/* grid bindding */
	ps_setSpreadEvents_Bind(spdListDetail);
	
	/* html force event window resizing */
    gfn_forceEventResize();
    
	/* 그리드 공통화 적용 끝- Detail */
});

function ps_setSpreadStyle(){
	/* colName */
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_SELECT			,'선택'				,35		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_COMPANY_CD		,'회사코드'		,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_NO			,'주문번호'			,180	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_TP			,'주문유형'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DIV			,'주문구분'			,100		,false);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DT			,'주문일자'			,180	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_DLV_TP			,'배송유형'			,100		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_DLV_DT			,'배송일자'			,180	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_PARTNER_CD		,'고객사코드'		,120	,true);

	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_LN_PARTNER		,'점포명'		,250	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ROUTDESC		,'라우팅명'		,120	,true);
		
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_RMKS			,'RMKS'				,100	,false);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_PRGRS_STAT	,'ORD_PRGRS_STAT'	,120	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_WAYBILL_NO		,'WAYBILL_NO'		,200	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_DLV_DRIVER_NM	,'DLV_DRIVER_NM'	,120	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_DLV_DRIVER_TEL	,'DLV_DRIVER_TEL'	,120	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_INSERT_DTS		,'INSERT_DTS'		,180	,false);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_INSERT_ID		,'INSERT_ID'		,120	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UPDATE_DTS		,'UPDATE_DTS'		,180	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UPDATE_ID		,'UPDATE_ID'		,120	,false);
	
	
}

function ps_setSpreadStyleDetail(){
	/* colName */
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_SELECT			,'선택'				,35		,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_COMPANY_CD		,'회사코드'		,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_ORD_NO			,'주문번호'			,180	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_ORD_DETAIL_NO		,'주문상세번호'	,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_PLANT_CD			,'PLANT_CD'			,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_ITEM_CD			,'상품코드'			,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_NM_ITEM			,'상품명'			,300	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_QT				,'수량'				,50	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_UM				,'단가'				,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_AM				,'공급가'				,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_VAT				,'부가세'				,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_TOT				,'합계'				,100	,true);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_RMKS				,'RMKS'				,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_LINK_YN			,'LINK_YN'			,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_QTIO_TP			,'QTIO_TP'			,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_CC_CD				,'CC_CD'			,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_WMS_LINK_YN		,'WMS_LINK_YN'		,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_INSERT_DTS		,'INSERT_DTS'		,180	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_INSERT_ID			,'INSERT_ID'		,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_UPDATE_DTS		,'UPDATE_DTS'		,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_UPDATE_ID			,'UPDATE_ID'		,100	,false);
	ps_setSpreadTitle_Named(spdListDetail	,0	,SPDCOL_D_TRCNUM			,'TRCNUM'			,100	,false);
}

/* 조회 */
function fn_search(op,op1){
	var param 	= jQuery("form[name='frm_list']").serialize();
	var strUrl 	= "/WMSOM010/list.action";
	jQuery('form[name="frm_list"] input[name="vrSrchOrdNo"]').val("");
	jQuery.ajax({
		url: strUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//console.log(data);
			setRST(data);
			btnAble();
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}

/* 조회 callback */
function setRST(ds){
	spdList.deleteRows(0, spdList.getRowCount());
	spdListDetail.deleteRows(0, spdListDetail.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    spdList.suspendPaint();
    
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdList.setDataSource(arrBind);
    	spdList.bindColumn(SPDCOL_SELECT			,false);
    	spdList.bindColumn(SPDCOL_COMPANY_CD		,"COMPANY_CD");
    	spdList.bindColumn(SPDCOL_ORD_NO			,"ORD_NO");
    	spdList.bindColumn(SPDCOL_ORD_TP			,"ORD_TP");
    	spdList.bindColumn(SPDCOL_ORD_DIV			,"ORD_DIV");
    	
    	spdList.bindColumn(SPDCOL_ORD_DT			,"ORD_DT");
    	spdList.bindColumn(SPDCOL_DLV_TP			,"DLV_TP");
    	spdList.bindColumn(SPDCOL_DLV_DT			,"DLV_DT");
    	spdList.bindColumn(SPDCOL_PARTNER_CD		,"PARTNER_CD");
    	spdList.bindColumn(SPDCOL_ROUTDESC			,"ROUTDESC");
    	spdList.bindColumn(SPDCOL_LN_PARTNER		,"LN_PARTNER");
    	spdList.bindColumn(SPDCOL_RMKS				,"RMKS");
    	
    	spdList.bindColumn(SPDCOL_ORD_PRGRS_STAT	,"ORD_PRGRS_STAT");
    	spdList.bindColumn(SPDCOL_WAYBILL_NO		,"WAYBILL_NO");
    	spdList.bindColumn(SPDCOL_DLV_DRIVER_NM		,"DLV_DRIVER_NM");
    	spdList.bindColumn(SPDCOL_DLV_DRIVER_TEL	,"DLV_DRIVER_TEL");
    	spdList.bindColumn(SPDCOL_INSERT_DTS		,"INSERT_DTS");
    	
    	spdList.bindColumn(SPDCOL_INSERT_ID			,"INSERT_ID");
    	spdList.bindColumn(SPDCOL_UPDATE_DTS		,"UPDATE_DTS");
    	spdList.bindColumn(SPDCOL_UPDATE_ID			,"UPDATE_ID");
    }
    
    ps_setSpreadStyle();
    spdList.resumePaint();
	
    jQuery('#srchCount').text(JSON.parse(ds).records);
}

/* 조회상세 */
function fn_searchDetail(ordNo){
	
	var trcNum = jQuery("form[name='frm_list'] input[name='vrSrchTrcNum']").val(); 
	var vrSrchTempType = jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val();
	var productType = jQuery("#productType").val();
	var param 	= {"ordNo": ordNo, "trcNum": trcNum, "vrSrchTempType": vrSrchTempType, "productType": productType};
	var strUrl 	= "/WMSOM010/listDetail.action";
	
	jQuery('form[name="frm_list"] input[name="vrSrchTrcNumDetail"]').val(trcNum);
	jQuery('form[name="frm_list"] input[name="vrSrchOrdNo"]').val(ordNo);
	
	jQuery.ajax({
		url: strUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//console.log(data);
			setRST_Detail(data);
		}
		//beforeSend	: function() {cfn_loadingModalOpen1();},
		//complete	: function() {cfn_loadingModalClose1();}
	});
}

/* 조회 callback */
function setRST_Detail(ds){
	spdListDetail.deleteRows(0, spdListDetail.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    spdListDetail.suspendPaint();
    
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdListDetail.setDataSource(arrBind);
    	spdListDetail.bindColumn(SPDCOL_D_SELECT			,false);
    	spdListDetail.bindColumn(SPDCOL_D_COMPANY_CD		,"COMPANY_CD");
    	spdListDetail.bindColumn(SPDCOL_D_ORD_NO			,"ORD_NO");
    	spdListDetail.bindColumn(SPDCOL_D_ORD_DETAIL_NO		,"ORD_DETAIL_NO");
    	spdListDetail.bindColumn(SPDCOL_D_PLANT_CD			,"PLANT_CD");
    	spdListDetail.bindColumn(SPDCOL_D_ITEM_CD			,"ITEM_CD");
    	spdListDetail.bindColumn(SPDCOL_D_NM_ITEM			,"NM_ITEM");
    	spdListDetail.bindColumn(SPDCOL_D_QT				,"QT");
    	spdListDetail.bindColumn(SPDCOL_D_UM				,"UM");
    	spdListDetail.bindColumn(SPDCOL_D_AM				,"AM");
    	spdListDetail.bindColumn(SPDCOL_D_VAT				,"VAT");
    	spdListDetail.bindColumn(SPDCOL_D_TOT				,"TOT");
    	spdListDetail.bindColumn(SPDCOL_D_RMKS				,"RMKS");
    	spdListDetail.bindColumn(SPDCOL_D_LINK_YN			,"LINK_YN");
    	spdListDetail.bindColumn(SPDCOL_D_QTIO_TP			,"QTIO_TP");
    	spdListDetail.bindColumn(SPDCOL_D_CC_CD				,"CC_CD");
    	spdListDetail.bindColumn(SPDCOL_D_WMS_LINK_YN		,"WMS_LINK_YN");
    	spdListDetail.bindColumn(SPDCOL_D_INSERT_DTS		,"INSERT_DTS");
    	spdListDetail.bindColumn(SPDCOL_D_INSERT_ID			,"INSERT_ID");
    	spdListDetail.bindColumn(SPDCOL_D_UPDATE_DTS		,"UPDATE_DTS");
    	spdListDetail.bindColumn(SPDCOL_D_UPDATE_ID			,"UPDATE_ID");
    	spdListDetail.bindColumn(SPDCOL_D_TRCNUM			,"TRCNUM");
    }
    if(arrBind.length > 0){
    	ps_setSpreadControl(spdListDetail, arrBind);
    }
    ps_setSpreadStyleDetail();
    spdListDetail.resumePaint();
}

//상세그리드 푸터 합계
function ps_setSpreadControl(pobjspdList, arrBind) {
   	
    
    ps_setSpreadTOT_ROW(pobjspdList, 1, "합계", "");
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_QT, "SUM(" + "H1" + ":" + "H" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_UM, "SUM(" + "I1" + ":" + "I" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_AM, "SUM(" + "J1" + ":" + "J" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_VAT, "SUM(" + "K1" + ":" + "K" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_D_TOT, "SUM(" + "L1" + ":" + "L" + (pobjspdList.getRowCount() - 1) + ")" );
    
    //ps_setSpreadBorderLineDraw_COLUMN(pobjspdList, 0, BKC_DEF);
	
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
    if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {ps_setSelectALL(0, args);return false;};
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
	//alert("더블클릭");
}

//라우팅셀렉트박스 변경
function vrSrchRoutDescNo_OnChange(){
	jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo']").val("");
	jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo2']").val("");
	
	//초도만 임시적으로 예외처리
	var vrSrchRoutDesc = jQuery("form[name='frm_list'] select[name='vrSrchRoutDesc'] option:selected").val();	
	if(vrSrchRoutDesc === '초도'){
		jQuery('#vrSrchRoutDescNoBox').hide();
		return;
	}
	
	
	var vrSrchCustCd = jQuery('form[name="frm_list"] select[name="vrSrchRoutDesc"]').val();
	if(cfn_isEmpty(vrSrchCustCd)) {
		jQuery('#vrSrchRoutDescNoBox').hide();
	}else{
		jQuery('#vrSrchRoutDescNoBox').show();
	}
}

/* 화주코드 자동입력 */
function vrSrchCustCd_OnStart(){
	btnDisable();
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&txtSrchTrustCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').attr('disabled', true);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').attr('disabled', true);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').attr('disabled', true);
			jQuery('form[name="frm_list"] img[name="btnSrchCustPop"]').attr('onclick', '').unbind('click');
			
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
	
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	btnDisable();
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != ""){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&txtSrchTrustCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	btnDisable();
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&txtSrchTrustCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 거래처코드 입력 */
function vrSrchPtnrCd_OnKillFocus(){
	btnDisable();
	var vrSrchPtnrCd = jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val();
	if( vrSrchPtnrCd != "" ){
		var srchKey = "PARTNER";
		var param   = "srchKey=" + srchKey + "&S_CD_PARTNER=" + vrSrchPtnrCd;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.PARTNER;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchPtnrCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS200&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM200.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CD_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].LN_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CD_PARTNER);
				
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}

/* 거래처명 입력 */
function vrSrchPtnrNm_OnKillFocus(){
	btnDisable();
	var vrSrchPtnrNm = jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val();
	if( vrSrchPtnrNm != "" ){
		var srchKey = "PARTNER";
		var param   = "srchKey=" + srchKey + "&S_LN_PARTNER=" + vrSrchPtnrNm ;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.PARTNER;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchPtnrNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS200&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM200.action" + encodeURI(param);
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CD_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].LN_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CD_PARTNER);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}

/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	var popupNm      = "fn_Popup";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'PARTNER':	//검색 파트너 
			//popupNm = "fn_Popup";
			//param = "?func=fn_setWMSMS200";
			//url = "/WMSCM200.action" + param;

			//break;
		//case 'SrchCust' : // 매출거래처 (화주조회)
			// console.log(jQuery("form[name='frm_list'] input[name='txtSrchTrustCustId']").val());
			
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPntrCd']").val());
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val());
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrId']").val());
				strParameter.push("$ss_svc_no");
				strParameter.push("LC_ALL");
				param = "?func=fn_setSrchCust&strParameter=" + strParameter+"&stBtnYn=Y";
				url = "/WMSCM011.action" + param;
				break;
	}
	var asppop = cfn_openPop2(url, popupNm, width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	btnDisable();
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 거래처 팝업 후 처리 */
function fn_setWMSMS200(arr){
	btnDisable();
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(info.cd_partner);
	jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(info.ln_partner);
	
}

function fn_setSrchCust(arr){
	console.log(arr);
	btnDisable();
	var info = arr[0];
	jQuery("#vrSrchPtnrCd").val(info.cust_cd);
	jQuery("#vrSrchPtnrNm").val(info.cust_nm);
	jQuery("#vrSrchPtnrId").val(info.cust_id);
}



/* 주문확정 */
function fn_ordConfirm(){
	
	//배송일기준 검색일때만 가능
	//배송일 기준 콤보박스 변경시 락
	
	//alert("개발 중 입니다. (관리자 문의)");
	
	var vrSelDtType = jQuery('#vrSelDtType').val();
	if(vrSelDtType !== 'DLV_DT'){
		alert("배송일 기준에만 주문확정을 사용할 수 있습니다.");
	}else{
		var vrCalDlvDt = jQuery('#vrCalDlvDt').val();
		var url = "/WMSOM010/confirmOrder.action";
		var param = {"vrCalDlvDt":vrCalDlvDt};
		
		jQuery.ajax({
			url: url,
			type: 'POST',
			data: param,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			error		: function(_, textStatus, errorThrown) {
				alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
			},
			success		: function(data) {
				//console.log(data);
				if(data.O_MSG_CODE){
					alert('주문이 확정되었습니다.');
				}else{
					alert('주문 확정이 실패하였습니다.');
				}
				
			},
			beforeSend	: function() {cfn_loadingModalOpen1();},
			complete	: function() {cfn_loadingModalClose1();}
		});
	}
	
	
}

/* 거래명세서 출력 */
function fn_tradingStat(){
	if(spdList.getRowCount() == 0){
		alert("$!lang.getText('조회 된 데이터가 없습니다.')");
		return false;
	}
	
	var ordNo = jQuery('form[name="frm_list"] input[name="vrSrchOrdNo"]').val();
	
	if(cfn_isEmpty(ordNo)){
		alert("$!lang.getText('선택된 데이터가 없습니다.')");
		return false;
	}
	
	if(confirm("$!lang.getText('출력하시겠습니까')")){
		var strParameter  = [];
		strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchOrdNo']").val());
		strParameter.push(jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val());
		strParameter.push(jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val());
		strParameter.push(jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val());
		strParameter.push(jQuery("form[name='frm_list'] select[name='productType'] option:selected").val());


		//jsp 파라미터
		var fileName = "WINUSOM010R2RB";
		var reportName = "WINUSOM010R2.ozr";
		var odiName = "WINUSOM010R2";
		var title = '$!lang.getText("label")';
		var arrKey = ['ORD_NO','DT','DT_TYPE','TEMP_TYPE','PRODUCT_TYPE','FILE_TAIL'];
		var param=""; 
		param = "?strParameter=";
		param += "&arrKey=" + arrKey;
		param += "&TEMP_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val();
		param += "&PRODUCT_TYPE=" + jQuery("form[name='frm_list'] select[name='productType'] option:selected").val();
		param += "&DT=" + jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val();
		param += "&DT_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val();
		param += "&ORD_NO=" + jQuery("form[name='frm_list'] input[name='vrSrchOrdNo']").val();
		param += "&FILE_TAIL=_ord'";
		
	
		param += "&fileName="+fileName;
		param += "&reportName="+reportName;
		param += "&odiName="+odiName;
		param += "&title="+title;
		var url     = "/common/OZreport8.action" + param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();

		 /*
		var param 		= "?strParameter="+strParameter;
		var url         = "/WMSOM010pop2.action"+param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();
		*/
	}
}

/* 전체거래명세서 출력 */
function fn_tradingStatAll(){
	if(spdList.getRowCount() == 0){
		alert("$!lang.getText('조회 된 데이터가 없습니다.')");
		return false;
	}
	
	if(confirm("$!lang.getText('출력하시겠습니까')")){
		var strParameter  = [];
		strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val());
		strParameter.push(jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val());
		strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchTrcNum']").val());
		strParameter.push(jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val());
		strParameter.push(jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val());
		strParameter.push(jQuery("form[name='frm_list'] select[name='productType'] option:selected").val());
		var vrSrchRoutDesc = jQuery("form[name='frm_list'] select[name='vrSrchRoutDesc'] option:selected ").val();
		strParameter.push(vrSrchRoutDesc);
		if(!cfn_isEmpty(vrSrchRoutDesc)){
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo']").val());
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo2']").val());
			
		}
		
		//jsp 파라미터
		var fileName = "WINUSOM010R2RB";
		var reportName = "WINUSOM010R2.ozr";
		var odiName = "WINUSOM010R2";
		var title = '$!lang.getText("label")';
		var arrKey = ['TEMP_TYPE','TRC_NUM','CD_PARTNER','PRODUCT_TYPE','DT','DT_TYPE','ROUTDESC','ROUTDESC_NO','ROUTDESC_NO2','FILE_TAIL'];
		var param=""; 
		param = "?strParameter=";
		param += "&arrKey=" + arrKey;
		param += "&TEMP_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val();
		param += "&TRC_NUM=" + jQuery("form[name='frm_list'] input[name='vrSrchTrcNum']").val();
		param += "&CD_PARTNER=" + jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val();
		param += "&PRODUCT_TYPE=" + jQuery("form[name='frm_list'] select[name='productType'] option:selected").val();
		param += "&DT=" + jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val();
		param += "&DT_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val();
		param += "&ROUTDESC=" +  jQuery("form[name='frm_list'] select[name='vrSrchRoutDesc'] option:selected").val();
		param += "&ROUTDESC_NO=" + jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo']").val();
		param += "&ROUTDESC_NO2=" + jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo2']").val();
		//param += "&ORD_NO=" + jQuery("form[name='frm_list'] input[name='vrSrchOrdNo']").val();
		param += "&FILE_TAIL=_ord'";
	
		param += "&fileName="+fileName;
		param += "&reportName="+reportName;
		param += "&odiName="+odiName;
		param += "&title="+title;
		var url     = "/common/OZreport8.action" + param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();

		
		/*
		기존 
		var param 		= "?strParameter="+strParameter;
		var url         = "/WMSOM010pop.action"+param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();
		*/
	}
}

function vrSrchRoutDescNoExtendedBtnOnClick(){
	
	jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNo2"]').val("");
	var vrSrchRoutDescNoExtendedOn = jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val();
	
	if(vrSrchRoutDescNoExtendedOn === "false") {
		jQuery('#vrSrchRoutDescNoExtendedBox').show();
		jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val("true");
	}else{
		jQuery('#vrSrchRoutDescNoExtendedBox').hide();
	 	jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val("false");
	}
	
} 

function btnDisable(obj){
	
	var btnOnOff = jQuery('.btnArea input[name="btn_on_off"]').val();
	
	if(btnOnOff === 'on'){
		alert('주문확정 및 거래명세서를 다운받으시려면 재검색을 해주십시오.');
		jQuery('.btnArea input[name="btn_on_off"]').val("off");
	}
	
	jQuery('.btnArea input[name="btn_pdf"]').attr('disabled', true);
	jQuery('.btnArea input[name="btn_pdf_all"]').attr('disabled', true);
	jQuery('.btnArea input[name="btn_write"]').attr('disabled', true);
	jQuery('.btnArea input[name="btn_pdf"]').addClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf_all"]').addClass("btnDisabled");
	jQuery('.btnArea input[name="btn_write"]').addClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf"]').removeClass("btnEtc");
	jQuery('.btnArea input[name="btn_pdf_all"]').removeClass("btnEtc");
	jQuery('.btnArea input[name="btn_write"]').removeClass("btnEtc");
	
}

function btnAble(obj){
	jQuery('.btnArea input[name="btn_on_off"]').val("on");
	jQuery('.btnArea input[name="btn_pdf"]').attr('disabled', false);
	jQuery('.btnArea input[name="btn_pdf_all"]').attr('disabled', false);
	jQuery('.btnArea input[name="btn_write"]').attr('disabled', false);
	jQuery('.btnArea input[name="btn_pdf"]').removeClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf_all"]').removeClass("btnDisabled");
	jQuery('.btnArea input[name="btn_write"]').removeClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf"]').addClass("btnEtc");
	jQuery('.btnArea input[name="btn_pdf_all"]').addClass("btnEtc");
	jQuery('.btnArea input[name="btn_write"]').addClass("btnEtc");
}


/* 매출거래처코드 입력 */
function txtSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val();
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val();
	/*
	if(vrSrchCustId == ""){
		alert('$!lang.getText("화주정보가없습니다")');
		jQuery("form[name='frm_list'] input[name='txtSrchTrustCustCd']").val("").focus();
		return false;
	}*/
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				strParameter.push("");
				strParameter.push("");
				strParameter.push("$ss_svc_no");
				strParameter.push("LC_ALL");
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setSrchCust&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CUST_CD);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].CUST_NM);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CUST_ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}

/* 매출거래처명 입력 */
function txtSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val();
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val();
	/*
	if(vrSrchCustId == ""){
		alert('$!lang.getText("화주정보가없습니다")');
		jQuery("form[name='frm_list'] input[name='txtSrchTrustCustCd']").val("").focus();
		return false;
	}
	*/
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push("");
				strParameter.push(vrSrchCustNm);
				strParameter.push("");
				strParameter.push("$ss_svc_no");
				strParameter.push("LC_ALL");
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setSrchCust&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CUST_CD);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].CUST_NM);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CUST_ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="txtSrchCustId"]').val("");
	}
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("거래명세표 발행")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsom/WMSOM010E1.vm")
    </div>
</div>
#parse("winus/common/footer.vm")