<div class="patternWrap">
	<form name="frm_list_E6">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th ><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('발주일')</th>
					<td>
						<input type="text" class = "text" style="width:60%" name="vrCalOutReqDt2" id="vrCalOutReqDt2" maxlength="10" onkeydown="cfn_setDateFld(vrCalOutReqDt2)" onChange="fn_getReqOrdSeq();"> 
					</td>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("거래처")</th>
					<td>
						<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:45%" onChange="txtSrchCustCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('SrchCust');return false;" class="imgSearch">
						<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:45%" onChange="txtSrchCustNm_OnKillFocus()"/>
						<input type="hidden" name="txtSrchCustId" id="txtSrchCustId"/>
					</td>
					<td></td>
					<th class="btnSearch" rowspan="2">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_searchDetail();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				
				 <tr>
					<th>$!lang.getText('주문구분')</th>
					<td>
						$!comCode.getComboComCode("ORD01", "vrOrdType", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:40%' onChange='fn_getReqOrdSeq();'")
					</td>
					<th>$!lang.getText('차수')</th>
					<td>
						<select name='vrSrchReqOrdSeq' id='vrSrchReqOrdSeq' class="selectbox" onChange="fn_vrSrchReqOrdSeq_change();">
							<!-- 
							#foreach($row in $REQ_ORD_SEQ)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
							 -->
						</select>
					</td>
					<th></th>
					<td></td>
					<td></td>
				</tr>
				
            </tbody>
        </table>
		
		<!-- 출고 파라미터 배송처 -->
		<input type="hidden" name="vrWhId"   		id="vrWhId"> <!-- null -->
		<input type="hidden" name="vrCustZoneId"   	id="vrCustZoneId">
		<input type="hidden" name="vrConfirmYn"   	id="vrConfirmYn">
		<input type="hidden" name="vrPayYn" 	  	id="vrPayYn"   		value="N">
		
		<div id = "formDataE6" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="detail_box column_2">	
		<div id = "tab2">
		    <div class="tabHistoryWrap" id="tabHistoryWrapDiv">
				<ul style="padding:0px 0px 0px 0px;">
					<li id="gTbLi-1"><a href = "#tabs-1" onClick="fn_tabsOnload('tabs-1', 'listT1')">$!lang.getText("전체상품")</a></li>	
					<li id="gTbLi-2"><a href = "#tabs-2" onClick="fn_tabsOnload('tabs-2', 'listT2')">$!lang.getText("3개월실적상품")</a></li>
					<li id="gTbLi-3"><a href = "#tabs-3" onClick="fn_tabsOnload('tabs-3', 'listT3')">$!lang.getText("최근주문상품")</a></li>
				</ul>
			</div>
		    <div id = "tabs-1" style="padding:0px 0px 0px 0px;">
		        <div class="btnArea">
					<div class = "btnAreaRight">
						<input type="button" value="$!lang.getText('조회')" class="EXC_AUTH btnExcel" name="btn_excel" onclick="fn_serch_tabs1();" role="button" aria-disabled="false"/>
					</div>
				</div>
		        <div class = "list_box">
					<table id="listT1" style="width:100%;"></table>
					<div id="pjmapT1"></div>
				</div>
		    </div>
		    
		    <div id = "tabs-2" style="padding:0px 0px 0px 0px;">
		        <div class = "list_box">
					<table id="listT2" style="width:100%;"></table>
					<div id="pjmapT2"></div>
				</div>
		    </div>
		    <div id = "tabs-3" style="padding:0px 0px 0px 0px;">
		        <div class = "list_box">
					<table id="listT3" style="width:100%;"></table>
					<div id="pjmapT3"></div>
				</div>
		    </div>
		</div>
	</div>
	
	
	<div style="font-size:12px; padding:5px 0px 5px 0px;">
		<table>
			<colgroup>
				<col width="33%">
		   		<col width="33%">
		 		<col width="33%">		
			</colgroup>
			<tr>
				<td>
					<div id="detailGbHeader"><b>$!lang.getText("주문내역")</b></div>
				</td>
				<td style="text-align:center;">
					<input type="button" name="addDataBtn"    id="addDataBtn"  	   value="↓"  onclick="fn_addData()" style="height:22px; width:20;"/>
					<input type="button" name="addDataBtn"    id="addDataBtn"  	   value="↑"  onclick="fn_deleteData()" style="height:22px; width:20;"/>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
	<div class="btnArea">
		<div class = "btnAreaRight">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_saveE6('SAVE');" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('주문확정')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_saveE6('CONF');" role="button" aria-disabled="false"/>
		</div>
	</div>
	<div class = "list_box">
		<table id="listDetail" style="width:100%;"></table>
		<div id="pjmapDetail"></div>
	</div>
</div>
