#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>

<script type="text/javascript">


////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var arrMC_SPD_CHK_SET = [];
var BKC_FRC = "#FFFBF7";
var BKC_DEF = "#FFFBF7";
var DFC_LINE2  = '#f3f3f3';

var sidIndex = -1;
var sidOrder = true;

/* Detail */
var SPDCOL_SELECT			= 0;
var SPDCOL_WORK_STAT_NM		= 1;
var SPDCOL_UNIT_NO			= 2;
var SPDCOL_ORD_DESC			= 3;

var SPDCOL_ORG_ORD_NO		= 4;
var SPDCOL_ORD_DETAIL_NO	= 5;

var SPDCOL_LEGACY_ORG_ORD_NO	= 6;

var SPDCOL_ORD_TYPE			= 7;
var SPDCOL_ORD_TYPE_NM		= 8;
var SPDCOL_ORD_SUBTYPE		= 9;
var SPDCOL_ORD_SUBTYPE_NM	= 10;
var SPDCOL_ITEM_CD			= 11;

var SPDCOL_ITEM_SIZE		= 12;
var SPDCOL_ITEM_COLOR		= 13;

var SPDCOL_ITEM_NM			= 14;
var SPDCOL_ORD_QTY			= 15;
var SPDCOL_WMS_ORD_QTY		= 16;
var SPDCOL_PARTNER_ID		= 17;
var SPDCOL_IN_QTY			= 18;

var SPDCOL_UOM_ID			= 19;
var SPDCOL_UOM				= 20;
var SPDCOL_VALID_DT			= 21;
var SPDCOL_ORD_DT			= 22;
var SPDCOL_DLV_DT			= 23;

var SPDCOL_UM				= 24;
var SPDCOL_AM				= 25;
var SPDCOL_VAT				= 26;
var SPDCOL_TOT				= 27;
var SPDCOL_RITEM_ID			= 28;

var SPDCOL_CUST_ID			= 29;
var SPDCOL_WORK_STAT		= 30;
var SPDCOL_ITEMBARCD		= 31;
var SPDCOL_LCID				= 32;
var SPDCOL_ORD_DIV			= 33;


var SPDCOL_PARTNER_CD 		= 34;
var SPDCOL_PARTNER_NM 		= 35;

var SPDCOL_END				= 36;

var spdSheet;
var spdList;
var arrMC_SPD_CHK_SET_D = [];
var BKC_FRC_D = "#FFFBF7";

/* 합계처리 변수 */
var cSumORD_QTY = 0; //주문수량
var cSumWMS_ORD_QTY = 0; //주문등록수량
var cSumIN_QTY = 0; //입고확정수량
var cSumTOT = 0; //금액합계

jQuery(document).ready(function(){	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({activate:function(event, ui){resizeGrid();}});
	
	/* button */
	jQuery("input:button").button();
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;
	
	
	/* 대표화주코드 참조 :: 화주코드가 없을 경우*/
	var vrSrchCustCd = jQuery("#vrSrchCustCd").val();
	if(vrSrchCustCd == ""){
		fn_getTypicalCust();
	}else{
		vrSrchCustCd_OnStart();
	}
	
	/* (본)주문확정여부 초기화 */
	jQuery("#vrWmsLinkYn").val("N");
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* datepicker */
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	
	jQuery("input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").datepicker({
		changeMonth : true,
		changeYear : true,
		dateFormat : "yy-mm-dd",
		showOn : "button",
		buttonImage : "/img/exam/btn/calendar.gif",
		buttonImageOnly : true
	});
	
	/* 주문상세 selectbox 필터처리 */
	var selectHit = ['','20','22']; //,'134'
	var selectSize = jQuery("#vrOrdSubtype option").size();
	var searchHit = [];
	var chk ;
	for(var i = 0 ; i < selectSize ; i++){
		chk = true;
		for(var j = 0 ; j < selectHit.size() ; j ++){
			if(jQuery("#vrOrdSubtype option:eq("+i+")").val() == selectHit[j]){
				chk = false;
			}
		}
		if(chk){
			searchHit.push(i);
		}
	}
	for(var i = searchHit.size() ; i > 0 ; i --){
		jQuery("form[name='frm_list'] select[name='vrOrdSubtype'] option:eq("+searchHit[i-1]+")").remove();
	}
	
	/* 등록상태 필터처리*/
	var selectRegHit = ['','100','500','990']; //,'134'
	var selectRegSize = jQuery("#vrOrdRegisterType option").size();
	var searchRegHit = [];
	var chk ;
	for(var i = 0 ; i < selectRegSize ; i++){
		chk = true;
		for(var j = 0 ; j < selectRegHit.size() ; j ++){
			if(jQuery("#vrOrdRegisterType option:eq("+i+")").val() == selectRegHit[j]){
				chk = false;
			}
		}
		if(chk){
			searchRegHit.push(i);
		}
	}
	for(var i = searchRegHit.size() ; i > 0 ; i --){
		jQuery("form[name='frm_list'] select[name='vrOrdRegisterType'] option:eq("+searchRegHit[i-1]+")").remove();
	}
	
	
	var dateFrom = new Date();
	var dateTo = new Date();
	var date = new Date();
	//date.setDate(date.getDate() + 1);
	dateFrom.setDate(dateFrom.getDate() - 10);
	dateTo.setDate(dateTo.getDate() + 10);
	jQuery("form[name='frm_list'] input[name='vrSrchReqDtFrom']").datepicker( "setDate", dateFrom);
	jQuery("form[name='frm_list'] input[name='vrSrchReqDtTo']").datepicker( "setDate", dateTo);
	jQuery("#vrCalDlvDt").val(formatDate(date));
	
	/* 그리드 공통화 적용 시작- Detail */
    /* Initspd SheetDetail */
    spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheet, false);
	spdList = spdSheet.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdList, 1, SPDCOL_END, 0, SPDCOL_UNIT_NO);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(spdList, SPDCOL_SELECT	,'CENTER'	,'CENTER'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_WORK_STAT_NM ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UNIT_NO ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DESC ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	
	
	
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORG_ORD_NO ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DETAIL_NO ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_LEGACY_ORG_ORD_NO ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	
	
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_TYPE ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_TYPE_NM ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_SUBTYPE	,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_SUBTYPE_NM	,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ITEM_CD ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ITEM_SIZE ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ITEM_COLOR ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ITEM_NM ,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_QTY ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DT ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_DLV_DT ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UM ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_AM ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_VAT ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TOT ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_RITEM_ID ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_CUST_ID ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UOM_ID ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UOM ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_WMS_ORD_QTY ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_PARTNER_ID ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_IN_QTY ,'CENTER'	,'RIGHT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_VALID_DT ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_WORK_STAT ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ITEMBARCD ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_LCID ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DIV ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_PARTNER_CD ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_PARTNER_NM ,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_CHECKBOX_Property(spdList	,SPDCOL_END ,'CENTER'	,'LEFT'	,8	,false	,false	,"");

	
	/* grid set style : colName, colHidden */
	ps_setSpreadStyleDetail();
	
	/* grid bindding */
	ps_setSpreadEvents_Bind(spdList);
	
	/* html force event window resizing */
    gfn_forceEventResize();
    
    jQuery("#vrSrchLegOrdId").focus();	
	/* 그리드 공통화 적용 끝- Detail */
});

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [year, month, day].join('-');
}

function ps_setSpreadStyleDetail(){
	/* colName */
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_SELECT			,'선택'				,35		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_WORK_STAT_NM	,'등록상태'				,80		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UNIT_NO			,'UNIT_NO'			,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DESC		,'SAP창고'			,100	,true);
	
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORG_ORD_NO		,'원주문번호'			,180	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DETAIL_NO	,'의뢰순서'				,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_LEGACY_ORG_ORD_NO		,'고객사주문번호'		,170	,false);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_TYPE		,'주문타입코드'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_TYPE_NM		,'주문타입'				,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_SUBTYPE		,'주문상세타입코드'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_SUBTYPE_NM	,'주문상세타입'			,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ITEM_CD			,'품목코드'				,150	,true);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ITEM_SIZE		,'사이즈'				,100 	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ITEM_COLOR		,'색상'				,100	,false);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ITEM_NM			,'품목명'				,270	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_QTY			,'주문수량'				,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DT			,'주문일자'				,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_DLV_DT			,'납품일자'				,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UM				,'단가'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_AM				,'공급가'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_VAT				,'부가세'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_TOT				,'합계'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_RITEM_ID		,'RITEM_ID'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_CUST_ID			,'CUST_ID'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UOM_ID			,'UOM_ID'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UOM				,'UOM'				,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_WMS_ORD_QTY		,'주문등록수량'			,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_PARTNER_ID		,'PARTNER_ID'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_IN_QTY			,'입고확정수량'			,100	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_VALID_DT		,'유통기한'				,150	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_WORK_STAT		,'WORK_STAT'		,150	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ITEMBARCD		,'품목바코드'			,150	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_LCID			,'SPDCOL_LCID'		,150	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DIV			,'ORD_DIV'			,100	,false);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_PARTNER_CD		,'고객사코드'			,80		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_PARTNER_NM		,'고객사명'				,200	,true);
	
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_END				,'end'				,100	,false);

}

/* 조회상세 */
function fn_searchDetail(cdCompany, cdPartner, noRcv, dtReq){
	var param = jQuery("form[name='frm_list']").serialize();
	var strUrl 	= "/WMSOM121/listNew2.action";
	
	jQuery.ajax({
		url: strUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//console.log(data);
			setRST_Detail(data);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}

/* 조회 callback */
function setRST_Detail(ds){
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    spdList.suspendPaint();
    
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	
    	spdList.setDataSource(arrBind);
    	spdList.bindColumn(SPDCOL_SELECT, false);
    	spdList.bindColumn(SPDCOL_WORK_STAT_NM, 'WORK_STAT_NM');
    	spdList.bindColumn(SPDCOL_ORG_ORD_NO, 'ORG_ORD_NO');
    	spdList.bindColumn(SPDCOL_ORD_DETAIL_NO, 'ORD_DETAIL_NO');
    	
    	spdList.bindColumn(SPDCOL_LEGACY_ORG_ORD_NO, 'LEGACY_ORG_ORD_NO');
    	
    	spdList.bindColumn(SPDCOL_ORD_TYPE, 'ORD_TYPE');
    	spdList.bindColumn(SPDCOL_ORD_TYPE_NM, 'ORD_TYPE_NM');
    	spdList.bindColumn(SPDCOL_ORD_SUBTYPE, 'ORD_SUBTYPE');
    	spdList.bindColumn(SPDCOL_ORD_SUBTYPE_NM, 'ORD_SUBTYPE_NM');
    	spdList.bindColumn(SPDCOL_ITEM_CD, 'ITEM_CD');
    	
    	spdList.bindColumn(SPDCOL_ITEM_SIZE, 'ITEM_SIZE');
    	spdList.bindColumn(SPDCOL_ITEM_COLOR, 'ITEM_COLOR');
    	
    	spdList.bindColumn(SPDCOL_ITEM_NM, 'ITEM_NM');
    	spdList.bindColumn(SPDCOL_ORD_QTY, 'ORD_QTY');
    	spdList.bindColumn(SPDCOL_ORD_DT, 'ORD_DT');
    	spdList.bindColumn(SPDCOL_DLV_DT, 'DLV_DT');
    	spdList.bindColumn(SPDCOL_PARTNER_CD, 'PARTNER_CD');
    	spdList.bindColumn(SPDCOL_PARTNER_NM, 'PARTNER_NM');
    	spdList.bindColumn(SPDCOL_UM, 'UM');
    	spdList.bindColumn(SPDCOL_AM, 'AM');
    	spdList.bindColumn(SPDCOL_VAT, 'VAT');
    	spdList.bindColumn(SPDCOL_TOT, 'TOT');
    	spdList.bindColumn(SPDCOL_RITEM_ID, 'RITEM_ID');
    	spdList.bindColumn(SPDCOL_CUST_ID, 'CUST_ID');
    	spdList.bindColumn(SPDCOL_UOM_ID, 'UOM_ID');
    	spdList.bindColumn(SPDCOL_UOM, 'UOM');
    	spdList.bindColumn(SPDCOL_WMS_ORD_QTY, 'WMS_ORD_QTY');
    	spdList.bindColumn(SPDCOL_PARTNER_ID, 'PARTNER_ID');
    	spdList.bindColumn(SPDCOL_IN_QTY, 'IN_QTY');
    	spdList.bindColumn(SPDCOL_VALID_DT, 'VALID_DT');
    	spdList.bindColumn(SPDCOL_WORK_STAT, 'WORK_STAT');
    	spdList.bindColumn(SPDCOL_ITEMBARCD, 'ITEMBARCD');
    	spdList.bindColumn(SPDCOL_LCID, 'LC_ID');
    	spdList.bindColumn(SPDCOL_ORD_DIV, 'ORD_DIV');
    	spdList.bindColumn(SPDCOL_UNIT_NO, 'UNIT_NO');
    	spdList.bindColumn(SPDCOL_ORD_DESC, 'ORD_DESC');
    	
    }
	
    for(var i = 0; i < spdList.getRowCount(); i++){
    	var ordQty = spdList.getValue(i, SPDCOL_ORD_QTY);
    	var wmsOrdQty = spdList.getValue(i, SPDCOL_WMS_ORD_QTY);
    	if(ordQty < 0){
    		 var row = spdList.getRange(i, 0, 1, spdList.getColumnCount(), GC.Spread.Sheets.SheetArea.viewport);
    		 row.backColor("yellow");
    	}
    	
    	if(!cfn_isEmpty(wmsOrdQty + "") && wmsOrdQty > 0 && wmsOrdQty !== ordQty){
    		var row = spdList.getRange(i, 0, 1, spdList.getColumnCount(), GC.Spread.Sheets.SheetArea.viewport);
   			row.backColor("#CCFFCC");
    	}
    	
    }
    
    ps_setSpreadStyleDetail();
    spdList.resumePaint();
    gfn_forceEventResize();
    jQuery('#srchCount').html(spdList.getRowCount());
    
    
    /* sum  STC */ 
    getTotStc(spdList);
    
}


/* sum  STC */
function getTotStc(spdList) {
	
	/* 합계처리 변수 초기화 */
	cSumORD_QTY = 0; 		//주문수량
	cSumWMS_ORD_QTY = 0; 	//주문등록수량
	cSumIN_QTY = 0;			//입고확정수량
	cSumTOT = 0; 			//금액합계
	 
    var nRow = spdList.getRowCount();
    var totColSum = 0;
    
    for (var i=0; i<nRow; i++){
    	//합계처리 변수 연산
    	cSumORD_QTY 	+= Number(spdList.getValue(i, SPDCOL_ORD_QTY));
    	cSumWMS_ORD_QTY += Number(spdList.getValue(i, SPDCOL_WMS_ORD_QTY));
    	cSumIN_QTY		+= Number(spdList.getValue(i, SPDCOL_IN_QTY));
    	cSumTOT 		+= Number(spdList.getValue(i, SPDCOL_TOT));
    }
    
    /* Add rows after the last row */
    var nRow = spdList.getRowCount();
    spdList.addRows(nRow, 1);
    spdList.addSpan(nRow, 0, 2, 3);
    //spdList.removeSpan(nRow, 2);
    
    
    /* 체크박스 타입 change */
    var instance = new GC.Spread.Sheets.CellTypes.Text();
    spdList.getCell(nRow, SPDCOL_SELECT).cellType(instance);
    
    
    spdList.setValue(nRow, SPDCOL_SELECT,"합계");
    spdList.setValue(nRow, SPDCOL_ORD_QTY, cSumORD_QTY);
    spdList.setValue(nRow, SPDCOL_WMS_ORD_QTY, cSumWMS_ORD_QTY);
    spdList.setValue(nRow, SPDCOL_IN_QTY, cSumIN_QTY);
    spdList.setValue(nRow, SPDCOL_TOT, cSumTOT);
    
    spdList.getRange(nRow, 0, 1, spdList.getColumnCount()).backColor(DFC_LINE2);
    
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
	if(sidIndex === args.col){
		sidOrder = !sidOrder;
	}else{
		sidOrder = true;
		sidIndex = args.col;
	}
	
	if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {
    	ps_setSelectALL(0, args);
    	return false;
    }else if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader){
    	spdList.sortRange(0, 0, spdList.getRowCount()-1, spdList.getColumnCount(), true, 
    	[{index:args.col, ascending:sidOrder}]);
    	
    }
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
	//alert("더블클릭");
}

//라우팅셀렉트박스 변경
function vrSrchRoutDescNo_OnChange(){
	jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo']").val("");
	jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo2']").val("");
	
	//초도만 임시적으로 예외처리
	var vrSrchRoutDesc = jQuery("form[name='frm_list'] select[name='vrSrchRoutDesc'] option:selected").val();	
	if(vrSrchRoutDesc === '초도'){
		jQuery('#vrSrchRoutDescNoBox').hide();
		return;
	}
	
	
	var vrSrchCustCd = jQuery('form[name="frm_list"] select[name="vrSrchRoutDesc"]').val();
	if(cfn_isEmpty(vrSrchCustCd)) {
		jQuery('#vrSrchRoutDescNoBox').hide();
	}else{
		jQuery('#vrSrchRoutDescNoBox').show();
	}
}

function fn_onChangeVrSrchLegOrdId(){
	fn_searchDetail();
}

/* 화주코드 자동입력 */
function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&txtSrchTrustCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			
			//jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').attr('disabled', true);
			//jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').attr('disabled', true);
			//jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').attr('disabled', true);
			//jQuery('form[name="frm_list"] img[name="btnSrchCustPop"]').attr('onclick', '').unbind('click');
			
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
	
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&txtSrchTrustCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&txtSrchTrustCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 매출거래처코드 입력 */
function txtSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val();
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val();
	/*
	if(vrSrchCustId == ""){
		alert('$!lang.getText("화주정보가없습니다")');
		jQuery("form[name='frm_list'] input[name='txtSrchTrustCustCd']").val("").focus();
		return false;
	}*/
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				strParameter.push("");
				strParameter.push("");
				strParameter.push("$ss_svc_no");
				strParameter.push("LC_ALL");
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setSrchCust&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CUST_CD);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].CUST_NM);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CUST_ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}

/* 매출거래처명 입력 */
function txtSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val();
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val();
	/*
	if(vrSrchCustId == ""){
		alert('$!lang.getText("화주정보가없습니다")');
		jQuery("form[name='frm_list'] input[name='txtSrchTrustCustCd']").val("").focus();
		return false;
	}
	*/
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push("");
				strParameter.push(vrSrchCustNm);
				strParameter.push("");
				strParameter.push("$ss_svc_no");
				strParameter.push("LC_ALL");
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setSrchCust&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CUST_CD);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].CUST_NM);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CUST_ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}
/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	var popupNm      = "fn_Popup";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'PARTNER':	//검색 파트너 
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val());
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val());
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrId']").val());
			strParameter.push("$ss_svc_no");
			strParameter.push("LC_ALL");
			param = "?func=fn_setSrchCust&strParameter=" + strParameter+"&stBtnYn=Y";
			url = "/WMSCM011.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, popupNm, width, height);
	asppop.focus();
}

/* 매출거래처 */
function fn_setSrchCust(arr){
	var info = arr[0];
	jQuery("#vrSrchPtnrCd").val(info.cust_cd);
	jQuery("#vrSrchPtnrNm").val(info.cust_nm);
	jQuery("#vrSrchPtnrId").val(info.cust_id);
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 거래처 팝업 후 처리 */
function fn_setWMSMS200(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(info.cd_partner);
	jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(info.ln_partner);
	
}

function vrSrchRoutDescNoExtendedBtnOnClick(){
	
	jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNo2"]').val("");
	var vrSrchRoutDescNoExtendedOn = jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val();
	
	if(vrSrchRoutDescNoExtendedOn === "false") {
		jQuery('#vrSrchRoutDescNoExtendedBox').show();
		jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val("true");
	}else{
		jQuery('#vrSrchRoutDescNoExtendedBox').hide();
	 	jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val("false");
	}
	
} 



/* 주문확정 */
function fn_ordConfirm(){
	//배송일기준 검색일때만 가능
	//배송일 기준 콤보박스 변경시 락
	
	var grid = spdList;
	var selectIds = fn_checkedList(grid);

	if (selectIds == "") {
		alert("$!lang.getText('저장할데이터를선택해주세요')");
		return false;
	}
	
	//var vrCalDlvDt = jQuery('#vrCalDlvDt').val();
	//var vrSrchCustId = jQuery('#vrSrchCustId').val();
	
	var workCount = 0;
	var seleteIdsLength =selectIds.length-1;
	var url 	= "/WMSOM021/saveInOrderVX.action";
	var param	= jQuery("form[name='frm_list']").serialize();
	param += "&I_selectIds=" + seleteIdsLength ;
	
	if(confirm("$!lang.getText('확정하시겠습니까')")){
		for(var i = 0; i < selectIds.length-1; i++){
			var checkWorkStatNm = grid.getValue(selectIds[i], SPDCOL_WORK_STAT_NM);
			if(checkWorkStatNm != '미등록' &&  checkWorkStatNm != null ){
				workCount++;
			}
			
			var I_IN_CUST_ID		= grid.getValue(selectIds[i], SPDCOL_PARTNER_ID);
			var I_ST_GUBUN			= "INSERT";
			var I_RITEM_ID			= grid.getValue(selectIds[i], SPDCOL_RITEM_ID);
			var I_IN_ORD_UOM_ID		= grid.getValue(selectIds[i], SPDCOL_UOM_ID);
			var I_IN_WORK_UOM_ID	= grid.getValue(selectIds[i], SPDCOL_UOM_ID);
			var I_IN_ORD_QTY		= grid.getValue(selectIds[i], SPDCOL_ORD_QTY);
			var I_IN_WORK_ORD_QTY	= grid.getValue(selectIds[i], SPDCOL_ORD_QTY);
			var I_IN_ORG_ORD_ID		= grid.getValue(selectIds[i], SPDCOL_ORG_ORD_NO);
			var I_IN_ORD_DETAIL_NO	= grid.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO);
			var I_IN_VALID_DT		= grid.getValue(selectIds[i], SPDCOL_VALID_DT);
			var I_IN_ORD_SUBTYPE	= grid.getValue(selectIds[i], SPDCOL_ORD_SUBTYPE);
			var I_IN_DLV_DT			= grid.getValue(selectIds[i], SPDCOL_DLV_DT);
			var I_ORD_DIV			= grid.getValue(selectIds[i], SPDCOL_ORD_DIV);
			var I_UNIT_NO			= grid.getValue(selectIds[i], SPDCOL_UNIT_NO);
			var I_ORD_DESC			= grid.getValue(selectIds[i], SPDCOL_ORD_DESC);

			if(I_IN_VALID_DT){
				I_IN_VALID_DT = I_IN_VALID_DT.replace(/-/gi, '');
			}
			
			param += "&I_IN_CUST_ID"		+ i + "=" + I_IN_CUST_ID;
			param += "&I_ST_GUBUN"			+ i + "=" + I_ST_GUBUN;
			param += "&I_RITEM_ID"			+ i + "=" + I_RITEM_ID;
			param += "&I_IN_ORD_UOM_ID"		+ i + "=" + I_IN_ORD_UOM_ID;
			param += "&I_IN_WORK_UOM_ID"	+ i + "=" + I_IN_WORK_UOM_ID;
			param += "&I_IN_ORD_QTY"		+ i + "=" + I_IN_ORD_QTY;
			param += "&I_IN_WORK_ORD_QTY"	+ i + "=" + I_IN_WORK_ORD_QTY;
			param += "&I_IN_ORG_ORD_ID"		+ i + "=" + I_IN_ORG_ORD_ID;
			param += "&I_IN_ORD_DETAIL_NO"	+ i + "=" + I_IN_ORD_DETAIL_NO;
			param += "&I_IN_VALID_DT"		+ i + "=" + I_IN_VALID_DT;
			param += "&I_IN_ORD_SUBTYPE"	+ i + "=" + I_IN_ORD_SUBTYPE;
			param += "&I_IN_DLV_DT"			+ i + "=" + I_IN_DLV_DT;
			param += "&I_ORD_DIV"			+ i + "=" + I_ORD_DIV;
			param += "&I_UNIT_NO"			+ i + "=" + I_UNIT_NO;
			param += "&I_ORD_DESC"			+ i + "=" + I_ORD_DESC;
		}
		
		if(workCount > 0){
			alert("이미 등록되어있는 주문이 존재합니다. 등록상태를 확인해주세요. (주문확정제한)");
			return false;
			/*
			var answer = confirm("이미 등록되어있는 주문이 존재합니다. 그래도 진행하시겠습니까?");
			if(!answer){
				return false;
			}
			*/
		}
		
		jQuery.ajax({
			url: url,
			type: 'POST',
			data: param,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			error		: function(_, textStatus, errorThrown) {
				alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
			},
			success		: function(data) {
				//console.log(data);
				if(data.errCnt == 0){
					alert('주문이 확정되었습니다.');
					fn_searchDetail();
				}else{
					alert('처리 중 오류.');
				}
			},
			beforeSend	: function() {cfn_loadingModalOpen1();},
			complete	: function() {cfn_loadingModalClose1();}
		});
	}
}

function fn_ordConfirm_V2(){
	var grid = spdList;
	var selectIds = fn_checkedList(grid);

	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	
	if (selectIds == "") {
		alert("$!lang.getText('저장할데이터를선택해주세요')");
		return false;
	}

	if(vrSrchCustId == ""){
		alert("$!lang.getText('화주를 입력해 주세요.')");
		fn_Popup('CUST');
		return;
	}
	
	var workCount = 0;
	var seleteIdsLength =selectIds.length-1;
	var url 	= "/WMSOM021/saveInOrderVX_V2.action";
	var param	= jQuery("form[name='frm_list']").serialize();
	param += "&I_selectIds=" + seleteIdsLength ;
	
	if(confirm("$!lang.getText('확정하시겠습니까')")){
		for(var i = 0; i < selectIds.length-1; i++){
			var checkWorkStatNm = grid.getValue(selectIds[i], SPDCOL_WORK_STAT_NM);
			if(checkWorkStatNm != '미등록' &&  checkWorkStatNm != null ){
				workCount++;
			}
			
			var I_IN_CUST_ID		= grid.getValue(selectIds[i], SPDCOL_PARTNER_ID);
			var I_ST_GUBUN			= "INSERT";
			var I_CUST_CD			= vrSrchCustCd;
			var I_RITEM_ID			= grid.getValue(selectIds[i], SPDCOL_RITEM_ID);
			var I_RITEM_CD			= grid.getValue(selectIds[i], SPDCOL_ITEM_CD);
			var I_RITEM_NM			= grid.getValue(selectIds[i], SPDCOL_ITEM_NM);
			var I_IN_UOM_CD			= grid.getValue(selectIds[i], SPDCOL_UOM);
			var I_IN_ORD_UOM_ID		= grid.getValue(selectIds[i], SPDCOL_UOM_ID);
			var I_IN_WORK_UOM_ID	= grid.getValue(selectIds[i], SPDCOL_UOM_ID);
			var I_IN_ORD_QTY		= grid.getValue(selectIds[i], SPDCOL_ORD_QTY);
			var I_IN_WORK_ORD_QTY	= grid.getValue(selectIds[i], SPDCOL_ORD_QTY);
			var I_IN_ORG_ORD_ID		= grid.getValue(selectIds[i], SPDCOL_ORG_ORD_NO);
			var I_IN_ORD_DETAIL_NO	= grid.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO);
			var I_IN_VALID_DT		= grid.getValue(selectIds[i], SPDCOL_VALID_DT);
			var I_IN_ORD_SUBTYPE	= grid.getValue(selectIds[i], SPDCOL_ORD_SUBTYPE);
			var I_IN_DLV_DT			= grid.getValue(selectIds[i], SPDCOL_DLV_DT);
			var I_ORD_DIV			= grid.getValue(selectIds[i], SPDCOL_ORD_DIV);
			var I_UNIT_NO			= grid.getValue(selectIds[i], SPDCOL_UNIT_NO);
			var I_ORD_DESC			= grid.getValue(selectIds[i], SPDCOL_ORD_DESC);

			if(I_IN_VALID_DT){
				I_IN_VALID_DT = I_IN_VALID_DT.replace(/-/gi, '');
			}
			
			param += "&I_IN_CUST_ID"		+ i + "=" + I_IN_CUST_ID;
			param += "&I_ST_GUBUN"			+ i + "=" + I_ST_GUBUN;
			param += "&I_CUST_CD"			+ i + "=" + I_CUST_CD;
			param += "&I_RITEM_ID"			+ i + "=" + I_RITEM_ID;
			param += "&I_RITEM_CD"			+ i + "=" + I_RITEM_CD;
			param += "&I_RITEM_NM"			+ i + "=" + I_RITEM_NM;
			param += "&I_IN_UOM_CD"			+ i + "=" + I_IN_UOM_CD;
			param += "&I_IN_ORD_UOM_ID"		+ i + "=" + I_IN_ORD_UOM_ID;
			param += "&I_IN_WORK_UOM_ID"	+ i + "=" + I_IN_WORK_UOM_ID;
			param += "&I_IN_ORD_QTY"		+ i + "=" + I_IN_ORD_QTY;
			param += "&I_IN_WORK_ORD_QTY"	+ i + "=" + I_IN_WORK_ORD_QTY;
			param += "&I_IN_ORG_ORD_ID"		+ i + "=" + I_IN_ORG_ORD_ID;
			param += "&I_IN_ORD_DETAIL_NO"	+ i + "=" + I_IN_ORD_DETAIL_NO;
			param += "&I_IN_VALID_DT"		+ i + "=" + I_IN_VALID_DT;
			param += "&I_IN_ORD_SUBTYPE"	+ i + "=" + I_IN_ORD_SUBTYPE;
			param += "&I_IN_DLV_DT"			+ i + "=" + I_IN_DLV_DT;
			param += "&I_ORD_DIV"			+ i + "=" + I_ORD_DIV;
			param += "&I_UNIT_NO"			+ i + "=" + I_UNIT_NO;
			param += "&I_ORD_DESC"			+ i + "=" + I_ORD_DESC;
		}
		
		if(workCount > 0){
			alert("이미 등록되어있는 주문이 존재합니다. 등록상태를 확인해주세요. (주문확정제한)");
			return false;
			/*
			var answer = confirm("이미 등록되어있는 주문이 존재합니다. 그래도 진행하시겠습니까?");
			if(!answer){
				return false;
			}
			*/
		}
		
		jQuery.ajax({
			url: url,
			type: 'POST',
			data: param,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			error		: function(_, textStatus, errorThrown) {
				alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
			},
			success		: function(data) {
				//console.log(data);
				if(data.errCnt == 0){
					alert('주문이 확정되었습니다.');
					fn_searchDetail();
				}else{
					alert('처리 중 오류.');
				}
			},
			beforeSend	: function() {cfn_loadingModalOpen1();},
			complete	: function() {cfn_loadingModalClose1();}
		});
	}
}

function fn_checkedList(orGrid) {
	var grid = orGrid;
	var selectIds = [];	

	for(var i = 0; i < grid.getRowCount(); i++){
        if(grid.getValue(i, 0)){
        	selectIds.push(i + '');
        }
    }
	//console.log(selectIds);
	return selectIds;
}

//엑셀다운
function fn_excelDown(){
	var spdListExport = spdSheet.getActiveSheet();
	if(spdListExport.getRowCount() > 0){
		pf_MakeTableForEXCEL(spdListExport);
		pf_ExcelReport("$!lang.getText('입고예정정보')");
	}else{
		alert("$!lang.getText('조회결과가 존재하지 않습니다.')");
		return false;
	}
}
function fn_inList(){
	
	
	var vrSrchReqDtFrom = jQuery('#vrSrchReqDtFrom').val();
	var vrSrchReqDtTo = jQuery('#vrSrchReqDtTo').val();
	var vrSrchCustId = jQuery('#vrSrchCustId').val();
	var txtSrchCustId = jQuery('#txtSrchCustId').val();
	var vrOrdSubtype = jQuery('#vrOrdSubtype').val();
	
	var vrSrchRitemId = jQuery('#vrSrchRitemId').val();
	var vrOrdRegisterType = jQuery('#vrOrdRegisterType').val();
	
	
	var strParameter  = [];
	strParameter.push(vrSrchReqDtFrom);
	strParameter.push(vrSrchReqDtTo);
	strParameter.push(vrSrchCustId);
	strParameter.push(txtSrchCustId);
	strParameter.push(vrOrdSubtype);
	strParameter.push(vrSrchRitemId);
	strParameter.push(vrOrdRegisterType);

	
	cfn_closeProgress();
	
	var sparam 		= "?strParameter="+strParameter;
	var url         = "/WMSOM120pop.action"+sparam;
	var width 		= "1000";	//900 MIN 1024
	var height 		= "800";		//크기다시 재조정할 필요있음
	var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
	asppop.focus();

}



/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val(data[0].NAME);
				console.log(data[0]);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val("");
	}
}
/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val(info.item_code);
	jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val(info.item_kor_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val(info.ritem_id);
}

function fn_removeOrder(){
	
	var grid = spdList;
	var selectIds = fn_checkedList(grid);

	if (selectIds == "") {
		alert("$!lang.getText('삭제할 데이터를선택해주세요')");
		return false;
	}
	
	var seleteIdsLength =selectIds.length-1;
	var url = "/WMSOM020/deleteInOrder.action";
	var param 	= jQuery("form[name='frm_list']").serialize();
	param += "&I_selectIds=" + seleteIdsLength ;
	
	if(confirm("$!lang.getText('삭제하시겠습니까?')")){
		for(var i = 0; i < selectIds.length-1; i++){
			
			var checkWorkStatNm = grid.getValue(selectIds[i], SPDCOL_WORK_STAT_NM);
			
			if(checkWorkStatNm != '미등록' && checkWorkStatNm != null ){
				alert("미등록 상태가 아닌 주문이 존재합니다.\r\n미등록 상태만 삭제 가능합니다.");
				return false;
			}
			var I_IN_ORG_ORD_ID = grid.getValue(selectIds[i], SPDCOL_ORG_ORD_NO);
			var I_IN_ORD_DETAIL_NO = grid.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO);
			var I_IN_ORD_DT = grid.getValue(selectIds[i], SPDCOL_ORD_DT);
			
			param += "&I_IN_ORG_ORD_ID" + i + "=" + I_IN_ORG_ORD_ID;
			param += "&I_IN_ORD_DETAIL_NO" + i + "=" + I_IN_ORD_DETAIL_NO;
			param += "&I_IN_ORD_DT" + i + "=" + I_IN_ORD_DT;
		}
		
		jQuery.ajax({
			url: url,
			type: 'POST',
			data: param,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			error		: function(_, textStatus, errorThrown) {
				alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
			},
			success		: function(data) {
				//console.log(data);
				if(data.errCnt == 0){
					alert('삭제가 확정되었습니다.');
					fn_searchDetail();
				}else{
					alert('처리 중 오류.');
				}
			},
// 			beforeSend	: function() {cfn_loadingModalOpen1();},
// 			complete	: function() {cfn_loadingModalClose1();}
		});
	}
}

/* 템플릿 입력 */
function fn_orderUpload(){
	var vrTemplateType 	= 'UI';	//입고,출고구분
	var vrTemplateFile 	= '';	//????
	var param 	= '?func=fn_search&vrTemplateType=' + vrTemplateType + "&vrTemplateFile=" + vrTemplateFile;
	
	/*기존 엑셀 처리*/
	//var url 	= '/WMSOP030E2.action'+param; var width = "1100"; var height = "780";
	//var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
	/*신규버전 엑셀 JAVA 처리*/
// 	var url 	= '/WMSOP030E4.action'+param; var width = "800";  var height = "220";
	var url 	= '/WMSOP030E13.action'+param; var width = "800";  var height = "220";
	var asppop 	= cfn_openPopTop(url, "fn_TempPopup", width, height);
	
	asppop.focus();
}


//라벨출력
function fn_labelPrint(){
	
	var selectIds = fn_checkedList(spdList);
	
	var seleteIdsLength = selectIds.length-1;
	
// 	var nRow   = spdList.getRowCount();	
// 	var nRow   = selectIds.length-1;	
	var tmpCnt = 0;
	var CUST_ID 		= jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val();

	if(arrMC_SPD_CHK_SET.length == 0){
        alert("$!lang.getText('선택된 항목이 없습니다.')");
        return false;
    }
  	
	
	if(confirm("$!lang.getText('출력하시겠습니까?')")){
		jQuery("#formDataE6").html("");
	    if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
	        jQuery("#formDataE6").append("<input type='text' name='selectIds' value='0'/>");
	        jQuery("#formDataE6").append("<br>");
	    }else{
	        tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
	    }
		
// 	    for(var curRow = 0; curRow < nRow; curRow++){
	    for(var curRow = 0; curRow < selectIds.length-1 ; curRow++){
// 	    	if(spdList.getCell(curRow, SPDCOL_SELECT).value() == true){
	    	
		    	var checkWorkStatNm = spdList.getValue(selectIds[curRow], SPDCOL_WORK_STAT_NM);
				
				if(checkWorkStatNm != '미등록' && checkWorkStatNm != null ){
					alert("미등록 상태가 아닌 주문이 존재합니다.\r\n미등록 상태만 가능합니다.");
					return false;
				}
		    	

	    		jQuery("#formDataE6").append("<input type='text' name='ORG_ORD_NO" 		+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_ORG_ORD_NO) + "'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='ORG_DETAIL_NO" 	+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_ORD_DETAIL_NO) + "'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='ORG_ORD_QTY" 	+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_ORD_QTY) + "'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='ORG_ITEM_CD" 	+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_ITEM_CD) + "'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='CUST_ID"			+ tmpCnt + "' value='" + CUST_ID+"'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='ITEM_BAR_CD"		+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_ITEMBARCD) + "'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='RITEM_ID"		+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_RITEM_ID) + "'/>");
	    		jQuery("#formDataE6").append("<input type='text' name='LC_ID"			+ tmpCnt + "' value='" + spdList.getValue(selectIds[curRow], SPDCOL_LCID) + "'/>");
	    		
	    		
	    		
// 	    		jQuery("#formDataE6").append("<input type='text' name='ORD_DETAIL_NO" + tmpCnt + "' value='" + spdList.getValue(curRow, SPDCOL2_ORD_DETAIL_NO) + "'/>");
	            tmpCnt++;
// 	    	}
	    }
	    
	    jQuery("form[name='frm_list'] input[name='selectIds']").val(seleteIdsLength);
	    
	    var param = jQuery("form[name='frm_list']").serialize();
// 	    param += "&selectIds=" + seleteIdsLength ;
	    
// 	    var url = "/WMSOP035/saveList2DHL.action";
		var url = "/WMSOM020/saveCustLotNo.action";
		
	    jQuery.post(url, param, function(data){
// 	    	alert(data.MSG);
	    	//alert(data.errCnt);
	    	if(data.errCnt == 0 ){
				alert("저장되었습니다.");
	    		
// 	    		if(spdList.getRowCount() == 0){
// 	    			alert("$!lang.getText('조회 된 데이터가 없습니다.')");
// 	    			return false;
// 	    		}
	    		
	    		var param2 = "?strParameter=";
	    		param2 += "&LC_ID=" + jQuery("select[name='SVC_INFO'] option:selected").val();
// 	    		var paramRegOrdId 	 = "&REG_ORD_ID=" + jQuery("form[name='frm_list'] input[name='vrSrchOrgOrdId']").val();
	    		
	    		var selectIds = fn_checkedList(spdList);
	    		if(selectIds != ""){
	    				
		    		var REG_ORD_ID_B = [];
		    		var REG_ORD_SEQ = [];
		    		var RITEM_ID = [];
	    		
   					for(var i = 0; i < selectIds.length-1; i++){
   						
						REG_ORD_ID_B.push(spdList.getValue(selectIds[i], SPDCOL_ORG_ORD_NO));
						REG_ORD_SEQ.push(spdList.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO));
						RITEM_ID.push(spdList.getValue(selectIds[i], SPDCOL_RITEM_ID));
	    						
   					}
   					var paramRegOrdId	 = "&REG_ORD_ID=";
   					var paramOrdSeq		 = "&REG_ORD_SEQ=";
   					var paramRitemId	 = "&RITEM_ID=";
   					
   					for(var i = 0; i < REG_ORD_ID_B.length; i++){
   						if(i == REG_ORD_ID_B.length-1){
   							paramRegOrdId 		+= REG_ORD_ID_B[0];
   							paramOrdSeq			+= REG_ORD_SEQ[i];
   							paramRitemId		+= RITEM_ID[i];
   						}else{
//    							paramRegOrdId 		+= REG_ORD_ID_B[0] + ",";
   							paramOrdSeq			+= REG_ORD_SEQ[i] + ",";
   							paramRitemId		+= RITEM_ID[i] + ",";
   						}
   					}
   					
   					param2 += paramRegOrdId;
   					param2 += paramOrdSeq;
   					param2 += paramRitemId;
   					
    				var url2 = '/WMSOM120pop2.action'+param2;
    				var width 	= "1100";
    				var height 	= "780";
    				var asppop = cfn_openPop2(url2, "fn_InPopup_"+i, width, height);
    				
    				asppop.focus();
    				
//     				jQuery("#formData").html("");
//     				tmpCnt = 0;
	    			
	    		}else{
	    			//alert("");
	    		}
// 		        fn_search2();
	    		fn_searchDetail();
	        }else{
	        	alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의'))");
			}
	    }).fail(function(xhr, textStatus){
			if(xhr.status == 404){
				location.href=('/index.html');
			}
	 	});
	}
}


//라벨재출력
function fn_labelRePrint(){
	
	var selectIds = fn_checkedList(spdList);
	
	var seleteIdsLength = selectIds.length-1;
	var tmpCnt = 0;
	var CUST_ID 		= jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val();

	if(arrMC_SPD_CHK_SET.length == 0){
      alert("$!lang.getText('선택된 항목이 없습니다.')");
      return false;
  	}
	
	if(confirm("$!lang.getText('출력하시겠습니까?')")){
	    		
   		if(spdList.getRowCount() == 0){
   			alert("$!lang.getText('조회 된 데이터가 없습니다.')");
   			return false;
   		}
   		
   		var param2 = "?strParameter=";
		param2 += "&LC_ID=" + jQuery("select[name='SVC_INFO'] option:selected").val();
		var paramRegOrdId 	 = "&REG_ORD_ID=" + jQuery("form[name='frm_list'] input[name='vrSrchOrgOrdId']").val();
		
		var selectIds = fn_checkedList(spdList);
		if(selectIds != ""){
				
    		var REG_ORD_ID_B = [];
    		var REG_ORD_SEQ = [];
    		var RITEM_ID = [];
		
				for(var i = 0; i < selectIds.length-1; i++){
					
				REG_ORD_ID_B.push(spdList.getValue(selectIds[i], SPDCOL_ORG_ORD_NO));
				REG_ORD_SEQ.push(spdList.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO));
				RITEM_ID.push(spdList.getValue(selectIds[i], SPDCOL_RITEM_ID));
						
				}
				
				var paramOrdSeq		 = "&REG_ORD_SEQ=";
				var paramRitemId	 = "&RITEM_ID=";
				
				for(var i = 0; i < REG_ORD_ID_B.length; i++){
					if(i == REG_ORD_ID_B.length-1){
//						paramRegOrdId 		+= REG_ORD_ID[i];
						paramOrdSeq			+= REG_ORD_SEQ[i];
						paramRitemId		+= RITEM_ID[i];
					}else{
//						paramRegOrdId 		+= REG_ORD_ID[i] + ",";
						paramOrdSeq			+= REG_ORD_SEQ[i] + ",";
						paramRitemId		+= RITEM_ID[i] + ",";
					}
				}
				
				param2 += paramRegOrdId;
				param2 += paramOrdSeq;
				param2 += paramRitemId;
				
			var url2 = '/WMSOM120pop2.action'+param2;
			var width 	= "1100";
			var height 	= "780";
			var asppop = cfn_openPop2(url2, "fn_InPopup_"+i, width, height);
			
			asppop.focus();
				
   			
   		}else{
   			
   		}
    }
}


function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
		
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
	
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
		
		//카카오VX 오산센터일 경우 자동으로 템플릿 변경
		if("$ss_svc_no" == "0000003200"){
			fn_getTp();
		}
		
		
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

//입고LOT수정
function fn_inOrdDeSave(){
	var strParameter 	= [];
	var grid = spdList;
	var selectIds = fn_checkedList(grid);
// 	var vrChangeWorkId 	= grid.getCell(rowid, 'CHANGE_WORK_ID');
// 	var vrWorkSeq 		= grid.getCell(rowid, 'WORK_SEQ');
	
	var nRow   = spdList.getRowCount();
	
	var vrssLcId 	= jQuery("select[name='SVC_INFO'] option:selected").val();
	var ordIds = [];
	var ordSeqs = [];
	var ordItemCds = [];
	var ordItemNms = [];
	var ordOrdQtys = [];
	
	var custId = [];
	var itemBarCd = [];
	var ritemId = [];
	var lcId = [];
	
	
	
	if(selectIds.length-1 > 1){
		alert("입고수정은 한 건씩만 가능합니다.");
		return;
	}
	
	for(var i = 0 ; i < selectIds.length-1 ; i++){
		ordIds.push(grid.getValue(selectIds[i], SPDCOL_ORG_ORD_NO));
		ordSeqs.push(grid.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO));
		ordItemCds.push(grid.getValue(selectIds[i], SPDCOL_ITEM_CD));
		ordItemNms.push(grid.getValue(selectIds[i], SPDCOL_ITEM_NM));
		ordOrdQtys.push(grid.getValue(selectIds[i], SPDCOL_ORD_QTY));
		
		lcId.push(grid.getValue(selectIds[i], SPDCOL_LCID));
		custId.push(grid.getValue(selectIds[i], SPDCOL_CUST_ID));
		itemBarCd.push(grid.getValue(selectIds[i], SPDCOL_ITEMBARCD));
		ritemId.push(grid.getValue(selectIds[i], SPDCOL_RITEM_ID));
		
	}
	
	strParameter.push(ordIds);
	strParameter.push(ordSeqs);
	strParameter.push(ordItemCds);
	strParameter.push(ordItemNms);
	strParameter.push(ordOrdQtys);
	
	strParameter.push(lcId);
	strParameter.push(custId);
	strParameter.push(itemBarCd);
	strParameter.push(ritemId);
	
	strParameter = (strParameter == undefined) ? [] : strParameter;
	
	var param = "?func=fn_search&strParameter="+strParameter;
// 	var url   = "/WMSST100E2.action"+param;
	var url   = "/WMSOM120E2.action"+param;
	var width = "1000";
	var height = "600";
	
	var asppop = cfn_openPop(url, "fn_WmsstPopup", width, height);
	asppop.focus();
}



//입고주문정보수정
function fn_inOrdChange(){
	var strParameter 	= [];
	var grid = spdList;
	var selectIds = fn_checkedList(grid);
//	var vrChangeWorkId 	= grid.getCell(rowid, 'CHANGE_WORK_ID');
//	var vrWorkSeq 		= grid.getCell(rowid, 'WORK_SEQ');
	
	var nRow   = spdList.getRowCount();
	
	var vrssLcId 	= jQuery("select[name='SVC_INFO'] option:selected").val();
	var ordIds = [];
	var ordSeqs = [];
	var ordItemCds = [];
	var ordItemNms = [];
	var ordOrdQtys = [];
	var dlvDts = [];
	
	var custId = [];
	var itemBarCd = [];
	var ritemId = [];
	var lcId = [];
	
	
	
	if(selectIds.length-1 > 1){
		alert("입고수정은 한 건씩만 가능합니다.");
		return;
	}
	
	for(var i = 0 ; i < selectIds.length-1 ; i++){

		var workStatNm = grid.getValue(selectIds[i], SPDCOL_WORK_STAT_NM);		
		if(workStatNm != "미등록"){
			alert("미등록외의 건은 입고정보 수정이 불가합니다.\n관리자에게 문의하십시오.");
			return;
		}	
		
		ordIds.push(grid.getValue(selectIds[i], SPDCOL_ORG_ORD_NO));
		ordSeqs.push(grid.getValue(selectIds[i], SPDCOL_ORD_DETAIL_NO));
		ordItemCds.push(grid.getValue(selectIds[i], SPDCOL_ITEM_CD));
		ordItemNms.push(grid.getValue(selectIds[i], SPDCOL_ITEM_NM));
		ordOrdQtys.push(grid.getValue(selectIds[i], SPDCOL_ORD_QTY));
		
		lcId.push(grid.getValue(selectIds[i], SPDCOL_LCID));
		custId.push(grid.getValue(selectIds[i], SPDCOL_CUST_ID));
		ritemId.push(grid.getValue(selectIds[i], SPDCOL_RITEM_ID));
		
		dlvDts.push(grid.getValue(selectIds[i], SPDCOL_DLV_DT));
		
	}
	
	strParameter.push(ordIds);
	strParameter.push(ordSeqs);
	strParameter.push(ordItemCds);
	strParameter.push(ordItemNms);
	strParameter.push(ordOrdQtys);
	
	strParameter.push(lcId);
	strParameter.push(custId);
	strParameter.push(ritemId);
	strParameter.push(dlvDts);
	
	strParameter = (strParameter == undefined) ? [] : strParameter;
	
	var param = "?func=fn_search&strParameter="+strParameter;
//	var url   = "/WMSST100E2.action"+param;
	var url   = "/WMSOM120E3.action"+param;
	var width = "1000";
	var height = "600";
	
	var asppop = cfn_openPop(url, "fn_WmsstPopup", width, height);
	asppop.focus();
}

/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery("#vrSrchCustCd").val(data[0].CUST_CD);
			jQuery("#vrSrchCustNm").val(data[0].CUST_NM);
			jQuery("#vrSrchCustId").val(data[0].CUST_ID);
			
			/* 고객사별 조회조건 제한 설정 */
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').attr("class", "readOnly").attr('readOnly', 'readOnly');
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').attr("class", "readOnly").attr('readOnly', 'readOnly');
			jQuery("#btnSrchCustPop").removeAttr('onClick');
		}else{
			if('$ss_proc_auth' != "02"){ //02 저장관리 마스터는 예외
				fn_Popup("CUST");
			}
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("입고예정정보(카카오)")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsom/WMSOM121E1.vm")
    </div>
</div>
#parse("winus/common/footer.vm")