<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
				<input type = "button" name = "btnTemSet"  class="INS_AUTH"		value = "$!lang.getText('거래처별 B2C 템플릿입력')"	onclick = "fn_orderUploadB2CTrans();"	 role="button" aria-disabled="false"/>
	    		<input type = "button" name = "btnTemSet"  class="INS_AUTH"		value = "$!lang.getText('B2C 템플릿입력')"	onclick = "fn_orderUploadB2C();"	 role="button" aria-disabled="false"/>
	    	</div>
		</div>
	</div>	
</div>

<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "80px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('E1');"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST","E1");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('E1');"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th>
						<select id="cmbSrchType" name="cmbSrchType" >
							<option value="100">$!lang.getText('주문일자')</option>
							<option value="200">$!lang.getText('배송일자')</option>
						</select>
					</th>
					<td>
						<input type="text" class="text vrSrchReqDtFrom"	id="vrSrchReqDtFrom" style="width: 34%" name="vrSrchReqDtFrom" maxlength="10"
							onkeydown="cfn_setDateFld(this)" onChange="cfn_onChangeDateFld(this)"/>
						 ~ 
						<input type="text" class="text vrSrchReqDtTo"id="vrSrchReqDtTo" style="width: 34%" name="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(this)" 
							onChange="cfn_onChangeDateFld(this)"/>
					</td>
					<th class="thBar">$!lang.getText('WMS링크여부')</th>
					<td>
						<select id="vrWmsLinkYn" name="vrWmsLinkYn" >
							<option value="">$!lang.getText('전체')</option>
							<option value="Y">Y</option>
							<option value="N" selected>N</option>
						</select>
					</td>
					<th class="btnSearch" rowspan="2">
						<input type="button" name="btnSrch" value="$!lang.getText('')" onClick="fn_searchE1();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				 <tr>
					<th class="thBar">$!lang.getText("생산처")</th>
					<td>
						<!--
						<input type="text" class="text" name="vrSrchTransCd" id="vrSrchTransCd" style="width:45%" onChange="vrSrchTransCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('TRANS');return false;" class="imgSearch">
						<input type="text" class="text" name="vrSrchTransNm" id="vrSrchTransNm" style="width:45%" onChange="vrSrchTransNm_OnKillFocus()"/>
						<input type="hidden" name="vrSrchTransId" id="vrSrchTransId"/>
						-->
						<input type="text" class = "text" style = "width: 90%" name="vrSrchMaker" id="vrSrchMaker"> 
					</td>
					<th class="thBar">$!lang.getText('원주문번호')</th>
					<td>
						<input type="text" class = "text" style = "width: 90%" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId"> 
					</td>
					<th class="thBar">$!lang.getText('상품명')</th>
					<td>
						<input type="text" class = "text" style = "width: 90%" name="vrSrchItemNm" id="vrSrchItemNm"> 
					</td>
				</tr>
            </tbody>
        </table>

		<div id="formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>

	<div class="btnArea">
	    <div class="btnAreaRight"">
	    	<input type="button" class="INS_AUTH btnSave"  	id="btn_orderSync" 		name="btn_orderSync" 	value="$!lang.getText('주문동기화')"		onClick="fn_orderSync();"	role="button" aria-disabled="false"/>
			<input type="button" class="DEL_AUTH btnDelete"  	id="btn_orderDel" 		name="btn_orderDel" 	value="$!lang.getText('삭제')"		onClick="fn_orderDel();"	role="button" aria-disabled="false"/>
	    </div>
	</div>

	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdListE1" style="height:650px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none"></div>
</div>
