<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    		<input type = "button" name = "btnSerchInit" 	class="btnSave"		value = "$!lang.getText('상품정보입력')"	onclick = "fn_itemExcelUpload()"   role="button" aria-disabled="false"/>
	   		</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form id="frm_list" name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "20px"/>
				<col width = "50px"/>
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style = "width: 47.5%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus();"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="text" class = "text" style = "width: 47.5%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus();"> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
				</td>
				<th></th>
				<td></td>
				<th></th>
				<td></td>
				<td></td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH publishBtn" name="btn_search" onClick="fn_publish();" title="발행" value="발행"/>	
				</th>
			</tr>
			<tr>
				<th class="thBar">$!lang.getText('상품 바코드')</th>
				<td colspan ="">
					<input type="text" class = "text" id="vrSearchBarcode" name="vrSearchBarcode" value="" onchange="fn_publish()" />
				</td>
				<th></th>
				<td></td>
				<th></th>
				<td></td>
				<td></td>
			</tr>


		</table>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>		
	<section class="content" style="height:100%">
	<div class="container-fluid" style="height:720px">
		<form name="frm_oz" method="POST" target="DivOzViewer">

		</form>

		<iframe id="DivOzViewer" name="DivOzViewer" frameBorder="0" scrolling="no" style="padding:0px;width:100%;height:100%;overflow:hidden;">
		</iframe>
	</div>
	</section>	
</div>