<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('작업일변경')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
<script type="text/javascript" src="/js/bPopup.js"></script>
</head>
<body style="min-width:200px">

#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_lc_info = $!session.getAttribute("SS_LC_INFO"))
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">
<!--//

var vrWorkId  = "$!request.getParameter('vrWorkId')";

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();

	/* datepicker */
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrWorkDt'] ").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	//첫 input박스 포커스
	jQuery("#vrWorkDt").focus();
});

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];	
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}

/* 저장 */
function fn_save(){
	//작업일
	var validator = new Validator("frm_list");	
	validator.addItem("vrWorkDt"	,"Y:date:Y:$!lang.getText('작업일'):"); 
	if(!validator.validateForm("frm_list")){
		return false;
	}
	
	//미래일로 작업일 변경 불가 2024.11.15 
	var date = new Date();
	var year = date.getFullYear().toString();
	var month = ('0' + (date.getMonth() + 1)).slice(-2).toString();
	var day =('0' + date.getDate()).slice(-2).toString();
	var nowDt = year+month+day;
	var changeDt = jQuery('#vrWorkDt').val().replaceAll('-','');
	if(Number(changeDt) > Number(nowDt)){ 
		alert('$!lang.getText("미래 날짜로 작업일을 변경하실 수 없습니다.")');
		return;
	}
	
	
	if(!confirm('$!lang.getText("update.confirm")')){
		return;
	}
	
	var param 	= jQuery("form[name='frm_list']").serialize();
	var url 	= "/WMSOP000Q6/saveSetWorkDate.action";
	cfn_loadingModalOpen1();	// loading layer 출력
	jQuery.post(url, param, function(data) {
		cfn_loadingModalClose1();	// loading layer 종료
    	alert(data.MSG);
        if(data.errCnt == 0 ){	
			var arg_func = jQuery("input[name='func']").val();
      		var opnr_func = eval("opener." + arg_func);
      		opnr_func();
      		self.close(); 
        }
	}).fail(function(xhr, textStatus, err){
		if(xhr.status == 404){
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			cfn_loadingModalClose1();
			javascript:self.close(); // 팝업창 닫기
		}
	});
}

</script>

<div class="popupWrap">
	<div class="popupHeader">       	
		<form name="frm_list">
			<input type='hidden' name='func' 	 id='func'	   value='$!request.getParameter("func")'/>
			<input type='hidden' name='vrWorkId' id='vrWorkId' value="$!request.getParameter('vrWorkId')" />
			<table class="search" id="srchBox" border="0">
	            <colgroup>
	                <col width="20%"/>
	                <col width="50%"/>
	                <col width="30%"/>
	            </colgroup>
	            <tbody>
	            	<tr>
		            	<th>
		            		$!lang.getText('작업일')
		       			</th>
		       			<td>
		       				<input type="text" class="text" name="vrWorkDt" id="vrWorkDt" style="width:80%; height:19px;" maxlength="10" onkeydown="cfn_setDateFld(vrWorkDt)"/>
		       			</td>
		       			<td>
				        	<div class="btnAreaRight">
								<input type="button" class="btnSave"	value="$!lang.getText('저장')" 	onclick="fn_save();" />
								<input type="button" class="btnEtc"		value="$!lang.getText('닫기')" 	onclick="javascript:self.close();"/>	
				        	</div>
		       			</td>
	       			</tr>
	       			<tr>
	       			<td colspan = '3'><p align='center' style='color:red'>※$!lang.getText('선택하신 주문번호 전체에 대해 작업일이 변경됩니다.')</p></td>
	       			</tr>
	            </tbody>
	        </table>
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
	</div>
	<!-- Modal Loading CustomerPop-->
	<div id="loadingModalView1" style="display: none; background-color: white; width: 70%; height: 100px; border-radius: 8px; vertical-align: middle; text-align: center; ">
		<span class="button b-close" id="loadingModal_close"  style = "visibility : hidden;">X</span>
		<div style="position: relative; display: inline-block; width: 50%; height: 30%; padding: 1em; color:#336699; text-align:center;">$!lang.getText('처리중') ...</div>
		<img src="/img/com/progress.gif" style="position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;"/>
	</div>
</div>
</body>
</html>