<div class="patternWrap">
	<form name="frm_listE02">
		<table class="search" id="srchBox2" border="0">
			<colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "120px"/>
				<col width = "15%"/>
				<col width = "90px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "45px"/>
			</colgroup>
			<tbody>
				<tr>
					<th class="thBar">$!lang.getText('입고확정일')</th>
					<td colspan="3">
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFromE02" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtToE02"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 43%" name="vrSrchCustCdE02" id="vrSrchCustCdE02" onChange="vrSrchCustCd_OnKillFocusE02()"> 
						<img src="/img/exam/btn/ico_search.gif" id="btnSrchCustPopE02" name="btnSrchCustPopE02" onClick='fn_Popup("CUSTE02");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 43%" name="vrSrchCustNmE02" id="vrSrchCustNmE02" onChange="vrSrchCustNm_OnKillFocusE02()"> 
						<input type="hidden" name="vrSrchCustIdE02" id="vrSrchCustIdE02">
					</td>
					<th class="thBar">$!lang.getText("입고처")</th>
					<td>
						<input type="text" class="text" name="txtSrchCustCdE02" id="txtSrchCustCdE02" style="width:44%" onChange="txtSrchCustCd_OnKillFocusE02()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('SrchCustE02');return false;" class="imgSearch">
						<input type="text" class="text" name="txtSrchCustNmE02" id="txtSrchCustNmE02" style="width:44%" onChange="txtSrchCustNm_OnKillFocusE02()"/>
						<input type="hidden" name="txtSrchCustIdE02" id="txtSrchCustIdE02"/>
					</td>
					<th class="btnSearch" rowspan="5">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_searchE02();" title="검색" 	 role="button" aria-disabled="false"/>	
					</th>
				</tr>			
				<tr>
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchNewOrdIdE02" id="vrSrchNewOrdIdE02" maxlength="20">
					</td>
					<th>$!lang.getText('원주문번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdIdE02" id="vrSrchOrgOrdIdE02">
					</td>						
					<th class="thBar">$!lang.getText('LOT NO.')</th>
					<td>
						<input type="text" class = "text" name="vrSrchNewLotNoE02" id="vrSrchNewLotNoE02"> 
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 35%" name="vrSrchRitemCdE02" id="vrSrchRitemCdE02" onChange="vrSrchItemCd_OnKillFocusE02()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEME02");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 41%" name="vrSrchRitemNmE02" id="vrSrchRitemNmE02" onChange="vrSrchItemNm_OnKillFocusE02()">
						<input type="hidden" name="vrSrchRitemIdE02" id="vrSrchRitemIdE02"> 
					</td>
					
				</tr>
			</tbody>
		</table>
	</form>
   
    <div class = "btnArea">
    	<div class = "btnAreaRight" id="btnArea">
    	<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')" 	onclick = "fn_excelDownE02()"	role="button" aria-disabled="false"/>
    	</div>
    </div>
    
	<div class="list_box">
		<table id="list2"></table>
		<div id="pjmap2"></div>
	</div>
</div>

<script type="text/javascript">

#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

var listGridE02 = new ULNSI_jQGrid();

/* Document Ready */
jQuery(document).ready(function(){

	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	
	/* 고객사 ID의 경우 검색화주를 고정시킨 */
	if("$!ss_user_gb" == "20"){
		//url += "&vrSrchCustCd=$!ss_cmpy_code&vrSrchCustNm=$!ss_cmpy_name";
		// 고객사 ID의 경우 검색화주를 고정시킴
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustIdE02']").val("$ss_cmpy_id");
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustCdE02']").val("$ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustNmE02']").val("$ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_listE02'] img[name='btnSrchCustPopE02']").removeAttr("onclick");
	}

	
	
	jQuery("#vrSrchReqDtFromE02").datepicker('setDate','-7D');
	jQuery("#vrSrchReqDtToE02").datepicker('setDate','today');
	
	/* 메인그리드 시작 */
	var colNameArrayE02 = [
	                    "$!lang.getText('주문번호')" // ORD_ID
						,"$!lang.getText('주문종류')" // ORD_TYPE_NM
						,"$!lang.getText('주문구분')" // ORD_SUBTYPE_NM
						,"$!lang.getText('주문SEQ')" // ORD_SEQ
						,"$!lang.getText('상품코드')" // ITEM_CODE
						,"$!lang.getText('상품명')" // ITEM_NAME
						
						,"$!lang.getText('LOT번호')" // CUST_LOT_NO
						,"$!lang.getText('입고량')" // REAL_IN_QTY            
						,"$!lang.getText('UOM')" // UOM
						,"$!lang.getText('입고일자')" // IN_DT
	                    ,"$!lang.getText('원주문번호')" // ORG_ORD_ID
	                   ]

	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArrayE02 = [
	                    {name : 'ORD_ID'			,index : 'ORD_ID'			,width : 85	}
						,{name : 'ORD_TYPE_NM'		,index : 'ORD_TYPE_NM'		,width : 85	,align : 'center'}
						,{name : 'ORD_SUBTYPE_NM'	,index : 'ORD_SUBTYPE_NM'	,width : 90	,align : 'center'}
						,{name : 'ORD_SEQ'			,index : 'ORD_SEQ'			,width : 85	,align : 'center'}
						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'		,width : 200	}
						,{name : 'ITEM_NAME'		,index : 'ITEM_NAME'		,width : 200	}
						,{name : 'CUST_LOT_NO'		,index : 'CUST_LOT_NO'		,width : 200}
						,{name : 'REAL_IN_QTY'		,index : 'REAL_IN_QTY'		,width : 80	,align : 'right',formatter : 'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'UOM'				,index : 'UOM'				,width : 40	,align : 'center'}
						,{name : 'IN_DT'			,index : 'IN_DT'			,width : 100	,align : 'center'}
	                    ,{name : 'ORG_ORD_ID'		,index : 'ORG_ORD_ID'		,width : 150	}
						]

	var optionE02 = {
				   'title'		: "$!lang.getText('입고상세조회')"	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 630							//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '98%'							//width
				  ,'colName'	: colNameArrayE02
				  ,'colModel'	: colModelArrayE02
				  ,'pager'		: jQuery('#pjmap2')				//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true							//autowidth ??
				  ,'rowNum'		: 20							//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
			      ,'rowList' 	: [200,300,500,700,1000,2000,3000]
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: true
				  ,'viewrecords': true
				  ,'shrinkToFit': true
				  ,'footerrow' 	: true
				  ,'userDataOnFooter' : true
				 };

	function loadCompleteEventCallbackE02(data){
		var grid 	 = jQuery("#list2");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		
		var SUM_IN_QTY 		 = 0;
		var SUM_CONF_QTY 		 = 0;

		//합계처리 변수 연산
		for(var i = 0 ; i < gridData.length; i++){
			SUM_IN_QTY = SUM_IN_QTY + Number(gridData[i].REAL_IN_QTY);
		}
		
		var footData = {
				ITEM_NAME : "$!lang.getText('합계')"
			  , REAL_IN_QTY : SUM_IN_QTY
		};

		grid.jqGrid('footerData','set', footData);
	};

	// 그리드 생성
	listGridE02.init(jQuery("#list2"), optionE02, '', loadCompleteEventCallbackE02);
});

//--------------------------------------------------------------------------------자동완성-------------------------------------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
 */
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//



/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocusE02(){
	var vrSrchCustCd = jQuery('form[name="frm_listE02"] input[name="vrSrchCustCdE02"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011E02&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustCdE02"]').val(data[0].CODE);
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustNmE02"]').val(data[0].NAME);
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_listE02'] input[name='vrSrchCustCdE02']").val("").focus();
				jQuery("form[name='frm_listE02'] input[name='vrSrchCustNmE02']").val("");
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustCdE02']").val("");
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustNmE02']").val("");
		jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocusE02(){
	var vrSrchCustNm = jQuery('form[name="frm_listE02"] input[name="vrSrchCustNmE02"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011E02&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustCdE02"]').val(data[0].CODE);
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustNmE02"]').val(data[0].NAME);
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_listE02'] input[name='vrSrchCustCdE02']").val("").focus();
				jQuery("form[name='frm_listE02'] input[name='vrSrchCustNmE02']").val("");
				jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustCdE02']").val("");
		jQuery("form[name='frm_listE02'] input[name='vrSrchCustNmE02']").val("");
		jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val("");
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocusE02(){
	var vrSrchItemCd = jQuery('form[name="frm_listE02"] input[name="vrSrchRitemCdE02"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091E02&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemCdE02"]').val(data[0].CODE);
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemNmE02"]').val(data[0].NAME);
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_listE02'] input[name='vrSrchRitemCdE02']").val("").focus();
				jQuery("form[name='frm_listE02'] input[name='vrSrchRitemNmE02']").val("");
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_listE02'] input[name='vrSrchRitemCdE02']").val("");
		jQuery("form[name='frm_listE02'] input[name='vrSrchRitemNmE02']").val("");
		jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocusE02(){
	var vrSrchItemNm = jQuery('form[name="frm_listE02"] input[name="vrSrchRitemNmE02"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091E02&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemCdE02"]').val(data[0].CODE);
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemNmE02"]').val(data[0].NAME);
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_listE02'] input[name='vrSrchRitemCdE02']").val("").focus();
				jQuery("form[name='frm_listE02'] input[name='vrSrchRitemNmE02']").val("");
				jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_listE02'] input[name='vrSrchRitemCdE02']").val("");
		jQuery("form[name='frm_listE02'] input[name='vrSrchRitemNmE02']").val("");
		jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val("");
	}
}

/* 매출거래처코드 입력 */
function txtSrchCustCd_OnKillFocusE02(){
	var vrSrchCustCd = jQuery('form[name="frm_listE02"] input[name="txtSrchCustCdE02"]').val();
	var vrSrchCustId = jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId + "&vrOrdType=01";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011_2E02&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustCdE02"]').val(data[0].CUST_CD);
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustNmE02"]').val(data[0].CUST_NM);
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val(data[0].CUST_ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_listE02'] input[name='txtSrchCustCdE02']").val("").focus();
				jQuery("form[name='frm_listE02'] input[name='txtSrchCustNmE02']").val("");
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_listE02'] input[name='txtSrchCustCdE02']").val("");
		jQuery("form[name='frm_listE02'] input[name='txtSrchCustNmE02']").val("");
		jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val("");
	}
}

/* 매출거래처명 입력 */
function txtSrchCustNm_OnKillFocusE02(){
	var vrSrchCustNm = jQuery('form[name="frm_listE02"] input[name="txtSrchCustNmE02"]').val();
	var vrSrchCustId = jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId + "&vrOrdType=01";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011_2E02&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustCdE02"]').val(data[0].CUST_CD);
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustNmE02"]').val(data[0].CUST_NM);
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val(data[0].CUST_ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_listE02'] input[name='txtSrchCustCdE02']").val("").focus();
				jQuery("form[name='frm_listE02'] input[name='txtSrchCustNmE02']").val("");
				jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_listE02'] input[name='txtSrchCustCdE02']").val("");
		jQuery("form[name='frm_listE02'] input[name='txtSrchCustNmE02']").val("");
		jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val("");
	}
}
//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	화주팝업후	:	fn_setWMSMS011E02()
	상품팝업후	:	fn_setWMSCM091E02()
	입고처	:	fn_setWMSMS011_2E02()
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 화주 팝업 후 처리 */
function fn_setWMSMS011E02(arr){
	var info = arr[0];
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustCdE02"]').val(info.cust_cd);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustNmE02"]').val(info.cust_nm);
	jQuery('form[name="frm_listE02"] input[name="vrSrchCustIdE02"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091E02(arr){
	var info = arr[0];
	jQuery('form[name="frm_listE02"] input[name="vrSrchRitemCdE02"]').val(info.item_code);
	jQuery('form[name="frm_listE02"] input[name="vrSrchRitemNmE02"]').val(info.item_kor_nm);
	jQuery('form[name="frm_listE02"] input[name="vrSrchRitemIdE02"]').val(info.ritem_id);
}

//입고처
function fn_setWMSMS011_2E02(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listE02"] input[name="txtSrchCustCdE02"]').val(info.cust_cd);
	jQuery('form[name="frm_listE02"] input[name="txtSrchCustNmE02"]').val(info.cust_nm);
	jQuery('form[name="frm_listE02"] input[name="txtSrchCustIdE02"]').val(info.cust_id);
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	검색		:	fn_search
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

function fn_searchE02(op,op1) {
	/* 페이지로딩 시 화주정보 popup */
	if(jQuery("#vrSrchCustCdE02").val() == ""){
		alert("$!lang.getText('화주는필수입력입니다.')");
		fn_Popup("CUSTE02");
		return false;
	}
	
	//입고예정일 앞 뒤날짜 비교
	var validator = new Validator("frm_listE02");
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFromE02"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('입고예정일'):");
	validator.addItem("vrSrchReqDtToE02"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('입고예정일'):");
	if(!validator.validateForm("frm_listE02")){
		return false;
	}

	//검색조건값을 파라미터로 보낸다.
	var param 	= jQuery("form[name='frm_listE02']").serialize();
	var url 	= "/WMSOP020E2/list.action?"+param;
	listGridE02.search(param, url, op, op1);
}



/* 엑셀다운 */
function fn_excelDownE02() {
	//정렬파라미터
	var grid = jQuery("#list2");
	var sidx = grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

	var fm 		 = document.frm_listE02;
	var countRow = jQuery("#list2").getDataIDs().size();
	if(countRow == 0){
	    alert('$!lang.getText("excel.down.nodata")');
	    return;
	} else if(countRow > 60000) {
	    alert('$!lang.getText("excel.down.maxrow")');
	    return;
	} else {
	    fm.action = "/WMSOP020/excelE02.action"+param;
	    fm.method = "post";
	    fm.submit();
	}
}


</script>