<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    		<!-- <input type = "button" name = "btnTemSap" 		value = "$!lang.getText('SAP전용 템플릿입력')"	onclick = "fn_orderUploadSAP();"	 role="button" aria-disabled="false"/> -->
	    	</div>
		</div>
	</div>	
</div>

<div class="patternWrap">
	<form name="frm_list">	 
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "120px"/>
				<col width = "15%"/>
				<col width = "90px"/>
				<col width = "20%"/>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "45px"/>
			</colgroup>
			<tbody>
				<tr>
					<th class="thBar"><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('상품관리TYPE')</th> 					
					<td>
						$!comCode.getComboComCode("TYPE2", "vrSrchTypeSt", "", false, "", "", "","class='selectbox' style='color:red; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;'")
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<th class="thBar">$!lang.getText('TOTAL피킹번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchTotalPoiNo" id="vrSrchTotalPoiNo" onChange="fn_onChangeVrSrchTotalPoiNo()"> <!-- onChange="fn_onChangeVrSrchTotalPoiNo()"-->
					</td>
					<th class="btnSearch" rowspan="4" onClick="fn_search();">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"    title="검색"  role="button" aria-disabled="false"/>	
					</th>
				</tr>
				<tr>
					<th>
						<select id="cmbSrchType" name="cmbSrchType" >
							<option value="100">$!lang.getText('출고예정일')</option>
							<option value="200">$!lang.getText('출고일')</option>
						</select>
					</th>
					<td colspan="3">
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					
					<th class="thBar">$!lang.getText('화주')</th>
					#if($adminInfo.getCustId() == $ss_user_gb)
						<td>
							<input type="text" class="readOnly" id="vrSrchCustCd" name="vrSrchCustCd" style="width: 44%" name="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code"> 
							<img src="/img/exam/btn/ico_search.gif"	class="imgSearch"/> 
							<input type="text" class="readOnly" style="width: 44%" id="vrSrchCustNm" name="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"> 
						</td> 
					#else
						<td>
							<input type="text" class="text" id="vrSrchCustCd" name="vrSrchCustCd" style="width: 44%" name="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif"	onClick='fn_Popup("CUST");' class="imgSearch" /> 
							<input type="text" class="text" style="width: 44%" id="vrSrchCustNm" name="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"/> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/> 
						</td> 
					#end
					<th class="thBar">$!lang.getText('원주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
					</td>
				</tr>
			
				<tr>
					<th>$!lang.getText('작업구분')</th>
					<td>
						$!comCode.getComboComCode("ORD11", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
					</td>
					
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 43%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 43%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId"> 
					</td>
					<th class="thBar">$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="N/A">$!lang.getText('미지정')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					
				</tr>
				<tr>	
					<th>$!lang.getText('주문상세')</th>
					<td>
						$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th class="thBar">$!lang.getText('고객명')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchSalesCustNm" id="vrSrchSalesCustNm">
					</td>
					<th>$!lang.getText('입력소스')</th>
					<td>
						$!comCode.getComboComCode("INS01", "vrSrchInsertSource", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th>$!lang.getText('재고유무')</th>
					<td>
						$!comCode.getComboComCode("MAPPINGYN", "vrSrchStockQtyEmpty", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
				</tr>
			</tbody>
		</table>
	</form>
   	
   	<!--
    <div class = "btnArea">
    	<div class = "btnAreaLeft">
    		<div id='countBox' style='display:none;'>
	    		<span>총주문건수 : </span>
	  			<span id='totalOrderCount'></span>
	  			
	    		<span style='padding-left:30px;'>총주문량 : </span>
	  			<span id='totalOrderQty'></span>
  			</div>
    	</div>
    	<div class = "btnAreaRight" id="btnArea">
    		<input type = "button" class = "INS_AUTH btnEtc" 	name = "btnTest" 	value = "송장출력"		onclick = "fn_invcNoPrintDlvOrder()"		role="button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" name = "btnDelete"	value = "$!lang.getText('삭제')"		onClick = "fn_delete();"	role="button" aria-disabled="false"/>			
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('전체'))" 	onclick = "fn_excelDown()"	role="button" aria-disabled="false"/>
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('선택'))" 	onclick = "fn_excelDown2()"	role="button" aria-disabled="false"/> 
    	</div>
    </div>
    -->
    
    <div id="textOrgOrdId" style="font-size:20px; color:red; font-weight:bold;">원주문번호 : </div>
    <div id="divPanel" style="padding-top:0px;">
		<table class="search">
			<colgroup>
				<col width = "50%"/>
				<col width = "50%"/>
            </colgroup>
            <tbody>
				<tr>
					<td style="border: 1px solid #b0b0b0;">
						<div id="spdList" style="height:300px; border:0px solid #b0b0b0;"></div>
					</td>
					<td style="border: 1px solid #b0b0b0;">
						<table border="0" style="font-size:20px;">
							<colgroup>
								<col width = "20%"/>
								<col width = "30%"/>
								<col width = "20%"/>
								<col width = "30%"/>
							</colgroup>
				            <tbody>	
				            	<tr>
				                	<td>$!lang.getText('운임구분')</td>
				                	<td colspan="0">
				                		<select name='vrPayGubun' id='vrPayGubun' class="selectbox" style="height:35px; color:red; font-size:30px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
											<option value="040">$!lang.getText('본사신용')</option>
											<option value="030">$!lang.getText('신용')</option>
											<option value="010">$!lang.getText('선불')</option>
											<option value="020">$!lang.getText('착불')</option>
										</select>
				                	</td>
				                	<td colspan="2" style="text-align:right; ">
				                		<input type="checkbox" 	name="chkDlvAir" 	id="chkDlvAir">
										<input type="hidden" 	name="vrDlvAir" 		id="vrDlvAir"   value="N"/>
										<input id="textDlvAir" value="$!lang.getText('제주')" size="8" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;font-size:20px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
										
										<input type="checkbox" 	name="chkDlvShip" 	id="chkDlvShip">
										<input type="hidden" 	name="vrDlvShip" 		id="vrDlvShip"   value="N"/>
										<input id="textDlvShip" value="$!lang.getText('해운')" size="3" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;font-size:20px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
				                	</td>
				                </tr>			            	
				                <tr>
				                	<td>$!lang.getText('박스명')</td>
				                	<td colspan="4">
				                		<select name='vrBoxType' id='vrBoxType' class="selectbox" onChange="vrBoxType_onChange();" style="height:35px; font-size:30px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
											<option value="3">￦2,500&nbsp&nbsp&nbsp($!lang.getText('03호') CBM 0.0078)</option>
											<option value="8">￦3,500&nbsp&nbsp&nbsp($!lang.getText('08호') CBM 0.0666)</option>
											<option value="10">￦4,500&nbsp&nbsp&nbsp($!lang.getText('10호') CBM 0.1080)</option>
											<option value="13">￦6,500&nbsp&nbsp&nbsp($!lang.getText('13호') CBM 0.2000)</option>
											<option value="14">￦8,000&nbsp&nbsp&nbsp($!lang.getText('14호') CBM 0.1951)</option>
											<option value="15">￦2,500&nbsp&nbsp&nbsp($!lang.getText('15호') CBM 0.2520)</option>
											<option value="l10">￦3,000&nbsp&nbsp&nbsp($!lang.getText('착불') 10 KG 이하)</option>
											<option value="m10">￦5,000&nbsp&nbsp&nbsp($!lang.getText('착불') 10 KG 초과)</option>
										</select>
				                	</td>
				                </tr>
				                <tr>
				                	<td>$!lang.getText('박스수량')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrBoxQty" id="vrBoxQty" style="width:60%; text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrBoxQty)">
				                		<button id="vrBoxQtyBtnA" style="width:20%;height:37px;margin-left:-6px;font-weight:bold;color:#000000;cursor:pointer;border-color:#BDBDBD;" type="button" onclick="fn_boxQtyUp()">-</button>
				                		<button id="vrBoxQtyBtnB" style="width:20%;height:37px;margin-left:-7px;font-weight:bold;color:#000000;cursor:pointer;border-color:#BDBDBD;" type="button" onclick="fn_boxQtyDown()">+</button>
				                	</td>
				                	<td>$!lang.getText('박스금액')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrBoxPrice" id="vrBoxPrice" style="text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrBoxPrice)">
				                	</td>
				                </tr>
				                <tr>
				                	<td>$!lang.getText('택배운임')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrDlvPrice" id="vrDlvPrice" style="text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrDlvPrice)" readonly="readonly">
				                	</td>
				                	<td>$!lang.getText('할증료')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrDlvAdditi" id="vrDlvAdditi" style="text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrDlvAdditi)">
				                	</td>
				                </tr>
				                <tr><td colspan="4"></td></tr>
				                <tr height="60">
				                	<td colspan="4">
				                		<div style="display:flex;">
					                		<div style="flex:1; padding:1px;">
					                			<input type="button" class="btnDisabled" style="font-size:22px; height:85px; width:100%;" id="confirmBtn" name="btn_write" value="$!lang.getText('검수완료')" role="button" aria-disabled="false"/>
					                		</div>
					                		<div style="flex:1; padding:1px;">
						                		<input type="button" class="btnDisabled" style="font-size:22px; height:85px; width:100%;" id="deliveryBtn" name="btn_write" value="$!lang.getText('택배송장')" role="button" aria-disabled="false"/>
					                		</div>
					                		<div style="flex:1; padding:1px;">
					                			<input type="button" class="btnDisabled" style="font-size:22px; height:85px; width:100%;"  id="pickinglistBtn" name="btn_write" value="$!lang.getText('거래명세서')" role="button" aria-disabled="false"/>
					                		</div>
					                	</div>
				                	</td>
				                </tr>
				            </tbody>
			         	</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    
	<div style="padding-top:0px; border: 1px solid #b0b0b0;">
		<div id="spdDetailList" style="height:250px;;"></div>
	</div>
	
	<form name="frm_eai" style = "visibility : hidden ; width : 0 ; height : 0">
	</form>

	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div id="dataTable" ></div> <!--style = "visibility : hidden ; width : 0 ; height : 0"-->
</div>
<div id="modalCustInfoUpdate" style="display: none; background-color: white; width: 700px; height: 270px; border-radius: 8px; vertical-align: middle; text-align: center;">
	<div class="button b-close" id="loadingModal_close" style="float:right; margin: 0.3em; width:2.4em; font-weight : bold; cursor: pointer;" >X</div>
	<div style="font-size: 16px; font-weight: bold; height: 20px; padding: 5px;">고객 정보 수정</div>
	<form name='modalCustInfo'>
		<div style="width: 65%;float:left;box-sizing:border-box;">
			<div style="padding: 5px;">
				<label style="width:80px;font-size:13px;font-weight:bold;">고객이름 : </label>
				<input type="text" style="width:350px;height:25px;font-size:14px;" id="custInfoName" name="custInfoName"/>
				<input type='hidden' id='custInfoNameOrg' name='custInfoNameOrg'>
			</div>
			<div style="padding: 5px;">
				<label style="width:80px;font-size:13px;font-weight:bold;">전화번호 : </label>
				<input type="text" style="width:350px;height:25px;font-size:14px;" id="custInfoTelNo" name="custInfoTelNo"/>
			</div>
			<div style="padding: 5px;">
				<label style="width:80px;font-size:13px;font-weight:bold;">고객주소 : </label>
				<input type="text" style="width:350px;height:25px;font-size:14px;" id="custInfoAddr1" name="custInfoAddr1"/>
			</div>
			<div style="padding: 5px;">
				<label style="width:80px;font-size:13px;font-weight:bold;">상세주소 : </label>
				<input type="text" style="width:350px;height:25px;font-size:14px;" id="custInfoAddr2" name="custInfoAddr2"/>
			</div>
				<div style="padding: 5px;">
				<label style="width:80px;font-size:13px;font-weight:bold;">우편번호 : </label>
				<input type="text" style="width:350px;height:25px;font-size:14px;" id="custInfoZipNo" name="custInfoZipNo"/>
			</div>
		</div>
		<div style="width:35%;float:right;box-sizing:border-box;padding:5px 20px 0px 0px;">
			<div style="background-color:#D5D5D5;border: 1px solid #8C8C8C;height:18px;">해당 원주문번호</div>
			<textarea name = "custInfoOrgOrdIds" id="custInfoOrgOrdIds" wrap="on" style="font-size:12px; overflow:auto; width:99%;" rows=10; readonly="readonly"></textarea>
		</div>
		<div style="width: 100%; display:inline-block; margin-top:15px;">
			<input type="button" class="SER_AUTH"	name="btnSrch" onClick="fn_custInfoUpdate();" value = "$!lang.getText('저장')" role="button" aria-disabled="false"/>	
		</div>
	</form>
</div>
<script type="text/javascript">

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/

	function fn_custInfoUpdate(){
		if(jQuery("#custInfoOrgOrdIds").val() == "조회 중.." || gf_Null(jQuery("#custInfoOrgOrdIds").val(), "") == ""){
			alert("$!lang.getText('해당 원주문번호를 확인해주세요.(필수정보)')");
			return false;
		}
		
		jQuery("#formData").html("");
		jQuery("#formData").append("<input type='text' name='custInfoNameOrg' 	value='" + jQuery("#custInfoNameOrg").val()  + "'/>");
		jQuery("#formData").append("<input type='text' name='custInfoName' 		value='" + jQuery("#custInfoName").val()  + "'/>");
		jQuery("#formData").append("<input type='text' name='custInfoTelNo' 	value='" + jQuery("#custInfoTelNo").val() + "'/>");
		jQuery("#formData").append("<input type='text' name='custInfoAddr1' 	value='" + jQuery("#custInfoAddr1").val() + "'/>");
		jQuery("#formData").append("<input type='text' name='custInfoAddr2' 	value='" + jQuery("#custInfoAddr2").val() + "'/>");
		jQuery("#formData").append("<input type='text' name='custInfoZipNo' 	value='" + jQuery("#custInfoZipNo").val() + "'/>");
		jQuery("#formData").append("<input type='text' name='custInfoOrgOrdIds' value='" + jQuery("#custInfoOrgOrdIds").val() + "'/>");
		jQuery("#formData").append("<input type='text' name='vrSrchCustId'		value='" + jQuery("#vrSrchCustId").val() + "'/>");
		
		var param = jQuery("form[name='frm_data']").serialize();
		var url = "/WMSOP642/custInfoUpdate.action";
		jQuery.post(url, param, function(data){
			if(data.errCnt <= 0 ){
				jQuery('#modalCustInfoUpdate').bPopup().close();
				alert("고객정보 변경 완료.\n\n데이터가 재조회 됩니다.");
				fn_search();
			}else{
				alert("ⓧERROR : 고객정보 변경 오류. !!");
			}
		}).fail(function(xhr, textStatus){
			alert(`관리자 문의바랍니다. (${xhr.status})`);
		});
	}
</script>