<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('미배차주문내역')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>

<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

var vrOrdType;		//주문타입
var vrOrdId ; 		//주문아이디
var vrOrdFromDt;	//주문날짜
var vrOrdToDt;		//주문날짜

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();
		
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	vrOrdType 	= (arrParameter[0] == undefined) ? "" : arrParameter[0]
	vrOrdFromDt = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	vrOrdToDt   = (arrParameter[2] == undefined) ? "" : arrParameter[2];
	
	var vrOrdId = "$!request.getParameter('vrOrdId')";
	
	/* 페이지 초기셋팅 */
	/* 날짜 셋팅 */
	var vrSrchReqDt = (new Date()).getFormattedString("YYYY-MM-DD");
	if(cfn_trim(vrOrdFromDt) == ""){
		jQuery("form[name='frm_list'] input[name='vrSrchReqFromDt']").val(vrSrchReqDt);
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchReqFromDt']").val(vrOrdFromDt);
	}
	if(cfn_trim(vrOrdToDt) == ""){
		jQuery("form[name='frm_list'] input[name='vrSrchReqToDt']").val(vrSrchReqDt);
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchReqToDt']").val(vrOrdToDt);
	}
	
	jQuery("form[name='frm_list'] input[name='vrOrdType']").val(vrOrdType);
	
	/* 차량목록 시작 */
	var colNameArray = [
	                     '$!lang.getText("주문번호")'		//VIEW_ORD_ID
	                    ,'$!lang.getText("상품")'		//RITEM_NM
	                    ,'$!lang.getText("주문수량")'		//ORD_QTY
	                    ,'$!lang.getText("미배차수량")'	//NON_DSP_QTY
	                    ,'$!lang.getText("주문일자")'		//REQ_DT
	                    
	                    ,'ORD_ID'
	                    ,'ORD_SEQ'
	                    ,'RITEM_ID'
	                    ,'RITEM_CD'
	                    ,'CUST_LOT_NO'
	                    
	                    ,'REAL_IN_QTY'
	                    ,'REAL_OUT_QTY'
	                    ,'MAKE_DT'
	                    ,'TIME_PERIOD_DAY'
	                    ,'LOC_YN'
	                    
	                    ,'PDA_CD'
	                    ,'PDA_STAT'
	                    ,'WORK_YN'
	                    ,'RJ_TYPE'
	                    ,'REAL_PLT_QTY'
	                    
	                    ,'REAL_BOX_QTY'
	                    ,'WORK_STAT'
	                    ,'CONF_YN'
	                    ,'UNIT_AMT'
	                    ,'AMT'
	                    
	                    ,'EA_CAPA'
	                    ,'BOX_BARCODE'
	                    ,'ORD_UOM_ID'
	                    ,'DSP_QTY'
	                    ,'REG_NO'
	                    
	                    ,'ORD_TYPE'
	                    ,'ORD_UOM_NM'
	                  ];
          
	var colModelArray = [					
	                 	  {name : 'VIEW_ORD_ID'		,index : 'VIEW_ORD_ID'	,width : 70		,align : "center"}
	                 	 ,{name : 'RITEM_NM'		,index : 'RITEM_NM'		,width : 110	,align : "center"}
	                 	 ,{name : 'ORD_QTY'			,index : 'ORD_QTY'		,width : 80		,align : "center"}
	                 	 ,{name : 'NON_DSP_QTY'		,index : 'NON_DSP_QTY'	,width : 80		,align : "center"}
	                 	 ,{name : 'REQ_DT'			,index : 'REQ_DT'		,width : 80		,align : "center"}
	                 	 
	                 	 ,{name : 'ORD_ID'			,index : 'ORD_ID'		,hidden : true}
	                 	 ,{name : 'ORD_SEQ'			,index : 'ORD_SEQ'		,hidden : true}
	                 	 ,{name : 'RITEM_ID'		,index : 'RITEM_ID'		,hidden : true}
	                 	 ,{name : 'RITEM_CD'		,index : 'RITEM_CD'		,hidden : true}
	                 	 ,{name : 'CUST_LOT_NO'		,index : 'CUST_LOT_NO'	,hidden : true}
	                 	 
	                 	 ,{name : 'REAL_IN_QTY'		,index : 'REAL_IN_QTY'		,hidden : true}
	                 	 ,{name : 'REAL_OUT_QTY'	,index : 'REAL_OUT_QTY'		,hidden : true}
	                 	 ,{name : 'MAKE_DT'			,index : 'MAKE_DT'			,hidden : true}
	                 	 ,{name : 'TIME_PERIOD_DAY'	,index : 'TIME_PERIOD_DAY'	,hidden : true}
	                 	 ,{name : 'LOC_YN'			,index : 'LOC_YN'			,hidden : true}
	                 	 
	                 	 ,{name : 'PDA_CD'			,index : 'PDA_CD'		,hidden : true}
	                 	 ,{name : 'PDA_STAT'		,index : 'PDA_STAT'		,hidden : true}
	                 	 ,{name : 'WORK_YN'			,index : 'WORK_YN'		,hidden : true}
	                 	 ,{name : 'RJ_TYPE'			,index : 'RJ_TYPE'		,hidden : true}
	                 	 ,{name : 'REAL_PLT_QTY'	,index : 'REAL_PLT_QTY'	,hidden : true}
	                 	 
	                 	 ,{name : 'REAL_BOX_QTY'	,index : 'REAL_BOX_QTY'	,hidden : true}
	                 	 ,{name : 'WORK_STAT'		,index : 'WORK_STAT'	,hidden : true}
	                 	 ,{name : 'CONF_YN'			,index : 'CONF_YN'		,hidden : true}
	                 	 ,{name : 'UNIT_AMT'		,index : 'UNIT_AMT'		,hidden : true}
	                 	 ,{name : 'AMT'				,index : 'AMT'			,hidden : true}
	                 	 
	                 	 ,{name : 'EA_CAPA'			,index : 'EA_CAPA'		,hidden : true}
	                 	 ,{name : 'BOX_BARCODE'		,index : 'BOX_BARCODE'	,hidden : true}
	                 	 ,{name : 'ORD_UOM_ID'		,index : 'ORD_UOM_ID'	,hidden : true}
	                 	 ,{name : 'DSP_QTY'			,index : 'DSP_QTY'		,hidden : true}
	                 	 ,{name : 'REG_NO'			,index : 'REG_NO'		,hidden : true}
	                 	 
	                 	 ,{name : 'ORD_TYPE'		,index : 'ORD_TYPE'		,hidden : true}
	                 	 ,{name : 'ORD_UOM_NM'		,index : 'ORD_UOM_NM'	,hidden : true}
 						];

	var option = {
			 		'title'		: "$!lang.getText('미배차주문내역')"
				  ,'height'		: 300
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
// 				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				 };
	                
	var url = ""
	if(cfn_trim(vrOrdFromDt) != ""){
	    url = "/WMSOP000Q2/listNewDsp.action?vrOrdType=" + vrOrdType + "&vrOrdId=" + vrOrdId + "&vrSrchReqFromDt=" +vrOrdFromDt+ "&vrSrchReqToDt=" + vrOrdToDt;
	}else{
		url = "/WMSOP000Q2/listNewDsp.action?vrOrdType=" + vrOrdType + "&vrOrdId=" + vrOrdId + "&vrSrchReqFromDt=" +vrSrchReqDt+ "&vrSrchReqToDt=" + vrSrchReqDt;
	}
	
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};
	
	listGrid.init(jQuery("#list1"), option, url , "", loadErrorCallback);
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		jQuery("#list1").setSelection(rowid, true);
		fn_close();
	});

});

//-->
//부모창으로 값 보내기
function fn_close(){
	var arg_func  	= jQuery('form[name="frm_list"] input[name="func"]').val();
	var opnr_func 	= eval('opener.' + arg_func);
	var arr 		= new Array;
	var grid 		= jQuery("#list1");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");
		return false;
	}
	
	if(confirm("$!lang.getText('data.confirm')")){
		if(selectIds != ""){
			for(var i = 0 ; i < selectIds.length ; i++){
				var info = new Object();
				info.view_ord_id= grid.getCell(selectIds[i], "VIEW_ORD_ID");
				info.ord_id 	= grid.getCell(selectIds[i], "ORD_ID");
				info.ord_seq 	= grid.getCell(selectIds[i], "ORD_SEQ");
				info.ritem_id 	= grid.getCell(selectIds[i], "RITEM_ID");
				info.ord_type 	= grid.getCell(selectIds[i], "ORD_TYPE");
				info.ord_qty	= grid.getCell(selectIds[i], "ORD_QTY");
				info.ord_uom_id = grid.getCell(selectIds[i], "ORD_UOM_ID");
				info.ord_uom_nm = grid.getCell(selectIds[i], "ORD_UOM_NM");
				info.ritem_nm 	= grid.getCell(selectIds[i], "RITEM_NM");
				info.work_stat 	= grid.getCell(selectIds[i], "WORK_STAT");
				info.non_dsp_qty= grid.getCell(selectIds[i], "NON_DSP_QTY");
				
				arr[i] = info;
			}
		}
		if(arr != null){
			opnr_func(arr);
		}
		self.close();
	}
	
}
</script>

<div class="popupWrap">
	<div class="popupHeader">
		<div class="btnArea">
			<div class="btnAreaLeft">
	        $!lang.getText('미배차주문내역')
			</div>
			<div class="btnAreaRight">
				<input type="button" class="btnEtc" value="$!lang.getText('확인')" onclick="fn_close()" />
				<input type="button" class="btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"/>
			</div>
		</div>
	</div>
	<form name="frm_list">
		<input type='hidden' 	name='func' 			id='func'		value='$!request.getParameter("func")'/>
		<input type='hidden' 	name='vrOrdId'	  		id='vrOrdId' 	value="$!request.getParameter('vrOrdId')"/>
		<input type='hidden' 	name='vrOrdType' 		id='vrOrdType' />
		<input type='hidden' 	name='vrSrchReqFromDt'  id='vrSrchReqFromDt'/>
		<input type='hidden' 	name='vrSrchReqToDt' 	id='vrSrchReqToDt'/>	
	</form>
    <div class="popupContent">
		<div class="list_box">
			<table id="list1"></table>
			<div id="pjmap1"></div>
		</div>
    </div>
</div>

</body>
</html>