<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("label")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_svc_no  = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<style>
	html, body {
    height: 100%;
}
</style>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	resizeGrid(null);
});


var vrSS_SVC_NO 		= "";
var vrSrchReqDtFrom 	= "";
var vrSrchReqDtTo 		= "";
var vrSrchOrderPhase	= "";
var vrOrderByGb			= "";
var vrSrchOrdDegree 	= "";
var vrSrchOrdDegree 	= "";
var vrSrchPoiNo 	= "";
var vrSrchCustId 	= "";


jQuery(document).ready(function() {
	/* 파라미터 처리 */
	vrSS_SVC_NO			= "$!request.getParameter('vrLcId')";
	vrSrchReqDtFrom		= "$!request.getParameter('vrSrchReqDtFrom')";
	vrSrchReqDtTo		= "$!request.getParameter('vrSrchReqDtTo')";
	vrSrchOrderPhase	= "$!request.getParameter('vrSrchOrderPhase')";
	vrOrderByGb 		= "$!request.getParameter('vrOrderByGb')";
	vrSrchOrdDegree     = "$!request.getParameter('vrSrchOrdDegree')";
	vrSrchPoiNo     	= "$!request.getParameter('vrSrchPoiNo')";
	unitNoGb     		= "$!request.getParameter('unitNoGb')";
	vrSrchCustId		= "$!request.getParameter('vrSrchCustId')";

	var fileName = "WINUSOP650B";
	var reportName = "WINUSOP650.ozr";
	var odiName = "WINUSOP650";
	
	if(unitNoGb == 'B2C'){
		fileName = "WINUSOP651B";
		reportName = "WINUSOP651.ozr";
		odiName = "WINUSOP651";
	}
	
	if(unitNoGb == 'B2C2'){
		fileName = "WINUSOP651B_NEW";
		reportName = "WINUSOP651_NEW.ozr";
		odiName = "WINUSOP651_NEW";
	}
	
	if(unitNoGb == 'ZONE'){
		fileName = "WINUSOP645_NEW";
		reportName = "WINUSOP645_NEW.ozr";
		odiName = "WINUSOP645_NEW";
	}
	
	
	var arrKey = ["SS_SVC_NO","vrSrchReqDtFrom","vrSrchReqDtTo" ,"vrSrchOrderPhase","vrOrderByGb","vrSrchOrdDegree", "vrSrchPoiNo", "vrSrchUnitNoGb", "vrSrchCustId"];
	var arrVal = [vrSS_SVC_NO, vrSrchReqDtFrom, vrSrchReqDtTo, vrSrchOrderPhase, vrOrderByGb, vrSrchOrdDegree, vrSrchPoiNo, unitNoGb, vrSrchCustId];

	
	//jsp 실행 경로
	var url = "/jsp/OZReport8.jsp";
	//jsp 보낼 form 셋팅
	var frm = jQuery('form[name="frm_oz"]')[0];
	frm.target="DivOzViewer"; 
	frm.action = url;
	//jsp target iframe
	var iframe = jQuery('#DivOzViewer')[0];
	iframe.src = url;

	//post로 받은 데이터 파라미터 form에 저장
	for(var i = 0 ; i < arrKey.length ; i++){
		var frmValue = document.createElement("input");
		frmValue.setAttribute("type","hidden");
		frmValue.setAttribute("name", arrKey[i]);
		frmValue.setAttribute("value",arrVal[i]);
		frm.appendChild(frmValue);
	}
	
	jQuery("form[name='frm_oz'] input[name='fileName']").val(fileName);
	jQuery("form[name='frm_oz'] input[name='reportName']").val(reportName);
	jQuery("form[name='frm_oz'] input[name='odiName']").val(odiName);
	jQuery("form[name='frm_oz'] input[name='arrKey']").val(arrKey);
	frm.submit();
});
function fn_call(){
	if(confirm("$!lang.getText('출력물이 정상발행 되었는지 확인해주십시오.\n\n발행완료(피킹리스트발행 확정) 하시겠습니까?')")){
		var opnr_func = eval("opener.pickingPoiKakao");
		opnr_func();
		
		javascript:self.close();	
	}
}

</script>

</head>
<body>
	<div style="display:flex;">
   		<div style="flex:1; padding:1px;">
   			<input type="button" style="font-size:22px; height:85px; width:100%; background-color:#F15F5F;cursor:pointer;" id="confirmBtn" name="btn_write" value="$!lang.getText('발행완료')" onClick="fn_call();" role="button" aria-disabled="false"/>
   		</div>
   		<div style="flex:1; padding:1px;">
    		<input type="button" style="font-size:22px; height:85px; width:100%;cursor:pointer;" id="cancelBtn" name="btn_write" value="$!lang.getText('취소')" onClick="javascript:self.close();" role="button" aria-disabled="false"/>
   		</div>
   	</div>
	<!-- file export용 iframe -->
	<section class="content" style="height:100%">
		<div class="container-fluid" style="height:100%">
			<form name="frm_oz" method="POST" target="DivOzViewer">
				<input type="hidden" name="fileName" value="">
				<input type="hidden" name="reportName" value="">
				<input type="hidden" name="odiName" value="">
				<input type="hidden" name="arrKey" value="">
			</form>
	
			<iframe id="DivOzViewer" name="DivOzViewer" frameBorder="0" scrolling="no" style="padding:0px;width:100%;height:100%;overflow:hidden;">
			</iframe>
		</div>
	</section>
</body>