<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
		    	#if($SS_SVC_NAME == "올푸드 물류센터" || $SS_SVC_NAME == "PR_WAREHOUSE")
		    	<input type = "button" name = "btnTemB2d" 	 class="INS_AUTH"	value = "$!lang.getText('올푸드전용 템플릿입력')"	onclick = "fn_orderUploadB2D();"	role="button" aria-disabled="false"/>
				#end 
				#if($SS_SVC_NAME == "올푸드 물류센터" || $SS_SVC_NAME == "PR_WAREHOUSE")
				<input type = "button" name = "btnTemB2c" 	 class="INS_AUTH"	value = "$!lang.getText('B2C전용 템플릿입력')"	onclick = "fn_orderUploadB2C();"	role="button" aria-disabled="false"/>
				#end
 				#if($SS_SVC_NO == "0000001840" || $SS_SVC_NO == "0000003200") <!--GS네트웍스/카카오VX B2C전용 템플릿 사용-->
				<input type = "button" name = "btnTemB2c" 	 class="INS_AUTH"	value = "$!lang.getText('B2C전용 템플릿입력')"	onclick = "fn_orderUploadB2C();"	role="button" aria-disabled="false"/>
				#end 
	    		<input type = "button" name = "btnTemSap" 	 class="INS_AUTH"	value = "$!lang.getText('SAP전용템플릿입력')"	onclick = "fn_orderUploadSAP();"	role="button" aria-disabled="false"/>
				<input type = "button" name = "btnTem" 		 class="INS_AUTH"	value = "$!lang.getText('템플릿입력')"			onclick = "fn_orderUpload();"	 	role="button" aria-disabled="false"/>
				<!--
					<input type = "button" name = "btnChangeDate"   value = "$!lang.getText('출고일변경')" 	onclick = "fn_changeDate();"	 role="button" aria-disabled="false"/>
				-->
	    	</div>
		</div>
	</div>	
</div>

<div class="patternWrap">
	
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "120px"/>
				<col width = "15%"/>
				<col width = "100px"/>
				<col width = "18%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "45px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>
						<select id="cmbSrchType" name="cmbSrchType" >
							<option value="100">$!lang.getText('출고예정일')</option>
							<option value="200">$!lang.getText('출고일')</option>
						</select>
					</th>
					<td colspan="3">
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					
					<th class="thBar">$!lang.getText('창고')</th>
					<td>
						<input type="text" class = "text" style="width: 43%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 43%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
					</td>
					
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 43%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 43%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					
					<th class="btnSearch" rowspan="5" id="hiddenBtn">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
					</th>
				</tr>
			
				<tr>
					<th>$!lang.getText('작업구분')</th>
					<td>
						$!comCode.getComboComCode("ORD03", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
					</td>
					
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>
					
					<th class="thBar">$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="N/A">$!lang.getText('미지정')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 43%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 43%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()">
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId">
					</td>
					

				</tr>
				<tr class="hiddenZone">	
					<th>$!lang.getText('주문상세')</th>
					<td>
						$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th class="thBar">$!lang.getText('컨테이너번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchCntrNo" id="vrSrchCntrNo">
					</td>
					<th class="thBar">$!lang.getText('비고')#1</th>
					<td>
						<input type = "text" class = "text" name="vrSrchEtc1" id="vrSrchEtc1">
					</td>
					<th class="thBar">$!lang.getText('비고')#2</th>
					<td>
						<input type = "text" class = "text" name="vrSrchEtc2" id="vrSrchEtc2">
					</td>
<!-- 					<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH"	name="btnInit" value="$!lang.getText('')"  onClick="fn_initSer();" title="초기화"	 role="button" aria-disabled="false"/>	 -->
<!-- 					</th> -->
				</tr>
				<tr class="hiddenZone">	
					<th>$!lang.getText('LOT NO.')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchCustLotNo" id="vrSrchCustLotNo">
					</td>
					<th class="thBar">$!lang.getText('고객명')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchSalesCustNm" id="vrSrchSalesCustNm">
					</td>
					<th>$!lang.getText('입력소스')</th>
					<td>
						$!comCode.getComboComCode("INS01", "vrSrchInsertSource", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th>$!lang.getText('원주문번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
					</td>
				</tr>
				
				<tr class="hiddenZone">	
					<th class="thBar">$!lang.getText('ZONE코드')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchZoneCd" id="vrSrchZoneCd">
					</td>
					
					<th>$!lang.getText("매출거래처")</th>
					<td>
						<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:43%" onChange="txtSrchCustCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('SrchCust');return false;" class="imgSearch">
						<input type="hidden" name="txtSrchCustId" id="txtSrchCustId"/>
						<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:43%" onChange="txtSrchCustNm_OnKillFocus()"/>
					</td>
					<th>$!lang.getText("거래처명(포함)")</th>
					<td>
						<input type = "text" class = "text" name="vrSrchTransCucstNm" id="vrSrchTransCucstNm">
					</td>
					<th class="thBar">$!lang.getText('등록주문차수')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrdDegree" id="vrSrchOrdDegree">
					</td>
				</tr>
				<tr>
					<th>$!lang.getText('무게관리여부')</th>
					<td colspan="7">
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchWgtYn" id="vrSrchWgtYn" readonly="readonly">
						
						$!lang.getText('유효기간관리여부')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchBestDateYn" id="vrSrchBestDateYn" readonly="readonly">
						
						$!lang.getText('RFID적용여부')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchRfidYn" id="vrSrchRfidYn" readonly="readonly">
						
						$!lang.getText('주문등록수량')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchInOrderCntInit" id="vrSrchInOrderCntInit" readonly="readonly">
						
						$!lang.getText('작업중수량')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchInWorkCntInit" id="vrSrchInWorkCntInit" readonly="readonly">
					</td>
	
					<td style="text-align: center; cursor:pointer; border-top:1px solid #BDBDBD; border-right:1px solid #BDBDBD; border-bottom:1px solid #BDBDBD; border-left:1px solid #BDBDBD;" onclick="fn_hiddenZoneSearch();">
						<input id="vrhiddenZoneView"	name="vrhiddenZoneView"	value="$!lang.getText('접기')" readOnly="readOnly" style="vertical-align:middle;line-height:18px; border:none; width:22px; cursor:pointer;" title="$!lang.getText('조회조건 최대/최소화')">
						<img src="http://winus.logisall.com/img/common/arrow_open.png" id="hiddenZoneImg"	name="hiddenZoneImg"	style="width:17px; height:17px; transform:rotateX(180deg)">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<input type = "hidden" class = "text" name = "vrType" 		id = "vrType">
		<input type = "hidden" class = "text" name = "vrPageGb" 	id = "vrPageGb">
		<input type = "hidden" class = "text" name = "vrOrderByGb" 	id = "vrOrderByGb">
		<input type = "hidden" class = "text" name = "vrBarCodeGb" 	id = "vrBarCodeGb">
	</form>
   
    <div class = "btnArea">
    	<div class = "btnAreaRight" id="btnArea">
			<input type="button" name="btnWork" id="btnWork" class="INS_AUTH btnEtc" role="button" value="전체통합버튼" onclick="fn_totalContextWorkModal2();">
    		<input type = "button" class = "INS_AUTH btnEtc" 	name = "btnInsert" 	value = "$!lang.getText('신규')"		onclick = "fn_new()"		role="button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" name = "btnDelete"	value = "$!lang.getText('삭제')"		onClick = "fn_delete();"	role="button" aria-disabled="false"/>			
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('전체'))" 	onclick = "fn_excelDown()"	role="button" aria-disabled="false"/>
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('선택'))" 	onclick = "fn_excelDown2()"	role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('파일업로드')" onclick="fn_filePop();"/>
    	</div>
    </div>
    
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	
	<form id="moveForm" name="moveForm" method="post" action="/WINUS/WMSST050.action">
		<input type="hidden" name="vrSrchCustCd2" id="vrSrchCustCd2" />
		<input type="hidden" name="vrSrchCustNm2" id="vrSrchCustNm2" />
		<input type="hidden" name="vrSrchWhNm2"   id="vrSrchWhNm2" />
		<input type="hidden" name="vrSrchItemCd2" id="vrSrchItemCd2" />
		<input type="hidden" name="vrSrchItemNm2" id="vrSrchItemNm2" />
	</form>
	
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
	
	<form name="frm_list2" id="frm_list2">
    	<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form> 
	
	<form name = "frm_dataApi" id = "frm_dataApi">
		<div id = "formDataApi" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>

<div id="dataTable"></div>

<form name="frm_listRestApi">		
	<div id = "formDataRestApi" style = "visibility : hidden ; width : 0 ; height : 0"></div>
</form>

<form style="display:none" id="submitForm" name="submitForm" action="/WMSOP000Q8.action" method="POST", target="fn_DspPopup">
	<input id="strParameter" name="strParameter">
	<input id="func" name="func">
</form>

</html>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>