<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('상품별 현재고조회')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/SpreadJS12/jQuery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>				
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.json.js"></script>

<!--/*SpreadJS Import*/-->
<script type="text/javascript" src="/js/SpreadJS12/scripts/gc.spread.sheets.all.12.2.4.min.js"></script>
<script type="text/javascript" src="/js/SpreadJS12/scripts/SpreadLicenseKey.js"></script>
<!--/*SpreadJS css*/-->
<link type="text/css" rel="stylesheet" href="/js/SpreadJS12/css/gc.spread.sheets.excel2013white.12.2.4.css" />
<script type="text/javascript" src="/js/SpreadJS12/Winus12.js?ver=20200724"></script>
<script type="text/javascript" src="/js/SpreadJS12/jquery-ui-1.11.3.min.js"></script>
<!--/*SpreadJS Import End*/-->

<script type="text/javascript" src="/js/prototype-1.7.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>

<script type="text/javascript" src="/js/bPopup.js"></script>
<script type="text/javascript" src="/js/sha512.js"></script>
<!--/*SpreadJS Import End*/-->
<script type="text/javascript" src="/js/common.js?ver=20191014"></script>


</head>

<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_lc_info = $!session.getAttribute("SS_LC_INFO"))
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">

var PUBLIC_SPD_HEIGHT_TITLE = '22';
var PUBLIC_SPD_HEIGHT = '25';
var DFC_LINE = '#D4D4D4';
var spdSheetE1;
var spdListE1;
var colNameArrayE1;
var spdFooterE1;

var spdSheetE2;
var spdListE2;
var colNameArrayE2;
var spdFooterE2;

//파라미터 (순서)
var arrRitemId = ("$!request.getParameter('arrRitemId')").split(",");
var vrCustId = "$!request.getParameter('vrCustId')";

//버튼권한때문에필요
var vrProgramId ;
var vrDivBtn = true;
var vrMainedit = true;

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();
	/* 페이지 초기셋팅 */
	jQuery(".btnAreaLeft span").hide();

	/* 버튼권한처리 
	var url = "/TMSCM070/selectAuthBtn.action";
	var param = "vrProgramId=" + vrProgramId;
	jQuery.post(url, param, function(data){
		//console.log(data)
		var AuthBtn = data.AuthBtn[0];
		if(vrDivBtn){
			if(AuthBtn.INS_AUTH != 'Y'){
				jQuery(".INS_AUTH").hide();
			}
			if(AuthBtn.DEL_AUTH != 'Y'){
				jQuery(".DEL_AUTH").hide();
			}
		}else{
// 			jQuery(".INS_AUTH , .DEL_AUTH").hide();
		}
	});*/
	
	fn_setGridPropertyE1();
	ps_setSpreadEvents_Bind_Multi(spdListE1,spdSheetE1);
	spdListE1.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
      onCellClickE1(args);
  	});
	fn_loadCompleteE1();

	/* FOOTER */
	var rowCount = [500,700,1000,2000,3000,5000,10000,50000,100000];
	spdFooterE1 = jQuery("#spdListFooterE1");
	// footer div객체, rowCountSelect 배열 초기화
	fn_pager_init(spdFooterE1,rowCount);
	// footer page change시
	function changeListenerE1(value){
		fn_searchE1();
	}
	
	fn_pager_search_event_bind(spdFooterE1,changeListenerE1);
	fn_searchE1();

	fn_setGridPropertyE2();
	ps_setSpreadEvents_Bind_Multi(spdListE2,spdSheetE2);
	spdListE2.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
      onCellClickE2(args);
  	});
	fn_loadCompleteE2();

	spdFooterE2 = jQuery("#spdListFooterE2");
	// footer div객체, rowCountSelect 배열 초기화
	fn_pager_init(spdFooterE2,rowCount);
	// footer page change시
	function changeListenerE2(value){
		fn_searchE2();
	}
	fn_pager_search_event_bind(spdFooterE2,changeListenerE2);

	//gfn_forceEventResize();

});



//-->

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}
function fn_setGridPropertyE1(){
	colNameArrayE1 = [
		'CUST_CD'
		, 'CUST_NM'
		, 'ITEM_GRP_NM'
		, 'RITEM_CD'
		, 'RITEM_NM'

		, 'BEFORE_STOCK_QTY'
		, 'IN_QTY'
		, 'OUT_QTY'
		, 'CROSS_QTY'
		, 'EVENT_QTY'

		, 'RETURN_QTY'
		, 'STOCK_QTY'
		, 'BAD_QTY'
		, 'STOCK_TOTAL_QTY'
		, 'OUT_ABLE_QTY'

		, 'UNIT_NM'
		, 'UOM_NM'
		, 'PLT_UOM'
		, 'EA_QTY'
		, 'BOX_QTY'

		, 'PLT_QTY'
		, 'BAG_QTY'
		, 'CBM_QTY'
		, 'STOCK_WEIGHT'
		, 'ISO_QTY'

		, 'B_QTY'
		, 'AS_QTY'
		, 'CS_QTY'
		, 'OUT_EXP_QTY'
		, 'PICKING_QTY'
		
		, 'CHANGE_RDY_QTY'
		, 'PROP_QTY'
		, 'REMARK'
		, 'MAKER_NM'
		, 'CUST_ITEM_CD'
		
		, 'ITEM_SIZE'
		, 'COLOR'
		, 'PROP_CHK'
		, 'UOM_ID'
		, 'RITEM_ID'
		
		, 'WH_ID'
		, 'CUST_ID'
	];
	spdSheetE1 = new GC.Spread.Sheets.Workbook(jQuery("#spdListE1")[0], { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheetE1, false);
	spdListE1 = spdSheetE1.getActiveSheet(0);

	spdListE1.options.protectionOptions.allowFilter = true;
	spdListE1.options.protectionOptions.allowSort = true;

	ps_setSpreadList_init(spdListE1, 1, colNameArrayE1.indexOf('COLOR')+1, 0);

	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('CUST_CD'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('CUST_NM'), 'CENTER', 'LEFT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('ITEM_GRP_NM'), 'CENTER', 'LEFT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('RITEM_CD'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('RITEM_NM'), 'CENTER', 'LEFT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('BEFORE_STOCK_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('IN_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('OUT_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('CROSS_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('EVENT_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('RETURN_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('STOCK_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('BAD_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('STOCK_TOTAL_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('OUT_ABLE_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('UNIT_NM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('UOM_NM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('PLT_UOM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('EA_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('BOX_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('PLT_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('BAG_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('CBM_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('STOCK_WEIGHT'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('ISO_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('B_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('AS_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('CS_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('OUT_EXP_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('PICKING_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('CHANGE_RDY_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE1,colNameArrayE1.indexOf('PROP_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('REMARK'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('MAKER_NM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('CUST_ITEM_CD'), 'CENTER', 'CENTER', 8, false, true, "");

	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('ITEM_SIZE'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('COLOR'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('PROP_CHK'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('UOM_ID'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('RITEM_ID'), 'CENTER', 'CENTER', 8, false, true, "");

	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('WH_ID'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE1,colNameArrayE1.indexOf('CUST_ID'), 'CENTER', 'CENTER', 8, false, true, "");

	ps_setSpreadStyleDetailE1();
}

function ps_setSpreadStyleDetailE1(){
	spdListE1.suspendPaint();
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CUST_CD'), '$!lang.getText("화주코드")', 60, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CUST_NM'), '$!lang.getText("화주명")', 140, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('ITEM_GRP_NM'), '$!lang.getText("상품군")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('RITEM_CD'), '$!lang.getText("상품코드")', 170, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('RITEM_NM'), '$!lang.getText("상품명")', 200, true);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('BEFORE_STOCK_QTY'), '$!lang.getText("전일재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('IN_QTY'), '$!lang.getText("입고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('OUT_QTY'), '$!lang.getText("일반출고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CROSS_QTY'), '$!lang.getText("크로스도킹")', 80, false);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('EVENT_QTY'), '$!lang.getText("이벤트출고")', 80, false);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('RETURN_QTY'), '$!lang.getText("반품출고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('STOCK_QTY'), '$!lang.getText("정상재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('BAD_QTY'), '$!lang.getText("불량재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('STOCK_TOTAL_QTY'), '$!lang.getText("전체재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('OUT_ABLE_QTY'), '$!lang.getText("출고가용재고")', 90, true);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('UNIT_NM'), '$!lang.getText("입수")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('UOM_NM'), '$!lang.getText("UOM")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('PLT_UOM'), '$!lang.getText("PLT환산수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('EA_QTY'), '$!lang.getText("EA수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('BOX_QTY'), '$!lang.getText("BOX수량")', 80, true);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('PLT_QTY'), '$!lang.getText("PLT수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('BAG_QTY'), '$!lang.getText("BAG수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CBM_QTY'), '$!lang.getText("CBM")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('STOCK_WEIGHT'), '$!lang.getText("중량")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('ISO_QTY'), '$!lang.getText("격리재고")', 80, true);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('B_QTY'), '$!lang.getText("B급재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('AS_QTY'), '$!lang.getText("AS재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CS_QTY'), '$!lang.getText("CS재고")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('OUT_EXP_QTY'), '$!lang.getText("출고예정수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('PICKING_QTY'), '$!lang.getText("피킹수량")', 80, true);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CHANGE_RDY_QTY'), '$!lang.getText("임가공작업수량")', 90, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('PROP_QTY'), '$!lang.getText("적정재고")', 0, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('REMARK'), '$!lang.getText("비고")', 60, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('MAKER_NM'), '$!lang.getText("브랜드")', 60, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CUST_ITEM_CD'), '$!lang.getText("화주상품코드")', 60, true);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('ITEM_SIZE'), '$!lang.getText("사이즈")', 60, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('COLOR'), '$!lang.getText("색상")', 60, true);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('PROP_CHK'), '$!lang.getText("PROP_CHK")', 60, false);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('UOM_ID'), '$!lang.getText("UOM_ID")', 60, false);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('RITEM_ID'), '$!lang.getText("RITEM_ID")', 60, false);

	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('WH_ID'), '$!lang.getText("WH_ID")', 60, false);
	ps_setSpreadTitle_Named(spdListE1, 0, colNameArrayE1.indexOf('CUST_ID'), '$!lang.getText("CUST_ID")', 60, false);
	
	spdListE1.defaults.colHeaderRowHeight = PUBLIC_SPD_HEIGHT_TITLE; //기본높이
    spdListE1.defaults.rowHeight = PUBLIC_SPD_HEIGHT;
  	
	var setHeaderRow = spdListE1.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
	setHeaderRow.font("bold 13px Arial");
   	setHeaderRow.backColor("#d5dce6");
   	setHeaderRow.foreColor("#4e5661");
		
	//spdList.autoFitColumn(colNameArray.indexOf("SPDCOL_CUST_LOT_NO"));
	var filter = new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, 0, spdListE1.getRowCount(), colNameArrayE1.indexOf("CUST_ID")));
	spdListE1.rowFilter(filter);
	
	filter.filterDialogVisibleInfo({sortByColor: false });
	
	spdListE1.resumePaint();
}

function fn_loadCompleteE1(){
	var spdList = spdListE1;
	var colNameArray = colNameArrayE1;
	var nRow = spdList.getRowCount();

	spdList.suspendPaint();

	/* Add rows after the last row */
	spdList.addRows(nRow, 1);

	/* footer */
	spdList.setValue(nRow, 0,"$!lang.getText('합계')");

	var colBeforeStockQty = colNameArray.indexOf("BEFORE_STOCK_QTY");
	var colInQty = colNameArray.indexOf("IN_QTY");
	var colOutQty = colNameArray.indexOf("OUT_QTY");
	var colCrossQty = colNameArray.indexOf("CROSS_QTY");
	var colEventQty = colNameArray.indexOf("EVENT_QTY");
	var colReturnQty = colNameArray.indexOf("RETURN_QTY");
	var colStockQty = colNameArray.indexOf("STOCK_QTY");
	var colEaQty = colNameArray.indexOf("EA_QTY");
	var colBoxQty = colNameArray.indexOf("BOX_QTY");
	var colPltQty = colNameArray.indexOf("PLT_QTY");
	var colBagQty = colNameArray.indexOf("BAG_QTY");
	var colBadQty = colNameArray.indexOf("BAD_QTY");
	var colCBMQty = colNameArray.indexOf("CBM_QTY");
	var colStockWeight = colNameArray.indexOf("STOCK_WEIGHT");
	var colIsoQty = colNameArray.indexOf("ISO_QTY");
	var colBQty = colNameArray.indexOf("B_QTY");
	var colAsQty = colNameArray.indexOf("AS_QTY");
	var colCsQty = colNameArray.indexOf("CS_QTY");
	var colOutExpQty = colNameArray.indexOf("OUT_EXP_QTY");
	var colPickingQty = colNameArray.indexOf("PICKING_QTY");
	var colChangeRdyQty = colNameArray.indexOf("CHANGE_RDY_QTY");
	var colPropQty = colNameArray.indexOf("PROP_QTY");
	var colStockTotalQty = colNameArray.indexOf("STOCK_TOTAL_QTY");
	var colOutAbleQty = colNameArray.indexOf("OUT_ABLE_QTY");

	var arrColSum = [
		colBeforeStockQty
		, colInQty
		, colOutQty
		, colCrossQty
		, colEventQty
		, colReturnQty
		, colStockQty
		, colEaQty
		, colBoxQty
		, colPltQty
		, colBagQty
		, colBadQty
		, colCBMQty
		, colStockWeight
		, colIsoQty
		, colBQty
		, colAsQty
		, colCsQty
		, colOutExpQty
		, colPickingQty
		, colChangeRdyQty
		, colPropQty
		, colStockTotalQty
		, colOutAbleQty
	];
	function getStringCord(col){
		var a = parseInt(col/26);
		var b = col%26;
		if(a == 0){
			return String.fromCharCode(b+65);
		}
		return getStringCord(a-1)+String.fromCharCode(b+65);
	}
	
	for(var i = 0 ; i < arrColSum.length ; i++){
		var tempCol = arrColSum[i];
		var tempQty = getStringCord(tempCol);
		ps_setSpreadCOL_FormulaSUM(spdList, tempCol, "SUM(" + tempQty + "1" + ":" + tempQty + (spdList.getRowCount() - 1) + ")");
	}


	spdList.getRange(nRow, 0, 1, spdList.getColumnCount()).backColor(DFC_LINE);

	var style = new GC.Spread.Sheets.Style();
	style.font = 'bold 14px arial';

	spdList.setStyle(nRow,-1,style,GC.Spread.Sheets.SheetArea.viewport);
	
	spdList.resumePaint();
}

function fn_setGridPropertyE2(){
	colNameArrayE2 = [
		'WORK_DT'
		, 'LOC_NM'
		, 'LOC_TYPE'
		, 'RITEM_CD'
		, 'RITEM_NM'

		, 'STOCK_QTY'
		, 'UNIT_NM'
		, 'UOM_NM'
		, 'OUT_EXP_QTY'
		, 'REAL_PLT_QTY'

		, 'CBM'
		, 'BL_NO'
		, 'WH_NM'
		, 'CUST_LOT_NO'
		, 'ITEM_CLASS'

		, 'MAKE_DT'
		, 'STOCK_ID'
		, 'ITEM_BEST_DATE_END'
		, 'STOCK_RANK'
		, 'GAP_RANK'

		, 'STOCK_WEIGHT'
		, 'UNIT_NO'
		, 'LOCK_YN'
	];
	spdSheetE2 = new GC.Spread.Sheets.Workbook(jQuery("#spdListE2")[0], { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheetE2, false);
	spdListE2 = spdSheetE2.getActiveSheet(0);

	spdListE2.options.protectionOptions.allowFilter = true;
	spdListE2.options.protectionOptions.allowSort = true;

	ps_setSpreadList_init(spdListE2, 1, colNameArrayE2.indexOf('LOCK_YN')+1, 0);

	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('WORK_DT'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('LOC_NM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('LOC_TYPE'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('RITEM_CD'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('RITEM_NM'), 'CENTER', 'LEFT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE2,colNameArrayE2.indexOf('STOCK_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('UNIT_NM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('UOM_NM'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE2,colNameArrayE2.indexOf('OUT_EXP_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_NUMBER_Property(spdListE2,colNameArrayE2.indexOf('REAL_PLT_QTY'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE2,colNameArrayE2.indexOf('CBM'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('BL_NO'), 'CENTER', 'LEFT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('WH_NM'), 'CENTER', 'LEFT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('CUST_LOT_NO'), 'CENTER', 'LEFT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('ITEM_CLASS'), 'CENTER', 'LEFT', 8, false, true, "");

	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('MAKE_DT'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('STOCK_ID'), 'CENTER', 'LEFT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('ITEM_BEST_DATE_END'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('STOCK_RANK'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('GAP_RANK'), 'CENTER', 'RIGHT', 8, false, true, "");

	ps_setSpreadCol_NUMBER_Property(spdListE2,colNameArrayE2.indexOf('STOCK_WEIGHT'), 'CENTER', 'RIGHT', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('UNIT_NO'), 'CENTER', 'CENTER', 8, false, true, "");
	ps_setSpreadCol_TEXT_Property(spdListE2,colNameArrayE2.indexOf('LOCK_YN'), 'CENTER', 'CENTER', 8, false, true, "");

	ps_setSpreadStyleDetailE2();
}

function ps_setSpreadStyleDetailE2(){
	spdListE2.suspendPaint();
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('WORK_DT'), '$!lang.getText("작업일자")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('LOC_NM'), '$!lang.getText("로케이션")', 100, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('LOC_TYPE'), '$!lang.getText("타입")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('RITEM_CD'), '$!lang.getText("상품코드")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('RITEM_NM'), '$!lang.getText("상품명")', 200, true);

	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('STOCK_QTY'), '$!lang.getText("재고수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('UNIT_NM'), '$!lang.getText("입수")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('UOM_NM'), '$!lang.getText("UOM")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('OUT_EXP_QTY'), '$!lang.getText("출고예정수량")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('REAL_PLT_QTY'), '$!lang.getText("PLT수량")', 80, true);

	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('CBM'), '$!lang.getText("CBM")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('BL_NO'), '$!lang.getText("B/L번호")', 100, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('WH_NM'), '$!lang.getText("창고")', 140, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('CUST_LOT_NO'), '$!lang.getText("LOT번호")', 140, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('ITEM_CLASS'), '$!lang.getText("제품등급")', 100, false);

	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('MAKE_DT'), '$!lang.getText("제조일자")', 100, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('STOCK_ID'), '$!lang.getText("STOCK_ID")', 100, false);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('ITEM_BEST_DATE_END'), '$!lang.getText("유효기간만료일")', 100, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('STOCK_RANK'), '$!lang.getText("STOCK_RANK")', 100, false);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('GAP_RANK'), '$!lang.getText("GAP_RANK")', 100, false);

	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('STOCK_WEIGHT'), '$!lang.getText("무게")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('UNIT_NO'), '$!lang.getText("UNIT번호")', 80, true);
	ps_setSpreadTitle_Named(spdListE2, 0, colNameArrayE2.indexOf('LOCK_YN'), '$!lang.getText("LOCK_YN")', 60, true);

	spdListE2.defaults.colHeaderRowHeight = PUBLIC_SPD_HEIGHT_TITLE; //기본높이
    spdListE2.defaults.rowHeight = PUBLIC_SPD_HEIGHT;
  	
	var setHeaderRow = spdListE2.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
	setHeaderRow.font("bold 13px Arial");
   	setHeaderRow.backColor("#d5dce6");
   	setHeaderRow.foreColor("#4e5661");
		
	//spdList.autoFitColumn(colNameArray.indexOf("SPDCOL_CUST_LOT_NO"));
	var filter = new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, 0, spdListE2.getRowCount(), colNameArrayE2.indexOf("LOCK_YN")));
	spdListE2.rowFilter(filter);
	
	filter.filterDialogVisibleInfo({sortByColor: false });
	
	spdListE2.resumePaint();
}

function fn_loadCompleteE2(){
	var spdList = spdListE2;
	var colNameArray = colNameArrayE2;
	var nRow = spdList.getRowCount();

	spdList.suspendPaint();

	spdList.resumePaint();
}
//--------------------------------------------------------------------------------상단그리드-------------------------------------------------------------------------------------//
/*
	조회								:	fn_search;
	입고수량변경						:	fn_changeQty;
	작업수량변경(입고수량변경후하는거)		:	fn_setWorkQty;
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 상단 조회*/
function fn_searchE1(){
	var param 	= jQuery("form[name='frm_list']").serialize();
	var vrSrchRitemId = arrRitemId;
	var url 	= "/WMSST010/itemList.action?"+param+"&vrSrchRitemId="+vrSrchRitemId;

	/* FOOTER */
	// value : {rowCount, currentPage, totalPage, totalRowCount}
	var value = fn_getFooterData(spdFooterE1);
	var rows = value.RowCount;
	var page = value.CurrentPage;	
	url += "&rows=" + rows + "&page=" + page; 
	// end
	jQuery.ajax({
		url: url,
		type: 'GET',
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			setRST_DetailE1(data);
			fn_loadCompleteE1()
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {
			
			cfn_loadingModalClose1();
		}
	});
}

function setRST_DetailE1(ds){
	var spdList = spdListE1;
	var colNameArray = colNameArrayE1;
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    
    /* FOOTER */
    // Total Count set
    fn_setTotalRowCount(spdFooterE1,arrBind.records);
    // end footer
    
    arrBind	= arrBind.rows;
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck
    spdList.suspendPaint();
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdList.autoGenerateColumns = false;
    	// format 설정 가능
    	var colInfos=[]
		for(var i = 0 ; i < colNameArray.length ; i++){
			var tempObj = { name : colNameArray[i] };
			colInfos.push(tempObj)
		}
    	spdList.setDataSource(arrBind);
		spdList.bindColumns(colInfos);
    }
    spdList.resumePaint();
    ps_setSpreadStyleDetailE1();
    //gfn_forceEventResize();
}

function fn_searchE2(){
	var grid = spdListE1;
	var id = jQuery('#MAIN_ID').val();
	var uom_id = grid.getValue(id, colNameArrayE1.indexOf('UOM_ID'));
	var ritem_id = grid.getValue(id, colNameArrayE1.indexOf('RITEM_ID'));
	//var txtSrchLocId = jQuery('form[name="frm_list"] input[name="txtSrchLocId"]').val();
	//var vrZoneGubunId = jQuery('form[name="frm_list"] select[name="vrZoneGubunId"] option:selected').val();
	var vrSrchLcId = '$SS_SVC_NO';
	var vrSrchCustId = vrCustId;

	var param = "vrRitemId="+ritem_id+"&vrUomId="+uom_id+"&vrSrchLcId="+vrSrchLcId+"&vrSrchCustId="+vrSrchCustId;
	var url 	= "/WMSST010/sublist.action?"+param;

	/* FOOTER */
	// value : {rowCount, currentPage, totalPage, totalRowCount}
	var value = fn_getFooterData(spdFooterE2);
	var rows = value.RowCount;
	var page = value.CurrentPage;	
	url += "&rows=" + rows + "&page=" + page; 
	// end
	jQuery.ajax({
		url: url,
		type: 'GET',
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			setRST_DetailE2(data);
			fn_loadCompleteE2()
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {
			
			cfn_loadingModalClose1();
		}
	});
}

function setRST_DetailE2(ds){
	var spdList = spdListE2;
	var colNameArray = colNameArrayE2;
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    
	console.log()

    /* FOOTER */
    // Total Count set
    fn_setTotalRowCount(spdFooterE2,arrBind.records);
    // end footer
    
    arrBind	= arrBind.rows;
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck
    spdList.suspendPaint();
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdList.autoGenerateColumns = false;
    	// format 설정 가능
    	var colInfos=[]
		for(var i = 0 ; i < colNameArray.length ; i++){
			var tempObj = { name : colNameArray[i] };
			colInfos.push(tempObj)
		}
    	spdList.setDataSource(arrBind);
		spdList.bindColumns(colInfos);
    }
    spdList.resumePaint();
    ps_setSpreadStyleDetailE2();
    //gfn_forceEventResize();
}

function onCellClickE1(args){
	console.log("1")
	jQuery('#MAIN_ID').val(args.row);
	fn_searchE2();
}
function onCellClickE2(args){
	console.log("2");
	console.log(args);
	jQuery('#SUB_ID').val(args.row);
	//fn_searchE2();
}

ps_setSpreadEvents_CellClick = function(args){
	
}
//EVENT : checkBox all selection
ps_setSpreadEvents_CellChanged = function(args){
	
}
//EVENT : checkBox all selection
ps_setSpreadEvents_ButtonClicked = function(args){
	
}
//EVENT : checkBox all selection
ps_setSpreadEvents_LostFocus = function(args){
	
}
//EVENT : checkBox all selection
ps_setSpreadEvents_CellDoubleClick = function(args){
	
}
//--------------------------------------------------------------------------------하단그리드-------------------------------------------------------------------------------------//
/*
	그리드 팝업처리		:	fn_subGridFormatter
	그리드 선택표시		:	fn_subSelect			:	팝업버튼눌렀을때 그리드 선택되게 표시
	조회				:	fn_subSearch			:	상단그리드 선택햇을때 조회
	로케이션추천		:	fn_autoLoc
	저장				:	fn_save
	신규				: 	fn_new
	삭제				:	fn_delete
	팝업				:	fn_Popup
	로케이션팝업후		:	fn_setWMSCM080
	초기화			:	fn_initSer
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 서브그리드 팝업처리 */
function fn_subGridFormatter(value, option, row){
	return '<img src="/img/exam/btn/ico_search.gif" onClick="fn_Popup('+"'LOCATION'"+','+option.rowId+');" />';
}

/* 서브 그리드 선택 */
function fn_subSelect(id){
	//선택되 있지않을때 환산이력의 UOM을 변경햇을시 자동으로 선택되도록 셋팅한다.
	var grid = jQuery("#list2");
	if(grid.getCell(id, 'CHK_BOX') != "Yes"){
		jQuery("#jqg_list2_"+id).attr("checked",true);
		grid.setCell(id, 'CHK_BOX', "Yes");
		grid.editRow(id);
		if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid2.setStatus(id, "INSERT");
		}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid2.setStatus(id, "UPDATE");
		}
		grid.setSelection(id, true);
	}
}

/* 서브그리드 조회 */
function fn_subSearch(id, col){
	jQuery("#MAIN_ID").val(id)
	var grid = jQuery("#list1");
	var vrWorkId = grid.getCell(id, 'WORK_ID');
	var vrWorkSeq = grid.getCell(id, 'WORK_SEQ');
	var url = "/WMSOP000Q5/listLocSub.action?vrWorkId=" + vrWorkId + "&vrWorkSeq=" + vrWorkSeq;
	listGrid2.search('', url);
}


</script>

<div class="popupWrap">
	<input type="hidden" name="MAIN_ID" id="MAIN_ID" value="1"/>
	<input type="hidden" name="SUB_ID" id="SUB_ID"/>
    <div class="popupContent">
        <div class="btnArea">
            <div class="btnAreaLeft" style="margin-left: 180px;">
            </div>
            <div class="btnAreaRight">

            </div>
        </div>

		<div id="divPanel_SpdList" style="padding-top:20px;">
		<div id="spdListE1" style="height:320px; border:1px solid #b0b0b0;"></div>
		<div id="spdListFooterE1" class ="ui-jqgrid ui-jqgrid-pager ui-widget ui-state-default ui-widget-content"></div>
		</div>
		<div id="spdListTable" style="display:none"></div>

		<br/>
		<form name="frm_list">
			<input type='hidden' name='func' 	  		id='func'			value='$!request.getParameter("func")'/>
		
	        <div class="btnArea">
	            <div class="btnAreaLeft" style="margin-left: 180px;">
	            </div>
	            <div class="btnAreaRight">
	            </div>
	        </div>
	    	<div id = "formData" style = "display : none; width : 0 ; height : 0"></div>
        </form>

        <div id="divPanel_SpdList" style="padding-top:10px;">
		<div id="spdListE2" style="height:320px; border:1px solid #b0b0b0;"></div>
		<div id="spdListFooterE2" class ="ui-jqgrid ui-jqgrid-pager ui-widget ui-state-default ui-widget-content"></div>
		</div>
		<div id="spdListTable" style="display:none"></div>

		<br/>
		<div class="btnArea">
			<div class="btnAreaRight">
				<input type="button" class="btnEtc" value="$!lang.getText('닫기')" 		onclick="javascript:self.close();"/>
			</div>
		</div>
	</div>
</div>
</body>
</html>