<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('템플릿입력')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
<script type="text/javascript">
	var strings = new Array();
	strings['file.error.nosuchfile'] = "$!lang.getText('첨부된파일이없습니다')";
	strings['file.error.maxfilename'] = "$!lang.getText('파일명길이제한[60byte]을초과합니다')";
	strings['file.error.extension'] = "$!lang.getText('업로드는JPG/PNG/GIF/PDF/XLS/TXT/DOC/PPT/ZIP파일만가능합니다')";

	strings['grid.no_selected_data_for_delete'] = "$!lang.getText('삭제할데이터를선택해주세요')";
	strings['grid.no_check_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";
	strings['grid.confirm_save'] = "$!lang.getText('저장하시겠습니까')";
	strings['grid.no_selected_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";

	strings['DEFAULT_MSG_REQUIRED'] = "$!message.getMessage('0은필수입력항목입니다', '\#{name}')";
	strings['DEFAULT_MSG_MAX_LENGTH'] = "$!message.getMessage('0은최대1자까지입력할수있습니다', '\#{name}', '#{max}')";
	strings['DEFAULT_MSG_MIN_LENGTH'] = "$!message.getMessage('0은최소1자이상입력해야합니다', '\#{name}', '\#{min}')";
	strings['DEFAULT_MSG_MIN_MAX_LENGTH'] = "$!message.getMessage('0은1자이상2자이하로입력해야합니다', '\#{name}', '\#{min}', '\#{max}')";
	strings['DEFAULT_MSG_MAX_BYTE_LENGTH'] = "$!message.getMessage('0은최대1byte까지입력할수있습니다', '\#{name}', '\#{max}')";

	strings['DEFAULT_MSG_MIN_BYTE_LENGTH'] = "$!message.getMessage('0은최소1byte이상입력해야합니다', '\#{name}', '\#{min}')";
	strings['DEFAULT_MSG_MIN_MAX_BYTE_LENGTH'] = "$!message.getMessage('0은1byte이상2byte이하로입력해야합니다', '\#{name}', '\#{min}', '\#{max}')";
	strings['DEFAULT_MSG_HANGUL'] = "$!message.getMessage('0은한글만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ALPHABET'] = "$!message.getMessage('0은영문자만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ALPHABET_LENGTH'] = "$!message.getMessage('0은1자이하의영문자만입력해야합니다', '\#{name}', '\#{max}')";

	strings['DEFAULT_MSG_ALPHANUM'] = "$!message.getMessage('0은영문자나숫자만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ALPHANUM_LENGTH'] = "$!message.getMessage('0은1자이하의영문자나숫자만입력해야합니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_FIGURE'] = "$!message.getMessage('0은숫자만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_FIGURE_LENGTH'] = "$!message.getMessage('0은1자이하의숫자만입력해야합니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_NUMBER'] = "$!message.getMessage('0은수만입력해야합니다', '\#{name}')";

	strings['DEFAULT_MSG_NUMBER_LENGTH'] = "$!message.getMessage('0은총1자리이하의수만입력해야합니다', '\#{name}','\#{max}')";
	strings['DEFAULT_MSG_NUMBER_DECIMAL_LENGTH'] = "$!message.getMessage('0은1자리이하의소수부를가진총2자리이하의수만입력해야합니다', '\#{name}', '\#{decimal}','\#{max}')";
	strings['DEFAULT_MSG_ID'] = "$!message.getMessage('0은영문자로시작하영문자와숫자로이루어진값만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ID_LENGTH'] = "$!message.getMessage('0은1자이하의영문자로시작하고영문자와숫자로이루어진값만입력해야합니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_EMAIL'] = "$!message.getMessage('0은이메일형식이아닙니다', '\#{name}')";

	strings['DEFAULT_MSG_EMAIL_LENGTH'] = "$!message.getMessage('0은이메일형식이아니거나1자이상입력되었습니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_SELECT'] = "$!message.getMessage('0을선택하여주십시오', '\#{name}')";
	strings['DEFAULT_MSG_CHECK'] = "$!message.getMessage('0은체크되지않았습니다', '\#{name}')";
	strings['DEFAULT_MSG_SSN'] = "$!lang.getText('올바른주민등록번호형식이아닙니다')";
	strings['DEFAULT_MSG_WRONG_SSN'] = "$!lang.getText('잘못된주민등록번호입니다')";

	strings['DEFAULT_MSG_BAD_WORD'] = "$!message.getMessage('0에금칙어1이포함되어있습니다', '\#{name}', '\#{word}')";
	strings['DEFAULT_MSG_NOT_EQUAL'] = "$!message.getMessage('0의입력값이서로다릅니다', '\#{name}')";
	strings['DEFAULT_MSG_EQUAL'] = "$!message.getMessage('0의입력값이서로같습니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_CERT_NO'] = "$!message.getMessage('0의입력값은올바른인증번호가아닙니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_CERT_NO_LENGTH'] = "$!message.getMessage('0은올바른인증번호가아니거나1자이상입력되었습니다', '\#{name}', '\#{max}')";

	strings['DEFAULT_MSG_NOT_DATE'] = "$!message.getMessage('0의입력값은올바른날짜가아닙니다YYYY-MM-DD의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_DATE1'] = "$!message.getMessage('0의두번째입력값은올바른날짜가아닙니다YYYY-MM-DD의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_YEAR'] = "$!message.getMessage('0의입력값은올바른년도가아닙니다YYYY의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_YEAR1'] = "$!message.getMessage('0의두번째입력값은올바른년도가아닙니다YYYY의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_YEAR_MONTH'] = "$!message.getMessage('0의입력값은올바른년월이아닙니다YYYYMM의형태로입력하십시오', '\#{name}')";

	strings['DEFAULT_MSG_NOT_YEAR_MONTH1'] = "$!message.getMessage('0의두번째입력값은올바른년월이아닙니다YYYYMM의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_PERIOD'] = "$!message.getMessage('0의종료일이시작일보다빠릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_PERIOD_YEAR'] = "$!message.getMessage('0의종료년도가시작년도보다빠릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_PERIOD_YEAR_MONTH'] = "$!message.getMessage('0의종료년월이시작년월보다빠릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_VALID_PERIOD'] = "$!message.getMessage('0의기간은12이내여야합니다', '\#{name}', '\#{value}', '\#{period}')";

	strings['DEFAULT_MSG_NOT_EQUAL_PERIOD_FORMAT'] = "$!message.getMessage('0의입력포멧이서로다릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_VALID'] = "$!message.getMessage('0은올바른형식이아닙니다', '\#{name}')";
	strings['DEFAULT_MSG_SPECIAL_CHAR'] = "$!message.getMessage('0은특수문자를포함할수없습니다', '\#{name}')";
</script>

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
<script type="text/javascript" src="/js/bPopup.js"></script>
</head>

<body>
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">
<!--//

/* 그리드 공통화 적용 시작- detailGrid */
var listGridHidden = new ULNSI_jQGrid();
var DS_TP;
var DS_TPCOL;

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();

	var sample = {
				  rows :[{
	                      ORG_ORD_ID 	: "AA071001"
	                     ,ORG_ORD_SEQ 	: "0"
	                     ,OUT_REQ_DT 	: "20081118"
                    	 ,CUST_ID 		: "00000"
                   		 ,OUT_WH_ID 	: "00000"

               			 ,ITEM_CODE 	: "00000"
           				 ,ORD_QTY 		: "100"
            			 ,UOM_ID 		: "PLT"
               			 ,UNIT_AMT 		: "1000"
               			 ,TRANS_CUST_CD : "00000"

           				 ,TRANS_CUST_ADDR : "서울시 마포구"
           				 ,TRANS_REQ_DT 	: "20081118"
               			 ,DLV_SEQ 		: "0"
              			 ,BL_NO 		: "00000000"
              			 ,CUST_LOT_NO 	: "00000000"
				 	 	}]
				 }
	
	var colNameArray2 = [
	                     '$!lang.getText("원주문번호")'		//WORK_STAT_NM
	                    ,'$!lang.getText("순번")'			//CAR_CD
	                    ,'$!lang.getText("의뢰일")'			//VIEW_ORD_ID
	                    ,'$!lang.getText("화주코드")'			//ORD_SEQ
	                    ,'$!lang.getText("창고코드")'			//RITEM_NM

	                    ,'$!lang.getText("상품코드")'			//ORD_QTY
	                    ,'$!lang.getText("수량")'			//TRANS_CD
	                    ,'UOM'								//UOM_ID
	                    ,'$!lang.getText("단가")'			//DRV_NM
	                    ,'$!lang.getText("배송처코드")'		//DRV_TEL

	                    ,'$!lang.getText("배송처주소")'		//DLV_TYPE
	                    ,'$!lang.getText("배송처요청일")'		//TRANS_REQ_DT
	                    ,'$!lang.getText("배송순위")'			//KIN_OUT_YN
	                    ,'$!lang.getText("BL번호")'			//UP_AMT
	                    ,'$!lang.getText("생산자Lot번호")'		//DOWN_AMT
	                  ];
	
  	var colModelArray2 = [
						 {name : 'ORG_ORD_ID'		,index : 'ORG_ORD_ID'	,width : 100}
						,{name : 'ORG_ORD_SEQ'		,index : 'ORG_ORD_SEQ'	,width : 50	}
						,{name : 'OUT_REQ_DT'		,index : 'OUT_REQ_DT'	,width : 80	}
						,{name : 'CUST_ID'			,index : 'CUST_ID'		,width : 80	}
						,{name : 'OUT_WH_ID'		,index : 'OUT_WH_ID'	,width : 80 }

						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'		,width : 80	}
						,{name : 'ORD_QTY'			,index : 'ORD_QTY'		,width : 80	}
						,{name : 'UOM_ID'			,index : 'UOM_ID'		,width : 80	}
						,{name : 'UNIT_AMT'			,index : 'UNIT_AMT'		,width : 80	}
						,{name : 'TRANS_CUST_CD'	,index : 'TRANS_CUST_CD',width : 80 }

						,{name : 'TRANS_CUST_ADDR'	,index : 'TRANS_CUST_ADDR'	,width : 150}
						,{name : 'TRANS_REQ_DT'		,index : 'TRANS_REQ_DT'		,width : 80	}
						,{name : 'DLV_SEQ'			,index : 'DLV_SEQ'			,width : 80	}
						,{name : 'BL_NO'			,index : 'BL_NO'			,width : 80	}
						,{name : 'CUST_LOT_NO'		,index : 'CUST_LOT_NO'		,width : 80	}
					 ];

	var option2 = {
			 	   'height'		: 100
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray2
				  ,'colModel'	: colModelArray2
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  ,'rowList' 	: [20,40,60]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : false
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': false
				  ,'viewrecords': true
				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				  ,'scroll'		: true
				  ,'datatype'	: 'jsonString'
				  ,'datastr'	: sample
				 };
	
	
	// 2021-12-10  yhku 화주 값 있을시 고정 셋팅 
	var opnerCustId = jQuery("form[name='frm_list'] input[name='vrSrchCustId']", opener.document).val();
	if(opnerCustId !="" && opnerCustId != null){
		var opnerCustCd = jQuery("form[name='frm_list'] input[name='vrSrchCustCd']", opener.document).val();
		var opnerCustNm = jQuery("form[name='frm_list'] input[name='vrSrchCustNm']", opener.document).val();
		
		jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val(opnerCustId).attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val(opnerCustCd).attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val(opnerCustNm).attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] img[name='btnSrchCustPop']").removeAttr("onclick");
		fn_getTp();
	}
	
	

	listGridHidden.init(jQuery("#hiddenList"), option2);

	//자료시작
	for(var i = 1 ; i < 20 ; i ++){
		if("$ss_lang" == "ko"){
			jQuery("#cmbStartRow").append("<option value='" + i + "'>" + i + "'$!lang.getText("행")'</option>")	
		}else if("$ss_lang" == "en"){
			jQuery("#cmbStartRow").append("<option value='" + i + "'>$!lang.getText("행")" + i + "</option>")
		}else{
			jQuery("#cmbStartRow").append("<option value='" + i + "'>" + i + "'$!lang.getText("행")'</option>")
		}
	}

	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
	
	/* 페이지로딩 시 화주정보 popup */
	if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val()){
		fn_Popup('CUST');
	}
});

//--------------------------------------------------------------------------------그리드그리기-------------------------------------------------------------------------------------//
/*
	템플릿 아이디 조회				:	fn_getTp
	화주별 템플릿(그리드) 컬럼 옵션조회	:	fn_searchTpCol
	그리드 새롭게 그리기				: 	fn_setGrid
 */
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/*템플릿 아이디 조회*/
function fn_getTp(){
	var vrCustCd 		= jQuery("#vrSrchCustCd").val();
	var vrTemplateType 	= jQuery("#vrTemplateType").val();
	var vrTemplateFile 	= jQuery("#vrTemplateFile").val();
	var param 			= "vrCustCd="+vrCustCd+"&vrTemplateType="+vrTemplateType+"&vrTemplateFile="+vrTemplateFile;
	var url 			="/WMSCM210/getTpList.action";
	jQuery.post(url, param, function(data){
		if(data.errCnt == 0 ){
			DS_TP 				= data.DS_TP;

			var tpLength = DS_TP.length;
			if(tpLength > 1){
				tpLength -= 1;
			}
			
			jQuery("#vrCustSeq").html('');
			for(var i = 0; i < tpLength; i++){
				var remark = DS_TP[i].FORMAT_REMARK;
				if(remark === null || remark === undefined || remark === ''){
					remark = "타입 - " + (i + 1);
				}
				
				var option = "<option value='" + i + "'>" + remark + "</option>";
				jQuery("#vrCustSeq").append(option);
			}
			
			if(tpLength < 2){
				jQuery("#templateLabel").hide();
				jQuery("#vrCustSeq").hide();
			}else{
				jQuery("#templateLabel").show();
				jQuery("#vrCustSeq").show();
			}
			
			custSeqChange();
			
		} else {
			alert(data.MSG);
		}			
	});

}

function custSeqChange(){
	var custSeqIndex = jQuery('#vrCustSeq').val();
	var DS_TP_ONE = DS_TP[custSeqIndex];
	
	var vrTemplateId 	= DS_TP_ONE.FORMAT_TEMPLATE_ID;
	var vrCustSeq 		= DS_TP_ONE.FORMAT_CUST_SEQ;
	fn_searchTpCol(vrTemplateId, vrCustSeq, DS_TP_ONE);
	jQuery("#cmbStartRow").val(DS_TP_ONE.FORMAT_START_ROW);

}


/*화주별 템플릿(그리드) 컬럼 옵션조회*/
function fn_searchTpCol(vrTemplateId, vrCustSeq, DS_TP){
	var param 	= "vrTemplateId=" + vrTemplateId + "&vrCustSeq=" + vrCustSeq;
	var url 	= "/WMSCM210/search.action";
	jQuery.post(url, param, function(data){
		
		if(data.errCnt == 0 ){
			DS_TPCOL = data.DS_TPCOL;
			fn_createSample(DS_TPCOL, DS_TP);
		} else {
			alert(data.MSG);
		}
	});
}

/*그리드 샘플 그리기*/
function fn_createSample(DS_TPCOL, DS_TP){
	var colNameArray 	= [];
	var colModelArray2 	= [];
	var sample 			= [];
	var sampleRow 		= new Object();
	var size 			= DS_TPCOL.size();

	for(var i = 0 ; i < size ; i++){
		if(DS_TPCOL[i].FORMAT_VIEW_SEQ > 0 || DS_TPCOL[i].FORMAT_USE_YN == 'Y'){	//선택된것만 생성
			if(DS_TPCOL[i].FORMAT_MUST_YN == 'Y'){	//선택된것만 생성
				colNameArray.push('$!lang.getText("' + DS_TPCOL[i].FORMAT_COL_NM + '")' + ' ($!lang.getText("필수"))');	
			}else{
				colNameArray.push('$!lang.getText("' + DS_TPCOL[i].FORMAT_COL_NM + '")');
			}
			info = new Object();

			if(DS_TPCOL[i].FORMAT_VIEW_SEQ > 0){
				info.width = "100" //DS_TPCOL[i].FORMAT_COL_WIDTH;	//크기좀 맞출려고 일단
			}else{
				info.width = 0;
			}

			if(DS_TPCOL[i].FORMAT_COL_ALIGN != ""){
				info.align = DS_TPCOL[i].FORMAT_COL_ALIGN;
			}else{
				info.align = "left";
			}

			if(DS_TPCOL[i].FORMAT_BIND_COL != ""){
				info.name = DS_TPCOL[i].FORMAT_BIND_COL;
				info.index = DS_TPCOL[i].FORMAT_BIND_COL;
				sampleRow[DS_TPCOL[i].FORMAT_BIND_COL] = DS_TPCOL[i].FORMAT_SAM_VALUE
			}else{
				info.name = DS_TPCOL[i].FORMAT_COL_SEQ;
				info.index = DS_TPCOL[i].FORMAT_COL_SEQ;
				sampleRow[DS_TPCOL[i].FORMAT_BIND_COL] = DS_TPCOL[i].FORMAT_COL_SEQ
			}
			info.editable = true;
			colModelArray2.push(info);
		}
	}
	sample.push(sampleRow);

	var option2 = {
			 	   'height'		: 100
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray2
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  ,'rowList' 	: [20,40,60]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : false
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': false
				  ,'viewrecords': true
				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				  ,'scroll'		: true
				  ,'datatype'	: 'jsonString'
				  ,'datastr'	: sample
				 };

	jQuery("#hiddenList").jqGrid('GridUnload');
	listGridHidden = new ULNSI_jQGrid();
	listGridHidden.init(jQuery("#hiddenList"), option2);
}

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}

//--------------------------------------------------------------------------------자동완성-------------------------------------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CAR     : 차량            : O : vrSrchCarCd , vrSrchCarNm(X)
	CENTER  : 물류센터      : O : vrSrchCenterCd, vrSrchCenterNm
	CLIENT  : 고객사         : O : vrSrchCustCd, vrSrchCustNm, srchSubCode3, srchSubCode4
	                         (srchSubCode3 => 100 : 고객사, 104 : 물류센터, 108 : 거래처 )
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	DEPT    : 부서            : X :
	DOCK    : 도크            : O : vrSrchDockCd, vrSrchDockNo, vrSrchDockNm
	EMPLOY  : 사원            : X :
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
	LOCATION : 로케이션    : O : vrSrchLocCd, vrSrchLocId
	UOM     : UOM      : O : vrSrchUomCd, vrSrchUomNm
	USER    : 사용자         : O : vrSrchUserId, vrSrchUserNm, srchSubCode3, srchSubCode5
	WH      : 창고            : O : vrSrchWhCd, vrSrchWhNm
	ZONE    : 존               : O : vrSrchZoneId, vrSrchZoneNm
 */
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
				fn_getTp();
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
				fn_getTp();
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}
//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	팝업 호출	:	fn_Popup()
	화주팝업후	:	fn_setWMSMS011()
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSMS011";
			url = "/WMSCM011.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
	fn_getTp();
}

//--------------------------------------------------------------------------------메    인--------------------------------------------------------------------------------------//
/*
	템플릿입력		:	fn_upload()		:  완료
	양식다운로드	:	fn_sampleDown()	:  샘플데이터를 히든에 숨겨서 다운받게 처리

*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/*템플릿입력*/
function fn_upload(){
	if(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val().length == 0){
		alert("$!lang.getText('화주를 먼저 선택해주십시오.')");
	}
	
	/* 조회조건 화주코드가 없을 경우 */
	if(!fn_chkInitCustId()){return;}
		
    if(jQuery("#txtFile").val() == ""){
    	alert("$!message.getMessage('excel.send.fail')");
    	return false;
    }

    var exp = jQuery("#txtFile").val().split('.');

    if( (exp[Number(exp.length)-1]).toUpperCase() == "XLS" || (exp[Number(exp.length)-1]).toUpperCase() == "XLSX"){
    	var colSize = 15;	//기본값

    	if(!(DS_TPCOL == undefined || DS_TPCOL == "")){
    		colSize = DS_TPCOL.size();
    	}

    	//주문구분 체크
    	if(jQuery("#vrTemplateType").val() == "UI"){
			jQuery("#vrOrdType").val("I");
		}else{
			jQuery("#vrOrdType").val("O");
		}
    	
    	cfn_loadingModalOpen1(); //로딩 MobalOpen
    	
    	
    	var custSeqIndex = jQuery('#vrCustSeq').val();
    	
    	var STD_TP = DS_TP[custSeqIndex];
    	
    	//Excel업로드
        jQuery.ajax({
            url			: "/WMSOP030E13/inExcelFileUploadJavaInB2C.action",
            type		: "POST",
            contentType	: false,
            processData	: false,
            data		: function() {
			                var data = new FormData();
			                data.append("txtFile"		,jQuery("#txtFile").get(0).files[0]);
			                data.append("startRow"		,Number(jQuery("#cmbStartRow").val() - 1));
			                data.append("colSize"		,colSize);
			                data.append("vrTemplateId"	,STD_TP.FORMAT_TEMPLATE_ID);
			                data.append("vrCustSeq"		,STD_TP.FORMAT_CUST_SEQ);
			                data.append("vrOrdType"		,jQuery("#vrOrdType").val());
			                data.append("vrSrchCustCd"	,jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val());
			                data.append("vrSrchCustId"	,jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			                data.append("SS_SVC_NO"		,'$!SS_SVC_NO');
			                data.append("SS_CLIENT_IP"	,'$!SS_CLIENT_IP');
			                data.append("SS_USER_NO"	,'$!SS_USER_NO');
			                return data;
			    	  	}(),
			    	  	error		: function(_, textStatus, errorThrown) {
			            	var areaMsg = data.MSG_ORA.split("Exception:");
			            	jQuery("#statTextArea").val("");
							if(data.errCnt == 1){
								jQuery("#statTextArea").val("> Error."+"\n"+areaMsg[1]);
							}else if(data.errCnt == 0){
								jQuery("#statTextArea").val("> Success.");
							}
							
							cfn_loadingModalClose1(); //로딩 MobalClose
							alert(data.MSG);
			            },
            success		: function(data) {
			            	var areaMsg = data.MSG_ORA.split("Exception:");
			            	jQuery("#statTextArea").val("");
			            	if(data.errCnt == 1){
								jQuery("#statTextArea").val("> Error."+"\n"+areaMsg[1]);
							}else if(data.errCnt == 0){
								jQuery("#statTextArea").val("> Success.");
							}

			            	var txtArea = "";
			    			var errCnt = 0 ;
			            	/*
			            	if(data.O_CUR == undefined){
			            		
			            	}else{
			            		var retMsg = data.O_CUR;
				    			for(var i = 0 ; i < retMsg.length ; i++){
				    				if(retMsg[i].RCD != 0){
				    					txtArea += retMsg[i].RCD + " : " + retMsg[i].RMSG + "\n";
				    					errCnt ++;
				    				}
				    			}
				    			
				    			if(errCnt > 0){
				          			jQuery("#statTextArea").val("> Error."+"\n"+txtArea);
				          		}
			            	}
			            	*/
			            	
			    			var arg_func = jQuery("input[name='func']").val();
			          		var opnr_func = eval("opener." + arg_func);
// 			          		opnr_func();
			          		self.close(); 
			          		
			          		cfn_loadingModalClose1(); //로딩 MobalClose
// 			          		alert(data.MSG);
			          		alert("저장완료하였습니다.");
			          		//전부 완료했으면 그냥 창 닫자
			          		if(errCnt == 0){
			          			if(!data.errCnt == 1){
			          				self.close();
			          			}
			          		}
            			}
        });
    }else if((exp[Number(exp.length)-1]).toUpperCase() == "XLSX"){
    	alert("엑셀파일 확장자는 .xls 만 가능합니다.");
    	jQuery("#statTextArea").val("> Error."+"\n"+"엑셀파일 확장자는 .xls 만 가능합니다.\n"+"다른이름으로 저장 (파일형식:*.xls) 후 진행해주십시오.");
    }else{
    	alert("$!message.getMessage('excel.ext.check')");
    }
}

/* 양식다운로드 */
// 화주에따라 바뀌는 히든그리드의 샘플데이터를 컬럼명(한글), 컬럼model(영문), 샘플데이터 를가지고 excel을 그려서 다운받는다
function fn_sampleDown(){
	var grid = jQuery("#hiddenList");
	var ids = grid.jqGrid('getDataIDs');

	var col_name  = grid.jqGrid('getGridParam', 'colNames');
	var col_model = grid.jqGrid('getGridParam', 'colModel');
	var col_size = col_name.size();

	if(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val().length == 0){
		alert("$!lang.getText('화주를 먼저 선택해주십시오.')");
	}
	
	/* 조회조건 화주코드가 없을 경우 */
	if(!fn_chkInitCustId()){return;}
	
	jQuery("#formSample").html("");
	jQuery("#formSample").append("<input type='text' name='Col_Size'  value='" + col_size + "'/><br/>");	//사이즈
	for(var i = 0 ; i < col_size ; i++){
		jQuery("#formSample").append("<input type='text' name='Name_"+i+"'  value='" + col_name[i] + "'/>");									// 컬럼명(한글 화면에보여주는이름)
		jQuery("#formSample").append("<input type='text' name='Col_" +i+"'  value='" + col_model[i].name + "'/>");								// 컬럼명(영어 db컬럼명같은)
		jQuery("#formSample").append("<input type='text' name='Row_" +i+"'  value='" + grid.getCell(ids[0], col_model[i].name) + "'/><br/>");	// 샘플데이터
	}
	var param = jQuery("form[name='frm_sample']").serialize();

	var fm 	  = document.frm_sample;
    fm.action = "/WMSOP030E2/sampleExcelDown.action";
    fm.method = "post";
    fm.submit();
}

function fn_chkInitCustId(){
	if(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val().length == 0){
		fn_Popup("CUST");
		return false;
	}
	return true;
}
</script>

<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
            	#if($!request.getParameter('vrTemplateType') == 'UI')
            		$!lang.getText('입고') $!lang.getText('템플릿입력')
            	#elseif($!request.getParameter('vrTemplateType') == 'UO')
            		$!lang.getText('출고') $!lang.getText('템플릿입력')
            	#end
            </div>
            
            <div class="btnAreaRight">
            	<input type="button" value="$!lang.getText('양식다운로드')" 	class = "btnEtc"  onclick="fn_sampleDown()" />
				<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" 		onclick="javascript:self.close();"/>
            </div>
            
        </div>

        <form name="frm_list">
			<input type='hidden' name='func' 			id='func'			value='$!request.getParameter("func")'/>
			<input type="hidden" name='vrTemplateType' id='vrTemplateType' 	value="$!request.getParameter('vrTemplateType')"/>
			<input type="hidden" name='vrTemplateFile' id='vrTemplateFile' 	value=''/>
			<input type="hidden" name='vrOrdType'	   id='vrOrdType'	   	value=''/>
			<table class="search" id="srchBox">
				<colgroup>
					<col width = "40px"/>
					<col width = "30%"/>
					<col width = "40px"/>
					<col width = "15%"/>
					<col width = "40px"/>
					<col width = "10%"/>
<!-- 					<col width = "50px"/> -->
				</colgroup>
				<tbody>
					<tr>
						<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onchange="vrSrchCustCd_OnKillFocus()"/>
							<img src="/img/exam/btn/ico_search.gif" name = "btnSrchCustPop" onclick='fn_Popup("CUST");' class="imgSearch"/>
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onchange="vrSrchCustNm_OnKillFocus()"/>
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/>
						</td>
						<th class="thBar"><div id="templateLabel" style="display:none;">$!lang.getText('템플릿')</div></th>
						<td>
							<select id = "vrCustSeq" name="vrCustSeq" class="selectbox" style="display:none;" onChange="custSeqChange();"></select>
						</td>
						<th class="thBar">$!lang.getText('자료시작')</th>
						<td>
							<select id = "cmbStartRow"  class="selectbox"></select>
						</td>
<!-- 						<th class="btnReset" > -->
<!-- 							<input type="button" name="btn_write" value="$!lang.getText('')"  onclick="fn_init();" title="초기화"/>	 -->
<!-- 						</th> -->
					</tr>
				</tbody>
			</table>
			<div id = "formData" style = "display : none ; width : 0 ; height : 0"></div>
		</form>
    </div>
    <div class="popupContent">
		<div class="list_box" style = "display : none ; width : 0 ; height : 0">
			<table id="hiddenList" ></table>
		</div>
        <div class="btnArea">
        	<div class="btnAreaLeft">
        		Log
				<form name="frm_sample">
					<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
				</form>
        	</div>
            <div class="btnAreaRight">
   				<form id="jdfwForm" name="jdfwForm" method="post" >
					<input type="file"  name="txtFile" id="txtFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
					<input type="button" class = "btnSave" value="$!lang.getText('저장')" 		onclick="fn_upload()" />
	       		</form>
            </div>
            <br>
            <div>
            	<textarea id="statTextArea" wrap="on" style="width:99%; border-color:red;" rows=5; placeholder="> No message." readonly="readonly"></textarea>
            </div>
        </div>
    </div>
    
    <!-- Modal Loading CustomerPop-->
	<div id="loadingModalView1" style="display: none; background-color: white; width: 70%; height: 100px; border-radius: 8px; vertical-align: middle; text-align: center; ">
		<span class="button b-close" id="loadingModal_close"  style = "visibility : hidden;">X</span>
		<div style="position: relative; display: inline-block; width: 50%; height: 30%; padding: 1em; color:#336699; text-align:center;">$!lang.getText('처리중') ...</div>
		<img src="/img/com/progress.gif" style="position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;"/>
	</div>
</div>
</body>
</html>