#parse("winus/common/header.vm")        ## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script src="/customer/assets/Chart.min.js"></script>

<style>
	.dashboard-all {
		margin-bottom:10px; 
		background:#f3f6fd;
	}
	.dashTitle{
		display:flex; 
		justify-content:space-evenly;
	}
	.dashTitlebody{
		flex-grow:1; 
		text-align: -webkit-center; 
		padding:5px;
	}
	.dashCard{
		box-shadow:0 2px 16px 0 rgb(19 19 20 / 16%); 
		border-radius: 0.71rem; 
		border: 1px solid rgba(0,0,0,.125);
		padding:5px; 
		display:flex; 
		align-items: flex-end;
		width:fit-content;
		background: white;
	}
	.dashCardIcon{
		flex-grow:1;
		align-self: center;
	}
	.dashCardText{
		flex-grow:1;
		font-size: xxx-large;
	}
	.dashCardFooter{
		flex-grow:1;
		font-size: x-large;
	}
	.dashBody{
		display:flex;
		justify-content:space-evenly;
	}
	.dashBodyBody{
		width:48%;
		text-align: -webkit-center; 
		padding:5px;
	}
	
	.dashTitleWidth{
		width:300px;
	}
	
		
</style>

<script type="text/javascript">

//그리드 선언
var listGrid = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();
var listGrid3 = new ULNSI_jQGrid();
var myChart;
jQuery(document).ready(function(){  
	  
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* 날짜 셋팅 */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("form[name='frm_list'] input[name='vrSrchDate']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	var vrSrchDate = localStorage.LocalTime;
	jQuery("form[name='frm_list'] input[name='vrSrchDate']").val(vrSrchDate);
	
	/* 메인그리드 시작 */
	var colNameArray = [
	                    "$!lang.getText('로케이션')"		//LOC_CD  
	                    ,"$!lang.getText('상품코드')"		//RITEM_CD
	                    ,"$!lang.getText('상품명')"		//RITEM_NM
	                    ,"$!lang.getText('수량')"		//STOCK_QTY
	                    ,"$!lang.getText('입고일자')"		//IN_DT
	                    ,"$!lang.getText('관리일자')"		//IN_ADD_DT
	                    ,"$!lang.getText('관리일자(경과일수)')"		//IN_ADD_CAL
						,"$!lang.getText('유효기간')"		//VALID_DT
						,"$!lang.getText('철수기준일')"	//OUT_DAY
	                    ,"$!lang.getText('철수기준')"		//OUT_BEST_DATE_NUM
						,"$!lang.getText('잔여일수(경과일수)')"		//NEXT_DAY
	                    ,"$!lang.getText('유효기간')"		//OVER_DAY
						,"$!lang.getText('구분')"		//TOTAL_DAY
	                    ,'CHK_VAL'
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray = [
						{name : 'LOC_CD'			,index : 'LOC_CD'		,width : 140 }
						,{name : 'RITEM_CD'			,index : 'RITEM_CD'		,width : 130 }
						,{name : 'RITEM_NM'			,index : 'RITEM_NM'		,width : 320}
						,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	,width : 130		,align : "right"	,formatter : 'integer'	,formatoptions : {thousandsSeparator : ","	,decimalPlaces : 0}}
						,{name : 'IN_DT'			,index : 'IN_DT'		,width : 130 	,align : "center"}
						,{name : 'IN_ADD_DT'		,index : 'IN_ADD_DT'	,width : 130 	,align : "center"}
						,{name : 'IN_ADD_CAL'		,index : 'IN_ADD_CAL'	,width : 130 	,align : "center"}
						,{name : 'VALID_DT'			,index : 'VALID_DT'		,width : 130 	,align : "center"}
						,{name : 'OUT_DAY'			,index : 'OUT_DAY'		,width : 130		,align : "center"}
						,{name : 'OUT_BEST_DATE_NUM',index : 'OUT_BEST_DATE_NUM',width : 130 ,align : "right"}
						,{name : 'NEXT_DAY'			,index : 'NEXT_DAY'		,width : 180,	align : "right"	,	formatter : 'integer'	,formatoptions : {thousandsSeparator : ","	,decimalPlaces : 0}}
						,{name : 'OVER_DAY'			,index : 'OVER_DAY'		,width : 130		,align : "right"}
						,{name : 'TOTAL_DAY'		,index : 'TOTAL_DAY'		,width : 130		,align : "center"}
						,{name : 'CHK_VAL'			,index : 'CHK_VAL'		,hidden : true }
						]

	var option = {
				   'title'		: "$!lang.getText('철수기간재고목록')"	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 460								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'							//width 	
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray	
				  ,'pager'		: jQuery('#pjmap1')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*3,$ss_gird_num*5,$ss_gird_num*10,$ss_gird_num*20,$ss_gird_num*50,$ss_gird_num*100]
			      #else
			      ,'rowList' : [100,300,500,1000,2000,5000,10000]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : false
				 };
	
	var paramInit = jQuery("form[name='frm_list']").serialize();
	var url = ""//"/WMSTG050/list.action?"+paramInit;
	
	//그리드 생성
	listGrid.init(jQuery("#list1"), option, url, loadCompleteEventCallback);

	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list1");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		var cssFont  = {'color' : 'red'};
		
		for(var i = 0 ; i < gridData.length; i++){
			var OVER_DAY = Number(cfn_trim(grid.getCell(ids[i], "OVER_DAY")));
			var NEXT_DAY = Number(cfn_trim(grid.getCell(ids[i], "NEXT_DAY")));
			var IN_ADD_CAL = Number(cfn_trim(grid.getCell(ids[i], "IN_ADD_CAL")));
			var CHK_VAL = cfn_trim(grid.getCell(ids[i], "CHK_VAL"));
			var LOC_CD = cfn_trim(grid.getCell(ids[i], "LOC_CD"));
			var RITEM_CD = cfn_trim(grid.getCell(ids[i], "RITEM_CD"));
			var RITEM_NM = cfn_trim(grid.getCell(ids[i], "RITEM_NM"));
			var STOCK_QTY = cfn_trim(grid.getCell(ids[i], "STOCK_QTY"));
			var STOCK_QTY = cfn_trim(grid.getCell(ids[i], "IN_DT"));
			var STOCK_QTY = cfn_trim(grid.getCell(ids[i], "OUT_BEST_DATE_NUM"));

			if(OVER_DAY <= 0){
				grid.jqGrid('setCell', ids[i], 'OVER_DAY', '', cssFont);
				console.log(OVER_DAY)
			}
			if(NEXT_DAY < 0){
				grid.jqGrid('setCell', ids[i], 'NEXT_DAY', '', cssFont);
			}
			if(NEXT_DAY < 0){
				grid.jqGrid('setCell', ids[i], 'TOTAL_DAY', '', cssFont);
			}
			if(CHK_VAL == "Y"){
				grid.jqGrid('setCell', ids[i], 'IN_ADD_DT', '', cssFont);
				
			}
			if(OVER_DAY == 0){
				grid.jqGrid('setCell', ids[i], 'LOC_CD', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'RITEM_CD', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'RITEM_NM', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'STOCK_QTY', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'IN_DT', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'IN_ADD_CAL', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'OUT_BEST_DATE_NUM', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'NEXT_DAY', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'TOTAL_DAY', '', cssFont);
				grid.jqGrid('setCell', ids[i], 'IN_ADD_DT', '', cssFont);
			}				
		}
	};
	
});

function fn_initStandard(){
	var yellowDays = jQuery(".patternWrap form[name='frm_list'] #vrSrchYellowDays").val();
	var blueDays = jQuery(".patternWrap form[name='frm_list'] #vrSrchBlueDays").val();
	jQuery(".patternWrap div[name='standard'] #vrSrchYellowDaysTips").val(yellowDays);
	jQuery(".patternWrap div[name='standard'] #vrSrchBlueDaysTips").val(blueDays);
	jQuery(".patternWrap div[name='standard'] #vrSrchGreenDaysTips").val(blueDays);
	
	var vrSrchDate = jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchDate']").val();
	var dateArr = vrSrchDate.split("-")	
	var txtDate = dateArr[0] + "년 " + dateArr[1] + "월 " + dateArr[2] + "일";
	jQuery(".patternWrap div[name='standard'] #vrDate").val(txtDate);
	
}

function fn_setChart(data){
	var chart = myChart
	
	var yellowDays = jQuery(".patternWrap div[name='standard'] #vrSrchYellowDaysTips").val();
	var blueDays = jQuery(".patternWrap div[name='standard'] #vrSrchBlueDaysTips").val();
	var result = JSON.parse(data).rows;
	if(result == ""){
		return;
	}
	
	fn_initStandard();
	
	
	if(result == null){
		alert("$!lang.getText('list.nodata')");
		return;
	}
	var dataArr = []
	
	dataArr.push(result[0].CNT_A);
	dataArr.push(result[0].CNT_B);
	dataArr.push(result[0].CNT_C);
	dataArr.push(result[0].CNT_D);
	
	var chartData = {
		labels: [
			'유통기한 초과',
			(yellowDays+'일 이내'),
			(blueDays+'일 이내'),
			(blueDays+'일 이상')
		],
		datasets: [{
			data: dataArr,
			backgroundColor: [
			'rgb(220, 106, 106)',
			'rgb(248, 162, 39)',
			'rgb(97, 141, 255)',
			'rgb(54, 191, 145)'
			]
		}]
	};
	var chartConfig = {
		type: 'doughnut',
		data: chartData,
	};
	chart.destroy();
	myChart = new Chart(document.getElementById('doughnutChart'),chartConfig); 
	
	fn_setCard(dataArr);
	
	
}
function fn_setCard(data){
	
	jQuery('.patternWrap #dashCardRedCount').text(data[0].toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
	jQuery('.patternWrap #dashCardYellowCount').text(data[1].toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
	jQuery('.patternWrap #dashCardBlueCount').text(data[2].toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
	jQuery('.patternWrap #dashCardGreenCount').text(data[3].toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
	
}

function fn_search(op,op1){
	var yellowDays = jQuery(".patternWrap form[name='frm_list'] #vrSrchYellowDays").val();
	var blueDays = jQuery(".patternWrap form[name='frm_list'] #vrSrchBlueDays").val();

	if(yellowDays==""||blueDays==""||Number(yellowDays) >= Number(blueDays) || Number(yellowDays) <= 0){
		alert("검색 조건을 다시 설정해 주세요.");
		return;
	}
	var param = jQuery("form[name='frm_list']").serialize(); 
	var url = "/WMSTG051/list.action?"+param;
	listGrid.search(param, url, op, op1);
}


/* 로케이션 코드 입력 */
function vrSrchLocCd_OnKillFocus(){
	var vrSrchLocCd = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchLocCd"]').val();
	if( vrSrchLocCd != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocCd);
				strParameter.push('');
				var width 	= "800";
				var height 	= "530";
 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
//				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchLocId"]').val(data[0].ID);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchLocCd"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchLocId']").val("");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchLocCd']").val("").focus();
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
	     });
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchLocId']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchLocCd']").val("");		
	}
}
 
/* 창고코드 입력 */
//값이 변경될때 (onChange) 이벤트발생
function vrSrchWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhCd"]').val();
	//창고코드 값이 있으면 실행한다 
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhNm']").val("");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhNm']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhId']").val("");
	}
}

/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhId']").val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhNm']").val("");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhNm']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchWhId']").val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
  	   });
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemNm']").val("");
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemNm']").val("");
				jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val("");
	}
}

function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'LOCATION': //검색 로케이션
			param = "?func=fn_setWMSCM080";
			url = "/WMSCM080.action" + param;
			break;
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'WH':		//검색 창고
			param = "?func=fn_setWMSMS040";
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 로케이션 팝업 후 처리 */
function fn_setWMSCM080(arr){
	var info = arr[0];	
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchLocId"]').val(info.loc_id);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchLocCd"]').val(info.loc_cd);
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040(arr){
	var info = arr[0];	
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhCd"]').val(info.wh_cd);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhNm"]').val(info.wh_nm);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchWhId"]').val(info.wh_id);
	
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];	
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
	jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchItemId"]').val(info.ritem_id);
}

function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery(".patternWrap form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('.patternWrap form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

/* 엑셀다운 */
function fn_excelDown() {
	//정렬파라미터
	var grid = jQuery("#list1");

	var fm 		 = document.frm_list;
	var countRow = jQuery("#list1").getDataIDs().size();
	if(countRow == 0){
	    alert('$!lang.getText("excel.down.nodata")');
	    return;
	} else if(countRow > 60000) {
	    alert('$!lang.getText("excel.down.maxrow")');
	    return;
	} else {
	    fm.action = "/WMSTG051/excel.action";
	    fm.method = "post";
	    fm.submit();
	}
}


</script>

<div id = "tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText('철수기한')</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsdh/WMSDH101E1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")