<div class="tabOn" id="E00">
	<div class="patternWrap">
		<form name="frm_list">
			<input type="hidden" name="vrSrchAliveYn" id="vrSrchAliveYn" value='Y'/>
			<table class="search" id="srchBox">
				<colgroup>
					<col width="80px"/>
					<col width="24%"/>	
					<col width="80px"/>
					<col width="24%"/>	
					<col width="80px"/>
					<col width="24%"/>		
					<col width="40px"/>		
				</colgroup>
		        <tbody>
		        	<!--
		        	<tr>	
						<th>$!lang.getText("작업 유형")</th>
						<td>
							<select name="vrSrchWorkType" id="vrSrchWorkType" class="selectbox" style='width: 80%;'>
								<option value="">$!lang.getText("전체")</option>
								<option value="20">$!lang.getText("입고")</option>
								<option value="30">$!lang.getText("출고")</option>
								<option value="90">$!lang.getText("임가공조립")</option>
							</select>
						</td>
						
						<th>$!lang.getText("SET시리얼번호")</th>
						<td>
							<input type="text" class = "text" name="vrSrchSerialNo" id="vrSrchSerialNo">
						</td>	
						
						<th>$!lang.getText('작업일')</th>
						<td>
							<input type = "text" class = "text" style="width:40%" name="vrCalWorkDt" id="vrCalWorkDt"   maxlength="10" onkeydown="cfn_setDateFld(vrCalWorkDt)" onChange="cfn_onChangeDateFld(vrCalWorkDt)"> 
						</td>
						
						<th class="btnSearch">
							<input type="button" name="btn_write" onClick="WMSTR010E0.fn_search();" title="Search" role="button" aria-disabled="false"/>
						</th>	
					</tr>
					-->
		        </tbody>
		    </table>
		</form>
	
		<div id="divPanel_SpdList" style="padding-top:10px;">
			<div id="spdList" style="height:600px; border:1px solid #b0b0b0;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">

const WMSTR010E0 = {
	'tab': 'E00',
	'colNameArray' : [],
	
	'sidIndex' : -1,
	'sidOrder' : true,
	
	'properties' : {
		'tabClickYet' : true,
		'arrMC_SPD_CHK_SET' : [],
		'PUBLIC_SPD_HEIGHT_TITLE' : '22',
		'PUBLIC_SPD_HEIGHT' : '25',
		'DFC_LINE' : '#D4D4D4',
		'BKC_FRC' : '#FFFBF7',
		'BKC_DEF' : '#FFFBF7',
	},
	'spdSheet' : null,
	'spdList' : null,
	'spdFooter' : null,
};

WMSTR010E0.openTab = function() {
	gfn_forceEventResize();
	setTimeout(function() {
		activeTab = WMSTR010E0;
		if (WMSTR010E0.properties.tabClickYet) {
			WMSTR010E0.setDefault();
			WMSTR010E0.createGrid();
			WMSTR010E0.properties.tabClickYet = false;
		}
		WMSTR010E0.fn_search();
	}, 0);

};

WMSTR010E0.setDefault = function(){	
	var tab = '#'+WMSTR010E0.tab+' ';

	/* button */
	jQuery(tab+"input:button").button();

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;
	
	jQuery.datepicker.setDefaults(jQuery.datepicker.regional["$ss_lang"]);
	jQuery(tab+"input[name='vrCalWorkDt']").datepicker({
		changeMonth : true,
		changeYear : true,
		dateFormat : "yy-mm-dd",
		showOn : "button",
		buttonImage : "/img/exam/btn/calendar.gif",
		buttonImageOnly : true
	});
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery(tab+"input[name='vrCalWorkDt']").val(vrSrchReqDt);
}

WMSTR010E0.createGrid = function() {
	WMSTR010E0.fn_loadGridSetting();
}

var SPDCOL_E0_SELECT	       = "";
var SPDCOL_E0_SERIAL_NO       = "";
var SPDCOL_E0_LC_ID           = "";
var SPDCOL_E0_LC_NM	       = "";
var SPDCOL_E0_CUST_ID         = "";
var SPDCOL_E0_CUST_CD         = "";
var SPDCOL_E0_CUST_NM         = "";
var SPDCOL_E0_RITEM_ID        = "";
var SPDCOL_E0_ITEM_CODE       = "";
var SPDCOL_E0_ITEM_NM         = "";
var SPDCOL_E0_ALIVE_YN        = "";
var SPDCOL_E0_TRACE_CNT     = "";
var SPDCOL_E0_STAY_TIME     = "";
var SPDCOL_E0_WORK_DT         = "";
var SPDCOL_E0_QTY             = "";
var SPDCOL_E0_REG_NO          = "";
var SPDCOL_E0_REG_DT          = "";
var SPDCOL_E0_UPD_NO          = "";
var SPDCOL_E0_UPD_DT          = "";
var SPDCOL_E0_END 	           = "";


WMSTR010E0.fn_loadGridSetting = function(){

	/* 메인그리드 시작 */
	WMSTR010E0.colNameArray = [
	                         'SELECT'         
	                           , 'LC_ID'
	                           , 'LC_NM'
	                           , 'CUST_ID'
	                           , 'CUST_CD'
	                           , 'CUST_NM'
	                           , 'RITEM_ID'
	                           , 'ITEM_CODE'
	                           , 'ITEM_NM'
	                           , 'ALIVE_YN'
	                           , 'TRACE_CNT'
	                           , 'STAY_TIME'
	                           , 'WORK_DT'
	                           , 'QTY'
	                           , 'REG_DT'
	                           , 'REG_NO'
	                           , 'UPD_DT'
	                           , 'UPD_NO'
	                       	   , 'END'
	                   	];
	
	
	SPDCOL_E0_SELECT	       = WMSTR010E0.colNameArray.indexOf('SELECT');         
	SPDCOL_E0_LC_ID           = WMSTR010E0.colNameArray.indexOf('LC_ID');          
	SPDCOL_E0_LC_NM           = WMSTR010E0.colNameArray.indexOf('LC_NM');           
	SPDCOL_E0_CUST_ID         = WMSTR010E0.colNameArray.indexOf('CUST_ID');        
	SPDCOL_E0_CUST_CD         = WMSTR010E0.colNameArray.indexOf('CUST_CD');       
	SPDCOL_E0_CUST_NM         = WMSTR010E0.colNameArray.indexOf('CUST_NM');   
	SPDCOL_E0_RITEM_ID        = WMSTR010E0.colNameArray.indexOf('RITEM_ID');       
	SPDCOL_E0_ITEM_CODE       = WMSTR010E0.colNameArray.indexOf('ITEM_CODE');          
	SPDCOL_E0_ITEM_NM         = WMSTR010E0.colNameArray.indexOf('ITEM_NM');          
	SPDCOL_E0_ALIVE_YN        = WMSTR010E0.colNameArray.indexOf('ALIVE_YN');       
	SPDCOL_E0_TRACE_CNT    	  = WMSTR010E0.colNameArray.indexOf('TRACE_CNT');         
	SPDCOL_E0_STAY_TIME       = WMSTR010E0.colNameArray.indexOf('STAY_TIME');
	SPDCOL_E0_WORK_DT         = WMSTR010E0.colNameArray.indexOf('WORK_DT');        
	SPDCOL_E0_QTY             = WMSTR010E0.colNameArray.indexOf('QTY');            
	SPDCOL_E0_REG_NO          = WMSTR010E0.colNameArray.indexOf('REG_NO');         
	SPDCOL_E0_REG_DT          = WMSTR010E0.colNameArray.indexOf('REG_DT');         
	SPDCOL_E0_UPD_NO          = WMSTR010E0.colNameArray.indexOf('UPD_NO');         
	SPDCOL_E0_UPD_DT          = WMSTR010E0.colNameArray.indexOf('UPD_DT');              
	SPDCOL_E0_END 	           = WMSTR010E0.colNameArray.indexOf('END');            

	
	/* 그리드 공통화 적용 시작- Header */
	/* Init */

	var tab = '#'+activeTab.tab+' ';
	WMSTR010E0.spdSheet = new GC.Spread.Sheets.Workbook(jQuery(tab+"#spdList")[0], { sheetCount: 1 });
	ps_setSpreadSheet_init(WMSTR010E0.spdSheet, false);
	WMSTR010E0.spdList = WMSTR010E0.spdSheet.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(WMSTR010E0.spdList, 1, SPDCOL_E0_END, 0, SPDCOL_E0_UPD_DT);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(WMSTR010E0.spdList, SPDCOL_E0_SELECT	   ,'CENTER'	,'CENTER'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,	SPDCOL_E0_LC_ID        ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,	SPDCOL_E0_LC_NM        ,'CENTER'	,'LEFT'		,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_CUST_ID      ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_CUST_CD      ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_CUST_NM      ,'CENTER'	,'LEFT'		,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_RITEM_ID     ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_ITEM_CODE    ,'CENTER'	,'LEFT'		,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_ITEM_NM      ,'CENTER'	,'LEFT'		,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,	SPDCOL_E0_ALIVE_YN     ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_TRACE_CNT   ,'CENTER'	,'RIGHT'		,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_STAY_TIME   ,'CENTER'	,'CENTER'		,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,	SPDCOL_E0_WORK_DT     ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_NUMBER_Property(WMSTR010E0.spdList,  SPDCOL_E0_QTY        ,'CENTER'	,'RIGHT'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_REG_NO       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_REG_DT       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_UPD_NO       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");  
	ps_setSpreadCol_TEXT_Property(WMSTR010E0.spdList,  SPDCOL_E0_UPD_DT       ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	/* grid set style : colName, colHidden */
	WMSTR010E0.ps_setSpreadStyle();
	
	/* grid bindding */
	ps_setSpreadEvents_Bind_Multi(WMSTR010E0.spdList, WMSTR010E0.spdSheet);	
	
	/* 그리드 공통화 적용 끝- Header */
	

	/* spreadJs load시 실행 */
	//WMSTR010E0.fn_loadComplete();
	
	/* FOOTER */
}



WMSTR010E0.ps_setSpreadStyle = function(){

	var spdList = WMSTR010E0.spdList;
	spdList.suspendPaint();
	spdList.suspendEvent();
		
	/* colName */
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_SELECT	    ,'선택'		,35		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_SERIAL_NO   ,'시리얼번호'	,200	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_LC_ID       ,'센터ID' 		,50		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_LC_NM       ,'센터'		,200		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_CUST_ID     ,'화주ID'		,70		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_CUST_CD     ,'화주코드'		,200	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_CUST_NM     ,'화주명'		,200	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_RITEM_ID    ,'상품ID'		,70		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_ITEM_CODE   ,'상품코드'		,120		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_ITEM_NM     ,'상품명'		,120	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_ALIVE_YN    ,'상태'		,60		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_TRACE_CNT 	,'턴(Turn)'	,120		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_STAY_TIME 	,'체류시간'	,100		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_WORK_DT     ,'작업일'		,70		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_QTY         ,'수량'		,70		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_REG_NO    	,'생성자'	    ,90		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_REG_DT    	,'생성일'		,130	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_UPD_NO    	,'수정자'		,100		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_E0_UPD_DT    	,'수정자'		,130	,false);
	
	
	spdList.rowFilter(new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, SPDCOL_E0_SELECT, spdList.getRowCount(), SPDCOL_E0_END - SPDCOL_E0_SELECT)));
	

	// 컬럼 헤더 스타일 적용
	var setHearderRow = spdList.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
	setHearderRow.backColor("#d5dce6");
	setHearderRow.foreColor("#666666");
	setHearderRow.font("bold 13px Arial");
	

	spdList.defaults.colHeaderRowHeight = 22; //기본높이
    spdList.defaults.rowHeight = 25;
    
    spdList.resumeEvent();
	spdList.resumePaint();
}



/* 조회 */
WMSTR010E0.fn_search = function(op,op1){
	var tab = '#'+activeTab.tab+' ';
	var param 	= jQuery(tab+"form[name='frm_list']").serialize();
	var strUrl 	= "/WMSTR010/listE0.action";
	
	jQuery.ajax({
		url: strUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//console.log(data);
			WMSTR010E0.setRST(data);
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {cfn_loadingModalClose1();}
	});
}




/* 조회 callback */
WMSTR010E0.setRST = function(ds){

	var spdList = WMSTR010E0.spdList;
	spdList.deleteRows(0, spdList.getRowCount());
	var arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck
    
    spdList.suspendPaint();
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_E0_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdList.setDataSource(arrBind);
    	spdList.bindColumn(SPDCOL_E0_SELECT			 ,false);
    	spdList.bindColumn(SPDCOL_E0_SERIAL_NO          ,"SERIAL_NO");
    	spdList.bindColumn(SPDCOL_E0_LC_ID              ,"LC_ID");
    	spdList.bindColumn(SPDCOL_E0_LC_NM              ,"LC_NM");
    	spdList.bindColumn(SPDCOL_E0_CUST_ID            ,"CUST_ID");
    	spdList.bindColumn(SPDCOL_E0_CUST_CD            ,"CUST_CD");
    	spdList.bindColumn(SPDCOL_E0_CUST_NM            ,"CUST_NM");
    	spdList.bindColumn(SPDCOL_E0_RITEM_ID           ,"RITEM_ID");
    	spdList.bindColumn(SPDCOL_E0_ITEM_CODE          ,"ITEM_CODE");
    	spdList.bindColumn(SPDCOL_E0_ITEM_NM            ,"ITEM_NM");
    	spdList.bindColumn(SPDCOL_E0_ALIVE_YN           ,"ALIVE_YN");
    	spdList.bindColumn(SPDCOL_E0_TRACE_CNT       ,"TRACE_CNT");
    	spdList.bindColumn(SPDCOL_E0_STAY_TIME		 ,"STAY_TIME");
    	spdList.bindColumn(SPDCOL_E0_WORK_DT            ,"WORK_DT");
    	spdList.bindColumn(SPDCOL_E0_QTY                ,"QTY");
    	spdList.bindColumn(SPDCOL_E0_REG_NO    	     ,"REG_NO");
    	spdList.bindColumn(SPDCOL_E0_REG_DT    	     ,"REG_DT");
    	spdList.bindColumn(SPDCOL_E0_UPD_NO    	     ,"UPD_NO");
    	spdList.bindColumn(SPDCOL_E0_UPD_DT    	     ,"UPD_DT");
    	spdList.bindColumn(SPDCOL_E0_END				 ,false);
    	
    	
    }
    spdList.resumePaint();
    
//   	for(var i = 0; i < arrBind.length; i++){
//   	}
    
    WMSTR010E0.ps_setSpreadStyle();
    spdList.resumePaint();
    
    WMSTR010E0.fn_gridRowspan();
}

WMSTR010E0.fn_gridRowspan = function(){
	var colNameArray = WMSTR010E0.colNameArray;
	var spdList = WMSTR010E0.spdList;
	var rowSpanColArr = [
			colNameArray.indexOf("LC_NM"),
		];
	// cfn_gridRowspan(grid객체,rowSpan할 기준colNum,rowSpan할 colNum배열)
	cfn_gridRowspan(spdList,colNameArray.indexOf("LC_NM"),rowSpanColArr);
}




</script>

