<style type="text/css">
.no-border {width:100%; border:0px; background-color:transparent;}
</style>
<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" >
			<colgroup>
				<col width="7%"/>
				<col width="20%"/> 
				<col width="8%"/>
				<col width="20%"/> 
				<col width="8%"/>
				<col width="8%"/>
				<col width="25%"/>
				<col width="3%"/>
			</colgroup>
			<tr>
				<th>
					<select id="dfSrchType" name="dfSrchType" >
						<option value="100">$!lang.getText('등록일')</option>
						<option value="200">$!lang.getText('출고일')</option>
					</select>
				</th>
				<td>
					<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
					 ~
					<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
				</td>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th  class="thBar">$!lang.getText("화주")</th>
				<td>
					<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd" style="width:46%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm" style="width:46%" readonly="readonly" value="$ss_cmpy_name" />
					<input type="hidden" name="vrSrchCustPdYn" id="vrSrchCustPdYn">
					<input type="hidden" name="vrSrchCustPdNum" id="vrSrchCustPdNum">
					<input type="hidden" name="vrSrchCustPdUnit" id="vrSrchCustPdUnit">
				</td>
			#else
				<th  class="thBar">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 46%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('M')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="hidden" name="vrSrchCustPdYn" id="vrSrchCustPdYn">
					<input type="hidden" name="vrSrchCustPdNum" id="vrSrchCustPdNum">
					<input type="hidden" name="vrSrchCustPdUnit" id="vrSrchCustPdUnit">
					<input type="text" class = "text" style="width: 46%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('M')"> 
				</td>
			#end
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					$!comCode.getComboComCode("ITEM_TY", "vrSrchItemType", "", true, "$!lang.getText('전체')", "", "","class='selectbox'")
				</td>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus('M')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus('M')"> 
				</td>
				<th class="btnSearch" rowspan="3">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>
				<th class="thBar">$!lang.getText('고객명')</th>
				<td>
					<input type = "text" class = "text" style="width: 50%" name="vrSrchSalesCustNm" id="vrSrchSalesCustNm">
				</td>
				<th>$!lang.getText('원주문번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId" >
				</td>
				<th class="thBar">$!lang.getText('주문번호')</th> 
				<td>
					<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
				</td>
			</tr>	
			<tr>
				<th>택배구분</th>
				<td>
					<select id="vrSrchDlvCompCd" name="vrSrchDlvCompCd" style="width: 50%" >
						<option value="">$!lang.getText('전체')</option>
					</select>
				</td>
				<th>배송상태</th>
				<td>
					<select id="vrSrchState" name="vrSrchState" style="width: 50%" >
						<option value="">$!lang.getText('전체')</option>
						<option value="000">$!lang.getText('미등록')</option>
						<option value="100">$!lang.getText('집화')</option>
						<option value="200">$!lang.getText('배달출발')</option>
						<option value="300">$!lang.getText('배달완료')</option>
					</select>
				</td>
				
				<th class="thBar">$!lang.getText('운송장번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchInvcNo" id="vrSrchInvcNo">
				</td>
			</tr>
		</table>	
	</form>
	
	<div class="area" style="display:inline-flex; width:100%; margin-top:10px;">
		<div class="leftArea" style="display:inline-block; width:48%; padding-right:20px;">
		    <div id="divPanel_SpdList" style="width: 100%; min-height: 650px;">
				<div style = "padding-bottom:15px; font-size : 14px; font-weight : bold;display:flow-root;">
					<div style="float: left;">
						<span style="margin-right : 10px;">택배발급이력조회 리스트</span>(전체 : <span id="totalSpdList"></span>)
					</div>
					<div style="float: right;">
						<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown('M');" role="button" aria-disabled="false"/>
					</div>
				</div>
				<div id="spdList" style="min-height:650px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>
		<div class="rightArea" style="display:inline-block; width:48%;">
			<div id="divPanel_SpdList_detail" style="width: 100%; min-height: 650px;">
				<div style = "padding-bottom:15px; font-size : 14px; font-weight : bold;">배송이력추적</div>
				<table class="datatables-demo" width="100%" style="margin:0% 0% 2% 0%;border:1px solid #b0b0b0;">
				 	<colgroup>
						<col width="25%"/> 
						<col width="25%"/>
						<col width="25%"/>
						<col width="25%"/>
					</colgroup>
					<tr height="70px">
					   <td align="center"">
					   	<i id="iconStat1" class="fas fa-box d-block" style="color:#CFCFCF; font-size:18px;"></i>
					   	<div id="topTime" style="margin-top:5px;"><span class="text-muted small ml-1" style="font-size : 12px;">접수</span></div>
					   </td>
					   <td align="center"">
					   	<i id="iconStat2" class="fas fa-dolly-flatbed d-block" style="color:#CFCFCF; font-size:18px;"></i>
					   	<div id="topTime" style="margin-top:5px;"><span class="text-muted small ml-1" style="font-size : 12px;">집화</span></div>
					   </td>
					   <td align="center"">
					   	<i id="iconStat3" class="fas fa-truck d-block" style="color:#CFCFCF; font-size:18px;"></i>
					    <div id="topTime" style="margin-top:5px;"><span class="text-muted small ml-1" style="font-size : 12px;">배송</span></div>
					   </td>
					   <td align="center"">
					   	<i id="iconStat4" class="fas fa-home d-block" style="color:#CFCFCF; font-size:18px;"></i>
					   	<div id="topTime" style="margin-top:5px;"><span class="text-muted small ml-1" style="font-size : 12px;">완료</span></div>
					   </td>
					</tr>
				</table>
				<div class="popupWrap">
				<table class="search" style="height:45px; font-size:14px;">		
	    			<colgroup>	
	    				<col width="80px"/>
	    				<col width="45%"/>
	    				<col width="80px"/>
	    				<col width="45%"/>
	    				<col width="80px"/>
	    			</colgroup>
	    			<tr>
	    				<th>$!lang.getText("택배사")</th>
	    				<td>
	    					<input type="text" class="text" name="TRANS_CUST_NM" id="TRANS_CUST_NM" style="text-align:center; height:25px; ime-mode:disabled" disabled/>
	    				</td>
	    				<th>$!lang.getText("운송장번호")</th>
	    				<td>
	    					<input type="text" class="text" name="P_INVOICE_NO" id="P_INVOICE_NO" style="text-align:center; height:25px; ime-mode:active" disabled/>
	    				</td>
	    			</tr>
	    		</table>
	    		</div>
				<div id="spdDetailList" style="min-height:510px; width:100%; border:1px solid #b0b0b0;"></div>
				<div id="spdListTable" style="display:none"></div>
			</div>
		</div>
	</div>
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>