<script>
	var DICTIONARY = {};

	DICTIONARY = {
			... DICTIONARY
			, ...{ 'ss_lang_type' 	: "$!ss_lang_type" }
			, ...{ 'ss_lang' 		: "$!ss_lang" }
			, ...{ 'list.nodata' 	: "$!lang.getText('list.nodata')" }
			, ...{ 'confirm_save' 	: "$!lang.getText('저장하시겠습니까')" }
			, ...{ 'save_success' 	: "$!lang.getText('save.success')" }
			, ...{ 'delete.confirm' : "$!lang.getText('delete.confirm')" }
	} ;

	var COL_COMBO_LIST = {
			... COL_COMBO_LIST
			, ...{ 'COM09' 	        :  { $!comCode.getGridComboComCode("COM09",        false, "$!lang.getText('선택')") } }
	};                    

</script>


<div class="patternWrap">
	<form id="frm_listE3" name="frm_listE3">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
                	<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCdE3" id="vrSrchCustCdE3"> 
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" id ='vrSrchCustImgE3'/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNmE3" id="vrSrchCustNmE3"> 
						<input type="hidden" name="vrSrchCustIdE3" id="vrSrchCustIdE3">
					</td>
                	
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('택배구분')</th>
					<td>
						$!comCode.getComboComCode("SWEET_DCD", "vrSrchParcelComCdE3", "", true, "$!lang.getText('전체')", "", '',"class='selectbox'")
					</td>

					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('택배SEQ')</th>
					<td>
						<select id="vrSrchParcelSeqE3" name="vrSrchParcelSeqE3" style="width:50%;"></select>
					</td>
					<th></th>
					<td class="btnSearch" rowspan="1">
						<input type="button" id="btnSrchE3" name="btnSrchE3" value="$!lang.getText('')" title="검색" role="button" aria-disabled="false" class="ui-button ui-widget ui-state-default ui-corner-all">
					</td>
				</tr>

            </tbody>
        </table>
	</form>

	<div class = "btnArea" style ="margin-bottom:-45px;">
		<div class="btnAreaLeft" style="width:50%">
		</div>
		
		<div class = "btnAreaRight" id="btnArea">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnEtc" 		id="btn_saveE3"		name="btn_saveE3" 		role="button" aria-disabled="false"/>
		</div>		
	</div>
</div>

<div style="padding-top:50px;">
	<div id="spdListE3" style="height:600px; border:1px solid #b0b0b0;"></div>
</div>
