<div class="patternWrap">
	<div style = "padding-bottom:5px; font-size : 14px; font-weight : bold;">임가공 세트품목</div>
	<form name="frm_listE3">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('E3');"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST","E3");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('E3');"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th class="thBar">$!lang.getText("상품코드")</th>
					<td>
						<input type="text" class = "text" style = "width: 90%" name="vrSrchItemCd" id="vrSrchItemCd"> 
					</td>
					<th class="thBar">$!lang.getText('상품명')</th>
					<td>
						<input type="text" class = "text" style = "width: 90%" name="vrSrchItemNm" id="vrSrchItemNm"> 
					</td>
					<th class="thBar">$!lang.getText('생산처')</th>
					<td>
						<input type="text" class = "text" style = "width: 90%" name="vrSrchMaker" id="vrSrchMaker"> 
					</td>
					<th class="btnSearch">
						<input type="button" name="btnSrch" value="$!lang.getText('')" onClick="fn_searchE3_H();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
            </tbody>
        </table>

		<!-- spreadJS에 상품팝업 결과값을 row에 바로 보낼 수 없어서 hiddenInput 생성 -->
		<input type="hidden" id="hdRitemId" onChange="fn_setPopDataE3();">
		<input type="hidden" id="hdItemCd">
		<input type="hidden" id="hdItemNm">

		<div id="formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>

	<div class='btn_group' style="width:100%; min-height:30px; margin-top:-5px;">
		<div style="float:right;">
			<input type="button" value="$!lang.getText('상품삭제')" class="DEL_AUTH btnDelete" id="btn_delE3_H" name="btn_delE3_H" onclick="fn_delE3_H();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="area" style="display:inline-block; width:100%;">
		<div id="divPanel_SpdList" style="width: 100%; min-height: 300px;">
			<div id="spdListE3_H" style="min-height:300px; width:100%; border:1px solid #b0b0b0;"></div>
		</div>
		<div style = "margin-top:15px; padding-bottom:5px; font-size : 14px; font-weight : bold;">임가공 구성품목</div>
		<div class="popupWrap">
			<table class="search" style="height:45px; font-size:14px;">		
				<colgroup>	
					<col width="100px"/>
					<col width="30%"/>
					<col width="100px"/>
					<col width="50%"/>
					<col width="80px"/>
				</colgroup>
				<tr>
					<th>$!lang.getText("세트상품코드")</th>
					<td>
						<input type="text" class="text" name="SET_ITEM_CD_E3" id="SET_ITEM_CD_E3" maxlength='20' style="text-align:center; height:25px; ime-mode:disabled;font-family: auto;" disabled/>
						<input type="hidden" id="SET_ITEM_ID_E3">
					</td>
					<th>$!lang.getText("세트상품명")</th>
					<td>
						<input type="text" class="text" name="SET_ITEM_NM_E3" id="SET_ITEM_NM_E3" style="text-align:center; height:25px; ime-mode:active; font-family: auto;" disabled/>
					</td>
					<td>
						<input type = "button" name = "btnTemSet"  class="INS_AUTH"		value = "$!lang.getText('수정')"	onclick = "fn_saveE3();"	 role="button" aria-disabled="false"/>
					</td>
				</tr>
			</table>
		</div>
		<div class='btn_group' style="width:100%; min-height:30px; margin-top:-5px;">
			<div style="float:right;">
				<input type="button" value="$!lang.getText('상품추가')" class="INS_AUTH UPD_AUTH btnSave" id="btn_addE3" name="btn_addE3" onclick="fn_addE3();" role="button" aria-disabled="false"/>
				<input type="button" value="$!lang.getText('상품삭제')" class="DEL_AUTH btnDelete" id="btn_delE3" name="btn_delE3" onclick="fn_delE3();" role="button" aria-disabled="false"/>
			</div>
		</div>
		<div id="divPanel_SpdList" style="width: 100%; min-height: 300px;">
			<div id="spdListE3_D" style="min-height:300px; width:100%; border:1px solid #b0b0b0;"></div>
		</div>
	</div>
</div>
