#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<style>
	.templateType {
		display: none;
	}
</style>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

var comboList = {};
var spdSheet;
var spdList;
var arrMC_SPD_CHK_SET = [];
var vrTemplateType;
var func;

var SPDCOL_CHK_BOX = 0;
var SPDCOL_ID = 1;
var SPDCOL_TEMPLATE_NAME = 2;
var SPDCOL_TEMPLATE_TYPE = 3;
var SPDCOL_LC_ID = 4;
var SPDCOL_CUST_ID = 5;
var SPDCOL_TEMPLATE_ID = 6;
var SPDCOL_COLUMN_CODE = 7;
var SPDCOL_COLUMN_SEQ = 8;
var SPDCOL_UP = 9;
var SPDCOL_DOWN = 10;
var SPDCOL_COLUMN_NAME = 11;
var SPDCOL_COLUMN_TYPE = 12;
var SPDCOL_COLUMN_SIZE = 13;
var SPDCOL_COLUMN_COLOR	= 14;
var SPDCOL_COLUMN_ALIGN	= 15;
var SPDCOL_COLUMN_READ_ONLY = 16;
var SPDCOL_COLUMN_VISIBLE = 17;
var SPDCOL_COLUMN_AUTO_LINE_CHANGE = 18;
var SPDCOL_COLUMN_COMBO = 19;
var SPDCOL_COLUMN_COMBO_RELATED = 20;
var SPDCOL_COLUMN_FUNCTION = 21;
var SPDCOL_FIXED_COLUMN_INDEX = 22;
var SPDCOL_ST_GUBUN = 23;
var SPDCOL_END = 24;




jQuery(document).ready(function(){
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();

	
	
	parseComboString("COM09", {$!comCode.getGridComboComCode("COM09", false, "$!lang.getText('선택')")}.value);
	parseComboString("GRID_ALIGN", {$!comCode.getGridComboComCode("GRID_ALIGN", false, "$!lang.getText('선택')")}.value);
	parseComboString("GRID_COLOR", {$!comCode.getGridComboComCode("GRID_COLOR", false, "$!lang.getText('선택')")}.value);
	parseComboString("GRID_TYPE", {$!comCode.getGridComboComCode("GRID_TYPE", false, "$!lang.getText('선택')")}.value);
	
	// Tabs
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	vrTemplateType = (arrParameter[0] == undefined) ? "" : arrParameter[0];			//코드(검색조건)
	func = (arrParameter[1] == undefined) ? "" : arrParameter[1];			//코드(검색조건)
	
	ps_setSpreadColumnIndex();
	
	appendTemplateType();
	//fn_search();
	
});

function ps_setSpreadColumnIndex(){
	spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
	spdList = spdSheet.getActiveSheet(0);
	ps_setSpreadSheet_init_new(spdSheet, false);
	spdSheet.options.scrollbarMaxAlign    = false;
	//spdSheet.options.showHorizontalScrollbar = false;
	ps_setSpreadEvents_Bind_Multi(spdList, spdSheet);
		
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdList, 1, SPDCOL_END, 0, SPDCOL_DOWN);
	
	ps_setSpreadCol_CHECKBOX_Property(spdList, SPDCOL_CHK_BOX, 'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ID, 'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TEMPLATE_NAME, 'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TEMPLATE_TYPE ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_LC_ID ,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_CUST_ID ,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TEMPLATE_ID ,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_COLUMN_CODE ,'CENTER'	,'CENTER'	,8	,false	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_COLUMN_SEQ ,'CENTER'	,'CENTER'	,8	,false	,false	,"");
	ps_setSpreadCol_BUTTON_Property(spdList, SPDCOL_UP, 'CENTER', 'CENTER', 8, false	,true, 'red', '▲');
	ps_setSpreadCol_BUTTON_Property(spdList, SPDCOL_DOWN, 'CENTER', 'CENTER', 8, false	,true, 'blue', '▼');
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_COLUMN_NAME ,'CENTER'	,'CENTER'	,8	,false	,false	,"#FFFBF7");
	ps_setSpreadCol_COMBO_Property2(spdList	,SPDCOL_COLUMN_TYPE ,'CENTER'	,'CENTER'	,5,5,comboList.GRID_TYPE.values	,false	,"#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_COLUMN_SIZE ,'CENTER'	,'CENTER'	,8	,false	,false	,"#FFFBF7");
	ps_setSpreadCol_COMBO_Property(spdList	,SPDCOL_COLUMN_COLOR ,'CENTER'	,'CENTER'	,comboList.GRID_COLOR.values ,false	,"#FFFBF7");
	ps_setSpreadCol_COMBO_Property(spdList	,SPDCOL_COLUMN_ALIGN ,'CENTER'	,'CENTER'	,comboList.GRID_ALIGN.values ,false	,"#FFFBF7");
	ps_setSpreadCol_COMBO_Property(spdList  ,SPDCOL_COLUMN_READ_ONLY ,'CENTER', 'CENTER' ,comboList.COM09.values, false, "#FFFBF7");
	ps_setSpreadCol_COMBO_Property(spdList  ,SPDCOL_COLUMN_VISIBLE ,'CENTER', 'CENTER', comboList.COM09.values, false, "#FFFBF7");
	ps_setSpreadCol_COMBO_Property(spdList  ,SPDCOL_COLUMN_AUTO_LINE_CHANGE ,'CENTER', 'CENTER', comboList.COM09.values, false, "#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList  ,SPDCOL_COLUMN_COMBO ,'CENTER', 'CENTER', 8, false, false, "#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList  ,SPDCOL_COLUMN_COMBO_RELATED ,'CENTER', 'CENTER', 8, false, false, "#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList  ,SPDCOL_COLUMN_FUNCTION ,'CENTER', 'CENTER', 8, false, false, "#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList  ,SPDCOL_FIXED_COLUMN_INDEX ,'CENTER', 'CENTER', 8, false, false, "#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList  ,SPDCOL_ST_GUBUN ,'CENTER', 'CENTER', 8, false, false, "#FFFBF7");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_END ,'CENTER'	,'CENTER'	,8	,false	,false	,"#FFFBF7");
	
	ps_setSpreadStyle();
	
	gfn_forceEventResize();
	
}


function ps_setSpreadStyle(){
	/* colName */
	
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_CHK_BOX, '선택'	,50	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_ID, 'ID'	,100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_TEMPLATE_NAME, '템플릿명'	,100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_TEMPLATE_TYPE ,'템플릿타입'	,100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_LC_ID ,'센터ID'	,100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_CUST_ID ,'화주ID'	,100	,false);;
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_TEMPLATE_ID ,'템플릿아이디', 100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_CODE ,'컬럼인덱스'	, 230	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_SEQ ,'항목순번', 70	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_UP ,'', 30	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_DOWN ,'', 30	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_NAME ,'컬럼명', 230	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_TYPE ,'컬럼타입', 100	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_SIZE ,'컬럼 사이즈', 130	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_COLOR ,'배경색', 100	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_ALIGN ,'글자정렬방향', 110	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_READ_ONLY ,'읽기전용여부', 150	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_VISIBLE ,'표기여부', 110	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_AUTO_LINE_CHANGE ,'자동줄바꿈여부'	, 120	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_COMBO ,'콤보리스트명'	, 100	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_COMBO_RELATED ,'콤보연관컬럼'	, 100	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_COLUMN_FUNCTION ,'클릭 함수'	, 100	,true);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_FIXED_COLUMN_INDEX ,'고정인덱스'	, 100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_ST_GUBUN ,'구분'	, 100	,false);
	ps_setSpreadTitle_Named(spdList ,0 ,SPDCOL_END ,'end', 100	,true);
	
	spdList.addSpan(-1, SPDCOL_COLUMN_SEQ, 1, 3, GC.Spread.Sheets.SheetArea.colHeader);
}


/* 조회 callback */
function setRST(ds){
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    //console.log(JSON.parse(ds));
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    spdList.suspendPaint();
    
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_CHK_BOX blank 처리)
    if(arrBind.length != 0){
    	spdList.setDataSource(arrBind);
    	
    	spdList.bindColumn(SPDCOL_CHK_BOX, false);
    	spdList.bindColumn(SPDCOL_ID, 'ID');
    	spdList.bindColumn(SPDCOL_TEMPLATE_NAME, 'TEMPLATE_NAME');
    	spdList.bindColumn(SPDCOL_TEMPLATE_TYPE ,'TEMPLATE_TYPE');
    	spdList.bindColumn(SPDCOL_LC_ID ,'LC_ID');
    	spdList.bindColumn(SPDCOL_CUST_ID ,'CUST_ID');
    	spdList.bindColumn(SPDCOL_TEMPLATE_ID ,'TEMPLATE_ID');
    	spdList.bindColumn(SPDCOL_UP ,false);
    	spdList.bindColumn(SPDCOL_DOWN ,false);
    	spdList.bindColumn(SPDCOL_COLUMN_CODE ,'COLUMN_CODE');
    	spdList.bindColumn(SPDCOL_COLUMN_NAME ,'COLUMN_NAME');
    	spdList.bindColumn(SPDCOL_COLUMN_TYPE ,'COLUMN_TYPE');
    	spdList.bindColumn(SPDCOL_COLUMN_SEQ ,'COLUMN_SEQ');
    	spdList.bindColumn(SPDCOL_COLUMN_SIZE ,'COLUMN_SIZE');
    	spdList.bindColumn(SPDCOL_COLUMN_COLOR ,'COLUMN_COLOR');
    	spdList.bindColumn(SPDCOL_COLUMN_ALIGN ,'COLUMN_ALIGN');
    	spdList.bindColumn(SPDCOL_COLUMN_READ_ONLY ,'COLUMN_READ_ONLY');
    	spdList.bindColumn(SPDCOL_COLUMN_VISIBLE ,'COLUMN_VISIBLE');
    	spdList.bindColumn(SPDCOL_COLUMN_AUTO_LINE_CHANGE ,'COLUMN_AUTO_LINE_CHANGE');
    	spdList.bindColumn(SPDCOL_COLUMN_COMBO ,'COLUMN_COMBO');
    	spdList.bindColumn(SPDCOL_COLUMN_COMBO_RELATED ,'COLUMN_COMBO_RELATED');
    	spdList.bindColumn(SPDCOL_COLUMN_FUNCTION ,'COLUMN_FUNCTION');
    	spdList.bindColumn(SPDCOL_FIXED_COLUMN_INDEX ,'FIXED_COLUMN_INDEX');
    	spdList.bindColumn(SPDCOL_ST_GUBUN , 'ST_GUBUN');
    	//spdList.bindColumn(SPDCOL_END ,'end', 100	,true);
    	
        
        //jQuery("#gridName").text(spdList.getValue(0, SPDCOL_TEMPLATE_NAME));
        
        jQuery("#vrTemplateId").val(spdList.getValue(0, SPDCOL_TEMPLATE_ID));
    }
    
    ps_setSpreadStyle();
    spdList.resumePaint();
    

    
}

function gfn_forceEventResize(){
	var el = document;
	var event = document.createEvent('HTMLEvents');
	event.initEvent('resize', true, false);
	el.dispatchEvent(event);
}


/* 팝업 */
function fn_Popup(type, id){
	var strParameter = [];
	var param 	= '';
	var url 	= '';
	var width	= "800";
	var height 	= "530";
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'EXCEL':
			param = "?func=fn_search&vrTemplateId="+jQuery('form[name="frm_list"] #templateType').val();
			url = "/WMSYS240pop.action"+param
			break;			
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
	
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
	//appendTemplateType();
	//fn_search();
}

/* 대표화주코드 가져오기 */
function fn_getTypicalCust() {
	var srchKey = "TYPICALCUST";
	var param = "srchKey=" + srchKey;
	var url = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param,	function(data) {
		var data = data.TYPICALCUST;
		var cnt = data.size();
		if (cnt > 0) {
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val(data[0].CUST_CD);
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val(data[0].CUST_NM);
			jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val(data[0].CUST_ID);
			jQuery("form[name='frm_list'] input[name='vrSrchCustTel']").val(data[0].TEL);
			
			/* 고객사별 조회조건 제한 설정 */
			if(cnt === 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').attr("class", "readOnly").attr('readOnly', 'readOnly');
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').attr("class", "readOnly").attr('readOnly', 'readOnly');
				jQuery("#btnSrchCustPop").removeAttr('onClick');
				fn_search();
			}
			

			/* 고객사별 조회조건 및 DDL view권한 설정 */
		} else {
			if ('$ss_proc_auth' != "02") { //02 저장관리 마스터는 예외
				//fn_Popup("CUST");
			}
		}
	}).fail(function(xhr, textStatus) {
		if (xhr.status == 404) {
			location.href = ('/index.html');
		}
	});
}

//--------------------------------------------------------------------------------자동완성-------------------------------------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CAR     : 차량            : O : vrSrchCarCd , vrSrchCarNm(X)
	CENTER  : 물류센터      : O : vrSrchCenterCd, vrSrchCenterNm
	CLIENT  : 고객사         : O : vrSrchCustCd, vrSrchCustNm, srchSubCode3, srchSubCode4
	                         (srchSubCode3 => 100 : 고객사, 104 : 물류센터, 108 : 거래처 ) 
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	DEPT    : 부서            : X :
	DOCK    : 도크            : O : vrSrchDockCd, vrSrchDockNo, vrSrchDockNm
	EMPLOY  : 사원            : X :
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
	LOCATION : 로케이션    : O : vrSrchLocCd, vrSrchLocId
	UOM     : UOM      : O : vrSrchUomCd, vrSrchUomNm
	USER    : 사용자         : O : vrSrchUserId, vrSrchUserNm, srchSubCode3, srchSubCode5
	WH      : 창고            : O : vrSrchWhCd, vrSrchWhNm
	ZONE    : 존               : O : vrSrchZoneId, vrSrchZoneNm
 */
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------// 


//--------------------------------------------------------------------------------메--인--------------------------------------------------------------------------------------//
/*
	초기화		:	fn_init
	검색			:	fn_search
	저장			:	fn_save
	유효성검사		:	fn_listValidation
	신규			:	fn_new
	삭제			:	fn_delete
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 검색 */
function fn_search(){
	
	
	
	
	//jQuery('form[name="frm_list"] input, form[name="frm_list"] select, form[name="frm_list"] img').attr('disabled', true);
	
	
	
	var vrSrchCustCd 	= jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val();
	var templateType  = jQuery("#templateType option:selected").val();
	var vrSrchLcId = jQuery("#vrSrchLcNm").val();
	
	var param	= "vrSrchCustCd="+vrSrchCustCd+"&vrTemplateType="+templateType+"&LC_ID="+vrSrchLcId;
	//var param 	= jQuery("form[name='frm_list']").serialize(); 
	
	var url;
	if(cfn_isEmpty(vrSrchLcId)){
		url = "/WMSCM300/originList.action?"+param;
	}else{
		
		url	= "/WMSCM300/defaultList.action?"+param;
	}

	jQuery.ajax({
		url : url,
		type : 'GET',
		//data: param,
		contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			//console.log(data);
			setRST(data);
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
		}
	});
	
}
	

/* 신규 */
function fn_setDefault(){
	
	//vrSrchCustCd = '';
	var vrTemplateType = 'WMSSP011E1';
	
	var param	= "vrTemplateType="+vrTemplateType;
	//var param 	= jQuery("form[name='frm_list']").serialize(); 
	var url 	= "/WMSCM300/list.action?"+param;
	

	jQuery.ajax({
		url : url,
		type : 'GET',
		//data: param,
		contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			//console.log(data);
			setRST(data);
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
		}
	});
}



//EVENT : checkBox all selection
function ps_setSpreadEvents_ValueChanged(args) {
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick(args) {
	var grid = spdList;
	
	if(!grid.getCell(args.row, args.col).locked() && args.sheetArea !== GC.Spread.Sheets.SheetArea.colHeader){
		grid.startEdit();
	}
	
	if (args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader	&& args.col === 0) {
		ps_setSelectALL(0, args);
		return false;
	}
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged(args) {
	var grid = spdList;
	
	var sheet = args.sheet;
	if(args.newValue === null){
		sheet.setValue(args.row, args.col, '');
		return;
	}
		
	if (args.propertyName === "value") {
     
		if (args.newValue != args.oldValue && args.col !== SPDCOL_CHK_BOX) {
			// 체크박스가 아닐 경우. (col_No > 0)
			sheet.setValue(args.row, 0, true, GC.Spread.Sheets.SheetArea.viewport);
			
		}
	
	}
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args) {
	
	
	
	if(args.col === SPDCOL_UP){
		var stGubun = spdList.getValue(args.row, SPDCOL_ST_GUBUN);
		var stGubunUp = spdList.getValue(args.row - 1, SPDCOL_ST_GUBUN);
		if("I" === stGubun || "I" === stGubunUp){
			return false;
		}
		if(args.row <= 0){
			return false;
		}
		rowUp(args.row);
	}else if(args.col === SPDCOL_DOWN){
		var stGubun = spdList.getValue(args.row, SPDCOL_ST_GUBUN);
		var stGubunDown = spdList.getValue(args.row + 1, SPDCOL_ST_GUBUN);
		if("I" === stGubun || "I" === stGubunDown){
			return false;
		}
		if(args.row >= spdList.getRowCount() - 1){
			return false;
		}
		rowDown(args.row);
	}
	
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus(args) {
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick(args) {
}

function parseComboString(name, arg){
	var all = [];
	var keys = [];
	var values = [];

	var comboStringList = arg.split(';');

	for(var i = 0; i < comboStringList.length; i++) {
		var comboArr = comboStringList[i].split(':');
		all.push([cfn_trim(comboArr[0]), cfn_trim(comboArr[1])]);
		keys.push(cfn_trim(comboArr[0]));
		values.push(cfn_trim(comboArr[1]));
	}
	comboList[name] = {};
	comboList[name].all = all;
	comboList[name].keys = keys;
	comboList[name].values = values;
	
}

function fn_checkedList(orGrid) {
	var grid = orGrid;
	var selectIds = [];	

	for(var i = 0; i < grid.getRowCount(); i++){
        if(grid.getValue(i, 0)){
        	selectIds.push(i + '');
        }
    }
	//console.log(selectIds);
	return selectIds;
}

function fn_save(){
	
	//var selectIds = fn_checkedList(spdList);
	var selectIds = [];
	var params = "";
	//var selectIdsLength = selectIds.length;
	var selectIdsLength = spdList.getRowCount();
	
	var vrSrchCustCd = jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val();
	var vrSrchLcId = jQuery("#vrSrchLcNm option:selected").val();
	var templateType = jQuery("#templateType option:selected").val();
	//if (selectIds != ""){
		params = params + "selectIds=" + selectIdsLength;
		params = params + "&vrSrchCustCd=" + vrSrchCustCd;
		params = params + "&templateType=" + templateType;
		params = params + "&lcId=" + vrSrchLcId;
		for(var i = 0; i < selectIdsLength; i++){
			
			selectIds[i] = i;
			
			params = params + "&id" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_ID) || "");
			params = params + "&templateId" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_TEMPLATE_ID) || "");
			params = params + "&columnCode" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_CODE) || "");
			params = params + "&columnName" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_NAME) || "");
			params = params + "&columnType" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_TYPE) || "");
			params = params + "&columnSeq" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_SEQ) || "");
			params = params + "&columnSize" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_SIZE) || "");
			params = params + "&columnColor" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_COLOR) || "");
			params = params + "&columnReadOnly" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_READ_ONLY) || "");
			params = params + "&columnVisible" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_VISIBLE) || "");
			params = params + "&columnAutoLineChange" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_AUTO_LINE_CHANGE) || "");
			params = params + "&columnAlign" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_ALIGN) || "");
			params = params + "&columnCombo" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_COMBO) || "");
			params = params + "&columnComboRelated" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_COMBO_RELATED) || "");
			params = params + "&columnFunction" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_COLUMN_FUNCTION) || "");
			params = params + "&stGubun" + i + "=" + (spdList.getValue(selectIds[i], SPDCOL_ST_GUBUN) || "");
						
		}
	//}else{
	//	alert('저장할 데이터를 체크하십시오.');
	//	return false;
	//}
	
	//console.log(params);
	
	var url = "/WMSCM300/adminSave.action";
	jQuery.ajax({
		url : url,
		type : 'POST',
		data: params,
		//contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		//contentType : 'application/json; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			alert('저장되었습니다.');
			//fn_forceUpdate();
			fn_search();
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
			
		}
	});
	/* jQuery.ajax({
		url : url,
		type : 'POST',
		data: params,
		//contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		//contentType : 'application/json; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			alert('저장되었습니다.');
			fn_search();
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
			
		}
	}); */
	

	
}

function fn_setFixedColumn(){
	var selectIds = fn_checkedList(spdList);
	var params = "";
	var selectIdsLength = selectIds.length;
	var vrSrchCustCd = jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val();
	if (selectIdsLength > 0){
		params = params + "&vrTemplateType=" + vrTemplateType;
		
		if(selectIdsLength > 1){
			alert("하나의 이상의 체크박스가 선택되었습니다.");
			return false;
		}else{
			var seq = spdList.getValue(selectIds[0], SPDCOL_COLUMN_SEQ);
			var url = "/WMSCM300/fixColumnSave.action";
			params = params + "&vrSrchCustCd=" + vrSrchCustCd + "&fixedColumnIndex=" + seq ;
			jQuery.ajax({
				url : url,
				type : 'POST',
				data: params,
				//contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
				//contentType : 'application/json; charset=UTF-8',
				dataType : 'html',
				error : function(_, textStatus, errorThrown) {
					alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
				},
				success : function(data) {
					alert('저장되었습니다.');
					
				},
				beforeSend : function() {
					cfn_loadingModalOpen1();
				},
				complete : function() {
					cfn_loadingModalClose1();
					
				}
			});
			
		}
		
		
	}else{
		alert("기준이 되는 컬럼의 체크박스를 클릭하시고 진행하십시오. ");
		return false;
	}
}

function rowUp(row){
	//seq와 바꿔주고
	//오름차순정렬
	var fromSeq = spdList.getValue(row, SPDCOL_COLUMN_SEQ);
	var toSeq = spdList.getValue(row - 1, SPDCOL_COLUMN_SEQ);
	spdList.setValue(row, SPDCOL_COLUMN_SEQ, toSeq);
	spdList.setValue(row - 1, SPDCOL_COLUMN_SEQ, fromSeq);
	
	var sortInfo = [
   		{index:SPDCOL_COLUMN_SEQ, ascending:true},
   	];
	spdList.sortRange(row - 1, 0, 2, spdList.getColumnCount(), true, sortInfo);
	//ps_setSpreadStyle();
	spdList.setActiveCell(row - 1, SPDCOL_UP);
}


function rowDown(row){
	var fromSeq = spdList.getValue(row, SPDCOL_COLUMN_SEQ);
	var toSeq = spdList.getValue(row + 1, SPDCOL_COLUMN_SEQ);
	spdList.setValue(row, SPDCOL_COLUMN_SEQ, toSeq);
	spdList.setValue(row + 1, SPDCOL_COLUMN_SEQ, fromSeq);
	
	var sortInfo = [
   		{index:SPDCOL_COLUMN_SEQ, ascending:true},
   	];
	spdList.sortRange(row, 0, 2, spdList.getColumnCount(), true, sortInfo);
	spdList.setActiveCell(row + 1, SPDCOL_DOWN);
	//ps_setSpreadStyle();
}

function appendTemplateType(){
	jQuery("#templateList").html("");
	var vrSrchLcId = jQuery("#vrSrchLcNm option:selected").val();
	var url = "/WMSCM300/templateList.action";
	var params = "&LC_ID=" + vrSrchLcId;
	jQuery.ajax({
		url : url,
		type : 'POST',
		data: params,
		//contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		//contentType : 'application/json; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			//console.log(data);
			var selectBox = "<select id='templateType'>";
			
			var jsonData = JSON.parse(data);
			var rows = jsonData.rows;
			for(var i = 0; i < rows.length; i++){
				selectBox += "<option value='" + rows[i].TEMPLATE_TYPE + "'>" + rows[i].TEMPLATE_NAME + "</option>";
			}
			
			selectBox += "</select>";
			jQuery("#templateList").html(selectBox);
			jQuery(".templateType").show();		
			
			fn_search();
		},
		beforeSend : function() {
		},
		complete : function() {
		}
	});
	
	
	
	
	
}

function vrSrchcmbLcList_OnChange(){
	//appendTemplateType()
	fn_search();
}

function fn_forceUpdate(){
	
	
	var vrSrchLcId = jQuery("#vrSrchLcNm option:selected").val();
	
	if(cfn_isEmpty(vrSrchLcId)){
		alert('물류센터 지정 필요ㄴ');
		return false;
		
	}
	
	if(!confirm("기존유저들에게도 강제 반영하시겠습니까?")){
		return false;
	}
	
	var selectIds = [];
	var params = "";
	var selectIdsLength = spdList.getRowCount();
	
	//if (selectIds != ""){
	var templateType  = jQuery("#templateType option:selected").val();
	
	params = params + "selectIds=" + selectIdsLength + "&vrTemplateType=" + templateType + "&lcId=" + vrSrchLcId;
	
	for(var i = 0; i < selectIdsLength; i++){
		
		selectIds[i] = i;
		
		params = params + "&id" + i + "=" + spdList.getValue(selectIds[i], SPDCOL_ID);
		params = params + "&columnCode" + i + "=" + spdList.getValue(selectIds[i], SPDCOL_COLUMN_CODE);
					
	}
	
	//var param 	= jQuery("form[name='frm_list']").serialize(); 
	var url 	= "/WMSCM300/forceUpdate.action";

	jQuery.ajax({
		url : url,
		type : 'POST',
		data: params,
		contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			console.log(data);
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
		}
	});
}

function fn_new(){
	
	var templateName = prompt('템플릿 이름');
	if(templateName){
		var templateType = prompt('템플릿 타입');
		if(templateType){
		
			var url 	= "/WMSCM300/createNewTemplate.action";
			var param = "&templateName=" + templateName + "&templateType=" + templateType; 
			jQuery.ajax({
				url : url,
				type : 'POST',
				data: param,
				contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
				dataType : 'html',
				error : function(_, textStatus, errorThrown) {
					alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
				},
				success : function(data) {
					//console.log(data);
					var templateId = JSON.parse(data).templateId;
					jQuery("#vrTemplateId").val(templateId);
					appendTemplateType();
				},
				beforeSend : function() {
					cfn_loadingModalOpen1();
				},
				complete : function() {
					cfn_loadingModalClose1();
				}
			});
		}
	}
}
	
function fn_add(){

	var lastRow = spdList.getRowCount();
	spdList.addRows(lastRow, 1);
	var cell = spdList.getCell(lastRow, SPDCOL_COLUMN_CODE);
	cell.locked(false);
	spdList.setValue(lastRow, SPDCOL_ST_GUBUN, 'I');
	spdList.setValue(lastRow, SPDCOL_COLUMN_SEQ, lastRow + 1);
	
	spdList.setValue(lastRow, SPDCOL_TEMPLATE_ID,  jQuery("#vrTemplateId").val());
	
	spdList.setValue(lastRow, SPDCOL_COLUMN_CODE, '');
	spdList.setValue(lastRow, SPDCOL_COLUMN_NAME, '');
	spdList.setValue(lastRow, SPDCOL_COLUMN_TYPE, 'TEXT');
	spdList.setValue(lastRow, SPDCOL_COLUMN_SIZE, '130');
	spdList.setValue(lastRow, SPDCOL_COLUMN_COLOR, 'DEFAULT');
	spdList.setValue(lastRow, SPDCOL_COLUMN_ALIGN, 'CENTER');
	spdList.setValue(lastRow, SPDCOL_COLUMN_READ_ONLY, 'Y');
	spdList.setValue(lastRow, SPDCOL_COLUMN_VISIBLE, 'Y');
	spdList.setValue(lastRow, SPDCOL_COLUMN_AUTO_LINE_CHANGE, 'Y');
	spdList.setValue(lastRow, SPDCOL_COLUMN_COMBO, NULL);
	spdList.setValue(lastRow, SPDCOL_COLUMN_COMBO_RELATED, NULL);
	spdList.setValue(lastRow, SPDCOL_COLUMN_FUNCTION, NULL);
	
	
	//ps_setSpreadStyle();
    //spdList.resumePaint();
	
	
	
}

function fn_upload(){

}
	
</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href="#tabs-1">$!lang.getText("그리드")($!lang.getText("관리"))-$!lang.getText("신규")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsys/WMSYS240E1.vm")
    </div>    
</div>	

#parse("winus/common/footer.vm")