<div class="patternWrap">
	<form name="frm_list3">		
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('정렬')" class="ui-corner-tl ui-corner-bl" name="btn_write" onclick="fn_adjust();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('전송')" class="ui-corner-tl ui-corner-bl" name="btn_write" onclick="fn_send();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('전송테스트')" class="ui-corner-tl ui-corner-bl" name="btn_write" onclick="fn_open_pop();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="detail_box column_3">
		<BR/><BR/>
		전송URL : <input type="text" class="text" name="S_URL" id="S_URL" style="ime-mode:inactive;" value="/WMSIF020/pickingOrderComplete.if" />
		<BR/><BR/><BR/>
		<textarea id="testTextArea" cols=120 rows=32></textarea>
	</div>
</div>