<!--style-->
<style type="text/css">
.custBorder {text-align:right; width:100%; border:0px; background-color:transparent; color:red; font-weight:bold; font-family:KoPubDotumLight;}
</style>

<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
				<th>
					<input type="text" class="custBorder" id ="vrSrchTypicalCust" name ="vrSrchTypicalCust" style="font-size:120%;" readonly="readonly"></input>
					<input type="hidden" name="vrSrchTypicalCustId" id="vrSrchTypicalCustId"/>
				</th>
	    	</div>
	    </div>	
    </div>
</div>

<!--patternWrap-->
<div class="patternWrap">
	<form name="frm_list" id="frm_list">	
		<table class = "search" id = "srchBox" border='0'>
			<colgroup>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "50px"/>
				<col width = "10%"/>
				<col width = "80px"/>
				<col width = "10%"/>
				<col width = "25%"/>
				
				<col width = "10px"/>
				<col width = "50px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText("등록일자")</th>
				<td>		
					<input type="text" class="text" style="width:45%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:45%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:45%" onChange="vrSrchCustCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch">
					<input type="hidden" name="txtSrchCustId" id="txtSrchCustId"/>
					<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:45%" onChange="vrSrchCustNm_OnKillFocus()"/>
				</td>
				<th></th>
				<td></td>
				<th></th>
				<td></td>
				<th></th>
				
				<td></td>
				<th class="btnSearch"><input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" /></th>
			</tr>
		</table>
		
		<input type="hidden"	name="vrSaveGb"		id="vrSaveGb"	value="INSERT">
	</form> 
	<form name = "frm_data" id = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea">
	     <div class="btnAreaRight">
	     	<!-- <input type = "button" class = "EXC_AUTH btnExcel" 								value = "$!lang.getText('양식다운로드')"	 	onclick = "fn_fileDown()"/> -->
			<input type = "button" class = "INS_AUTH btnEtc"			name = "btn_write"  value = "$!lang.getText('신규등록')"			onclick = "fn_new();"	/>
	    </div>
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	
	<!-- 엑셀파일양식다운로드 hidden zone -->
	<iframe name="filechecklist" src="/jsp/fileuploadMt.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>
    <input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE' value='/STAN_TEMPLATE/WMSAC201'/>
    <input type="hidden" name='D_ATCH_FILE_NAME'  id='D_ATCH_FILE_NAME'  value='partInOrdExcelUpload_01.xls'/>
</div>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>