<div class="patternWrap">
	<form name="formDetl">
		<table class="search" id="srchBox" border="0">
			<colgroup>
			    <col width="120px">
			    <col width="20%">
			    <col width="60px">
			    <col width="30%">
			    <col width="60px"/>
			    <col width="10%"/>			    
			    <col width="100px"/>
			    <col width="60px"/>				
			</colgroup>
			
			<tr>				
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산년월")</th>
				<td>		
					<input type="text" class="text clDtFrom" style="width:43%" name="vrSrchReqDtFrom2" id="vrSrchReqDtFrom2" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom2)" onChange="fn_onChangeVrSrchReqDtFrom2()"> 
					($!lang.getText("월 단위"))	
				</td>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text clCustCd" style="width:40%" name="vrSrchCustCd2" id="vrSrchCustCd2" onChange="vrSrchCustCd_OnKillFocus('D')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST2");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId2" id="vrSrchCustId2" class="clCustId"> 
					<input type="text" class="text clCustNm" style="width: 40%" name="vrSrchCustNm2" id="vrSrchCustNm2" onChange="vrSrchCustNm_OnKillFocus('D')"> 
				</td>
				<th class="thBar">$!lang.getText('구분')</th>
				<td>					
					$!comCode.getComboComCode("ACC17", "vrSrchAccType", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
				</td>
				<td></td>				
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search2();" title="Search" role="button" aria-disabled="false"/>
				</th>				
			</tr>
		</table>	
	</form>
	
		<div class="btnArea">
			<div class="btnAreaRight">
				<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('사진업로드')" onclick="fn_addImage2();" id="addImage2"	/>
				<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('파일보기')" onclick='fn_fileView2(); return false;'/>
				<input type="button" class='btnEtc' name="btn_excelInsertE2" id="btn_excelInsertE2" value="$!lang.getText('엑셀입력')" onclick='fn_excelInsertE2();'/>
				<input type="button" class="INS_AUTH btnEtc" name="btn_write" value="$!lang.getText('신규')"	onclick="fn_new2();" title="$!lang.getText('신규:운송비')" id="addRow2"/>
				<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('저장')" onclick="fn_save2();"	 id="save2"/>
				<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete" name="btn_write" onclick="fn_delete2();" role="button" aria-disabled="false" id="delete2"/>
			</div>
		</div>
	
	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>
	
	<form name = "frm_data2">
		<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<!-- The Modal -->
	<div id="myModal2" class="modal">
	    <span class="close" onclick="close2()">&times;</span>
	    <img class="modal-content" id="img02">
	    <div id="caption"></div>
	</div>
</div>
<script type="text/javascript">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

	var detailGrid = new ULNSI_jQGrid();

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArray_detail = [
	                           'CHK_BOX',
				               'ST_GUBUN',
				               '',
				               'FLAG',
	                           	                           
	                           '$!lang.getText("발송일")',
	                           '$!lang.getText("도착일")',
	                           
	                           '$!lang.getText("구분")',
	                           '$!lang.getText("형태")',
	         	               '$!lang.getText("약정구분")',
	         	               '$!lang.getText("단위")',
	                           
	                           '$!lang.getText("납품처 A")',
	                           '$!lang.getText("배송지 A")',                           
	                           '$!lang.getText("납품처 B")',
	                           
	                           '$!lang.getText("배송지 B")',
	                           '$!lang.getText("차량번호")',
	                           '$!lang.getText("파렛트(출고)")',
	                           '$!lang.getText("톤수")',
	                           '$!lang.getText("계약단가")',
	                           '$!lang.getText("수량")',
	                           '$!lang.getText("금액")',
	                           '$!lang.getText("추가비용")'	,
	                           '$!lang.getText("파일")',
	                           '$!lang.getText("비고")',
	                           
	                           'CUST_ID',
	         	               'LC_ID',
	                           'IMAGE_PATH',
	                           'IMAGE_ID',
	                           'FILE_EXT',
	                           'TRANSPORT_COSTS_SEQ',
	                           'ACC_YY_MM'
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArray_detail = [
			{name:'CHK_BOX',		   index:'CHK_BOX',						   hidden:true },
			{name:'ST_GUBUN',		   index:'ST_GUBUN',					   hidden:true},
			{name:'ST_GUBUN_IMG',	   index:'ST_GUBUN_IMG',		width:20,  align:"center"},
			{name:'FLAG',			   index:'FLAG',						   hidden:true},
			
			{name:'DPRT_DT',		   index:'DPRT_DT',		    	width:100, align:"center", cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'DPRT_DT\')"' }},
			{name:'ARRV_DT',		   index:'ARRV_DT',		    	width:100, align:"center", cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'ARRV_DT\')"' }},
			
			{name:'ACC_TYPE',		   index:'ACC_TYPE',			width:80,  align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC17")}},
			{name:'COST_VOLUMN',	   index:'COST_VOLUMN',		    width:80,  align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC18")}},
			{name:'COST_CONTRACT',	   index:'COST_CONTRACT',		width:80,  align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC19")}},
			{name:'ACC_UNIT',		   index:'ACC_UNIT',			width:80,  align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC20")}},
						
			{name:'DLV_DEPARTURE_A',   index:'DLV_DEPARTURE_A',     width:150, align:"center"},
			{name:'DLV_DESTINATION_A', index:'DLV_DESTINATION_A',   width:150, align:"center"},
			{name:'DLV_DEPARTURE_B',   index:'DLV_DEPARTURE_B',		width:150, align:"center"},			
			{name:'DLV_DESTINATION_B', index:'DLV_DESTINATION_B',	width:150, align:"center"},
			
			{name:'CAR_NUM',   		   index:'CAR_NUM',				width:80, align:"center"},			
			{name:'RTI_CNT', 		   index:'RTI_CNT',				width:80,  align:"right",  formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'CAR_TON',		   index:'CAR_TON',				width:80,  align:"left",   formatter:'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("CAR02")}},
			{name:'UNIT_COST',		   index:'UNIT_COST',			width:80,  align:"right",  editable : true, formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'QTY',			   index:'QTY',					width:80,  align:"right",  editable : true, formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'COST',			   index:'COST',				width:80,  align:"right",  formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'ADDITIONAL_COST',   index:'ADDITIONAL_COST',		width:80,  align:"right",  formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},			
			{name:'ORG_FILENAME',	   index:'ORG_FILENAME',	    width:200, align:"center"},
			{name:'ETC'			   ,   index:'ETC',					width:200, align:"center", editable : true},
			
			{name:'CUST_ID',		   index:'CUST_ID',	   hidden:true},
			{name:'LC_ID',		   	   index:'LC_ID',	   hidden:true},
			{name:'IMAGE_PATH',		   index:'IMAGE_PATH', hidden:true},
			{name:'IMAGE_ID',		   index:'IMAGE_ID',   hidden:true},
			{name:'FILE_EXT',		   index:'FILE_EXT',   hidden:true},
			{name:'TRANSPORT_COSTS_SEQ', index:'TRANSPORT_COSTS_SEQ', hidden:true},
			{name:'ACC_YY_MM', 		   index:'ACC_YY_MM',  hidden:true}
		];
		
	var option_detail = {
		'title' : '$!lang.getText("운송내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	   
	};
	var param = jQuery("form[name='formDetl']").serialize();
	var url = "/WMSAC200/detail.action?"+param;
	
	function loadCompleteEventCallback2 (data){
		var grid = jQuery("#detail");
		var gridData = grid.getRowData();

		/* 합계처리 변수 */
		var SUM_COST 			= 0;
		var SUM_ADDITIONAL_COST = 0;
		var SUM_QTY				= 0;
		

		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_QTY				= SUM_QTY + Number(gridData[i].QTY);
			SUM_COST 			= SUM_COST + Number(gridData[i].COST);
			SUM_ADDITIONAL_COST = SUM_ADDITIONAL_COST + Number(gridData[i].ADDITIONAL_COST);			
		}

		/* 합계처리 변수 셋업 */
		var footData = {
				CAR_NUM : "$!lang.getText('합계')"
			  , QTY				  : SUM_QTY
			  , COST 			  : SUM_COST
			  , ADDITIONAL_COST   : SUM_ADDITIONAL_COST			  
		};
		grid.jqGrid('footerData','set', footData);
	}
	
	detailGrid.init(jQuery("#detail"), option_detail, url, loadCompleteEventCallback2);
	
	//체크박스 선택
	detailGrid.setSelectCellEventCallback(function(id, col){
		
		var grid = jQuery("#detail");
		
		if(col == 1 || col != -1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_detail_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");	
				grid.restoreRow(id);
				detailGrid.setStatus(id, " ");
				//unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#detail").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#detail").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
			} else {
				jQuery("#jqg_detail_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");				
				
				if ('S' == cfn_trim(grid.getCell(id, "FLAG")))
				{				
					grid.jqGrid('setColProp', 'DPRT_DT'      	  ,{editable:false});
					grid.jqGrid('setColProp', 'ARRV_DT' 	 	  ,{editable:false});
					grid.jqGrid('setColProp', 'ACC_TYPE' 		  ,{editable:false});
					grid.jqGrid('setColProp', 'COST_VOLUMN' 	  ,{editable:false});
					grid.jqGrid('setColProp', 'COST_CONTRACT' 	  ,{editable:false});
					grid.jqGrid('setColProp', 'ACC_UNIT' 		  ,{editable:false});
					grid.jqGrid('setColProp', 'DLV_DEPARTURE_A'   ,{editable:false});
					grid.jqGrid('setColProp', 'DLV_DESTINATION_A' ,{editable:false});
					grid.jqGrid('setColProp', 'DLV_DEPARTURE_B'   ,{editable:false});
					grid.jqGrid('setColProp', 'DLV_DESTINATION_B' ,{editable:false});
					grid.jqGrid('setColProp', 'CAR_NUM' 		  ,{editable:false});
					grid.jqGrid('setColProp', 'RTI_CNT' 		  ,{editable:false});
					grid.jqGrid('setColProp', 'CAR_TON' 	  	  ,{editable:false});				
					grid.jqGrid('setColProp', 'ADDITIONAL_COST'   ,{editable:false});
					
					grid.jqGrid('setColProp', 'UNIT_COST' 	  	  ,{editable:true});
					grid.jqGrid('setColProp', 'QTY' 		  	  ,{editable:true});	
				}
				
				grid.editRow(id);								
				
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				detailGrid.setStatus(id, "UPDATE");
	 			}
			}
		} else {
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
		
		//fn_gridDateSetE2(id);
	});
	
	var selectHit = ['012', '013', '014'];
	SrchAccType_filter(selectHit,"vrSrchAccType");
	
	//모달 닫기
	function close2()
	{
		var modal = document.getElementById("myModal2");
		modal.style.display = "none";
	}
	
	//파일 확인
	function fn_fileView2()
	{
		var grid = jQuery("#detail");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var modal = document.getElementById("myModal2");
		var modalImg = document.getElementById("img02");
		
		if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }
		
		if(selectIds.length > 1) {
			alert("한개의 로우에 대해서만 파일확인이 가능합니다.");
			return false;
		}	
		
		if ('S' != cfn_trim(grid.getCell(selectIds, "FLAG"))) {
			alert("먼저 데이터 저장 후 파일확인을 진행해 주세요.");
			return false;
		}
		
		if ("" == grid.getCell(selectIds, "ORG_FILENAME")) {
			alert("업로드 파일이 없습니다.");
			return false;
		}
		
		var strIMAGE_PATH   = grid.getCell(selectIds, "IMAGE_PATH");
		var strFILE_NAME    = grid.getCell(selectIds, "ORG_FILENAME");
		var strFILE_EXT     = grid.getCell(selectIds, "FILE_EXT");
		var strImage_Url    = 'http://winus.logisall.com/OZ_REPORT'+strIMAGE_PATH+'/'+ strFILE_NAME + strFILE_EXT;
		modal.style.display = "block";
		modalImg.src        = strImage_Url;		
	}
	
	//사진 추가
	function fn_addImage2()
	{
		var strParameter = [];
		
		var grid = jQuery("#detail");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});		
		
		if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }
		
		if(selectIds.length > 1) {
			alert("한개의 로우에 대해서만 사진업로드가 가능합니다.");
			return false;
		}	
		
		if ('S' != cfn_trim(grid.getCell(selectIds, "FLAG"))) {
			alert("먼저 데이터 저장 후 사진을 추가해 주세요.");
			return false;
		}
		
		var strOPENER    		   = "detail"
		var strACC_TYPE	 		   = grid.getCell(selectIds, "ACC_TYPE");
		var strACC_YY_MM 		   = grid.getCell(selectIds, "ACC_YY_MM");		
		var strDPRT_DT 	 		   = grid.getCell(selectIds, "DPRT_DT");		
		var strCUST_ID   		   = grid.getCell(selectIds, "CUST_ID");		
		var strLC_ID     		   = grid.getCell(selectIds, "LC_ID");		
		var strFILE_NUM  	       = "07" + grid.getCell(selectIds, "TRANSPORT_COSTS_SEQ");
		var strTRANSPORT_COSTS_SEQ = grid.getCell(selectIds, "TRANSPORT_COSTS_SEQ");
		
		strParameter.push(strOPENER);	 //부모화면
		strParameter.push(strACC_TYPE);	 //구분
		strParameter.push(strACC_YY_MM); //정산년월
		strParameter.push(strDPRT_DT);	 //발송일
		strParameter.push(strCUST_ID);	 //CUST_ID
		strParameter.push(strLC_ID);	 //LC_ID		
		strParameter.push(strFILE_NUM);	 //파일넘버
		strParameter.push(strTRANSPORT_COSTS_SEQ); //TRANSPORT_COSTS_SEQ
		
		var param 	= "?strParameter="+strParameter;
		var url 	= "/WMSAC200E17.action" + param;
		var width 	= "500";
		var height 	= "150";
		var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
		asppop.focus();	
	}
	
	// 운송비 내역 검색
	function fn_search2(op,op1) {		
		
		/* 조회조건 화주코드가 없을 경우 */
		if(!fn_chkInitCustId2()){return;}
		
		var param = jQuery("form[name='formDetl']").serialize();
		var url = "/WMSAC200/detail.action?"+param;
		
		detailGrid.search(param, url, op, op1);
		
		//저장, 삭제  버튼 숨기기 유무(명세서 저장 처리가 되었으면 수정을 못한다.)
		pf_ProcessDisplay2();
	}
	
	/* 화주 팝업 후 처리 (상세) */
	function fn_setWMSCM011_2(arr){
		var info = arr[0];	
		jQuery('form[name="formDetl"] input[name="vrSrchCustCd2"]').val(info.cust_cd);
		jQuery('form[name="formDetl"] input[name="vrSrchCustNm2"]').val(info.cust_nm);
		jQuery('form[name="formDetl"] input[name="vrSrchCustId2"]').val(info.cust_id);
		
		fn_search2();
	}
	
	/* 운송 날짜 셋팅 */
	function fn_onChangeVrSrchReqDtFrom2(){	
		var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom2']").val();
		var getYYYY     = Number(vrSrchReqDt.substr(0,4));
		var getMM       = Number(vrSrchReqDt.substr(5,2));
		var getDD	    = Number(vrSrchReqDt.substr(8,2));			
		var getYYYMMDD  = pf_ProcessGetYYYYMMDD(getYYYY, getMM, getDD);	
		jQuery("input[name='vrSrchReqDtFrom2']").val(getYYYMMDD);
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId2(){
		if(jQuery("#vrSrchCustId2").val() == "" || jQuery("#vrSrchCustId2").val().length == 0){
			fn_Popup("CUST2");
			return false;
		}
		return true;
	}
	
	/* 신규 - 운송비 내역 */
	function fn_new2(){
		
		if(jQuery("#vrSrchCustId2").val() == "" || jQuery("#vrSrchCustId2").val().length == 0){
			alert("조회 후 신규 추가 해주세요.");
			return false;
		}
		
		var grid = jQuery("#detail");
		
		grid.jqGrid('setColProp', 'DPRT_DT'      	  ,{editable:true});
		grid.jqGrid('setColProp', 'ARRV_DT' 	 	  ,{editable:true});
		grid.jqGrid('setColProp', 'ACC_TYPE' 		  ,{editable:true});
		grid.jqGrid('setColProp', 'COST_VOLUMN' 	  ,{editable:true});
		grid.jqGrid('setColProp', 'COST_CONTRACT' 	  ,{editable:true});
		grid.jqGrid('setColProp', 'ACC_UNIT' 		  ,{editable:true});
		grid.jqGrid('setColProp', 'DLV_DEPARTURE_A'   ,{editable:true});
		grid.jqGrid('setColProp', 'DLV_DESTINATION_A' ,{editable:true});
		grid.jqGrid('setColProp', 'DLV_DEPARTURE_B'   ,{editable:true});
		grid.jqGrid('setColProp', 'DLV_DESTINATION_B' ,{editable:true});
		grid.jqGrid('setColProp', 'CAR_NUM' 		  ,{editable:true});
		grid.jqGrid('setColProp', 'RTI_CNT' 		  ,{editable:true});
		grid.jqGrid('setColProp', 'CAR_TON' 	  	  ,{editable:true});
		grid.jqGrid('setColProp', 'UNIT_COST' 	  	  ,{editable:true});
		grid.jqGrid('setColProp', 'QTY' 		  	  ,{editable:true});		
		grid.jqGrid('setColProp', 'ADDITIONAL_COST'   ,{editable:true});
				
		detailGrid.addRow();		
		
		var countRow = grid.getDataIDs().size();
		fn_gridDateSetE2(countRow);
		
		jQuery("#"+countRow+"_DPRT_DT", "#detail").focus();
		
		var selectHit = ['012', '013', '014'];
		filterAccType(selectHit,"detail", countRow);
	}
	
	function fn_gridDateSetE2(index)
	{
		var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom2']").val();		
		
		jQuery("#"+index+"_DPRT_DT", "#detail").datepicker({
			dateFormat:"yy-mm-dd",
			defaultDate:vrSrchReqDt,
			onSelect:function(dateText, inst) {
				jQuery("#"+index+"_ARRV_DT", "#detail").val(dateText);
			}
		});
		
		jQuery("#"+index+"_ARRV_DT", "#detail").datepicker({
			dateFormat:"yy-mm-dd",
			defaultDate:vrSrchReqDt,
			onSelect:function(dateText, inst) {
				jQuery("#"+index+"_DPRT_DT", "#detail").val(dateText);
			}
		});		
	}
	
	//운송비내역 저장
	function fn_save2(){	
		
		if(jQuery("#vrSrchCustId2").val() == "" || jQuery("#vrSrchCustId2").val().length == 0){
			alert("[검색조건]화주 정보를 조회해주세요.");
			return false;
		}
		
		var grid        = jQuery("#detail");
	    var ids         = grid.getDataIDs();
	    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	    var isProcess   = false;
	    var tmpCnt 		= 0 ;
	    	    
	    if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }

	    /* 유효성검사 */
		if(!fn_listValidationE2()){return;}

	    if(confirm("$!lang.getText('update.confirm')")){
	        if(selectIds != ""){
	            jQuery("#formData2").html("");
	            if( jQuery("form[name='frm_data2'] input[name='selectIds']").val() == undefined){
	                jQuery("#formData2").append("<input type='text' name='selectIds' value='0'/><br>");
	            }else{
	                tmpCnt = parseInt(jQuery("form[name='frm_data2'] input[name='selectIds']").val());
	            }
	            for(var i = 0 ; i < selectIds.length ; i++){
	                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData2").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData2").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData2").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }
	                if(isProcess){
	                	
	                	var strCustId2 = jQuery("#vrSrchCustId2").val();	                	

	                	jQuery("#formData2").append("<input type='text' name='ARRV_DT"	 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ARRV_DT","#detail").val()+"'/>");                	
	                    jQuery("#formData2").append("<input type='text' name='DLV_DEPARTURE_A"	 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DLV_DEPARTURE_A","#detail").val()+"'/>");
	                    jQuery("#formData2").append("<input type='text' name='DLV_DESTINATION_A" +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DLV_DESTINATION_A","#detail").val()+"'/>");
	                    jQuery("#formData2").append("<input type='text' name='DLV_DEPARTURE_B"	 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DLV_DEPARTURE_B","#detail").val()+"'/>");
	                    jQuery("#formData2").append("<input type='text' name='DLV_DESTINATION_B" +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DLV_DESTINATION_B","#detail").val()+"'/>");
	                    
	                    jQuery("#formData2").append("<input type='text' name='CAR_NUM"	 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_CAR_NUM","#detail").val()+"'/>");
	                	jQuery("#formData2").append("<input type='text' name='RTI_CNT"	 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_RTI_CNT","#detail").val()+"'/>");
	                    
	                    jQuery("#formData2").append("<input type='text' name='CAR_TON" 			 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_CAR_TON","#detail").val()	 +"'/>");
	                    jQuery("#formData2").append("<input type='text' name='ADDITIONAL_COST"	 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ADDITIONAL_COST","#detail").val() +"'/>");
	                    jQuery("#formData2").append("<input type='text' name='ETC"				 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ETC","#detail").val()+"'/>");	                    
	                    
	                    jQuery("#formData2").append("<input type='text' name='CUST_ID" 			 +tmpCnt+"' value='" + strCustId2 +"'/>");
	                    
	                    jQuery("#formData2").append("<input type='text' name='ACC_TYPE" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_TYPE","#detail").val() +"'/>");
	                    jQuery("#formData2").append("<input type='text' name='COST_VOLUMN" 	     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST_VOLUMN","#detail").val() +"'/>");
	                    jQuery("#formData2").append("<input type='text' name='COST_CONTRACT"     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST_CONTRACT","#detail").val() +"'/>");
	                    jQuery("#formData2").append("<input type='text' name='ACC_UNIT" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_UNIT","#detail").val() +"'/>");
	                    
	                    jQuery("#formData2").append("<input type='text' name='UNIT_COST"		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_UNIT_COST","#detail").val()+"'/>");
	                    jQuery("#formData2").append("<input type='text' name='QTY"				 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_QTY","#detail").val()+"'/>");
	                    
	                    if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))) {                    	
	                    	jQuery("#formData2").append("<input type='text' name='DPRT_DT" +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DPRT_DT","#detail").val()+"'/>");
		                } else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))) {                		              		
		                	jQuery("#formData2").append("<input type='text' name='TRANSPORT_COSTS_SEQ"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "TRANSPORT_COSTS_SEQ") +"'/>");
		                }
	                    
	                    tmpCnt ++;
	                }
	            }
	            jQuery("form[name='frm_data2'] input[name='selectIds']").val( tmpCnt );
	        }else{
	            if(tmpCnt == 0){
	            	alert("$!lang.getText('save.nodata')");
	                return false;
	            }
	        }
	        var param = jQuery("form[name='frm_data2']").serialize(); 
	        
	        
	        var url = "/WMSAC200/save2.action";
	        jQuery.post(url, param, function(data) {
	            alert(data.MSG);
	            if(data.errCnt <= 0 ){
	            	fn_search2();
	            }
	        }).fail(function(xhr, textStatus){
	    		if(xhr.status == 404){
	    			location.href=('/index.html');
	    		}
	     	});
	        
	    }
	}

	/* 운송비 내역 저장 유효성검사 */
	function fn_listValidationE2(){	
		var vrSrchCustId 	 = jQuery("form[name='frm_data2'] input[name='vrSrchCustId2']").val();
		var vrSrchReqDtFrom  = jQuery("#vrSrchReqDtFrom2").val();		
		var vrSrchReqDtYM    = vrSrchReqDtFrom.substring(0,4) + vrSrchReqDtFrom.substring(5,7);
				
		// 1. 화주정보는 null 이아니여야한다
		if("" == vrSrchCustId){
			var custId_Text = "$!lang.getText('화주정보')";
			alert("$!message.getMessage('0가없음', '" + custId_Text + "')");
			fn_Popup("CUST2");
			return false;
		}		
		
		// 2. 그리드 유효성검사
		var grid 		= jQuery("#detail");
		var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});	
		
		var tmpText;
		var tmpId;
		var tmpVal;
		
		var dprt_dt   = "";
		var unit_cost = "";
		var qty	      = "";
		var strYYYYMM = "";		 
		for(var i = 0 ; i < selectIds.length ; i++){
			dprt_dt   = jQuery("#" + selectIds[i] + "_DPRT_DT" ,"#detail").val();
			unit_cost = jQuery("#" + selectIds[i] + "_UNIT_COST" ,"#detail").val();
			qty 	  = jQuery("#" + selectIds[i] + "_QTY" ,"#detail").val();
			
			//업데이트
	        if ('S' == cfn_trim(grid.getCell(selectIds[i], "FLAG"))) {
	        	
	        	tmpText = ["$!lang.getText('계약단가')", "$!lang.getText('수량')"];
	        	tmpId 	= ["UNIT_COST", "QTY"];
	        	tmpVal  = [unit_cost, qty];
	        	
	            //유효성 체크를 하지 않는다.
	        	for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
						alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						jQuery("#"+selectIds[i] + "_" + tmpId[j]  ,"#detail").focus();
						return false;
					}
				}
	        }
	        //신규 추가시
	        else 
	        {
	        	if (!(dprt_dt == null || dprt_dt == "" || dprt_dt == undefined))
	        		strYYYYMM   = dprt_dt.substring(0,4) + dprt_dt.substring(5,7);
	        	
	        	tmpText = ["$!lang.getText('발송일')", "$!lang.getText('계약단가')", "$!lang.getText('수량')"];
	        	tmpId 	= ["DPRT_DT", "UNIT_COST", "QTY"];
	        	tmpVal  = [dprt_dt, unit_cost, qty, strYYYYMM];
				for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
						alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						jQuery("#"+selectIds[i] + "_" + tmpId[j]  ,"#detail").focus();
						return false;
					}				
					
					if (tmpVal[3] != vrSrchReqDtYM)
					{
						alert(selectIds[i] + "번째 열 작업일이 정산년월에 포함되지 않습니다.");
						jQuery("#"+selectIds[i] + "_" + tmpId[1]  ,"#detail").focus();
						return false;
					}
				}	
	        }			
		}
		
		return true;
	}
	
	//운송비 삭제
	function fn_delete2(){
		var grid = jQuery("#detail");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var tmpCnt = 0;	

		if( selectIds == "" ){
	        alert("$!lang.getText('저장할데이터를선택해주세요')");
	        return false;
	    }
		
		if(confirm("$!lang.getText('삭제하시겠습니까')")){
			if(selectIds != ""){
				
				jQuery("#formData2").html('');
				
				if( jQuery("form[name='frm_data2'] input[name='selectIds']").val() == undefined){
		            jQuery("#formData2").append("<input type='text' name='selectIds' value='0'/><br>");
		        }else{
		            tmpCnt = parseInt(jQuery("form[name='frm_data2'] input[name='selectIds']").val());
		        }
			}
			for(var i = 0 ; i < selectIds.length ; i++){
				
				var strCustID2 = jQuery("#vrSrchCustId2").val();
				
				jQuery("#formData2").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='DELETE'/>");	
				jQuery("#formData2").append("<input type='text' name='TRANSPORT_COSTS_SEQ"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "TRANSPORT_COSTS_SEQ") +"'/>");
				jQuery("#formData2").append("<input type='text' name='CUST_ID" +tmpCnt+"' value='"+strCustID2+"'/>");				
				
				tmpCnt++;
			}		
			
			jQuery("form[name='frm_data2'] input[name='selectIds']").val( tmpCnt );
		}else{
			return false;
		}
		
		var param = jQuery("form[name='frm_data2']").serialize();
		var url = "/WMSAC200/save2.action";
		
		jQuery.post(url, param, function(data) {
			alert(data.MSG);
			if(data.errCnt <= 0 ){			
				fn_search2();					
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				location.href=('/index.html'); // 메인창 로그인화면 이동처리			
			}
		});
	}
	
	//저장, 삭제  버튼 Show/Hide 처리
	function pf_ProcessDisplay2()
	{
		var ReqDt     = jQuery("#vrSrchReqDtFrom2").val();
		var strYYYYMM = ReqDt.substring(0, 7);		
		
		var CustId = jQuery("#vrSrchCustId2").val();
		var lc_id = jQuery("select[name='SVC_INFO']").val();		
		var param  = "YYYY_MM=" + strYYYYMM + "&CUST_ID="+CustId+"&LC_ID="+lc_id;
		var url = "/WMSAC200/chkTaxCnt.action";		
		
		jQuery.post(url, param, function(data){						
			if(0 < Number(data.tax_cnt)) {
				jQuery('#addImage2').css('display','none');
				jQuery('#addRow2').css('display','none');
				jQuery('#save2').css('display','none');
				jQuery('#delete2').css('display','none');				
			}						
    	}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}    		
    	});	
	}
	
	function fn_excelInsertE2(){
		if(jQuery("#vrSrchCustId2").val() == "" || jQuery("#vrSrchCustId2").val().length == 0){
			alert("$!lang.getText('화주를 선택하여 주십시오.')");
			return false;
		}
		
		var strParameter = [];
		strParameter.push(jQuery("#vrSrchCustId2").val());
		
		var param 	= "?strParameter="+strParameter;
		var url 	= "/WMSAC200E2/WMSAC200E2T1.action"+param;
		var width 	= "480";
		var height 	= "170";
		var asppop 	= cfn_openPop2(url, "fn_TempPopupE2T1", width, height);
		asppop.focus();
	}
</script>