<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="120px"/>
				<col width="30%"/>
				<col width="80px"/>
				<col width="30%"/>
				<col width="100px"/>
				<col width="60px"/>							
			</colgroup>
			<tr>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산년월")</th>
				<td>		
					<input type = "text" class="text clDtFrom" style="width:43%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="fn_onChangeVrSrchReqDtFrom()"> 
					($!lang.getText("월 단위"))	
				</td>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text clCustCd" style="width:40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('M')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" class="clCustId"> 
					<input type="text" class="text clCustNm" style="width:40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('M')"> 
				</td>
				<td></td>
				<th class="btnSearch">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>			
		</table>	
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('사진업로드')" onclick="fn_addImage();"	id="addImage" />
			<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('파일보기')" onclick='fn_fileView(); return false;'/>
			<input type="button" class="INS_AUTH btnEtc" name="btn_write" value="$!lang.getText('신규')"	onclick="fn_new();"	title="$!lang.getText('신규:인건비')" id="addRow"/>
			<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('저장')" onclick="fn_save();" id="save" />
			<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete" name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false" id="delete"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<!-- The Modal -->
	<div id="myModal" class="modal">
	    <span class="close" onclick="close()">&times;</span>
	    <img class="modal-content" id="img01">
	    <div id="caption"></div>
	</div>
</div>

<script type="text/javascript">
	#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
	
	var listGrid = new ULNSI_jQGrid();
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	           
	              '$!lang.getText("작업일")',
	              
	              '$!lang.getText("구분")',
                  '$!lang.getText("형태")',
	              '$!lang.getText("약정구분")',
	              '$!lang.getText("단위")',
	              
	              '$!lang.getText("업체ID")',
	              '$!lang.getText("업무내역")',
	              '$!lang.getText("단가(인원)")',
	              '$!lang.getText("단가(시간)")',
	              
	              '$!lang.getText("인원수")',
	              '$!lang.getText("근무시간")',
	              '$!lang.getText("금액")',
	              '$!lang.getText("추가비용")',
	              '$!lang.getText("파일")',
	              '$!lang.getText("비고")',
	              
	              'CUST_ID',
	              'LC_ID',
                  'IMAGE_PATH',
                  'IMAGE_ID',
                  'FILE_EXT',
	              'LABOR_COSTS_SEQ',
	              'ACC_YY_MM'
	                        
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',		   index:'CHK_BOX',					    hidden:true },
			{name:'ST_GUBUN',		   index:'ST_GUBUN',					hidden:true},
			{name:'ST_GUBUN_IMG',	   index:'ST_GUBUN_IMG',	  width:20, align:"center"},
			{name:'FLAG',			   index:'FLAG',						hidden:true}, 
			
			{name:'ACC_DT',			   index:'ACC_DT',			  width:80, align:"center", cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'ACC_DT\')"' }},
			
			{name:'ACC_TYPE',		   index:'ACC_TYPE',		  width:80, align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC17")}},
			{name:'COST_VOLUMN',	   index:'COST_VOLUMN',		  width:80, align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC18")}},
			{name:'COST_CONTRACT',	   index:'COST_CONTRACT',	  width:80, align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC19")}},
			{name:'ACC_UNIT',		   index:'ACC_UNIT',		  width:80, align:"left", formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC20")}},
						
			{name:'TRANS_CUST_ID',	   index:'TRANS_CUST_ID',	  width:140, align:"center"},
			{name:'WORK_CONTENTS',	   index:'WORK_CONTENTS',	  width:200, align:"center"},
			{name:'UNIT_COST_MAN',	   index:'UNIT_COST_MAN',	  width:80,  align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'UNIT_COST_TIME',	   index:'UNIT_COST_TIME',	  width:80,  align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			
			{name:'USER_CNT',		   index:'USER_CNT',		  width:60,  align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",", decimalPlaces: 0, defaultValue:''}},
			{name:'WORKING_TIME_HOUR', index:'WORKING_TIME_HOUR', width:60,  align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'COST',			   index:'COST',			  width:60,  align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'ADDITIONAL_COST',   index:'ADDITIONAL_COST',   width:60,  align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}},
			{name:'ORG_FILENAME',	   index:'ORG_FILENAME',	  width:200, align:"center"},			
			{name:'ETC',			   index:'ETC',			      width:100, align:"center"},
			
			{name:'CUST_ID',		   index:'CUST_ID',	   hidden:true},
			{name:'LC_ID',		   	   index:'LC_ID',	   hidden:true},
			{name:'IMAGE_PATH',		   index:'IMAGE_PATH', hidden:true},
			{name:'IMAGE_ID',		   index:'IMAGE_ID',   hidden:true},
			{name:'FILE_EXT',		   index:'FILE_EXT',   hidden:true},
			{name:'LABOR_COSTS_SEQ',   index:'LABOR_COSTS_SEQ',	hidden:true},
			{name:'ACC_YY_MM', 		   index:'ACC_YY_MM',  hidden:true}
			
		];
	var option = {
		'title' : '$!lang.getText("인건비내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : true,
	    'shrinkToFit' : true,
	    #if($ss_gird_num != "")
	    	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
	    #else
	    'rowList' : [200,300,400],
	    #end
	    'rownumbers' : true,
	    'rownumWidth' : 40,
	    'footerrow' 	: true,
		'userDataOnFooter' : true
	};	
	
	var param = jQuery("form[name='frm_list']").serialize();	
	
	var url = "/WMSAC200/list.action?"+param;
	
	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
	
		var SUM_COST 			= 0;
		var SUM_ADDITIONAL_COST = 0;		
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_COST   			= SUM_COST 		      + Number(gridData[i].COST);
			SUM_ADDITIONAL_COST = SUM_ADDITIONAL_COST + Number(gridData[i].ADDITIONAL_COST);			
		}		
		
		//합계처리 변수 셋업
		var footData = {
				WORK_CONTENTS 	  : "$!lang.getText('합계')"
				,COST	 		  : SUM_COST
				,ADDITIONAL_COST  : SUM_ADDITIONAL_COST				
			   };
		grid.jqGrid('footerData','set', footData);
	};
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);
	
	//체크박스 선택
	listGrid.setSelectCellEventCallback(function(id, col){		
		
		var grid = jQuery("#list");
		if(col == 1 || col != -1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
	 			grid.setCell(id, 'CHK_BOX', "No");
	 			grid.restoreRow(id);
	 			listGrid.setStatus(id, " "); 			
	 			//unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#list").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#list").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
	 			grid.setCell(id, 'CHK_BOX', "Yes");
	 			
	 			if ('S' == cfn_trim(grid.getCell(id, "FLAG")))
				{
	 				grid.jqGrid('setColProp', 'ACC_DT'        	  ,{editable:false});
					grid.jqGrid('setColProp', 'ACC_TYPE' 	  	  ,{editable:false});
					grid.jqGrid('setColProp', 'COST_VOLUMN'   	  ,{editable:false});
					grid.jqGrid('setColProp', 'COST_CONTRACT' 	  ,{editable:false});					
					grid.jqGrid('setColProp', 'ACC_UNIT' 	  	  ,{editable:false});					
					grid.jqGrid('setColProp', 'TRANS_CUST_ID' 	  ,{editable:false});
					grid.jqGrid('setColProp', 'WORK_CONTENTS'     ,{editable:false});
					grid.jqGrid('setColProp', 'UNIT_COST_MAN' 	  ,{editable:false});					
					grid.jqGrid('setColProp', 'UNIT_COST_TIME' 	  ,{editable:false});
					grid.jqGrid('setColProp', 'USER_CNT' 		  ,{editable:false});
					grid.jqGrid('setColProp', 'UNIT_COST_MAN' 	  ,{editable:false});
					grid.jqGrid('setColProp', 'WORKING_TIME_HOUR' ,{editable:false});
					grid.jqGrid('setColProp', 'COST' 		  	  ,{editable:false});
					grid.jqGrid('setColProp', 'ADDITIONAL_COST'   ,{editable:false});
					grid.jqGrid('setColProp', 'ETC' 		  	  ,{editable:false});					
				}
	 			
	 			grid.editRow(id);
	 			
	 			if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
	 				listGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				listGrid.setStatus(id, "UPDATE");
	 			}	 			
			}
		}else {
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
		
		fn_gridDateSetE1(id);
	});
	
	//모달 닫기
	function close()
	{
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
	}
	
	//파일 확인
	function fn_fileView()
	{
		var grid = jQuery("#list");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var modal = document.getElementById("myModal");
		var modalImg = document.getElementById("img01");
		
		if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }
		
		if(selectIds.length > 1) {
			alert("한개의 로우에 대해서만 파일확인이 가능합니다.");
			return false;
		}	
		
		if ('S' != cfn_trim(grid.getCell(selectIds, "FLAG"))) {
			alert("먼저 데이터 저장 후 파일확인을 진행해 주세요.");
			return false;
		}
		
		if ("" == grid.getCell(selectIds, "ORG_FILENAME")) {
			alert("업로드 파일이 없습니다.");
			return false;
		}
		
		var strIMAGE_PATH   = grid.getCell(selectIds, "IMAGE_PATH");
		var strFILE_NAME    = grid.getCell(selectIds, "ORG_FILENAME");
		var strFILE_EXT     = grid.getCell(selectIds, "FILE_EXT");
		var strImage_Url    = 'http://winus.logisall.com/OZ_REPORT'+strIMAGE_PATH+'/'+ strFILE_NAME + strFILE_EXT;
		modal.style.display = "block";
		modalImg.src        = strImage_Url;
	}
	
	//사진 추가
	function fn_addImage()
	{
		var strParameter = [];
		
		var grid = jQuery("#list");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});		
		
		if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }
		
		if(selectIds.length > 1) {
			alert("한개의 로우에 대해서만 사진업로드가 가능합니다.");
			return false;
		}	
		
		if ('S' != cfn_trim(grid.getCell(selectIds, "FLAG"))) {
			alert("먼저 데이터 저장 후 사진을 추가해 주세요.");
			return false;
		}
		
		var strOPENER    	   = "list"
		var strACC_TYPE	 	   = grid.getCell(selectIds, "ACC_TYPE");
		var strACC_YY_MM 	   = grid.getCell(selectIds, "ACC_YY_MM");		
		var strACC_DT 	 	   = grid.getCell(selectIds, "ACC_DT");		
		var strCUST_ID   	   = grid.getCell(selectIds, "CUST_ID");		
		var strLC_ID     	   = grid.getCell(selectIds, "LC_ID");		
		var strFILE_NUM  	   = "06" + grid.getCell(selectIds, "LABOR_COSTS_SEQ");
		var strLABOR_COSTS_SEQ = grid.getCell(selectIds, "LABOR_COSTS_SEQ");
		
		console.log(strACC_DT);
		
		strParameter.push(strOPENER);	 //부모화면
		strParameter.push(strACC_TYPE);	 //구분
		strParameter.push(strACC_YY_MM); //정산년월
		strParameter.push(strACC_DT);	 //작업일
		strParameter.push(strCUST_ID);	 //CUST_ID
		strParameter.push(strLC_ID);	 //LC_ID		
		strParameter.push(strFILE_NUM);	 //파일넘버
		strParameter.push(strLABOR_COSTS_SEQ);	 //LABOR_COSTS_SEQ
		
		var param 	= "?strParameter="+strParameter;
		var url 	= "/WMSAC200E17.action" + param;
		var width 	= "500";
		var height 	= "150";
		var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
		asppop.focus();	
	}
	
	//인건비 내역 검색
	function fn_search(op,op1) {
		
		/* 조회조건 화주코드가 없을 경우 */
		if(!fn_chkInitCustId()){return;}
		
		var param = jQuery("form[name='frm_list']").serialize();
		var url = "/WMSAC200/list.action?"+param;
		
		listGrid.search(param, url, op, op1);
		
		//저장, 삭제  버튼 숨기기 유무(명세서 저장 처리가 되었으면 수정을 못한다.)
		pf_ProcessDisplay();
	}
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011(arr){
		var info = arr[0];	
		jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
		jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
		
		fn_search();		
	}
	
	/* 인건비 날짜 셋팅 */
	function fn_onChangeVrSrchReqDtFrom(){	
		var vrSrchReqDt = jQuery("form[name='frm_list'] input[name='vrSrchReqDtFrom']").val();
		var getYYYY     = Number(vrSrchReqDt.substr(0,4));
		var getMM       = Number(vrSrchReqDt.substr(5,2));
		var getDD	    = Number(vrSrchReqDt.substr(8,2));			
		var getYYYMMDD  = pf_ProcessGetYYYYMMDD(getYYYY, getMM, getDD);	
		jQuery("form[name='frm_list'] input[name='vrSrchReqDtFrom']").val(getYYYMMDD);
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId(){
		if(jQuery("form[name='frm_list'] #vrSrchCustId").val() == "" || jQuery("form[name='frm_list'] #vrSrchCustId").val().length == 0){
			fn_Popup("CUST");
			return false;
		}
		return true;
	}
	
	/* 신규 - 인건비 내역  */
	function fn_new(){
		
		if(jQuery("form[name='frm_list'] #vrSrchCustId").val() == "" || jQuery("form[name='frm_list'] #vrSrchCustId").val().length == 0){
			alert("조회 후 신규 추가 해주세요.");
			return false;
		}	
		
		var grid = jQuery("#list");
		
		grid.jqGrid('setColProp', 'ACC_DT'        	  ,{editable:true});
		grid.jqGrid('setColProp', 'ACC_TYPE' 	  	  ,{editable:true});
		grid.jqGrid('setColProp', 'COST_VOLUMN'   	  ,{editable:true});
		grid.jqGrid('setColProp', 'COST_CONTRACT' 	  ,{editable:true});					
		grid.jqGrid('setColProp', 'ACC_UNIT' 	  	  ,{editable:true});					
		grid.jqGrid('setColProp', 'TRANS_CUST_ID' 	  ,{editable:true});
		grid.jqGrid('setColProp', 'WORK_CONTENTS'     ,{editable:true});
		grid.jqGrid('setColProp', 'UNIT_COST_MAN' 	  ,{editable:true});					
		grid.jqGrid('setColProp', 'UNIT_COST_TIME' 	  ,{editable:true});
		grid.jqGrid('setColProp', 'USER_CNT' 		  ,{editable:true});
		grid.jqGrid('setColProp', 'UNIT_COST_MAN' 	  ,{editable:true});
		grid.jqGrid('setColProp', 'WORKING_TIME_HOUR' ,{editable:true});
		grid.jqGrid('setColProp', 'COST' 		  	  ,{editable:true});
		grid.jqGrid('setColProp', 'ADDITIONAL_COST'   ,{editable:true});
		grid.jqGrid('setColProp', 'ETC' 		  	  ,{editable:true});
		
		listGrid.addRow();
		
		var countRow = grid.getDataIDs().size();
		fn_gridDateSetE1(countRow);
		
		jQuery("#"+countRow+"_ACC_DT", "#list").focus();
		
		var selectHit = ['009',  '010', '011', '023'];
		filterAccType(selectHit,"list", countRow);
	}
	
	function fn_gridDateSetE1(index)
	{
		var vrSrchReqDt = jQuery("form[name='frm_list'] input[name='vrSrchReqDtFrom']").val();
		jQuery("#"+index+"_ACC_DT", "#list").datepicker({dateFormat:"yy-mm-dd", defaultDate:vrSrchReqDt});	
	}
	
	//인건비 내역 저장
	function fn_save(){
		
			if(jQuery("form[name='frm_list'] #vrSrchCustId").val() == "" || jQuery("form[name='frm_list'] #vrSrchCustId").val().length == 0){
				alert("[검색조건]화주 정보를 조회해주세요.");
				return false;
			}
		
			var grid        = jQuery("#list");
		    var ids         = grid.getDataIDs();
		    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		    var isProcess   = false;
		    var tmpCnt 		= 0 ;	    

		    if(selectIds == ""){
		        alert("$!lang.getText('save.nodata')");
		        return false;
		    }

		    /* 유효성검사 */
			if(!fn_listValidationE()){return;}

		    if(confirm("$!lang.getText('update.confirm')")){
		        if(selectIds != ""){
		            jQuery("#formData").html("");
		            if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
		                jQuery("#formData").append("<input type='text' name='selectIds' value='0'/><br>");
		            }else{
		                tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
		            }
		            for(var i = 0 ; i < selectIds.length ; i++){
		            	isProcess = false;
		                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
		                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
		                    isProcess = true;
		                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
		                    //jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
		                    //isProcess = true;
		                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
		                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
		                    isProcess = true;
		                }
		                if(isProcess){
		                	
		                	var strCustId 	= jQuery("form[name='frm_list'] #vrSrchCustId").val();
		                    jQuery("#formData").append("<input type='text' name='ACC_DT"+tmpCnt+"'             value='" +jQuery("#"+selectIds[i] + "_ACC_DT","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='TRANS_CUST_ID"	+tmpCnt+"'     value='" +jQuery("#"+selectIds[i] + "_TRANS_CUST_ID","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='WORK_CONTENTS"	+tmpCnt+"'     value='" +jQuery("#"+selectIds[i] + "_WORK_CONTENTS","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='UNIT_COST_MAN"	+tmpCnt+"'     value='" +jQuery("#"+selectIds[i] + "_UNIT_COST_MAN","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='UNIT_COST_TIME" +tmpCnt+"'    value='" +jQuery("#"+selectIds[i] + "_UNIT_COST_TIME","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='USER_CNT" +tmpCnt+"' 	 	   value='" +jQuery("#"+selectIds[i] + "_USER_CNT","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='WORKING_TIME_HOUR"	+tmpCnt+"' value='" +jQuery("#"+selectIds[i] + "_WORKING_TIME_HOUR","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='COST"	+tmpCnt+"' 			   value='" +jQuery("#"+selectIds[i] + "_COST","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='ADDITIONAL_COST" +tmpCnt+"'   value='" +jQuery("#"+selectIds[i] + "_ADDITIONAL_COST","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='ETC" +tmpCnt+"' 			   value='" +jQuery("#"+selectIds[i] + "_ETC","#list").val()+"'/>");
		                    jQuery("#formData").append("<input type='text' name='ACC_TYPE" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_TYPE","#list").val() +"'/>");
		                    jQuery("#formData").append("<input type='text' name='COST_VOLUMN" 	 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST_VOLUMN","#list").val() +"'/>");
		                    jQuery("#formData").append("<input type='text' name='COST_CONTRACT"  +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST_CONTRACT","#list").val() +"'/>");
		                    jQuery("#formData").append("<input type='text' name='ACC_UNIT" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_UNIT","#list").val() +"'/>");
		                    
		                    
		                    jQuery("#formData").append("<input type='text' name='CUST_ID" +tmpCnt+"' 		   value='" + strCustId +"'/>");
		                    jQuery("#formData").append("<input type='text' name='LABOR_COSTS_SEQ" +tmpCnt+"'   value='" +jQuery("#"+selectIds[i] + "_LABOR_COSTS_SEQ","#list").val()+"'/>");
		                                    	
		                    tmpCnt ++;
		                }
		            }
		            jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
		        }else{
		            if(tmpCnt == 0){
		            	alert("$!lang.getText('save.nodata')");
		                return false;
		            }
		        }
		        var param = jQuery("form[name='frm_data']").serialize();	        
		        
		        var url = "/WMSAC200/save.action";
		        jQuery.post(url, param, function(data) {
		            alert(data.MSG);
		            if(data.errCnt <= 0 ){
		            	fn_search();
		            }
		        }).fail(function(xhr, textStatus){
		    		if(xhr.status == 404){
		    			location.href=('/index.html');
		    		}
		     	});
		        
		    }
	}

	/* 인건비 내역 저장 유효성검사 */
	function fn_listValidationE(){	
		var vrSrchCustId 	 = jQuery("form[name='frm_data'] input[name='vrSrchCustId']").val();
		var vrSrchReqDtFrom  = jQuery("form[name='frm_list'] #vrSrchReqDtFrom").val();		
		var vrSrchReqDtYM    = vrSrchReqDtFrom.substring(0,4) + vrSrchReqDtFrom.substring(5,7);	
		
		// 1. 화주정보는 null 이아니여야한다
		if("" == vrSrchCustId){
			var custId_Text = "$!lang.getText('화주정보')";
			alert("$!message.getMessage('0가없음', '" + custId_Text + "')");
			fn_Popup("CUST");
			return false;
		}		
		
		// 2. 그리드 유효성검사
		var grid 	  = jQuery("#list");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b}); 
		
		var tmpText;
		var tmpId;
		var tmpVal;
		var acc_dt    = "";
		var strYYYYMM = "";
		
		for(var i = 0 ; i < selectIds.length ; i++){
			acc_dt = jQuery("#" + selectIds[i] + "_ACC_DT"	,"#list").val();			
			
			//업데이트(없음)			
			if ('S' == cfn_trim(grid.getCell(selectIds[i], "FLAG"))) {
				/*
				tmpText = ["$!lang.getText('수량')", "$!lang.getText('금액')"];
	        	tmpId 	= ["QTY", "COST"];
	        	tmpVal  = [qty, cost];
	        	
	        	for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
						alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						jQuery("#"+selectIds[i] + "_" + tmpId[j], "#list").focus();
						return false;
					}					
				}
	        	*/
			}
			else
			{
				if (!(acc_dt == null || acc_dt == "" || acc_dt == undefined))
					strYYYYMM = acc_dt.substring(0,4) + acc_dt.substring(5,7);
				
				tmpText = ["$!lang.getText('정산일자')"];
	        	tmpId 	= ["ACC_DT"];
	        	tmpVal  = [acc_dt, strYYYYMM];			
	        	
	        	for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
						alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						jQuery("#"+selectIds[i] + "_" + tmpId[j], "#list").focus();
						return false;
					}
					
					if (tmpVal[1] != vrSrchReqDtYM)
					{
						alert(selectIds[i] + "번째 열 정산일자가 [조회조건]정산년월에 포함되지 않습니다.");
						jQuery("#"+selectIds[i] + "_" + tmpId[1]  ,"#list").focus();
						return false;
					}
				}	
			}		
		}
		
		return true;
	}
	
	//인건비 삭제
	function fn_delete(){
		var grid = jQuery("#list");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var tmpCnt = 0;	

		if( selectIds == "" ){
	        alert("$!lang.getText('삭제할데이터를선택해주세요')");
	        return false;
	    }
		
		if(confirm("$!lang.getText('삭제하시겠습니까')")){
			if(selectIds != ""){
				
				jQuery("#formData").html('');
				
				if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
		            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/><br>");
		        }else{
		            tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
		        }
			}
			for(var i = 0 ; i < selectIds.length ; i++){
				
				var strCustId = jQuery("#vrSrchCustId").val();
				
				jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='DELETE'/>");	
				jQuery("#formData").append("<input type='text' name='LABOR_COSTS_SEQ" +tmpCnt+"' value='"+grid.getCell(selectIds[i], "LABOR_COSTS_SEQ") +"'/>");
				jQuery("#formData").append("<input type='text' name='CUST_ID" +tmpCnt+"' value='"+strCustId+"'/>");				
				
				tmpCnt++;
			}		
			
			jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
		}else{
			return false;
		}
		
		var param = jQuery("form[name='frm_data']").serialize();
		var url = "/WMSAC200/save.action";
		
		jQuery.post(url, param, function(data) {
			alert(data.MSG);
			if(data.errCnt <= 0 ){			
				fn_search();					
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				location.href=('/index.html'); // 메인창 로그인화면 이동처리			
			}
		});
	}
	
	//저장, 삭제  버튼 Show/Hide 처리
	function pf_ProcessDisplay()
	{
		var ReqDt     = jQuery("#vrSrchReqDtFrom").val();
		var strYYYYMM = ReqDt.substring(0, 7);		
		
		var CustId = jQuery("#vrSrchCustId").val();
		var lc_id = jQuery("select[name='SVC_INFO']").val();		
		var param  = "YYYY_MM=" + strYYYYMM + "&CUST_ID="+CustId+"&LC_ID="+lc_id;
		var url = "/WMSAC200/chkTaxCnt.action";		
		
		jQuery.post(url, param, function(data){						
			if(0 < Number(data.tax_cnt)) {
				jQuery('#addImage').css('display','none');
				jQuery('#addRow').css('display','none');
				jQuery('#save').css('display','none');
				jQuery('#delete').css('display','none');				
			}						
    	}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}    		
    	});	
	}
</script>