<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('입출고 수량 수정')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/w3.css" />
<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>

<style type="text/css">
.no-border {width:98%; border:0px; color:red; font-size:12px; background-color:transparent;}
</style>

<body style="min-width:480px;">
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">
<!--//

var interval_gb  = 0;
var interval_end = 0;
var barWidth = 1;
var elem;
var runChk = 0;

var vrSrchCustId;
jQuery(document).ready(function(){
	
	
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	var IOtype		 = (arrParameter[0] == undefined) ? "" : arrParameter[0];		//입출고 타입
	var Date 		 = (arrParameter[1] == undefined) ? "" : arrParameter[1];		//날짜
	var ICnt 		 = (arrParameter[2] == undefined) ? "" : arrParameter[2];		//입고수량
	var OCnt 		 = (arrParameter[3] == undefined) ? "" : arrParameter[3];		//출고수량
	var AccType		 = (arrParameter[4] == undefined) ? "" : arrParameter[4];		//구분
	var AccYYMM		 = (arrParameter[5] == undefined) ? "" : arrParameter[5];		//정산년월
	var RitemId		 = (arrParameter[6] == undefined) ? "" : arrParameter[6];		//아이템아이디
	var CustId		 = (arrParameter[7] == undefined) ? "" : arrParameter[7];		//화주아이디
	
	jQuery("#IOtype").val(IOtype);
	jQuery('form[name="frm_pop_list"] input[name="Date"]').val(Date);
	jQuery('form[name="frm_pop_list"] input[name="ICnt"]').val(ICnt);
	jQuery('form[name="frm_pop_list"] input[name="OCnt"]').val(OCnt);
	jQuery('form[name="frm_pop_list"] input[name="AccType"]').val(AccType);
	jQuery('form[name="frm_pop_list"] input[name="AccYYMM"]').val(AccYYMM);
	jQuery('form[name="frm_pop_list"] input[name="RitemId"]').val(RitemId);
	jQuery('form[name="frm_pop_list"] input[name="CustId"]').val(CustId);
	
	/* button */
	jQuery("input:button").button();	
	//첫 input박스 포커스
	jQuery("#vrToCnt").focus();
	
	if (IOtype == "I")
		jQuery("#title").html("<input type='text' id='mainTitle' class='no-border' style='float:left;color:#000000; font-weight: bold; font-size:14px;' value='입고수량 수정' readonly='readonly'/>");
	else
		jQuery("#title").html("<input type='text' id='mainTitle' class='no-border' style='float:left;color:#000000; font-weight: bold; font-size:14px;' value='출고수량 수정' readonly='readonly'/>");
	
	//날짜 세팅
	jQuery("#vrSrchReqDtFrom12").val(Date);
	
	//수량 세팅
	if (IOtype == "I")
		jQuery("#vrFromCnt").val(ICnt);
	else
		jQuery("#vrFromCnt").val(OCnt);
});

function fn_close(){	
	self.close();
}

//팝업 저장
function fn_update18()
{
	if(jQuery("#vrEtc").val() == "" || jQuery("#vrEtc").val().length == 0){
		alert("사유 입력은 필수 입니다.");
		return false;
	}
	
	if(confirm("수정하시겠습니까?")){	
				
		var param = jQuery("form[name='frm_pop_list']").serialize();	
		var url = "/WMSAC200/update18.action";
		
		jQuery.post(url, param, function(data) {
	        alert(data.MSG);
	        
	        opener.fn_search0();
	        
	        self.close();
	        
	    }).fail(function(xhr, textStatus){
			if(xhr.status == 404){
				location.href=('/index.html');
			}
	 	});
	}
}
</script>

<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
            	<table>
            	<tr>
            		<td width="100px" id="title"></td>
            	</tr>
            	</table>
            </div>
        </div>
    </div>
    
    <form name="frm_pop_list">
		<input type="hidden" name="IOtype"  id="IOtype"/>
		<input type="hidden" name="Date"    id="Date"/>
		<input type="hidden" name="ICnt"    id="ICnt"/>
		<input type="hidden" name="OCnt"    id="OCnt"/>
		<input type="hidden" name="AccType" id="AccType"/>
		<input type="hidden" name="AccYYMM" id="AccYYMM"/>
		<input type="hidden" name="RitemId" id="RitemId"/>
		<input type="hidden" name="CustId"  id="CustId"/>
	 		 	
		<table class="search" id="srchBox">
			<colgroup>	
				<col width="100px"/>
				<col width="50%"/>
				<col width="100px"/>
				<col width="50%"/>
				<col width="40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText('날짜')</th>
				<td>					
					<input type="text" class = "text readonly" style="width:100%;text-align:center !important;" name="vrSrchReqDtFrom12" id="vrSrchReqDtFrom12" maxlength="10" readonly="readonly"/> 
				</td>
				<th></th>
				<td></td>				
			</tr>
			<tr>
				<th>$!lang.getText('수량')</th>
				<td>					
					<input type="text" class = "text readonly" style="width:40%;text-align:center !important;" name="vrFromCnt" id="vrFromCnt" maxlength="10" readonly="readonly"/>
					<b>-></b>
					<input type="text" class = "text" style="width:40%;text-align:center !important;" name="vrToCnt" id="vrToCnt" maxlength="10"/>
				</td>
				<th></th>
				<td></td>				
			</tr>
			<tr>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('사유')</th>
				<td colspan="3">					
					<input type="text" class = "text" style="width:100%" name="vrEtc" id="vrEtc"/>					
				</td>								
			</tr>
		</table>
	</form>
    
    <div class="popupContent">        
        <div class="btnArea">        	
            <div class="btnAreaRight" style="top:3px; right:0px;">
   				<form>
					<input type="button" value="$!lang.getText('저장')"	class = "btnEtc" onclick="fn_update18()"/>
					<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="fn_close()"/>					
	       		</form>
            </div>           
        </div>
    </div>    
    
    <form name = 'frm_data12'>
		<div id = "formData12" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<input type="hidden" class = "text" name = "vrSrchCustId" id = "vrSrchCustId">
	</form>
</div>
</body>
</html>