#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/tooltip_easiest.js"></script>
<script type="text/javascript" src="/js/SpreadJS12/WinusCode.js"></script>
<!-- <script type="text/javascript" src="/css/assets/js/bootstrap/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="/css/assets/js/bootstrap/bootstrap.bundle.min.js"></script> -->
<!-- <script type="text/javascript" src="/css/assets/js/bootstrap-multiselect/bootstrap-multiselect.min.js"></script> -->
<!-- <link type="text/css" media="screen" rel="stylesheet" href="/css/assets/css/plugins/bootstrap/bootstrap.min.css" />  -->
<!-- <link type="text/css" media="screen" rel="stylesheet" href="/css/assets/css/plugins/bootstrap-multiselect/bootstrap-multiselect.css"  />  -->

<link type="text/css" media="screen" rel="stylesheet" href="/css/assets/css/plugins/select2/select2.min.css"/>
<script type="text/javascript" src="/css/assets/js/select2/select2.min.js"></script>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<style>
	.gc-ui-contextmenu-icon {
            display:none;
    }
	.gc-ui-contextmenu-menuitem {
            border-bottom: 1px solid gray;
            min-height: 2.5em;
    }
    .gc-ui-contextmenu-container {
            min-width:200px;
            vertical-align: middle;
    }
    .gc-ui-contextmenu-text {
            font-weight : normal;
            width : 90%;
            margin : 0;
            padding : 0;
            white-space : normal;
            word-break : keep-all;
            font-size: 1.2em;
            //font-weight: bold;
            font-family: Malgun Gothic;
    }
    .select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
		height: 23px;
	}
	
	.select2-selection.select2-selection--multiple {
		hegiht: 23px;
		min-height: 23px !important;
		border-radius : 0px;
		margin-right: 2px;
	}
	
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		margin-top: 2px;
	}
	
	.select2-container {
		/*display: contents;*/
		width: 100%
	}
</style>
<script type="text/javascript">

// SPDLIST DEF
var activeTab;
var arrMC_SPD_CHK_SET = [];
/* 합계처리 변수 */
// example 추후 수정 및 추가
var cSumORD_QTY = 0; //주문수량

// SPDLIST DEF END

jQuery(document).ready(function(){
	//fn_getCustOrdDegree();
	/* @특정상품권한:Y, 사용자관리LC상품군,  @param : (고정), (고정), (요소타입:select/input), (요소ID) */
	cfn_setFixedItemGrpIdByLc("$ss_item_fix_yn", "$ss_item_grp_id", "select", "vrSrchItemGrpId");

	jQuery("#tab1").tabs({ activate: function(event, ui) {  } });
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	WMSAC250E1.openTab();
});


//EVENT : checkBox all selection
function ps_setSpreadEvents_ValueChanged(args) {
	activeTab.ps_setSpreadEvents_ValueChanged(args);
}
//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick(args) {
	activeTab.ps_setSpreadEvents_CellClick(args);
}
//EVENT : cell data change
function ps_setSpreadEvents_CellChanged(args) {
	activeTab.ps_setSpreadEvents_CellChanged(args);
}
//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args) {
	activeTab.ps_setSpreadEvents_ButtonClicked(args);
}
//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus(args) {
	activeTab.ps_setSpreadEvents_LostFocus(args);
}
//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick(args) {
	activeTab.ps_setSpreadEvents_CellDoubleClick(args);
}
//EVENT : row changed
function ps_setSpreadEvents_RowChanged(args){
	activeTab.ps_setSpreadEvents_RowChanged(args);
}

function fn_checkedList(orGrid,colChkBox) {
	return activeTab.fn_checkedList(orGrid,colChkBox);
}

function fn_reload(){
	activeTab.fn_reload();
}

/* SpreadJs 기준 위아래의 기준 colum이 같은 Row 묶기 */
function cfn_gridRowspan(grid,index,rowSpanColArr){
	var hitKey = ""; // 기준키
	var chkKey = ""; // 비교키
	var startVal = []; // 묶음 시작점
	var countVal = []; // 묶음 카운트
	var hitVal = []; // 묶음 가운데랑 마지막 합친거 (체크박스 없앨려고)
	var cnt ;	//i증감 수 담을 변수
	var serOk ; //작업했는지 안했는지 판단
	
	grid.suspendPaint();

	var nRow = grid.getRowCount();
	
	for(var i = 0 ; i < nRow ; ){
		serOk = false;		//작업하지않앗으므로 기본값 false;
		cnt = 1;            //i증감 기본값은 1
		hitKey = i; 	//   첫 id를 키로잡는다.
		chkKey = i+1;	// 다음 id를 비교키로잡는다.
		//key값이랑 key다음 id랑비교해서 같으면 작업시작
		var hitValue = grid.getValue(hitKey, index);
		
		if(hitValue == grid.getValue(chkKey, index)){
			startVal.push(hitKey);
			for(var j = i+1 ; j < nRow ; j++){
				//찾으면 가운데묶음에 다넣는다
				if(hitValue == grid.getValue(j, index)){
					serOk = true;
					hitVal.push(j);
					cnt++;
				}else{
					//찾았던 적이있는데 다음꺼랑다르면 가운데묶음 마지막에넣은게 동일값의 마지막부분이라는것을 알게됨
					//가운데묶음의 마지막에 넣은것을 묶음 마지막에 넣어주고 가운데묶음에서는 지운다.
					if(serOk){
						serOk = false;	//처리했으니 다시 false로 지정
						countVal.push(cnt);
						break;
					}
				}
			}
		}
		//찾은수 만큼 건너뜀
		i = i + cnt;
	}
	// spdList.addspan(startRow,startCol,RowCount,ColCount)
	for (var i = 0 ; i < startVal.size(); i++){
		for(var j = 0 ; j < rowSpanColArr.length; j++){
			grid.addSpan(startVal[i],rowSpanColArr[j],countVal[i],1);
			var tempCell = grid.getCell(startVal[i], rowSpanColArr[j], GC.Spread.Sheets.SheetArea.viewport);
			tempCell.vAlign(0);
			tempCell.hAlign(1);
		}
	}
	grid.resumePaint();
}

//--------------------------------------------------------------------------------화면로딩-------------------------------------------------------------------------------------//
/*
	정책획득			:	cfn_initRule();
	화주 선택			:	vrSrchCustCd_OnStart();
	우클릭메뉴			:	cfn_contextMenu();
	
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/*정책획득*/
function cfn_initRule(vrCodeTypeCd, vrBaCodeCd){
	vrCodeTypeCd= (vrCodeTypeCd == undefined) ? "" : vrCodeTypeCd
	vrBaCodeCd 	= (vrBaCodeCd == undefined) ? "" : vrBaCodeCd
	var param	= "vrCodeTypeCd="+vrCodeTypeCd+"&vrBaCodeCd="+vrBaCodeCd
	var url 	= "/WMSOP000/centerRule.action";
	jQuery.post(url, param, function(data) {
		var rule = data.RULE;
		//사용자구분 10거래처, 20고객사 우클릭 매뉴 막음
		if("$!ss_user_gb" == "10" || "$!ss_user_gb" == "20"){
			spdSheet.options.allowContextMenu = false;
			//jQuery("#menu111").removeAttr('id');
		}else{
			for(var i = 0 ; i < rule.length ; i++){
				if(!(rule[i].USE_YN == 'Y' || rule[i].USE_YN == 'O')){
					var idx = spdSheet.contextMenu.menuData.indexOf("menu"+rule[i].BA_CODE_CD)
					spdSheet.contextMenu.menuData.splice(idx,1);
				}
			}
		}
		
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){
			location.href=('/index.html');
		}
 	});
}

//--------------------------------------------------------------------------------자동완성-------------------------------------------------------------------------------------//
/* 거래처Zone코드 입력 */
function txtSrchCustZoneCd_OnKillFocus(){
	var tab = '#'+activeTab.tab + " ";
	var vrSrchCustZoneCd = jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val();
	if( vrSrchCustZoneCd != "" ){
		var srchKey = "CUST_ZONE";
		var param   = "srchKey=" + srchKey + "&vrSrchCustZoneCd=" + vrSrchCustZoneCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST_ZONE;
			var cnt  = data.size();
			if( cnt > 1 ){
				var width  = "800";
				var height = "560";
				var strParameter = [];
				strParameter.push(vrSrchCustZoneCd);
				strParameter.push("");
				strParameter.push("");
				var param = "?func=fn_setWMSMS016&strParameter=" + strParameter; 
				var url = "/WMSCM011Q4.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val(data[0].CODE);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val(data[0].NAME);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val("").focus();
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val("");
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val("");
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val("");
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val("");
	}
}

/* 거래처Zone이름 입력 */
function txtSrchCustZoneNm_OnKillFocus(){
	var tab = '#'+activeTab.tab + " ";
	var vrSrchCustZoneNm = jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val();
	if( vrSrchCustZoneNm != "" ){
		var srchKey = "CUST_ZONE";
		var param   = "srchKey=" + srchKey + "&vrSrchCustZoneNm=" + vrSrchCustZoneNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST_ZONE;
			var cnt  = data.size();
			if( cnt > 1 ){
				var width  = "800";
				var height = "560";
				var strParameter = [];
				strParameter.push("");
				strParameter.push(vrSrchCustZoneNm);
				strParameter.push("");
				var param = "?func=fn_setWMSMS016&strParameter=" + strParameter; 
				var url = "/WMSCM011Q4.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val(data[0].CODE);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val(data[0].NAME);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val("").focus();
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val("");
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val("");
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val("");
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val("");
	}
}


/* 매출거래처코드 입력 */
function txtSrchCustCd_OnKillFocus(){
	var tab = '#'+activeTab.tab + " ";
	var vrSrchCustCd = jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	var vrSrchCustId = jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId + "&vrOrdType=02";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				if(jQuery(tab+'#vrSrchCustId').val() == ''){
					strParameter.push(vrSrchCustCd);
					strParameter.push("");
					strParameter.push("");
					strParameter.push("$ss_svc_no");
					strParameter.push("LC_ALL");	
				}else{
					strParameter.push(vrSrchCustCd);
					strParameter.push("");
					strParameter.push(jQuery(tab+'#vrSrchCustId').val());
					strParameter.push("$ss_svc_no");
					strParameter.push("CUST_TRANS");
				}
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS017&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011Q2.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CUST_CD);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].CUST_NM);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val(data[0].CUST_ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val("");
	}
}

/* 매출거래처명 입력 */
function txtSrchCustNm_OnKillFocus(){
	var tab = '#'+activeTab.tab + " ";
	var vrSrchCustNm = jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustNm"]').val();
	var vrSrchCustId = jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId + "&vrOrdType=02";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				if(jQuery(tab+'#vrSrchCustId').val() == ''){
					strParameter.push("");
					strParameter.push(vrSrchCustNm);
					strParameter.push("");
					strParameter.push("$ss_svc_no");
					strParameter.push("LC_ALL");	
				}else{
					strParameter.push("");
					strParameter.push(vrSrchCustNm);
					strParameter.push(jQuery(tab+'#vrSrchCustId').val());
					strParameter.push("$ss_svc_no");
					strParameter.push("CUST_TRANS");
				}
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS017&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011Q2.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CUST_CD);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].CUST_NM);
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val(data[0].CUST_ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery(tab+"form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustId"]').val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var tab = '#'+activeTab.tab + " ";
	var vrSrchCustCd = jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011_V2&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var tab = '#'+activeTab.tab + " ";
	var vrSrchCustNm = jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011_V2&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery(tab+"form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	팝업 호출	:	fn_Popup()
	창고팝업후	:	fn_setWMSMS040()
	화주팝업후	:	fn_setWMSMS011()
	상품팝업후	:	fn_setWMSCM091()
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSMS011_V2&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'CustinGrid':	//그리드 내 화주사 조회
			param = "?func=fn_setWMSMS011_V3&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST2':	//PDF보기 버튼 클릭 했을 때
			param = "?func=fn_setWMSMS011_V2&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'SrchCust' : // 거래처 (ZONE조회)
			strParameter.push("");
			strParameter.push("");
			strParameter.push(jQuery('#txtSrchCustZoneId').val());
			strParameter.push(jQuery('#txtSrchCustZoneCd').val());
			strParameter.push(jQuery('#txtSrchCustZoneNm').val());
			param = "?func=fn_setWMSMS017&strParameter=" + strParameter + "&custType=2"; 
			url = "/WMSCM011Q5.action" + param;

			break;	
		case 'SrchCustInGrid' : // 그리드 내 매출거래처
			/*
				2021-12-14
				1. 화주 값이 없을 경우 모든 거래처 출력
				2. 화주 값이 있을 경우 해당 화주 거래처만 출력 

				WMSCM011 서비스단 확인 현재 공통으로 사용중인 화면이 많아서 따로 분기처리가 힘든 상황
			*/
			if(jQuery('#vrSrchCustId').val() == ''){
				strParameter.push("");
				strParameter.push("");
				strParameter.push("");
				strParameter.push("$ss_svc_no");
				strParameter.push("LC_ALL");	
			}else{
				strParameter.push("");
				strParameter.push("");
				strParameter.push(jQuery('#vrSrchCustId').val());
				strParameter.push("$ss_svc_no");
				strParameter.push("CUST_TRANS");
			}
			param = "?func=fn_setWMSMS011_3&strParameter=" + strParameter + "&stBtnYn=Y" + "&custType=2"; 
			url = "/WMSCM011Q2.action" + param;

			break;
		case 'CustZone' :
			strParameter.push("");
			strParameter.push("");
			strParameter.push("");
			param = "?func=fn_setWMSMS016&strParameter=" + strParameter; 
			url = "/WMSCM011Q4.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}
/* 거래처 ZONE 팝업 후 처리 */
function fn_setWMSMS016(arr){
	var info = arr[0];
	var tab = '#'+activeTab.tab+' ';
	jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneCd"]').val(info.zone_cd);
	jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneNm"]').val(info.zone_nm);
	jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustZoneId"]').val(info.zone_id);
}


/* 화주 팝업 후 처리 */
function fn_setWMSMS011_V2(arr){
	var info = arr[0];
	var tab = '#'+activeTab.tab+' ';
	jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery(tab+'form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
	
	//팝업 값 세팅 후 자동 조회
	//fnSearch();
}

/* 그리드 내 화주 팝업 후 처리 */
function fn_setWMSMS011_V3(arr){
	var info = arr[0];
	activeTab.fnSetCustInGrid(info);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	var tab = '#'+activeTab.tab+' ';
	jQuery(tab+'form[name="frm_list"] input[name="vrSrchRitemCd"]').val(info.item_code);
	jQuery(tab+'form[name="frm_list"] input[name="vrSrchRitemNm"]').val(info.item_kor_nm);
	jQuery(tab+'form[name="frm_list"] input[name="vrSrchRitemId"]').val(info.ritem_id);
}

/* 거래처(ZONE)팝업 후 처리 */
function fn_setWMSMS017(arr){
	var info = arr[0];
	var tab = '#'+activeTab.tab+' ';
	jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustCd"]').val(info.cust_cd);
	jQuery(tab+'form[name="frm_list"] input[name="txtSrchCustNm"]').val(info.cust_nm);
}

/* 그리드 내 출고처 후 처리 */
function fn_setWMSMS011_3(arr){
	var info = arr[0];

	activeTab.fnSetSrchCustInGrid(info);
}


/* 조회조건 화주 체크*/
function fn_chkInitCustId(){
	var tab = '#'+activeTab.tab+' ';
	if(jQuery(tab+"#vrSrchCustId").val() == "" || jQuery(tab+"#vrSrchCustId").val().length == 0){
		fn_Popup("CUST2");
		return false;
	}
	return true;
}

function SetComma(str){
	var retValue = "";
	//str
	str = String(str).replace(/,/g,"");
	
	for(i = 1; i <= str.length; i++){
		if(i > 1 && (i%3) == 1){
			retValue = str.charAt(str.length - i) + "," + retValue;
		}else{
			retValue = str.charAt(str.length - i) + retValue;
		}
	}
	return retValue;
}



</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1" onClick="WMSAC250E1.openTab()">$!lang.getText("납품확인")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
	<div id="tabs-1">
		#parse("winus/wmsac/WMSAC250E1.vm")
	</div>
</div>

#parse("winus/common/footer.vm")