<div class="patternWrap">
	<form name="frm_pp_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="120px"/>
				<col width="20%"/>
				<col width="60px"/>
				<col width="25%"/>											
				<col width="60px"/>
			</colgroup>
			<tr>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산년월")</th>
				<td>		
					<input type = "text" class = "text" style="width:43%" name="vrSrchReqDtFrom0" id="vrSrchReqDtFrom0" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom0)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom0), fn_onChangeVrSrchReqDtFrom0()"> 
					<input type = "hidden" class = "text" style="width:36%" name="vrSrchReqDtTo0"   id="vrSrchReqDtTo0"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo0)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo0)">
					($!lang.getText("월 단위"))	
				</td>
				#if($adminInfo.getCustId() == $ss_user_gb)
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("화주")</th>
					<td>
						<input type="text" class="readOnly" name="vrSrchCustCd0" id="vrSrchCustCd0" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="hidden" name="vrSrchCustId0" id="vrSrchCustId0" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" name="vrSrchCustNm0" id="vrSrchCustNm0" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd0" id="vrSrchCustCd0" onChange="vrSrchCustCd_OnKillFocus('Z')"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST0");' class="imgSearch"/> 
						<input type="hidden" name="vrSrchCustId0" id="vrSrchCustId0"> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm0" id="vrSrchCustNm0" onChange="vrSrchCustNm_OnKillFocus('Z')"> 
					</td>
				#end
				<th class="btnSearch">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search0();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>			
		</table>	
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<span id="saveResult0" style="font-weight:bolder;"></span>
			<!--<input type = "button" class = "INS_AUTH btnEtc" name = "btn_write" value = "$!lang.getText('입고수정')"	onclick = "fn_EditIOCnt('I');" title="$!lang.getText('입고수정')"/>
			<input type = "button" class = "INS_AUTH btnEtc" name = "btn_write" value = "$!lang.getText('출고수정')"	onclick = "fn_EditIOCnt('O');" title="$!lang.getText('출고수정')"/> -->
			<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave" name = "btn_write"	value = "$!lang.getText('저장')"		onclick = "fn_save0();"		/>
			<!--<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel" name="btn_write" onclick="fn_excelDown0();" role="button" aria-disabled="false"/> -->
		</div>
	</div>
	
	<div class="list_box">
		<table id="pp_list"></table>
		<div id="pp_pjmap"></div>
	</div>
	
	<form name = "frm_data0">
		<div id = "formData0" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>

<script type="text/javascript">
	#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
	
	var peopleGrid = new ULNSI_jQGrid();
	
	/* 그리드 공통화 적용 시작- peopleGrid */
	// 그리드 컬럼명 
	var colNameArray_people = [
	              '',
	              'ST_GUBUN',	              
	              'FLAG',
	              'GUBUN',
	              'SAVE_GUBUN',
	           	  
	              '$!lang.getText("날짜")',
	              
	              '$!lang.getText("구분")',
	              '$!lang.getText("형태")',
	              '$!lang.getText("약정구분")',
	              '$!lang.getText("단위")',
	              
	              '$!lang.getText("입고")',
	              '$!lang.getText("출고")',
	              '$!lang.getText("현재고")',
	              '$!lang.getText("입출고수량")',
	              
	              '$!lang.getText("보관단가")',
	              '$!lang.getText("보관금액")',
	              
	              'CUST_ID'
		          ];
	// 그리드 컬럼 정의
	var colModelArray_people = [
			{name:'CHK_BOX',				index:'CHK_BOX',					hidden:true},
			{name:'ST_GUBUN',				index:'ST_GUBUN',					hidden:true},			
			{name:'FLAG',					index:'FLAG',						hidden:true},
			{name:'GUBUN',					index:'GUBUN',						hidden:true},
			{name:'SAVE_GUBUN',				index:'SAVE_GUBUN',					hidden:true},
			
			{name:'SUBUL_DT',				index:'SUBUL_DT',		width:80, 	align:"center", cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'SUBUL_DT\')"' }},
			
			{name:'ACC_TYPE',		   		index:'ACC_TYPE',		width:80,   align:"left",   formatter:'select', 	edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC17")}},
			{name:'COST_VOLUMN',		   	index:'COST_VOLUMN',	width:80,   align:"left",   formatter:'select', 	edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC18")}},
			{name:'COST_CONTRACT',		   	index:'COST_CONTRACT',	width:80,   align:"left",   formatter:'select', 	edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC19")}},
			{name:'ACC_UNIT',		   		index:'ACC_UNIT',		width:80,   align:"left",   formatter:'select', 	edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC20")}},
			
			{name:'IN_QTY',					index:'IN_QTY',			width:80,	align:"center", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_QTY',				index:'OUT_QTY',		width:80,	align:"center", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_QTY',				index:'STOCK_QTY',		width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'INOUT_QTY',				index:'INOUT_QTY',		width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'COST',					index:'COST',			width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'CAL_COST',				index:'CAL_COST', 		width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'CUST_ID',				index:'CUST_ID',		hidden:true}		
		];
	var option_people = {
		'title' : '$!lang.getText("보관비내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray_people,
		'colModel' : colModelArray_people,
	    'pager' : jQuery("#pp_pjmap"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        	'rowList' : [200,300,400],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40,
        'footerrow' 	: true,
		'userDataOnFooter' : true		
	};	

	var param = jQuery("form[name='frm_pp_list']").serialize();	
	
	var url_people = "/WMSAC202/list0.action?"+param;

	function loadCompleteEventCallback0 (data){
		var grid     = jQuery("#pp_list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();		
		
		var SUM_IN_QTY			= 0;
		var SUM_OUT_QTY			= 0;		
		var SUM_INOUT_QTY		= 0;
		var SUM_COST 			= 0;
		var SUM_CAL_COST		= 0;
		
		//헤더 체크박스 숨김 처리
		jQuery("#cb_pp_list").hide();
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_IN_QTY    = SUM_IN_QTY 	  + Number(gridData[i].IN_QTY);
			SUM_OUT_QTY   = SUM_OUT_QTY   + Number(gridData[i].OUT_QTY);			
			SUM_INOUT_QTY = SUM_INOUT_QTY + Number(gridData[i].INOUT_QTY);
			SUM_COST   	  = SUM_COST 	  + Number(gridData[i].COST);
			SUM_CAL_COST  = SUM_CAL_COST  + Number(gridData[i].CAL_COST);			
		}		
		
		//합계처리 변수 셋업
		var footData = {
						 SUBUL_DT  : "$!lang.getText('합계')"
						,IN_QTY	   : SUM_IN_QTY
						,OUT_QTY   : SUM_OUT_QTY						
						,INOUT_QTY : SUM_INOUT_QTY
						,COST  	   : SUM_COST
						,CAL_COST  : SUM_CAL_COST
			   		   };
		grid.jqGrid('footerData','set', footData);
		
		var strSAVE_GUBUN = cfn_trim(grid.getCell(1, 'SAVE_GUBUN'));		
		
		if (strSAVE_GUBUN == "Y")
			jQuery("#saveResult0").html("저장 완료");	
		else if((strSAVE_GUBUN == "N"))
			jQuery("#saveResult0").html("저장 미완료");		
	};
	
	peopleGrid.init(jQuery("#pp_list"), option_people, url_people, loadCompleteEventCallback0);
	
	peopleGrid.setBeforeSelectRowEventCallback( function(rowid, e){		
		if ( jQuery(e.target).closest('td')[0].cellIndex === 1 ){
		    jQuery("#pp_list").jqGrid('resetSelection');
		    return true;
		}
	});
	
	//체크박스 선택
	peopleGrid.setSelectCellEventCallback(function(id, col){		
		var grid = jQuery("#pp_list");
		if(col == 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_pp_list_"+id).attr("checked",false);
	 			grid.setCell(id, 'CHK_BOX', "No");
	 			grid.restoreRow(id);
	 			peopleGrid.setStatus(id, " "); 			
	 			//unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#pp_list").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#pp_list").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
			}else{
				jQuery("#jqg_pp_list_"+id).attr("checked",true);
	 			grid.setCell(id, 'CHK_BOX', "Yes");	 			
	 			if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
	 				peopleGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				peopleGrid.setStatus(id, "UPDATE");
	 			}	 			
			}
		}else {
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});
	
	/* 헤더 그룹처리 */
	jQuery("#pp_list").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'IN_QTY',  numberOfColumns : 4	,titleText : '$!lang.getText("보관현황")'}
						]
	});
	
	//보관비 내역 검색
	function fn_search0(op,op1) {		
		
		if(!fn_chkInitCustId0()){return;}		
		
		var param = jQuery("form[name='frm_pp_list']").serialize();
		var url = "/WMSAC202/list0.action?"+param;
		
		peopleGrid.search(param, url, op, op1);
		
		//저장결과
		jQuery("#saveResult0").show();
	}
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011_0(arr){
		var info = arr[0];	
		jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCd0"]').val(info.cust_cd);
		jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNm0"]').val(info.cust_nm);
		jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val(info.cust_id);
		
		fn_search0();
	}
	
	/* 보관비 날짜 셋팅 */
	function fn_onChangeVrSrchReqDtFrom0(){	
		var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom0']").val();
		var getYyyyMm   = vrSrchReqDt.substr(0,7);
		var getLastDay  = getMonthEndDate(Number(vrSrchReqDt.substr(0,4)), Number(vrSrchReqDt.substr(5,2)));
		jQuery("input[name='vrSrchReqDtFrom0']").val(getYyyyMm+"-"+getLastDay);
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId0(){
		if(jQuery("#vrSrchCustId0").val() == "" || jQuery("#vrSrchCustId0").val().length == 0){
			fn_Popup("CUST0");
			return false;
		}
		return true;
	}
	
	//보관비 저장(이관)
	function fn_save0()
	{
		if(jQuery("input[name='vrSrchCustId0']").val().length == 0){
	    	alert("$!lang.getText('화주를 선택하여 주십시오.')");
	    	return false;
	    }	
		
		var grid     = jQuery("#pp_list");
		var firstRow = grid.getCell(1, 'SUBUL_DT');
		var firstRowYYYYMM = firstRow.substr(0, 6);		
		
		var date  = jQuery("input[name='vrSrchReqDtFrom0']").val();
		var year  = "";
		var month = "";
		
		var countRow = grid.getDataIDs().size();
		if (countRow == 0)
		{
			alert("저장하려는 데이터가 존재하지 않습니다.");
			return false;
		}			
		
		//if (firstRowYYYYMM == (year + month))
		//{
			year  = date.substr(0, 4);
			month = date.substr(5, 2);
		//}		
		//else {			
		//	year  = firstRowYYYYMM.substr(0, 4);
		//	month = firstRowYYYYMM.substr(4, 2); 
		//}
		
		if(confirm(year + "년" + month + "월 데이터를 저장 하시겠습니까?")){
					
			var strGUBUN    = cfn_trim(grid.getCell(1, 'GUBUN'));
			var strSUBUL_DT = cfn_trim(grid.getCell(1, 'SUBUL_DT'));			
			
			var param = jQuery("form[name='frm_pp_list']").serialize();	
			var url = "/WMSAC202/save0.action?YYYYMMDD="+strSUBUL_DT+"&GUBUN="+strGUBUN;
			
			jQuery.post(url, param, function(data) {
		        alert(data.MSG);		       
		        if(data.CODE == "SUCCESS" ){	        	
		        	fn_search0();
		        }
		    }).fail(function(xhr, textStatus){
				if(xhr.status == 404){
					location.href=('/index.html');
				}
		 	});
		}
	}
	
	/*엑셀다운 */
	function fn_excelDown0(){
		var grid = jQuery("#pp_list");
		var sidx =  grid.getGridParam('sortname');
		var sord = grid.getGridParam('sortorder');
		var param = "?sidx="+sidx+"&sord="+sord;
		
	    var fm = document.frm_pp_list;
	    var countRow = jQuery("#pp_list").getDataIDs().size();
	    if(countRow == 0){
	        alert('$!lang.getText("excel.down.nodata")');
	        return;
	    } else if(countRow > 60000) {
	        alert('$!lang.getText("excel.down.maxrow")');
	        return;
	    } else {
	        fm.action="/WMSAC202/excelDown0.action"+param;
	        fm.method="post";
	        fm.submit();
	    }  
	}
	
	//보관비 입출고 수량 수정
	function fn_EditIOCnt(pstrType)
	{
		var subulDt = "";
		var chkCnt  = 0;
		
		if(jQuery("#vrSrchCustId0").val() == "" || jQuery("#vrSrchCustId0").val().length == 0){
			alert("[검색조건]화주를 조회해주세요.");
			return false;
		}	
		
		var grid = jQuery("#pp_list");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
			
		if( selectIds == "" ){
	        alert("$!lang.getText('수정할데이터를선택해주세요')");
	        return false;
	    } else if (selectIds == 1){
			alert("$!lang.getText('전월데이터는 수정할수 없습니다.')");
			return false;
		} else {
	       	
	    	subulDt = grid.getCell(selectIds, "SUBUL_DT");    	
	    	
	    	var subulDt  = grid.getCell(selectIds, "SUBUL_DT");
	    	var custId   = jQuery("#vrSrchCustId0").val();
	    	var ritemId  = jQuery("#vrSrchRitemId0").val();
	    	
	    	var param = "SUBUL_DT=" + subulDt + "&CUST_ID="+custId;
	    	var url = "/WMSAC202/chkCnt.action";
	    		
	    	jQuery.post(url, param, function(data){
	    		chkCnt = data.cnt;
	    		    		
	   			if (Number(chkCnt) <= 0) {
	   				alert("데이터 저장(이관) 후 수정하실 수 있습니다.");
	   				return;
	   			} else {
	   				//수정 팝업 호출
	   				fn_EditPopup(pstrType, subulDt);
	   			}    		
	    	}).fail(function(xhr, textStatus){
	    		if(xhr.status == 404){	
	    			location.href=('/index.html');
	    		}
	    	});   	
	    }	
	}

	//입고, 출고  Qty 수정 Pop
	function fn_EditPopup(pstrType, pstrSubulDt) {
		var strParameter = [];
		
		var grid = jQuery("#pp_list");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		
		var ICnt 	= grid.getCell(selectIds, "IN_QTY");
		var OCnt 	= grid.getCell(selectIds, "OUT_QTY");
		var AccType	= grid.getCell(selectIds, "ACC_TYPE");
		var AccYYMM = pstrSubulDt.substr(0,6);		
		var custId	= jQuery("#vrSrchCustId0").val();
		
		strParameter.push(pstrType);    //입출고타입
		strParameter.push(pstrSubulDt); //작업일자
		strParameter.push(ICnt);	    //입고수량
		strParameter.push(OCnt);	    //출고수량
		strParameter.push(AccType);		//구분
		strParameter.push(AccYYMM);		//정산년월		
		strParameter.push(custId);		//Cust 아이디
			
		var param 	= "?strParameter="+strParameter;
		var url 	= "/WMSAC202E12.action"+param;
		var width 	= "500";
		var height 	= "250";
		var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
		asppop.focus();	
	}
</script>