<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('정산일설정')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />


<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>

<body style="min-width:500px">
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

var vrContId;

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();
	
	/* 파라미터 */
	vrContId = "$!request.getParameter('vrContId')";

	//[보호절] cont_id가 없으면 안됨. 
	if(cfn_trim(vrContId) == "" || cfn_trim(vrContId) == "false"){
		alert("계약을먼저저장하여주십시오") ; 
		javascript:self.close();
	} 
	
	/* 입차목록 시작 */
	var colNameArray = [
	                     'FLAG'
	                    ,'CHK_BOX'
	                    ,'ST_GUBUN'
	                    ,' '
	                    
	                    ,'$!lang.getText("월")'			//ACC_FR_MON
	                    ,'$!lang.getText("일")'			//ACC_FR_DAY
	                    ,'$!lang.getText("월")'			//ACC_TO_MON
	                    ,'$!lang.getText("일")'			//ACC_TO_DAY
	                    ,'<img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산일자")'		//ACC_DAY
	                    
	                    ,'ACC_DAY_ID'
	                    ,'CONT_ID'
	                  ];
	          
   	var colModelArray = [
						 {name : 'FLAG'				,index : 'FLAG'				,hidden : true}
						,{name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true}
		            	,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
		            	,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 30		,align : "center"	,sortable : false}
   	                     
						,{name : 'ACC_FR_MON'		,index : 'ACC_FR_MON'		,width : 50		,align : "center"	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ACC08")}}
						,{name : 'ACC_FR_DAY'		,index : 'ACC_FR_DAY'		,width : 50		,align : "center"	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ACC09")}}		
						,{name : 'ACC_TO_MON'		,index : 'ACC_TO_MON'		,width : 50		,align : "center"	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ACC08")}}
						,{name : 'ACC_TO_DAY'		,index : 'ACC_TO_DAY'		,width : 50		,align : "center"	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ACC09")}}
						,{name : 'ACC_DAY'			,index : 'ACC_DAY'			,width : 100	,align : "center"	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ACC09")}}
						 
						,{name : 'ACC_DAY_ID'		,index : 'ACC_DAY_ID'		,hidden : true}
						,{name : 'CONT_ID'			,index : 'CONT_ID'			,hidden : true}						
					 ];

	var option = {
			 		'title'		: "$!lang.getText('거래처정산일설정')"
				  ,'height'		: 280
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  ,'rowList' 	: [20,40,60]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	        
	var url = "/WMSAC010E3/listAccDt.action?vrContId=" + vrContId;
	
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};
	
	listGrid.init(jQuery("#list1"), option, url, '', loadErrorCallback);
	
	/* 헤더 그룹처리 */
	jQuery("#list1").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [ 
		                  {startColumnName : 'ACC_FR_MON', numberOfColumns : 2	,titleText : '<img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산기준시작일")'},
		                  {startColumnName : 'ACC_TO_MON', numberOfColumns : 2	,titleText : '<img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산기준종료일")'}
						]	 
	});
});

//-->
//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];	
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}

/* 신규 */
function fn_new(){
	datarow = {
			    CHK_BOX			: "Yes"
			   ,ST_GUBUN 		: "INSERT"
			   ,ST_GUBUN_IMG	: "<img src='/img/exam/btn/add.gif'>"
			   ,CONT_ID			: vrContId
		  	  }	
	listGrid.addRow(datarow);
}

/* 삭제 */
function fn_delete(){
	listGrid.deleteRow();
}

/* 저장 */
function fn_save(){
	var grid        = jQuery("#list1");
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var delCnt 		= 0 ;
    var iuCnt 		= 0 ;
    var tmpCnt 		= 0 ;
    if(selectIds == ""){
        alert(strings['grid.no_check_data_for_save']);
        return false;
    }
    
    //유효성검사
    
    if(confirm(strings['grid.confirm_save'])){
    	jQuery("#formData").html("");
    	
		//삭제될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list'] input[name='D_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='D_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	delCnt = parseInt(jQuery("form[name='frm_list'] input[name='D_selectIds']").val());
        }
        
		//등록이나 수정될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list'] input[name='I_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='I_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	iuCnt = parseInt(jQuery("form[name='frm_list'] input[name='I_selectIds']").val());
        }
		
        for(var i = 0 ; i < selectIds.length ; i++){
            if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='D_ST_GUBUN"+delCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='I_ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='I_ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }
            
            if(isProcess){
            	if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
					jQuery("#formData").append("<input type='text' name='D_ACC_DAY_ID"+delCnt+"'  value='"+grid.getCell(selectIds[i], "ACC_DAY_ID")+"'/>");
					delCnt ++;
            	}else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) || "INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
            		jQuery("#formData").append("<input type='text' name='I_ACC_DAY_ID"	+iuCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ACC_DAY_ID"))	+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_CONT_ID"		+iuCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "CONT_ID"))		+"'/>");

            		jQuery("#formData").append("<input type='text' name='I_ACC_FR_MON"		+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ACC_FR_MON","#list1").val())+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_ACC_FR_DAY"		+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ACC_FR_DAY","#list1").val())+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_ACC_TO_MON"		+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ACC_TO_MON","#list1").val())+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_ACC_TO_DAY"		+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ACC_TO_DAY","#list1").val())+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_ACC_DAY"			+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ACC_DAY"	,"#list1").val())+"'/>");
            		
            		iuCnt ++;
            	}
            }
        }
        jQuery("form[name='frm_list'] input[name='D_selectIds']").val( delCnt );
   		jQuery("form[name='frm_list'] input[name='I_selectIds']").val( iuCnt );
   		
		var param 	= jQuery("form[name='frm_list']").serialize();
		var url 	= "/WMSAC010/saveAccdt.action";
		jQuery.post(url, param, function(data){
			alert(data.MSG);
			var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
			var  page = jQuery("#list1").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
			if(data.errCnt <= 0 ){
				//조회
				fn_search();
			}
     	}).fail(function(xhr, textStatus){
 			if(xhr.status == 404){	
 				location.href=('/index.html');
 			}
 		});
    }
}

/* 조회 */
function fn_search(op, op1){
	//검색조건값을 파라미터로 보낸다.
	jQuery("#formData").html("");
	var param = jQuery("form[name='frm_list']").serialize(); 
	var url = "/WMSAC010E3/listAccDt.action?"+param;
	listGrid.search(param, url, op, op1);	
}

</script>

<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
               	$!lang.getText('거래처정산일설정')
            </div>
            <div class="btnAreaRight">
				<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave" name = "btn_write"	value = "$!lang.getText('저장')"		onclick = "fn_save();"		/>
				<input type = "button" class = "INS_AUTH btnEtc" 					name = "btn_write" 	value = "$!lang.getText('신규')"		onclick = "fn_new();"		/>
				<input type = "button" class = "DEL_AUTH btnDelete" 					name = "btn_write"	value = "$!lang.getText('삭제')"		onclick = "fn_delete();"	/>		
				<input type = "button" class = "btnEtc" value='$!lang.getText("닫기")' onclick="javascript:self.close();"/>
            </div>
        </div>
        <form name="frm_list">
			<input type='hidden' 	name='vrContId'		id='vrContId' 	value='$!request.getParameter("vrContId")'/>
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
    </div>
    <div class="popupContent">
		<div class="list_box">
			<table id="list1"></table>
			<div id="pjmap1"></div>
		</div>
    </div>
</div>

</body>
</html>