<div class="patternWrap">
	<form name="frm_listPool">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="80px"/>
				<col width="78px"/> 
				<col width="35%"/>
				<col width="80px"/> 
				<col width="35%"/>
				<col width="80px"/> 
				<col width="25%"/>
				<col width="30px"/>
				<col width="40px"/>	
			</colgroup>
			<tr>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th  class="thBar">$!lang.getText("화주")</th>
				<td colspan="2">
					<input type="text" class="readOnly" name="vrSrchCustCd3" id="vrSrchCustCd3" style="width:42%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId3" id="vrSrchCustId3" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm3" id="vrSrchCustNm3" style="width:42%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th  class="thBar">$!lang.getText('화주')</th>
				<td colspan="2">
					<input type="text" class = "text" style="width: 42%" name="vrSrchCustCd3" id="vrSrchCustCd3" onChange="vrSrchCustCd_OnKillFocus('P')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST3");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId3" id="vrSrchCustId3"> 
					<input type="text" class = "text" style="width: 42%" name="vrSrchCustNm3" id="vrSrchCustNm3" onChange="vrSrchCustNm_OnKillFocus('P')"> 
				</td>
			#end
				<th>$!lang.getText("작업일자")</th>
				<td>		
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtFrom3" id="vrSrchReqDtFrom3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom3)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom3)"/> ~
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtTo3" 	 id="vrSrchReqDtTo3"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo3)"   onChange="cfn_onChangeDateFld(vrSrchReqDtTo3)"/>	
				</td>
				<th class="thBar">$!lang.getText("물류용기군")</th>
				<td>
					<select name="vrSrchItemGrpId3" id="vrSrchItemGrpId3" class="selectbox">
						<option value="">$!lang.getText("전체")</option>
						#foreach($row in $POOLGRP)
						<option value="$row.ETC1">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>		
				<td></td>
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_searchPool();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>	
				<th class="thBar">$!lang.getText('물류용기')</th>
				<td colspan="2">
					<input type="text" class = "text" style="width: 42%" name="vrSrchItemCd3" id="vrSrchItemCd3" onChange="vrSrchItemCd_OnKillFocus('P')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("POOL3");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId3" id="vrSrchItemId3"> 
					<input type="text" class = "text" style="width: 42%" name="vrSrchItemNm3" id="vrSrchItemNm3" onChange="vrSrchItemNm_OnKillFocus('P')"> 
				</td>
				
				<td></td>
				<td></td>
				<td></td>
				<td></td>		
				<td></td>				
<!-- 				<th class="btnReset"> -->
<!-- 					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_initSer();" title="Reset" role="button" aria-disabled="false"/> -->
<!-- 				</th> -->
			</tr>
		</table>	
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown('M');" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="listPool"></table>
		<div id="pjmapPool"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>
<script type="text/javascript">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

	var listGridPool = new ULNSI_jQGrid();

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArrayPool = [
								'CHK_BOX',
								'ST_GUBUN',
								'',
								'FLAG',
								
								'$!lang.getText("작업일자")',
								'$!lang.getText("화주")',
								'$!lang.getText("상품코드")',
								'$!lang.getText("상품명")',
								'$!lang.getText("입고")',
								
								'$!lang.getText("출고")',
								'$!lang.getText("적재")',
								'$!lang.getText("이벤트출고")',
								'$!lang.getText("재고")',
								'$!lang.getText("점검수량")',
								'$!lang.getText("입수")',
								'UOM',
					            '$!lang.getText("입출고수량")',
								
								
								'RITEM_ID',
								'CUST_ID',
								'CUST_CD',
								'UOM_CD'
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArrayPool = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:40,	align:"center", hidden:true},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true},
		
			{name:'SUBUL_DT',				index:'SUBUL_DT',		width:80,			align:"center"},
			{name:'CUST_NM',				index:'CUST_NM',		width:140,			align:"center"},
			{name:'RITEM_CD',				index:'RITEM_CD',		width:100,			align:"center"},
			{name:'RITEM_NM',				index:'RITEM_NM',		width:200,			align:"left"},
			{name:'IN_QTY',					index:'IN_QTY',			width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'OUT_QTY',				index:'OUT_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STC41',					index:'STC41',			width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'EVENT_QTY',				index:'EVENT_QTY',		width:80,			align:"right", hidden:true,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'STOCK_QTY',				index:'STOCK_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'SURVEY_QTY',				index:'SURVEY_QTY',		width:80,			align:"right", hidden:true,	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UNIT_NM',				index:'UNIT_NM',		width:40,			align:"center"},
			{name:'UOM_NM',					index:'UOM_NM',			width:40,			align:"center"},
			{name:'INOUT_QTY',				index:'INOUT_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			
			{name:'RITEM_ID',				index:'RITEM_ID',					align:"left", hidden:true},
			{name:'CUST_ID',				index:'CUST_ID',					align:"left", hidden:true},
			{name:'CUST_CD',				index:'CUST_CD',					align:"left", hidden:true},
			{name:'UOM_CD',					index:'UOM_CD',						align:"left", hidden:true}
		];
		
	var optionPool = {
			'title' : '$!lang.getText("일별재고내역")',
			'height' : 460,
			'width' : '100%',
			'colName' : colNameArrayPool,
			'colModel' : colModelArrayPool,
		    'pager' : jQuery("#pjmapPool"),
	        'autowidth' : true,
	        'multiselect' : false,
	        'viewrecords' : true,
	        'gridview' : true,
	        'sortable' : true,
	        'shrinkToFit' : true,
	        #if($ss_gird_num != "")
	        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
	        #else
	        'rowList' : [200,300,400],
	        #end
	        'rownumbers' : true,
	        'rownumWidth' : 40,
	        'footerrow' 	: true,
			'userDataOnFooter' : true
	   
	};

	var paramPool = jQuery("form[name='frm_listPool']").serialize();
	var urlPool = "/WMSST051/listPool.action?"+paramPool;
	listGridPool.init(jQuery("#listPool"), optionPool, "", loadCompleteEventCallback3);
	
	function loadCompleteEventCallback3 (data){
		var grid     = jQuery("#listPool");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var SUM_IN_QTY = 0;
		var SUM_OUT_QTY = 0;
		var SUM_STC41 = 0;
		var SUM_STOCK_QTY = 0;
		var SUM_INOUT_QTY = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_IN_QTY = SUM_IN_QTY + Number(gridData[i].IN_QTY);
			SUM_OUT_QTY = SUM_OUT_QTY + Number(gridData[i].OUT_QTY);
			SUM_STC41 = SUM_STC41 + Number(gridData[i].STC41);
			SUM_STOCK_QTY = SUM_STOCK_QTY + Number(gridData[i].STOCK_QTY);
			SUM_INOUT_QTY = SUM_INOUT_QTY + Number(gridData[i].INOUT_QTY);
		}
		
		//합계처리 변수 셋업
		var footData = {
				RITEM_NM : "$!lang.getText('합계')"
				,IN_QTY	: SUM_IN_QTY
				,OUT_QTY : SUM_OUT_QTY
				,STC41 : SUM_STC41
				,STOCK_QTY : SUM_STOCK_QTY
				,INOUT_QTY : SUM_INOUT_QTY
			   };
		grid.jqGrid('footerData','set', footData);
	};
	
</script>