<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    		<input type = "button" name = "btnTem" 				class="INS_AUTH"	value = "$!lang.getText('템플릿입력')"			onclick = "fn_upload();"	 	role="button" aria-disabled="false"/>
	    	</div>
	    </div>	
    </div>
</div>
<div class="patternWrap">
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "10%"/>
				<col width = "100px"/>
				<col width = "17%"/>
				<col width = "100px"/>
				<col width = "17%"/>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "20px"/>
				<col width = "10%"/>
			</colgroup>
			<tbody>
				<tr>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('작업일자')</th>
					<td>
						<input type="month" class = "text" style="width:100%" name="vrWorkDt" id="vrWorkDt" 	maxlength="10" onkeydown="cfn_setDateFld(vrWorkDt)"/>
					</td>
					<th>$!lang.getText('구분')</th>
					<td>
						<select name='vrUserGb' id='vrUserGb' class="selectbox" style="width:100%;">
							#foreach($row in $USERLIST)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('생산성ID(이름)')</th>
					<td>
						<input type="text" class = "text" style="width:100%" name="vrUserId" id="vrUserId"/>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')" onClick="fn_search();" title="검색" role="button" aria-disabled="false"/>
					</th>
				</tr>
			</tbody>
		</table>
		<div id="formData" style="display:none"></div>
	</form>
	
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('저장')" onClick="fn_save();" 		role="button" aria-disabled="false"/>
			<!--<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" 		role="button" aria-disabled="false"/>-->
			<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" 	role="button" aria-disabled="false"/>
        </div>
	</div>
	
	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList" style="height:630px; border:1px solid #b0b0b0;"></div>
	</div>
</div>

<script type="text/javascript">
	jQuery("input:button").button();
	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>