<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("UOM조회")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
<script type="text/javascript">


/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var vrUom1Cd 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];
	var vrStockQty 	= (arrParameter[1] == undefined) ? "" : arrParameter[1];
	var vrRitemId 	= (arrParameter[2] == undefined) ? "" : arrParameter[2];
			
	jQuery("#vrRitemId").val(vrRitemId);
	jQuery("#vrStockQty").val(vrStockQty);
	jQuery("#vrUom1Cd").val(vrUom1Cd);
	// button
	jQuery("input:button").button();
	
	/* UOM목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
	                     '$!lang.getText("UOM명")'
	                    ,'$!lang.getText("기준UOM")'
	                    ,'$!lang.getText("변환UOM")'
	                    ,'$!lang.getText("상품명")'
	                    ,'CONV_QTY'
	                    ,'UOM_ID'
	                    ,'UOM_SEQ'
	                    ,'RITEM_ID'
	                    ,'UOM_SEQ'
	                    ,'STOCK_QTY'
	                    ,'UOM1_CD'
	                    ,'PAT_QTY'
	                    ,'UOM2_CD'
	                    ,'UOM_CD'
	                  ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [					
	                 	  {name : 'UOM_NM'		,index : 'UOM_NM'		,width : 80, 	align : "center"}
	                 	 ,{name : 'UOM1_CODE'	,index : 'UOM1_CODE'	,width : 120, 	align : "left"}
	                 	 ,{name : 'UOM2_CODE'	,index : 'UOM2_CODE'	,width : 120, 	align : "left"}
	                 	 ,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 120, 	align : "left"}
	                 	 ,{name : 'CONV_QTY'	,index : 'CONV_QTY'		,width : 120, 	align : "right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
	                 	 ,{name : 'UOM_ID'		,index : 'UOM_ID'		,width : 120, 	align : "left"}
	                 	 ,{name : 'UOM_SEQ'		,index : 'UOM_SEQ'		,width : 120, 	align : "left"}
	                 	 ,{name : 'RITEM_ID'	,index : 'RITEM_ID'		,width : 120, 	align : "left"}
	                 	 ,{name : 'UOM1_CD'		,index : 'UOM1_CD'		,width : 120, 	align : "left"}
	                 	 ,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 120, 	align : "right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
	                 	 ,{name : 'UOM1_CD'		,index : 'UOM1_CD'		,width : 120, 	align : "left"}
	                 	 ,{name : 'RAT_QTY'		,index : 'RAT_QTY'		,width : 120, 	align : "right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
	                 	 ,{name : 'UOM2_CD'		,index : 'UOM2_CD'		,width : 120, 	align : "left"}
	                 	 ,{name : 'UOM_CD'		,index : 'UOM_CD'		,hidden:true}
 						 ];

	// 그리드 옵션	
	var option = {
					'title'		: '$!lang.getText("UOM목록")'
				  ,'height'		: 300
				  ,'width'		: '98%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")
				      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
				      #else
				      ,'rowList' : [100,200,300]
				      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : false,
				 };
	             
	var url = "/WMSCM101/list.action?vrUom1Cd="+vrUom1Cd+"&vrStockQty="+vrStockQty+"&vrRitemId="+vrRitemId;
	// 그리드 셋팅
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	//  function (objectid, title, height, width, colNameArray, colModelArray, option, pager) {
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
		// if(e.target.type == "checkbox"){
		// if(e.target.closest("td").cellIndex === 1 ){
		if ( jQuery(e.target).closest('td')[0].cellIndex === 1 ){
		    jQuery("#list").jqGrid('resetSelection');
			fn_setData(rowid);
		    return true;
		}
	});
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		fn_setData(rowid);
		fn_close();
	});
	listGrid.setSelectRowEventCallback(function (id) {
		fn_setData(id);
	}); 
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

function fn_setData(id){
	var grid = jQuery("#list");
	
	var uom_id = grid.getCell(id, 'UOM_ID');
	var uom_cd = grid.getCell(id, 'UOM_CD');
	var uom1_cd = grid.getCell(id, 'UOM1_CODE');
	var uom2_cd = grid.getCell(id, 'UOM2_CODE');
	var conv_qty = grid.getCell(id, 'CONV_QTY');

	jQuery('form[name="frm_list"] input[name="UOM_ID"]').val(uom_id);
	jQuery('form[name="frm_list"] input[name="UOM_CD"]').val(uom_cd);
	jQuery('form[name="frm_list"] input[name="UOM1_CODE"]').val(uom1_cd);
	jQuery('form[name="frm_list"] input[name="UOM2_CODE"]').val(uom2_cd);
	jQuery('form[name="frm_list"] input[name="CONV_QTY"]').val(conv_qty);
}

/*검색*/
//UOM코드 입력부분 -> 왜 글은 UOM코드 인데 검색조건은 왜 UOMID인지??
function fn_mainSrch(op,op1){
	var grid = jQuery("#list");
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSCM101/list.action?"+param;
	listGrid.search(param, url, op, op1);
}

//부모창으로 값 보내기
function fn_close(err){
	var arg_func  = jQuery('form[name="frm_list"] input[name="func"]').val();
	var opnr_func = eval('opener.' + arg_func);
	var arr = new Array;
	
	if(jQuery('form[name="frm_list"] input[name="UOM_CD"]').val() != jQuery('form[name="frm_list"] input[name="UOM1_CODE"]').val()){
		alert("상품 UOM과 기준 UOM이 동일한 제품만 변경이 가능 합니다.");
		return false;
	}else if(jQuery('form[name="frm_list"] input[name="CONV_QTY"]').val() == ""){
		alert("상품 재고가 존재하지 않습니다.");
		return false;
	}
	
	if(jQuery('form[name="frm_list"] input[name="UOM_ID"]').val() != ""){
        var info	= new Object();
        info.uom_id = jQuery('form[name="frm_list"] input[name="UOM_ID"]').val();
        info.uom2_code = jQuery('form[name="frm_list"] input[name="UOM2_CODE"]').val();
        arr[0]= info;
    	if(arr != null){
    		opnr_func(arr);
    	}    	
        self.close();  
	}else{
		if(err != null){
			alert("$!lang.getText('세션정보가없습니다.')");
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('UOM을확인해주세요')");  
			return;	
		}
	}
}

var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}

</script>


<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
              	$!lang.getText("UOM조회")
            </div>         
        </div>
         
         <form name="frm_list">
			<input type='hidden' name='func' id='func' class = "text" value='$!request.getParameter("func")'/>
			<input type='hidden' name='vrUom1Cd' id='vrUom1Cd'/>
			<input type='hidden' name='vrStockQty' id='vrStockQty'/>
			<input type='hidden' name='vrRitemId' id='vrRitemId'/>
			
			<input type='hidden' name='UOM_ID' id='UOM_ID'/>
			<input type='hidden' name='UOM_CD' id='UOM_CD'/>
			<input type='hidden' name='UOM1_CODE' id='UOM1_CODE'/>
			<input type='hidden' name='UOM2_CODE' id='UOM2_CODE'/>
			<input type='hidden' name='CONV_QTY' id='CONV_QTY'/>

			<table class="search" id="srchBox">
				<colgroup>
					<col width="100px" />
					<col width="28%" />
					<col width="100px" />
					<col width="*" />
					<col width="40px" />
				</colgroup>
				<tr>
					<th>$!lang.getText("UOM코드")</th>
					<td>
						<input type='text' class='text' name='vrSrchUomId' id='vrSrchUomId' style="ime-mode:disabled"/>
					</td>
					<th>$!lang.getText("UOM명")</th>
					<td>
						<input type='text' class='text' name='vrSrchUomNm' id='vrSrchUomNm' style="ime-mode:active"/>
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainSrch();" title="Search" role="button" aria-disabled="false"/>
					</th> 				</tr>
			</table>
		</form>
		 <div class="btnArea">
            <div class="btnAreaRight">
				<input type="button" class = "btnSave" value='$!lang.getText("선택")' onclick="fn_close()" 				role="button" aria-disabled="false" />
				<input type="button" class = "btnEtc" value='$!lang.getText("닫기")' onclick="javascript:self.close();"	role="button" aria-disabled="false" />
            </div>
        </div>
	</div>
	
    <div class="popupContent">	
		<div class="list_box">
			<table id="list"></table>
			<div id="pjmap"></div>
		</div>
    </div>
</div>


</body>
</html>