<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("도크장조회")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))	
<script type="text/javascript">


/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var vrSrchDockNo 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];
	var vrSrchDockNm 	= (arrParameter[1] == undefined) ? "" : arrParameter[1];
	
	jQuery('form[name="frm_list"] input[name="vrSrchDockNo"]').val(vrSrchDockNo);
	jQuery('form[name="frm_list"] input[name="vrSrchDockNm"]').val(vrSrchDockNm);
	
	// button
	jQuery("input:button").button();
	
	/* 도크장목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
	                     '$!lang.getText("도크장번호")'		
	                    ,'$!lang.getText("도크장명")'
	                    ,'DOCK_CD'
	                  ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [					
	                 	  {name : 'DOCK_NO'	,index : 'DOCK_NO'	,width : 100, align : "center"}
	                 	 ,{name : 'DOCK_NM'	,index : 'DOCK_NM'	,width : 100, align : "left"}
	                 	 ,{name : 'DOCK_CD'	,index : 'DOCK_CD'	,width : 100, hidden : true}
 						 ];

	// 그리드 옵션	
	var option = {
					'title'		: '$!lang.getText("도크장목록")'
				  ,'height'		: 280
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")
				      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
				      #else
				      ,'rowList' : [100,200,300]
				      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	             
	var url = "/WMSCM120/list.action?vrSrchDockNo="+vrSrchDockNo+"&vrSrchDockNm"+vrSrchDockNm;
	// 그리드 셋팅
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	//  function (objectid, title, height, width, colNameArray, colModelArray, option, pager) {
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
		// if(e.target.type == "checkbox"){
		// if(e.target.closest("td").cellIndex === 1 ){
		if ( jQuery(e.target).closest('td')[0].cellIndex === 1 ){
		    jQuery("#list").jqGrid('resetSelection');
		    fn_setData(rowid);
		    return true;
		}
	});
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		fn_setData(rowid);
		fn_close();
	});
	listGrid.setSelectRowEventCallback(function (id) {
		fn_setData(id);
	}); 
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

function fn_setData(id){
	var grid = jQuery("#list");
	
	var dock_no = grid.getCell(id, 'DOCK_NO');
	var dock_nm = grid.getCell(id, 'DOCK_NM');
	var dock_cd = grid.getCell(id, 'DOCK_CD');
	
	jQuery('form[name="frm_list"] input[name="DOCK_NO"]').val(dock_no);
	jQuery('form[name="frm_list"] input[name="DOCK_NM"]').val(dock_nm);
	jQuery('form[name="frm_list"] input[name="DOCK_CD"]').val(dock_cd);
}

function fn_mainSrch(op,op1){
	var grid = jQuery("#list");
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSCM120/list.action?"+param;
	listGrid.search(param, url, op, op1);
}

//부모창으로 값 보내기
function fn_close(err){
	var arg_func  = jQuery('form[name="frm_list"] input[name="func"]').val();
	var opnr_func = eval('opener.' + arg_func);
	var arr 		= new Array;
	
	if(jQuery('form[name="frm_list"] input[name="DOCK_NO"]').val() != ""){
        var info	= new Object();
        info.dock_no = jQuery('form[name="frm_list"] input[name="DOCK_NO"]').val();
        info.dock_nm = jQuery('form[name="frm_list"] input[name="DOCK_NM"]').val();
        info.dock_cd = jQuery('form[name="frm_list"] input[name="DOCK_CD"]').val();
        arr[0]= info;
    	if(arr != null){
    		opnr_func(arr);
    	}    	
        self.close();  
	}else{
		if(err != null){
			alert("$!lang.getText('세션정보가없습니다.')");
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('도크장을확인해주세요')");  
			return;
		}
	}
}

var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}

</script>


<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
              	 $!lang.getText("도크장조회")
            </div>     
        </div>
         
         <form name="frm_list">
			<input type='hidden' name='func' id='func' value='$!request.getParameter("func")'/>
			
			<input type='hidden' name='DOCK_NO' class = "text"/>
			<input type='hidden' name='DOCK_NM' class = "text"/>
			<input type='hidden' name='DOCK_CD' class = "text"/>
			
			<table class="search" id="srchBox">
				<colgroup>
					<col width="100" />
					<col width="20%" />
					<col width="100" />
					<col width="20%" />
					<col width="40px" />
				</colgroup>
				<tr>
					<th>$!lang.getText("도크장번호")</th>
					<td>
						<input type='text' class='text' name='vrSrchDockNo' id='vrSrchDockNo'/>
					</td>
					<th>$!lang.getText("도크장명")</th>
					<td>
						<input type='text' class='text' name='vrSrchDockNm' id='vrSrchDockNm' style="ime-mode:active"/>
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainSrch();" title="Search" role="button" aria-disabled="false"/>
					</th> 
				</tr>
			</table>
		</form>
		<div class="btnArea">      
            <div class="btnAreaRight">
				<input type="button" value='$!lang.getText("선택")' class = "btnSave" onclick="fn_close()"					role="button" aria-disabled="false" />
				<input type="button" value='$!lang.getText("닫기")' class = "btnEtc" onclick="javascript:self.close();"	role="button" aria-disabled="false" />
            </div>
        </div>
	</div>
	
    <div class="popupContent">	
		<div class="list_box">
			<table id="list"></table>
			<div id="pjmap"></div>
		</div>
    </div>
</div>

</body>
</html>