<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('상품조회')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var txtSrchItemCd 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];		//상품코드
	var txtSrchItemNm 	= (arrParameter[1] == undefined) ? "" : arrParameter[1];		//상품명
	var vrCustId 		= (arrParameter[2] == undefined) ? "" : arrParameter[2];		//고객사아이디
	var vrWhId 			= (arrParameter[3] == undefined) ? "" : arrParameter[3];		//창고아이디
	var vrViewSetItem 	= (arrParameter[4] == undefined) ? "" : arrParameter[4];		//SET상품을 보여줄 것인지 여부
	var vrViewAll 		= (arrParameter[5] == undefined) ? "" : arrParameter[5];		//재고유무 관계없이 표시여부
	var vrItemType 		= (arrParameter[6] == undefined) ? "" : arrParameter[6];		//상품타입 (상픔,물류용기)
	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(txtSrchItemCd);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(txtSrchItemNm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(vrCustId);
	jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(vrWhId);
	jQuery('form[name="frm_list"] input[name="vrViewSetItem"]').val(vrViewSetItem);
	jQuery('form[name="frm_list"] input[name="vrViewAll"]').val(vrViewAll);
	jQuery('form[name="frm_list"] input[name="vrItemType"]').val(vrItemType);
	
	if("$ss_svc_no" == "0000003882"){
		jQuery('form[name="frm_list"] select[name="vrSrchSetItemYn"]').val('N').prop("selected", true);
	}
	
	// button
	jQuery("input:button").button();
	
	/* 상품정보목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [ 
	                     '$!lang.getText("화주")'		//CUST_NM
	                    ,'$!lang.getText("상품군")'		//ITEM_GRP_ID
	                    ,'$!lang.getText("상품코드")'	//ITEM_CODE
	                    ,'$!lang.getText("상품명")'		//ITEM_KOR_NM
						,'$!lang.getText("박스바코드")'	//BOX_BARCODE
	                    ,'$!lang.getText("업체명")'		//MAKER_NM
	                    ,'$!lang.getText("현재고")'		//STOCK_QTY
	                    ,'$!lang.getText("불량품")'		//BAD_QTY
	                    ,'UOM'		//UOM_NM
	                    ,'$!lang.getText("단가")'		//UNIT_PRICE
	                    ,'$!lang.getText("창고")'		//WH_NM	
	                    
	                    ,'RITEM_ID'
	                    ,'ITEM_ENG_NM'
	                    ,'REP_UOM_ID'
	                    ,'CUST_ID'
	                    ,'UOM_CD'
	                    ,'UOM_ID'
	                    ,'REP_UOM_CD'
	                    ,'REP_UOM_NM'
	                  ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [
						  {name : 'CUST_NM'		,index : 'CUST_NM'		,width : 100	}
	                 	 ,{name : 'ITEM_GRP_ID'	,index : 'ITEM_GRP_ID'	,width : 80	,formatter : 'select'	,edittype : "select"	,editoptions : {value :":;"+#set($size = $ITEMGRP.size()) #set($cnt = 1) "#foreach($edit in $ITEMGRP) $edit.CODE_CD:$edit.CODE_NM#if($cnt < $size);#set($cnt = $cnt+1)#end#end"}}
	                 	 ,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 120	}
 						 ,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 200	}
						 ,{name : 'BOX_BAR_CD'	,index : 'BOX_BAR_CD'	,width : 150	}
						 ,{name : 'MAKER_NM'	,index : 'MAKER_NM'		,width : 150	}
 						 ,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'BAD_QTY'		,index : 'BAD_QTY'		,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'UOM_NM'		,index : 'UOM_NM'		,width : 80		,align : "center"}
 						 ,{name : 'UNIT_PRICE'	,index : 'UNIT_PRICE'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'WH_NM'		,index : 'WH_NM'		,width : 180	}
 						 
 						 ,{name : 'RITEM_ID'	,index : 'RITEM_ID'		,width : 100	,hidden : true}
 						 ,{name : 'ITEM_ENG_NM'	,index : 'ITEM_ENG_NM'	,width : 100	,hidden : true}
 						 ,{name : 'REP_UOM_ID'	,index : 'REP_UOM_ID'	,width : 100	,hidden : true}
 						 ,{name : 'CUST_ID'		,index : 'CUST_ID'		,width : 100	,hidden : true}
 						 ,{name : 'UOM_CD'		,index : 'UOM_CD'		,width : 100	,hidden : true}
 						 ,{name : 'UOM_ID'		,index : 'UOM_ID'		,width : 100	,hidden : true}
 						 ,{name : 'REP_UOM_CD'	,index : 'REP_UOM_CD'	,width : 100	,hidden : true}
 						 ,{name : 'REP_UOM_NM'	,index : 'REP_UOM_NM'	,width : 100	,hidden : true}	 
 						 
 						 ];

	// 그리드 옵션	
	var option = {
			 		'title'		: "$!lang.getText('상품목록')"
				  ,'height'		: 280
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")
				      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*5,$ss_gird_num*10]
				      #else
				      ,'rowList' : [100,200,300,500,1000]
				      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
	              ,'shrinkToFit': false
				 };
	                
	                
	var vrSrchSetItemYn = jQuery('form[name="frm_list"] select[name="vrSrchSetItemYn"]').val();
	url = "/WMSCM091/list.action?vrViewAll="+vrViewAll+"&vrSrchCustId="+vrCustId+"&vrSrchItemCd="+txtSrchItemCd+"&vrSrchItemNm="+txtSrchItemNm+"&vrViewSetItem="+vrViewSetItem+"&vrSrchWhId="+vrWhId+"&vrItemType="+vrItemType+"&vrSrchSetItemYn="+vrSrchSetItemYn;
	// 그리드 셋팅
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	//  function (objectid, title, height, width, colNameArray, colModelArray, option, pager) {
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
		// if(e.target.type == "checkbox"){
		// if(e.target.closest("td").cellIndex === 1 ){
		if ( jQuery(e.target).closest('td')[0].cellIndex === 1 ){
		    jQuery("#list").jqGrid('resetSelection');
			fn_setData(rowid);
		    return true;
		}
	});
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		fn_setData(rowid);
		fn_close();
	});
	listGrid.setSelectRowEventCallback(function (id) {
		fn_setData(id);
	}); 
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

function fn_setData(id){
	var grid = jQuery("#list");
	
	var ritem_id 		= grid.getCell(id, 'RITEM_ID');
	var item_code 		= grid.getCell(id, 'ITEM_CODE');
	var item_kor_nm 	= grid.getCell(id, 'ITEM_KOR_NM');
	var uom_id 			= grid.getCell(id, 'UOM_ID');
	var time_period_day = grid.getCell(id, 'TIME_PERIOD_DAY');
	var stock_qty 		= grid.getCell(id, 'STOCK_QTY');
	var cust_id 		= grid.getCell(id, 'CUST_ID');
	var uom_cd 			= grid.getCell(id, 'UOM_CD');
	var uom_nm 			= grid.getCell(id, 'UOM_NM');
	var unit_price 		= grid.getCell(id, 'UNIT_PRICE');
	
	jQuery('form[name="frm_list"] input[name="RITEM_ID"]'		).val(ritem_id);
	jQuery('form[name="frm_list"] input[name="ITEM_CODE"]'		).val(item_code);
	jQuery('form[name="frm_list"] input[name="ITEM_KOR_NM"]'	).val(item_kor_nm);
	jQuery('form[name="frm_list"] input[name="UOM_ID"]'			).val(uom_id);
	jQuery('form[name="frm_list"] input[name="TIME_PERIOD_DAY"]').val(time_period_day);
	jQuery('form[name="frm_list"] input[name="STOCK_QTY"]'		).val(stock_qty);
	jQuery('form[name="frm_list"] input[name="CUST_ID"]'		).val(cust_id);
	jQuery('form[name="frm_list"] input[name="UOM_CD"]'			).val(uom_cd);
	jQuery('form[name="frm_list"] input[name="UOM_NM"]'			).val(uom_nm);
	jQuery('form[name="frm_list"] input[name="UNIT_PRICE"]'		).val(unit_price);
}

function fn_mainSrch(op,op1){	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSCM091/list.action?"+param;
	listGrid.search(param, url, op, op1);
}

//부모창으로 값 보내기
function fn_close(err){
	var arg_func  = jQuery('form[name="frm_list"] input[name="func"]').val();
	var opnr_func = eval('opener.' + arg_func);
	var arr 		= new Array;
	
	if(jQuery('form[name="frm_list"] input[name="RITEM_ID"]').val() != ""){
        var info			 = new Object();
        info.ritem_id 		 = jQuery('form[name="frm_list"] input[name="RITEM_ID"]'			).val();
        info.item_code 		 = jQuery('form[name="frm_list"] input[name="ITEM_CODE"]'		).val();
        info.item_kor_nm 	 = jQuery('form[name="frm_list"] input[name="ITEM_KOR_NM"]'		).val();
        info.uom_id 		 = jQuery('form[name="frm_list"] input[name="UOM_ID"]'			).val();
        info.time_period_day = jQuery('form[name="frm_list"] input[name="TIME_PERIOD_DAY"]'	).val();
        info.stock_qty 		 = jQuery('form[name="frm_list"] input[name="STOCK_QTY"]'		).val();
        info.cust_id 		 = jQuery('form[name="frm_list"] input[name="CUST_ID"]'			).val();
        info.uom_cd 		 = jQuery('form[name="frm_list"] input[name="UOM_CD"]'			).val();
        info.uom_nm 		 = jQuery('form[name="frm_list"] input[name="UOM_NM"]'			).val();
        info.unit_price 	 = jQuery('form[name="frm_list"] input[name="UNIT_PRICE"]'		).val();
        arr[0]= info;
    	if(arr != null){
    		opnr_func(arr);
    	}    	
        self.close();  
	}else{
		if(err != null){
			alert("$!lang.getText('세션정보가없습니다.')");
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('상품을확인해주세요')");  
			return;
		}
	}
}
var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}

//팝업 그리드 리사이즈
jQuery(window).on('resize.jqGrid',function(){
	jQuery("#list").jqGrid('setGridWidth',jQuery(".popupContent").width());
	});
</script>


<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
              	 $!lang.getText('상품조회')
            </div>            
            <div class="btnAreaRight">    			
				<input type="button" class = "btnSave" value="$!lang.getText('선택')" onclick="fn_close()" 	 role="button" aria-disabled="false" />
				<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"	 role="button" aria-disabled="false" />
            </div>
        </div>
         
         <form name="frm_list">
			<input type='hidden' name='func'			id='func'	value='$!request.getParameter("func")'/>
			<input type='hidden' name='vrSrchCustId' 	id='vrSrchCustId' />
			<input type='hidden' name='vrSrchWhId' 		id='vrSrchWhId'   />
			<input type='hidden' name='vrViewSetItem' 	id='vrViewSetItem'/>
			<input type='hidden' name='vrViewAll' 		id='vrViewAll'     />
			<input type='hidden' name='vrItemType' 		id='vrItemType'     />
			
			<input type='hidden' name='RITEM_ID'/>
			<input type='hidden' name='ITEM_CODE'/>
			<input type='hidden' name='ITEM_KOR_NM'/>
			<input type='hidden' name='UOM_ID'/>
			<input type='hidden' name='TIME_PERIOD_DAY'/>
			<input type='hidden' name='STOCK_QTY'/>
			<input type='hidden' name='CUST_ID'/>
			<input type='hidden' name='UOM_CD'/>
			<input type='hidden' name='UOM_NM'/>
			<input type='hidden' name='UNIT_PRICE'/>
			
			<table class="search" id="srchBox">
				<colgroup>
					<col width="60px" />
					<col width="18%" />
					<col width="60px" />
					<col width="18%" />
					<col width="60px" />
					<col width="18%" />
					<col width="60px" />
					<col width="8%" />
					<col width="40px" />
				</colgroup>
				<tr>
					<th>$!lang.getText('상품코드')</th>
					<td>
						<input type='text' class='text' name='vrSrchItemCd' id='vrSrchItemCd' style="ime-mode:disabled" onKeyPress="if(event.keyCode==13) fn_mainSrch();"/>
					</td>
					<th>$!lang.getText('상품명')</th>
					<td>
						<input type='text' class='text' name='vrSrchItemNm' id='vrSrchItemNm' style="ime-mode:active" onKeyPress="if(event.keyCode==13) fn_mainSrch();"/>
					</td>
					<th>$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrp' id='vrSrchItemGrp' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					
					<th>$!lang.getText('임가공')</th>
					<td>
						<select name='vrSrchSetItemYn' id='vrSrchSetItemYn' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="Y">$!lang.getText('Y')</option>
							<option value="N">$!lang.getText('N')</option>
						</select>
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainSrch();" title="Search" role="button" aria-disabled="false"/>
					</th>  
				</tr>
			</table>
		</form>
		
	</div>
	
    <div class="popupContent">	
		<div class="list_box marT0">
			<table id="list"></table>
			<div id="pjmap"></div>
		</div>
    </div>
</div>
</body>
</html>