<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('상품조회')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var txtSrchItemCd 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];		//상품코드
	var txtSrchItemNm 	= (arrParameter[1] == undefined) ? "" : arrParameter[1];		//상품명
	var vrCustCd 		= (arrParameter[2] == undefined) ? "" : arrParameter[2];		//고객사아이디
	var vrWhId 			= (arrParameter[3] == undefined) ? "" : arrParameter[3];		//창고아이디
	var vrViewSetItem 	= (arrParameter[4] == undefined) ? "" : arrParameter[4];		//SET상품을 보여줄 것인지 여부
	var vrViewAll 		= (arrParameter[5] == undefined) ? "" : arrParameter[5];		//재고유무 관계없이 표시여부 
	var vrColCustLotNo	= (arrParameter[5] == undefined) ? "" : arrParameter[6];		//LOT번호 유무
	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(txtSrchItemCd);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(txtSrchItemNm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(vrCustCd);
	jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(vrWhId);
	jQuery('form[name="frm_list"] input[name="vrViewSetItem"]').val(vrViewSetItem);
	jQuery('form[name="frm_list"] input[name="vrViewAll"]').val(vrViewAll);
	jQuery('form[name="frm_list"] input[name="vrColCustLotNo"]').val(vrColCustLotNo);
	
	// button
	jQuery("input:button").button();
	
	/* 상품정보목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
                         '$!lang.getText("LOT_NO")'		//CUST_LOT_NO
	                    ,'$!lang.getText("상품코드")'	//ITEM_CODE
	                    ,'$!lang.getText("상품명")'		//ITEM_KOR_NM
	                    ,'$!lang.getText("가용재고")'		//STOCK_ABLE_QTY
	                    ,'$!lang.getText("현재고")'		//STOCK_QTY
	                    ,'$!lang.getText("불량품")'		//BAD_QTY
	                    ,'UOM'		//UOM_NM
	                    ,'$!lang.getText("BOX환산수량")'		//CONV_BOX_QTY
	                    ,'$!lang.getText("PLT환산수량")'		//CONV_PLT_QTY
						,'$!lang.getText("BOX수량")'			//BOX_QTY
	                    ,'$!lang.getText("PLT수량")'			//PLT_QTY
	                    ,'$!lang.getText("단가")'		//UNIT_PRICE
	                    ,'$!lang.getText("상품군")'		//ITEM_GRP_ID
	                    ,'$!lang.getText("창고")'		//WH_NM
	                    ,'$!lang.getText("LOT_USE_YN")'		//LOT_USE_YN	
	                    
	                    ,'RITEM_ID'
	                    ,'ITEM_ENG_NM'
	                    ,'REP_UOM_ID'
	                    ,'CUST_ID'
	                    ,'UOM_CD'
	                    ,'UOM_ID'
	                    ,'REP_UOM_CD'
	                    ,'REP_UOM_NM'
	                    ,'TOTAL_STOCK_QTY'
	                  ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [
                          {name : 'CUST_LOT_NO'	,index : 'CUST_LOT_NO'	,width : 140     }
	                 	 ,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 160	}
 						 ,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 180	}
 						 ,{name : 'STOCK_ABLE_QTY'	,index : 'STOCK_ABLE_QTY'	,width : 60		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 60		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'BAD_QTY'		,index : 'BAD_QTY'		,width : 60		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'UOM_NM'		,index : 'UOM_NM'		,width : 40		,align : "center"}
 					 	 ,{name : 'CONV_BOX_QTY'	,index : 'CONV_BOX_QTY'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 					 	 ,{name : 'CONV_PLT_QTY'	,index : 'CONV_PLT_QTY'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						 ,{name : 'BOX_QTY'	,index : 'BOX_QTY'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 					 	 ,{name : 'PLT_QTY'	,index : 'PLT_QTY'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'UNIT_PRICE'	,index : 'UNIT_PRICE'	,width : 60		,align : "right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'ITEM_GRP_ID'	,index : 'ITEM_GRP_ID'	,width : 80	,formatter : 'select'	,edittype : "select"	,editoptions : {value :":;"+#set($size = $ITEMGRP.size()) #set($cnt = 1) "#foreach($edit in $ITEMGRP) $edit.CODE_CD:$edit.CODE_NM#if($cnt < $size);#set($cnt = $cnt+1)#end#end"}}
 						 ,{name : 'WH_NM'		,index : 'WH_NM'		,width : 180	}

 						 ,{name : 'LOT_USE_YN'	,index : 'LOT_USE_YN'	,hidden : true}
 						 ,{name : 'RITEM_ID'	,index : 'RITEM_ID'		,hidden : true}
 						 ,{name : 'ITEM_ENG_NM'	,index : 'ITEM_ENG_NM'	,hidden : true}
 						 ,{name : 'REP_UOM_ID'	,index : 'REP_UOM_ID'	,hidden : true}
 						 ,{name : 'CUST_ID'		,index : 'CUST_ID'		,hidden : true}
 						 ,{name : 'UOM_CD'		,index : 'UOM_CD'		,hidden : true}
 						 ,{name : 'UOM_ID'		,index : 'UOM_ID'		,hidden : true}
 						 ,{name : 'REP_UOM_CD'	,index : 'REP_UOM_CD'	,hidden : true}
 						 ,{name : 'REP_UOM_NM'	,index : 'REP_UOM_NM'	,hidden : true}	 
 						 ,{name : 'TOTAL_STOCK_QTY'	,index : 'TOTAL_STOCK_QTY'	,hidden : true ,width : 60		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ];

	// 그리드 옵션	
	var option = {
			 		'title'		: "$!lang.getText('상품목록')"
				  ,'height'		: 280
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")
				      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*5,$ss_gird_num*10]
				      #else
				      ,'rowList' : [100,200,300,500,1000]
				      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'shrinkToFit' : false
				  ,'jsonReader'	: {repeatitems : false}
				 };
	                
	url = "/WMSCM091/listGrid.action?vrViewAll="+vrViewAll+"&vrSrchCustCd="+vrCustCd+"&vrSrchItemCd="+txtSrchItemCd+"&vrSrchItemNm="+txtSrchItemNm+"&vrViewSetItem="+vrViewSetItem+"&vrSrchWhId="+vrWhId+"&vrColCustLotNo="+vrColCustLotNo;
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	// 그리드 셋팅
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		jQuery("#list").setSelection(rowid, true);
		fn_close();
	});
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

function fn_mainSrch(op,op1){	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSCM091/listGrid.action?"+param;
	listGrid.search(param, url, op, op1);
}

//부모창으로 값 보내기
function fn_close(err){
	var arg_func  = jQuery('form[name="frm_list"] input[name="func"]').val();
	var opnr_func = eval('opener.' + arg_func);
	var arr 		= new Array;
	var grid 		= jQuery("#list");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
// 	if(confirm("$!lang.getText('등록하시겠습니까')")){
		if(selectIds != ""){
			for(var i = 0 ; i < selectIds.length ; i++){
				var info = new Object();
				info.ritem_id 		= grid.getCell(selectIds[i], "RITEM_ID");
				info.item_code 		= grid.getCell(selectIds[i], "ITEM_CODE");
				info.item_kor_nm 	= grid.getCell(selectIds[i], "ITEM_KOR_NM");
				info.uom_id 		= grid.getCell(selectIds[i], "UOM_ID");
				info.time_period_day= grid.getCell(selectIds[i], "TIME_PERIOD_DAY");
				info.stock_able_qty = grid.getCell(selectIds[i], "STOCK_ABLE_QTY");
				info.stock_qty 		= grid.getCell(selectIds[i], "STOCK_QTY");
				info.cust_id 		= grid.getCell(selectIds[i], "CUST_ID");
				info.uom_cd 		= grid.getCell(selectIds[i], "UOM_CD");
				info.uom_nm 		= grid.getCell(selectIds[i], "UOM_NM");
				info.unit_price 	= grid.getCell(selectIds[i], "UNIT_PRICE");
				info.wh_nm			= grid.getCell(selectIds[i], "WH_NM");
				info.cust_lot_no	= grid.getCell(selectIds[i], "CUST_LOT_NO");
				info.total_stock_qty= grid.getCell(selectIds[i], "TOTAL_STOCK_QTY");
				if(grid.getCell(selectIds[i], "LOT_USE_YN") == 'Y'){
					info.cust_lot_no= grid.getCell(selectIds[i], "CUST_LOT_NO");
				}
				arr[i] = info;
			}
		}else{
			var info = new Object();
			info.ritem_id 		= "";
			info.item_code 		= "";
			info.item_kor_nm 	= "";
			info.uom_id 		= "";
			info.time_period_day= "";
			info.stock_able_qty = "";
			info.stock_qty 		= "";
			info.cust_id 		= "";
			info.uom_cd 		= "";
			info.uom_nm 		= "";
			info.unit_price 	= "";
			info.wh_nm			= "";
			info.cust_lot_no	= "";
			info.total_stock_qty= "";
			
			arr[0] = info;
		}
		if(arr != null){
			opnr_func(arr);
		}
		self.close();
// 	}
	
}

</script>


<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
              	 $!lang.getText('상품조회')
            </div>       
        </div>
         
         <form name="frm_list">
         	<input type='hidden' name='func'			id='func'	value='$!request.getParameter("func")'/>
			<input type='hidden' name='vrSrchCustCd' 	id='vrSrchCustCd' />
			<input type='hidden' name='vrSrchWhId' 		id='vrSrchWhId'   />
			<input type='hidden' name='vrViewSetItem' 	id='vrViewSetItem'/>
			<input type='hidden' name='vrViewAll' 		id='vrViewAll'     />
			<!--<input type='hidden' name='vrColCustLotNo' 	id='vrColCustLotNo'  />-->
			
			<table class="search" id="srchBox">
				<colgroup>
					<col width="60" />
					<col width="15%" />
					<col width="60" />
					<col width="15%" />
					<col width="60" />
					<col width="15%" />
					<col width="60" />
					<col width="15%" />
					<col width="40PX" />
				</colgroup>
				<tr>
					<th>LOT.NO</th>
					<td>
						<input type='text' class='text' name='vrColCustLotNo' id='vrColCustLotNo' style="ime-mode:disabled" onKeyPress="if(event.keyCode==13) fn_mainSrch();"/>
					</td>
					<th>$!lang.getText('상품코드')</th>
					<td>
						<input type='text' class='text' name='vrSrchItemCd' id='vrSrchItemCd' style="ime-mode:disabled" onKeyPress="if(event.keyCode==13) fn_mainSrch();"/>
					</td>
					<th>$!lang.getText('상품명')</th>
					<td>
						<input type='text' class='text' name='vrSrchItemNm' id='vrSrchItemNm' style="ime-mode:active" onKeyPress="if(event.keyCode==13) fn_mainSrch();"/>
					</td>
					<th>$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrp' id='vrSrchItemGrp' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainSrch();" title="Search" role="button" aria-disabled="false"/>
					</th> 
				</tr>
			</table>
		</form>
		<div class="btnArea">           
            <div class="btnAreaRight">    			
				<input type="button" class = "btnSave" value="$!lang.getText('선택')" onclick="fn_close()" 	 role="button" aria-disabled="false" />
				<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"	 role="button" aria-disabled="false" />
            </div>
        </div>
	</div>
	
    <div class="popupContent">	
		<div class="list_box">
			<table id="list"></table>
			<div id="pjmap"></div>
		</div>
    </div>
</div>

</body>
</html>