<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('상품조회')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var txtSrchItemCd 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];		//상품코드
	var txtSrchItemNm 	= (arrParameter[1] == undefined) ? "" : arrParameter[1];		//상품명
	var vrCustId 		= (arrParameter[2] == undefined) ? "" : arrParameter[2];		//고객사아이디
	var vrWhId 			= (arrParameter[3] == undefined) ? "" : arrParameter[3];		//창고아이디
	var vrViewSetItem 	= (arrParameter[4] == undefined) ? "" : arrParameter[4];		//SET상품을 보여줄 것인지 여부
	var vrViewAll 		= (arrParameter[5] == undefined) ? "" : arrParameter[5];		//재고유무 관계없이 표시여부
	var vrItemType 		= (arrParameter[6] == undefined) ? "" : arrParameter[6];		//상품타입 (상픔,물류용기)
	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(txtSrchItemCd);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(txtSrchItemNm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(vrCustId);
	jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(vrWhId);
	jQuery('form[name="frm_list"] input[name="vrViewSetItem"]').val(vrViewSetItem);
	jQuery('form[name="frm_list"] input[name="vrViewAll"]').val(vrViewAll);
	jQuery('form[name="frm_list"] input[name="vrItemType"]').val(vrItemType);
	
	// button
	jQuery("input:button").button();
	
	/* 상품정보목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
	                     '$!lang.getText("상품군")'		//ITEM_GRP_ID
	                    ,'$!lang.getText("상품코드")'	//ITEM_CODE
	                    ,'$!lang.getText("상품명")'		//ITEM_KOR_NM
	                    ,'$!lang.getText("현재고")'		//STOCK_QTY
	                    ,'$!lang.getText("불량품")'		//BAD_QTY
	                    ,'UOM'		//UOM_NM
	                    ,'$!lang.getText("단가")'		//UNIT_PRICE
	                    ,'$!lang.getText("창고")'		//WH_NM	
	                    
	                    ,'RITEM_ID'
	                    ,'ITEM_ENG_NM'
	                    ,'REP_UOM_ID'
	                    ,'CUST_ID'
	                    ,'UOM_CD'
	                    ,'UOM_ID'
	                    ,'REP_UOM_CD'
	                    ,'REP_UOM_NM'
	                  ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [					
	                 	  {name : 'ITEM_GRP_ID'	,index : 'ITEM_GRP_ID'	,width : 80	,formatter : 'select'	,edittype : "select"	,editoptions : {value :":;"+#set($size = $ITEMGRP.size()) #set($cnt = 1) "#foreach($edit in $ITEMGRP) $edit.CODE_CD:$edit.CODE_NM#if($cnt < $size);#set($cnt = $cnt+1)#end#end"}}
	                 	 ,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 120	}
 						 ,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 200	}
 						 ,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'BAD_QTY'		,index : 'BAD_QTY'		,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'UOM_NM'		,index : 'UOM_NM'		,width : 80		,align : "center"}
 						 ,{name : 'UNIT_PRICE'	,index : 'UNIT_PRICE'	,width : 80		,align : "right",	formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
 						 ,{name : 'WH_NM'		,index : 'WH_NM'		,width : 180	}
 						 
 						 ,{name : 'RITEM_ID'	,index : 'RITEM_ID'		,width : 100	,hidden : true}
 						 ,{name : 'ITEM_ENG_NM'	,index : 'ITEM_ENG_NM'	,width : 100	,hidden : true}
 						 ,{name : 'REP_UOM_ID'	,index : 'REP_UOM_ID'	,width : 100	,hidden : true}
 						 ,{name : 'CUST_ID'		,index : 'CUST_ID'		,width : 100	,hidden : true}
 						 ,{name : 'UOM_CD'		,index : 'UOM_CD'		,width : 100	,hidden : true}
 						 ,{name : 'UOM_ID'		,index : 'UOM_ID'		,width : 100	,hidden : true}
 						 ,{name : 'REP_UOM_CD'	,index : 'REP_UOM_CD'	,width : 100	,hidden : true}
 						 ,{name : 'REP_UOM_NM'	,index : 'REP_UOM_NM'	,width : 100	,hidden : true}	 
 						 ];

	// 그리드 옵션	
	var option = {
			 		'title'		: "$!lang.getText('상품목록')"
				  ,'height'		: 280
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")
				      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
				      #else
				      ,'rowList' : [100,200,300]
				      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
	              ,'shrinkToFit': false
				 };
	                
	var url = "/WMSCM810M1/list.action?vrViewAll="+vrViewAll+"&vrSrchCustId="+vrCustId+"&vrSrchItemCd="+txtSrchItemCd+"&vrSrchItemNm="+txtSrchItemNm+"&vrViewSetItem="+vrViewSetItem+"&vrSrchWhId="+vrWhId+"&vrItemType="+vrItemType;
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	// 그리드 셋팅
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		//fn_close();
	});
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

function fn_mainSrch(op,op1){	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSCM810M1/list.action?"+param;
	listGrid.search(param, url, op, op1);
}

//부모창으로 값 보내기
function fn_close(err){
	var arg_func  = jQuery('form[name="frm_list"] input[name="func"]').val();
	var opnr_func = eval('opener.' + arg_func);
	var arr 		= new Array;
	
	var grid        = jQuery("#list");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
    var rstCodeVal = "";
    var rstNameVal = "";
    var rstIdVal = "";
    
    if(selectIds == ""){
        alert("$!lang.getText('저장할데이터를선택해주세요')");
        return false;
    }
    
    for(var i = 0 ; i < selectIds.length ; i++){
    	rstCodeVal += ","+grid.getCell(selectIds[i],  "ITEM_CODE");
    	rstNameVal += ","+grid.getCell(selectIds[i],  "ITEM_KOR_NM");
    	rstIdVal   += ","+grid.getCell(selectIds[i],  "RITEM_ID");
    }
    jQuery("#rstCode").val(rstCodeVal.substring(1,rstCodeVal.length));
    jQuery("#rstName").val(rstNameVal.substring(1,rstNameVal.length));
    jQuery("#rstId"  ).val(rstIdVal.substring(1,rstIdVal.length));
    
    if(jQuery('form[name="frm_list"]	input[name="rstCode"]') != ""){
    	var info			= new Object();
    	info.ritem_cd 		= jQuery("#rstCode").val();
    	info.ritem_nm 		= jQuery("#rstName").val();
    	info.ritem_id 		= jQuery("#rstId").val();
    	
    	arr[0]= info;
    	if(arr != null){
    		opnr_func(arr);
    	}
        self.close();
	}else{
		if(err != null){
			alert("$!lang.getText('세션정보가없습니다.')");
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('상품을확인해주세요')");  
			return;
		}
	}
}
var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}
</script>

<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
        	<div class="btnAreaLeft">
              	$!lang.getText('상품조회')
            </div>            
            <div class="btnAreaRight">    			
				<input type="button" class = "btnSave" value="$!lang.getText('선택')" onclick="fn_close()" 	 role="button" aria-disabled="false" />
				<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"	 role="button" aria-disabled="false" />
            </div>
         </div>
         <form name="frm_list">
			<input type='hidden' name='func'			id='func'	value='$!request.getParameter("func")'/>
			<input type='hidden' name='vrSrchCustId' 	id='vrSrchCustId'/>
			<input type='hidden' name='vrSrchWhId' 		id='vrSrchWhId'/>
			<input type='hidden' name='vrViewSetItem' 	id='vrViewSetItem'/>
			<input type='hidden' name='vrViewAll' 		id='vrViewAll'/>
			<input type='hidden' name='vrItemType' 		id='vrItemType'/>

			<table class="search" id="srchBox">
				<colgroup>
					<col width="80" />
					<col width="20%" />
					<col width="80" />
					<col width="20%" />
					<col width="80" />
					<col width="*" />
					<col width="40PX" />
				</colgroup>
				<tr>
					<th>$!lang.getText('상품코드')</th>
					<td>
						<input type='text' class='text' name='vrSrchItemCd' id='vrSrchItemCd' style="ime-mode:disabled"/>
					</td>
					<th>$!lang.getText('상품명')</th>
					<td>
						<input type='text' class='text' name='vrSrchItemNm' id='vrSrchItemNm' style="ime-mode:active"/>
					</td>
					<th>$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrp' id='vrSrchItemGrp' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainSrch();" title="Search" role="button" aria-disabled="false"/>
					</th>  
				</tr>
			</table>
		</form>
		
		<input type='hidden'	name='rstCode'	id='rstCode'/>
		<input type='hidden'	name='rstName'	id='rstName'/>
		<input type='hidden'	name='rstId' 	id='rstId'/>
		※중복선택가능.
	</div>
    <div class="popupContent">	
		<div class="list_box marT0">
			<table id="list"></table>
			<div id="pjmap"></div>
		</div>
    </div>
</div>
</body>
</html>