<form name="user_list">
	<table class="search">
		<colgroup>
			<col width="15%"/>
			<col />
			<col width="15%"/>
			<col />
		</colgroup>
		<tr>
			<th>사용자 ID</th>
			<td>
				<input type="text" class="text" name="S_LOG_USER_USER_ID" id="S_USER_ID" onKeyPress="if(event.keyCode==13) fn_search('user','');" style="ime-mode:inactive;"/>
			</td>
			<th>사용자 명</th>
			<td>
				<input type="text" class="text" name="S_LOG_USER_USER_NAME" id="S_USER_NAME" onKeyPress="if(event.keyCode==13) fn_search('user','');" style="ime-mode:active;"/>
			</td>
		</tr>
	</table>
</form>

<div class="button_bar right">
	<input type="button" name="btn_read" value="$!lang.getMessage('screen.common.button.search')" onclick="fn_search('user','')"/>
</div>

<div class="list_box">
	<table id="sysLogUserLi_list"></table>
	<div id="sysLogUserLi_list_pjmap"></div>
</div>
