<div class="patternWrap">
	<form name="frm_list_T3">	
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "50px"/>
				<col width = "12%"/>
				<col width = "110px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText('센터구분')</th>
				<td>
					<select name="vrSrchCntrCd_T3" id="vrSrchCntrCd_T3" style="width:50%">
						<option value="">$!lang.getText('전체')</option>
						<option value="B2P">$!lang.getText('B2P(B01)')</option>
						<option value="B2C">$!lang.getText('B2C(FH2)')</option>
					</select>
				</td>
				<th>$!lang.getText('주문타입')</th>
				<td>
					<select name="vrSrchOrdType_T3" id="vrSrchOrdType_T3" style="width:50%">
						<option value="">$!lang.getText('전체')</option>
						<option value="01">$!lang.getText('입고')</option>
						<option value="02">$!lang.getText('출고')</option>
					</select>
				</td>
				<th>$!lang.getText('반품구분')</th>
				<td>
					<select name="vrSrchOrdRind_T3" id="vrSrchOrdRind_T3" style="width:50%">
						<option value="">$!lang.getText('전체')</option>
						<option value="00">$!lang.getText('정상')</option>
						<option value="01">$!lang.getText('반품')</option>
					</select>
				</td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search('_T3');" title="검색" />	
				</th>
			</tr>
			<tr>
				<th>$!lang.getText('확정일자')</th></th>
				<td>		
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtFrom_T3" id="vrSrchReqDtFrom_T3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom_T3)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom_T3)"> ~
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtTo_T3"   id="vrSrchReqDtTo_T3"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo_T3)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo_T3)">	
				</td>
				<th>$!lang.getText('주문상세')</th>
				<td>
					$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox', style='width:50%;'")
				</td>
			</tr>
		</table>
	</form>

	<form name = "frm_data_T3">
		<div id = "formData_T3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea" style="margin-bottom:-60px;">
		<div class="btnAreaLeft">
		    <div><span style="margin-right : 10px;">입고/출고/반품 실적 리스트</span>(전체  : <span id="totalSpdList_T3"></span>)</div>
        </div>
     	<div class="btnAreaRight"    style="top: 4px;">
     		<input type="button" class="INS_AUTH btnSave"  		name="btn_write"	value="$!lang.getText('저장')" onClick="fn_save('_T3');"		role="button" aria-disabled="false"/>
	     	<input type="button" class="EXC_AUTH btnExcel" 		name="btn_write"	value="$!lang.getText('엑셀')" onclick="fn_excelDown('_T3')"	role="button" aria-disabled="false"/>		
    	</div>
	</div>
	
	<div id="divPanel_SpdList_T3" style="padding-top:70px;">
		<div id="spdList_T3" style="height:500px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none"></div>
	
</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>