<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="120px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>	
				<col width="80px"/>
				<col width="30%"/>
				<col width="80px"/>		
				<col width="40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText("정산일자")</th>
				<td>		
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th></th><!-- <th>$!lang.getText("화주")</th> -->
				<td>
					<input type="hidden" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
					<!-- img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch"> -->
					<input type="hidden" name="hdnCustId" id="hdnCustId"/>
					<input type="hidden" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
				</td>
				<th></th><!-- <th>$!lang.getText("상품")</th> -->
				<td>
					<input type="hidden" class="text" name="txtSrchItemCd" id="txtSrchItemCd" style="width:40%" onChange="txtSrchItemCd_OnKillFocus()"/>
					<!-- <img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM091');return false;" class="imgSearch"> -->
					<input type="hidden" class="text" name="txtSrchItemNm" id="txtSrchItemNm" style="width:40%" onChange="txtSrchItemNm_OnKillFocus()"/>
					<input type="hidden" name="txtSrchItemId" id="txtSrchItemId"/>
				</td>
				<td style="color:red;">※판매처만</td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_mainGridSearch();" title="Search" role="button" aria-disabled="false"/>
				</th>					
			</tr>
			<tr>
				<th>$!lang.getText("당해기준")</th>
				<td>
					<form>
					  $!lang.getText("일") <input type="radio" name="SelDt" value="D" onClick="fn_SelDtRadioClick('D')" checked> 
					  $!lang.getText("월") <input type="radio" name="SelDt" value="M" onClick="fn_SelDtRadioClick('M')"> 
					  $!lang.getText("년") <input type="radio" name="SelDt" value="Y" onClick="fn_SelDtRadioClick('Y')">
					</form> 
				</td>
				<th></th><!-- <th>$!lang.getText("화주")</th> -->
				<td></td>
				<th></th><!-- <th>$!lang.getText("상품")</th> -->
				<td></td>
				<td></td>	
							
			</tr>
		</table>
		<input type="hidden" name="today"/>
		<input type="hidden" name="GridId" id="GridId"/>
		<input type="hidden" name="localDate" id="localDate"/>
		<input type="hidden" name="srchKey" id="srchKey"/>
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnRed" 	               name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"        id="excelBtn"  name="btn_write" onclick="fn_sampleDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box" id="mainlist_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
</div>