#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//  
//   SQL문장 화주검색 없음
// 
////////////////////////////////////

var listGridE1 = new ULNSI_jQGrid();
var listGridE2 = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	/* @특정상품권한:Y, 사용자관리LC상품군,  @param : (고정), (고정), (요소타입:select/input), (요소ID) */
	cfn_setFixedItemGrpIdByLc("$ss_item_fix_yn", "$ss_item_grp_id", "select", "vrSrchItemGrpId");
	
	/* 상품DLL 상품초기셋팅 */
	jQuery("#vrSrchItemType").val("G");
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo'], input[name='vrSrchReqDt']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtTo'] , input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDt']").val(vrSrchReqDt);
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	// button
	jQuery("input:button").button();

	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArrayE1 = [
	              '$!lang.getText("화주코드")',
	              '$!lang.getText("화주명")',
				  '$!lang.getText("주문유형")',
	              '$!lang.getText("상품코드")',
	              '$!lang.getText("상품명")',
	              '$!lang.getText("세트상품코드")',
	              '$!lang.getText("세트상품명")',
	              '$!lang.getText("부속상품코드")',
	              '$!lang.getText("부속상품명")',
	              '$!lang.getText("로케이션명")',
	              '$!lang.getText("ORI수량")',
	              '$!lang.getText("수량")',
	              '$!lang.getText("작업수량")',
	              '$!lang.getText("UOM")',
		          ];
	// 그리드 컬럼 정의
	var colModelArrayE1 = [
			{name:'CUST_CD',				index:'CUST_CD',		width:100,			align:"center"},
			{name:'CUST_NM',				index:'CUST_NM',		width:100,			align:"center"},
			{name:'ORD_TYPE',				index:'ORD_TYPE',		width:80,			align:"center"},
			{name:'ITEM_CODE',				index:'ITEM_CODE',		width:200,			align:"left"},
			{name:'ITEM_NM',				index:'ITEM_NM',		width:200,			align:"left"},
			{name:'SET_RITEM_CD',			index:'SET_RITEM_CD',	width:200,			align:"left"},
			{name:'SET_RITEM_NM',			index:'SET_RITEM_NM',	width:200,			align:"left"},
			{name:'PART_RITEM_CD',			index:'PART_RITEM_CD',	width:200,			align:"left"},
			{name:'PART_RITEM_NM',			index:'PART_RITEM_NM',	width:200,			align:"left"},
			{name:'LOC_CD',					index:'LOC_CD',			width:200,			align:"center"},
			{name:'ORI_QTY',				index:'ORI_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'QTY',					index:'QTY',			width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'WORK_QTY',				index:'WORK_QTY',		width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UOM_NM',					index:'UOM_NM',			width:80,			align:"center"},
		];
	var optionE1 = {
		'title' : '$!lang.getText("날짜별 임가공 실적내역")',
		'height' : 500,
		'width' : '100%',
		'colName' : colNameArrayE1,
		'colModel' : colModelArrayE1,
	    'pager' : jQuery("#pjmapE1"),
	    'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : false,
        'rowList' : [1000,3000,5000],
        'rownumbers' : true,
        'rownumWidth' : 30,
        'footerrow' 	: true,
		'userDataOnFooter' : true		
	};
	
	var paramE1 = jQuery("form[name='frm_listE1']").serialize();
	var urlE1 = "/WMSTG310/listE1.action?"+paramE1;
	
	listGridE1.init(jQuery("#listE1"), optionE1, '', loadCompleteEventCallbackE1);

	function loadCompleteEventCallbackE1 (data){
		var grid     = jQuery("#listE1");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var SUM_ORI_QTY = 0;
		var SUM_QTY = 0;
		var SUM_WORK_QTY = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_ORI_QTY 	= SUM_ORI_QTY 	+ Number(gridData[i].ORI_QTY);
			SUM_QTY 		= SUM_QTY 		+ Number(gridData[i].QTY);
			SUM_WORK_QTY 	= SUM_WORK_QTY	+ Number(gridData[i].WORK_QTY);
		}
		
		//합계처리 변수 셋업
		var footData = {
				LOC_CD : "$!lang.getText('합계')"
				,ORI_QTY	: SUM_ORI_QTY
				,QTY		: SUM_QTY
				,WORK_QTY	: SUM_WORK_QTY
			   };
		grid.jqGrid('footerData','set', footData);
	};

	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArrayE2 = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	           
	              '$!lang.getText("작업일자")',
	              '$!lang.getText("주문유형")',
	              '$!lang.getText("상품코드")',
	              '$!lang.getText("상품명")',
	              '$!lang.getText("수량")',
	              '$!lang.getText("셋트여부")'
		          ];
	// 그리드 컬럼 정의
	var colModelArrayE2 = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:40,	align:"center", hidden:true},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true},
		
			{name:'WORK_DT',				index:'SUBUL_DT',		width:80,			align:"center"},
			{name:'ORD_TYPE',				index:'CUST_NM',		width:80,			align:"center"},
			{name:'RITEM_CD',				index:'RITEM_CD',		width:250,			align:"left"},
			{name:'RITEM_NM',				index:'RITEM_NM',		width:250,			align:"left"},
			{name:'WORK_QTY',				index:'IN_QTY',			width:80,			align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'SET_ITEM_YN',			index:'SET_ITEM_YN',	width:80,			align:"center"}
			
		];
	var optionE2 = {
		'title' : '$!lang.getText("날짜별 임가공 내역")',
		'height' : 500,
		'width' : '100%',
		'colName' : colNameArrayE2,
		'colModel' : colModelArrayE2,
	    'pager' : jQuery("#pjmapE2"),
	    'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : false,
        'rowList' : [1000,3000,5000],
        'rownumbers' : true,
        'rownumWidth' : 30,
        'footerrow' 	: true,
		'userDataOnFooter' : true		
	};
	
	var paramE2 = jQuery("form[name='frm_listE2']").serialize();
	var urlE2 = "/WMSTG310/listE2.action?"+paramE2;
	
	listGridE2.init(jQuery("#listE2"), optionE2, '', loadCompleteEventCallbackE2);

	function loadCompleteEventCallbackE2 (data){
		var grid     = jQuery("#listE2");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var SUM_WORK_QTY = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_WORK_QTY = SUM_WORK_QTY + Number(gridData[i].WORK_QTY);
		}
		
		//합계처리 변수 셋업
		var footData = {
				RITEM_NM : "$!lang.getText('합계')"
				,WORK_QTY	: SUM_WORK_QTY
			   };
		grid.jqGrid('footerData','set', footData);
	};

});

//검색
function fn_searchE1(op,op1) {
	
	var lc_id = jQuery("select[name='SVC_INFO']").val();
	var param = jQuery("form[name='frm_listE1']").serialize();
	var url = "/WMSTG310/listE1.action?"+param;
	
	listGridE1.search(param, url, op, op1);	
		
}

//검색
function fn_searchE2(op,op1) {
	
	var lc_id = jQuery("select[name='SVC_INFO']").val();
	
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_listE2");	
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):"); 
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("frm_listE2")){
		return false;
	}	

	var param = jQuery("form[name='frm_listE2']").serialize()+ "&LC_ID="+lc_id;
	var url = "/WMSTG310/listE2.action?"+param;
	
	listGridE2.search(param, url, op, op1);	
		
}

/* 검색 조건 초기화 */
function fn_initSer(m){
	if("M"==m){
		jQuery('form[name="frm_listE2"] input[type="text"], form[name="frm_listE2"] input[type="hidden"]').val('');
		// 날자 셋팅
		jQuery("input[name='vrSrchReqDtTo']").val((new Date()).getFormattedString("YYYY-MM-DD"));
		jQuery("input[name='vrSrchReqDtFrom']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	}
}

/*엑셀다운 */
function fn_excelDownE1(){
	var grid = jQuery("#list1");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	
	var lc_id = jQuery("select[name='SVC_INFO']").val();
	var param = "?sidx="+sidx+"&sord="+sord+ "&LC_ID="+lc_id;
	
    var fm = document.frm_listE1;
    var countRow = jQuery("#listE1").getDataIDs().size();
    
    if(countRow == 0){
        alert('$!lang.getText("excel.down.nodata")');
        return;
    } else if(countRow > 60000) {
        alert('$!lang.getText("excel.down.maxrow")');
        return;
    } else {
        fm.action="/WMSTG310/excelDownE1.action"+param;
        fm.method="post";
        fm.submit();
    }  
}

/*엑셀다운 */
function fn_excelDownE2(){
	var grid = jQuery("#list2");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	
	var lc_id = jQuery("select[name='SVC_INFO']").val();
	var param = "?sidx="+sidx+"&sord="+sord+ "&LC_ID="+lc_id;
	
    var fm = document.frm_listE2;
    var countRow = jQuery("#listE2").getDataIDs().size();
    
    if(countRow == 0){
        alert('$!lang.getText("excel.down.nodata")');
        return;
    } else if(countRow > 60000) {
        alert('$!lang.getText("excel.down.maxrow")');
        return;
    } else {
        fm.action="/WMSTG310/excelDownE2.action"+param;
        fm.method="post";
        fm.submit();
    }  
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(type){
	if("E1"== type){
		var vrSrchCustCd = jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val();
	}else if("E2"== type){
		var vrSrchCustCd = jQuery('form[name="frm_listE2"] input[name="vrSrchCustCd"]').val();
	}
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				
				if("E1"== type){
					var param  = "?func=fn_setWMSCM01E1&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("E2"== type){
					var param  = "?func=fn_setWMSCM011E2&strParameter=" + strParameter + "&stBtnYn=N";
				}
				
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("E1"== type){
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustNm"]').val(data[0].NAME);
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val(data[0].ID);
				}else if("E2"== type){
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustNm"]').val(data[0].NAME);
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val(data[0].ID);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("E1"== type){
					jQuery("form[name='frm_listE1'] input[name='vrSrchCustCd']").val("").focus();
					jQuery("form[name='frm_listE1'] input[name='vrSrchCustNm']").val("");
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val("");
				}else if("E2"== type){
					jQuery("form[name='frm_listE2'] input[name='vrSrchCustCd']").val("").focus();
					jQuery("form[name='frm_listE2'] input[name='vrSrchCustNm']").val("");
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("E1"== type){
			jQuery("form[name='frm_listE1'] input[name='vrSrchCustCd']").val("");
			jQuery("form[name='frm_listE1'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val("");
		}else if("E2"== type){
			jQuery("form[name='frm_listE2'] input[name='vrSrchCustCd']").val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val("");
		}
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(type){
	if("E1"== type){
		var vrSrchCustNm = jQuery('form[name="frm_listE1"] input[name="vrSrchCustNm"]').val();
	}else if("E2"== type){
		var vrSrchCustNm = jQuery('form[name="frm_listE2"] input[name="vrSrchCustNm"]').val();
	}	

	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";

				if("E1"== type){
					var param  = "?func=fn_setWMSCM011E1&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("E2"== type){
					var param  = "?func=fn_setWMSCM011E2&strParameter=" + strParameter + "&stBtnYn=N";
				}

				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				if("E1"== type){
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustNm"]').val(data[0].NAME);
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val(data[0].ID);
				}else if("E2"== type){
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustNm"]').val(data[0].NAME);
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val(data[0].ID);
				}
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("E1"== type){
					jQuery("form[name='frm_listE1'] input[name='vrSrchCustCd']").val("").focus();
					jQuery("form[name='frm_listE1'] input[name='vrSrchCustNm']").val("");
					jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val("");
				}else if("E2"== type){
					jQuery("form[name='frm_listE2'] input[name='vrSrchCustCd']").val("").focus();
					jQuery("form[name='frm_listE2'] input[name='vrSrchCustNm']").val("");
					jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("E1"== type){
			jQuery("form[name='frm_listE1'] input[name='vrSrchCustCd']").val("");
			jQuery("form[name='frm_listE1'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val("");
		}else if("E2"== type){
			jQuery("form[name='frm_listE2'] input[name='vrSrchCustCd']").val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val("");
		}
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(m){
	if("E1"== type){
		var vrSrchItemCd = jQuery('form[name="frm_listE1"] input[name="vrSrchItemCd"]').val();
	}else if("E2"== type){
		var vrSrchItemCd = jQuery('form[name="frm_listE2"] input[name="vrSrchItemCd"]').val();
	}	

	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "560"

				if("E1" == type){
					var param  = "?func=fn_setWMSCM091E1&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("E2" == type){
					var param  = "?func=fn_setWMSCM091E2&strParameter=" + strParameter + "&stBtnYn=N";
				}

				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("E1" == type){
					jQuery('form[name="frm_listE1"] input[name="vrSrchItemCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE1"] input[name="vrSrchItemId"]').val(data[0].ID);
					jQuery('form[name="frm_listE1"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				}else if("E2" == type){
					jQuery('form[name="frm_listE2"] input[name="vrSrchItemCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE2"] input[name="vrSrchItemId"]').val(data[0].ID);
					jQuery('form[name="frm_listE2"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("E1" == type){
					jQuery("form[name='frm_listE1'] input[name='vrSrchItemCd']").val("").focus();
					jQuery("form[name='frm_listE1'] input[name='vrSrchItemId']").val("");
					jQuery("form[name='frm_listE1'] input[name='vrSrchItemNm']").val("");
				}else if("E2" == type){
					jQuery("form[name='frm_listE2'] input[name='vrSrchItemCd']").val("").focus();
					jQuery("form[name='frm_listE2'] input[name='vrSrchItemId']").val("");
					jQuery("form[name='frm_listE2'] input[name='vrSrchItemNm']").val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("E1" == type){
			jQuery("form[name='frm_listE1'] input[name='vrSrchItemCd']").val("");
			jQuery("form[name='frm_listE1'] input[name='vrSrchItemId']").val("");
			jQuery("form[name='frm_listE1'] input[name='vrSrchItemNm']").val("");
		}else if("E2" == type){
			jQuery("form[name='frm_listE2'] input[name='vrSrchItemCd']").val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchItemId']").val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchItemNm']").val("");
		}
	}
}



/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(type){
	if("E1" == type){
		var vrSrchItemNm = jQuery('form[name="frm_listE1"] input[name="vrSrchItemNm"]').val();
	}else if("E2" == type){
		var vrSrchItemNm = jQuery('form[name="frm_listE2"] input[name="vrSrchItemNm"]').val();
	}
	
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "560";

				if("E1" == type){
					var param  = "?func=fn_setWMSCM091E1&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("E2" == type){
					var param  = "?func=fn_setWMSCM091E2&strParameter=" + strParameter + "&stBtnYn=N";
				}

				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("E1" == type){
					jQuery('form[name="frm_listE1"] input[name="vrSrchItemCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE1"] input[name="vrSrchItemId"]').val(data[0].ID);
					jQuery('form[name="frm_listE1"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				}else if("E2" == type){
					jQuery('form[name="frm_listE2"] input[name="vrSrchItemCd"]').val(data[0].CODE);
					jQuery('form[name="frm_listE2"] input[name="vrSrchItemId"]').val(data[0].ID);
					jQuery('form[name="frm_listE2"] input[name="vrSrchItemNm"]').val(data[0].NAME);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("E1" == type){
					jQuery("form[name='frm_listE1'] input[name='vrSrchItemCd']").val("").focus();
					jQuery("form[name='frm_listE1'] input[name='vrSrchItemId']").val("");
					jQuery("form[name='frm_listE1'] input[name='vrSrchItemNm']").val("");
				}else if("E2" == type){
					jQuery("form[name='frm_listE2'] input[name='vrSrchItemCd']").val("").focus();
					jQuery("form[name='frm_listE2'] input[name='vrSrchItemId']").val("");
					jQuery("form[name='frm_listE2'] input[name='vrSrchItemNm']").val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("E1" == type){
			jQuery("form[name='frm_listE1'] input[name='vrSrchItemCd']").val("");
			jQuery("form[name='frm_listE1'] input[name='vrSrchItemId']").val("");
			jQuery("form[name='frm_listE1'] input[name='vrSrchItemNm']").val("");
		}else if("E2" == type){
			jQuery("form[name='frm_listE2'] input[name='vrSrchItemCd']").val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchItemId']").val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchItemNm']").val("");
		}
	}
}


/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "560"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){		
		case 'CUSTE1':	//검색 화주
			param = "?func=fn_setWMSCM011E1";
			url = "/WMSCM011.action" + param;
			break;	
		case 'CUSTE2':	//검색 화주
			param = "?func=fn_setWMSCM011E2";
			url = "/WMSCM011.action" + param;
			break;	
		case 'ITEME1':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push(jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091E1&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'ITEME2':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push(jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091E2&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011_0(arr){
	var info = arr[0];
	//일괄 화주 Setting
	jQuery('.clCustCd').val(info.cust_cd);
	jQuery('.clCustNm').val(info.cust_nm);
	jQuery('.clCustId').val(info.cust_id);					
}

/* 화주 tab 1 */
function fn_setWMSMS011E1(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE1"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 화주 tab 2 */
function fn_setWMSMS011E2(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listE2"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE2"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 화주 tab 전체  */
function fn_setWMSMS011E3(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE1"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val(info.cust_id);
	jQuery('form[name="frm_listE2"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_listE2"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091E1(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listE1"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="frm_listE1"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
	jQuery('form[name="frm_listE1"] input[name="vrSrchItemId"]').val(info.ritem_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091E2(arr){
	var info = arr[0];	
	jQuery('form[name="frm_listE2"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="frm_listE2"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
	jQuery('form[name="frm_listE2"] input[name="vrSrchItemId"]').val(info.ritem_id);
}

function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"

	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		
		if( cnt > 1 ){
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011E3&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_listE1"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_listE1"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val(data[0].ID);
			jQuery('form[name="frm_listE2"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_listE2"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val(data[0].ID);
			callback();
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_listE1'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_listE1'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_listE1"] input[name="vrSrchCustId"]').val("");
			jQuery("form[name='frm_listE2'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_listE2'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_listE2"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("날짜별 임가공 실적 내역")</a></li>
			<li><a href = "#tabs-2">$!lang.getText("날짜별 임가공내역")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmstg/WMSTG310E1.vm")
    </div>
	<div id = "tabs-2">
        #parse("winus/wmstg/WMSTG310E2.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")