<div class="patternWrap">	
	<form name="frm_list_T3" >
		<table class="search" id="srchBox">
			<colgroup>
				<col width="80px"/>
				<col width="10%"/>	
				<col width="40px"/>
				<col width="24%"/>	
				<col width="40px"/>
				<col width="24%"/>
				<col width="80px"/>
				<col width="10%"/>
				<col width="80px"/>
				<col width="*%"/>
				<col width="40px"/>
			</colgroup>
			<tbody>
				<tr>
				
				<th>$!lang.getText("주문일자")</th>
				<td>		
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom3" id="vrSrchReqDtFrom3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom3)" "/> 
				</td>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="readOnly" name="vrSrchCustCd_T3" id="vrSrchCustCd_T3" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId_T3" id="vrSrchCustId_T3" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm_T3" id="vrSrchCustNm_T3" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th>$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text clCustCd" style="width: 40%" name="vrSrchCustCd_T3" id="vrSrchCustCd_T3" onChange="vrSrchCustCd_OnKillFocus('_T3')" >  
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUSTE3");' class="imgSearch"/> 
					<input type="hidden" class="clCustId" name="vrSrchCustId_T3" id="vrSrchCustId_T3"> 
					<input type="text" class="text clCustNm" style="width: 40%" name="vrSrchCustNm_T3" id="vrSrchCustNm_T3" onChange="vrSrchCustCd_OnKillFocus('_T3')"> 
				</td>
			#end	
				<th>$!lang.getText('상품')</th>
			
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd_T3" id="vrSrchItemCd_T3" onChange="vrSrchItemCd_OnKillFocusE2('_T3')"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEME3");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm_T3" id="vrSrchItemNm_T3" onChange="vrSrchItemNm_OnKillFocusE2('_T3')">
						<input type="hidden" name="vrSrchItemId_T3" id="vrSrchItemId_T3">  
				</td>
				
				
				<th>$!lang.getText('BOX 종류')</th>
				<td>
					<input type="text" class = "text" name="PACKING_BOX_TYPE_NM_T3" style="width: 90%" id="PACKING_BOX_TYPE_NM_T3" onChange="txtPackingBoxType_OnKillFocus('_T3')">
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("POOL");' class="imgSearch"/>
					<input type="hidden" name="PACKING_BOX_TYPE_T3" id="PACKING_BOX_TYPE_T3">
				</td>
		
				
				<th>$!lang.getText('주문번호')</th>
				<td>
					<input type = "text" class = "text"   name="vrSrchOrdId_T3" id="vrSrchOrdId_T3" >
				</td>
				
				
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search('_T3');" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			</tbody>
		</table>
	</form>

<div class="btnArea">
		<div class="btnAreaLeft" style="width:50%">
	    	<div><span style="margin-right : 10px;"> 추천박스조회 (전체  : <span id="totalSpdList_T3"></span>)</span></div>
	    </div>
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown('_T3');" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('저장')" class="DELTE_AUTH btnSave"          name="btn_save" onclick="fn_save('_T3');" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList_T3" style="height:700px; border:1px solid #b0b0b0;"></div>
	</div>
</div>

