<div class="patternWrap">
	<form name="frm_list">	
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "90px"/>
				<col width = "25%"/>
				<col width = "80px"/>
				<col width = "25%"/>
				<col width = "60px"/>
				<col width = "15%"/>
				<col width = "15%"/>
				<col width = "40px"/>
			</colgroup>
	        <tbody>
				<tr>
					<th>$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" onClick='fn_Popup("CUST");'  class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					</td>
					
					<th>$!lang.getText('로케이션')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchLocNm" id="vrSrchLocNm" onChange="vrSrchLocNm_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("LOCATION");' class="imgSearch"/>
						<input type="text" class = "text" style="width: 40%" name="vrSrchLocCd" id="vrSrchLocCd" onChange="vrSrchLocCd_OnKillFocus()"> 
						<input type="hidden" name="vrSrchLocId" id="vrSrchLocId"> 
					</td>
					
					<th>$!lang.getText('LOT번호')</th>
					<td colspan="2">
						<input type = "text" class = "text" style="width: 60%" name="vrSrchCustLotNo" id="vrSrchCustLotNo">
					</td>
					
					<th class="btnSearch" rowspan="6">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 		role="button" aria-disabled="false"/>	
					</th>
				</tr>
				<tr>	
					<th class="thBar">$!lang.getText('창고')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/>
						<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
					</td>
					
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");'  class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchItemId" id="vrSrchItemId"> 
					</td>
					
					<th class="thBar">$!lang.getText('구분')</th>
					<td>
						$!comCode.getComboComCode("POOL_YN", "vrSrchItemType", "", true, "$!lang.getText('전체')", "", "","class='selectbox'")
					</td>
					<td></td>
				</tr>
				<tr>
					
					<th>$!lang.getText('로케이션(FROM)')</th>
					<td>
						<input type = "text" class = "text" style="width: 60%" name="vrFromLoc" id="vrFromLoc">
					</td>
					
					<th>$!lang.getText('로케이션(TO)')</th>
					<td colspan="1">
						<input type = "text" class = "text" style="width: 60%" name="vrToLoc" id="vrToLoc">
					</td>
					
					<th>$!lang.getText("로케이션")$!lang.getText("검색기준")</th>
					<td>
						<form>
						  $!lang.getText("비교검색") <input type="radio" name="locOption" value="A" onClick="fn_SelDtRadioClick('A')" checked >
						  
						  $!lang.getText("구간검색") <input type="radio" name="locOption" value="B" onClick="fn_SelDtRadioClick('B')"> 
						</form> 
					</td>
					<td></td>
				</tr>
				<tr>
					<th class="thBar">$!lang.getText('유사상품명')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchLikeItemNm" id="vrSrchLikeItemNm" style="width: 85%">
					</td>
					<th>$!lang.getText("LOT 유무")</th>
					<td>
						<select name='vrSrchLotYn' id='vrSrchLotYn' class="selectbox" style="width:200px;">
							<option value="">$!lang.getText('전체')</option>
							<option value="Y">$!lang.getText('존재')</option>
							<option value="N">$!lang.getText('미존재')</option>
						</select>
					</td>
					<td style="color:red;">$!lang.getText('※비교검색일 경우 로케이션(FROM) 조건으로 비교 할 로케이션을 넣어주세요.')</td>
					<td></td>
				</tr>
				<tr>
					 <th class="thBar">$!lang.getText('상품바코드')</th> 
					<td>
						<input type="text" class="text" name="vrSrchItemBarCd" id="vrSrchItemBarCd" style="width: 85%">
					</td>
					<th class="thBar">$!lang.getText('상품군')</th> 
					<td>
						<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox" style="width:75%">
							<option value="">$!lang.getText('전체')</option>
						</select>
					</td>
					<td colspan='2'>
						$!lang.getText("가상로케이션표시")
						<input type="checkbox" name="vrVirtualLocation" id = "vrVirtualLocation" onChange="fn_chkVirtualLocation();" style="margin-right:10px;">
						&nbsp;$!lang.getText("빈로케이션표시")
						<input type="checkbox" name="vrEmptyLocation" id = "vrEmptyLocation" onChange="fn_chkEmptyLocation();">
						&nbsp;&nbsp;$!lang.getText("전체로케이션표시")
						<input type="checkbox" name="vrTotalLocation" id = "vrTotalLocation" onChange="fn_chkTotalLocation();">
					
					</td>
				</tr>
				<tr>
				<th>ZONE</th>
				<td> 
					<select name="vrZoneGubunId" id="vrZoneGubunId" class="selectbox" style="width:40%">
							<option value="">$!lang.getText("전체")</option>
							<option value="1">$!lang.getText("정상 재고")</option>
							#foreach($row in $ZONEGUBUN)
							<option value="$row.ZONE_ID">$!lang.getText($row.ZONE_NM)</option>
							#end
					</select>
				</td>
				</tr>
	        </tbody>
	    </table>
	</form> 
	  
	<div class="btnArea" style="margin-bottom:0;">
		<div class = "btnAreaLeft">
    		<div id='countBox'><!-- style='display:none;' -->
    		#if($SS_SVC_NO == '0000004480') <!-- kcp 삼성 아산 -->
    			<span>$!lang.getText('재고 총 수량') : </span>
	  			<span id='totalQty'>0</span>
    		
	    		<span style='padding-left:60px;'>$!lang.getText('로케이션 총 수량') : </span>
	  			<span id='totalLcQty'>0</span>

	    		<span style='padding-left:70px;'>$!lang.getText('빈 로케이션 수량') : </span>
	  			<span id='totalEmLcQty'>0</span>
	  			
	    		<span style='padding-left:70px;'>$!lang.getText('평치 로케이션 PLT 총 수량') : </span>
	  			<span id='totalFloorLcPltQty'>0</span>
			#end
			#if($SS_SVC_NO != '0000004480')
	    		<span>$!lang.getText('전체 수량') : </span>
	  			<span id='totalQty'>0</span>
	  		#end
    		#if($SS_SVC_NO == '0000003620')
	    		<span style='padding-left:60px;'>$!lang.getText('PCS 수량') : </span>
	  			<span id='totalPcsQty'>0</span>
	  			
	    		<span style='padding-left:70px;'>$!lang.getText('BOX 수량') : </span>
	  			<span id='totalBoxQty'>0</span>

				<span style='padding-left:70px;'>$!lang.getText('BOX(PCS) 수량') : </span>
	  			<span id='totalBoxPcsQty'>0</span>
			#end
  			</div>	
    	</div>
	     <div class="btnAreaRight">
			<input type="button" class="EXC_AUTH btnExcel" 	name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()"	role="button" aria-disabled="false"/>	
	    </div>
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>

</div>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>