<div class="patternWrap">
	<form name="frm_list_T1">	
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "50px"/>
				<col width = "12%"/>
				<col width = "110px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText('주문상세타입')</th>
				<td>
					<select name="vrSrchCntrCd_T1" id="vrSrchCntrCd_T1" style="width:50%">
						<option value="">$!lang.getText('전체')</option>
						<option value="B2P">$!lang.getText('B2P')</option>
						<option value="B2C">$!lang.getText('B2C')</option>
					</select>
				</td>
				<th>$!lang.getText('주문구분')</th>
				<td>
					$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
				</td>
				<th class="thBar">$!lang.getText('주문번호')</th> 
				<td>
					<input type = "text" class = "text" name="vrSrchOrderId_T1" id="vrSrchOrderId_T1" maxlength="20">
				</td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search('_T1');" title="검색" />	
				</th>
			</tr>
			<tr>
				<th>
					<select name="vrSrchDtType_T1" id="vrSrchDtType_T1"  >
						<option value="100">$!lang.getText('주문등록일')</option>
						<option value="200">$!lang.getText('배송지정일')</option>
						<option value="300">$!lang.getText('센터출하일')</option>
						<option value="400">$!lang.getText('배송완료일')</option>
					</select>
				</th>
				<td>		
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtFrom_T1" id="vrSrchReqDtFrom_T1" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom_T1)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom_T1)"> ~
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtTo_T1"   id="vrSrchReqDtTo_T1"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo_T1)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo_T1)">	
				</td>
				<th>$!lang.getText('원주문번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchOrgOrdId_T1" id="vrSrchOrgOrdId_T1">
				</td>
			</tr>
		</table>
	</form>

	<form name = "frm_data_T1">
		<div id = "formData_T1" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea" style="margin-bottom:-27px">
		<div class="btnAreaLeft">
       		<div>
       			<ul  style="color:#63656a; line-height:1.5; font-size: 11px; font-weight:600;">
       				<li>[B2P] 배송완료일 - 주문등록일</li>
       				<li>[B2C] 센터출하일 - 주문등록일</li>
       			</ul>
		    </div>
		    <div><span style="margin-right : 10px;">출고 리드타임 리스트</span>(전체  : <span id="totalSpdList_T1"></span>)</div>
        </div>
     	<div class="btnAreaRight"    style="top: 35px;">
     		<input type="button" class="INS_AUTH btnSave"  		name="btn_write"	value="$!lang.getText('저장')" onClick="fn_save('_T1');"		role="button" aria-disabled="false"/>
	     	<input type="button" class="EXC_AUTH btnExcel" 		name="btn_write"	value="$!lang.getText('엑셀')" onclick="fn_excelDown('_T1')"	role="button" aria-disabled="false"/>		
    	</div>
	</div>
	
	<div id="divPanel_SpdList_T1" style="padding-top:70px;">
		<div id="spdList_T1" style="height:500px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none"></div>
	
</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>