<div class="patternWrap">
	<form name="frm_list_T3">	
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "50px"/>
				<col width = "12%"/>
				<col width = "110px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "40px"/>
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText('입출고 날짜')</th>
				<td>		
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtFrom_T3" id="vrSrchReqDtFrom_T3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom_T3)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom_T3)"> ~
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtTo_T3"   id="vrSrchReqDtTo_T3"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo_T3)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo_T3)">	
				</td>
				<th class="thBar">$!lang.getText('입출고 구분')</th>
				<td>
					<select id="vrSrchOrderPhase_T3" name="vrSrchOrderPhase_T3" >
						<option value="">$!lang.getText('전체')</option>
						<option value="01">$!lang.getText('입고')</option>
						<option value="02">$!lang.getText('출고')</option>
					</select>
				</td>
				<th class="thBar">$!lang.getText('저장위치')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="vrSrchCustCd_T3" id="vrSrchCustCd_T3" onChange="vrSrchCustCd_OnKillFocus('_T3')"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" onClick='fn_Popup("WMSCM011", "_T3");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 45%" name="vrSrchCustNm_T3" id="vrSrchCustNm_T3" onChange="vrSrchCustNm_OnKillFocus('_T3')"> 
					<input type="hidden" name="vrSrchCustId_T3" id="vrSrchCustId_T3" value="0000295694">
				</td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search('_T3');" title="검색" />	
				</th>
			</tr>
			<tr>
				<th class="thBar">$!lang.getText('UNIT NO')</th>
				<td>
					<select id="vrSrchUnitNo_T3" name="vrSrchUnitNo_T3" class="selectbox">
						<option value="">전체</option>
						<option value="B2C">B2C [주문입고구분]</option>
						<option value="B2B">B2B [주문입고구분]</option>
						<option value="B2O">B2O [SAP입고구분]</option>
						<option value="O2B">O2B [SAP입고반품(출고)]</option>
						<option value="O2O">O2O [SAP창고간이동]</option>
						<option value="O2OW">O2OW [WMS창고간이동]</option>
					</select>
				</td>
				<th></th>
				<td>
				</td>
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="vrSrchItemCd_T3" id="vrSrchItemCd_T3" onChange="vrSrchItemCd_OnKillFocus('_T3')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WMSCM091","_T3");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 45%" name="vrSrchItemNm_T3" id="vrSrchItemNm_T3" onChange="vrSrchItemNm_OnKillFocus('_T3')"> 
					<input type="hidden" name="vrSrchItemId_T3" id="vrSrchItemId_T3"/>
				</td>
			</tr>
		</table>
	</form>

	<form name = "frm_data_T3">
		<div id = "formData_T3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea" style="margin-bottom:-60px;">
		<div class="btnAreaLeft">
		    <div><span style="margin-right : 10px;">날짜별 상품별 상세 입출고 수량 리스트</span>(전체  : <span id="totalSpdList_T3"></span>)</div>
        </div>
     	<div class="btnAreaRight"    style="top: 4px;">
	     	<input type="button" class="EXC_AUTH btnExcel" 		name="btn_write"	value="$!lang.getText('엑셀')" onclick="fn_excelDown('_T3')"	role="button" aria-disabled="false"/>		
    	</div>
	</div>
	
	<div id="divPanel_SpdList_T3" style="padding-top:70px;">
		<div id="spdList_T3" style="height:700px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none"></div>
	
</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>