#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

var cellVal = new Array(); // 셀의 테이터가 들어갈 배열 (2차원 배열)

var listGrid  = new ULNSI_jQGrid();
var listGrid0 = new ULNSI_jQGrid();
var detailZoneGrid = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();
var listGrid3 = new ULNSI_jQGrid();

var cLocCd = "";
var cSrchPoint = "";
jQuery(document).ready(function(){	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* 그리드 공통화 적용 시작- zoneGrid */
	// 그리드 컬럼명
	var colNameArray0 = [
	              //'CHK_BOX',
	              //'ST_GUBUN',
	             // '',
	             // 'FLAG',

	              'LC_ID',
	              'ZONE_ID',
	              '$!lang.getText("ZONE이름")',
	              '$!lang.getText("적재량")'
		          ];

	// 그리드 컬럼 정의
	var colModelArray0 = [
			//{name:'CHK_BOX',		index:'CHK_BOX',		align:"left", hidden:true},
			//{name:'ST_GUBUN',		index:'ST_GUBUN',		align:"left", hidden:true},
			//{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:20,	  align:"left"},
			//{name:'FLAG',			index:'FLAG',			align:"left", hidden:true},

			{name:'LC_ID',			index:'LC_ID',			align:"left", hidden:true},
			{name:'ZONE_ID',		index:'ZONE_ID',		align:"left", hidden:true},
			{name:'ZONE_NM',		index:'ZONE_NM',		width:150,		align:"left", editable:true, editoptions : {maxlength : 30}},
			{name:'ZONE_USE_QTY',	index:'ZONE_USE_QTY',	width:90,		align:"center"}
		];

	var option0 = {
		'title' : '$!lang.getText("ZONE 리스트")',
		'height' : 280,
		'width' : '100%',
		'colName' : colNameArray0,
		'colModel' : colModelArray0,
	    'pager' : jQuery("#pjmap0"),
        'autowidth' : true,
        //'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40
	};
	
	var url0 ="/WMSTG190/zoneList.action"
	listGrid0.init(jQuery("#zonelist"), option0, url0);
	
	/* 그리드 공통화 적용 시작- zoneDetailGrid */
	// 그리드 컬럼명
	var colNameArray_zoneDetail = [
	                          //'CHK_BOX',
	         	              //'ST_GUBUN',
	         	              //'',
	         	              //'FLAG',

	         	              'CODE_TYPE_CD',
	         	              'CODE_CD',
	         	              '$!lang.getText('로케이션')',
	         	              '$!lang.getText('상품수량')',

	                           ]
	// 그리드 컬럼 정의
	var colModelArray_zoneDetail = [
		//{name:'CHK_BOX',		index:'CHK_BOX',		align:"left", hidden:true},
		//{name:'ST_GUBUN',		index:'ST_GUBUN',		align:"left", hidden:true},
		//{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:30, align:"left"},
		//{name:'FLAG',			index:'FLAG',			align:"left", hidden:true},
		
		{name:'CODE_TYPE_CD',		index:'CODE_TYPE_CD',		 hidden:true},
		{name:'CODE_CD',			index:'CODE_CD',			 hidden:true},
		{name:'CODE_NM',			index:'CODE_NM',			 width:150, align:"left"},
		{name:'TOTAL_QTY',			index:'TOTAL_QTY',		     width :90, align:"right",		formatter:'integer',     formatoptions:{thousandsSeparator:",",		decimalPlaces:0}}
		]

	var option_zoneDetail = {
		'title' : '$!lang.getText('ZONE별로케이션리스트')',
		'height' : 180,
		'width' : '100%',
		'colName' : colNameArray_zoneDetail,
		'colModel' : colModelArray_zoneDetail,
	    'pager' : jQuery("#zoneDetail_pjmap"),
        'autowidth' : true,
        //'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : false,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
        'rownumbers' : true,
        'shrinkToFit' : true,
        'rownumWidth' : 40
	};

	detailZoneGrid.init(jQuery("#zoneDetail"), option_zoneDetail);
	
	/* 메인그리드 시작 */
	var colNameArray = [ 
						 '$!lang.getText("DAN")'
						,'$!lang.getText("COL")'
						,'$!lang.getText("LOC_CD")'
						,'$!lang.getText("LOC_ID")'
						,'$!lang.getText("STOCK_QTY")'
						,'$!lang.getText("IN_DT_OVER")'
						,'$!lang.getText("LOC_SET_YN")'
						,'$!lang.getText("RTI_EPC_CD_HEX")'
						,'$!lang.getText("LOC_STAT")'
						,'$!lang.getText("STOCK_COUNT")'
						,'$!lang.getText("RITEM_ID")'
						,'$!lang.getText("ITEM_COLOR")'
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray = [
						 {name : 'DAN'				,index : 'DAN'			}
						,{name : 'COL'				,index : 'COL'			}
						,{name : 'LOC_CD'			,index : 'LOC_CD'		}
						,{name : 'LOC_ID'			,index : 'LOC_ID'		}
						,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	}
						,{name : 'IN_DT_OVER'		,index : 'IN_DT_OVER'	}
						,{name : 'LOC_SET_YN'		,index : 'LOC_SET_YN'	}
						,{name : 'RTI_EPC_CD_HEX'	,index : 'RTI_EPC_CD_HEX'}
						,{name : 'LOC_STAT'			,index : 'LOC_STAT'	     }
						,{name : 'STOCK_COUNT'		,index : 'STOCK_COUNT'	 }
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'	     }
						,{name : 'ITEM_COLOR'		,index : 'ITEM_COLOR'	 }
						]

	var option = {
				   'title'		: "$!lang.getText('로케이션별재고목록')"	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 0								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '0%'							//width 	
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray	
				  ,'pager'		: jQuery('#pjmap1')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  //,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
		          ,'rowList' 	: [0]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	
	var param1 = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSTG190/list.action?"+param1;
	
	/* 구분값 데이터셋 그리드 시작 */
	var colNameArray2 = [ 
						 '$!lang.getText("LEN_DAN")'
						,'$!lang.getText("LEN_COL")'
						,'$!lang.getText("ROW_CNT")'
						,'$!lang.getText("IN_STOCK_CNT")'
						,'$!lang.getText("CAPA_RT")'
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray2 = [
						 {name : 'LEN_DAN'				,index : 'LEN_DAN'			}
						,{name : 'LEN_COL'				,index : 'LEN_COL'			}
						,{name : 'ROW_CNT'				,index : 'ROW_CNT'			}
						,{name : 'IN_STOCK_CNT'		    ,index : 'IN_STOCK_CNT'		}
						,{name : 'CAPA_RT'		  	    ,index : 'CAPA_RT'		    }
						]

	var option2 = {
				   'title'		: "$!lang.getText('로케이션별재고목록')"	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 0								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '0%'							//width 	
				  ,'colName'	: colNameArray2
				  ,'colModel'	: colModelArray2
				  ,'pager'		: jQuery('#pjmap2')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  //,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
		          ,'rowList' 	: [0]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	
	var param2 = jQuery("form[name='frm_list']").serialize();
	var url2 = "/WMSTG190/listGubun.action?"+param2;
	
	
	
	/* 로케이션 클릭 상세 데이터셋 그리드 시작 */
	var colNameArray3 = [ 
						//'$!lang.getText("LOC_ID")'
						'$!lang.getText("LOT_NO")'
						,'$!lang.getText("로케이션")'
						,'$!lang.getText("EPC코드")'
						,'$!lang.getText("HEX")'
						//,'$!lang.getText("WH_ID")'
						,'$!lang.getText("창고명")'
						
						,'$!lang.getText("상품코드")'
						//,'$!lang.getText("RITEM_ID")'
						,'$!lang.getText("상품명")'
						
						//,'$!lang.getText("CUST_ID")'
						,'$!lang.getText("화주명")'
						,'$!lang.getText("화주코드")'
						//,'$!lang.getText("UOM_ID")'
						,'$!lang.getText("UOM")'
						,'$!lang.getText("상품수량")'
						//,'$!lang.getText("CARRY_PLT_QTY")'
						//,'$!lang.getText("TRANS_PLT_QTY")'
						//,'$!lang.getText("REMAIN_PLT_QTY")'
						,'$!lang.getText("적치율")'
						
						,'$!lang.getText("등록일")'
						,'$!lang.getText("로케이션바코드")'
						,'$!lang.getText("창고코드")'
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray3 = [
						// {name : 'LOC_ID'				,index : 'LOC_ID'			}
						{name : 'CUST_LOT_NO'			,index : 'CUST_LOT_NO'		,width : 80	,align : "center"}
						,{name : 'LOC_CD'				,index : 'LOC_CD'			,width : 70	,align : "center"}
						,{name : 'RTI_EPC_CD'			,index : 'RTI_EPC_CD'		,width : 200	,align : "center"}
						,{name : 'RTI_EPC_CD_HEX'		,index : 'RTI_EPC_CD_HEX'	,width : 40	,align : "center"}
						//,{name : 'WH_ID'				,index : 'WH_ID'			}
						,{name : 'WH_NM'				,index : 'WH_NM'			,width : 140	,align : "left"}
						
						,{name : 'RITEM_CD'				,index : 'RITEM_CD'			,width : 100	,align : "left"}
						//,{name : 'RITEM_ID'				,index : 'RITEM_ID'			}
						,{name : 'RITEM_NM'				,index : 'RITEM_NM'			,width : 160		,align : "left"}
						
						//,{name : 'CUST_ID'				,index : 'CUST_ID'			}
						,{name : 'CUST_NM'				,index : 'CUST_NM'			,width : 140	,align : "left"}
						
						,{name : 'CUST_CD'				,index : 'CUST_CD'			,width : 80	,align : "left"}
						//,{name : 'UOM_ID'				,index : 'UOM_ID'			}
						,{name : 'UOM_NM'				,index : 'UOM_NM'			,width : 60		,align : "center"}
						,{name : 'STOCK_QTY'			,index : 'STOCK_QTY'		,width : 70		,align : "right"	,formatter : 'integer'	,formatoptions : {thousandsSeparator : ","	,decimalPlaces : 0}}
						//,{name : 'CARRY_PLT_QTY'		,index : 'CARRY_PLT_QTY'	}
						
						//,{name : 'TRANS_PLT_QTY'		,index : 'TRANS_PLT_QTY'	}
						//,{name : 'REMAIN_PLT_QTY'		,index : 'REMAIN_PLT_QTY'	}
						,{name : 'LOC_PER'				,index : 'LOC_PER'			,width : 70		,align : "right"}
						
						,{name : 'RECEIVING_DT'			,index : 'RECEIVING_DT'		,width : 130	,align : "center"}
						,{name : 'LOC_BARCODE_CD'		,index : 'LOC_BARCODE_CD'	,width : 120	,align : "left"}
						,{name : 'WH_CD'				,index : 'WH_CD'			,width : 100	,align : "left"}
						]

	var option3 = {
				   'title'		: "$!lang.getText('로케이션별 상세정보')"	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 80								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'							//width 	
				  ,'colName'	: colNameArray3
				  ,'colModel'	: colModelArray3
				  ,'pager'		: jQuery('#pjmap3')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
			      ,'shrinkToFit' : false
				 };
	
	var url3 = "/WMSTG190/listDetail.action?vrSrchLocId=NONE";
	
	
	//구분값 데이터셋 생성
	listGrid2.init(jQuery("#list2"), option2, url2);
	//그리드 생성
	listGrid.init(jQuery("#list1"), option, url, loadCompleteEventCallback);
	//로케이션 클릭 상세 데이터 생성
	listGrid3.init(jQuery("#list3"), option3, url3);

	// zonelist 그리드 셀선택 이벤트
	listGrid0.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#zonelist");

		var zone_id = grid.getCell(id, 'ZONE_ID');
		var param = "ZONE_ID="+zone_id;
		var url = "/WMSTG190/sublist.action?"+param;
		detailZoneGrid.search(param, url, '', '');
	});
	
	// zoneDetailList 그리드 상세 셀선택 이벤트 (로케이선 선택)
	detailZoneGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#zoneDetail");

		var loc_cd = grid.getCell(id, 'CODE_CD');
		var param = "LOC_CD=" + loc_cd + "&vrSrchPoint=ASC";
		
		var url = "/WMSTG190/list.action?"+param;
		var url2 = "/WMSTG190/listGubun.action?"+param;
		
		listGrid2.search(param, url2, '', '');	
		listGrid.search(param, url, '', '');	
		listGrid3.clear();
		
		// 로케이션 코드 공통 변수에 담기 (기억하고있기)
		cLocCd = loc_cd;
	});
	
	function loadCompleteEventCallback (data){
		var grid 		= jQuery("#list1");
		var grid2 		= jQuery("#list2");
		var ids 		= grid.getDataIDs();
		var ids2 		= grid2.getDataIDs();

		var DAN; 
		var COL;
		var LOC_CD; 
		var nRow = 0;
		var bgColor;
		var itemColor;
		var imgOptionNm;
		
		var LEN_DAN = grid2.getCell(ids2[0], "LEN_DAN");
		var LEN_COL = grid2.getCell(ids2[0], "LEN_COL");
		var ROW_CNT = grid2.getCell(ids2[0], "ROW_CNT");
		var IN_STOCK_CNT = grid2.getCell(ids2[0], "IN_STOCK_CNT");
		var CAPA_RT = grid2.getCell(ids2[0], "CAPA_RT");
		
		var lScriptSet = '';
		var tScriptSet = '<table border="0" cellspacing="0" cellpadding="0" bordercolor="#808080" >';  // bordercolorlight="#999999" bordercolordark="#ffffff"
		
		var lCAPA_RT = IN_STOCK_CNT + '/' + ROW_CNT + ' (' + CAPA_RT + '%)';

		lScriptSet =  '<table border="0" bordercolor="#808080" >';
		lScriptSet += '<tr>';
		lScriptSet += '<td id="col01" width ="60" height="20"  align="center" style="border:1px solid #ABABAB"><b>$!lang.getText('로케이션 시작위치')<b></td>';
		lScriptSet += '<td id="colMd" width ="70" height="20"  align="center" style="border:1px solid #ABABAB"><b>$!lang.getText('적재율')<b></td>';
		lScriptSet += '<td id="col96" width ="175"  height="20"  align="center" style="border:1px solid #ABABAB; border-bottom:0px solid #ABABAB;" colspan="7">$!lang.getText('※범례')</td>';
		lScriptSet += '</tr>';
		lScriptSet += '<tr>';
		lScriptSet += '<td id="valMd" width ="60" height="30"  align="center" style="border:1px solid #ABABAB"><font size="4"><select id="valMdList" name="combo" onchange="fn_SrchPoint()" style="border:0px"><option value="ASC">LEFT↗<option value="DESC">RIGHT↖</select></font></td>';
		lScriptSet += '<td id="val01" width ="70" height="30"  align="center" style="border:1px solid #ABABAB"><font size="4"><b>'+lCAPA_RT+'<b></font></td>';
		lScriptSet += '<td id="col94" width ="25"  height="20"  align="center" style="border-bottom:1px solid #ABABAB; border-left:1px solid #ABABAB;"><img src = "http://winus.logisall.com/img/errIcon.png">$!lang.getText('확인필요')</td>';
		lScriptSet += '<td id="col95" width ="25"  height="20"  align="center" style="border-bottom:1px solid #ABABAB;"><font color="#828282">■</font> $!lang.getText('미사용')</td>';
		lScriptSet += '<td id="val96" width ="25"  height="30"  align="center" style="border-bottom:1px solid #ABABAB;">□ $!lang.getText('재고없음')</td>';
		lScriptSet += '<td id="col97" width ="25"  height="20"  align="center" style="border-bottom:1px solid #ABABAB;"><font color="#FAED7D">■</font> $!lang.getText('LOC지정')</td>'; //실제 #FFFF8F
		lScriptSet += '<td id="col97" width ="25"  height="20"  align="center" style="border-bottom:1px solid #ABABAB;"><font color="#00CC00">■</font> $!lang.getText('180일 미만')</td>';
		lScriptSet += '<td id="col98" width ="25"  height="20"  align="center" style="border-bottom:1px solid #ABABAB;"><font color="#0000ED">■</font> $!lang.getText('270일 미만')</td>';
		lScriptSet += '<td id="col99" width ="25"  height="20"  align="center" style="border-bottom:1px solid #ABABAB; border-right:1px solid #ABABAB;"><font color="#FF0000">■</font> $!lang.getText('270일 이상')</td>';
		lScriptSet += '</tr>';
		lScriptSet += '</table>';
		
		for(var i = 0; i < LEN_DAN; i++){
			DAN = grid.getCell(ids[nRow], "DAN") - 1;
			cellVal[DAN] =  new Array();
			tScriptSet += '<tr>';
			
			for(var j = 0; j < LEN_COL; j++){
				COL            = grid.getCell(ids[nRow], "COL") - 1;
				LOC_CD         = grid.getCell(ids[nRow], "LOC_CD");
				LOC_ID         = grid.getCell(ids[nRow], "LOC_ID");
				STOCK_QTY      = grid.getCell(ids[nRow], "STOCK_QTY");
				IN_DT_OVER     = grid.getCell(ids[nRow], "IN_DT_OVER");
				LOC_SET_YN     = grid.getCell(ids[nRow], "LOC_SET_YN");
				RTI_EPC_CD_HEX = grid.getCell(ids[nRow], "RTI_EPC_CD_HEX");
				LOC_STAT       = grid.getCell(ids[nRow], "LOC_STAT");
				STOCK_COUNT    = grid.getCell(ids[nRow], "STOCK_COUNT");
				RITEM_ID   	   = grid.getCell(ids[nRow], "RITEM_ID"); //현재 사용되고 있지 않음
				ITEM_COLOR     = grid.getCell(ids[nRow], "ITEM_COLOR");
				
				//bgColor 선택
				var setBgColor   = "";
				var stockQtyFont = "";
				
				if(LOC_STAT == 01){
					//로케이션 미사용일 경우 01
					bgColor    = "#828282"; //회색
					setBgColor = "#828282";
					//수량 텍스트 폰트 옵션
					stockQtyFont = '<font style="font-size:10pt;">'+STOCK_QTY+'EA'+'</font>';
				}else{
					if(STOCK_QTY == 0){
						//재고가 없을 경우
						if(LOC_SET_YN > 0){
							bgColor    = "#FFFF8F"; //노란색
							setBgColor = "#FFFF8F";
							//수량 텍스트 폰트 옵션
							stockQtyFont = '<font style="font-size:10pt;" color="#FF0000">'+STOCK_QTY+'EA'+'</font>';
						}else{
							bgColor    = "#FFFFFF"; //흰색
							setBgColor = "#FFFFFF";
						}
						//수량 텍스트 폰트 옵션
						stockQtyFont = '<font style="font-size:10pt;">'+STOCK_QTY+'EA'+'</font>';
					}else if(STOCK_QTY > 0 && 0 <= IN_DT_OVER && 180 > IN_DT_OVER){
						//재고가 있을 경우
						bgColor    = "#00CC00"; //초록색
						setBgColor = "#00CC00";
						//수량 텍스트 폰트 옵션
						stockQtyFont = '<font style="font-size:10pt;" color="#FFFFFF">'+STOCK_QTY+'EA'+'</font>';
					}else if(STOCK_QTY > 0 && 179 < IN_DT_OVER && 270 > IN_DT_OVER){
						bgColor    = "#0000ED"; //파랑색
						setBgColor = "#0000ED";
						//수량 텍스트 폰트 옵션
						stockQtyFont = '<font style="font-size:10pt;" color="#FFFFFF">'+STOCK_QTY+'EA'+'</font>';
					}else if(STOCK_QTY > 0 && 269 < IN_DT_OVER ){
						bgColor    = "#FF0000"; //빨강색
						setBgColor = "#FF0000";
						//수량 텍스트 폰트 옵션
						stockQtyFont = '<font style="font-size:10pt;" color="#FFFFFF">'+STOCK_QTY+'EA'+'</font>';
					}
				}
				
				//itemColor 선택
				if(ITEM_COLOR == "N/F"){
					//상품 색상이 지정되지 않았을 경우
					itemColor = '<font style="font-size:10px;" color='+setBgColor+'><p Style="Letter-spacing:-2px">&nbsp&nbsp■■■■■</p></font>';
				}else{
					itemColor = '<font style="font-size:10px;" color='+ITEM_COLOR+'><p Style="Letter-spacing:-2px">&nbsp&nbsp■■■■■</p></font>';
				}
				
				//imgOptionNm 선택
				if(STOCK_COUNT == 1){
					//재고에 물류용기가 없을 경우 1
					imgOptionNm = "_err";
				}else{
					imgOptionNm = "";
				}
				
				if(i < LEN_DAN-1){
					//Dan 일반
					if(j < LEN_COL-1){
						//Col 일반
						cellVal[DAN][COL] = '&nbsp'+LOC_CD+'<br>&nbsp'+stockQtyFont+'<br>&nbsp'+RTI_EPC_CD_HEX+'<br>'+itemColor+'<font style="font-size:0pt;">:'+LOC_ID+':'+LOC_CD+':'+LOC_SET_YN+':'+STOCK_QTY+'</font>';
						tScriptSet += '<td id="col" style="background:url(http://winus.logisall.com/img/bg_ColStn'+imgOptionNm+'.png); background-repeat:no-repeat; background-size:100% 100%; background-color:'+bgColor+';" width="70" height="80"  align="center" onClick="fn_LocClick(this);" onDblClick="fn_LocDblClick(this);">' + cellVal[DAN][COL] + '</td>';
					}else{
						//Col 끝 마지막
						cellVal[DAN][COL] = LOC_CD+'<br>'+stockQtyFont+'<br>'+RTI_EPC_CD_HEX+'<br>'+itemColor+'<font style="font-size:0pt;">:'+LOC_ID+':'+LOC_CD+':'+LOC_SET_YN+':'+STOCK_QTY+'</font>';
						tScriptSet += '<td id="col" style="background:url(http://winus.logisall.com/img/bg_ColEnd'+imgOptionNm+'.png); background-repeat:no-repeat; background-size:100% 100%; background-color:'+bgColor+';" width="78" height="80"  align="center" onClick="fn_LocClick(this);" onDblClick="fn_LocDblClick(this);">' + cellVal[DAN][COL] + '</td>';
					}
				}else if(i == LEN_DAN-1){
					//Dan 끝 마지막
					if(j < LEN_COL-1){
						//Col 일반
						cellVal[DAN][COL] = '&nbsp'+LOC_CD+'<br>&nbsp'+stockQtyFont+'<br>&nbsp'+RTI_EPC_CD_HEX+'<br>'+itemColor+'<font style="font-size:0pt;">:'+LOC_ID+':'+LOC_CD+':'+LOC_SET_YN+':'+STOCK_QTY+'</font>';
						tScriptSet += '<td id="col" style="background:url(http://winus.logisall.com/img/bg_DanStn'+imgOptionNm+'.png); background-repeat:no-repeat; background-size:100% 100%; background-color:'+bgColor+';" width="70" height="80"  align="center" onClick="fn_LocClick(this);" onDblClick="fn_LocDblClick(this);">' + cellVal[DAN][COL] + '</td>';
					}else{
						//Col 끝 마지막
						cellVal[DAN][COL] = LOC_CD+'<br>'+stockQtyFont+'<br>'+RTI_EPC_CD_HEX+'<br>'+itemColor+'<font style="font-size:0pt;">:'+LOC_ID+':'+LOC_CD+':'+LOC_SET_YN+':'+STOCK_QTY+'</font>';
						tScriptSet += '<td id="col" style="background:url(http://winus.logisall.com/img/bg_DanEnd'+imgOptionNm+'.png); background-repeat:no-repeat; background-size:100% 100%; background-color:'+bgColor+';" width="78" height="80"  align="center" onClick="fn_LocClick(this);" onDblClick="fn_LocDblClick(this);">' + cellVal[DAN][COL] + '</td>';
					}
				}
				

				nRow = nRow + 1;
			}
			tScriptSet += '</tr>';
		}
		tScriptSet += '</table>';
		
		document.all.showcell.innerHTML = tScriptSet;
		document.all.showlable.innerHTML = lScriptSet;
		
	};
	/* 메인 그리드 끝 */
});

//----------------------------------------------------------자동완성----------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CAR     : 차량            : O : vrSrchCarCd , vrSrchCarNm(X)
	CENTER  : 물류센터      : O : vrSrchCenterCd, vrSrchCenterNm
	CLIENT  : 고객사         : O : vrSrchCustCd, vrSrchCustNm, srchSubCode3, srchSubCode4
	                         (srchSubCode3 => 100 : 고객사, 104 : 물류센터, 108 : 거래처 ) 
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	DEPT    : 부서            : X :
	DOCK    : 도크            : O : vrSrchDockCd, vrSrchDockNo, vrSrchDockNm
	EMPLOY  : 사원            : X :
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
	LOCATION : 로케이션    : O : vrSrchLocCd, vrSrchLocId
	UOM     : UOM      : O : vrSrchUomCd, vrSrchUomNm
	USER    : 사용자         : O : vrSrchUserId, vrSrchUserNm, srchSubCode3, srchSubCode5
	WH      : 창고            : O : vrSrchWhCd, vrSrchWhNm
	ZONE    : 존               : O : vrSrchZoneId, vrSrchZoneNm
 */
 
 /* 로케이션 id 입력 */
//값이 변경될때 (onChange) 이벤트발생
function vrSrchLocId_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchLocId = jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val();
	//창고코드 값이 있으면 실행한다 
	if( vrSrchLocId != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocId=" + vrSrchLocId;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.LOCATION;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocId);
				var width 	= "800";
				var height 	= "530";
// 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val(data[0].CODE);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
  	   });
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
	}
}

/* 로케이션 코드 입력 */
function vrSrchLocCd_OnKillFocus(){
	var vrSrchLocCd = jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val();
	if( vrSrchLocCd != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchLocCd);
				var width 	= "800";
				var height 	= "530";
// 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
	     });
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");		
	}
}
 
/* 창고코드 입력 */
//값이 변경될때 (onChange) 이벤트발생
function vrSrchWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val();
	//창고코드 값이 있으면 실행한다 
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSMS190&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS190/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
	     });
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
	}
}

/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS190&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS190/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
	     });
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
	     });
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
	     });
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}
//---------------------------------------------------------- 팝업 ----------------------------------------------------------//

/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "530"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'LOCATION': //검색 로케이션
			param = "?func=fn_setWMSCM080";
			url = "/WMSCM080.action" + param;
			break;
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'WH':		//검색 창고
			param = "?func=fn_setWMSMS190";
			url = "/WMSMS190/pop.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSCM080(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val(info.loc_id);
	jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val(info.loc_cd);
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSMS190(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(info.wh_nm);
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
}

//---------------------------------------------------------- 메인 ----------------------------------------------------------//

/* 조회값 초기화*/
function fn_initSer(){
	//초기화클릭시 검색 조건에 해당하는값들 초기화시킨다.
	jQuery("form[name='frm_list'] table input[type='text'] , form[name='frm_list'] table input[type='hidden']").val('');
	jQuery("#vrSrchPoint").val('ASC');
	//jQuery("#vrSrchItemGrpId option:eq(0)").attr('selected', 'selected');
}

/* 재고 조회 - MainGrid*/
function fn_search(op,op1) {
	//검색조건값을 파라미터로 보낸다.
	var param = jQuery("form[name='frm_list']").serialize(); 
	var url = "/WMSTG190/list.action?"+param;
	var param2 = jQuery("form[name='frm_list']").serialize();
	var url2 = "/WMSTG190/listGubun.action?"+param2;
	
	listGrid2.search(param2, url2, op, op1);	
	listGrid.search(param, url, op, op1);	
	listGrid3.clear();

}

/* Loc Cell 디테일 조회 */
function  fn_LocClick(obj) {
	var data = obj.innerText;
	var arryData = data.split(":");
	var toLoc = arryData[1];
	var locSetYn = arryData[3];
	var stockQty = arryData[4];
	var param = toLoc; 
	
	
	if(stockQty == 0 && locSetYn > 0){
		//detail 조회 loc지정 상태 일 경우 (노랑색)
		var url = "/WMSTG190/listDetailLocSet.action?vrSrchLocId="+param;
	}else{
		//detail 조회 loc지정 상태 이 외 재고상세 조회 (일반)
		var url = "/WMSTG190/listDetail.action?vrSrchLocId="+param;
	}  
	listGrid3.search(param, url, "", "");	
}

/* 재고이동 팝업  */
function  fn_LocDblClick(obj) {
	var data = obj.innerText;
	var arryData = data.split(":");
	var toLocId = arryData[1];
	var toLocCd = arryData[2];
	
	var strParameter = [];
	var newGb = "Y";

	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push("");
	strParameter.push(toLocId);
	strParameter.push(toLocCd);

	param = "?newGb=" + newGb + "&strParameter=" + strParameter;
	url = "/WMSTG180E1.action" + param; //WMSTG180의 동일 팝업 사용
	var width = "800";
	var height = "560";
	var asppop = cfn_openPop2(url, "fn_MovePopup", width, height);
	asppop.focus();
}

/* 로케이션 시작위치 조회 */
function fn_SrchPoint() {
	var sf = document.frm_sublist;
	var s1 = document.frm_sublist.combo;
	
	//공통 변수에 로케이션 시작위치 저장
	cSrchPoint = s1.value;
	
	var param = "LOC_CD="+cLocCd + "&vrSrchPoint=" +cSrchPoint;
	
	var url = "/WMSTG190/list.action?"+param;
	var url2 = "/WMSTG190/listGubun.action?"+param;
	
	listGrid2.search(param, url2, '', '');	
	listGrid.search(param, url, '', '');	
	listGrid3.clear();
	
	var timer = setTimeout(fn_setfocus,850);
	
}

function fn_setfocus() {
	if(cSrchPoint == "ASC"){
		jQuery("#valMdList option:eq(0)").attr("selected", "selected");	
	}else if(cSrchPoint == "DESC"){
		jQuery("#valMdList option:eq(1)").attr("selected", "selected");
	}
}

/* 엑셀다운 */
function fn_excelDown() {
	var grid = jQuery("#list1");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	
  var fm = document.frm_list;
  var countRow = jQuery("#list1").getDataIDs().size();
  if(countRow == 0){
      alert('$!lang.getText("excel.down.nodata")');
      return;
  } else if(countRow > 60000) {
      alert('$!lang.getText("excel.down.maxrow")');
      return;
  } else {
      fm.action="/WMSTG190/excel.action"+param;
      fm.method="post";
      fm.submit();
  }
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("로케이션별재고조회")</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
			
       #parse("winus/wmstg/WMSTG190Q1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")