<div class="patternWrap">
	<form name="frm_mn_list_5">
		<table class="search" id="srchBox" border="0">
			<colgroup>
			    <col width="80px">
			    <col width="15%">
			    <col width="50px">
			    <col width="13%">
				<col width="50px">
				<col width="13%">
				
				<col width="55px">
			    <col width="13%">
			    
			    <col width="70px">
			    <col width="10%">
			    
			    <col width="60px">
			    <col width="8%">
			</colgroup>
			
			<tr>				
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("조회년월")</th>
				<td>		
					<input type = "text" class = "text" style="width:25%" name="vrSrchReqDtFrom5" id="vrSrchReqDtFrom5" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom5)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom5)"> 
						~
					<input type = "text" class = "text" style="width:25%" name="vrSrchReqDtTo5"   id="vrSrchReqDtTo5"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo5)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo5)">
				</td>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text clCustCd" style="width: 40%" name="vrSrchCustCd5" id="vrSrchCustCd5" onChange="vrSrchCustCd_OnKillFocus('C')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST5");' class="imgSearch"/> 
					<input type="hidden" class="clCustId" name="vrSrchCustId5" id="vrSrchCustId5"> 
					<input type="text" class="text clCustNm" style="width: 40%" name="vrSrchCustNm5" id="vrSrchCustNm5" onChange="vrSrchCustNm_OnKillFocus('C')"> 
				</td>
				
				<th>$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchRitemCd5" id="vrSrchRitemCd5" onChange="vrSrchItemCd_OnKillFocus('C')"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM5");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchRitemNm5" id="vrSrchRitemNm5" onChange="vrSrchItemNm_OnKillFocus('C')">
						<input type="hidden" name="vrSrchRitemId5" id="vrSrchRitemId5">  
				</td>
				
				<th class="thBar">$!lang.getText('거래처')</th>
				<td>
					<input type="text" class="text" name="vrSrchBizCd5" id="vrSrchBizCd5" style="width:45%" onChange="vrSrcBizCd_OnKillFocus('C')"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('SrchCust5');return false;" class="imgSearch">
					<input type="hidden" name="vrSrchBizId5" id="vrSrchBizId5"/>
					<input type="text" class="text" name="vrSrchBizNm5" id="vrSrchBizNm5" style="width:45%" onChange="vrSrchBizNm_OnKillFocus('C')"/>
				</td>
				
				<th>$!lang.getText("LOT 번호")</th>
				<td><input type = "text"  name = "custLotNO" id = "custLotNO"	class = "text"></td>
				
				<th>$!lang.getText("내부 LOT 번호")</th>
				<td><input type = "text"  name = "subLotId" id = "subLotId"	class = "text"></td>
				
				<td></td>					
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search5();" title="Search" role="button" aria-disabled="false"/>
				</th>
		</table>	
	</form>
	
		<div class="btnArea">
			<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel" name="btn_write" onclick="fn_excelDownE05();" role="button" aria-disabled="false"/>
			</div>
		</div>
	
	<div class="list_box">
		<table id="manageSend_list5"></table>
		<div id="manageSend_pjmap_list5"></div>
	</div>
	
	<form name = "frm_data5">
		<div id = "formData5" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
</div>
<script type="text/javascript">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

	var manageSendGrid_list5 = new ULNSI_jQGrid();

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArray_managesend_list5 = [
	                           'CHK_BOX',
				               'ST_GUBUN',
// 				               '',
				               'FLAG',
				               
				               '$!lang.getText("작업일")',
	                           '$!lang.getText("LOT_NO")',
	                           
	                           '$!lang.getText("유효일자")',
	         	               '$!lang.getText("상품코드")',
	         	               '$!lang.getText("상품명")',
	         	               '$!lang.getText("거래처코드")',
	                           
	                           '$!lang.getText("거래처명")',
	                           '$!lang.getText("수량")'
	                           
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArray_managesend_list5 = [
			{name:'CHK_BOX',		   index:'CHK_BOX',						   hidden:true },
			{name:'ST_GUBUN',		   index:'ST_GUBUN',					   hidden:true},
			{name:'FLAG',			   index:'FLAG',						   hidden:true},
			
			{name:'WORK_DT',		   	   index:'WORK_DT',		    		width:100, align:"center"},
			{name:'CUST_LOT_NO',		   index:'CUST_LOT_NO',		    	width:130, align:"center"},
			
			{name:'ITEM_BEST_DATE_END',	   index:'ITEM_BEST_DATE_END',		width:80, align:"center"},
			{name:'RITEM_CD',		   	   index:'RITEM_CD',		    	width:100, align:"left"},
			
			
			{name:'RITEM_NM',		   index:'RITEM_NM',		    	width:230, align:"left"},
			{name:'TRANS_CUST_CD',	   index:'TRANS_CUST_CD',		    width:100, align:"center"},
			{name:'TRANS_CUST_NM',	   index:'TRANS_CUST_NM',		    width:230, align:"left"},
			{name:'REAL_OUT_QTY',	   index:'REAL_OUT_QTY',		   	width:100, align:"left", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
		];
		
	var option_managesend_list5 = {
		'title' : '$!lang.getText("상품별/LOT별 거래처 출고실적 조회")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray_managesend_list5,
		'colModel' : colModelArray_managesend_list5,
	    'pager' : jQuery("#manageSend_pjmap_list5"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
        'rowList' : [1000,2000,3000],
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	   
	};
	
	var param_list5 = jQuery("form[name='frm_mn_list_5']").serialize();
	var url_list5 = "/WMSTG600/listE05.action?"+param_list5;
	
	function loadCompleteEventCallback5(data) {		
		var grid     = jQuery("#manageSend_list5");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var SUM_REAL_OUT_QTY = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_REAL_OUT_QTY = SUM_REAL_OUT_QTY + Number(gridData[i].REAL_OUT_QTY);
			
			//css 변경
		}
		
		//합계처리 변수 셋업
		var footData = {
				WORK_DT : "$!lang.getText('합계')"
			   ,REAL_OUT_QTY	: SUM_REAL_OUT_QTY			
			   };
		grid.jqGrid('footerData','set', footData);
	}
	
	manageSendGrid_list5.init(jQuery("#manageSend_list5"), option_managesend_list5, url_list5, loadCompleteEventCallback5);
	
	//일별 ERP 전송 이력 조회 검색
	function fn_search5(op,op1) {		
		
		/* 조회조건 화주코드가 없을 경우 */
		if(!fn_chkInitCustId5()){return;}
		
		var lc_id = jQuery("select[name='SVC_INFO']").val();
// 		var param = jQuery("form[name='frm_listPool']").serialize()+ "&LC_ID="+lc_id;
		
		var param = jQuery("form[name='frm_mn_list_5']").serialize()+ "&LC_ID="+lc_id;
		var url = "/WMSTG600/listE05.action?"+param;
		
		manageSendGrid_list5.search(param, url, op, op1);
	}
	
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011_5(arr){
		var info = arr[0];	
		jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustCd5"]').val(info.cust_cd);
		jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustNm5"]').val(info.cust_nm);
		jQuery('form[name="frm_mn_list_5"] input[name="vrSrchCustId5"]').val(info.cust_id);
		
		fn_search5();
	}

	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId5(){
		if(jQuery("#vrSrchCustId5").val() == "" || jQuery("#vrSrchCustId5").val().length == 0){
			fn_Popup("CUST5");
			return false;
		}
		return true;
	}

	/*엑셀다운 */
	function fn_excelDownE05(){
		var grid = jQuery("#frm_mn_list_5");
		var sidx =  grid.getGridParam('sortname');
		var sord = grid.getGridParam('sortorder');
		
		var lc_id = jQuery("select[name='SVC_INFO']").val();
		var param = "?sidx="+sidx+"&sord="+sord+ "&LC_ID="+lc_id;
		
	    var fm = document.frm_mn_list_5;
	    var countRow = jQuery("#manageSend_list5").getDataIDs().size();
	    
	    if(countRow == 0){
	        alert('$!lang.getText("excel.down.nodata")');
	        return;
	    } else if(countRow > 60000) {
	        alert('$!lang.getText("excel.down.maxrow")');
	        return;
	    } else {
	        fm.action="/WMSTG600/excelDownE05.action"+param;
	        fm.method="post";
	        fm.submit();
	    }  
	}
	
</script>