#parse("winus/common/dashBoardMain.vm") ## WEB-INF/template 는 spring servlet설정파일에 정의되어 있으므로 필요 없음
<!--<style>body {background-color:#eff3f9;}</style>-->
<script type="text/javascript">

var listGrid = new ULNSI_jQGrid();
//var vrSrchDt = localStorage.LocalTime;
var vrSrchDt;
var blnkCnt = 0;

jQuery(document).ready(function(){
	var srchKey = "TIME";
	var param   = "srchKey=" + srchKey + "&vrLcid=" + "$ss_svc_no";
	var url     = "/TMSYS030/localTime.action";
	jQuery.post(url,param,function(data){
		var data = data.TIME;	
		var cnt  = data.length;
		if (cnt == 1){
			vrSrchDt = data[0].LOCAL_TIME_VAL;
			
			jQuery("#CARD_BODY_HEAD").append("<b>"+vrSrchDt + " 기준 재고현황"+"　　<font color='#0100FF'>입고</font> / <font color='#FF0000'>출고></font> / <font color='#000000'>재고</font></b>");
			fn_getListCard("A");
			fn_getListCard("B");
			fn_getListCard("C");
			fn_getListCard("D");
		}else{
			alert("$!lang.getText('현재시간 조회 오류. 관리자문의.')");
			return;
		}
	});
});

/* 카드 공통처리 : 리스트 조회 */
function fn_getListCard(gb){
	var srchKey = "CARD_"+gb;
	var param   = "srchKey=" + srchKey + "&subulDt=" + vrSrchDt.replace(/-/g,"");
	var url     = "/WMSTG899/getListCard.action";
	var itemGb;
	
	jQuery.post(url, param, function(data){
		var curData;
		switch(gb){
			case 'A': curData = data.CARD_A; itemGb = "P"; break;
			case 'B': curData = data.CARD_B; itemGb = "P"; break;
			case 'C': curData = data.CARD_C; itemGb = "G"; break;
			case 'D': curData = data.CARD_D; itemGb = "G"; break;
		}
		
		if(blnkCnt < curData.length){
			blnkCnt = curData.length;
			jQuery(".card-footer").css("height", curData.length*42+"px");
		}
		
		var cnt = curData.length;
		if(cnt > 0){
			for(var i = 0; i < cnt; i++){
				var setCd = curData[i].LC_ID + "," + curData[i].RITEM_ID + "," + curData[i].CUST_ID;
				jQuery("#ol"+gb).append("<li class='stretched-li' onClick=\"onClickCardList('li"+gb+(i+1)+"_CD', '"+itemGb+"');\" id='li"+gb+(i+1)+"_LI'>" +
											"<div class='row' style='width:100%;'>" +
												"<div id='li"+gb+(i+1)+"_NM' class='col-sm-6-adminL col-xl-12 col-xxl-12-adminL'>" +
													"<span data-tooltip-text="+curData[i].RITEM_NM+" id='li"+gb+(i+1)+"_CD_SP'>"+curData[i].RITEM_NM.substring(0,10)+"</span>" +
												"</div>" +
												"<div id='li"+gb+(i+1)+"_QTY' class='col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR' style='background-color:#F6F6F6; border-radius: 0.25em;'>" +
													"<table style='table-layout:fixed;'>" +
													 "<tr>" +
													 "<td style='color:#0100FF; text-align:left;'>"+SetComma(curData[i].IN_QTY)+"</td>" +
													 "<td style='color:#FF0000; text-align:center;'>"+SetComma(curData[i].OUT_QTY)+"</td>" +
													 "<td style='color:#000000; text-align:right;'>"+SetComma(curData[i].STOCK_QTY)+"</td>" +
													 "</tr>" +
													 "</table>"+
												"</div>" +
											"</div>" +
											"<input type='hidden' id='li"+gb+(i+1)+"_CD' value='"+setCd+"'>" +
										"</li>");
				
						
/*
				<li class="stretched-li" onClick="onClickCardList('liA1_CD', 'P');" id="liA1_LI">
				<div class="row" style="width:100%;">
					<div id="liA1_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div>
					<div id="liA1_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div>
				</div>
				</li>
				

				jQuery("#li"+gb+(i+1)+"_LI").append("<input type='hidden' id='li"+gb+(i+1)+"_CD' value='"+setCd+"'>");
				jQuery("#li"+gb+(i+1)+"_NM").append("<span data-tooltip-text="+curData[i].RITEM_NM+" id='li"+gb+(i+1)+"_CD_SP'>"+curData[i].RITEM_NM.substring(0,10)+"</span>");
				jQuery("#li"+gb+(i+1)+"_QTY").append("<table style='table-layout:fixed;'>" +
													 "<tr>" +
													 "<td style='color:#0100FF; text-align:left;'>"+SetComma(curData[i].IN_QTY)+"</td>" +
													 "<td style='color:#FF0000; text-align:center;'>"+SetComma(curData[i].OUT_QTY)+"</td>" +
													 "<td style='color:#000000; text-align:right;'>"+SetComma(curData[i].STOCK_QTY)+"</td>" +
													 "</tr>" +
													 "</table>");
													 */
			}
			
			/*
			alert(blnkCnt-cnt);
			for(var i = 0; i < (blnkCnt-cnt); i++){
				jQuery("#ol"+gb).append("<li class='stretched-li'>" +
						"<div class='row' style='width:100%;'><div class='col-sm-6-adminL col-xl-12 col-xxl-12-adminL'></div><div class='col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR' style='background-color:#F6F6F6; border-radius: 0.25em;'></div></div>" +
						"</li>");
			}
			*/
		}else{
			alert("조회 된 값이 없습니다.");
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function onClickCardList(gbId, itmGrpType){
	jQuery("#BOARD_TITLE").text("");
	jQuery("#BOARD_TITLE").append("Dashboard "+"<font size='5' color='#B0B0B0'>("+jQuery("#"+gbId+"_SP").attr("data-tooltip-text")+")</font>" +
			"<span data-tooltip-text='새로고침' style='margin:10px 40px 0px 0px; float:right; cursor:pointer;'><img src='/img/refresh.png' width='35' onClick='fn_reflesh();'></span>");
	
	jQuery("#LIST_TITLE").text("");
	jQuery("#LIST_TITLE").append("<i class='fas fa-table mr-1'></i><b>작업상세 리스트"+"　(상품명 : "+jQuery("#"+gbId+"_SP").attr("data-tooltip-text")+")</b>");
	
	//리스트 영역 초기화
	jQuery("#tableArea").empty();
	jQuery("#tableArea").append("<table class='table table-bordered' id='dataTable' width='100%' cellspacing='0'><thead></thead><tbody></tbody></table>");
	
	//paramSet: lcId, ritemId, custId
	var rstSet = jQuery("#"+gbId).val().split(',');
	var param  = "subulDt="	+vrSrchDt
			   + "&lcId="	+rstSet[0]
			   + "&ritemId="+rstSet[1]
			   + "&custId="	+rstSet[2]
	 		   + "&itmGrpType="	+itmGrpType;
	var strUrl = "/WMSTG899/getDetailList.action";	
	
	jQuery.ajax({
		url			: strUrl,
		type		: 'POST',
		data		: param,
		contentType	: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType	: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			if(JSON.parse(data).rows.length > 0){
				// 리스트1 테이블 초기화
				jQuery("#dataTable thead").empty();
				jQuery("#dataTable tbody").empty();
				
				// thead 선언
				var thead = "<tr>" +
							"<th style='white-space:nowrap;'>화주명</th>" 		+
							"<th style='white-space:nowrap;'>작업일자</th>"		+
							"<th style='white-space:nowrap;'>생산일자</th>" 	+
							"<th style='white-space:nowrap;'>작업구분</th>" 	+
							"<th style='white-space:nowrap;'>상품코드</th>" 	+

							//"<th style='white-space:nowrap;'>상품명</th>" 		+
							"<th style='white-space:nowrap;'>작업수량</th>" 	+
							"<th style='white-space:nowrap;'>UOM</th>" 		+
							"<th style='white-space:nowrap;'>거래처</th>" 		+
							"<th style='white-space:nowrap;'>로케이션</th>" 	+

							"<th style='white-space:nowrap;'>LOT_NO</th>" 	;
	            
				// tbody 선언
				var tbody = "<tr>";
				var results = JSON.parse(data).rows;
				//console.log(results);
				
	            jQuery.each(results , function(i){
	            	tbody += "<td style='white-space:nowrap;'>" + results[i].CUST_NM		+ "</td>" +
	            			 "<td style='white-space:nowrap;'>" + results[i].WORK_DT		+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + results[i].MAKE_DT		+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + results[i].WORK_SUBTYPE_NM+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + results[i].RITEM_CD  		+ "</td>" +
			                 
			                 //"<td style='white-space:nowrap;'>" + results[i].RITEM_NM		+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + SetComma(results[i].WORK_QTY)	+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + results[i].WORK_UOM_NM	+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + results[i].TRANS_CUST_NM	+ "</td>" +
			                 "<td style='white-space:nowrap;'>" + results[i].LOC_NM			+ "</td>" +
			                 
			                 "<td style='white-space:nowrap;'>" + results[i].CUST_LOT_NO	+ "</td>" ;
	            	tbody += "</tr>";
	            });
	            
	            // 리스트1 테이블 바인딩
	            jQuery("#dataTable thead").append(thead);
	            jQuery("#dataTable tbody").append(tbody);
			}
		},
		complete: function () {
			jQuery('#dataTable').dataTable({
				columnDefs: [{
					orderable: false,
					className: 'select-checkbox select-checkbox-all',
					targets: 0
				}],
				select: {
					style: 'multi',
					selector: 'td:first-child'
				}
			});
		}
	});
	
	fn_onChartAreaLine(param);
	fn_onChartBar(param);
}

function fn_onChartAreaLine(param){
	//통계1 영역 초기화
	jQuery("#canvAreaChat").empty();
	jQuery("#canvAreaChat").append("<canvas id='myAreaChart' width='100%' height='40'>");
	
	var arrLabels = [];
	var arrProp   = [];
	var arrStock  = [];
	var strUrl    = "/WMSTG899/getAreaLine.action";
	jQuery.ajax({
		url			: strUrl,
		type		: 'POST',
		data		: param,
		contentType	: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType	: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			var results = JSON.parse(data).rows;
			jQuery.each(results , function(i){
				arrLabels.push(results[i].THIS_DAY);
				arrProp.push(results[i].PROP_QTY);
				arrStock.push(results[i].STOCK_QTY);
            });
		},
		complete: function () {
			var ctx = document.getElementById("myAreaChart").getContext('2d');
			var myLineChart = new Chart(ctx, {
			  type: 'line',
			  data: {
				  labels: arrLabels,
				  datasets: [{
						  label: "적정재고",
						  backgroundColor: "rgba(105, 0, 132, .2)",
						  borderColor: "rgba(200, 99, 132, .7)",
						  borderWidth: 3,
						  data: arrProp,
						  pointBorderWidth: 1,
						  fill:false
					  },
					  {
						  label: "보유재고",
						  backgroundColor: "rgba(34,116,28, .2)",
						  borderColor: "rgba(34,116,28, .7)",
						  pointBackgroundColor: "rgba(34,116,28,1)",
						  borderWidth: 2,
						  data: arrStock
					  }],
			  },
			  options: {
				  scales: {
				      xAxes: [{
				    	  time: {
				    		  unit: 'date'
				    	  },
						      gridLines: {
						      display: true
					      },
						      ticks: {
						      maxTicksLimit: 7
					      }
					  }],
				  yAxes: [{
					  ticks: {
					      min: 0,
					      //max: 40000,
					      maxTicksLimit: 5
				      },
				      gridLines: {
				    	  color: "rgba(0, 0, 0, .125)"
				      }
				  }],
				},
				legend: {
					display: false //설명
				}
			  }
		   });
		}
	});
}

function fn_onChartBar(param){
	//통계2 영역 초기화
	jQuery("#canvBarChat").empty();
	jQuery("#canvBarChat").append("<canvas id='myBarChart' width='100%' height='40'>");
	
	var arrLabels = [];
	var arrInQty  = [];
	var arrOutQty = [];
	var arrStock  = [];
	var strUrl    = "/WMSTG899/getBar.action";
	jQuery.ajax({
		url			: strUrl,
		type		: 'POST',
		data		: param,
		contentType	: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType	: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			var results = JSON.parse(data).rows;
			jQuery.each(results , function(i){
				arrLabels.push(results[i].THIS_MONTH);
				arrInQty.push(results[i].IN_QTY);
				arrOutQty.push(results[i].OUT_QTY);
				arrStock.push(results[i].STOCK_QTY);
            });
		},
		complete: function () {
			var ctx = document.getElementById("myBarChart");
			var myLineChart = new Chart(ctx, {
			  type: 'bar',
			  data: {
				  labels: arrLabels,
				  datasets: [{
						  label: "입고",
						  backgroundColor: "rgba(36, 87, 189, 0.5)",
						  //borderColor: "rgba(200, 99, 132, .7)",
						  data: arrInQty,
						  order: 1
					  },
					  {
						  label: "출고",
						  backgroundColor: "rgba(204, 61, 61, 0.5)",
						  //borderColor: "rgba(0, 10, 130, .7)",
						  data: arrOutQty,
						  order: 1
					  },{
				          label: '재고',
				          data: arrStock,
				          lineTension: 0.0,
				          // Changes this dataset to become a line
				          type: 'line',
				          borderWidth: 2,
				          pointBackgroundColor: "rgba(34,116,28,1)",
				          borderColor: "rgba(34,116,28,0.3)",
				          order: 2,
				          fill:false //area여부
				      }],
			  },
			  options: {
				  scales: {
				      xAxes: [{
				    	  time: {
				    		  unit: 'month'
				    	  },
						      gridLines: {
						      //display: true
					      },
						      ticks: {
						      maxTicksLimit: 12
					      }
					  }],
				  yAxes: [{
					  ticks: {
					      min: 0,
					      //max: 40000,
					      maxTicksLimit: 5
				      },
				      gridLines: {
				    	  display: true
				    	  //color: "rgba(0, 0, 0, .125)",
				      }
				  }],
				},
				legend: {
					display: false //설명
				}
			  }
		   });
		}
	});
}

function fn_reflesh(){
	var frm = jQuery("#frm_dashBoardReflesh");
	jQuery.cookie("jstree_select", "#WMSTG899", "");
	frm.submit();
}

function SetComma(x){
	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1"></a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
	    <head>
		    <meta charset="utf-8" />
		    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		    <link href="/customer/css/stylesV2.css" rel="stylesheet" />
	        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
	        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
		</head>
		<body class="sb-nav-fixed">
	        <div id="layoutSidenav_content">
	            <main>
	                <div class="container-fluid">
		                <h1 class="mt-4" style="padding-left:44px; font-size:40px; font-weight:500;" id="BOARD_TITLE">Dashboard<span data-tooltip-text="새로고침" style="margin:10px 40px 0px 0px;float:right; cursor:pointer;"><img src="/img/refresh.png" width="35" onClick="fn_reflesh();"></span></h1>
	                    <ol class="breadcrumb mb-4">
	                        <li class="breadcrumb-item active" style="font-size:14px;" id="CARD_BODY_HEAD"></li>
	                    </ol>
	                    <div class="row">
	                        <div class="col-xl-3 col-md-6">
	                            <div class="card bg-primary text-white mb-4">
	                                <div class="card-body">1) 원주공장 원부자재 스프동</div>
	                                <div class="card-footer d-flex align-items-center justify-content-between">
		                                <ol style="width:100%;" id="olA">
		                                	<!--/*
		                            		<li class="stretched-li" onClick="onClickCardList('liA1_CD', 'P');" id="liA1_LI">
		                            			<div class="row" style="width:100%;"><div id="liA1_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liA1_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liA2_CD', 'P');" id="liA2_LI">
	                            				<div class="row" style="width:100%;"><div id="liA2_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liA2_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liA3_CD', 'P');" id="liA3_LI">
	                            				<div class="row" style="width:100%;"><div id="liA3_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liA3_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liA4_CD', 'P');" id="liA4_LI">
	                            				<div class="row" style="width:100%;"><div id="liA4_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liA4_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		*/-->
		                            	</ol>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xl-3 col-md-6">
	                            <div class="card bg-warning text-white mb-4">
	                                <div class="card-body">2) 원주공장 원부자재 면생산동</div>
	                                <div class="card-footer d-flex align-items-center justify-content-between">
		                                <ol style="width:100%;" id="olB">
		                                	<!--/*
		                            		<li class="stretched-li" onClick="onClickCardList('liB1_CD', 'P');" id="liB1_LI">
		                            			<div class="row" style="width:100%;"><div id="liB1_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liB1_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liB2_CD', 'P');" id="liB2_LI">
		                        				<div class="row" style="width:100%;"><div id="liB2_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liB2_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liB3_CD', 'P');" id="liB3_LI">
		                        				<div class="row" style="width:100%;"><div id="liB3_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liB3_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liB4_CD', 'P');" id="liB4_LI">
		                        				<div class="row" style="width:100%;"><div id="liB4_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liB4_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		*/-->
		                            	</ol>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xl-3 col-md-6">
	                            <div class="card bg-success text-white mb-4">
	                                <div class="card-body">3) 원주공장 완제품</div>
	                                <div class="card-footer d-flex align-items-center justify-content-between">
		                                <ol style="width:100%;" id="olC">
		                                	<!--/*
		                            		<li class="stretched-li" onClick="onClickCardList('liC1_CD', 'G');" id="liC1_LI">
		                            			<div class="row" style="width:100%;"><div id="liC1_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liC1_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liC2_CD', 'G');" id="liC2_LI">
		                        				<div class="row" style="width:100%;"><div id="liC2_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liC2_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liC3_CD', 'G');" id="liC3_LI">
		                        				<div class="row" style="width:100%;"><div id="liC3_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liC3_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liC4_CD', 'G');" id="liC4_LI">
		                        				<div class="row" style="width:100%;"><div id="liC4_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liC4_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		*/-->
		                            	</ol>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xl-3 col-md-6">
	                            <div class="card bg-danger text-white mb-4">
	                                <div class="card-body">4) 곤지암센터 완제품</div>
	                                <div class="card-footer d-flex align-items-center justify-content-between">
		                                <ol style="width:100%;" id="olD">
		                                	<!--/*
		                            		<li class="stretched-li" onClick="onClickCardList('liD1_CD', 'G');" id="liD1_LI">
		                            			<div class="row" style="width:100%;"><div id="liD1_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liD1_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liD2_CD', 'G');" id="liD2_LI">
		                        				<div class="row" style="width:100%;"><div id="liD2_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liD2_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liD3_CD', 'G');" id="liD3_LI">
		                        				<div class="row" style="width:100%;"><div id="liD3_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liD3_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		<li class="stretched-li" onClick="onClickCardList('liD4_CD', 'G');" id="liD4_LI">
		                        				<div class="row" style="width:100%;"><div id="liD4_NM" class="col-sm-6-adminL col-xl-12 col-xxl-12-adminL"></div><div id="liD4_QTY" class="col-sm-6-adminR col-xl-12-admin col-xxl-12-adminR" style="background-color:#F6F6F6; border-radius: 0.25em;"></div></div>
		                            		</li>
		                            		*/-->
		                            	</ol>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-xl-6">
	                            <div class="card mb-4">
	                                <div class="card-header" style="font-size:14px;"><i class="fas fa-chart-area mr-1"></i><b>일별 통계　<font color='#0B7903'>정상재고</font> / <font color='#FF2424'>적정재고</font></b></div>
	                                <div class="card-body" id="canvAreaChat"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
	                            </div>
	                        </div>
	                        <div class="col-xl-6">
	                            <div class="card mb-4">
	                                <div class="card-header" style="font-size:14px;"><i class="fas fa-chart-bar mr-1"></i><b>월별 통계　<font color='#1312FF'>입고</font> / <font color='#FF2424'>출고</font> / <font color='#0B7903'>재고</font></b></div>
	                                <div class="card-body" id="canvBarChat"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="card mb-4">
	                        <div class="card-header" style="font-size:14px;" id="LIST_TITLE"><i class="fas fa-table mr-1"></i>리스트1</div>
	                        <div class="card-body">
	                            <div class="table-responsive" id="tableArea">
			                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				                        <thead><th>select card.</th></thead>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <footer class="py-4 bg-light mt-auto">
	                <div class="container-fluid">
	                    <div class="d-flex align-items-center justify-content-between small">
	                        <div class="text-muted">Copyright &copy;2006-2016 All rights reserved.</div>
	                        <div>
	                            <a href="#">LogisALL</a>
	                            <!--&middot;
	                            <a href="#">Terms &amp; Conditions</a>-->
	                        </div>
	                    </div>
	                    
	                </div>
	            </footer>
	            </main>
	            <div id = "formData" style = "visibility : hidden ; width : 0px; height :40px;"></div>
		    </div>
		</body>
    </div>
</div>
<form id="frm_dashBoardReflesh" name="frm_dashBoardReflesh" method="post" action="/WINUS/WMSTG899.action"></form>

<script src="/customer/assets/Chart.min.js"></script>
<script src="/customer/assets/demo/chart-area-demo.js?v=20200707"></script>
<script src="/customer/assets/demo/chart-bar-demo.js?v=20200707"></script>
<script src="/customer/assets/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="/customer/assets/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
#parse("winus/common/footer.vm")