<div class="patternWrap">
	<form name="frm_list">		
	    <table class="search" id="srchBox">
	        <colgroup>
				<col width = "80px"/>
				<col width = "33%"/>
				<col width = "80px"/>
				<col width = "33%"/>
	        </colgroup>
	        <tbody>
				<tr>
					<th>$!lang.getText('입고예정일')</th>
					<td>
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)"> 
					</td>
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 35%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 35%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
				</tr>
	        </tbody>
	    </table>
	</form> 
	  
	<div class="btnArea">
	     <div class="btnAreaLeft">
	     </div>
	     <div class="btnAreaRight">
			<input type="button" class="btnEtc" name="btn_write" value="$!lang.getText('조회')" onclick="fn_search()" role="button" aria-disabled="false"/>
	    </div>
	</div>
		
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	  
	<div class="btnArea">
	     <div class="btnAreaLeft">
	     </div>
	     <div class="btnAreaRight">
			<input type="button" class="btnEtc" name="btn_write" value="$!lang.getText('등록')" onclick="fn_set()" role="button" aria-disabled="false"/>
	    </div>
	</div>
	
	<div class="list_box">
		<table id="list2"></table>
		<div id="pjmap2"></div>
	</div>

	<div class="btnArea">
	     <div class="btnAreaLeft">
	     </div>
	     <div class="btnAreaRight">
			<input type="button" class="btnEtc" name="btn_write" value="$!lang.getText('전송')" onclick="fn_save()" role="button" aria-disabled="false"/>
	    </div>
	</div>
	
	<div class="list_box">
		<table id="list3"></table>
		<div id="pjmap3"></div>
	</div>
	
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>
<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>