#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript">

// 사용될 그리드 명명
var listGrid = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();
var listGrid3 = new ULNSI_jQGrid();

jQuery(document).ready(function(){	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 출고일 날짜 셋팅 */
	//var vrSrchReqDt = (new Date()).getFormattedString("YYYY-MM-DD");
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtTo'] , input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	
	/* 메인그리드 시작 */
	var colNameArray = [
	                     "$!lang.getText('주문')</br>$!lang.getText('번호')"		//ORD_ID
	                    ,"$!lang.getText('화주명')"		//CUST_NM  
	                    //,"$!lang.getText('출고예정일')"		//OUT_REQ_DT
	                    //,"$!lang.getText('입출고구분')"		//ORD_TYPE
	                    ,'OUT_REQ_DT'
	                    ,'ORD_TYPE'
	                    ,'ORD_ID'
	                    ,'CUST_ID'
	                    ,'CUST_CD'
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray = [
						 {name : 'VIEW_ORD_ID'	,index : 'VIEW_ORD_ID'	,width : 50}
						,{name : 'CUST_NM'		,index : 'CUST_NM'		,width : 120}	
						
						//,{name : 'OUT_REQ_DT'	,index : 'OUT_REQ_DT'	,width : 100	,align : "center"}
						//,{name : 'ORD_TYPE'		,index : 'ORD_TYPE'	,width : 100	,align : "center",	formatter : 'select', edittype : "select"	,editoptions : {value:"01:$!lang.getText('입고');02:$!lang.getText('출고')"}}							
						,{name : 'OUT_REQ_DT'	,index : 'OUT_REQ_DT'	,hidden : true}
						,{name : 'ORD_TYPE'		,index : 'ORD_TYPE'		,hidden : true}							
						,{name : 'ORD_ID'		,index : 'ORD_ID'		,hidden : true}
						,{name : 'CUST_ID'		,index : 'CUST_ID'		,hidden : true}
						,{name : 'CUST_CD'		,index : 'CUST_CD'		,hidden : true}
						]

	var option = {
			'title'		: "$!lang.getText('출고목록')"	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 200							//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'						//width 	
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')				//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true							//autowidth ??
				  ,'rowNum'		: 20							//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'multiselect': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : false
				 };
	
	var url = "/WMSMO908/list.action?vrSrchComType=01&vrSrchReqDtFrom="+vrSrchReqDt+"&vrSrchReqDtTo="+vrSrchReqDt;

	//그리드 생성
	listGrid.init(jQuery("#list1"), option, url)
	
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		//로우선택시 상세 뿌려줌
		fn_subSearch(id);
	});
	
	//하나만 선택
	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
	    jQuery("#list1").jqGrid('resetSelection');
	    return true;
	});
	
	//셀전체선택
	listGrid.setSelectAllEventCallback(function(id , status){
		fn_search();
		jQuery('#list1').clearGridData();
		alert("$!lang.getText('단일 행 선택전용 그리드는 전체 선택을 할 수 없습니다.')");
		return false;		
    });
	
	/* 메인 그리드 끝 */
	
	/* 서브 그리드 시작 */
	var colNameArray2 = [
	                'CHK_BOX'
                  
                  ,"$!lang.getText('주문')</br>$!lang.getText('수량')"		//IN_ORD_QTY                  
                  ,'QTY'
                  
                  ,"$!lang.getText('LOT번호')"      //VIEW_CUST_LOT_NO
                  ,"$!lang.getText('이재LOT번호')"   //CUST_LOT_NO
                  ,"$!lang.getText('상품명')"		  //RITEM_NM
                  ,"$!lang.getText('EPC코드')"   //RTI_EPC_CD
                  ,"$!lang.getText('(10진수)')"   //RTI_EPC_CD_SEQ10
                  ,"$!lang.getText('(16진수)')"   //RTI_EPC_CD_SEQ16_VIEW
                  ,"$!lang.getText('SEQ')"+"<br>"+"$!lang.getText('1610')"   //RTI_EPC_CD_SEQ16
                  
                  ,'REAL_IN_QTY'
                  ,"$!lang.getText('실출고수량')" //'REAL_OUT_QTY'
                  
                  ,"$!lang.getText('주문번호')"     //ORD_ID
                  ,"$!lang.getText('순번')"     //ORD_SEQ
                  ,"$!lang.getText('물류용기')"		  //BOWL_RITEM_CD
                  
                  ,"$!lang.getText('상품바코드')" //'ITEM_BAR_CD' 
                  ,'REAL_IN_WGT'                  
                  ,"$!lang.getText('상품무게')" //'REAL_OUT_WGT'
                  
                  
                  ,"$!lang.getText('박스바코드')" //'BOX_BAR_CD'
                  ,'MAKE_DT'
                  ,"$!lang.getText('상품')" +" "+ "$!lang.getText('EPC코드')" //'ITEM_EPC_CD'
                  ,'BARCODE_SN'
                  ,'CHILD_MAPPING_TYPE'  
                  
                  ,'PACKAGE_NO'
                  ,'PACKAGE_LEVEL'
                  ,'ORD_TYPE'
                  ,'ORD_TYPE_2'
                  ,'ORD_SUBTYPE'
                 
                  ,'CUST_ID'
                  ,'RITEM_ID'                  
                  ,'IN_ORD_WEIGHT'
                  ,'UOM_ID'
                  ,'RTI_ID'
                  
                  ,'T_CUST_ID'
                  ,'IN_CUST_ID'
                  ,'TRANS_CUST_ID'
                  ,'LC_ID'
                 ]
	
    var colModelArray2 = [
                     {name : 'CHK_BOX'					,index : 'CHK_BOX'					,hidden :true}
                     
					,{name : 'OUT_ORD_QTY'				,index : 'OUT_ORD_QTY'				,align : "right"	,width : 70	,hidden : false}
					,{name : 'QTY'						,index : 'QTY'						,align : "right"	,width : 60	,hidden : true	,editable : false}
					
					,{name : 'VIEW_CUST_LOT_NO'			,index : 'VIEW_CUST_LOT_NO'			,width : 140	,editable : false}
					,{name : 'CUST_LOT_NO'				,index : 'CUST_LOT_NO'				,width : 140	,editable : true}
					,{name : 'RITEM_NM'					,index : 'RITEM_NM'					,width : 200}
					,{name : 'RTI_EPC_CD'				,index : 'RTI_EPC_CD'				,align : "center",	width : 170	,editable : false}
					,{name : 'RTI_EPC_CD_SEQ10'			,index : 'RTI_EPC_CD_SEQ10'			,align : "center",	width : 75	,editable : true, cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "keyDownRtiEpcCdSeq10('+rowId+')"'; }}
					,{name : 'RTI_EPC_CD_SEQ16_VIEW'	,index : 'RTI_EPC_CD_SEQ16_VIEW'	,align : "center",	width : 75	,editable : true, cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "keyDownRtiEpcCdSeq16('+rowId+')"'; }}
					,{name : 'RTI_EPC_CD_SEQ16'			,index : 'RTI_EPC_CD_SEQ16'			,align : "center",	width : 50	,editable : true, hidden : true}
					
					,{name : 'REAL_IN_QTY'				,index : 'REAL_IN_QTY'				,align : "right"	,width : 80	,hidden : true	,editable : true}
					,{name : 'REAL_OUT_QTY'				,index : 'REAL_OUT_QTY'				,align : "right"	,width : 80	,hidden : false	,editable : true}
					
					,{name : 'ORD_ID'					,index : 'ORD_ID'					,align : "center"	,width : 80	,hidden : false}
					,{name : 'ORD_SEQ'					,index : 'ORD_SEQ'					,width : 40	,hidden : false ,align : 'center'}
					,{name : 'BOWL_RITEM_CD'			,index : 'BOWL_RITEM_CD'			,width : 200}
					
					,{name : 'ITEM_BAR_CD'				,index : 'ITEM_BAR_CD'				,align : "center"	,width : 80	,hidden : false	,editable : true}									
					,{name : 'REAL_IN_WGT'				,index : 'REAL_IN_WGT'				,width : 100	,hidden : true	,editable : true}
					,{name : 'REAL_OUT_WGT'				,index : 'REAL_OUT_WGT'				,width : 100	,hidden : false	,editable : true}
					
					,{name : 'BOX_BAR_CD'				,index : 'BOX_BAR_CD'				,width : 100	,hidden : false	,editable : true}
					,{name : 'MAKE_DT'					,index : 'MAKE_DT'					,width : 100	,hidden : true	,editable : true}
					,{name : 'ITEM_EPC_CD'				,index : 'ITEM_EPC_CD'				,width : 100	,hidden : false	,editable : true}
					,{name : 'BARCODE_SN'				,index : 'BARCODE_SN'				,width : 100	,hidden : true	,editable : true}
					,{name : 'CHILD_MAPPING_TYPE'		,index : 'CHILD_MAPPING_TYPE'		,width : 100	,hidden : true	,editable : true}
					
					,{name : 'PACKAGE_NO'				,index : 'PACKAGE_NO'				,width : 100	,hidden : true	,editable : true}
					,{name : 'PACKAGE_LEVEL'			,index : 'PACKAGE_LEVEL'			,width : 100	,hidden : true	,editable : true}
					,{name : 'ORD_TYPE'					,index : 'ORD_TYPE'					,hidden : true}
					,{name : 'ORD_TYPE_2'				,index : 'ORD_TYPE_2'				,hidden : true}						
					,{name : 'ORD_SUBTYPE'				,index : 'ORD_SUBTYPE'				,hidden : true}
					
					,{name : 'CUST_ID'					,index : 'CUST_ID'					,hidden : true}								
					,{name : 'RITEM_ID'					,index : 'RITEM_ID'					,hidden : true}		
					,{name : 'IN_ORD_WEIGHT'			,index : 'IN_ORD_WEIGHT'			,hidden : true}
					,{name : 'OUT_ORD_UOM_ID'			,index : 'OUT_ORD_UOM_ID'			,hidden : true}	
					,{name : 'RTI_NM'					,index : 'RTI_NM'					,hidden : true}
					
					,{name : 'T_CUST_ID'				,index : 'T_CUST_ID'				,hidden : true}
					,{name : 'IN_CUST_ID'				,index : 'IN_CUST_ID'				,hidden : true}	
					,{name : 'TRANS_CUST_ID'			,index : 'TRANS_CUST_ID'			,hidden : true}
					,{name : 'LC_ID'					,index : 'LC_ID'					,hidden : true}			
					]

    option = {
			   'title'		: "$!lang.getText('출고상세목록')"
			  ,'height'		: 200
			  ,'width'		: '100%'
			  ,'colName'	: colNameArray2
			  ,'colModel'	: colModelArray2
			  ,'pager'		: jQuery('#pjmap2')
			  ,'autowidth' 	: true
			  ,'rowNum'		: 20
		      #if($ss_gird_num != "")
		      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
		      #else
		      ,'rowList' : [100,200,300]
		      #end
			  ,'mtype' 		: 'POST'
			  ,'rownumbers' : true
			  ,'rownumWidth': 30
			  ,'gridview' 	: true
			  ,'sortable' 	: false
			  ,'viewrecords': true
			  ,'multiselect': true
			  ,'jsonReader'	: {repeatitems : false}
			  ,'shrinkToFit' : false
			 };
	
	listGrid2.init(jQuery("#list2"), option);
	
	//셀전체선택
	listGrid2.setSelectAllEventCallback(function(id , status){
        var grid = jQuery("#list2");
        var ids  = grid.jqGrid('getDataIDs');
        if(ids != ''){
            for(var i = 0; i< ids.length; i ++){
                var idx = ids[i];
                if(status){
                    grid.setCell(idx, 'CHK_BOX', "Yes");
                    var rowdata = grid.getRowData(idx);
                    if(rowdata.FLAG == "S"){
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
                    }else{
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
                    }
                    grid.editRow(idx);
                    if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "INSERT");

                    }else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "UPDATE");
                    }
                }else{
	                grid.setCell(idx, 'CHK_BOX', 'No');
                    grid.restoreRow(idx);
                    listGrid.setStatus(idx, " ");

                }
            }
        }
    });
	
	/* 헤더 그룹처리 */
	jQuery("#list2").jqGrid('setGroupHeaders', {
		useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		//startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
			,groupHeaders : [ 
		                  //{startColumnName : 'RTI_EPC_CD',     numberOfColumns : 3	,titleText : '$!lang.getText("RTI_EPC_CD")'},
		                
							]	 
	});
	
	//리스트 추가 동일 (fn_set)
	listGrid2.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		//미정
	});
	
	/* 서브 그리드 끝 */
	
	/* 서브 그리드 시작 */
	var colNameArray3 = [
	                 "CHK_BOX"
	                ,"ST_GUBUN"
	                ,""
	                
	                ,'EVENT_CD'
                    ,'LC_ID'
                    ,'PDA_NO'
                    ,'TRNS_STAT_CD'
                    ,'PDA_STAT'
                  
                    ,"$!lang.getText('LOT번호')" //CUST_LOT_NO
                    ,"$!lang.getText('수량')" //REAL_OUT_QTY
                    ,"$!lang.getText('주문번호')" //ORD_ID
                    ,'ORD_TYPE'
                    ,'ORD_SUBTYPE'
                    ,'CUST_ID'
                  
                    ,'RTI_EPC_CD'
                    ,'MAPPING_TYPE'
                    
                    ,"$!lang.getText('상품명')" //RITEM_NM
                    ,"$!lang.getText('주문')" +" "+ "$!lang.getText('순번')" //ORD_SEQ
                    ,'RITEM_ID'
                    
                  
                    ,'QTY'
                    ,'IN_ORD_WEIGHT'
                    ,'REAL_IN_WGT'
                    ,'REAL_OUT_WGT'
                    ,'REAL_IN_QTY'
                  
                    
                    ,'UOM_ID'
                    ,'ITEM_BAR_CD'
                    ,'BOX_BAR_CD'
                    ,'MAKE_DT'
                  
                    ,'RTI_ID'
                    ,'ITEM_EPC_CD'
                    ,'BARCODE_SN'
                    ,'CHILD_MAPPING_TYPE'
                     
                    
                    ,'T_CUST_ID'
                    ,'IN_CUST_ID'
                    ,'TRANS_CUST_ID'
                    
                    ,'PACKAGE_NO'
                    ,'PACKAGE_LEVEL'
	               ]
	
	var colModelArray3 = [
					 {name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true}
					,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
					,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 10		,align : "center"}
					
					,{name : 'EVENT_CD'			,index : 'EVENT_CD'			,width : 100,hidden : true}
					,{name : 'LC_ID'			,index : 'LC_ID'			,width : 100,hidden : true}
					,{name : 'PDA_NO'			,index : 'PDA_NO'			,width : 100,hidden : true}
					,{name : 'TRNS_STAT_CD'		,index : 'TRNS_STAT_CD'		,width : 100,hidden : true}
					,{name : 'PDA_STAT'			,index : 'PDA_STAT'			,width : 100,hidden : true}
					
					,{name : 'CUST_LOT_NO'		,index : 'CUST_LOT_NO'		,hidden : false}
					,{name : 'REAL_OUT_QTY'		,index : 'REAL_OUT_QTY'		,hidden : false   ,align : "right"}
					,{name : 'ORD_ID'			,index : 'ORD_ID'			,width : 100,hidden : false}
					,{name : 'ORD_TYPE'			,index : 'ORD_TYPE'			,hidden : true}
					,{name : 'ORD_SUBTYPE'		,index : 'ORD_SUBTYPE'		,hidden : true}
					,{name : 'CUST_ID'			,index : 'CUST_ID'			,hidden : true}
					
					,{name : 'RTI_EPC_CD'		,index : 'RTI_EPC_CD'		,hidden : true}
					,{name : 'MAPPING_TYPE'		,index : 'MAPPING_TYPE'		,hidden : true}
					
					,{name : 'RITEM_NM'			,index : 'RITEM_NM'			,hidden : false}	
					,{name : 'ORD_SEQ'			,index : 'ORD_SEQ'			,hidden : false   ,align : "center"}
					,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true}
					

					,{name : 'QTY'				,index : 'QTY'				,hidden : true}
					,{name : 'IN_ORD_WEIGHT'	,index : 'IN_ORD_WEIGHT'	,hidden : true}
					,{name : 'REAL_IN_WGT'		,index : 'REAL_IN_WGT'		,hidden : true}
					,{name : 'REAL_OUT_WGT'		,index : 'REAL_OUT_WGT'		,hidden : true}
					,{name : 'REAL_IN_QTY'		,index : 'REAL_IN_QTY'		,hidden : true}
					
					
					,{name : 'UOM_ID'			,index : 'UOM_ID'			,hidden : true}
					,{name : 'ITEM_BAR_CD'		,index : 'ITEM_BAR_CD'		,hidden : true}
					,{name : 'BOX_BAR_CD'		,index : 'BOX_BAR_CD'		,hidden : true}
					,{name : 'MAKE_DT'			,index : 'MAKE_DT'			,hidden : true}
					
					,{name : 'RTI_ID'			,index : 'RTI_ID'			,hidden : true}
					,{name : 'ITEM_EPC_CD'		,index : 'ITEM_EPC_CD'		,hidden : true}
					,{name : 'BARCODE_SN'		,index : 'BARCODE_SN'		,hidden : true}
					,{name : 'CHILD_MAPPING_TYPE'	,index : 'CHILD_MAPPING_TYPE'	,hidden : true}
					
					
					,{name : 'T_CUST_ID'		,index : 'T_CUST_ID'	,hidden : true}
					,{name : 'IN_CUST_ID'		,index : 'IN_CUST_ID'	,hidden : true}
					,{name : 'TRANS_CUST_ID'	,index : 'TRANS_CUST_ID'	,hidden : true}
					
					,{name : 'PACKAGE_NO'		,index : 'PACKAGE_NO'		,hidden : true}
					,{name : 'PACKAGE_LEVEL'	,index : 'PACKAGE_LEVEL'	,hidden : true}
					]
	
	 option = {
			   'title'		: "$!lang.getText('전송목록확인')"
			  ,'height'		: 250
			  ,'width'		: '100%'
			  ,'colName'	: colNameArray3
			  ,'colModel'	: colModelArray3
			  ,'pager'		: jQuery('#pjmap3')
			  ,'autowidth' 	: true
			  ,'rowNum'		: 20
		      #if($ss_gird_num != "")
		      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
		      #else
		      ,'rowList' : [100,200,300]
		      #end
			  ,'mtype' 		: 'POST'
			  ,'rownumbers' : true
			  ,'rownumWidth': 30
			  ,'gridview' 	: true
			  ,'sortable' 	: false
			  ,'viewrecords': true
			  ,'multiselect': true
			  ,'scroll'		: true
			  ,'jsonReader'	: {repeatitems : false}
			 };
		
	listGrid3.init(jQuery("#list3"), option);
	
	/* 서브 그리드 끝 */
});

//---------------------------------------------------------- 메인 ----------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSMS011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* keyDownRtiEpcCdSeq10 */
function keyDownRtiEpcCdSeq10(id){
	//10진수 컬럼에 입력
	var grid = jQuery("#list2");
	var seq16Len = jQuery("#"+ id + "_RTI_EPC_CD_SEQ16_VIEW", "#list2").val().length;
	var decVal = jQuery("#"+ id + "_RTI_EPC_CD_SEQ10", "#list2").val();
	var languageCheck = /[a-z|A-Z|ㄱ-ㅎ]/;
	
	if (languageCheck.test(decVal)){
		//10진수 값입력 숫자만 가능
		alert("$!lang.getText('10진수입력값오류')");
		jQuery("#"+ id + "_RTI_EPC_CD_SEQ10", "#list2").val("");
		return false;
	}
	
	//16진수 값이 입력되어 있으면
	if(0 < seq16Len ){
		jQuery("#"+ id + "_RTI_EPC_CD_SEQ16_VIEW", "#list2").val("");
		jQuery("#"+ id + "_RTI_EPC_CD_SEQ16", "#list2").val("");
	}
}

/* keyDownRtiEpcCdSeq16 */
function keyDownRtiEpcCdSeq16(id){
	//16진수 컬럼에 입력
	var grid = jQuery("#list2");
	var seq10Len = jQuery("#"+ id + "_RTI_EPC_CD_SEQ10", "#list2").val().length;
	var hexVal = jQuery("#"+ id + "_RTI_EPC_CD_SEQ16_VIEW", "#list2").val();  //"7b";
	var tranDecVal =parseInt(hexVal, 16);
	var languageCheck = /[g-z|G-Z|ㄱ-ㅎ]/;
	
	if (languageCheck.test(hexVal)){
		//16진수 값입력 중 a-f 이 외 다른 값이 있을 경우
		alert("$!lang.getText('16진수입력값오류')");
		jQuery("#"+ id + "_RTI_EPC_CD_SEQ16_VIEW", "#list2").val("");
		return false;
	}else{
		//16진수 -> 10진수 변환 적용
		jQuery("#"+ id + "_RTI_EPC_CD_SEQ16", "#list2").val(tranDecVal);
		if(hexVal.length == 0){
			jQuery("#"+ id + "_RTI_EPC_CD_SEQ16", "#list2").val("");
		}
	}
	
	//10진수 값이 입력되어 있으면
	if(0 < seq10Len ){
		jQuery("#"+ id + "_RTI_EPC_CD_SEQ10", "#list2").val("");
	}
}

/* 출고현황 - MainGrid*/
function fn_search(op, op1) {
	var validator = new Validator("frm_list");
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('출고일'):");
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('출고일'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}

	//검색조건값을 파라미터로 보낸다.
	var param 	= jQuery("form[name='frm_list']").serialize();
	var url 	= "/WMSMO908/list.action?"+param;
	listGrid.search(param, url, op, op1);
	listGrid2.clear();
	jQuery('#list3').clearGridData();
}

/* 상세 조회 - SubGrid*/
function fn_subSearch(id){
	//메인그리드에서 선택된 id를 받는다
	var grid = jQuery("#list1");
	var vrOrdId = grid.getCell(id, 'ORD_ID');
	
	var url = "/WMSMO908/detailList.action?vrOrdId="+vrOrdId;
	listGrid2.search("", url);		
	
	jQuery("#formCheckData").empty();
	jQuery("#formData").empty();
}

/* 등록 */
function fn_set(){
	var procCnt     = 0;
	
	try {
		var grid 		= jQuery("#list2");
		var countRow 	= grid.getDataIDs().size();
		var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		
		if(selectIds == ""){
			alert("$!lang.getText('save.nodata')");
			return;
		}
		
		//추가입력 검사
		if(!fn_insertValidation()){return;}
		
	    if( jQuery("form[name='frm_check_data'] input[name='selectIds']").val() == undefined){
	        jQuery("#formCheckData").append("<input type='text' name='selectIds' value='0'/>");
	        jQuery("#formCheckData").append("<br>");
	    }
		
		var totCnt = 0; 
		
		for(var i = 0 ; i < selectIds.length ; i++){
			
			jQuery("#formCheckData").append("<input type='text' name='LC_ID"  	    + totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "LC_ID"))+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='CUST_ID"  	+ totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "CUST_ID"))+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='IN_CUST_ID"  	+ totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "T_CUST_ID"))+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='RITEM_ID"  	+ totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='REAL_IN_QTY" 	+ totCnt + "'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_REAL_IN_QTY","#list2").val())+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='REAL_OUT_QTY"	+ totCnt + "'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_REAL_OUT_QTY","#list2").val())+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='REAL_IN_WGT" 	+ totCnt + "'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_REAL_IN_WGT","#list2").val())+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='REAL_OUT_WGT"	+ totCnt + "'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_REAL_OUT_WGT","#list2").val())+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='ORD_TYPE"		+ totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "ORD_TYPE"))+"'/>");
			jQuery("#formCheckData").append("<input type='text' name='RTI_EPC_CD"	+ totCnt + "'  value='"+(cfn_trim(grid.getCell(selectIds[i], "RTI_EPC_CD"))+cfn_trim(jQuery("#"+selectIds[i] + "_RTI_EPC_CD_SEQ10","#list2").val())+cfn_trim(jQuery("#"+selectIds[i] + "_RTI_EPC_CD_SEQ16","#list2").val()))+"'/>");
			totCnt ++;
				
		}	
		
		jQuery("form[name='frm_check_data'] input[name='selectIds']").val( totCnt );				
		var param 	= jQuery("form[name='frm_check_data']").serialize();			
		var url 	= "/WMSMO908/checkWeight.action";
		//var selectId = selectIds[i];

		jQuery.post(url, param, function(data){
			if(data.errCnt > -1){
				for(var i = 0 ; i < selectIds.length ; i++){
					var selectId = selectIds[i];
					var	datarow = {
						  	ST_GUBUN 		: "INSERT"
				      	   ,ST_GUBUN_IMG	: "<img src='/img/exam/btn/add.gif'>"
						   ,CHK_BOX      	: "Yes"
						   
						   ,EVENT_CD		: "999999"
						   ,LC_ID			: "$!ss_svc_no"					   
						   ,PDA_NO			: "$!ss_user_no"
						   ,TRNS_STAT_CD	: "C"
						   ,PDA_STAT		: "OK"

						   ,ORD_ID		 	: grid.getCell(selectId, 'ORD_ID')
						   ,ORD_TYPE		: grid.getCell(selectId, 'ORD_TYPE_2')					   
						   ,ORD_SUBTYPE		: grid.getCell(selectId, 'ORD_SUBTYPE')	
						   ,CUST_ID	 		: grid.getCell(selectId, 'CUST_ID')
						   
						   ,RTI_EPC_CD	 	: (grid.getCell(selectIds[i], "RTI_EPC_CD") + jQuery("#"+selectId + "_RTI_EPC_CD_SEQ10","#list2").val() + jQuery("#"+selectId + "_RTI_EPC_CD_SEQ16","#list2").val())
						   ,MAPPING_TYPE	: "Y"
						   
						   ,ORD_SEQ			: grid.getCell(selectId, 'ORD_SEQ')
						   ,RITEM_ID		: grid.getCell(selectId, 'RITEM_ID')
						   ,RITEM_NM		: grid.getCell(selectId, 'RITEM_NM')
						   
						   ,QTY	 			: grid.getCell(selectId, 'QTY')
						   ,IN_ORD_WEIGHT	: grid.getCell(selectId, 'IN_ORD_WEIGHT')
						   ,REAL_IN_WGT	 	: jQuery("#"+selectId + "_REAL_IN_WGT","#list2").val()
						   ,REAL_OUT_WGT	: jQuery("#"+selectId + "_REAL_OUT_WGT","#list2").val()
						   ,REAL_IN_QTY 	: jQuery("#"+selectId + "_REAL_IN_QTY","#list2").val()
						   
						   ,REAL_OUT_QTY 	: jQuery("#"+selectId + "_REAL_OUT_QTY","#list2").val()
						   ,UOM_ID			: grid.getCell(selectId, 'OUT_ORD_UOM_ID')
						   ,ITEM_BAR_CD 	: jQuery("#"+selectId + "_ITEM_BAR_CD","#list2").val()
						   ,BOX_BAR_CD 		: jQuery("#"+selectId + "_BOX_BAR_CD","#list2").val()
						   ,MAKE_DT 		: jQuery("#"+selectId + "_MAKE_DT","#list2").val()
						   
						   ,RTI_ID	 		: grid.getCell(selectId, 'RTI_NM')	
						   ,ITEM_EPC_CD	 	: jQuery("#"+selectId + "_ITEM_EPC_CD","#list2").val()
						   ,BARCODE_SN	 	: jQuery("#"+selectId + "_BARCODE_SN","#list2").val()
						   ,CHILD_MAPPING_TYPE	 	: jQuery("#"+selectId + "_CHILD_MAPPING_TYPE","#list2").val()
						   
						   ,CUST_LOT_NO	 	: jQuery("#"+selectId + "_CUST_LOT_NO","#list2").val()	
						   ,T_CUST_ID	 	: grid.getCell(selectId, 'T_CUST_ID')
						   ,IN_CUST_ID	 	: grid.getCell(selectId, 'IN_CUST_ID')	
						   ,TRANS_CUST_ID	 	: grid.getCell(selectId, 'TRANS_CUST_ID')	
						   
						   ,PACKAGE_NO	 	: jQuery("#"+selectId + "_PACKAGE_NO","#list2").val()
						   ,PACKAGE_LEVEL	: jQuery("#"+selectId + "_PACKAGE_LEVEL","#list2").val()
					}
					listGrid3.addRow(datarow);
					procCnt ++;
				}
			}else{
				if(confirm("$!lang.getText('무게오차진행여부')")){
					for(var i = 0 ; i < selectIds.length ; i++){
						var selectId = selectIds[i];
						var	datarow = {
							  	ST_GUBUN 		: "INSERT"
					      	   ,ST_GUBUN_IMG	: "<img src='/img/exam/btn/add.gif'>"
							   ,CHK_BOX      	: "Yes"
							   
							   ,EVENT_CD		: "999999"
							   ,LC_ID			: "$!ss_svc_no"					   
							   ,PDA_NO			: "$!ss_user_no"
							   ,TRNS_STAT_CD	: "C"
							   ,PDA_STAT		: "OK"
		
							   ,ORD_ID		 	: grid.getCell(selectId, 'ORD_ID')
							   ,ORD_TYPE		: grid.getCell(selectId, 'ORD_TYPE_2')					   
							   ,ORD_SUBTYPE		: grid.getCell(selectId, 'ORD_SUBTYPE')	
							   ,CUST_ID	 		: grid.getCell(selectId, 'CUST_ID')
							   
							   ,RTI_EPC_CD	 	: (grid.getCell(selectIds[i], "RTI_EPC_CD") + jQuery("#"+selectId + "_RTI_EPC_CD_SEQ10","#list2").val() + jQuery("#"+selectId + "_RTI_EPC_CD_SEQ16","#list2").val())
							   ,MAPPING_TYPE	: "Y"
							   
							   ,ORD_SEQ			: grid.getCell(selectId, 'ORD_SEQ')
							   ,RITEM_ID		: grid.getCell(selectId, 'RITEM_ID')
							   ,RITEM_NM		: grid.getCell(selectId, 'RITEM_NM')
							   
							   ,QTY	 			: grid.getCell(selectId, 'QTY')
							   ,IN_ORD_WEIGHT	: grid.getCell(selectId, 'IN_ORD_WEIGHT')
							   ,REAL_IN_WGT	 	: jQuery("#"+selectId + "_REAL_IN_WGT","#list2").val()
							   ,REAL_OUT_WGT	: jQuery("#"+selectId + "_REAL_OUT_WGT","#list2").val()
							   ,REAL_IN_QTY 	: jQuery("#"+selectId + "_REAL_IN_QTY","#list2").val()
							   
							   ,REAL_OUT_QTY 	: jQuery("#"+selectId + "_REAL_OUT_QTY","#list2").val()
							   ,UOM_ID			: grid.getCell(selectId, 'OUT_ORD_UOM_ID')
							   ,ITEM_BAR_CD 	: jQuery("#"+selectId + "_ITEM_BAR_CD","#list2").val()
							   ,BOX_BAR_CD 		: jQuery("#"+selectId + "_BOX_BAR_CD","#list2").val()
							   ,MAKE_DT 		: jQuery("#"+selectId + "_MAKE_DT","#list2").val()
							   
							   ,RTI_ID	 		: grid.getCell(selectId, 'RTI_NM')	
							   ,ITEM_EPC_CD	 	: jQuery("#"+selectId + "_ITEM_EPC_CD","#list2").val()
							   ,BARCODE_SN	 	: jQuery("#"+selectId + "_BARCODE_SN","#list2").val()
							   ,CHILD_MAPPING_TYPE	 	: jQuery("#"+selectId + "_CHILD_MAPPING_TYPE","#list2").val()
							   
							   ,CUST_LOT_NO	 	: jQuery("#"+selectId + "_CUST_LOT_NO","#list2").val()	
							   ,T_CUST_ID	 	: grid.getCell(selectId, 'T_CUST_ID')
							   ,IN_CUST_ID	 	: grid.getCell(selectId, 'IN_CUST_ID')	
							   ,TRANS_CUST_ID	 	: grid.getCell(selectId, 'TRANS_CUST_ID')	
							   
							   ,PACKAGE_NO	 	: jQuery("#"+selectId + "_PACKAGE_NO","#list2").val()
							   ,PACKAGE_LEVEL	: jQuery("#"+selectId + "_PACKAGE_LEVEL","#list2").val()
						}
						listGrid3.addRow(datarow);
						procCnt ++;
					}
				}else{
					alert("$!lang.getText('취소되었습니다')");
				}
			}
			
	 	}).fail(function(xhr, textStatus){
			if(xhr.status == 404){	
				location.href=('/index.html');
			}
		});	
		
		jQuery("#formCheckData").empty();	

	}catch (err){
		alert("$!lang.getText('취소되었습니다')" + " : " + err);
	}finally{

	}
}

/* 입력검사  (완) */
function fn_insertValidation(){
	var grid2 		= jQuery("#list2");
	var countRow2 	= grid2.getDataIDs().size();
	var selectIds2 	= grid2.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var grid3 		= jQuery("#list3");
	var countRow3 	= grid3.getDataIDs().size();
	var selectIds3 	= grid3.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds2.length == 1){
		for(var i = 0 ; i < selectIds2.length ; i++){
			var serialLeng  = jQuery("#"+selectIds2[i] + "_RTI_EPC_CD_SEQ10","#list2").val().length + jQuery("#"+selectIds2[i] + "_RTI_EPC_CD_SEQ16","#list2").val().length;
			var sourceViewLotNo = grid2.getCell(selectIds2[i], 'VIEW_CUST_LOT_NO');
			var sourceLotNo = jQuery("#"+selectIds2[i] + "_CUST_LOT_NO","#list2").val();
			
			//전송목록 등록 시 1개의 주문번호 단위로 처리 가능 (2개 이상의 주문번호 출고 목록이 등록 시 제한)
			if(countRow3 > 0){
				var sourceVal  = grid2.getCell(selectIds2[i], 'ORD_ID')+"-"+grid2.getCell(selectIds2[i], 'ORD_SEQ');
				
				for(var j = 0 ; j < selectIds3.length ; j++){
					var targetVal = grid3.getCell(selectIds3[j], 'ORD_ID')+"-"+grid3.getCell(selectIds3[j], 'ORD_SEQ');
			
					if(sourceVal != targetVal){
						alert("$!lang.getText('1개의출고목록단위로처리가능합니다')" + "\n" + "$!lang.getText('LOT번호')" + " : " + sourceViewLotNo);
						return false;
						break;
					}
				}
			}
			
			//이재LOT번호 필수 입력 체크
			if(sourceLotNo.length == 0){
				alert("$!lang.getText('이재LOT번호는필수입력입니다')" + "\n" + "$!lang.getText('LOT번호')" + " : " + sourceViewLotNo);
				return false;
				break;
			}
			
			//EPC코드 SEQ 시리얼 필수 입력 체크
			if(serialLeng == 0){
				alert("$!lang.getText('EPC코드시리얼은필수입력입니다')" + "\n" + "$!lang.getText('LOT번호')" + " : " + sourceViewLotNo);
				return false;
				break;
			}
		}
	}else{
		alert("$!lang.getText('1개의출고목록단위로처리가능합니다')");
		return false;
	}
	return true;
}

/* 전송 */
function fn_save(){
	var grid = jQuery("#list3");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var totCnt = 0 ;	//선택된거 총갯수
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");
		return;
	}
	
	if(!confirm("$!lang.getText('update.confirm')")){
		fn_search();
		listGrid2.clear();
		listGrid3.clear();
		alert("$!lang.getText('취소되었습니다')");
		return;
	}
	
	jQuery("#formData").html("");
	//삭제될 데이터 카운팅해서 저장할공간 append
    if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
        jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
        jQuery("#formData").append("<br>");
    }else{
    	totCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
    }
	
	//작업날짜
	var vrWorkDt = (new Date()).getFormattedString("YYYYMMDD");
	
	for(var i = 0 ; i < selectIds.length ; i++){
		jQuery("#formData").append("<input type='text' name='RTI_EPC_CD"  	+ totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "RTI_EPC_CD"))+"'/>");
		jQuery("#formData").append("<input type='text' name='CUST_LOT_NO"  	+ totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "CUST_LOT_NO"))+"'/>");
		jQuery("#formData").append("<input type='text' name='REAL_OUT_QTY"  + totCnt + "'  value='"+cfn_trim(grid.getCell(selectIds[i], "REAL_OUT_QTY"))+"'/>");

		totCnt ++;
	}
	
	jQuery("form[name='frm_data'] input[name='selectIds']").val( totCnt );
	var param 	= jQuery("form[name='frm_data']").serialize();
	
// console.log(param);

	var url 	= "/WMSMO908/save.action";
	jQuery.post(url, param, function(data){
		alert(data.MSG);
		if(data.errCnt == 0){
			fn_search();
			listGrid2.clear();
			listGrid3.clear();
			//alert("$!lang.getText('저장되었습니다.')");
		}
		
 	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
	
}

function fn_delete(){
	jQuery('#list3').clearGridData();
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("M_이재매핑처리")</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
       #parse("winus/wmsmo/WMSMO908E1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")