.card-body-md {
  height: 40vh;
}

/* TV용 우측 카드 높이 */
.card-body-md__tv {
  height: 33vh;
}

/* TV용 좌측 카드 높이 */
.dashboard__card {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 25px;
  height: 18.6vh;
}

.dashboard__card .dashboard-card__title {
  font-size: 1.4rem;
  font-weight: 700;
}

.dashboard__card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 0;
}

.dashboard__card .card-number {
  font-size: 4.375rem;
  font-weight: 700;
}

.dashboard-card-title {
  margin-bottom: 0;
}

.dashboard__card--type02 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.dashboard__card--type02 .card-left {
  display: flex;
  align-items: center;
}

.dashboard__card--type02 .dashboard-card-title {
  color: #fff;
}

.dashboard__card--type02 .card-number {
  font-size: 6.25rem;
}

.dashboard-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 24px;
  margin-bottom: 0;
}

.dashboard__card--type02 .dashboard-card__icon {
  margin-right: 32px;
}

.dashboard-card__icon--type01 {
  background: #fab53e;
}

.dashboard-card__icon--type02 {
  background: #dc6a6a;
}

.dashboard-card__icon--type03 {
  background: #659fdf;
}

.dashboard-card__icon--type04 {
  background: #5ac7a3;
}

.dashboard-card__text--type02 {
  color: #dc6a6a !important;
}

.dashboard-card__text--type02-01 {
  color: #de5656 !important;
}

.dashboard-card__text--type03 {
  color: #659fdf !important;
}

.dashboard-card__text--type03-01 {
  color: #316fd3 !important;
}

.dashboard-card-title {
  font-size: 2.5rem !important;
  font-weight: bold;
}

.dashboard-card-title--green {
  color: #36bf91 !important;
}

.dashboard__summary {
  display: flex;
}

.summary__list {
  width: 12.5%;
  flex-basis: 12.5%;
}

.card-number {
  font-size: 3.12rem;
  margin-bottom: 0;
  line-height: 1;
}

.dashboard-headding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
  padding: 0 24px;
}

.dashboard-headding-dh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
  padding: 0 24px;
}

.dashboard-body {
  padding: 0 24px;
}

#divClock {
  color: #1d1d1f;
  font-size: 1.5rem;
  font-weight: 700;
}

.dashboard-clock {
  display: flex;
  align-items: center;
}

.dashboard-clock img {
  margin-right: 16px;
}

.dashboard-card__orange {
  background: #f8a227;
  color: #fff;
}

.dashboard-card__green {
  background: #36bf91;
  color: #fff;
}

.dashboard__btn-group {
  display: flex;
  align-items: center;
}

.dashboard__btn-group .dashboard-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  border-radius: 11px;
  height: 52px;
  margin-right: 12px;
  font-size: 25px;
  color: #ccc;
  padding-left: 176px;
  background: #eee url('/css/assets/images/logo/logo-dh-c.png') no-repeat 12px;
  cursor: pointer;
}

.dashboard__btn-group .dashboard-btn.active {
  color: #fff;
  background: #ffa13f url('/css/assets/images/logo/logo-dh-c.png') no-repeat 12px;
}

.dashboard__btn-group .dashboard-btn-KCC {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  border-radius: 11px;
  height: 52px;
  margin-right: 12px;
  font-size: 25px;
  color: #ccc;
  padding-left: 176px;
  background: #eee url('/css/assets/images/logo/logo-kcc-home-disable.png') no-repeat 12px;
  cursor: pointer;
}

.dashboard__btn-group .dashboard-btn-KCC.active {
  color: #fff;
  background: #ffa13f url('/css/assets/images/logo/logo-kcc-home.png') no-repeat 12px;
}

.dashboard-kcc__card {
  padding: 1rem;
  height: 20vh;
}

.dashboard-kcc__card--type02 {
  height: 37vh;
}

.dashboard-kcc__card-body {
  position: relative;
}

.dashboard-kcc__title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 700;
}

.dashboard-kcc__title--static {
  position: static;
}

.dashboard-kcc__title--red {
  color: #de5656;
}

.dashboard-kcc__title--blue {
  color: #316fd3;
}
.dashboard-kcc__title--green {
  color: #36bf91;
}

.chart-title .chart-percent {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}

.chart-title .chart-percent-dh {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}
.chart-title .chart-percent-dhb {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

.chart-title .chart-percent--blue {
  color: #316fd3;
}
.chart-title .chart-percent--green {
  color: #36bf91;
}
.chart-title .chart-percent--red {
  color: #de5656;
}

.chart-area {
  width: 100%;
  height: 20vh;
  margin-top: -1rem;
}

.kcc-chart {
  position: relative;
}

.kcc-chart .chart-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.kcc-chart .chart-title .first-text {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 2px;
  line-height: 1;
}

.kcc-chart .chart-title .second-text {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  line-height: 1;
}

.kcc-table__div {
  height: 28vh;
  overflow-y: auto;
}

.kcc-table {
  width: 100%;
  text-align: center;
}

.kcc-table th {
  position: sticky;
  top: 0;
  background: #ffa13f;
  color: #fff;
  height: 52px;
  font-size: 25px;
  font-weight: 700;
}

.kcc-table td {
  font-size: 20px;
  font-weight: 700;
  height: 72px;
  border-bottom: 1px solid #eeeeee;
}
