.card-body-md {
  height: 40vh;
}

/* TV용 우측 카드 높이 */
.card-body-md__tv {
  height: 35vh;
}

/* TV용 좌측 카드 높이 */
.dashboard__card {
  height: 19.2vh;
}

.dashboard-card-title {
  font-size: 2.4rem !important;
  font-weight: bold;
}

.card .card-number {
  font-size: 5.7rem;
}

.card .dashboard-card-number {
  font-size: 7rem;
}

.dashboard__card .card-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dashboard__summary {
  display: flex;
}

.summary__list {
  width: 12.5%;
  flex-basis: 12.5%;
}

.card-number {
  font-size: 3.12rem;
  margin-bottom: 0;
  line-height: 1;
}