<style>
	.csState__container {
		display: inline-flex;
		margin-right: 15px;
	}
	.blank__area {
		width: 0.3rem;
	}
</style>

<div class="patternWrap">
	<form id="frm_listE3" name="frm_listE3">
		<table class="search" id="srchBox">
			<colgroup>				
			<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText('사용자구분')</th>
				<td>
					<select name="S_USER_GB" id="S_USER_GB" class="selectbox">
						<option value="">$!lang.getText('전체')</option>
						#foreach($row in $UserGB)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>	
						#end
					</select>
				</td>
				<th>$!lang.getText('사용자아이디')</th>
				<td>
					<input type="text" class="text" id="S_USER_ID" name="S_USER_ID" style="ime-mode:inactive;"/>
				</td>
				<th>$!lang.getText('사용자명')</th>
				<td>
					<input type="text" class="text" id="S_USER_NAME" name="S_USER_NAME" style="ime-mode:active;"/>
				</td>
				<th></th>
				<td class="btnSearch" rowspan="3">
					<input type="button" id="btnSrchE3" name="btnSrchE3" value="$!lang.getText('')" title="검색" role="button" aria-disabled="false" class="ui-button ui-widget ui-state-default ui-corner-all">
				</td>
			</tr>
			<tr>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('다중접속')</th>
				<td>
					<div style="max-width: 100px">
						<select id="vrMulti" name="vrSrchSetItemYn">
							<option value="">전체</option>
							<option value="N">N</option>
							<option value="Y">Y</option>
						</select>
					</div>
				</td>
				<th class="thBar">$!lang.getText('옵션')</th>
				<td colspan="4">
					<div>
						<div class="csState__container">
							<input type="checkbox" name="OPT_E3_00" id="OPT_E3_00" value="0"/>
							<div class="blank__area" ></div>
							<label for="OPT_E3_00">$!lang.getText('센터전체')</label>
						</div>
						<div class="csState__container">
							<input type="checkbox" name="OPT_E3_01" id="OPT_E3_01" value="0"/>
							<div class="blank__area" ></div>
							<label for="OPT_E3_01">$!lang.getText('검색간격')</label>
							<span>(</span>
							<input type="text" name="intervaTimeE3" id="intervaTimeE3" value="0" style="max-width:35px; margin: 0px 5px;" />
							<span>ms )</span>
						</div>
					</div>
				</td>					
			</tr>	
		</table>	
	</form>	

	<div class = "btnArea" style ="margin-bottom:-45px;">
		<div class="btnAreaLeft" style="width:50%">
			<div id='countBox'><!-- style='display:none;' -->
				<span>사용자 : </span>
				<span id='totalUserCntE3'>0</span>

				<span style='padding-left:60px;'>다중접속허용계정 : </span>
				<span id='totalMutliUserCntE3'>0</span>

				<span style='padding-left:70px;'>DB Session : </span>
				<span id='totalSessionCntE3'>0</span>	

				<span style='padding-left:70px;'>DB Process : </span>
				<span id='totalProcessCntE3'>0</span>	
			</div>
		</div>
		<div class = "btnAreaRight" id="btnArea">
			<input type	= "button" class = "EXC_AUTH btnExcel" 	id = "btn_writeE3"		name = "btn_writeE3" 			value=	"$!lang.getText('엑셀')"			role="button" aria-disabled="false"/>
		</div>
	</div>
</div>

<div style="padding-top:50px;">
	<div id="spdListE3" style="height:600px; border:1px solid #b0b0b0;"></div>
</div>
