<div class="patternWrap">
	<form name = "frm_list1" id="frm_list1">
		<table class = "search" id = "srchBox">
			<colgroup>
				<col width = "80px"/>
				<col width = "23%"/>
				<col width = "80px"/>
				<col width = "23%"/>
				<col width = "80px"/>
				<col width = "23%"/>
				<col width = "50px"/>
			</colgroup>
			<tr>
				<th><img src="/img/exam/ico_004.gif" class="imgclass" /> $!lang.getText('거래처')</th>
				<td>
					<input type = "text" style="width:42%" name = "txtCustCd" id = "txtCustCd" onChange="txtCustCd_OnKillFocus()" class = "text">
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch" onClick="fn_Popup();" />
					<input type = "text" style="width:42%" name = "txtCustNm" id = "txtCustNm" onChange="txtCustNm_OnKillFocus()" class = "text">	
					<input type = "hidden" name = "hdnCustCd" id="hdnCustCd" />	
				</td>
				<th class="thBar"><img src="/img/exam/ico_004.gif" class="imgclass" /> $!lang.getText('권한')</th>
				<td>
					<select name='cmbAuthCd' id='cmbAuthCd' class="selectbox">
					</select>
				</td>
				<th class="thBar">$!lang.getText('권한명칭')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="txtAuthNm" id="txtAuthNm">
				</td>		
				<th class="btnSearch">
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" />	
				</th>
			</tr>
		</table>
		<div id = "formData1" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<form name = "frm_list2" id="frm_list2">
		<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
    <div class="detail_box column_2">
    	<div class="fl" style="width:39%">
        	<div>
                <div class="btnArea">
                		<div class="btnAreaRight">
<!--                 		<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave"	name = "btn_write"	value = "$!lang.getText('저장')"		onClick = "fn_mainSave();"	/>	 -->
	                		<input type = "button" class = "INS_AUTH UPD_AUTH btnSave"	name = "btn_write"	value = "$!lang.getText('저장')"		onClick = "fn_save('list1');"	/>		
							<input type = "button" class = "INS_AUTH" 					name = "btn_write" 	value = "$!lang.getText('신규')"		onclick = "fn_new()"			/>
							<input type = "button" class = "DEL_AUTH btnDelete" 					name = "btn_write"	value = "$!lang.getText('삭제')"		onClick = "fn_delete('list1');"	/>
<!-- 						<input type = "button" class = "DEL_AUTH" 					name = "btn_write"	value = "$!lang.getText('삭제')"		onClick = "fn_mainDelete();"	/> -->
						</div>
					</div>
					<div class = "list_box">
						<table id = "list1" style="width:100%;"></table>
						<div id = "pjmap1"></div>
					</div>
			</div>
			
			<div class="marT10">
				<div class="btnArea ">
						<div class="btnAreaRight">
<!-- 							<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave"  name = "btn_write"	value = "$!lang.getText('저장')"		onClick = "fn_subSave1();"	/> -->
							<input type = "button" class = "INS_AUTH UPD_AUTH btnSave"  name = "btn_write"	value = "$!lang.getText('저장')"		onClick = "fn_save('list2');"	/>
<!-- 							<input type = "button" class = "DEL_AUTH" 			 		 name = "btn_write"	value = "$!lang.getText('삭제')"		onClick = "fn_subDelete1();"	/> -->
							<input type = "button" class = "DEL_AUTH btnDelete" 			 		 name = "btn_write"	value = "$!lang.getText('삭제')"		onClick = "fn_delete('list2');"	/>
						</div>
					</div>
				<div class = "list_box">
				<table id = "list2" style="width:100%;"></table>
				<div id = "pjmap2"></div>
				</div>
			</div>
		</div>
				
		<div class="fr" style="width:59%">
			<div class="pannelWhiteTitle ui-corner-tl ui-corner-tr">
				<form name = "frm_list3"  id="frm_list3">
	                <table class="contentInFrom">		
		                <colgroup>
		                    <col width="70px">
		                    <col width="15%">
		                    <col width="70px">
		                    <col width="15%">
		                    <col width="45%">
		                </colgroup>
		                <tbody>				
							<tr>
								<th>$!lang.getText('업무구분')</th>
								<td>
									$!comCode.getComboComCode('PGB', 'BA_CODE_CD', '', true, "$!lang.getText('전체')", 'onchange', 'fn_baCodeChange()','class="selectbox"')
								</td>
								<th>$!lang.getText('메뉴구분')</th>
								<td>
									$!comCode.getComboComCode('PGB', 'VIEW_MENU_CD', '', true, "$!lang.getText('전체')", 'onchange', 'fn_viewMenuChange()','class="selectbox"')
								</td>
								<td class="ar">
			                    	<div class="btnAreaRight">
<!-- 										<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave"  name = "btn_write"	value = "$!lang.getText('저장')"		onClick = "fn_subSave2();"	/> -->
<!-- 										<input type = "button" class = "DEL_AUTH" 			 		 name = "btn_write"	value = "$!lang.getText('삭제')"		onClick = "fn_subDelete2();"/> -->
										<input type = "button" class = "INS_AUTH UPD_AUTH btnSave"  name = "btn_write"	value = "$!lang.getText('저장')"		onClick = "fn_save('list3');"	/>
										<input type = "button" class = "DEL_AUTH btnDelete" 			 		 name = "btn_write"	value = "$!lang.getText('삭제')"		onClick = "fn_delete('list3');"/>
									</div>
								</td>
							</tr>	
						</tbody>
					</table>
					<div id = "formData3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
				</form>
			</div>			
			<table id = "list3" width="100%;"></table>
			<div id = "pjmap3"></div>
		</div>
	</div>
</div>			
<input type="hidden" name="vrAuthCd" id="vrAuthCd" />

<script type="text/javascript">

jQuery("input:button").button();

/*#if("$!MSG" != "")*/
alert("$!MSG");
/*#end*/
</script>