<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('자료공유게시판')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />


<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>

<body>
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_id = $!session.getAttribute("SS_USER_ID"))
#set($ss_user_name = $!session.getAttribute("SS_USER_NAME"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end


<script type="text/javascript">

var vrBoardIdx = "";    	//자료공유게시판 ID

jQuery(document).ready(function(){
	
	jQuery("input:button").button();
	
	#set($cnt = 1)	
	#if($FILE.size() > 0)
		#foreach($FILEINFO in $FILE) 
			fn_set_file_info( '$cnt', '$FILEINFO.FILE_NAME', '$FILEINFO.ORG_FILENAME', '$FILEINFO.FILE_PATH', '$FILEINFO.FILE_SIZE' );
			#set($cnt = $cnt+1) 
		#end
	#end
});

function fn_set_file_info(idx, fileid, filename, filepath, filesize) {
	var $tr = jQuery("#file_info_" + idx);
	jQuery("input[name='D_ATCH_FILE_NAME']", $tr).val(filename);
	jQuery("input[name='D_ATCH_FILE_ROUTE']", $tr).val(filepath);
	jQuery("input[name='ORG_FILENAME']", $tr).val(filename);
	jQuery("input[name='FILE_SIZE']", $tr).val(filesize);
	jQuery("input[name='FILE_ID']", $tr).val(fileid);
	jQuery("input[name='FILE_STATE']", $tr).val('U');	
}

function fn_fileOpen() {
	_fn_fileOpen();
}

// 자료공유게시판 팝업창 닫기
function closeNoticePop(popName, expiredays, timeType) {
	var vrBoardIdx = jQuery("form[name='frm_detail'] input[name='vrBoardId']").val();
	setCookie(popName+"_"+"$ss_user_id"+"_"+vrBoardIdx, "$ss_user_id"+"_done", expiredays, timeType);
	//ex) noticePop_admin_0000, admin_done, 1, 1
}

// 자료공유게시판 팝업창 닫기 클릭 후 시간까지 쿠키 설정  
function setCookie(popName, value, expiredays, timeType) { 
	if(timeType == 0){
		// expiredays 로 부터 1일 까지 쿠키 설정
		var todayDate = new Date();
		todayDate.setDate( todayDate.getDate() + expiredays ); 
	}else if(timeType == 1){
		// 당일 새벽 23:59:59 까지 쿠키 설정  
		var todayDate = new Date((new Date()).toString().replace(/\d{2}:\d{2}:\d{2}/,'23:59:59'));	
	}
	//쿠키 설정 (toUTCString, toGMTString)
	document.cookie = popName + "=" + escape(value) + "; path=/; expires=" + todayDate.toUTCString() + ";"
}  

</script>

<div class="popupWrap">
	<div class="popupHeader">
		<div class="btnArea marB10">
		    <div class="btnAreaLeft">
		       	$!lang.getText('자료공유게시판')
		    </div>
			<table>
			<tr>
				<td>
					<div class="btnAreaRight">				
						<input type="button" class="btnEtc" value='$!lang.getText("닫기")' onclick="javascript:self.close();"/>
					</div>
				</td>
			</tr>
		</table>
		</div>
    </div>
		
    <div class="popupContent">
    <table>
		<tbody>
			<tr>
				<td style="vertical-align:top">
					<form id="frm_reply" name="frm_detail" method="post">
						<input type="hidden" id="D_BOARD_IDX" name="vrBoardId" value="$!DETAIL.BOARD_IDX" />
					</form>
			    	<form id="frm_detail" name="frm_detail" method="post">						
						<div class="pannelWhiteBody ui-corner-bl ui-corner-br">
							<table class="contentView">
							<colgroup>
								<col width="90px"/> 
								<col width="25%"/>
								<col width="90px"/> 
								<col width="25%"/>
								<col width="90px"/>
								<col width="*"/>
								<col width="10px"/>
							</colgroup>
						
							<tbody>
								<tr>
									<th>$!lang.getText('제목')</th>
									<td colspan="5">
										<input type="text" id="D_BOARD_TITLE" name="D_REQ_PERSON" readonly="readonly" value="$!DETAIL.BOARD_TITLE" style="width:100%"/>			
									</td>
									<td></td>
								</tr>								
								<tr>
									<th>$!lang.getText('게시자')</th>
									<td colspan="3">
										<input type="text" id="D_BOARD_NAME" name="D_BOARD_NAME" readonly="readonly" value="$!DETAIL.BOARD_NAME" />
									</td>																			
									<td colspan="3"></td>
								</tr>																	
								<tr>
									<th>$!lang.getText('요청내용')</th>
									#if($!DETAIL.BOARD_CONTENT != '')
									<td colspan="5">
										<textarea id="D_CONTENTS" name="D_CONTENTS" readonly="readonly" rows="15" style="width:100%; height:100%; white-space: pre; word-wrap: normal; overflow-x: scroll;" wrap="soft">$!DETAIL.BOARD_CONTENT</textarea>
									</td>
									#else
									<td colspan="5">
										<textarea id="D_CONTENTS" name="D_CONTENTS" readonly="readonly" rows="15" style="width:100%; height:100%; white-space: pre; word-wrap: normal; overflow-x: scroll;" wrap="soft"></textarea>
									</td>
									#end
									<td></td>
								</tr>
								
								<tr>
									<th>$!lang.getText('첨부파일')</th>
									<td colspan="6">
										<table id="tb_fileup" width="100%">
											<tr>
												<td colspan="3" name="file_info" id="file_info_1"> 
													<input type="text" class='readOnly' style='width:70%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly"/>
													<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('다운로드')" onclick='fn_fileOpen(); return false;'/>
													
													<input type="hidden" name='D_ATCH_FILE_IDX' value='0'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>
													
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>	
												</td>
											</tr>
											<tr>
												<td colspan="3" name="file_info" id="file_info_2"> 
													<input type="text" class='readOnly' style='width:70%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly"/>
													<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('다운로드')" onclick='fn_fileOpen(); return false;'/>
													
													<input type="hidden" name='D_ATCH_FILE_IDX' value='1'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>
												
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>	
													
												</td>
											</tr>
											<tr>
												<td colspan="3" name="file_info" id="file_info_3"> 
													<input type="text" class='readOnly' style='width:70%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly"/>
													<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('다운로드')" onclick='fn_fileOpen(); return false;'/>
													
													<input type="hidden" name='D_ATCH_FILE_IDX' value='2'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>
													
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>															
												</td>
											</tr>										
										</table>	
									</td>			
								</tr>	
							</tbody>
							</table>
						</div>
					</form>
				
				</td>
			</tr>
		</tbody>
		<tbody>
			<td align="left">
				<!-- closeNoticePop('쿠키이름', '유효일자(1일)', 자정시간(0:24시간, 1:자정(국내)) -->
				<input type="checkbox" name="close" value="OK" onclick="javascript:closeNoticePop('noticePop', 1, 1); javascript:self.close();"/>&nbsp;$!lang.getText('하루동안 이 창을 열지 않음 (닫기)')
			</td>
		</tbody>
	</table>
	<iframe name="filechecklist" src="/jsp/fileuploadMt.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>
    </div>
</div>

</body>
</html>