<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>$!lang.getText('피킹리스트')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<style type="text/css">
#pdf {
	width: 100%;
	height: 550px;
	margin: 2em auto;
/* 	border: 10px solid #6699FF; */
}

#pdf p {
   padding: 1em;
}

#pdf object {
   display: block;
   border: solid 1px #666;
}
</style>
</head>

<body>
<script type="text/javascript">

var success;
jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();

	/* PDF 소환! */
	var agent = navigator.userAgent.toLowerCase();
	if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
		jQuery("#pdf").append('<iframe src="/WMSRP040/pdfView.action?fileName='+"$!request.getParameter('fileName')"+'" style="width: 100%; height: 100%;" frameborder="0" scrolling="no"></iframe>')
	}else{
		// console.log("$!request.getParameter('fileName')");
		success = new PDFOutput({ url: "/WMSRP040/pdfView.action?fileName=$!request.getParameter('fileName')" }).embed("pdf");
	}
});


</script>

<div class="popupWrap">
    <div class="popupContent">
    	<form name="frm_list">
<!--        		<table class="search" id="srchBox"> -->
<!--        			<colgroup> -->
<!--        				<col width='80px'/> -->
<!--        				<col width='20%'/> -->
<!--        				<col width='*'/> -->
<!--        			</colgroup> -->
<!--        			<tbody> -->
<!--        				<tr> -->
<!--        					<th> -->
				<div class="btnArea">
					<div class="btnAreaLeft">
   							$!lang.getText('양식선택')
<!--        					</th> -->
<!--        					<td> -->
       						<select id="cmbStyle" onchange="fn_styleChange()" style="width:40%">
       							<option value="$!request.getParameter('fileName')">$!lang.getText('양식1(기본)')</option>
       						</select>
       				</div>
<!--        					</td> -->
<!--        					<td> -->
       					
	       			<div class="btnAreaRight">
									<input type="button" 	class="btnEtc" value="$!lang.getText('닫기')" 			onclick="javascript:self.close();"/>
					</div>
				</div>
<!--        					</td> -->
<!--        				</tr> -->
<!--        			</tbody> -->
<!--        		</table> -->
		</form>
		<br/>
		<div id='pdf'>
		</div>
    </div>
</div>
</body>
</html>