<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- OZ report -->
<title>$!lang.getText("상차리스트발행")</title> 

<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_svc_no  = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<style>
	html, body {
    height: 100%;
}
</style>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	resizeGrid(null);
});

var vrOrdId 		= "";
var vrOrdSeq 		= "";

jQuery(document).ready(function() {
	/* 파라미터 처리 */
	vrOrdId					= "$!request.getParameter('vrOrdId')";
	vrOrdSeq				= "$!request.getParameter('vrOrdSeq')";
	vrLcId					= "$!request.getParameter('vrLcId')";

	var urlType		   = "ucps";
	var param = "";
	param += "&vrOrdId=" 		+ vrOrdId;
	param += "&vrOrdSeq=" 		+ vrOrdSeq;
	param += "&vrLcId=" 		+ vrLcId;

	var userNo    	   = "$ss_user_no";
	var rptProjectName = "WINUS";
	var rptProgramName = "WINUSRP040";
	var pdfFileName    = "WINUSRP040B";
	var actionUrl = "https://print.logisall.com/ReportLoader/execution.go?projectName="+rptProjectName+"&programName="+rptProgramName+"&pdfFileName="+pdfFileName+"&urlType="+urlType;
	var urlVal    = "http://"+urlType+".logisall.co.kr/OZReport/"+pdfFileName+".asp?ExportPath=D:/Report/"+rptProjectName+"/"+userNo+"/"+param;
	var urlRep    = "/OZ_REPORT/"+userNo+"/"+pdfFileName+".pdf";
	
	//div pdfView 영역 초기화
	document.getElementById("pdfView").innerHTML='';		
	
	jQuery.ajax({url:actionUrl
        		,dataType:"jsonp"
        		,data:{"urlVal":encodeURI(urlVal), "userId":userNo}
        		,type:"POST"
        		,error: function(rslt){
		    	alert("ERROR : " + rslt.data.success);
	    }
        ,success: function(rslt){           	
            if(rslt.data.success == "fail"){
                alert("$!lang.getText('OZ레포트생성오류')");
                return false;
            }
            //report 뷰어 import
            var tax_url = "/OZ_REPORT/"+userNo+"/"+pdfFileName+".pdf?timeTemp="+((new Date()).getTime())+"#zoom=100";
            document.getElementById("pdfView").innerHTML='<object data='+tax_url+' type="application/pdf" style="width:100%;height:100%;"></object>';
            jQuery('#btnREPORT_DOWN').attr('href',''+urlRep+'');
        }
	});
	

});

</script>

</head>
<body>
	<div id='pdfView' style="height:100%; width:100%;">
	</div>
</body>