<div class="patternWrap">
	<form name="frm_listE3">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "100px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
            	 <tr>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCdE3" id="vrSrchCustCdE3" onChange="vrSrchCustCd_OnKillFocusE3()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUSTE3");' class="imgSearch" id ='vrSrchCustImgE3'/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNmE3" id="vrSrchCustNmE3" onChange="vrSrchCustNm_OnKillFocusE3()"> 
						<input type="hidden" name="vrSrchCustIdE3" id="vrSrchCustIdE3">
					</td>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('오픈몰계정')</th>
					<td>
						<select id="vrSrchSendCompanyIdE3" name="vrSrchSendCompanyIdE3" style="width:96%;">
						</select>
					</td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('전송일자')</th>
					<td>
						<input type="month" class = "text" style="width:50%" name="vrSendDtE3" id="vrSendDtE3" 	maxlength="10" onkeydown="cfn_setDateFld(vrSendDtE3)"/>
					</td>
					
					<td></td>
					<th class="btnSearch" rowspan="3">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="mainSearchcrossE3();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				<tr>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 45%" name="vrSrchRitemCdE3" id="vrSrchRitemCdE3" onChange="vrSrchItemCd_OnKillFocusE3()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEME3");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 45%" name="vrSrchRitemNmE3" id="vrSrchRitemNmE3" onChange="vrSrchItemNm_OnKillFocusE3()">
						<input type="hidden" name="vrSrchRitemIdE3" id="vrSrchRitemIdE3">
					</td>
					<th class="thBar">$!lang.getText('주문구분')</th>
					<td>
						<select id="vrSrchOrdTypeE3" name="vrSrchOrdTypeE3" style="width:96%;">
							<option value="">전체</option>
							<option value="01">입고</option>
							<option value="02">출고</option>
						</select>
					</td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('입/출고일자')</th>
					<td>
						<input type = "date" class = "text" style="width:32%" name="vrSrchWorkFromDtE3" id="vrSrchWorkFromDtE3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchWorkFromDtE3)" onChange="cfn_onChangeDateFld(vrSrchWorkFromDtE3)"> 
						~
						<input type = "date" class = "text" style="width:32%" name="vrSrchWorkToDtE3" id="vrSrchWorkToDtE3" maxlength="10" onkeydown="cfn_setDateFld(vrSrchWorkToDtE3)" onChange="cfn_onChangeDateFld(vrSrchWorkToDtE3)"> 
					</td>
					
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th class="thBar">$!lang.getText('결과코드')</th>
					<td>
						<input type="text" class = "text" style="width: 95%" name="vrSrchRstCdE3" id="vrSrchRstCdE3" > 
					</td>
					<th class="thBar">$!lang.getText('묶음번호')</th>
					<td>
						<input type="text" class = "text" style="width: 95%" name="vrSrchBundleNoE3" id="vrSrchBundleNoE3" > 
					</td>
					<th class="thBar">$!lang.getText('IF여부')</th>
					<td>
						<select id="vrSrchIfFlagE3" name="vrSrchIfFlagE3" style="width:50%;">
							<option value="">전체</option>
							<option value="Y">Y : 성공</option>
							<option value="E">E : 에러</option>
							<option value="N">N : 미전송</option>
						</select>
					</td>
					<th></th>
					<td></td>
				</tr>
            </tbody>
        </table>
	</form>

	<!--<div class="btnArea">
	    <div class="btnAreaRight">
	    	 <input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('test')"		onClick="fn_test();"	role="button" aria-disabled="false"/>   
	    </div>
	</div>--> 
	
	<div id="divPanel_SpdList" style="padding-top:10px;">
		<div id="spdListE3" style="height:600px; border:1px solid #b0b0b0;"></div>
	</div>
	
</div>

<script>




</script>

