<div class="tabOn" id="E01">
    <div class="pageBtnGroup">
        <div class="patternWrap">
            <div class="btnArea">
                <div class="btnAreaRight" id="btnArea_Top">
					<input type = "button" id="btnChangeGridE1" class="INS_AUTH"	value = "$!lang.getText('그리드변경')" 	role="button" aria-disabled="false"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="patternWrap">
	<form id="frm_listE1" name="frm_listE1">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
				<tr>
					<th class="thBar">
						<select id="cmbSrchType" name="cmbSrchType">
							<option value="100">$!lang.getText('명세일자')</option>
							<option value="200">$!lang.getText('매입일자')</option>
						</select>
					</th>
					<td>
						<input type = "text" class = "DatePicker text" style="width:38%" name="vrSrchReqDtFrom" id="vrSrchReqDtFromE1" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFromE1)" onChange="cfn_onChangeDateFld(vrSrchReqDtFromE1)"> 
							~
						<input type = "text" class = "DatePicker text" style="width:38%" name="vrSrchReqDtTo"   id="vrSrchReqDtToE1"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtToE1)" onChange="cfn_onChangeDateFld(vrSrchReqDtToE1)"> 
					</td>
			<!--	
					<th class="thBar">$!lang.getText('주문예정차수')</th>
					<td>
						<input type = "text" class = "DatePicker text" style="width:44%" name="vrSrchOrdDegreeDate" id="vrSrchOrdDegreeDateE1" maxlength="10" onkeydown="cfn_setDateFld(vrSrchOrdDegreeDateE1)">
						<select id="vrSrchOrdDegreeE1" name="vrSrchOrdDegree" class="selectbox" style="width:45.7%"></select>
					</td> 
			-->
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 44%" name="vrSrchCustCd" id="vrSrchCustCdE1"> 
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" id ='vrSrchCustImgE1'/> 
						<input type="text" class = "text" style = "width: 47%" name="vrSrchCustNm" id="vrSrchCustNmE1"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustIdE1">
					</td>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('계정정보')</th>
					<td>
						<select id="vrSrchSendCompanyIdE1" name="vrSrchSendCompanyId"></select>
					</td>
					<th class="thBar">조회조건</th>
					<td>
						<input type="checkbox" id="chkMinusQtyE1" name="chkMinusQty"> 음수수량 제외
					</td>
					<th class="btnSearch" rowspan="4">
						<input type="button" id="btnSrchE1" name="btnSrch" value="$!lang.getText('')"  title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				<tr>
					<th class="thBar">
						<select id="vrSrchDateType" name="vrSrchDateType">
							<option value="000" selected>$!lang.getText("선택안함")</option>
							<option value="100">$!lang.getText("ERP 등록일")</option>
							<option value="200">$!lang.getText("ERP 수정일")</option>
						</select>
					</th>
					<td>
						<input type = "text" class = "DatePicker text" style="width:38%" name="vrSrchTypeDtFrom" id="vrSrchTypeDtFromE1" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
							~
						<input type = "text" class = "DatePicker text" style="width:38%" name="vrSrchTypeDtTo"   id="vrSrchTypeDtToE1"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 44%" name="vrSrchRitemCd" id="vrSrchRitemCdE1"> 
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" id="vrSrcRitemImgE1"/> 
						<input type="text" class = "text" style="width: 47%" name="vrSrchRitemNm" id="vrSrchRitemNmE1">
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemIdE1">
					</td>

					<th class="thBar">$!lang.getText('판매처')</th>
					<td>
						<input type="text" class = "text" style="width: 44%" name="vrSrchVenderCd" id="vrSrchVenderCdE1"> 
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" id="vrSrcVenderImgE1"/> 
						<input type="text" class = "text" style="width: 47%" name="vrSrchVenderNm" id="vrSrchVenderNmE1">
						<input type="hidden" name="vrSrchVenderId" id="vrSrchVenderIdE1">
					</td>
					<th class="thBar">$!lang.getText('명세번호')</th>
					<td>
						<input type="text" class = "text" name="vrSrchOrdId" id="vrSrchOrdIdE1">
					</td>
				</tr>
				<tr>
					<th class="thBar">$!lang.getText('Serial No.')</th>
					<td>
						<input type="text" class = "text" name="vrSrchSerialNo" id="vrSrchSerialNoE1"> 
					</td>
					<th class="thBar">$!lang.getText('창고이름')</th>
					<td>
						<select id="vrSrchStockNmE1" name="vrSrchStockNm">
							<option value="">전체</option>
							<option value="001">기준창고</option>
							<option value="002">유효기간 경과</option>
							<option value="003">폐기</option>
							<option value="010">분당서울대병원(위탁)</option>
							<option value="013">재고확인용</option>
							<option value="900">유효기간 임박</option>
							<option value="901">반품창고</option>
						</select>
					</td>
					<th class="thBar">$!lang.getText('검수여부')</th>
					<td>
						<select id="vrSrchScanYnE1" name="vrSrchScanYn">
							<option value="A">전체</option>
							<option value="Y">Y</option>
							<option value="N">N</option>
						</select>
					</td>
					<th class="thBar">$!lang.getText('매입구분')</th>
					<td>
						<select id="vrWorkTypeCdE1" name="vrWorkTypeCd">
							<option value="">전체</option>
							<option value="001">매입</option>
							<option value="002">직송매입</option>
							<option value="021">창고이동입고</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="thBar">$!lang.getText('동기화여부')</th>
					<td>
						<select id="vrSrchSyncYnE1" name="vrSrchSyncYn">
							<option value="A">전체</option>
							<option value="Y">Y</option>
							<option value="N">N</option>
						</select>
					</td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
				</tr>
            </tbody>
        </table>
	</form>

	<div class = "btnArea" style ="margin-bottom:-45px;">
		<div class="btnAreaLeft" style="width:50%">
			<div style="display:inline-flex;">
				<div>
					<span>주문수량: </span><span id="totalOrdCntE1"></span>
				</div>
			</div>
		</div>
		<div class = "btnAreaRight" id="btnArea">
			<input type = "button" class = "UPD_AUTH btnUpdate" id = "btnCollectOrdE1" 		name = "btnCollectOrdE1"	value = "$!lang.getText('주문수집')"	role = "button" aria-disabled="false"/>
			<input type = "button" class = "UPD_AUTH btnUpdate" id = "btnOrdRegistE1"		name = "btnOrdRegistE1"		value = "$!lang.getText('주문등록')"	role = "button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" id = "btnDeleteE1"			name = "btnDeleteE1"		value = "$!lang.getText('삭제')"		role = "button" aria-disabled="false"/>
			<input type	= "button" class = "EXC_AUTH btnExcel" 	id = "btnExcelDownE1"		name = "btnExcelDownE1" 	value = "$!lang.getText('엑셀')"		role = "button" aria-disabled="false"/>
		</div>
	</div>
</div>
<div id="divPanel_SpdList" style="padding-top:50px;">
	<div id="spdListE1" style="height:600px; border:1px solid #b0b0b0;"></div>
</div>
