<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					<td></td>
					<th class="btnSearch" rowspan="1">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_searchExtra();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
            </tbody>
        </table>
        <input type="hidden" id="jsSysDate" name="jsSysDate">
		<div id = "formDataE6" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div>
		<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="test();"	role="button" aria-disabled="false" />	
	</div>
	<div id="divPanel_SpdListExtra" style="padding-top:0px;">
		<div id="spdListExtra" style="height:300px; border:1px solid #b0b0b0;"></div>
	</div>
	
</div>
