<style>
    .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; z-index: 10000 !important  }
    .content { width: 100%; display: inline-flex; flex-direction: row; justify-content: space-around; margin-bottom:5px; padding:3px}
    .col-1  { display:inline-flex; align-items: center; width: 80px; font-weight: bold;}
    .col-2  { display:inline-flex; align-items: center; width: 5px; }
    .col-3  { display:inline-flex; align-items: center; width: 210px;}
</style>

<div id="popItemCollect" style="display: none;">
    <div style="background-color: white; width: 360px; height: 180px; border-radius: 8px; vertical-align: middle; text-align: center;">
        <div class="button b-close" id="loadingModal_close" style="float:right; margin: 0.3em; width:2.4em; font-weight : bold; cursor: pointer;" >X</div>
            <div style="font-size: 16px; font-weight: bold; height: 20px; padding: 5px;">상품정보수집</div>
            <form id="form780E1_1pop" name='modalSearch'>
                <div class="content_container" style="height:100px;">
                    <div class="content" style="margin-top : 15px">
                        <span class="col-1">조회일자타입</span>
                        <div class="col-2">:</div>
                        <div class="col-3">
                            <select id="vrCollectTypeE1" name="vrCollectTypeE1">
                                <option value="upd_date" selected>$!lang.getText('수정일자')</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="content">
                        <span class="col-1">전체기간</span>	
                        <div class="col-2">:</div>
                        <div class="col-3" style="display:inline-flex;">
                            <input type="checkbox" name="vrAllDayYn" id="vrAllDayYnE1" value="0" style="margin-left: 5px"/>
                        </div>
                    </div>-->

                    <div class="content selected-display" id="collectDatePickerE1">
                        <span class="col-1">수집일자</span>	
                        <div class="col-2">:</div>
                        <div class="col-3" style="">
                            <input type = "text" class = "DatePicker text" style="width:48%;" name="vrColStDateE1" id="vrColStDateE1" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateE1)" onChange="cfn_onChangeDateFld(vrColStDateE1)"> 
                        </div>
                        <!--<div class="col-3" style="justify-content:space-between;">
                            <input type = "text" class = "DatePicker text" style="width:27%;" name="vrColStDateFromE1" id="vrColStDateFromE1" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateFromE1)" onChange="cfn_onChangeDateFld(vrColStDateFromE1)"> 
                                ~
                            <input type = "text" class = "DatePicker text" style="width:27%;" name="vrColStDateToE1" id="vrColStDateToE1" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateToE1)" onChange="cfn_onChangeDateFld(vrColStDateToE1)">
                        </div>-->
                    </div>
                </div>

                <div style="width: 100%; display:inline-block; margin-top:15px;">
                    <input type="button" class="SER_AUTH ui-button ui-widget ui-state-default ui-corner-all" id="btnCollectE1"	name="btnCollectE1" value = "$!lang.getText('상품정보수집')" role="button" aria-disabled="false"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popInOrderCollect" style="display: none;">
    <div style="background-color: white; width: 360px; height: 180px; border-radius: 8px; vertical-align: middle; text-align: center;">
        <div class="button b-close" id="loadingModal_close" style="float:right; margin: 0.3em; width:2.4em; font-weight : bold; cursor: pointer;" >X</div>
            <div style="font-size: 16px; font-weight: bold; height: 20px; padding: 5px;">입고주문정보수집</div>
            <form id="form780E2_1pop" name='modalSearch'>
                <div class="content_container" style="height:100px;">
                    <div class="content" style="margin-top : 15px">
                        <span class="col-1">조회일자타입</span>
                        <div class="col-2">:</div>
                        <div class="col-3">
                            <select id="vrCollectTypeE2" name="vrCollectTypeE2">
                                <option value="upd_date" selected>$!lang.getText('수정일자')</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="content">
                        <span class="col-1">전체기간</span>	
                        <div class="col-2">:</div>
                        <div class="col-3" style="display:inline-flex;">
                            <input type="checkbox" name="vrAllDayYn" id="vrAllDayYnE2" value="0" style="margin-left: 5px"/>
                        </div>
                    </div>-->

                    <div class="content selected-display" id="collectDatePickerE2">
                        <span class="col-1">수집일자</span>	
                        <div class="col-2">:</div>
                        <div class="col-3" style="">
                            <input type = "text" class = "DatePicker text" style="width:48%;" name="vrColStDateE2" id="vrColStDateE2" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateE2)" onChange="cfn_onChangeDateFld(vrColStDateE2)"> 
                        </div>
                        <!--<div class="col-3" style="justify-content:space-between;">
                            <input type = "text" class = "DatePicker text" style="width:27%;" name="vrColStDateFromE2" id="vrColStDateFromE2" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateFromE2)" onChange="cfn_onChangeDateFld(vrColStDateFromE2)"> 
                                ~
                            <input type = "text" class = "DatePicker text" style="width:27%;" name="vrColStDateToE2" id="vrColStDateToE2" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateToE2)" onChange="cfn_onChangeDateFld(vrColStDateToE2)">
                        </div>-->
                    </div>
                </div>

                <div style="width: 100%; display:inline-block; margin-top:15px;">
                    <input type="button" class="SER_AUTH ui-button ui-widget ui-state-default ui-corner-all" id="btnCollectE2"	name="btnCollectE2" value = "$!lang.getText('입고주문정보수집')" role="button" aria-disabled="false"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popOutOrderCollect" style="display: none;">
    <div style="background-color: white; width: 360px; height: 180px; border-radius: 8px; vertical-align: middle; text-align: center;">
        <div class="button b-close" id="loadingModal_close" style="float:right; margin: 0.3em; width:2.4em; font-weight : bold; cursor: pointer;" >X</div>
            <div style="font-size: 16px; font-weight: bold; height: 20px; padding: 5px;">출고주문정보수집</div>
            <form id="form780E3_1pop" name='modalSearch'>
                <div class="content_container" style="height:100px;">
                    <div class="content" style="margin-top : 15px">
                        <span class="col-1">조회일자타입</span>
                        <div class="col-2">:</div>
                        <div class="col-3">
                            <select id="vrCollectTypeE3" name="vrCollectTypeE3">
                                <option value="upd_date" selected>$!lang.getText('수정일자')</option>
                            </select>
                        </div>
                    </div>

                    <div class="content">
                        <!--<span class="col-1">전체기간</span>	
                        <div class="col-2">:</div>
                        <div class="col-3" style="display:inline-flex;">
                            <input type="checkbox" name="vrAllDayYn" id="vrAllDayYnE3" value="0" style="margin-left: 5px"/>
                        </div>-->
                    </div>

                    <div class="content selected-display" id="collectDatePickerE3">
                        <span class="col-1">수집일자</span>	
                        <div class="col-2">:</div>
                        <div class="col-3" style="">
                            <input type = "text" class = "DatePicker text" style="width:48%;" name="vrColStDateE3" id="vrColStDateE3" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateE3)" onChange="cfn_onChangeDateFld(vrColStDateE3)"> 
                        </div>
                        <!--<div class="col-3" style="justify-content:space-between;">
                            <input type = "text" class = "DatePicker text" style="width:27%;" name="vrColStDateFromE3" id="vrColStDateFromE3" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateFromE3)" onChange="cfn_onChangeDateFld(vrColStDateFromE3)"> 
                                ~
                            <input type = "text" class = "DatePicker text" style="width:27%;" name="vrColStDateToE3" id="vrColStDateToE3" maxlength="10" onkeydown="cfn_setDateFld(vrColStDateToE3)" onChange="cfn_onChangeDateFld(vrColStDateToE3)">
                        </div>-->
                    </div>
                </div>

                <div style="width: 100%; display:inline-block; margin-top:15px;">
                    <input type="button" class="SER_AUTH ui-button ui-widget ui-state-default ui-corner-all" id="btnCollectE3"	name="btnCollectE3" value = "$!lang.getText('출고주문정보수집')" role="button" aria-disabled="false"/>
                </div>
            </form>
        </div>
    </div>
</div>