<div class="tabOn" id="E01">
<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox1" border="0">
			<colgroup>
				<col width="5%"/>
				<col width="25%"/> 
				<col width="10%"/>
				<col width="25%"/> 
                <col width="10%"/>
				<col width="25%"/> 
                <col width="10%"/>
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" name='btnSrchCustPop' onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
				</td>
				
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('오픈몰계정')</th>
				<td>
					<select id="vrSrchSendCompanyId" name="vrSrchSendCompanyId" style="width:96%;">
					</select>
				</td>
				
				<th>$!lang.getText('I/F 여부')</th>
				<td>
					<select id="vrSrchIfYn" name="vrSrchIfYn" style="width:96%;">
						<option value="">$!lang.getText('전체')</option>
						<option value="Y">$!lang.getText('등록')</option>
						<option value="N">$!lang.getText('미등록')</option>
					</select>
				</td>
				<th class="btnSearch" rowspan="9">
					<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
				</th>
			</tr>
			<tr>
				<th>$!lang.getText("거래처")</th>
				<td>
					<input type="text" class="text" name="vrSrchTransCustCd" id="vrSrchTransCustCd" style="width:45%" onChange="vrSrchTransCustCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('CLIENT');return false;" class="imgSearch">
					<input type="hidden" name="vrSrchTransCustId" id="vrSrchTransCustId"/>
					<input type="text" class="text" name="vrSrchTransCustNm" id="vrSrchTransCustNm" style="width:45%" onChange="vrSrchTransCustNm_OnKillFocus()"/>
				</td>
				
				<th>$!lang.getText("거래처명")</th>
				<td>
					<input type="text" class="text" name="vrTextTransCustNm" id="vrTextTransCustNm" style="width:96%;"/>
				</td>
				
				<td></td>
			</tr>

		</table>	
		
	</form>
	
	<div class="btnArea">
	  	<div class="btnAreaLeft" style="width:50%">
	    	<div><span style="margin-right : 10px;">총 거래처 수</span> :   <span id="totalspdList1"></span></div>
	    </div>
	    <div class="btnAreaRight" style="width:50%; text-align:right;">
			<input type="button" value="$!lang.getText('I/F 전송')" class="btn"  name="btn_write" onclick="WMSIF810E1.fn_sendIfInfo();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"  name="btn_write" onclick="WMSIF810E1.fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div id="divPanel_spdList1" style="padding-top:40px; width: 100%; min-height: 600px;">
		<div id="spdList1" style="min-height:600px; width:100%; border:1px solid #b0b0b0;"></div>
	</div>
    <div id="spdListTable" style="display:none"></div>
  </div>
</div>
<form name="frm_eaiE1"  id="frm_eaiE1"  style = "visibility : hidden ; width : 0 ; height : 0">
</form>
<script type="text/javascript">

//--------------------------------------------------------------------------------PAGE SET-------------------------------------------------------------------------------------//
const WMSIF810E1 = {
		'tab': 'E01',
		'colNameArray' : [],
		
		'sidIndex' : -1,
		'sidOrder' : true,
		
		'properties' : {
			'tabClickYet' : true,
			'arrMC_SPD_CHK_SET' : [],
			'PUBLIC_SPD_HEIGHT_TITLE' : '22',
			'PUBLIC_SPD_HEIGHT' : '25',
			'DFC_LINE' : '#D4D4D4',
			'BKC_FRC' : '#FFFBF7',
			'BKC_DEF' : '#FFFBF7',
		},
		'spdSheet' : null,
		'spdList' : null,
		'spdFooter' : null,
};
//--------------------------------------------------------------------------------TABLE SET-------------------------------------------------------------------------------------//

WMSIF810E1.openTab = function() {
	gfn_forceEventResize();
	setTimeout(function() {
		activeTab = WMSIF810E1;
		if (WMSIF810E1.properties.tabClickYet) {
			WMSIF810E1.setDefault();
			WMSIF810E1.createGrid();
			WMSIF810E1.properties.tabClickYet = false;
		}
	}, 0);
};

/* Tap 1 Sheet*/
var spdSheet1;
var spdList1;

/* Detail */
var colNameArray =  [
   "SPDCOL_CHK_BOX"
   ,"IF_YN"
   ,"CUST_ID"
   ,"CUST_CD"
   ,"CUST_NM"
   ,"REP_NM"
   ,"BIZ_NO"
   ,"BIZ_COND"
   ,"TEL"
   ,"MOBILE_NO"
   ,"FAX"
   ,"ZIP"
   ,"ADDR"
   ,"E_MAIL"
   ,"MOD_DT"
   ,"SPDCOL_END"
];

WMSIF810E1.setDefault = function(){	
	var tab = '#'+WMSIF810E1.tab+' ';
	/* button */
	jQuery(tab+"input:button").button();

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* datepicker */
	
	/* 날짜 셋팅 */
	
}

WMSIF810E1.createGrid = function() {
	WMSIF810E1.fn_loadGridSetting();
}

WMSIF810E1.fn_loadGridSetting = function(){
	WMSIF810E1.ps_setSpreadColumnIndex();
}


// SPD 컬럼 설정 Header
WMSIF810E1.ps_setSpreadColumnIndex = function(data){
    
	/* 그리드 공통화 적용 시작- Header */
	spdSheet1 = new GC.Spread.Sheets.Workbook(document.getElementById('spdList1'), { sheetCount: 1, allowCopyPasteExcelStyle: true});
	ps_setSpreadSheet_init(spdSheet1, false) // 최초 생성 sheet 세팅
    
    spdList1 = spdSheet1.getActiveSheet(0); // Sheet 0번 활성화

    spdList1.suspendPaint();

    /* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
    ps_setSpreadList_init(spdList1, 1, colNameArray.indexOf('SPDCOL_END'), 0, colNameArray.indexOf('AGENT_NM'));
    //ps_setSpreadList_ctInit(spdList1, 1, colNameArray.indexOf('SPDCOL_END') + 1, 0, null);
    
    ps_setSpreadCol_CHECKBOX_Property(spdList1,colNameArray.indexOf('SPDCOL_CHK_BOX'),	'CENTER'    ,'CENTER'   ,8  ,false  ,false,"");
    
    ps_setSpreadCol_YN_Property(spdList1,colNameArray.indexOf('IF_YN'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true,  null, '●', '●');
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('CUST_ID'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('CUST_CD'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('CUST_NM'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('REP_NM'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('BIZ_NO'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('BIZ_COND'),'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('TEL'),		'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('MOBILE_NO'),'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('FAX'),		'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('ZIP'),		'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('ADDR'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('E_MAIL'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('MOD_DT'),	'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");
    ps_setSpreadCol_TEXT_Property(spdList1,colNameArray.indexOf('SPDCOL_END'),'CENTER'    ,'CENTER'   ,8  ,false  ,true   ,"");

    // 컬럼 스타일 적용
    WMSIF810E1.ps_setSpreadStyle(spdList1);
    
    /* spreadJs load시 실행 */
   // WMSIF810E1.fn_loadComplete();
	spdList1.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
		if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {
			var spd = args.sheet, sheetArea = args.sheetArea, row = args.row, col = args.col;
			var selectCbx = spd.getValue(0, 0, GC.Spread.Sheets.SheetArea.colHeader);
			var rowFilter = spd.rowFilter();
			spd.suspendPaint();
			if ((selectCbx == null) || (selectCbx == 0)) {
				spd.setValue(0, 0, 1, GC.Spread.Sheets.SheetArea.colHeader);
				for(var i = 0; i < spd.getRowCount(); i++){
					if (!(rowFilter.isFiltered() && rowFilter.isRowFilteredOut(i))) {
						spd.setValue(i, 0, true, GC.Spread.Sheets.SheetArea.viewport);
					}
				}
			}  else {
				spd.setValue(0, 0, 0, GC.Spread.Sheets.SheetArea.colHeader);
				for(var i = 0; i < spd.getRowCount(); i++){
					if (!(rowFilter.isFiltered() && rowFilter.isRowFilteredOut(i))) {
						spd.setValue(i, 0, false, GC.Spread.Sheets.SheetArea.viewport);
					}
				}
			}
			spd.resumePaint();
			return false;
		}
	});
	spdList1.resumePaint();
}

// Header Spread Style
WMSIF810E1.ps_setSpreadStyle = function(){

    spdList1.suspendPaint();

    spdList1.setRowCount(1, GC.Spread.Sheets.SheetArea.colHeader);

    /* colName */
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("SPDCOL_CHK_BOX"),			"선택"			,35      ,true);
    
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("IF_YN"),			"I/F여부"		,80      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("CUST_CD"),		"거래처코드"		,150      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("CUST_NM"),		"거래처명"      	,250      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("REP_NM"),		'대표자명'        ,100   	  ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("BIZ_NO"),		'사업장번호'       ,110       ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("BIZ_COND"),		"종목" 			,80      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("TEL"),			"전화번호"        ,100       ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("FAX"),			"팩스번호"        ,100       ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("ZIP"),			"우편번호"        ,80      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("ADDR"),			"우편번호 주소"     ,200      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("MOBILE_NO"),		"휴대전화"      	,100      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("E_MAIL"),		"이메일"       	,150       ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("MOD_DT"),		"수정일자"        ,150      ,true);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("CUST_ID"),		"CUST_ID"        ,80      ,false);
    ps_setSpreadTitle_Named(spdList1 ,0 ,colNameArray.indexOf("SPDCOL_END"),	"SPDCOL_END"        ,80      ,false);

    // 컬럼 헤더 스타일 적용
    var setHearderRow = spdList1.getRange(0, -1, 1, -1, GC.Spread.Sheets.SheetArea.colHeader);
    setHearderRow.backColor("#d5dce6");
    setHearderRow.foreColor("#666666");
    setHearderRow.font("bold 13px Arial");
    
    // 고정 셀 설정 
    spdList1.frozenColumnCount(0);    
    spdList1.resumePaint();
    
}

//--------------------------------------------------------------------------------COMMON FUNCTIONS-------------------------------------------------------------------------------------//
/*
 * 검색 : fn_search
 * 검색 후 정렬 : setData
 * 엑셀 다운로드 :fn_excelDown
 * IF 전송 : fn_sendIfInfo
 * 
*/
//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 검색 */
WMSIF810E1.fn_search = function(callback){
	var tab = '#'+WMSIF810E1.tab+' ';
	
	if(jQuery(tab+"#vrSrchCustId").val() == ""){
		alert("$!lang.getText('화주는필수입력입니다.')");
		fn_Popup("CUST");
		return false;
	}
	
	var vrSrchSendCompanyId = jQuery(tab+'form[name="frm_list"] select[name="vrSrchSendCompanyId"]').val();
	if(vrSrchSendCompanyId == ""||vrSrchSendCompanyId == null){
		alert("$!lang.getText('API계정이 없습니다. 오픈몰 권한을 입력해주세요')");
		return;
	}
	
	//검색조건값을 파라미터로 보낸다.
	var param 	= jQuery(tab+"form[name='frm_list']").serialize();
	var url 	= "/WMSIF810/listE01.action?"+param;

	jQuery.ajax({
		url: url,
		type: 'GET',
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			WMSIF810E1.setRST(data, callback);
			//WMSIF810E1.fn_loadComplete();
		},
		beforeSend	: function() {cfn_loadingModalOpen1();},
		complete	: function() {
			
			cfn_loadingModalClose1();
		}
	});
}

/* 조회 callback */
WMSIF810E1.setRST= function(ds, callback) {
	
	var totalCount = jQuery('#totalspdList1');
	spdList1.deleteRows(0, spdList1.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck
    spdList1.suspendPaint();
   
    spdList1.autoGenerateColumns = false;
    	
    spdList1.setDataSource(arrBind);
    spdList1.bindColumn(colNameArray.indexOf("IF_YN"), 'IF_YN');
    spdList1.bindColumn(colNameArray.indexOf("CUST_ID"), 'CUST_ID');
    spdList1.bindColumn(colNameArray.indexOf("CUST_CD"), 'CUST_CD');
    spdList1.bindColumn(colNameArray.indexOf("CUST_NM"), 'CUST_NM');
    spdList1.bindColumn(colNameArray.indexOf("REP_NM"), '.REP_NM');
    spdList1.bindColumn(colNameArray.indexOf("BIZ_NO"), 'BIZ_NO');
    spdList1.bindColumn(colNameArray.indexOf("BIZ_COND"), 'BIZ_COND');
    spdList1.bindColumn(colNameArray.indexOf("TEL"), 'TEL');
    spdList1.bindColumn(colNameArray.indexOf("MOBILE_NO"), 'MOBILE_NO');
    spdList1.bindColumn(colNameArray.indexOf("FAX"), 'FAX');
    spdList1.bindColumn(colNameArray.indexOf("ZIP"), 'ZIP');
    spdList1.bindColumn(colNameArray.indexOf("ADDR"), 'ADDR');
    spdList1.bindColumn(colNameArray.indexOf("E_MAIL"), 'E_MAIL');
    spdList1.bindColumn(colNameArray.indexOf("MOD_DT"), 'MOD_DT');
	
	// 총수량 표시 
    totalCount.html(spdList1.getRowCount());  
    
    spdList1.resumePaint();
    //스타일 적용
    WMSIF810E1.ps_setSpreadStyle();
    
    // 필터 적용
    ps_setFilter(spdList1, 0, colNameArray.indexOf("IF_YN"), spdList1.getRowCount() -1, colNameArray.indexOf("SPDCOL_END"));
    
    gfn_forceEventResize();
    
    if(callback != undefined){
		callback();
	}
}

/* IF 내역 전송  */
WMSIF810E1.fn_sendIfInfo = function(){
	var tab = '#'+WMSIF810E1.tab+' ';
	
	//유효성 검사
	//if(!fn_sendIFValidation()){return;}
	
	var grid 		= spdList1;
	var selectIds 	= WMSIF810E1.fn_checkedList(grid);
	var tmpCnt 	  	= 0 ; 
	
	var date = new Date();
	var year = date.getFullYear().toString();
	var month = ('0' + (date.getMonth() + 1)).slice(-2).toString();
	var day =('0' + date.getDate()).slice(-2).toString();
	var today = year+month+day;

	//eai 전송 내역 정리
	jQuery("form[name='frm_eaiE1']").html("");
	
	if( jQuery("form[name='frm_eaiE1'] input[name='selectIds']").val() == undefined){
		jQuery("#frm_eaiE1").append("<input type='text' name='selectIds' value='0'/>");
		jQuery("#frm_eaiE1").append("<br>");
	}else{
		tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
	}

	var colTRUST_CUST_ID 	= colNameArray.indexOf("CUST_ID"); 	//거래처아이디

	for(var i = 0 ; i < selectIds.length ; i++){
		if(grid.getCell(i, 0, GC.Spread.Sheets.SheetArea.viewport).sheet.filterRowsVisibleInfo.rowsVisibleInfo[selectIds[i]] != false){
			jQuery("#frm_eaiE1").append("<input type='text' name='TRUST_CUST_ID" + tmpCnt + "' value='" + cfn_trim(grid.getValue(selectIds[i], colTRUST_CUST_ID).toString()) + "'/>");	
			tmpCnt++;
		}
	}

	if(tmpCnt < 1){
		alert("$!lang.getText('save.nodata')");
		return;
	}

	var colI_CUST_ID = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	
	jQuery("#frm_eaiE1").append("<input type='text' name='CUST_ID' 	value='"+colI_CUST_ID+"'/>");
	jQuery("#frm_eaiE1").append("<input type='text' name='tmpCnt' 	value='"+tmpCnt+"'/>");
	jQuery("#frm_eaiE1").append("<input type='text' name='sendDate' 	value='"+today+"'/>");
	
	jQuery("form[name='frm_eaiE1'] input[name='selectIds']").val(tmpCnt);
	
	//EAI 통신
	var param	= jQuery("form[name='frm_eaiE1']").serialize();
	var url		= "/WMSIF810/sendTrustCustInfoIF.action";

	if(confirm(tmpCnt + "$!lang.getText('건의 데이터를 ')" + strings['grid.confirm_save']+" ")){
		cfn_loadingModalOpen1(); //loading modal open
		
		jQuery.post(url, param, function(data) {
	   		var message =  data.message;
	   		alert("[안내]" + "\n"  + message);
	   		WMSIF810E1.fn_search();
	   		cfn_loadingModalClose1(); //loading modal close
		}).fail(function(xhr, textStatus){
			cfn_loadingModalClose1(); //loading modal close
			if(xhr.status == 404){
				location.href=('/index.html');
			}
		});
	}

}



/* 엑셀(전체)다운 */
WMSIF810E1.fn_excelDown = function() {
	cfn_loadingModalOpen1(); //loading modal open
	var grid = spdList1;
	//엑셀시트 보호 해제
	grid.options.isProtected = false;
	pf_ExcelReportExportCallback("$!lang.getText('대화물류탑벨IF거래처')", spdSheet1, function(){
		 cfn_loadingModalClose1(); //loading modal close
	});
	grid.options.isProtected = true;
}

/* 선택된 rowNum array*/
WMSIF810E1.fn_checkedList = function(orGrid){
	var grid = orGrid;
	var selectIds = [];	
	grid.suspendPaint();
	for(var i = 0; i < grid.getRowCount(); i++){
        if(grid.getValue(i, colNameArray.indexOf("SPDCOL_CHK_BOX"))){
        	selectIds.push(i);
        }
    }
	grid.resumePaint();
	return selectIds;
}

//오픈몰 API AUTH 마스터 리스트
WMSIF810E1.fn_getOpenMallApiAuthMaster = function(custId, openMallCd){
	var tab = '#'+WMSIF810E1.tab+' ';
	var param			= "vrOpenMallCd="+openMallCd+"&vrCustId="+custId;
	var url				= "/WMSIF701/getOpenMallApiAuthMaster.action";
	jQuery.post(url, param, function(data){
		var data = data.DS_APIAUTH;
		var cnt  = data.size();
		spdList1.deleteRows(0, spdList1.getRowCount());
		jQuery(tab+'form[name="frm_list"] select[name="vrSrchSendCompanyId"] option' ).remove();
		if(cnt > 0){
			for (var i = 0; i < cnt; i++){
				jQuery(tab+'form[name="frm_list"] select[name="vrSrchSendCompanyId"]').append("<option value='"+data[i].CODE+"' selected>"+data[i].NAME+"</option>"); //jQuery('#vrSrchSendCompanyId').append("<option value='"+data[i].CODE.split("||")[0]+"'>"+data[i].NAME+"</option>");
				if(cnt == 1){ 
				}
			}
		}else{
			//오픈몰 권한 
			jQuery(tab+'form[name="frm_list"] select[name="vrSrchSendCompanyId"]').append("<option value=''>API권한없음</option>");
			
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

</script>