<div class="pageBtnGroup">
	<div class="patternWrap" style = 'min-width:500px;'>
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    	</div>
		</div>
	</div>	
</div>


<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="120px"/> 
				<col width="20%"/>
				<col width="80px"/>
				<col width="25%"/>
				<col width="100px"/>
				<col width="25%"/>
				<col width="50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<td></td>
					<th></th>
					<td></td>
					<th></th>
					<th class="btnSearch" rowspan="7">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
					</th>
				</tr>
			</tbody>
		</table>
	</form>
	<table border='0'>
		<colgroup>
			<col width = "50%"/>
			<col width = "50%"/>
		</colgroup>
		<tr>
			<td><input type = "text" style="width:100%; background-color:#D5D5D5;" class = "text" value="▶ 안내사항" 		readonly="readonly"></td>
			<td><input type = "text" style="width:100%; background-color:#D5D5D5;" class = "text" value="▶ 상세설명" 		readonly="readonly"></td>
		</tr>
		<tr style="vertical-align:top;">
			<td rowspan="3">
				<div name = "INFO_MAIN_CELL_01" id = "INFO_MAIN_CELL_01" style="background-color:#FFFFFF;"></div>
			</td>
			<td>
				<div name = "INFO_MAIN_CELL_02" id = "INFO_MAIN_CELL_02" style="background-color:#FFFFFF;"></div>
			</td>
		</tr>
	</table>
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<div id = "BfFormData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
    <div class = "btnArea" style ="margin-bottom:-45px;">
    	<div class="btnAreaLeft" style="width:50%">
	    </div>
    	<div class = "btnAreaRight" id="btnArea">
			<input type = "button" class = "UPD_AUTH btnUpdate" id = "btnSabangnetOrdIn"	name = "btnSabangnetOrdIn"	value = "$!lang.getText('신규')"		onClick = "fn_add();"		role = "button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" id = "btnDelete"			name = "btnDelete"			value = "$!lang.getText('저장')"		onClick = "fn_crud('CU');"		role = "button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" id = "btnDelete"			name = "btnDelete"			value = "$!lang.getText('삭제')"		onClick = "fn_crud('DE');"		role = "button" aria-disabled="false"/>
    	</div>
    </div>
</div>

	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList" style="height:560px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none"></div>
	
<div id="dataTable"></div>

<form name="frm_eai" style = "visibility : hidden ; width : 0 ; height : 0">
</form>

<script type="text/javascript">
	jQuery("input:button").button();
	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>