#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/SpreadJS12/moment-with-locales.min.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');
</script>

<script type="text/javascript">
var PUBLIC_SPD_HEIGHT_TITLE = "25";
var PUBLIC_SPD_HEIGHT = "25";
var DFC_LINE = '#D4D4D4';
var BKC_FRC = "#FFFBF7";
var BKC_DEF = "#FFFBF7";

var defaultStyle = new GC.Spread.Sheets.Style();
defaultStyle.font = "11pt 맑은 고딕";
defaultStyle.hAlign = GC.Spread.Sheets.HorizontalAlign.center;

// SHEET 옵션 셋팅
function ps_setSpreadSheet_ctInit(pobjSheet, blnTabsNameView) {
	
	//SHEET 속성
    pobjSheet.options.allowContextMenu     = true; 
    pobjSheet.options.allowSheetReorder    = false;
    pobjSheet.options.allowUserDragFill    = false;
    pobjSheet.options.allowUserDragDrop    = false;
    pobjSheet.options.allowUserZoom        = false;
    pobjSheet.options.canUserDragDrop      = false;
    pobjSheet.options.canUserDragFill      = false;
    pobjSheet.options.newTabVisible        = false;
    pobjSheet.options.scrollbarMaxAlign    = true;
    pobjSheet.options.scrollbarShowMax     = true;
    pobjSheet.options.tabEditable          = false;
    pobjSheet.options.tabNavigationVisible = false;
    pobjSheet.options.tabStripVisible      = blnTabsNameView;
	pobjSheet.options.isProtected = false;

    // DEL키 입력방지
    pobjSheet.commandManager().register('mydelete',function(spread1){
    	pobjSheet.suspendEvent();
    	pobjSheet.resumeEvent();
	});
    pobjSheet.commandManager().setShortcutKey(null,GC.Spread.Commands.Key.del, false, false, false, false);
    pobjSheet.commandManager().setShortcutKey('mydelete',GC.Spread.Commands.Key.del, false, false, false, false);
}

// SHEET 옵션 셋팅
function ps_setSpreadList_ctInit(pobjspdList, plngTitleRowCnt, plngTitleColCnt, plngFirstShowRowCnt, plngFrozenColumn) {
	pobjspdList.options.selectionBorderColor = 'Accent 7';
	pobjspdList.options.selectionBackColor = 'transparent'; // 'transparent';
	
	// pobjspdList.selectionUnit(GC.Spread.Sheets.SelectionUnit.row); // row 단위 선택
	// pobjspdList.selectionPolicy(GC.Spread.Sheets.SelectionPolicy.single);

	pobjspdList.suspendPaint();
    
    pobjspdList.setRowCount(plngTitleRowCnt, GC.Spread.Sheets.SheetArea.colHeader); //pobjspdList 타이틀 행수
    pobjspdList.setColumnCount(plngTitleColCnt, GC.Spread.Sheets.SheetArea.viewport); //pobjspdList 타이틀 컬럼수
    pobjspdList.setRowCount(plngFirstShowRowCnt, GC.Spread.Sheets.SheetArea.viewport); //pobjspdList 최초 보이는 행수

    pobjspdList.options.isProtected = false;
    pobjspdList.options.protectionOptions.allowResizeRows  = false; //pobjspdList 행,컬럼 사이즈 사용자 변경
    pobjspdList.options.protectionOptions.allowResizeColumns  = true;
    pobjspdList.options.allowCellOverflow  = false;
    pobjspdList.options.protectionOptions.allowFilter = true;
	pobjspdList.options.protectionOptions.allowSort = true;

	if (plngFrozenColumn != null){pobjspdList.frozenColumnCount(plngFrozenColumn+1);};
    pobjspdList.defaults.colHeaderRowHeight = PUBLIC_SPD_HEIGHT_TITLE; //기본높이
    pobjspdList.defaults.rowHeight = PUBLIC_SPD_HEIGHT;
    pobjspdList.resumePaint();

	pobjspdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.viewport);
	pobjspdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.colHeader);
	pobjspdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.rowHeader);

}

// 필터 적용
function ps_setFilter(pobjspdList, stRow, stCol, edRow, edCol){
	pobjspdList.rowFilter(new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(stRow, stCol, edRow, edCol)));
}

/* Document Ready */
jQuery(document).ready(function(){

    jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		
    
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	// 초기 탭 active 0번째
	jQuery('#tab1').tabs({active:0});

    var inputDt = "form[name='frm_listE01'] #vrSrchReqDtTo1, form[name='frm_listE01'] #vrSrchReqDtFrom1,"
				+ "form[name='frm_listE02'] #vrSrchReqDtTo2, form[name='frm_listE02'] #vrSrchReqDtFrom2,"
				+ "form[name='frm_listE03'] #vrSrchReqDtTo3, form[name='frm_listE03'] #vrSrchReqDtFrom3,"
				+ "form[name='frm_listE04'] #vrSrchReqDtTo4, form[name='frm_listE04'] #vrSrchReqDtFrom4";

    // datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery(inputDt).datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	});	

    // 날짜 셋팅	
	jQuery("#vrSrchReqDtFrom1").datepicker('setDate','-7D');
	jQuery("#vrSrchReqDtTo1").datepicker('setDate','today');

	jQuery("#vrSrchReqDtFrom2").datepicker('setDate','-7D');
	jQuery("#vrSrchReqDtTo2").datepicker('setDate','today');

	jQuery("#vrSrchReqDtFrom3").datepicker('setDate','-7D');
	jQuery("#vrSrchReqDtTo3").datepicker('setDate','today');

	jQuery("#vrSrchReqDtFrom4").datepicker('setDate','-7D');
	jQuery("#vrSrchReqDtTo4").datepicker('setDate','today');
	
	// button
	jQuery("input:button").button();

    /* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* 입고 내역 조회 */
	ps_setSpreadColumnIndexE01();

	/* 출고 내역 조회 */
	jQuery('#ui-id-2').one('click', function(){ // 탭 클릭시 최초 1번 생성
		ps_setSpreadColumnIndexE02();
	});

	jQuery('#ui-id-3').one('click', function(){ // 탭 클릭시 최초 1번 생성
		ps_setSpreadColumnIndexE03();
	});

	jQuery('#ui-id-4').one('click', function(){ // 탭 클릭시 최초 1번 생성
		ps_setSpreadColumnIndexE04();
	});
	
	fn_getDate(); // local system 날짜 계산

	gfn_forceEventResize();
});

//local system 날짜 계산
function fn_getDate() {
	var localDate = new Date();
	var year = LPAD((localDate.getFullYear()).toString(),'0',2);
	var month = LPAD((localDate.getMonth()+1).toString(),'0',2);
	var date = LPAD((localDate.getDate()).toString(),'0',2);       
	var hour = LPAD((localDate.getHours()).toString(),'0',2);
	var min = LPAD((localDate.getMinutes()).toString(),'0',2);
	var sec = LPAD((localDate.getSeconds()).toString(),'0',2);
	var dataVal = year + "/" + month + "/" + date + " " + hour + ":" + min + ":" + sec;
	jQuery('form[name="frm_list"] input[name="localDate"]').val(dataVal);
	jQuery('form[name="frm_list2"] input[name="localDate"]').val(dataVal);
}

//왼쪽에서부터 채운다는 의미
function LPAD(s, c, n) {    
    if (! s || ! c || s.length >= n) {
        return s;
    }
    var max = (n - s.length)/c.length;
    for (var i = 0; i < max; i++) {
        s = c + s;
    }
    return s;
}

/* 검색 */
function fn_search(type){

	var vrSrchReqDtTo     = jQuery('form[name="frm_list'+ type +'"] input[name="vrSrchReqDtTo"]').val().replaceAll('-','');
	var vrSrchReqDtFrom   = jQuery('form[name="frm_list'+ type +'"] input[name="vrSrchReqDtFrom"]').val().replaceAll('-','');
	var vrSrchOrdId       = jQuery('form[name="frm_list'+ type +'"] input[name="vrSrchOrdId"]').val();
	var vrSrchOrgOrdId    = jQuery('form[name="frm_list'+ type +'"] input[name="vrSrchOrgOrdId"]').val();
	var url = "/WMSIF402/list"+ type +".action?vrSrchReqDtFrom="+vrSrchReqDtFrom+"&vrSrchReqDtTo="+vrSrchReqDtTo+"&vrSrchOrdId="+vrSrchOrdId+"&vrSrchOrgOrdId="+vrSrchOrgOrdId;

	jQuery.ajax({
		url : url,
		type : 'GET',
		contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType : 'html',
		error : function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')" + "($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success : function(data) {
			switch(type){
				case 'E01': 
					setDataE01(data); 
					break
				case 'E02': 
					setDataE02(data); 
					break
				case 'E03': 
					setDataE03(data); 
					break
				case 'E04': 
					setDataE04(data); 
					break
			}
		},
		beforeSend : function() {
			cfn_loadingModalOpen1();
		},
		complete : function() {
			cfn_loadingModalClose1();
		}
	});
}

// 데이터 clear
function clearData(pobjspdList){
	pobjspdList.deleteRows(0, pobjspdList.getRowCount());
	pobjspdList.resumePaint();
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("입고 내역")</a></li>
			<li><a href = "#tabs-2">$!lang.getText("출고 내역")</a></li>
			<li><a href = "#tabs-3">$!lang.getText("입고 실적 내역")</a></li>
			<li><a href = "#tabs-4">$!lang.getText("출고 실적 내역")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsif/WMSIF402E1.vm")
    </div>
    <div id = "tabs-2">
        #parse("winus/wmsif/WMSIF402E2.vm")
    </div>
	<div id = "tabs-3">
        #parse("winus/wmsif/WMSIF402E3.vm")
    </div>
    <div id = "tabs-4">
        #parse("winus/wmsif/WMSIF402E4.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")