<div class="patternWrap">
	<div class="row">
	</div>
	<div>
		<a id="aTagLabel" style="font-size:15px;"></a>
		<br>
		<a onClick="fn_getStatusPop()" style="cursor:pointer;font-size:13px;color:blue;">$!lang.getText("(Open new window)")</a>
	</div>
	<div class="btnArea" style="padding:0px 0px 50px 0px; text-align:left;">
	    <div class="btnAreaLeft">
	    	<input type = "button"	name = "btnDlvShipment2" 	value = "$!lang.getText('STOCK_EXCEL_UPLOAD')"	style="height:70px;"onClick = "fn_dlvUpload();"		role="button" aria-disabled="false" class='EXC_AUTH btnEtc'/>
			<input type = "button"	name = "btnDlvShipment1" 	value = "$!lang.getText('INBOUND_EXCEL_UPLOAD')"	style="height:70px;"onClick = "fn_InBoundUpload();"		role="button" aria-disabled="false" class='EXC_AUTH btnExcel'/>
			<input type = "button"	name = "btnDlvShipment3" 	value = "$!lang.getText('OUTBOUND_EXCEL_UPLOAD')"	style="height:70px;"onClick = "fn_OutBoundUpload();"		role="button" aria-disabled="false" class='EXC_AUTH btnEtc'/>
	    </div>
	</div>
</div>