#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<head>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-99038181-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="/js/SpreadJS12/WinusCode.js"></script>
    <script defer type="module" src="/js/wmsif/WMSIF903.js"></script>
    <script defer type="text/javascript" src="/js/utility/commonUtil.js"></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/css/assets/css/plugins/select2/select2.min.css"/>
    <script type="text/javascript" src="/css/assets/js/select2/select2.min.js"></script>

    <script>
        var DICTIONARY = {};

        DICTIONARY = {... DICTIONARY
                            , ...{ 'ss_lang_type' 	: "$!ss_lang_type" }
                            , ...{ 'ss_lang' 		: "$!ss_lang" }
                            , ...{ 'ss_svc_no' 		: "$!ss_svc_no" }
                            , ...{ 'list.nodata' 	: "$!lang.getText('list.nodata')" }
                            , ...{ 'confirm_save' 	: "$!lang.getText('저장하시겠습니까')" }
                            , ...{ 'save_success' 	: "$!lang.getText('save.success')" }
                            , ...{ 'delete.confirm' : "$!lang.getText('delete.confirm')" }
                    } ;
    </script>
</head>
<body>
    <div id="tab1">
        <div class="tabHistoryWrap">
            <ul>
                <li><a href="#tabs-1">$!lang.getText("주문관리")</a></li>
                <li><a href="#tabs-2">$!lang.getText("송장관리")</a></li>
            </ul>
            <h2 class="first" id="fullpath_screen"></h2>
        </div>
        <div id="tabs-1">
            #parse("winus/wmsif/WMSIF903E1.vm")
        </div>
        <div id="tabs-2">
            #parse("winus/wmsif/WMSIF903E2.vm")
        </div>
    </div>
</body>

<!-- PopUp Area -->

<!-- 정보수집 팝업 -->
<div id="wmsif903pop">
	#parse("winus/wmsif/WMSIF903pop.vm")
</div>
#parse("winus/common/footer.vm")