<script>
	var DICTIONARY = {};

	DICTIONARY = {
			... DICTIONARY
			, ...{ 'ss_lang_type' 	: "$!ss_lang_type" }
			, ...{ 'ss_lang' 		: "$!ss_lang" }
			, ...{ 'list.nodata' 	: "$!lang.getText('list.nodata')" }
			, ...{ 'confirm_save' 	: "$!lang.getText('저장하시겠습니까')" }
			, ...{ 'save_success' 	: "$!lang.getText('save.success')" }
			, ...{ 'delete.confirm' : "$!lang.getText('delete.confirm')" }
	} ;
</script>

<div class="patternWrap">
	<form id="frm_listE3" name="frm_listE3">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "110px"/>
				<col width = "15%"/>
				<col width = "110px"/>
				<col width = "15%"/>
				<col width = "110px"/>
				<col width = "15%"/>
				<col width = "110px"/>
				<col width = "15%"/>
				
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
                <th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCdE3" id="vrSrchCustCdE3"> 
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch" id ='vrSrchCustImgE3'/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNmE3" id="vrSrchCustNmE3"> 
						<input type="hidden" name="vrSrchCustIdE3" id="vrSrchCustIdE3">
					</td>

					<th class="thBar">$!lang.getText('주문예정차수<br>(출고예정일별)')</th>
					<td>
						<input type = "text" class = "DatePicker text" style="width:42%" name="vrSrchOrdDegreeDateE3" id="vrSrchOrdDegreeDateE3" maxlength="10" ">
						<select id="vrSrchOrdDegreeE3" name="vrSrchOrdDegreeE3" class="selectbox" style="width:49%"></select>
					</td>

					<th class="thBar">$!lang.getText('물류 차수')</th>
					<td>
						<select id="devOrdDegreeE3" name="devOrdDegreeE3" style="width:50%;"></select>
					</td>

                    <th></th>
                    <td></td>

					<td class="btnSearch" rowspan="8">
						<input type="button" id="btnSrchE3" name="btnSrchE3" value="$!lang.getText('')" title="검색" role="button" aria-disabled="false" class="ui-button ui-widget ui-state-default ui-corner-all">
					</td>
				</tr>

            </tbody>
        </table>
	</form>

	<div class = "btnArea" style ="margin-bottom:-45px;">
		<div class="btnAreaLeft" style="width:50%">
			<div style="display:inline-flex;">
				<div style="width: 130px;">
					<span>합포 주문: </span><span id="ordCntE3"></span>
				</div>				
				<div style="width: 130px;">
					<span>접수 송장: </span><span id="totalInvoCntE3"></span>
				</div>
				<div style="width: 130px; color: blue;">
					<span>추가 송장: </span><span id="addInvoCntE3"></span>
				</div>
			</div>
		</div>
		
		<div class = "btnAreaRight" id="btnArea">
            <input type="button" value="$!lang.getText('송장접수')" class="INS_AUTH UPD_AUTH btnEtc" 	id="btn_sendE3"		name="btn_sendE3" 		role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" 	class="EXC_AUTH btnExcel"			id="btn_writeE3"	name="btn_writeE3" 		role="button" aria-disabled="false"/>
		</div>		
	</div>
</div>

<div style="padding-top:50px;">
	<div id="spdListE3" style="height:600px; border:1px solid #b0b0b0;"></div>
</div>
