<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 46.7%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" onChange="fn_takeDegree()">
					</td>
					<th class="thBar"> 차수 전송 여부</th>
					<td>
						<select id="vrSendYNAll" name="vrSendYNAll" class="selectbox">
							<option value="Y">전송</option>
							<option value="N">미전송</option>
						</select>
					</td>
					<th class="thBar" >차수 생성일자</th>
					<td >
						<input type = "date" class = "text" name = "vrDegreeDt" id = "vrDegreeDt" maxlength="10" onkeydown="cfn_setDateFld(vrDegreeDt)"/>
					</td>
					<th class="thBar">차수</th>
					<td>
						<input type = "text" class = "text" name="vrDegree" id="vrDegree">
					</td>
					<th class="btnSearch" rowspan="2">
						<input type="button" name="btnSrch" value="$!lang.getText('')" onClick="fn_search();" title="검색" role="button" aria-disabled="false" />	
					</th>
				</tr>
                <tr>
					<th class="thBar">주문번호</th>
					<td>
						<input type = "text" class = "text" name="vrOrdId" id="vrOrdId">
					</td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
				</tr>
            </tbody>
        </table>
	    <div class = "btnArea" style ="margin-bottom:-45px;">
	    	<div class = "btnAreaRight" id="btnArea">
	    		<!--
			 	<input type	= "button" class = "EXC_AUTH btnExcel" 	name = "btn_write"   value = "엑셀"    onclick = "fn_excelDown();"	role = "button" aria-disabled="false"/>
	    		-->
	    	</div>
	    </div>
	</form>
	
	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList" style="height:740px; border:1px solid #b0b0b0;"></div>
	</div>
</div>
