<style>
    .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; z-index: 10000 !important  }
    .content { width: 100%; display: inline-flex; flex-direction: row; justify-content: space-around; margin-bottom:5px; padding:3px}
    .col-1  { width: 80px; font-weight: bold;}
    .col-2  { width: 5px; }
    .col-3  { width: 210px;}
</style>

<div style="background-color: white; width: 360px; height: 150px; border-radius: 8px; vertical-align: middle; text-align: center;">
    <div class="button b-close" id="loadingModal_close" style="float:right; margin: 0.3em; width:2.4em; font-weight : bold; cursor: pointer;" >X</div>
        <div style="font-size: 16px; font-weight: bold; height: 20px; padding: 5px;">Winus 주문등록</div>
        <form id='form707E1_3' name='modalSearch'>
            <div class="content">
                <span class="col-1">$!lang.getText('출고예정일')</span>	
                <div class="col-2">:</div>
                <div class="col-3">
                    <input type = "text" class = "DatePicker text" style="width:calc(100% - 25px); max-width:180px;" name="vrOrdOutDt" id="vrOrdOutDt" maxlength="10" onkeydown="cfn_setDateFld(vrOrdOutDt)" onChange="cfn_onChangeDateFld(vrOrdOutDt)"> 
                </div>
            </div>

            <div class="content">
                <span class="col-1">$!lang.getText('주문예정차수')</span>	
                <div class="col-2">:</div>
                <div class="col-3">
                    <select id="vrPopOrdDegree" name="vrPopOrdDegree" class="selectbox" style="width:100%; max-width:205px;"></select>
                </div>
            </div>
        
            <div style="width: 100%; display:inline-block; margin-top:15px;">
                <input type="button" class="SER_AUTH ui-button ui-widget ui-state-default ui-corner-all" id="btnSave"	name="btnSave" value = "$!lang.getText('등록')" role="button" aria-disabled="false"/>
            </div>
        </form>
    </div>
</div>