<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					<th></th>
					<td></td>
					
					<td></td>
					<th class="btnSearch" rowspan="1">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
            </tbody>
        </table>
		<div id = "formDataE6" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	<table border='0'>
			<colgroup>
				<col width = "50%"/>
				<col width = "50%"/>
			</colgroup>
			<tr>
				<td><input type = "text" style="width:100%; background-color:#D5D5D5;" class = "text" value="▶ 안내사항" 		readonly="readonly"></td>
				<td><input type = "text" style="width:100%; background-color:#D5D5D5;" class = "text" value="▶ 조건처리 상세설명" 		readonly="readonly"></td>
			</tr>
			<tr style="vertical-align:top;">
				<td rowspan="3">
					<div name = "INFO_MAIN_CELL_01" id = "INFO_MAIN_CELL_01" style="background-color:#FFFFFF;"></div>
				</td>
				<td>
					<div name = "INFO_MAIN_CELL_02" id = "INFO_MAIN_CELL_02" style="background-color:#FFFFFF;"></div>
				</td>
			</tr>
		</table>
<!-- 	<div class="btnArea"> -->
<!-- 	    <div class="btnAreaRight"> -->
	    	<!-- <input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('test')"		onClick="fn_test();"	role="button" aria-disabled="false"/> -->  
<!-- 	    </div> -->
<!-- 	</div> -->
	
	<div id="divPanel_SpdList">
		<div id="spdList" style="height:600px; border:1px solid #b0b0b0;"></div>
	</div>
	
	<form name="frm_eai" style = "visibility : hidden ; width : 0 ; height : 0">
	</form>
</div>
