<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" id='vrSrchCustImg'/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('오픈몰계정')</th>
					<td>
						<select id="vrSrchSendCompanyId" name="vrSrchSendCompanyId" style="width:96%;">
						</select>
					</td>
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('배송처')</th>
					<td>
						<select id="vrSrchSendDepots" name="vrSrchSendDepots" style="width:96%;">
						</select>
					</td>
					
					<td></td>
					<th class="btnSearch" rowspan="1">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="mainSearchcrossChkCnt();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
            </tbody>
        </table>
		<div id = "formDataE6" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<input type='hidden' name ='dateFrom0' id='dateFrom0'>
		<input type='hidden' name ='dateTo0' id='dateTo0'>
		<input type='hidden' name ='dateFrom1' id='dateFrom1'>
		<input type='hidden' name ='dateTo1' id='dateTo1'>
		<input type='hidden' name ='dateFrom2' id='dateFrom2'>
		<input type='hidden' name ='dateTo2' id='dateTo2'>
	</form>

	<div class="btnArea">
	    <div class="btnAreaRight">
	    	<!-- <input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('test')"		onClick="fn_test();"	role="button" aria-disabled="false"/> -->  
	    </div>
	</div>
	
	<div id="divPanel_SpdList" style="padding-top:40px;">
		<div id="spdList" style="height:600px; border:1px solid #b0b0b0;"></div>
	</div>
	
	<div id='spdDatePannel' style='position:absolute; left:-1000px; top:-10000px; background-color: #FFFFFF; z-index: 1001; border: groove'></div>
	<input type='hidden' id='spdRow'>
	<input type='hidden' id='spdCol'>
	<input type='hidden' id='selectCurRow'>
	
	<form name="frm_eai" style = "visibility : hidden ; width : 0 ; height : 0">
	</form>
</div>
